#confirmation-modal.ui.modal
  %i.close.icon
  .header
    Approval Confirmation
  .image.content
    .description
      .ui.header You are about to confirm a membership payment
      %p Are you sure you want to approve this transaction?
  .actions
    #btn-confirm-approval.ui.green.button.btn.btn-success
      .fa.fa-check
      Approve
    .ui.black.deny.button.btn.btn-danger
      Cancel
