%table.table.table-bordered.table-responsive
  %tr
    %th
      %label OR Number
      %input{ type: "text", placeholder: "OR Number", id: "filter-or-number", value: "#{@or_number}", class: "form-control" }
    %th
      %label Start Date
      %input{ type: "text", class: "datepick form-control", placeholder: "Start Date", id: "filter-start-date", value: "#{@start_date}" }
    %th
      %label End Date
      %input{ type: "text", class: "datepick form-control", placeholder: "End Date", id: "filter-end-date", value: "#{@end_date}" }
    %th
      %label Status
      = select_tag :status, options_for_select(PaymentCollection::STATUSES, @status), id: "filter-status", prompt: "-- ALL --", class: "form-control"
    %th
      %label Actions
      %br
      %button#btn-filter.btn.btn-primary
        .fa.fa-search
        Search
