= render partial: "add_member_actions", locals: { payment_collection: @payment_collection }
= simple_form_for [:membership_payments, payment_collection], defaults: { wrapper_html: { class: 'form-group' }, input_html: { class: 'form-control' } }, html: { novalidate: true } do |f|
  .row
    .col-md-6
      = f.input :or_number, label: "OR Number", as: :string
    .col-md-6
      = f.input :paid_at
  %table.ui.green.table.transaction-table
    %thead
      %tr
        %th{width: "20%"} Member
        %th ID Payment
        - @membership_types.each do |membership_type|
          %th #{membership_type.name}
        - @equity_types.each do |equity_type|
          %th #{equity_type.code}
        %th Amt
        %th Actions
    %tbody
      = f.simple_fields_for :payment_collection_records, f.object.payment_collection_records.joins(:member).order("members.last_name ASC") do |ff|
        %tr
          %td #{link_to ff.object.member.full_name, member_path(ff.object.member), target: "_blank"}

          %td
            = ff.simple_fields_for :collection_transactions do |fff|
              - if fff.object.account_type == "ID_PAYMENT" and fff.object.account_type_code == "ID_PAYMENT"
                = fff.input :amount, label: false, input_html: { class: "form-control id-payment numeric cp-amount", data: { member_id: "#{ff.object.member.id}"} }

          - @membership_types.each do |membership_type|
            %td
              = ff.simple_fields_for :collection_transactions do |fff|
                - if fff.object.account_type == "MEMBERSHIP_PAYMENT" and fff.object.account_type_code == "#{membership_type.name}"
                  = fff.input :amount, label: false, input_html: { disabled: false, class: "form-control membership-payment numeric cp-amount", data: { membership_type_name: "#{membership_type.name}", member_id: "#{ff.object.member.id}" } }
          
          - @insurance_types.each do |insurance_type|
            %td
              = ff.simple_fields_for :collection_transactions do |fff|
                - if fff.object.account_type == "INSURANCE" and fff.object.account_type_code == insurance_type.code
                  = fff.input :amount, label: false, input_html: { class: "form-control numeric insurance-deposit cp-amount", data: { member_id: "#{ff.object.member.id}", account_code: "#{insurance_type.code}" } }

          
          
          
          
          - @equity_types.each do |equity_type|
            %td
              = ff.simple_fields_for :collection_transactions do |fff|
                - if fff.object.account_type == "EQUITY" and fff.object.account_type_code == equity_type.code
                  = fff.input :amount, label: false, input_html: { class: "form-control numeric equity-deposit cp-amount", data: { member_id: "#{ff.object.member.id}", account_code: "#{equity_type.code}" } }
          %td
            %input{type: "text", class: "form-control numeric total-member-amount", disabled: true, value: 0.00, data: { member_id: "#{ff.object.member.id}" }}
          %td
            = link_to "#", class: "ui small red button btn-delete btn btn-danger btn-xs", data: { payment_collection_record_id: ff.object.id } do
              .fa.fa-times
              Delete
      %thead
        %tr
          %th{width: "20%"} Total
          %th
            %input{type: "text", class: "form-control numeric total-id-payments", disabled: true, value: 0.00, data: { } }
          - @membership_types.each do |membership_type|
            %th
              %input{type: "text", class: "form-control numeric total-membership-payments", disabled: true, value: 0.00, data: {membership_type_name: "#{membership_type.name}"}}
       
          - @insurance_types.each do |insurance_type|
            %th
              %input{type: "text", class: "form-control numeric total-insurance", disabled: true, value: 0.00, data: { insurance_type_code: "#{insurance_type.code}"}}


          - @equity_types.each do |equity_type|
            %th
              %input{type: "text", class: "form-control numeric total-equity", disabled: true, value: 0.00, data: { equity_type_code: "#{equity_type.code}" }}
          %th
            %input{type: "text", class: "form-control numeric grand-total", disabled: true, value: 0.00}
          %th

  = f.input :particular
  %hr
  .form-actions
    = button_tag(type: "submit", class: "ui primary button btn btn-primary") do
      .fa.fa-check
      Save
    = link_to membership_payments_payment_collection_path(@payment_collection), class: "ui default button btn btn-default" do
      .fa.fa-times
      Cancel

#parameters{data: { payment_collection_id: payment_collection.id, membership_types: @membership_types.pluck(:name), savings_types: @savings_types.pluck(:code), insurance_types: @insurance_types.pluck(:code), equity_types: @equity_types.pluck(:code) }}
= javascript_include_tag "MembershipPaymentsPaymentCollectionForm"
