.remodal.modal-generate-membership-payment-collection.selext{ data: { remodal_id: "modal" } }
  %h3
    Generate New Membership Payment Transaction
  .errors
  .success
  .controls
    .row
      .col-md-6
        %label
          Branch
        = select_tag :branch_id, options_for_select(@branches.collect{ |o| [o.name, o.id] }), id: "modal-branch-select", class: "select-select2 selecting-cont"
      .col-md-6
        %label
          Date of Payment
        %input{ type: "text", id: "date-of-payment", class: "form-control datepick", value: Time.now.strftime("%Y-%m-%d") }

    %hr
    %button#btn-generate-billing.ui.primary.button.btn.btn-primary
      .fa.fa-warning
      Confirm
    %button#btn-cancel-generate-billing.ui.default.button.btn.btn-danger
      .fa.fa-times
      Cancel
