%table.payments.table-bordered.table.table-responsive{:style => "margin-top: 10px;"}
  %tbody
    %tr
      %th OR #
      %th Paid at
      %th.accounting-curr Total Amount
      %th Status
    - @payment_collections.each do |pc|
      %tr.clickable{ data: { transaction_id: "#{pc.id}"} }
        %td 
          - if pc.or_number.include?("CHANGE-ME")
          - else
            #{pc.or_number}
        %td #{pc.paid_at.strftime("%B %d, %Y")}
        %td.curr #{number_to_currency(pc.total_amount, unit: "P")}
        %td #{pc.status}
