%table.table.table-bordered.table-responsive.payments
  %thead
    %tr
      %th{width: "20%"} Member
      %th.accounting-curr ID Payment
      - @membership_types.each do |membership_type|
        %th.accounting-curr #{membership_type.name}
      - @savings_types.each do |savings_type|
        %th.accounting-curr #{savings_type.code}
      - @insurance_types.each do |insurance_type|
        %th.accounting-curr #{insurance_type.code}
      - @equity_types.each do |equity_type|
        %th.accounting-curr #{equity_type.code}
      %th.accounting-curr Amt Rec
  %tbody
    - payment_collection.payment_collection_records.joins(:member).order("members.last_name ASC").each do |payment_collection_record|
      %tr
        %td
          = link_to "#{payment_collection_record.member.full_name}", member_path(payment_collection_record.member), target: "_blank"
        %td.curr
          - payment_collection_record.collection_transactions.where(account_type: "ID_PAYMENT").each do |collection_transaction|
            - if collection_transaction.account_type == "ID_PAYMENT"
              #{number_to_currency(collection_transaction.amount, unit: "")}
        - @membership_types.each do |membership_type|
          %td.curr
            - payment_collection_record.collection_transactions.where(account_type: "MEMBERSHIP_PAYMENT").each do |collection_transaction|
              - if collection_transaction.account_type == "MEMBERSHIP_PAYMENT" and collection_transaction.account_type_code == membership_type.name
                #{number_to_currency(collection_transaction.amount, unit: "")}
        - @savings_types.each do |savings_type|
          %td.curr
            - payment_collection_record.collection_transactions.where(account_type: "SAVINGS").each do |collection_transaction|
              - if collection_transaction.account_type == "SAVINGS" and collection_transaction.account_type_code == savings_type.code
                #{number_to_currency(collection_transaction.amount, unit: "")}
        - @insurance_types.each do |insurance_type|
          %td.curr
            - payment_collection_record.collection_transactions.where(account_type: "INSURANCE").each do |collection_transaction|
              - if collection_transaction.account_type == "INSURANCE" and collection_transaction.account_type_code == insurance_type.code
                #{number_to_currency(collection_transaction.amount, unit: "")} 

        - @equity_types.each do |equity_type|
          %td.curr
            - payment_collection_record.collection_transactions.where(account_type: "EQUITY").each do |collection_transaction|
              - if collection_transaction.account_type == "EQUITY" and collection_transaction.account_type_code == equity_type.code
                #{number_to_currency(collection_transaction.amount, unit: "")}
        %td.curr
          #{number_to_currency(payment_collection_record.total_cp_amount, unit: "")}
  %thead
    %tr
      %th{width: "20%"} Total
      %th.curr #{number_to_currency(CollectionTransaction.where(payment_collection_record_id: payment_collection.payment_collection_records.pluck(:id), account_type: "ID_PAYMENT").sum(:amount), unit: "")}
      - @membership_types.each do |membership_type|
        %th.curr #{number_to_currency(CollectionTransaction.where(payment_collection_record_id: payment_collection.payment_collection_records.pluck(:id), account_type: "MEMBERSHIP_PAYMENT", account_type_code: membership_type.name).sum(:amount), unit: "")}
      
      - @savings_types.each do |savings_type|
        %th.curr #{number_to_currency(CollectionTransaction.where(payment_collection_record_id: payment_collection.payment_collection_records.pluck(:id), account_type: "SAVINGS", account_type_code: savings_type.code).sum(:amount), unit: "")}

      - @insurance_types.each do |insurance_type|
        %th.curr #{number_to_currency(CollectionTransaction.where(payment_collection_record_id: payment_collection.payment_collection_records.pluck(:id), account_type: "INSURANCE", account_type_code: insurance_type.code).sum(:amount), unit: "")}

      - @equity_types.each do |equity_type|
        %th.curr #{number_to_currency(CollectionTransaction.where(payment_collection_record_id: payment_collection.payment_collection_records.pluck(:id), account_type: "EQUITY", account_type_code: equity_type.code).sum(:amount), unit: "")}
      %th.curr #{number_to_currency(payment_collection.total_amount, unit: "")}
      - if payment_collection.pending?
        %th
