%section.content-header
  %h1
    Membership Payment Form
    %small
      #{@payment_collection.center}
  %ol.breadcrumb
    %li
      #{link_to "Payments", membership_payments_payment_collections_path}
    %li
      #{link_to "Show", membership_payments_payment_collection_path(@payment_collection)}
    %li
      Edit
%section.content
  = render partial: "form", locals: { payment_collection: @payment_collection }
