%section.content-header
  %h1
    Membership Payments
  %ol.breadcrumb
    %li
      = link_to "#", id: "btn-new-transaction", class: 'btn btn-primary bg-blue', style: 'color: #fff;' do
        .fa.fa-plus
        Generate New Payment
%section.content
  .errors
  = render partial: "filter"
  - if @payment_collections.size == 0
    %p
      No payment collections found
  - else
    = render partial: "list", locals: { payment_collections: @payment_collections }
  .pull-right
    = paginate @payment_collections 
= render partial: "generate_billing_modal"
= render partial: "shared/errors_template"
= render partial: "shared/success_template"
= render partial: "shared/loading_modal"
= javascript_include_tag "MembershipPaymentsPaymentCollections"

:javascript
  $(document).ready(function() {
    MembershipPaymentsPaymentCollections.init();
  });
