:css
  .print-text {
    font-size: 1em;
    font-family: calibri;
  }

  .print-text-sub {
    font-size: 1.1em;
    font-family: calibri;
  }

  table.deposit th.header{
    text-align: left;
    font-weight: bold;
  }

%span.print-text
  %center
    %br
    %br
    %p
      %b
        #{Settings.company}
      %br  
      %b
        #{Settings.company_address}
      %br  
      %b
        Membership Payments  
%left
  %br
  %span.print-text-sub
    %p
      %b
        OR No.: #{@payment_collection.or_number.rjust(8, '0')}
  %p
  %table.deposit{"border:" => "", :none => ""}
    %tr
      %th.header{width: 20}
      %th.header{width: 400} Member
      %th.header{width: 120} ID Payment
      - @membership_types.each do |membership_type|
        %th.header{width: 100} #{membership_type.name}
      - @savings_types.each do |savings_type|
        %th.header{width: 100} #{savings_type.code}
      - @insurance_types.each do |insurance_type|
        %th.header{width: 100} #{insurance_type.code}
      - @equity_types.each do |equity_type|
        %th.header{width: 100} #{equity_type.code}
      %th.header{width: 150} Amt Rec
 
    - @payment_collection.payment_collection_records.joins(:member).order("members.last_name ASC").each_with_index do |payment_collection_record, i|
      %tr
        %td #{i + 1}
        %td #{payment_collection_record.member.full_name}
        %td
          - payment_collection_record.collection_transactions.where(account_type: "ID_PAYMENT").each do |collection_transaction|
            - if collection_transaction.account_type == "ID_PAYMENT"
              #{number_to_currency(collection_transaction.amount, unit: "")}
        - @membership_types.each do |membership_type|
          %td
            - payment_collection_record.collection_transactions.where(account_type: "MEMBERSHIP_PAYMENT").each do |collection_transaction|
              - if collection_transaction.account_type == "MEMBERSHIP_PAYMENT" and collection_transaction.account_type_code == membership_type.name
                #{number_to_currency(collection_transaction.amount, unit: "")}
        - @savings_types.each do |savings_type|
          %td
            - payment_collection_record.collection_transactions.where(account_type: "SAVINGS").each do |collection_transaction|
              - if collection_transaction.account_type == "SAVINGS" and collection_transaction.account_type_code == savings_type.code
                #{number_to_currency(collection_transaction.amount, unit: "")}
        - @insurance_types.each do |insurance_type|
          %td
            - payment_collection_record.collection_transactions.where(account_type: "INSURANCE").each do |collection_transaction|
              - if collection_transaction.account_type == "INSURANCE" and collection_transaction.account_type_code == insurance_type.code
                #{number_to_currency(collection_transaction.amount, unit: "")}
        - @equity_types.each do |equity_type|
          %td
            - payment_collection_record.collection_transactions.where(account_type: "EQUITY").each do |collection_transaction|
              - if collection_transaction.account_type == "EQUITY" and collection_transaction.account_type_code == equity_type.code
                #{number_to_currency(collection_transaction.amount, unit: "")}
        %td
          #{number_to_currency(payment_collection_record.total_cp_amount, unit: "")}
    %tr
      %th.header
      %th.header Total
      %th.header #{number_to_currency(CollectionTransaction.where(payment_collection_record_id: @payment_collection.payment_collection_records.pluck(:id), account_type: "ID_PAYMENT").sum(:amount), unit: "")}
      - @membership_types.each do |membership_type|
        %th.header #{number_to_currency(CollectionTransaction.where(payment_collection_record_id: @payment_collection.payment_collection_records.pluck(:id), account_type: "MEMBERSHIP_PAYMENT", account_type_code: membership_type.name).sum(:amount), unit: "")}
      - @savings_types.each do |savings_type|
        %th.header #{number_to_currency(CollectionTransaction.where(payment_collection_record_id: @payment_collection.payment_collection_records.pluck(:id), account_type: "SAVINGS", account_type_code: savings_type.code).sum(:amount), unit: "")}
      - @insurance_types.each do |insurance_type|
        %th.header #{number_to_currency(CollectionTransaction.where(payment_collection_record_id: @payment_collection.payment_collection_records.pluck(:id), account_type: "INSURANCE", account_type_code: insurance_type.code).sum(:amount), unit: "")}
      - @equity_types.each do |equity_type|
        %th.header #{number_to_currency(CollectionTransaction.where(payment_collection_record_id: @payment_collection.payment_collection_records.pluck(:id), account_type: "EQUITY", account_type_code: equity_type.code).sum(:amount), unit: "")}
      %th.header #{number_to_currency(@payment_collection.total_amount, unit: "")}
      - if @payment_collection.pending?
        %th

