.pull-right
  - if @transfer_adjustment.pending?
    = link_to edit_adjustments_transfer_adjustment_path(@transfer_adjustment), class: "btn btn-app" do
      .fa.fa-pencil
      Edit
    = link_to "#", class: "btn btn-app bg-green", id: "approve-btn" do
      .fa.fa-check
      Approve
    = link_to adjustments_transfer_adjustment_path(@transfer_adjustment), method: :delete, class: "btn btn-app bg-red", data: { confirm: "Are you sure?" } do
      .fa.fa-times
      Delete

    #parameters{ data: { id: @transfer_adjustment.id } }
    .remodal.modal-approve.selext{ data: { remodal_id: "modal-approve" } }
      %h3
        Approve Transaction
      %p 
        You are about to approve a transfer adjustment.
        Are you sure you want to approve this transaction?
      .errors
      .message
      #modal-controls.controls
        %hr
          %button#btn-confirm-approval.btn.btn-primary
            .fa.fa-check
            Yes
          %button#btn-cancel-approval.btn.btn-danger
            .fa.fa-times
            No

    = javascript_include_tag "adjustments/Adjustments.ApproveTransferAdjustment"
    :javascript
      $(document).ready(function() {
        Adjustments.ApproveTransferAdjustment.init();
      });
