= simple_nested_form_for [:adjustments, transfer_adjustment], defaults: { wrapper_html: { class: 'form-group' }, input_html: { class: 'form-control' } }, html: { multipart: true, novalidate: true } do |f|
  .row
    .col-md-3
      = f.association :member, as: :select, collection: Member.active.where(branch_id: @branches.pluck(:id)).order("last_name ASC"), :label_method => lambda { |owner| "#{owner.full_name}" }, input_html: { class: "select-select2" }
    .col-md-3
      = f.input :transaction_type, as: :select, collection: TransferAdjustment::TRANSACTION_TYPES
    .col-md-3
      = f.input :amount
    .col-md-3
      = f.input :account_code, as: :select, collection: Settings.account_codes ||= []
  .row
    .col-md-12
      = f.input :particular

  %hr
  #transfer_adjustment_records
    = f.simple_fields_for :transfer_adjustment_records do |transfer_adjustment_record|
      = render 'transfer_adjustment_record_fields', f: transfer_adjustment_record
    = link_to_add_association f, :transfer_adjustment_records, class: 'btn btn-default' do
      .fa.fa-plus
      Add Adjustment Record

  .form-actions
    = button_tag :submit, class: "btn btn-primary" do
      .fa.fa-check
      Save Transaction
    - if f.object.new_record?
      = link_to adjustments_transfer_adjustments_path, class: "btn btn-default" do
        .fa.fa-times
        Cancel
    - else
      = link_to adjustments_transfer_adjustment_path(f.object), class: "btn btn-default" do
        .fa.fa-times
        Cancel
