%table.table.table-bordered
  %thead
    %tr
      %th
        Member
      %th
        Account
      %th{width: "5%"}
      %th.accounting-curr
        Amount
      %th
        Status
      %th
        Actions
  %tbody
    - @transfer_adjustments.each do |transfer_adjustment|
      %tr{class: ""}
        %td
          = link_to member_path(transfer_adjustment.member), target: '_blank' do
            #{transfer_adjustment.member.full_name}
        %td
          #{transfer_adjustment.account_code}
        %td
          %center
            - if transfer_adjustment.add?
              .label.label-success
                .fa.fa-plus
            - else
              .label.label-danger
                .fa.fa-minus
        %td{class: 'curr'}
          #{number_to_currency(transfer_adjustment.amount, unit: "P")}
        %td
          - if transfer_adjustment.pending?
            .label.label-danger
              Pending
          - if transfer_adjustment.approved?
            .label.label-success
              Approved
        %td
          = link_to adjustments_transfer_adjustment_path(transfer_adjustment) do
            .fa.fa-search
            View
