.nested-fields.well
  .row
    .col-md-6
      = f.association :accounting_code, input_html: { class: "select-select2 form-control" }
    .col-md-6
      = f.input :amount
  .form-actions
    = link_to_remove_association f, class: "btn btn-danger" do
      .fa.fa-times
      Remove
