%h2
  Transfer Records
%table.table.table-bordered
  %thead
    %tr
      %th 
        Account Title
      %th.accounting-curr
        Amount
  %tbody
    - transfer_adjustment_records.each do |tar|
      %tr
        %td
          #{tar.accounting_code}
        %td.curr
          #{number_to_currency(tar.amount, unit: "P")}
