.user-block
  = image_tag @transfer_adjustment.member.profile_picture.url(:standard), class: "img-circle img-bordered-sm"
  %span.username
    = link_to member_path(@transfer_adjustment.member), target: '_blank' do
      #{@transfer_adjustment.member.full_name}
  %span.description
    %p
      #{@transfer_adjustment.add? ? "Replenishment" : "Deduction"} of #{number_to_currency(@transfer_adjustment.amount, unit: "P")} to account #{@transfer_adjustment.account_code}
