%section.content-header
  %h1 Edit Transfer Adjustment #{@transfer_adjustment.id}

%section.content   
  = render partial: "adjustments/transfer_adjustments/form", locals: { transfer_adjustment: @transfer_adjustment }
