%section.content-header
  %h1 Transfer Adjustment Records  
  %ol.breadcrumb
    %li{:style => "margin-top: -10px;"}
      = link_to new_adjustments_transfer_adjustment_path, class: 'btn btn-primary bg-blue' do
        .fa.fa-plus
        Add Transfer Adjustment Transaction

%section.content
  - if @transfer_adjustments.size > 0
    = render partial: "adjustments/transfer_adjustments/list", locals: { transfer_adjustments: @transfer_adjustments }
    = paginate(@transfer_adjustments)
  - else
    .row
      %p{:style => "margin-top: 10px;"}
        No records found. #{link_to "Create one.", new_adjustments_transfer_adjustment_path}
