%section.content-header
  %h1
    Transfer Adjustment Record: #{@transfer_adjustment.id}
    %small
      - if @transfer_adjustment.approved?
        .label.label-success
          Approved
      - if @transfer_adjustment.pending?
        .label.label-danger
          Pending
  %ol.breadcrumb
    %li{:style => "margin-top: -10px;"}
      = link_to adjustments_transfer_adjustments_path, class: 'btn btn-default' do
        .fa.fa-arrow-left
        Back to Records

%section.content
  .row
    .col-md-12
      .box.box-primary
        .post
          %div{style: "padding: 10px"}
            .row
              .col-md-6
                = render partial: "user"
              .col-md-6
                = render partial: "actions"
            .row
              .col-md-12
                = render partial: "transfer_adjustment_records", locals: { transfer_adjustment_records: @transfer_adjustment.transfer_adjustment_records }

                %h2
                  Accounting Entry
                = render partial: "shared/voucher", locals: { voucher: @voucher }
