= simple_form_for [survey, survey_respondent], defaults: { wrapper_html: { class: 'form-group' }, input_html: { class: 'form-control form-submit-loading' } }, html: { multipart: true, novalidate: true } do |f|
  .row
    .col-md-8
      = f.association :member, as: :select, collection: members, input_html: { class: 'form-control, select-select2' }
    .col-md-4
      = f.input :date_answered
  = f.simple_fields_for :survey_respondent_answers do |ff|
    .ui.segment
      %h2.text-blue
        = ff.object.survey_question.content
      %hr
        = ff.association :survey_question, as: :hidden
      = ff.association :survey_question_option, as: :radio_buttons, collection: SurveyQuestionOption.where(survey_question_id: ff.object.survey_question.id), value_method: :id, input_html: { class: '' }, label: false
  .form-actions
    = button_tag :save, class: 'btn btn-primary' do
      .fa.fa-check
      Save Respondent
    = link_to survey_path(survey), class: 'btn btn-default' do
      .fa.fa-arrow-left
      Back to Survey
