%section.content-header
  %h1
    New Respondent
    %small
      #{@survey.title}
  %ol.breadcrumb
    %li
      = link_to survey_path(@survey), class: '' do
        .fa.fa-arrow-left
        Back to Survey

%section.content
  = render partial: "form", locals: { survey_respondent: @survey_respondent, survey: @survey, members: @members }
