%section.content-header
  %h1
    Respondent
    %small
      #{@survey.title}
  %ol.breadcrumb
    %li
      = link_to survey_path(@survey), class: '' do
        .fa.fa-arrow-left
        Back to Survey

%section.content
  %table.ui.blue.table
    %tbody
      %tr
        %th{width: "30%"} Member
        %td #{link_to @survey_respondent.member.full_name, member_path(@survey_respondent.member), target: "_blank"}
      %tr
        %th Date Answered
        %td #{@survey_respondent.date_answered}
      %tr
        %th Total Score
        %td #{@survey_respondent.total_score}

  %h3 Answers to Questions
  %table.ui.green.table
    %thead
      %tr
        %th Question
        %th Answer
        %th Score
    %tbody
      - @survey_respondent.survey_respondent_answers.each do |answer|
        %tr
          %td #{answer.survey_question.content}
          %td #{answer.survey_question_option.option}
          %td #{answer.survey_question_option.score}

  .form-actions
    = link_to edit_survey_survey_respondent_path(@survey, @survey_respondent), class: 'btn btn-default' do
      .fa.fa-pencil
      Edit
    = link_to survey_survey_respondent_path(@survey, @survey_respondent), method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure?' } do
      .fa.fa-times
      Delete
