.ui.grey.segment
  = form_tag insurance_remittances_path, html: { novalidate: true }, method: "GET", defaults: { wrapper_html: { class: 'form-group' }, input_html: { class: 'form-control' } } do
    .ui.grid
      .four.wide.column
        %label Start Date
        = text_field_tag :start_date, @start_date, class: "form-control datepick"
      .four.wide.column
        %label End Date
        = text_field_tag :end_date, @start_date, class: "form-control datepick"
      .two.wide.column
        %label Branch
        = select_tag :branch_id, options_from_collection_for_select(@branches, :id, :name, @branch.try(:id)), class: "form-control select-select2", id: "branch-select"
      .two.wide.column
        %label Center
        = select_tag :center_id, options_from_collection_for_select([], :id, :name, @center.try(:id)), prompt: "-- SELECT --", class: "form-control select-select2", id: "center-select"
      .two.wide.column
        %label
          Actions
        %br
        .ui.buttons
          = submit_tag "Search", class: "ui primary large button btn btn-block"  
