= simple_nested_form_for @insurance_remittance, defaults: { wrapper_html: { class: 'form-group' }, input_html: { class: 'form-control' } }, html: { multipart: true, novalidate: true } do |f|
  .row
    .col-md-12
      %table.ui.green.table
        %thead
          %tr
            %th Member
            - InsuranceType.all.each do |insurance_type|
              %th #{insurance_type}
        %tbody
          - @insurance_remittance.members.each do |member|
            %tr
              %td #{member.full_name}
              - InsuranceType.all.each do |insurance_type|
                %td #{@insurance_remittance.insurance_remittance_records.where(member_id: member.id, insurance_type: insurance_type).first.try(:amount)}
