#generate-remittance-modal.modal.fade{role: "dialog", "aria-labelledby" => "generate-remittance-modal", "aria-hidden" => "true"}
  = simple_form_for :insurance_remittance, url: "/insurance_remittances/new", method: :get do |f|
    .modal-dialog.modal-lg
      .modal-content
        .modal-header
          %button.close{"data-dismiss" => "modal", "aria-hidden" => "true"}
          %h4 Generate Remittance
        .modal-body
          .row
            .col-md-3
              = f.input :branch, as: :select, collection: @branches, selected: @branches.first, input_html: { class: "select-select2", id: "modal-branch-select" }
            .col-md-3
              %label
                Center
              = f.input :center, as: :select, collection: [], input_html: { class: "select-select2", id: "modal-center-select", style: "width: 100%;" }, label: false
            .col-md-3
              = f.input :start_date, input_html: { id: "input-start-date", class: "form-control datepick", value: Time.now.strftime("%Y-%m-%d")}
            .col-md-3
              = f.input :end_date, input_html: { id: "input-end-date", class: "form-control datepick", value: Time.now.strftime("%Y-%m-%d")}
        .modal-footer
          = f.submit "Generate Remittance", class: "ui primary button", id: "btn-generate-remittance"
          %button.ui.button{"data-dismiss" => "modal"}
            Close

= javascript_include_tag "modal_ui"
