%section.content-header
  %h1
    Insurance Remittances
  %ol.breadcrumb
    %li
      = link_to "#", class: 'btn btn-primary', style: 'color: #fff;', data: { toggle: 'modal', target: '#generate-remittance-modal' } do
        Generate Remittance
%section.content
  = render partial: "filter"
  = render partial: "list", locals: { insurance_remittances: @insurance_remittances }

= render partial: "generate_remittance_modal"
= javascript_include_tag "InsuranceRemittances"
= javascript_include_tag "ui"
