.remodal#modal-confirm-approve{ data: { remodal_id: "modal-confirm-approved" }}
  %h3
    Are you sure you want to approved this record?
    .message
    .control
      %hr
        %button.btn-confirm.ui.green.button
          .fa.fa-check
          Yes
        %button.btn-cancel.ui.default.button.reject-btn
          .fa.fa-times
          No
