%table.table.table-bordered.table-responsive
  %thead
    %tr
      %th #
      %th Total Interest Paid
      %th Total Patroange Refund
      %th Rate
      %th Year
      %th Status
      %th Action
  %tbody
  - patronage_refund_collections.each_with_index do |records,i|
    %tr
      %td #{i+1}
      %td #{number_to_currency(records.total_loan_interest_amount, unit: "P")}
      %td #{number_to_currency(records.total_interest_amount, unit: "P")}
      %td #{records.patronage_rate} %
      %td #{(records.as_of).year}
      %td #{records.status}
      %td 
        = link_to accounting_patronage_refund_path(records), class: 'btn btn-default' do
          Details
