%section.content-header
  %h1
    Patronage Refund
  %ol.breadcrumb
    %li
      = link_to "#", class: 'btn btn-primary', style: 'color: #fff', id:'btn-new' do
        .fa.fa-plus
        Generate New Patronage Refund
%section.content
  .box
    .box-body
      - if @patronage_refund_collection.size == 0
        %p
          No records found
      - else
        = render partial: "patronage_refunds", locals: { patronage_refund_collections: @patronage_refund_collection }

#modal-transaction.modal.fade.modal-fade
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{type:'button', data:{dismiss:'modal'}}
          %span{aria:{hidden:'true'}}
            %i.fa.fa-close
          %span.sr-only Close
        %h4.modal-title
          New Transaction
      .modal-body
        .row
          .col-md-6
            %label
              Rate
            = text_field_tag :patronage_interest, 0.00, id: "patronage-interest", class: 'form-control'
        .row
          .col-md-6
            %label
              Year
            = select_tag :current_year, options_for_select(((@current_year - 5)..(@current_year + 5)), @current_year), class: "form-control select-select2", id:"year"
        .row
          .col-md-12
            .message
      .modal-footer
        #actions
          %button#btn-generate.btn.btn-default{type:'button'} Generate
          %button.btn.btn-default{type:'button', data:{dismiss:'modal'}} Close



= render partial: "shared/errors_template"
= javascript_include_tag "accounting/PatronageRefunds"

:javascript
  $(document).ready(function(){
    PatronageRefund.init();
    
    
  });
