%span
  %center
    %p
      #{Settings.company_name}
      %br
      %small
        #{Settings.company_address}
      %br
        VAT Registration Tin Number
        #{Settings.tin_number}
      %h4
        Patronage Refund
        %small #{(@patronage_refund_collection.as_of).year}
      %br


%table.table.table-bordered.table-responsive
  %tbody
    - @data[:member_details_group].each do |mdg|
      %tr
        %td{:colspan => 8} 
          %h4 #{mdg[:center_name]}
      %tr
        %th #
        %th Id Number
        %th Identification No
        %th Total Interest Paid
        %th Patronage Refund
        %th Savings
        %th CBU
        %th Signature

      - mdg[:center_details].each_with_index do |cdetails, i|
        %tr
          %td
            #{i + 1}
          %td
            #{cdetails[:member_id]}
          %td
            #{cdetails[:member_id_no]}
          %td
            #{cdetails[:total_loan_interest_amount]}
          %td
            #{cdetails[:member_loan_interest_rate]}
          %td
            #{cdetails[:member_savings_amount]}
          %td
            #{cdetails[:member_cbu_amount]}
          %td
      %tr
        %td{:colspan => 3} Total
        %td #{mdg[:total_share]}
        %td #{mdg[:total_ave_details]}
        %td #{mdg[:total_savings_details]}
        %td #{mdg[:total_cbu_details]}
      %tr
        %td{:colspan => 8}

    %tr
      %td{:colspan => 3} 
        %h5 Grand Total
      %td
        #{number_to_currency(@patronage_refund_collection.total_loan_interest_amount, unit: "P")}
      %td
        #{number_to_currency(@patronage_refund_collection.total_interest_amount, unit: "P")}
      %td
