%section.content-header
  %h1
    Patronage Refund
  %ol.breadcrumb
    %li
      = link_to accounting_patronage_refunds_path, class: "btn btn-primary", style: 'color: #fff' do
        .fa.fa-arrow-left
        Back

%section.content
  %small
    .well
      - if @patronage_refund_collection.status == "pending"
        = link_to "#", class: "btn btn-app bg-green", id: "btn-approved" do
          .fa.fa-check
          Approved
      = link_to "#", class: "btn btn-app bg-green", id: "btn-download-excel" do
        .fa.fa-file
        Excel

      = link_to "#", class: "btn btn-app bg-green", id: "btn-download-pdf" do
        .fa.fa-file
        PDF
    %table.ui.green.table
      %tr
        %th Total Interest Paid
        %td #{number_to_currency(@patronage_refund_collection.total_loan_interest_amount, unit: "P")}
      %tr
        %th Total Patroange Refund
        %td #{number_to_currency(@patronage_refund_collection.total_interest_amount, unit: "P")}
      %tr
        %th Rate
        %td #{@patronage_refund_collection.patronage_rate} %
      %tr
        %th Year
        %td #{(@patronage_refund_collection.as_of).year}
      %tr
        %th Status
        %td #{@patronage_refund_collection.status}
    
  
    %table.table.table-bordered.table-responsive
      %tbody
        - @data[:member_details_group].each do |mdg|
          %tr
            %td{:colspan => 20} 
              %h2 #{mdg[:center_name]}
          %tr
            %th #
            %th Id Number
            %th Name
            %th Jan.
            %th Feb.
            %th Mar.
            %th Apr.
            %th May.
            %th June.
            %th July.
            %th Aug.
            %th Sept.
            %th Oct.
            %th Nov.
            %th Dec.
            %th Total Interest Paid
            %th Patronage Refund
            %th Savings
            %th CBU
          

          - mdg[:center_details].each_with_index do |cdetails, i|
            %tr
              %td
                #{i + 1}
              %td
                #{cdetails[:member_id]}
              %td
                #{cdetails[:member_name]}
              - cdetails[:monthly_total].each do |mt|
                %td
                  #{mt[:amount]}
              %td
                #{cdetails[:total_loan_interest_amount]}
              %td
                #{cdetails[:member_loan_interest_rate]}
              %td
                #{cdetails[:member_savings_amount]}
              %td
                #{cdetails[:member_cbu_amount]}
          %tr
            %td{:colspan => 15} Total
            %td
              #{mdg[:total_share]}
            %td
              #{mdg[:total_ave_details]}
            %td
              #{mdg[:total_savings_details]}
            %td
              #{mdg[:total_cbu_details]}


    = render partial: "shared/voucher", locals: { voucher: @voucher}

= render partial: "modal_confirm_approved"
#parameters{ data: {id: @patronage_refund_collection.id}}
= javascript_include_tag "accounting/PatronageRefundShows"
