#actions
  .ui.grey.segment
    - if payment_collection.pending?
      = link_to edit_payment_collection_path(payment_collection), class: "btn btn-app" do
        .fa.fa-pencil
        Edit
      = link_to "#", class: "btn btn-app bg-green", id: "btn-approve" do
        .fa.fa-check
        Approve
      = link_to payment_collection_path(payment_collection), class: "btn btn-app bg-red", method: :delete, data: { confirm: "Are you sure?" } do
        .fa.fa-times
        Delete
    / Common links
    = link_to payment_collection_download_excel_path(payment_collection.id), class: "btn btn-app", id: "btn-print-excel", target: '_blank' do
      .fa.fa-print
      Download Excel

    = link_to payment_collection_pdf_path(payment_collection.id), class: "btn btn-app", target: '_blank' do
      .fa.fa-print
      Print to PDF
 
    = link_to payment_collection_download_wp_list_path(payment_collection.id), class: "btn btn-app", id: "btn-download-wp-list", target: '_blank' do
      .fa.fa-download
      WP List
