- payment_collection.loan_products.order(:is_entry_point).each do |loan_product|
  %h3
    #{loan_product}
    - if loan_product.is_entry_point?
      %small
        Entry Level
  = render partial: "loan_product_billing_records", locals: { records: payment_collection.records_by_loan_product(loan_product), loan_product: loan_product, payment_collection: @payment_collection }
