- if @errors
  .bs-callout.bs-callout-error
    %h4 Errors
    %ul
      - @errors.each do |e|
        %li
          #{e}

= simple_form_for payment_collection, defaults: { wrapper_html: { class: 'form-group' }, input_html: { class: 'form-control' } }, html: { novalidate: true } do |f|
  .row
    .col-md-6
      = f.input :or_number, label: "OR Number", as: :string
    .col-md-6
      %label
        Special Report
      = f.input :is_special_report, input_html: { class: 'switch', id: 'special-report' }, label: false
  - @loan_products.each do |loan_product|
    %div.loan-product-section{data: {loan_product_code: loan_product.code}}
      %h4
        #{loan_product}
        - if loan_product.is_entry_level?
          %small
            Entry Level
      %table.table.table-bordered.table-responsive.sticky
        %thead
          %tr
            %th{width: "20%"} Member
            %th LP
            - @savings_types.each do |savings_type|
              %th #{savings_type.code}
            - @insurance_types.each do |insurance_type|
              %th #{insurance_type.code}
            //- @equity_types.each do |equity_type|
            //%th # {equity_type.code}
            %th WP
            %th CP
            %th Amt
        %tbody
          = f.simple_fields_for :payment_collection_records, f.object.payment_collection_records.sort_by{ |o| o.member.last_name } do |ff|
            - if ff.object.loan_product.id == loan_product.id
              %tr
                %td 
                  #{link_to ff.object.member.full_name , member_path(ff.object.member), target: "_blank"}
                  %small
                    #{ff.object.member.member_type}
                %td
                  = ff.simple_fields_for :collection_transactions do |fff|
                    - if fff.object.account_type == "LOAN_PAYMENT"
                      = fff.input :amount, label: false, input_html: { class: "form-control numeric loan-payment cp-amount", data: { loan_product_code: "#{loan_product.code}", member_id: "#{ff.object.member.id}" } }
                - @savings_types.each do |savings_type|
                  %td
                    = ff.simple_fields_for :collection_transactions do |fff|
                      - if fff.object.account_type == "SAVINGS" and fff.object.account_type_code == savings_type.code and ff.object.loan_product.is_entry_level?
                        = fff.input :amount, label: false, input_html: { class: "form-control numeric savings-deposit cp-amount", data: { loan_product_code: "#{loan_product.code}", member_id: "#{ff.object.member.id}", account_code: "#{savings_type.code}" } } 
                - @insurance_types.each do |insurance_type|
                  %td
                    = ff.simple_fields_for :collection_transactions do |fff|
                      - if fff.object.account_type == "INSURANCE" and fff.object.account_type_code == insurance_type.code and ff.object.loan_product.is_entry_level?
                        = fff.input :amount, label: false, input_html: { class: "form-control numeric insurance-deposit cp-amount", data: { loan_product_code: "#{loan_product.code}", member_id: "#{ff.object.member.id}", account_code: "#{insurance_type.code}" } }
                //- @equity_types.each do |equity_type|
                //%td
                //= ff.simple_fields_for :collection_transactions do |fff|
                //- if fff.object.account_type == "EQUITY" and fff.object.account_type_code == equity_type.code and ff.object.loan_product.is_entry_level?
                //= fff.input :amount, label: false, input_html: { class: "form-control numeric equity-deposit cp-amount", data: { loan_product_code: "# {loan_product.code}", member_id: "# {ff.object.member.id}", account_code: "# {equity_type.code}" } }
                %td
                  = ff.simple_fields_for :collection_transactions do |fff|
                    - if fff.object.account_type == "WP"
                      = fff.input :amount, label: false, input_html: { class: "form-control numeric wp", data: { loan_product_code: "#{loan_product.code}", member_id: "#{ff.object.member.id}", account_code: "wp" } }
                %td
                  %input{type: "text", class: "form-control numeric total-member-cp", disabled: true, value: 0.00, data: { member_id: "#{ff.object.member.id}" }}
                %td
                  %input{type: "text", class: "form-control numeric total-member-amount", disabled: true, value: 0.00, data: { member_id: "#{ff.object.member.id}" }}
        %thead
          %tr
            %th{width: "20%"} Total
            %th
              %input{type: "text", class: "form-control numeric total-loan-payments", disabled: true, value: 0.00}
            - @savings_types.each do |savings_type|
              %th
                %input{type: "text", class: "form-control numeric total-savings", disabled: true, value: 0.00, data: { savings_type_code: "#{savings_type.code}" }}
            - @insurance_types.each do |insurance_type|
              %th
                %input{type: "text", class: "form-control numeric total-insurance", disabled: true, value: 0.00, data: { insurance_type_code: "#{insurance_type.code}"}}
            //- @equity_types.each do |equity_type|
            //%th
            //%input{type: "text", class: "form-control numeric total-equity", disabled: true, value: 0.00, data: { equity_type_code: "# {equity_type.code}" }}
            %th
              %input{type: "text", class: "form-control numeric total-wp", disabled: true, value: 0.00}
            %th
              %input{type: "text", class: "form-control numeric total-cp", disabled: true, value: 0.00}
            %th
              %input{type: "text", class: "form-control numeric grand-total", disabled: true, value: 0.00}
    %hr
  %h4 GRAND TOTAL
  %table.ui.green.table
    %thead
      %tr
        %th{width: "20%"} Grand Total
        %th LP
        - @savings_types.each do |savings_type|
          %th #{savings_type.code}
        - @insurance_types.each do |insurance_type|
          %th #{insurance_type.code}
        //- @equity_types.each do |equity_type|
        //%th # {equity_type.code}
        %th WP
        %th CP
        %th Amt
    %tbody
      %tr
        %td
          %b
            GRAND TOTAL
        %td
          %input{type: "text", class: "form-control numeric grand-total-loan-payment", disabled: true, value: 0.00}
        - @savings_types.each do |savings_type|
          %td
            %input{type: "text", class: "form-control numeric grand-total-savings", disabled: true, value: 0.00, data: { savings_type_code: "#{savings_type.code}" } }
        - @insurance_types.each do |insurance_type|
          %td
            %input{type: "text", class: "form-control numeric grand-total-insurance", disabled: true, value: 0.00, data: { insurance_type_code: "#{insurance_type.code}" } }
        //- @equity_types.each do |equity_type|
        //%td
        //%input{type: "text", class: "form-control numeric grand-total-equity", disabled: true, value: 0.00, data: { equity_type_code: "# {equity_type.code}" } }
        %td
          %input{type: "text", class: "form-control numeric grand-total-wp", disabled: true, value: 0.00}
        %td
          %input{type: "text", class: "form-control numeric grand-total-cp", disabled: true, value: 0.00}
        %td
          %input{type: "text", class: "form-control numeric grand-total-grand-total", disabled: true, value: 0.00}
  %hr
  = f.input :particular
  .form-actions
    = button_tag(type: "submit", class: "btn btn-primary") do
      .fa.fa-check
      Save
    = link_to payment_collection_path(@payment_collection), class: "btn btn-default" do
      .fa.fa-times
      Cancel

//#parameters{data: {savings_types: @savings_types.pluck(:code), insurance_types: @insurance_types.map{ |o| o.code }, equity_types: @equity_types.pluck(:code) }}
#parameters{data: {savings_types: @savings_types.pluck(:code), insurance_types: @insurance_types.map{ |o| o.code }}}
= javascript_include_tag "PaymentCollectionForm"
