.remodal.modal-generate-billing{ data: { remodal_id: "modal" } }
  %h3
    Generate New Billing
  .errors
  .success
  .controls
    .row
      .col-md-4
        %label
          Branch
        = select_tag :branch_id, options_from_collection_for_select(@branches, :id, :to_s, @branch.try(:id)), class: "select-select2", prompt: "--SELECT BRANCH--", id: "modal-branch-select" 
      .col-md-4
        %label
          Center
        = select_tag :center_id, options_from_collection_for_select([], :id, :to_s, nil), class: "select-select2", prompt: "--SELECT CENTER--", id: "modal-center-select"
      .col-md-4
        %label
          Date of Payment
        %input{ type: "text", id: "date-of-payment", class: "form-control datepick", value: Time.now.strftime("%Y-%m-%d") }
    %hr
    %button#btn-generate-billing.btn.btn-success
      Generate Billing
    %button#btn-cancel-billing.btn.btn-danger
      Cancel
