%h3
  Grand Total
%table.table.table-bordered.table-responsive
  %thead
    %tr
      %th{width: "20%"} Grand Total
      %th.accounting-curr
        #{number_to_currency(payment_collection.total_principal_amount + payment_collection.total_interest_amount, unit: "")}
      - @savings_types.each do |savings_type|
        - if savings_type.is_default == true
          %th.accounting-curr
            #{number_to_currency(payment_collection.total_by_savings_type(savings_type), unit: "")}
      - @insurance_types.each do |insurance_type|
        %th.accounting-curr
          #{number_to_currency(payment_collection.total_by_insurance_type(insurance_type), unit: "")}
      - @savings_types.each do |savings_type|
        - if savings_type.is_default != true
          %th.accounting-curr
            #{number_to_currency(payment_collection.total_by_savings_type(savings_type), unit: "")}
      //- @equity_types.each do |equity_type|
      //%th.accounting-curr
      //{number_to_currency(payment_collection.total_by_equity_type(equity_type), unit: "")}
      %th.accounting-curr
        #{number_to_currency(payment_collection.total_wp_amount, unit: "")}
      %th.accounting-curr
        #{number_to_currency(payment_collection.total_cp_amount, unit: "")}
      %th.accounting-curr
        #{number_to_currency(payment_collection.total_amount, unit: "")}
