.table-responsive.no-padding
  %table.table-bordered.table{:style => "margin-top: 10px;"}
    %tbody
      %tr
        %th Paid at
        %th OR Number
        %th.accounting-curr Total Amount
        %th Center
        %th Status
      - @payment_collections.each do |pc|
        %tr{ class: "clickable #{pc.status == 'approved' ? 'positive' : 'negative'}", data: { transaction_id: "#{pc.id}" } }
          %td #{pc.paid_at.strftime("%B %d, %Y")}
          %td 
            - if pc.or_number.include?("CHANGE-ME")
            - else
              #{pc.or_number}
          %td.curr #{number_to_currency(pc.total_amount, unit: "P")}
          %td #{pc.center}
          %td #{pc.status} 
