%table.table.table-bordered.table-responsive.payments.sticky
  %thead
    %tr
      %th{width: "2%"}
      %th{width: "20%"} Member
      %th.accounting-curr LP
      - @savings_types.each do |savings_type|
        - if savings_type.is_default == true
          %th.accounting-curr #{savings_type.code}
      - @insurance_types.each do |insurance_type|
        %th.accounting-curr #{insurance_type.code}
      - @savings_types.each do |savings_type|
        - if savings_type.is_default != true
          %th.accounting-curr #{savings_type.code}
      //-  @equity_types.each do |equity_type|
      //%th.accounting-curr # {equity_type.code}
      %th.accounting-curr WP
      %th.accounting-curr CP
      %th.accounting-curr Amt Rec
  %tbody
    - records.each_with_index do |record, i|
      %tr
        %td #{i + 1}
        %td #{link_to record.member.full_name, member_path(record.member), target: "_blank" }
        %td.curr{style: "background-color: #{current_user.role == 'MIS' and record.pending_loan_payment? ? '#f74c4c' : 'none'};"}
          #{record.lp_amount_by_member > 0 ? number_to_currency(record.lp_amount_by_member, unit: "") : ""}
          - if current_user.role == 'MIS'
            #{record.loan_payment_ids}
        - @savings_types.each do |savings_type|
          - if savings_type.is_default == true
            %td.curr
              - if loan_product.is_entry_level?
                #{number_to_currency(record.savings_by_type(savings_type), unit: "")}
              - if current_user.role == "MIS"
                [#{record.ct_id_for_savings(savings_type)}]
        - @insurance_types.each do |insurance_type|
          %td.curr
            - if loan_product.is_entry_level?
              #{number_to_currency(record.insurance_by_type(insurance_type), unit: "")}
            - if current_user.role == "MIS"
              [#{record.ct_id_for_insurance(insurance_type)}]
        - @savings_types.each do |savings_type|
          - if savings_type.is_default != true
            %td.curr
              - if loan_product.is_entry_level?
                #{number_to_currency(record.savings_by_type(savings_type), unit: "")}
              - if current_user.role == "MIS"
                [#{record.ct_id_for_savings(savings_type)}]
        //- @equity_types.each do |equity_type|
        //%td.curr
        //- if loan_product.is_entry_level?
        //# {number_to_currency(record.equity_by_type(equity_type), unit: "")}
        %td.curr 
          #{number_to_currency(record.total_wp_amount, unit: "")}
          - if current_user.role == "MIS"
            [#{record.wp_id}]
        %td.curr #{number_to_currency(record.total_cp_amount, unit: "")}
        %td.curr #{number_to_currency(record.total_wp_amount + record.total_cp_amount, unit: "")}
    %tr
      %th
      %th.accounting-curr Total
      %th.accounting-curr #{number_to_currency(payment_collection.total_lp_by_loan_product(loan_product), unit: "")}
      - @savings_types.each do |savings_type|
        - if savings_type.is_default == true
          %th.accounting-curr 
            - if loan_product.is_entry_level?
              #{number_to_currency(payment_collection.total_amount_by_savings_type_and_loan_product(savings_type, loan_product), unit: "")}
      - @insurance_types.each do |insurance_type|
        %th.accounting-curr
          - if loan_product.is_entry_level?
            #{number_to_currency(payment_collection.total_amount_by_insurance_type_and_loan_product(insurance_type, loan_product), unit: "")}
      - @savings_types.each do |savings_type|
        - if savings_type.is_default != true
          %th.accounting-curr
            - if loan_product.is_entry_level?
              #{number_to_currency(payment_collection.total_amount_by_savings_type_and_loan_product(savings_type, loan_product), unit: "")}
      //- @equity_types.each do |equity_type|
      //%th.accounting-curr
      //- if loan_product.is_entry_level?
      //# {number_to_currency(payment_collection.total_amount_by_equity_type_and_loan_product(equity_type, loan_product), unit: "")}
      %th.accounting-curr #{number_to_currency(payment_collection.total_wp_amount_by_loan_product(loan_product), unit: "")}
      %th.accounting-curr #{number_to_currency(payment_collection.total_cp_amount_by_loan_product(loan_product), unit: "")}
      %th.accounting-curr #{number_to_currency(payment_collection.total_amount_by_loan_product(loan_product), unit: "")}
