.remodal.modal-approve-confirmation.selext{ data: { remodal_id: "modal-approve" } }
  %h3
    Approve Transaction
  %p 
    You are about to confirm a billing collection.
    Are you sure you want to approve this transaction?
  .errors
  .success
  .message
  #modal-controls.controls
    %hr
      %button#btn-confirm-approval.btn.btn-success
        .fa.fa-check
        Yes
      %button#btn-cancel-approval.btn.btn-danger.reject-btn
        .fa.fa-times
        No
