.remodal.modal-reverse-confirmation{ data: { remodal_id: "modal", remodal_options: "hashTracking: false, closeOnOutsideClick: false" } }
  %h3
    Confirm Transaction Reversal
  .errors
  .success
  .message
  .controls
    %hr
    %button#btn-confirm-reversal.btn.btn-success
      .fa.fa-warning
      Confirm
    %button#btn-cancel-reversal.btn.btn-danger
      .fa.fa-times
      Cancel
