#reverse-actions{style: "display: #{ui_authorized?(roles: ["MIS","SBK"], authorized: @payment_collection.approved?, user: current_user) == true ? 'block' : 'none'};"}
  .ui.red.segment
    %h3
      .fa.fa-warning
      Danger Area: Only authorized personnel is allowed to access this area
    = link_to "#", class: "btn btn-app bg-red", id: "btn-reverse" do
      .fa.fa-times
      Reverse
