%table.ui.small.table
  %tbody
    %tr
      %th Prepared By
      %td #{payment_collection.prepared_by}
      %th Encoded By
      %td #{payment_collection.encoded_by}
    %tr
      %th Collected By
      %td #{payment_collection.collected_by}
      %th Posted By
      %td #{payment_collection.approved_by}
    %tr
      %th Checked By
      %td #{payment_collection.checked_by}
