%section.content-header
  %h1
    Billing Form
    %small
      #{@payment_collection.center}
  %ol.breadcrumb
    %li
      #{link_to "Collections", payment_collections_path}
    %li
      #{link_to "Billing", payment_collection_path(@payment_collection)}
    %li
      Edit
%section.content
  = render partial: "form", locals: { payment_collection: @payment_collection }
