%section.content-header
  %h1 Payments
  %ol.breadcrumb
    %li{:style => "margin-top: -10px;"}
      = link_to "#", id: "btn-new-billing", class: 'btn btn-primary bg-blue', style: 'color: #fff;' do
        .fa.fa-plus
        New Payment Transaction
%section.content
  = render partial: "filter"
  - if @payment_collections.size == 0
    %p
      No payment collections found
  - else
    = render partial: "list", locals: { payment_collections: @payment_collections }
    .row
      .col-md-12
        .pull-right
          = paginate @payment_collections    

= render partial: "shared/success_template"
= render partial: "shared/loading_modal"
= render partial: "shared/errors_template"
= render partial: "generate_billing_modal"
= javascript_include_tag "PaymentCollections"

:javascript
  $(document).ready(function() {
    PaymentCollections.init();
  });
