%table{:style => "font-size: x-small;margin-bottom:3%;width: 100%"}
  %thead
    %tr
      %td{:colspan => 4}
        %table{:style => "font-weight: bold"}
          %tr
            
            %td
              #{Settings.company}
          %tr
            %td
              #{Settings.company_address}
          %tr
            %td
              VAT Registration Tin Number:#{Settings.tin_number}
          %tr
            %td
              #{Branch.first.name}
 
%section
  - @payment_collection.loan_products.order(:is_entry_point).each do |loan_product|
    %h6
      %b #{@payment_collection.center} #{loan_product}       #{@payment_collection.paid_at.strftime("%m/%d/%y")}

    %table{:style => "border:1px black solid;font-size: x-small;margin-bottom:1%; width: 100%"}
      %thead
        %tr
          %th{:style => "border:1px black solid;padding-left:.5%;width:20%"}  Member
          %th{:style => "border:1px black solid;padding-left:.5%;width:6%"} CBU Bal.
          %th{:style => "border:1px black solid;padding-left:.5%;width:6%"} Loan Amt.
          %th{:style => "border:1px black solid;padding-left:.5%;width:6%"} Loan Bal.
          %th{:style => "border:1px black solid;padding-left:.5%;width:6%"}  LP
          - @savings_types.each do |savings_type|
            - if savings_type.is_default == true
              %th{:style => "border:1px black solid;padding-left:.5%;width:6%"}  #{savings_type.code}
          - @insurance_types.each do |insurance_type|
            %th{:style => "border:1px black solid;padding-left:.5%;width:5%"}  #{insurance_type.code}
          - @savings_types.each do |savings_type|
            - if savings_type.is_default != true
              %th{:style => "border:1px black solid;padding-left:.5%;width:6%"}  #{savings_type.code}
          //-  @equity_types.each do |equity_type|
          //%th{:style => "border:1px black solid;padding-left:.5%;width:5%"}  # {equity_type.code}
          %th{:style => "border:1px black solid;padding-left:.5%;width:7%"} WP
          %th{:style => "border:1px black solid;padding-left:.5%;width:7%"} CP
          %th{:style => "border:1px black solid;padding-left:.5%;width:7%"} Amt Rec
      %tbody
        - @payment_collection.records_by_loan_product(loan_product).each_with_index do |record, i|
          %tr
            %td{:style => "border:1px black solid;padding-left:.5%"} 
              #{record.member.full_name}
            %td.curr{:style => "border:1px black solid;padding-right:.5%"}
              #{number_to_currency(record.member.savings_accounts.joins(:savings_type).where("savings_types.is_default = ?", true).first.try(:balance), unit: "")}
            %td.curr{:style => "border:1px black solid;padding-right:.5%"}
              #{number_to_currency(Loan.active.where(member_id: record.member.id, loan_product_id: loan_product.id).first.try(:temp_total_amount_due), unit: "")}
            %td.curr{:style => "border:1px black solid;padding-right:.5%"}
              #{number_to_currency(Loan.active.where(member_id: record.member.id, loan_product_id: loan_product.id).first.try(:remaining_balance), unit: "")}
            %td{:style => "border:1px black solid;padding-left:.5%"}
              #{number_to_currency(record.lp_amount_by_member, unit: "", locale: :en, precision: 0)}
            - @savings_types.each do |savings_type|
              - if savings_type.is_default == true
                %td{:style => "border:1px black solid;padding-left:.5%"}
                  - if loan_product.is_entry_level?
                    #{number_to_currency(record.savings_by_type(savings_type), unit: "", locale: :en, precision: 0)}
            - @insurance_types.each do |insurance_type|
              %td{:style => "border:1px black solid;padding-left:.5%"}
                - if loan_product.is_entry_level?
                  #{number_to_currency(record.insurance_by_type(insurance_type), unit: "", locale: :en, precision: 0)}
            - @savings_types.each do |savings_type|
              - if savings_type.is_default != true
                %td{:style => "border:1px black solid;padding-left:.5%"}
                  - if loan_product.is_entry_level?
                    #{number_to_currency(record.savings_by_type(savings_type), unit: "" , locale: :en, precision: 0)}
            //- @equity_types.each do |equity_type|
            //%td{:style => "border:1px black solid;padding-left:.5%"}
            //- if loan_product.is_entry_level?
            //# {number_to_currency(record.equity_by_type(equity_type), unit: "", locale: :en, precision: 0)}             
            %td{:style => "border:1px black solid;padding-left:.5%"}
              #{number_to_currency(record.total_wp_amount, unit: "", locale: :en, precision: 0)}
            %td{:style => "border:1px black solid;padding-left:.5%"}
              #{number_to_currency(record.total_cp_amount, unit:"", locale: :en, precision: 0)}
            %td{:style => "border:1px black solid;padding-left:.5%"}
              #{number_to_currency((record.total_wp_amount + record.total_cp_amount), unit:"", locale: :en, precision: 0)}
        %tr
          %th.accounting-curr{:style => "border:1px black solid;padding-right:.5%"} #{loan_product} Total
          %th.accounting-curr{:style => "border:1px black solid;padding-right:.5%"}
            #{number_to_currency(@payment_collection.total_savings_balance(@savings_types.first, loan_product), unit: "")}
          %th.accounting-curr{:style => "border:1px black solid;padding-right:.5%"}
            - @member_ids = @payment_collection.payment_collection_records.where(loan_product_id: loan_product.id).pluck(:member_id).uniq
            - total_loan_amount = 0.00
            - Loan.active.where(member_id: @member_ids, loan_product_id: loan_product.id).each do |loan| 
              - if loan.temp_total_amount_due
                - total_loan_amount += loan.temp_total_amount_due
            #{number_to_currency(total_loan_amount , unit:"")}
 
          %th.accounting-curr{:style => "border:1px black solid;padding-right:.5%"}
            #{number_to_currency(Loan.active.where(member_id: @member_ids, loan_product_id: loan_product.id).sum(:remaining_balance), unit:"")}
          %th{:style => "border:1px black solid;padding-left:.5%"}
            #{number_to_currency(@payment_collection.total_lp_by_loan_product(loan_product), unit: "", locale: :en, precision: 0)}
          - @savings_types.each do |savings_type|
            - if savings_type.is_default == true
              %th{:style => "border:1px black solid;padding-left:.5%"}
                - if loan_product.is_entry_level?
                  #{number_to_currency(@payment_collection.total_amount_by_savings_type_and_loan_product(savings_type, loan_product), unit: "" , locale: :en, precision: 0)}
          - @insurance_types.each do |insurance_type|
            %th{:style => "border:1px black solid;padding-left:.5%"}
              - if loan_product.is_entry_level?
                #{number_to_currency(@payment_collection.total_amount_by_insurance_type_and_loan_product(insurance_type, loan_product), unit: "", locale: :en, precision: 0)}
          - @savings_types.each do |savings_type|
            - if savings_type.is_default != true
              %th{:style => "border:1px black solid;padding-left:.5%"}
                - if loan_product.is_entry_level?
                  #{number_to_currency(@payment_collection.total_amount_by_savings_type_and_loan_product(savings_type, loan_product), unit:"" , locale: :en, precision: 0)}
          //- @equity_types.each do |equity_type|
          //%th{:style => "border:1px black solid;padding-left:.5%"}
          //- if loan_product.is_entry_level?
          //# {number_to_currency(@payment_collection.total_amount_by_equity_type_and_loan_product(equity_type, loan_product), unit: "", locale: :en, precision: 0)}
          %th{:style => "border:1px black solid;padding-left:.5%"}
            #{number_to_currency(@payment_collection.total_wp_amount_by_loan_product(loan_product), unit: "", locale: :en, precision: 0)}
          %th{:style => "border:1px black solid;padding-left:.5%"}
            #{number_to_currency(@payment_collection.total_cp_amount_by_loan_product(loan_product), unit: "", locale: :en, precision: 0)}
          %th{:style => "border:1px black solid;padding-left:.5%"}
            #{number_to_currency(@payment_collection.total_amount_by_loan_product(loan_product), unit: "" , locale: :en, precision: 0)}

  %table{:style => "font-size: x-small;margin-bottom:1%; width: 70%"}
    %tr
      %th{:style => "border:1px black solid;padding-left:.5%"}
        COLLECTION
      %th{:style => "border:1px black solid;padding-left:.5%"}
        #{number_to_currency(@payment_collection.total_amount, unit:"")}
      %th{:style => "width: 5%"}
      %th
        Center Officers:
    %tr
      %th{:style => "border:1px black solid;padding-left:.5%"}
        LESS WP
      %th{:style => "border:1px black solid;padding-left:.5%"}
        #{number_to_currency(@payment_collection.total_wp_amount, unit:"")}
      %th
      %th
        ________________________
    %tr
      %th{:style => "border:1px black solid;padding-left:.5%"}
        GRAND TOTAL
      %th{:style => "border:1px black solid;padding-left:.5%"}
        #{number_to_currency(@payment_collection.total_amount, unit: "")}
      %th
      %th
        ________________________
    %tr
      %th
      %th
      %th
      %th
        ________________________
 
    %tr
      %th{:style => "height:5px"}
    %tr
    - @payment_collection.loan_products.order(:is_entry_point).each do |loan_product|
      %tr
        %th{:style => "border:1px black solid;padding-left:.5%"}
          #{loan_product.code}
        %th{:style => "border:1px black solid;padding-left:.5%"}
          #{number_to_currency(@payment_collection.total_amount_by_loan_product(loan_product), unit:"")}

  %table{:style => "font-size: x-small;margin-bottom:1%; width: 100%"}
    %tr
      %th
        Prepared By:
      %th
        Collected By:
      %th
        Checked By:
      %th{:style => "width:10%"}
      %th
        Encoded By:
      %th
        Posted By:
      
    %tr
      %th{:style => "height:15px"}
    %tr
      %th
        #{@payment_collection.prepared_by}
      %th
        #{@payment_collection.collected_by}
      %th
        #{@payment_collection.checked_by}
      %th
      %th
        #{@payment_collection.encoded_by}
      %th
        #{@payment_collection.approved_by}
