#parameters{ data: { payment_collection_id: @payment_collection.id } }

%section.content-header
  %h1
    Billing
    %small
      #{@payment_collection.center} | #{@payment_collection.prepared_by} | OR Number: #{@payment_collection.or_number} | #{@payment_collection.paid_at.strftime("%b %d, %Y")}
  %ol.breadcrumb
    %li
      #{link_to "Payment Collections", payment_collections_path}
    %li
      Show
%section.content
  - if @payment_collection.reversed?
    .bs-callout.bs-callout-danger
      %h3
        .fa.fa-warning
        Warning: This transaction has been reversed.
  .box
    .box-body
      = render partial: "actions", locals: { payment_collection: @payment_collection }
      = render partial: "shared/errors"
  = render partial: "billing_records", locals: { payment_collection: @payment_collection }
  = render partial: "grand_total", locals: { payment_collection: @payment_collection }
  = render partial: "signatories", locals: { payment_collection: @payment_collection }
  = render partial: "shared/voucher", locals: { voucher: @voucher }
  /= render partial: "reverse_actions", locals: { payment_collection: @payment_collection}

= render partial: "shared/success_template"
= render partial: "shared/errors_template"
= render partial: "shared/loading_modal"
= render partial: "modal_reverse_confirmation"
= render partial: "modal_approve_confirmation"
= javascript_include_tag "PaymentCollection.js"

:javascript
  $(document).ready(function() {
    PaymentCollection.init();
  });
