= simple_form_for [loan, negative_loan_payment], defaults: { wrapper_html: { class: 'form-group' }, input_html: { class: 'form-control' } }, html: { multipart: true, novalidate: true } do |f|
  = f.input :amount
  = f.input :particular
  .form-actions
    = button_tag :submit, :class => "btn btn-primary" do
      .fa.fa-check
      Save Record
    = link_to loan_path(loan), class: "btn btn-default" do
      .fa.fa-times
      Cancel
