%section.content-header
  %h1
    Edit Negative Payment for Loan #{@loan.pn_number}

%section.content
  .box
    .box-body
      = render partial: "form", locals: { loan: @loan, negative_loan_payment: @negative_loan_payment }

