= simple_form_for announcement, defaults: { wrapper_html: { class: 'form-group' }, input_html: { class: 'form-control' } }, html: { multipart: true, novalidate: true } do |f|
  = f.input :title, as: :string
  = f.input :content
  = f.input :banner, as: :file
  = image_tag f.object.banner.url(:display)
  .form-actions
    = button_tag :submit, :class => "btn btn-primary" do
      .fa.fa-check
      Save
    - if announcement.new_record?
      = link_to announcements_path, class: "btn btn-default" do
        .fa.fa-times
        Cancel
    - else
      = link_to announcement_path(announcement), class: "btn btn-default" do
        .fa.fa-times
        Cancel
