%table.table.table-bordered.table-responsive
  %thead
    %tr
      %th{width: "5%"}
      %th Date
      %th Title
      %th Author
  - announcements.each_with_index do |announcement, i|
    %tbody
      %tr
        %td #{i+1}
        %td #{announcement.announced_on.strftime("%B %d, %Y")}
        %td #{link_to announcement.title, announcement_path(announcement)}
        %td #{announcement.announced_by}
