%section.content-header
  %h1 
    Announcements

%section.content
  = link_to "New Announcement", new_announcement_path if ["MIS", "SBK", "AM", "CM", "FM"].include? current_user.role
  - if @announcements.size > 0
    = render partial: "list", locals: { announcements: @announcements }
  - else
    No announcements. #{link_to "Create one.", new_announcement_path if ["MIS", "SBK", "AM", "CM", "FM"].include? current_user.role}
