%section.content-header
  %h1
    #{@announcement.title}
    %small
      #{@announcement.announced_on.strftime("%B %d, %Y")}
  %ol.breadcrumb
    %li
      = link_to "Back to announcements", announcements_path

%section.content
  - if ["MIS", "SBK", "AM"].include? current_user.role
    .well
      = link_to edit_announcement_path(@announcement), class: "btn btn-app" do
        .fa.fa-pencil
        Edit
      = link_to announcement_path(@announcement), method: :delete, class: "btn btn-app small-red", data: { confirm: "Are you sure?" } do
        .fa.fa-times
        Destroy
  .well
    #{@announcement.content}
    %hr
    .row
      .col-md-12
        .pull-right
          #{@announcement.announced_by}
