<%= simple_nested_form_for [@loan, @loan_payment], defaults: { wrapper_html: { class: 'form-group' }, input_html: { class: 'form-control' } }, html: { multipart: true, novalidate: true } do |f| %>
  <div class="row">
    <div class="col-md-12">
      <%= hidden_field_tag "memberId", "#{@loan.member.id}" %>
      <%= hidden_field_tag "memberName", @loan.member %>
      <%= f.input :paid_at, input_html: { class: "form-control", id: "paidAtDate" } %>
      <%= f.input :particular, label: "Particular" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-success">
        <div class="panel-heading">
          Client Payments
        </div>
        <div class="panel-body">
          <%= f.input :cp_amount, label: "Cash Payment", input_html: { id: "cpAmountText" } %>
          <%= f.input :wp_amount, label: "Withdraw Payment", input_html: { id: "wpAmountText" } %>
          <%= f.association :savings_account, as: :select, selected: @savings_accounts.first, collection: @savings_accounts, label: "Savings Account (WP)", input_html: { class: "form-control select-select2" } %>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-info">
        <div class="panel-heading">
          Loan Payment
        </div>
        <div class="panel-body">
          <%= f.input :loan_payment_amount, label: "Loan Payment" %>
        </div>
      </div>
      <div class="panel panel-info">
        <div class="panel-heading">
          Savings Deposits
        </div>
        <div class="panel-body">
          <%= f.simple_fields_for :savings_account_transactions do |deposit| %>
            <%= deposit.association :savings_account, as: :hidden %>
            <%= deposit.input :transaction_type, as: :hidden %>
            <%= deposit.input :amount, label: "#{deposit.object.savings_account.savings_type}" %>
          <% end %>
        </div>
      </div>
      <div class="panel panel-info">
        <div class="panel-heading">
          Insurance Deposits
        </div>
        <div class="panel-body">
          <%= f.simple_fields_for :loan_payment_insurance_account_deposits do |deposit| %>
            <%= deposit.association :insurance_account, as: :hidden %>
            <%= deposit.input :amount, label: "#{deposit.object.insurance_account.insurance_type}" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12 form-actions">
          <%= f.submit "Make Payment", class: "btn btn-success" %>
          <%= link_to "Back to Loan", loan_path(@loan), class: "btn btn-info" %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= javascript_include_tag "loan_payments" %>
