<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="row listHeader">
        <div class="col-md-12">
          Loan Payment - <%= "#{@loan_payment.uuid}" %>
          <%= link_to loan_path(@loan), class: "btn btn-xs btn-default", style: "float: right;" do %>
            <span class="glyphicon glyphicon-chevron-left"></span> Back to Loan
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="basicBox">
        <div class="row">
          <div class="col-md-12">
            <table class="table table-bordered">
              <tr>
                <th>Date of Payment</th>
                <td><%= @loan_payment.paid_at.strftime("%b-%d-%Y") %></td>
              </tr>
              <tr>
                <th>Status</th>
                <td><%= @loan_payment.status %></td>
              </td>
              <tr>
                <th>Total Amount</th>
                <td><%= number_to_currency(@loan_payment.amount, unit: "P") %></td>
              </tr>
            </table>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <table class="table table-bordered">
              <tr>
                <th>Cash Amount</th>
                <td><%= number_to_currency(@loan_payment.cp_amount, unit: "P") %></td>
              </tr>
              <tr>
                <th>Withdraw Payment</th>
                <td>
                  <% if @loan_payment.has_wp_amount? %>
                    <%= number_to_currency(@loan_payment.wp_amount, unit: "P") %>
                    <%= "(#{@loan_payment.savings_account})" %>
                  <% else %>
                    none
                  <% end %>
                </td>
              </tr>
            </table>
          </div>
          <div class="col-md-6">
            <table class="table table-bordered">
              <tr>
                <th>Loan Payment Amount</th>
                <td>
                  <%= "#{number_to_currency(@loan_payment.loan_payment_amount, unit: 'P')}" %> 
                  <% if @loan_payment.status == "approved" %>
                    <%= "(Interest: #{number_to_currency(@loan_payment.paid_interest, unit: 'P')} Principal: #{number_to_currency(@loan_payment.paid_principal, unit: 'P')})" %>
                  <% end %>
                </td>
              </tr>
              <% if @loan_payment.has_deposit_amount? %>
                <tr>
                  <th>Deposit</th>
                  <td><%= "#{number_to_currency(@loan_payment.deposit_amount, unit: 'P')} (#{@loan_payment.deposit_savings_account})" %></td>
                </tr>
              <% end %>
              <% @loan_payment.loan_payment_insurance_account_deposits.each do |deposit| %>
                <tr>
                  <th><%= deposit.insurance_account.insurance_type %></th>
                  <td><%= number_to_currency(deposit.amount, unit: "P") %></td>
                </tr>
              <% end %>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
