<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h2>Edit Individual Loan Payment</h2>
      <%= render partial: "loan_payments/form" %>
    </div>
  </div>
</div>

