<div class="row">
  <div class="col-md-12">
    <h1>Loan Payments <small><%= @loan %></small></h1>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-bordered">
      <tr>
        <th>Date</th>
        <th>Status</th>
        <th>WP</th>
        <th>Total</th>
        <th>Actions</th>
      </tr>
      <% @loan.loan_payments.each do |lp| %>
        <tr>
          <td><%= lp.paid_at %></td>
          <td><%= lp.status %></td> 
          <td><%= lp.wp_amount %></td>
          <td><%= lp.amount %></td>
          <td>
            <%= link_to "Approve", loan_loan_payment_approve_path(@loan, lp), class: "btn btn-info btn-xs", data: { confirm: "Are you sure?" } if lp.status == "pending" %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
