<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          New Loan Payment
          <div class="listHeaderActions">
            <%= link_to loan_path(@loan), class: "btn btn-xs btn-default" do %>
              <span class="glyphicon glyphicon-chevron-left"></span> Back to Loan
            <% end %>
          </div>
        </div>
        <div class="panel-body">
          <%= render partial: "loan_payments/form" %>
        </div>
      </div>
    </div>
  </div>
</div>
