.container-fluid
  .row
    .col-md-12
      .panel.panel-default
        .panel-heading
          = "Loan Payment - #{@loan_payment.uuid}"
          .pull-right
            - if @loan_payment.status == "pending" and @loan_payment.is_not_part_of_collection?
              = link_to loan_loan_payment_approve_path(@loan, @loan_payment), class: "btn btn-success btn-xs btn-approve" do
                .fa.fa-check
                Approve
              = link_to edit_loan_loan_payment_path(@loan, @loan_payment), class: "btn btn-xs btn-default" do
                .fa.fa-pencil
                Edit
              = link_to loan_loan_payment_path(@loan, @loan_payment), class: "btn btn-xs btn-danger", confirm: "Are you sure?", method: :delete do
                .fa.fa-times
                Delete
            - elsif @loan_payment.is_part_of_collection?
              = link_to collection_payment_path(@loan_payment.collection_payment), class: "btn btn-default btn-xs" do
                %span.glyphicon.glyphicon-arrow-up
                Go to Collection
            - if @loan_payment.status == 'approved' and @loan_payment.is_not_part_of_collection?
              = link_to reverse_loan_loan_payment_path(@loan, @loan_payment),class: "btn btn-xs btn-danger", confirm: "Are you sure?" do
                .fa.fa-times
                Reverse
            = link_to loan_path(@loan), class: "btn btn-xs btn-default" do
              %span.glyphicon.glyphicon-chevron-left
              Back to Loan
        .panel-body
          %table.table.table-bordered
            %tr
              %th Date of Payment
              %td= @loan_payment.paid_at.strftime("%b-%d-%Y")
            %tr
              %th Status
              %td= @loan_payment.status
            %tr
              %th Total Amount
              %td= number_to_currency(@loan_payment.amount, unit: "P")
          .row
            .col-md-6
              %table.table.table-bordered
                %tr
                  %th Cash Amount
                  %td= number_to_currency(@loan_payment.cp_amount, unit: "P") 
                %tr
                  %th Withdraw Payment
                  %td
                    - if @loan_payment.has_wp_amount?
                      = number_to_currency(@loan_payment.wp_amount, unit: "P")
                      = "(#{@loan_payment.savings_account})"
                    - else
                      none
            .col-md-6
              %table.table.table-bordered
                %tr
                  %th Loan Payment Amount
                  %td
                    = "#{number_to_currency(@loan_payment.loan_payment_amount, unit: 'P')}"
                    - if @loan_payment.status == "approved"
                      = "(Interest: #{number_to_currency(@loan_payment.paid_interest, unit: 'P')} Principal: #{number_to_currency(@loan_payment.paid_principal, unit: 'P')})"
                - if @loan_payment.has_deposit_amount?
                  - @loan_payment.savings_account_transactions.each do |savings_account_transaction|
                    %tr
                      %th= savings_account_transaction.savings_account.savings_type
                      %td= "#{number_to_currency(savings_account_transaction.amount, unit: 'P')}"
                - @loan_payment.loan_payment_insurance_account_deposits.each do |deposit|
                  %tr
                    %th= deposit.insurance_account.insurance_type
                    %td= number_to_currency(deposit.amount, unit: "P")
