<section class="content-header">
  <h1>Editing Holiday</h1>
</section>
<section class="content">
  <%= render 'form' %>

  <%= link_to 'Show', @holiday %> |
  <%= link_to 'Back', holidays_path %>
</section>
