<section class="content-header">
  <p id="notice"><%= notice %></p>
  <h1>Listing Holidays</h1>
  <ol class="breadcrumb">
    <li>
      <%= link_to new_holiday_path, class: 'btn btn-primary bg-blue', style: 'color: #fff;' do %>
        <span class="fa fa-plus">
        </span>
        New Holiday
      <% end %>
    </li>
  </ol>
</section>
<section class="content">
  <table class="ui small teal table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Holiday at</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @holidays.each do |holiday| %>
        <tr>
          <td><%= holiday.name %></td>
          <td><%= holiday.holiday_at %></td>
          <td><%= link_to 'Show', holiday %></td>
          <td><%= link_to 'Edit', edit_holiday_path(holiday) %></td>
          <td><%= link_to 'Destroy', holiday, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>
