.remodal#modal-confirm{ data: { remodal_id: "modal-approve" } }
  %div
    .row
      .col-md-4
        %label
          Closing Month
        = select_tag :closing_month, options_for_select([["January", 1], ["February", 2], ["March", 3], ["April", 4], ["May", 5], ["June", 6], ["July", 7], ["August", 8], ["September", 9], ["October", 10], ["November", 11], ["December", 12]], Date.today.month), id: "closing-month-select", class: "form-control"
      .col-md-4
        %label
          Account Type
        = select_tag :savings_type_id, options_from_collection_for_select(SavingsType.where(id: Settings.savings_types_for_tax_and_interest), :id, :to_s), id: "savings-type-select", class: "form-control", include_blank: 'All'
      .col-md-4
        %label
          Special
        %br
        = check_box_tag :special, 'special', false, checked: false, class: 'switch', id: 'special-flag'
  .message
  #modal-controls.controls
    %hr
      %button#btn-confirm.ui.green.button
        .fa.fa-check
        Generate
      %button#btn-cancel.ui.default.button.reject-btn
        .fa.fa-times
        Cancel
