.remodal#modal-confirm-void{ data: { remodal_id: "modal-confirm-void" } }
  %h3
    Are you sure you want to void this record?
  .message
  .controls
    %hr
      %button.btn-confirm.ui.green.button
        .fa.fa-check
        Yes
      %button.btn-cancel.ui.default.button.reject-btn
        .fa.fa-times
        No
