- branches.each do |branch|
  .panel.panel-info
    .panel-heading
      %span.fa.fa-home
      = branch
      .listHeaderActions
        = link_to branch_path(branch), class: "btn btn-xs btn-default" do
          %span.glyphicon.glyphicon-search
          View
    .panel-body
      %table.table.table-bordered
        %thead
          %tr
            %th Center
            %th Amount
            %th Actions
          - branch.centers.each do |center|
            %tr
              %td= center
              %td
                - if center.pending_collection_payments.count == 0
                  No pending collections
                - else
                  = number_to_currency(center.pending_collection_payments.first.amount, unit: "P")
              %td
                - if center.pending_collection_payments.count == 0
                  = link_to new_collection_payment_path(center_id: center.id), class: "btn btn-default btn-xs" do
                    %span.fa.fa-plus
                    New Payment Collection
                - else
                  = link_to collection_payment_path(center.pending_collection_payments.first), class: "btn btn-default btn-xs" do
                    %span.glyphicon.glyphicon-search
                    Show
                  = link_to edit_collection_payment_path(center.pending_collection_payments.first), class: "btn btn-default btn-xs" do
                    %span.glyphicon.glyphicon-pencil
                    Edit
                  = link_to collection_payment_path(center.pending_collection_payments.first), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger btn-xs" do
                    %span.glyphicon.glyphicon-cross
                    Delete
