.well
  - if @center_transfer_record.pending?
    = link_to edit_transfer_center_transfer_record_path(@center_transfer_record), class: "btn btn-app" do
      .fa.fa-pencil
      Edit
    = link_to transfer_center_transfer_record_path(@center_transfer_record), class: "btn btn-app bg-red", method: :delete, data: { confirm: "Are you sure?" } do
      .fa.fa-times
      Delete
    = link_to "#", class: "btn btn-app bg-green", id: "btn-approve" do
      .fa.fa-check
      Approve
