.nested-fields
  .row
    .col-md-3
      = f.association :accounting_code, input_html: { class: "form-control select-select2" }
    .col-md-3
      = f.input :post_type, as: :select, collection: JournalEntry::POST_TYPES, input_html: { class: "form-control" }
    .col-md-3
      = f.input :amount, input_html: { class: "form-control" }
    .col-md-3
      %label
        Actions
      %br
      = link_to_remove_association f, class: "btn btn-danger" do
        .fa.fa-times
        Remove
