= simple_form_for [:transfer, center_transfer_record] do |f|
  .row
    .col-md-6
      = f.association :center, input_html: { class: "form-control select-select2" }
    .col-md-6
      = f.input :file, as: :file
  %hr
  .row
    .col-md-12
      %h4
        Entries
      #center_transfer_record_journal_entries
        = f.simple_fields_for :center_transfer_record_journal_entries do |ff|
          = render 'center_transfer_record_journal_entry_fields', f: ff
        .links
          %hr
          = link_to_add_association f, :center_transfer_record_journal_entries, class: "btn btn-info" do
            .fa.fa-plus
            Add Entry
        %hr
  .row
    .col-md-12
      = f.input :particular, input_html: { class: "form-control" }
  .row
    .col-md-12
      .form-actions
        = button_tag type: "submit", class: "btn btn-primary" do
          .fa.fa-check
          Save Record
        - if center_transfer_record.new_record?
          = link_to transfer_center_transfer_records_path, class: "btn btn-default" do
            .fa.fa-times
            Cancel
        - else
          = link_to transfer_center_transfer_record_path(center_transfer_record), class: "btn btn-default" do
            .fa.fa-times
            Cancel
