%table.table.table-bordered
  %thead
    %tr
      %th From Branch
      %th Status
      %th Actions
  %tbody
    - @center_transfer_records.each do |center_transfer_record|
      %tr
        %td #{center_transfer_record.data['branch']}
        %td #{center_transfer_record.status}
        %td
          = link_to transfer_center_transfer_record_path(center_transfer_record) do
            .fa.fa-search
            Details
