%table.table.table-bordered
  %thead
    %tr
      %th{width: "20%"} Loan Product
      %th.acc-curr{width: "20%"} Principal Balance
      %th.acc-curr{width: "20%"} Interest Balance
      %th{width: "20%"} Interest Rate
      %th{width: "20%"} Num Installments
  %tbody
    - member_data['loans'].each do |loan_data|
      %tr
        %td #{LoanProduct.find(loan_data['loan_product_id'])}
        %td.curr #{number_to_currency(loan_data['principal_balance'].to_f, unit: "")}
        %td.curr #{number_to_currency(loan_data['interest_balance'].to_f, unit: "")}
        %td #{loan_data['interest_rate']} %
        %td #{loan_data['num_installments']}
