%table.table.table-bordered
  %thead
    %tr
      %th{width: "20%"} Savings Type
      %th.acc-curr{width: "70%"} Balance
  %tbody
    - member_data['savings'].each do |savings_data|
      %tr
        %td #{SavingsType.find(savings_data['savings_type_id'])}
        %td.curr #{number_to_currency(savings_data['balance'], unit: "")}
