%table.table.table-bordered
  %thead
    %tr
      %th{width: "20%"} Insurance Type
      %th.acc-curr{width: "70%"} Balance
  %tbody
    - member_data['insurance'].each do |insurance_data|
      %tr
        %td #{InsuranceType.find(insurance_data['insurance_type_id'])}
        %td.curr #{number_to_currency(insurance_data['balance'], unit: "")}
