%table.table.table-bordered
  %thead
    %tr
      %th{width: "20%"} Equity Type
      %th.acc-curr{width: "70%"} Balance
  %tbody
    - member_data['equity'].each do |equity_data|
      %tr
        %td #{EquityType.find(equity_data['equity_type_id'])}
        %td.curr #{number_to_currency(equity_data['balance'], unit: "")}
