%table.table.table-bordered
  %thead
    %th{width: "60%"}
      Name
    %th{width: "10%"}
      Date of Birth
    %th{width: "10%"}
      Age
    %th{width: "20%"}
      Relationship
  %tbody
    - beneficiaries.each do |beneficiary|
      %tr
        %td 
          #{beneficiary['last_name']}, #{beneficiary['first_name']} #{beneficiary['middle_name']}
        %td
          #{beneficiary['date_of_birth']}
        %td
          #{age(beneficiary['date_of_birth'].to_date)}
        %td
          #{beneficiary['relationship']}
