%table.table.table-bordered
  %thead
    %th{width: "60%"}
      Name
    %th{width: "10%"}
      Date of Birth
    %th{width: "10%"}
      Age
    %th{width: "20%"}
      Educational Attainment
  %tbody
    - legal_dependents.each do |legal_dependent|
      %tr
        %td 
          #{legal_dependent['last_name']}, #{legal_dependent['first_name']} #{legal_dependent['middle_name']}
        %td
          #{legal_dependent['date_of_birth']}
        %td
          #{age(legal_dependent['date_of_birth'].to_date)}
        %td
          #{legal_dependent['educational_attainment']}
