%h4 Total for Loans

%table.table.table-bordered
  %thead
    %tr
      %th Loan Product
      %th.acc-curr Principal
      %th.acc-curr Interest
  %tbody
    - @center_transfer_record.data['totals']['loan_products'].each do |loan_data|
      %tr
        %td #{loan_data['loan_product']}
        %td.curr #{number_to_currency(loan_data['total_principal_balance'], unit: "")}
        %td.curr #{number_to_currency(loan_data['total_interest_balance'], unit: "")}

%h4 Total for Savings

%table.table.table-bordered
  %thead
    %tr
      %th Savings Type
      %th.acc-curr Balance
  %tbody
    - @center_transfer_record.data['totals']['savings'].each do |savings_data|
      %tr
        %td #{savings_data['savings_type']}
        %td.curr #{savings_data['total_amount']}

%h4 Total for Insurance

%table.table.table-bordered
  %thead
    %tr
      %th Insurance Type
      %th.acc-curr Balance
  %tbody
    - @center_transfer_record.data['totals']['insurance'].each do |insurance_data|
      %tr
        %td #{insurance_data['insurance_type']}
        %td.curr #{insurance_data['total_amount']}

%h4 Total for Equity

%table.table.table-bordered
  %thead
    %tr
      %th Equity Type
      %th.acc-curr Balance
  %tbody
    - @center_transfer_record.data['totals']['equity'].each do |equity_data|
      %tr
        %td #{equity_data['equity_type']}
        %td.curr #{equity_data['total_amount']}
