%section.content-header
  %h1
    Center Transfer Record
  %ol.breadcrumb
    %li{:style => "margin-top: -10px;"}
      = link_to new_transfer_center_transfer_record_path, id: 'new-record', style: "color: #fff;", class: 'btn btn-primary bg-blue normal' do
        .fa.fa-plus
        Generate New Center Transfer Record

%section.content
  .box
    .box-body
      - if @center_transfer_records.size > 0
        = render partial: "list"
      - else
        No records found
