%section.content-header
  %h1
    Center Transfer of Members to Center #{@center_transfer_record.center} from #{@center_transfer_record.data['branch']}
  %ol.breadcrumb
    %li
      = link_to transfer_center_transfer_records_path do
        .fa.fa-arrow-left
        Back to Center Transfer Records

%section.content
  .box
    .box-body
      = render partial: "actions"

      %h3
        Accounting Entry
      = render partial: "shared/voucher", locals: { voucher: @voucher }

      %h3
        Totals
      = render partial: "totals"

      %h3
        Members
      - @center_transfer_record.data['members'].each do |member_data|
        %h4
          .label.label-info
            #{member_data['member']['last_name']}, #{member_data['member']['first_name']} #{member_data['member']['middle_name']}
        %h4
          Beneficiaries 
        = render partial: "member_beneficiaries", locals: { beneficiaries: member_data['member']['beneficiaries'] }

        %h4
          Legal Dependents
        = render partial: "member_legal_dependents", locals: { legal_dependents: member_data['member']['legal_dependents'] }

        %h4
          Loans
        = render partial: "member_loans", locals: { member_data: member_data }

        %h4
          Savings
        = render partial: "member_savings", locals: { member_data: member_data }

        %h4
          Insurance
        = render partial: "member_insurance", locals: { member_data: member_data }

        %h4
          Equity
        = render partial: "member_equity", locals: { member_data: member_data }

#parameters{ data: { id: "#{@center_transfer_record.id}" } }
= render partial: "modal_approve"
= javascript_include_tag "transfers/CenterTransferRecord.Show"
:javascript
  $(document).ready(function() {
    CenterTransferRecord.Show.init();
  });
