%section.content-header
  %h1
    Invalid Memberships

%section.content
  .box
    .box-body
      - if @records.size > 0
        %table.table.table-bordered
          %thead
            %tr
              %th
                Member
              %th
                Type
          %tbody
            - @records.each do |record|
              %tr
                %td
                  = link_to record[:member].full_name, member_path(record[:member])
                %td
                  #{record[:membership_type]}
      - else
        No records found
