%section.content-header
  %h1
    Missing Insurance Transactions

%section.content
  .box
    .box-body
      %table.table.table-bordered
        %thead
          %tr
            %th
            %th ID
            %th Insurance Type
            %th Trans. Type
            %th.acc-curr Amount
            %th Date
        %tbody
          - @insurance_account_transactions.each_with_index do |iat, i|
            %tr
              %td
                #{i + 1}
              %td
                #{iat.id}
              %td
                #{iat.try(:insurance_account).try(:insurance_type)}
              %td
                #{iat.transaction_type}
              %td.curr
                #{number_to_currency(iat.amount, unit: "")}
              %td
                #{iat.transacted_at.strftime("%B %d, %Y")}
