%section.content-header
  %h1
    Member Recognition Dates

%section.content
  %table.table.table-bordered
    %thead
      %tr
        %th{width: "5%"}
        %th Identification Number
        %th Name
        %th MFI Status
        %th Insurance Status
        %th Recognition Date
        - @insurance_types.each do |insurance_type|
          %th.accounting-curr #{insurance_type.code}
    %tbody
      - @members.each_with_index do |member, i|
        %tr
          %td #{i + 1}
          %td
            = link_to member_path(member), target: '_blank' do
              #{member.identification_number}
          %td
            = link_to member_path(member), target: '_blank' do
              #{member.full_name}
          %td
            #{member.status}
          %td
            #{member.insurance_status}
          %td
            #{member.recognition_date_formatted}
          - member.insurance_accounts.order('insurance_type_id ASC').each do |insurance_account|
            %td.curr
              #{link_to(number_to_currency(insurance_account.balance, unit: ""), insurance_account_path(insurance_account), target: '_blank')}  
