%section.content-header
  %h1
    Similar Member Names

%section.content
  - @data.each do |data|
    %h2
      %label.label.label-info
        #{data[:last_name]}, #{data[:first_name]} (#{data[:count]})
    .box.box-info
      .box-body
        %table.table.table-bordered
          %thead
            %tr
              %th Identification Number
              %th Name
              %th Center
              %th Status
          %tbody
            - data[:members].each do |member|
              %tr
                %td #{member.identification_number}
                %td
                  = link_to member_path(member), target: '_blank' do
                    #{member.full_name}
                %td
                  #{member.center}
                %td
                  #{member.status}
