.box
  .box-body
    %table.table.table-bordered.table-responsive
      %thead
        %tr
          %th #
          %th Total equity amount
          %th Total interest amount
          %th Equity Rate
          %th Year
          %th Status
          %th Action
      %tbody
      - @list_of_share_capital_collection.each_with_index do |lscc, i|
        %tr
          %td #{i + 1}
          %td #{lscc[:total_equity_amount]}
          %td #{lscc[:total_interest_amount]}
          %td #{lscc[:equity_rate]}
          %td #{lscc[:collection_date]}
          %td #{lscc[:status]}
          %td
            = link_to accounting_interest_on_share_capital_collection_path(lscc.id), class: "btn btn-default glymphicon glymphicon-search" do
              Details
          
