%section.content-header
  %h1 Interest on Share Capital
  %ol.breadcrumb
    %li
      = link_to "#", id: "btn-action", style: 'color: #fff', class: "btn btn-primary" do 
        New Transaction
%section.content

  - if @list_of_share_capital_collection.size == 0
    %p
      No records found
  - else
    = render partial: "interest_on_sharecapital", locals: { list_of_share_capital_collection: @list_of_share_capital_collection  } 
/ #share-capital-interest-section

#modal-transaction.modal.fade.modal-fade
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{type:'button', data:{dismiss:'modal'}}
          %span{aria:{hidden:'true'}}
            %i.fa.fa-close
          %span.sr-only Close
        %h4.modal-title
          New Transaction
      .modal-body
        .row
          .col-md-6
            %label
              Rate
            = text_field_tag :equity_interest, 0.00, id: "equity-interest", class: 'form-control'
            %br
            %label
              Year
              /= text_field_tag :end_date, current_month_end, class: 'form-control datepick', id: 'end-date'
              = select_tag :current_year, options_for_select(((@current_year - 5)..(@current_year + 5)), @current_year), class: "form-control select-select2", id:"year"
      .modal-footer
        %button#btn-generate.btn.btn-default{type:'button', data:{dismiss:'modal'}} Generate
        %button.btn.btn-default{type:'button', data:{dismiss:'modal'}} Close
        /%button#btn-save.btn.btn-default{type:'button'} Close


= render partial: "accounting/pages/templates/share_capital_interest"
= javascript_include_tag "accounting/InterestOnShareCapital"

:javascript
  $(document).ready(function() {
   InterestOnShareCapital.init();
  });





