%span
  %center
    %p
      #{Settings.company_name}
      %br
      %small
        #{Settings.company_address}
      %br
        Vat Registration Tin Number:
        #{Settings.tin_number}
      %h4
        Interest_on Share Capital
        %small #{(@interest_on_share_capital_collection.collection_date).year}



%table.table.table-bordered.table-responsive 
  %tbody
    - @data[:member_details_group].each do |mdg|
      %tr
        %th{:colspan => 8}
          %h4 #{mdg[:center_name]}
      %tr
        %th #
        %th Member ID
        %th Member ID number
        %th Total Shares
        %th Interest Amount
        %th Savings
        %th CBU
        %th Signature
      - mdg[:center_details].each_with_index do |cdet, i|

        %tr
          %td #{i + 1}
          %td #{cdet[:member_id]}
          %td #{cdet[:member_id_no]}
          %td #{cdet[:total_share]}
          %td #{cdet[:total_average_share]}
          %td #{cdet[:total_savings_amount]}
          %td #{cdet[:total_cbu_amount]}
          %td

      %tr
        %th{:colspan => 3}
          %h6 TOTAL
        %th
          %h6 #{mdg[:total_share]}
        %th
          %h6 #{mdg[:total_ave_details]}
        %th
          %h6 #{mdg[:total_savings_details]}
        %th
          %h6 #{mdg[:total_cbu_details]}
      %tr
        %td{:colspan => 8}

    %tr
      %th{:colspan => 3}
        %h5 Grand Total
      %th
        #{number_to_currency(@data[:total_interest], unit: "P")}
      %th
        #{number_to_currency(@data[:total_interest_share], unit: "P")}
      %th
        #{(@interest_on_share_capital_collection.savings_account_amount)}
      %th
        #{(@interest_on_share_capital_collection.cbu_account_amount)}
        
