#parameters{ data: {id: @data[:iosccr_id]} } 
%section.content-header 
  %h1 Interest on Share Capital 
  %ol.breadcrumb 
    = link_to accounting_interest_on_share_capital_collections_path, class: "btn btn-primary", style: 'color: #fff' do 
      .fa.fa-arrow-left 
      Back 
%section.content 
  .well 
    - if @interest_on_share_capital_collection.status == "pending"
      = link_to "#", class: "btn btn-app bg-green", id: 'approved-record' do
        .fa.fa-check
        Approved
      = link_to "#", class: "btn btn-app bg-green", id: 'edit-record' do
        .fa.fa-check
        Edit
    
    = link_to "#", class: "btn btn-app bg-green", id: "btn-download-excel" do
      .fa.fa-file
      Excel


    = link_to "#", class: "btn btn-app bg-green", id: "btn-download-pdf" do
      .fa.fa-file
      PDF
%section.content
  %table.table.table-bordered.table-responsive
    = form_tag :interest_on_share_capital_data , method: 'GET' do |a|       
      %tr
        %th
          %label Branch
          = select_tag :branch_id, options_from_collection_for_select(@branches, :id, :name, @branch.try(:id)), class: "form-control select-select2", id: "branch-select", prompt: "-- SELECT --"
        %th
          %label 
            Center
          = select_tag :center_id, options_from_collection_for_select([], :id, :name, @center.try(:id)), class: "form-control select-select2", id: "center-select" , prompt: " -- SELECT -- "
        %th
          %label 
            Start Date
          = text_field_tag :start_date, Time.now.strftime("%Y-01-01"), class: "form-control datepick", id: "start-date"
        %th
          %label 
            End Data
          = text_field_tag :end_date, Time.now.strftime("%Y-12-31"), class: "form-control datepick", id: "end-date"
        %th
          %label 
            Actions
          %br 
            = button_tag :submit , class: 'btn btn-primary' , id: 'btn-generate' do
              .fa.fa-search
 
        %th
          %label 
            Center
          = select_tag :center_id, options_from_collection_for_select([], :id, :name, @center.try(:id)), class: "form-control select-select2", id: "center-select" , prompt: " -- SELECT -- "
        
  %small  
    %table.table.table-bordered.table-responsive
      %tr
        %th Total Share
        %td #{number_to_currency(@data[:total_interest], unit: "P")}
      %tr
        %th Total Interest Share
        %td #{number_to_currency(@data[:total_interest_share], unit: "P")}
      %tr
        %th Rate
        %td #{@data[:interest_rate]} %
      %tr
        %th Year
        %td #{(@interest_on_share_capital_collection.collection_date).year}

      %tr
        %th Total Distribute Savings Amount
        %td #{(@interest_on_share_capital_collection.savings_account_amount)}
      
      
      %tr
        %th Total Distribute CBU Amount
        %td #{(@interest_on_share_capital_collection.cbu_account_amount)}
      
      %tr
        %th Status
        %td #{@data[:status]}
    %table.table.table-bordered.table-responsive

      %tbody
        - @data[:member_details_group].each_with_index do |mdg|
          %tr
            %th{:colspan => 19}
              %h2 #{mdg[:center_name]}
          %tr
            %th #
            %th Member Id
            %th Name  
            %th Jan.
            %th Feb.
            %th Mar.
            %th Apr.
            %th May.
            %th June.
            %th July.
            %th Aug.
            %th Sept.
            %th Oct.
            %th Nov.
            %th Dec.
            %th Total Shares
            %th Interest Amount
            %th Savings
            %th CBU
            
          - mdg[:center_details].each.with_index do |cdet, i|

            %tr
              %td #{i + 1}
              %td #{cdet[:member_id]}
              %td #{cdet[:member_name]}
              - cdet[:equity_details].each do |edet|
                %td #{edet[:amount]}
              %td #{cdet[:total_share]}
              %td #{cdet[:total_average_share]}
              %td #{cdet[:total_savings_amount]}
              %td #{cdet[:total_cbu_amount]}
          %tr
            %th{:colspan => 15} 
              %h6 TOTAL 
            %th 
              %h6 #{mdg[:total_share]}
            %th 
              %h6 #{mdg[:total_ave_details]}
            %th 
              %h6 #{mdg[:total_savings_details]}
            %th 
              %h6 #{mdg[:total_cbu_details]}
          %tr
            %td{:colspan => 19}
          
        
          


  = render partial: "shared/voucher", locals: { voucher: @voucher }

#modal-edit-transaction.modal.fade.modal-fade
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{type:'button', data:{dismiss:'modal'}}
          %span{aria:{hidden:'true'}}
            %i.fa.fa-close
          %span.sr-only Close
        %h4.modal-title
          Edit Transaction
      .modal-body
        #loader
          Loading...
        #user-input
          .row
        %button.close{type:'button', data:{dismiss:'modal'}}
          %label
            Rate
          = text_field_tag :equity_interest, 0.00, id: "equity-interest", class: 'form-control'
      .modal-footer
        %button#btn-edit.btn.btn-default{type:'button'} Save
= javascript_include_tag "accounting/InterestOnShareCapital"
:javascript
  $(document).ready(function() {
    InterestOnShareCapital.init();
  });
