%table.ui.green.small.table
  %thead
    %tr
      %th Timestamp
      %th User
      %th Username
      %th Role
      %th{width: "50%"} Content
      %th Ref ID
  %tbody
    - user_activities.each do |user_activity|
      %tr
        %td #{user_activity.created_at.strftime("%b %d, %Y %H:%M:%S")}
        %td #{user_activity.user}
        %td #{user_activity.username}
        %td #{user_activity.role}
        %td #{user_activity.content}
        %td #{user_activity.record_reference_id}
