%section.content-header
  %h1 User Activities
%section.content
  = render partial: "filter"
  - if @user_activities.size > 0
    = render partial: "list", locals: { user_activities: @user_activities }
    = paginate @user_activities
  - else
    No user_activities found.
