= form_tag monitoring_daily_reports_path, html: { novalidate: true }, method: "GET", defaults: { wrapper_html: { class: 'form-group' }, input_html: { class: 'form-control simple_form' } } do
  .row
    .col-md-10
      %label
        As Of
      %input{ type: "text", class: "datepick form-control", name: "as_of", placeholder: "Report Date", id: "filter-start-date", value: "#{@as_of}" }
    .col-md-2
      %label
        Actions
      %br
      = button_tag :submit, class: 'btn btn-primary' do
        .fa.fa-search
        Search
