%table.table.table-bordered.table-responsive
  %thead
    %tr
      %th.stats Active Loaners
      %th.stats Pure Savers
      %th.stats Active Members
      %th.acc-curr Portfolio
      %th.acc-curr Past Due
      %th.acc-curr PAR Amt
      %th.stats PAR Rate
      %th.stats RR (P)
      %th.stats As Of
      %th Actions
  %tbody
    - daily_reports.each do |daily_report|
      %tr
        %td.stats #{daily_report.member_stats["active_loaners_total"]}
        %td.stats #{daily_report.member_stats["pure_savers_total"]}
        %td.stats #{daily_report.member_stats["active_members_total"]}
        %td.curr #{number_to_currency(daily_report.repayments["total_portfolio"].to_f, unit: "")}
        %td.curr #{number_to_currency(daily_report.repayments["total_amt_past_due"].to_f, unit: "")}
        %td.curr #{number_to_currency(daily_report.repayments["total_par_amount"].to_f, unit: "")}
        %td.stats #{daily_report.repayments["total_par_rate"]}%
        %td.stats #{daily_report.repayments["total_principal_rr"]}%
        %td.stats #{daily_report.as_of.strftime("%B %d, %Y")} #{daily_report.created_at.hour.to_s.rjust(2, "0")}:#{daily_report.created_at.min.to_s.rjust(2, "0")}
        %td
          = link_to monitoring_daily_report_path(daily_report) do
            .fa.fa-search

= paginate @daily_reports
