%table.table.table-bordered.table-responsive
  %thead
    %tr
      %th Name
      %th.stats Active Loaners
      %th.stats Active Loans
      %th.acc-curr Portfolio
      %th.acc-curr Past Due Amount
      %th.acc-curr PAR Amount
      %th.stats Par Rate
      %th.stats RR
  %tbody
    - daily_report.loan_product_stats["entries"].each do |loan_product_data|
      - if loan_product_data["total_num_loans"] > 0
        %tr
          %td #{loan_product_data["loan_product"]}
          %td.stats #{loan_product_data["total_num_members"].to_i}
          %td.stats #{loan_product_data["total_num_loans"].to_i}
          %td.curr #{number_to_currency(loan_product_data["total_portfolio"], unit: "")}
          %td.curr #{number_to_currency(loan_product_data["total_amt_past_due"], unit: "")}
          %td.curr #{number_to_currency(loan_product_data["total_par_amount"], unit: "")}
          %td.stats #{loan_product_data["total_par_rate"]}%
          %td.stats #{loan_product_data["total_principal_rr"]}%
  %tfoot
    %tr
      %th Total
      %th.stats #{daily_report.loan_product_stats["total_num_loans"].to_i}
      %th.stats #{daily_report.loan_product_stats["total_num_members"].to_i}
      %th.curr #{number_to_currency(daily_report.loan_product_stats["total_portfolio"], unit: "")}
      %th.curr #{number_to_currency(daily_report.loan_product_stats["total_amt_past_due"], unit: "")}
      %th.curr #{number_to_currency(daily_report.loan_product_stats["total_par_amount"], unit: "")}
      %th.stats #{daily_report.loan_product_stats["total_par_rate"]}%
      %th.stats #{daily_report.loan_product_stats["total_principal_rr"]}%
