%table.table.table-bordered.table-responsive
  %thead
    %tr
      %th
      %th.stats Male
      %th.stats Female
      %th.stats Others
      %th.stats Total
  %tbody
    %tr
      %th Pure Savers
      %td.stats #{daily_report.member_stats["pure_savers_male"]}
      %td.stats #{daily_report.member_stats["pure_savers_female"]}
      %td.stats #{daily_report.member_stats["pure_savers_others"]}
      %td.stats #{daily_report.member_stats["pure_savers_total"]}
    %tr
      %th Active Loaners
      %td.stats #{daily_report.member_stats["active_loaners_male"]}
      %td.stats #{daily_report.member_stats["active_loaners_female"]}
      %td.stats #{daily_report.member_stats["active_loaners_others"]}
      %td.stats #{daily_report.member_stats["active_loaners_total"]}
    %tr
      %th Active Members
      %td.stats #{daily_report.member_stats["active_members_male"]}
      %td.stats #{daily_report.member_stats["active_members_female"]}
      %td.stats #{daily_report.member_stats["active_members_others"]}
      %td.stats #{daily_report.member_stats["active_members_total"]}
    %tr
      %th Pending Members
      %td.stats #{daily_report.member_stats["pending_members_male"]}
      %td.stats #{daily_report.member_stats["pending_members_female"]}
      %td.stats #{daily_report.member_stats["pending_members_others"]}
      %td.stats #{daily_report.member_stats["pending_members_total"]}
