#modal-loading.modal.fade.modal-fade
  .modal-dialog
    .modal-content
      .modal-header
        %h4.modal-title
          Sending to Server
      .modal-body
        .message
          Loading...
