- so_data.each do |so_data|
  %h2
    .label.label-info
      #{so_data[:name]}
  %table.table.table-bordered.table-responsive
    %thead
      %tr
        %th Name
        %th.stats Active Loaners
        %th.stats Active Loans
        %th.acc-curr Portfolio
        %th.acc-curr Past Due Amount
        %th.acc-curr PAR Amount
        %th.stats Par Rate
        %th.stats RR
    %tbody
      - so_data[:loan_products].each do |loan_product_data|
        %tr
          %td #{loan_product_data[:loan_product]}
          %td.stats #{loan_product_data[:total_num_members].to_i}
          %td.stats #{loan_product_data[:total_num_loans].to_i}
          %td.curr #{number_to_currency(loan_product_data[:total_portfolio], unit: "")}
          %td.curr #{number_to_currency(loan_product_data[:total_amt_past_due], unit: "")}
          %td.curr #{number_to_currency(loan_product_data[:total_par_amount], unit: "")}
          %td.stats #{loan_product_data[:total_par_rate]}%
          %td.stats #{loan_product_data[:total_principal_rr]}%
      %tr
        %th Total
        %th.stats #{so_data[:total_num_members].to_i}
        %th.stats #{so_data[:total_num_loans].to_i}
        %th.curr #{number_to_currency(so_data[:total_portfolio], unit: "")}
        %th.curr #{number_to_currency(so_data[:total_amt_past_due], unit: "")}
        %th.curr #{number_to_currency(so_data[:total_par_amount], unit: "P")}
        %th.stats #{so_data[:total_par_rate]}%
        %th.stats #{so_data[:total_principal_rr]}%
