%section.content-header
  %h1
    Monitoring: Daily Reports

%section.content
  .well 
    = render partial: "filter"
  .box
    .box-body
      - if @daily_reports.size > 0
        = render partial: "list", locals: { daily_reports: @daily_reports }
      - else
        No reports found.
