%section.content-header
  %h1
    Daily Report
    %small
      #{@daily_report.as_of.strftime("%B %d, %Y")}
  %ol.breadcrumb
    %li{:style => "margin-top: -10px;"}
      = link_to "#", id: 'btn-send', style: "color: #fff;", class: 'btn btn-primary bg-blue normal' do
        .fa.fa-upload
        Send to HO

%section.content
  %h2 Member Count
  .box
    .box-body
      = render partial: "member_count", locals: { daily_report: @daily_report }

  %h2 Loan Products
  .box
    .box-body
      = render partial: "loan_product_stats", locals: { daily_report: @daily_report }

  %h2 S.O. Data
  .box
    .box-body
      = render partial: "so_data", locals: { so_data: @so_data }

#parameters{ data: { id: @daily_report.id } }
= render partial: "modal_loading"
= render partial: "shared/errors_template"
= javascript_include_tag "monitoring/daily_reports/Show"
:javascript
  $(document).ready(function() {
    Show.init();
  });
