%section.content-header
  %h1 Withdrawals for Time Deposits
  %ol.breadcrumb
    %li
      = link_to "#", id: "btn-action", style: 'color: #fff', class: "btn btn-primary" do
        New Transaction
%section.content
  %table.table.table-bordered.table-responsive
    %thead
      %tr
        %th #
        %th Member Name
        %th Amount
        %th Status
        %th Action
    %tbody
      - @data.each.with_index do |d, i|
        %tr
          %td #{i + 1}
          %td #{SavingsAccount.find(d.savings_accounts_id).member.full_name}
          %td #{SavingsAccountTransaction.find(d.savings_transactions).amount}
          %td #{d.status}
          %td 
            = link_to adjustments_time_deposits_operation_detail_path(d.id), class: "btn btn-xs btn-default" do
              Details
    

#modal-transaction.modal.fade.modal-fade
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{type:'button', data:{dismisal:'modal'}}
          %span{aria:{hidden:'true'}}
            %i.fa.fa-close
          %span.sr-only Close
        %h4.modal-title
          New Transaction
        .modal-body
          .row
            .col-md-6
              %label
                Date
              = text_field_tag :start_date, current_month_start, class: 'form-control datepick', id: 'start-date'
        .modal-footer
          %button#btn-generate.btn.btn-default{type:'button'} Generate



= javascript_include_tag "CashManagementTimeDepositWithdrawal"

:javascript
  $(document).ready(function(){
    CashManagementTimeDepositWithdrawal.init();
  });
