%section.content-header
  %h1
    Time Deposit Withdrawal Interest

  %ol.breadcrumb
    - @data.each do |d|
      %li
        = link_to "#", id: "btn-approved", style: 'color: #fff', class: "btn btn-primary" do
          Approved
      %li
        = link_to adjustments_time_deposits_operation_detail_path(d.id), method: :delete, class: "btn btn-danger",style: 'color: #fff' , data: { confirm: "Are you sure?"}  do
          Delete


%section.content
  %table.table.table-bordered.table-responsive
    %thead
      %tr
        %th #
        %th Member Name
        %th Amount
        %th Interest Amount
        %th Total Withdrawable Amount
    %tbody
      - @data.each.with_index do |a, i|
        
        %input#savings_trans_id{:type => "hidden", :value => a.id}
        %tr
          %td
            #{i + 1}
          %td
            #{SavingsAccount.find(a.savings_accounts_id).member.full_name}
          %td
            #{SavingsAccountTransaction.find(a.savings_transactions).amount}
          %td
            #{a.total_interest}
          %td
            #{a.total_withdrawal_amount}
  
  .well
    .row
      .col-md-5
        %label
          Update Particular
        
        = text_area_tag :particular, "jef" ,id: "particular", class: 'form-control'






  = render partial: "shared/voucher", locals: { voucher: @voucher}

           
        


= javascript_include_tag "CashManagementTimeDeposit"

:javascript
  $(document).ready(function(){
    CashManagementTimeDeposit.init();
  });
