.nested-fields
  .panel-heading
    .panel-header
      .pull-right
        = link_to_remove_association "x Remove", f
  .panel-body
    .row
      .col-md
      = f.input :content, label: "Content"  