.nested-fields
  .panel.panel-info
    .panel-heading
      .panel-header
        Description
        .pull-right
          = link_to_remove_association "x Remove", f
    .panel-body
      .row
        .col-md-6
          = f.input :category, as: :select, :collection => BuildCategory::CATEGORIES, :label => "Build Category", input_html: { class: 'form-control select-select2' }
      = f.simple_fields_for :build_contents do |ff|
        = render 'build_content_fields', f: ff
      = link_to_add_association "Add New Content", f, :build_contents, data: { association_insertion_method: 'append' }