= simple_form_for build_version, defaults: { wrapper_html: { class: 'form-group' }, input_html: { class: 'form-control form-submit-loading' } }, html: { multipart: true, novalidate: true } do |f|
  .box.box-primary
    .box-header.with-border
      %h3.box-title Build Version
    .box-body
      .row
        .col-md-6
          = f.input :build_number, :label => "Build Number"
        .col-md-6  
          = f.input :build_date, :label => "Build Date", start_year: Date.today.year - 100, end_year: Date.today.year
  .box.box-primary
    .box-header.with-border
      %h3.title Build Description
    .box-body
      = render partial: "build_versions/form_category", locals: { f: f }
  .form-actions
    = button_tag :submit, :class => "btn btn-primary" do
      .fa.fa-check
      Save Record
    = link_to build_versions_path, class: "btn btn-default" do
      .fa.fa-times
      Cancel

= javascript_include_tag "ui"