#categories
  = f.simple_fields_for :build_categories do |category|
    = render 'build_category_fields', f: category
  = link_to_add_association "Add New", f, :build_categories, data: { association_insertion_method: 'prepend' }
  