.section.content-header
  %h1
    Build Version Form
    %small Edit
  %ol.breadcrumb
    %li
      = link_to build_versions_path, class: '' do
        .fa.fa-arrow-left
        Back to Build Versions 
%section.content
  = render partial: "build_versions/form", locals: { build_version: @build_version, build_category: @build_category}
