%section.content-header
  %h1
    Developer
    %small
      Release Notes
      .ui.label
        Commit: #{GIT_COMMIT}
      .ui.label
        Current Build: #{BUILD_VERSION}
  %ol.breadcrumb
    %li
      = link_to new_build_version_path, class: 'btn btn-primary btn-xs bg-blue' do
        .fa.fa-plus
        New Build Version
- @build_versions.each do |version|  
  %section.content
    %ul.timeline
      %li.time-label
        %span.bg-green
          #{version.build_date.strftime("%B %d %Y")}
      %li
        %i.fa.fa-plane.bg-blue
        .timeline-item
          %h3.timeline-header
            = link_to "#" do
              Build Number #{version.build_number}
          - version.build_categories.each do |category|
            .timeline-body
              %label #{category.category}
              - category.build_contents.each do |content|
                %ul
                  %li #{content.content}
          = link_to edit_build_version_path(version) do
            .fa.fa-edit
            Update
              