/ %section.content-header
/   %h1
/     Build Version Detais
/     %small Show
/   %ol.breadcrumb
/     %li
/       = link_to build_versions_path, class: '' do
/         .fa.fa-arrow-left
/         Back to Build Versions
/ %section.content
/   %ul.timeline
/     %li.time-label
/       %span.bg-green
/         #{@build_version.build_date} 
/     %link_to
/       %i.fa.fa-plane.bg-blue
/       .timeline-item
/         %h3.timeline-header
/           = link_to "#" do
/             Build Number #{@build_version.build_number}
/         .timeline-body
/           %label  #{@build_version.build_number}    
/             %ul #{@build_category.category}
/               %li Content
/             = link_to edit_build_version_path, class: '' do
/               .fa.fa-edit
/               Edit
/           