#modal-new-transaction.modal.fade.modal-fade
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{type:'button', data:{dismiss:'modal'}}
          %span{aria:{hidden:'true'}}
            %i.fa.fa-close
          %span.sr-only Close
        %h4.modal-title
          New Transaction
      .modal-body
        .row
          .col-md-6
            %label
              Branch
            = select_tag :branch_id, options_for_select(@branches.collect{ |o| [o.name, o.id] }), id: "modal-branch-select", class: "select-select2 selecting-cont"
          .col-md-6
            %label
              Date of Payment
            %input{ type: "text", id: "date-of-payment", class: "form-control datepick", value: ApplicationHelper.current_working_date.strftime("%Y-%m-%d") }
      .modal-footer
        .row
          .col-md-12
            %center
              %button#btn-confirm-generate.btn.btn-primary Confirm
              %button.btn.btn-default{type:'button', data: { dismiss: 'modal' }} Cancel
