%section.content-header
  %h1
    Withdrawal Form for Resigned Members
    %small
      #{@payment_collection.paid_at}
  %ol.breadcrumb
    %li
      #{link_to "Payments", adjustments_withdrawals_payment_collections_path}
    %li
      #{link_to "Show", adjustments_withdrawals_payment_collection_path(@payment_collection)}
    %li
      Edit
%section.content
  = render partial: "form", locals: { payment_collection: @payment_collection }
