#parameters{ data: { payment_collection_id: @payment_collection.id } }

%section.content-header
  %h1
    Withdrawal
    %small
      #{@payment_collection.paid_at.strftime("%b %d, %Y")}
      - if @payment_collection.for_resignation
        %label.label.label-info
          For Resignation
  %ol.breadcrumb
    %li
      #{link_to "Withdrawals", adjustments_withdrawals_payment_collections_path}
    %li
      Show
%section.content
  = render partial: "actions", locals: { payment_collection: @payment_collection }
  = render partial: "shared/errors"
  = render partial: "payment_records", locals: { payment_collection: @payment_collection }
  = render partial: "shared/voucher", locals: { voucher: @voucher }

= render partial: "approve_modal"
= render partial: "shared/errors_template"
= render partial: "shared/success_template"
= render partial: "shared/errors"

= javascript_include_tag "adjustments/withdrawals/payment_collections/Show.js"
:javascript
  $(document).ready(function() {
    Show.init();
  });
