<script id="balance-sheet-template" type="x-tmpl-mustache">
  <div id="">
    <div id="assets" class="row">
      <div class="col-md-12">
        <table class="ui blue small table">
          <tr class="leader-1">
            <th colspan="2">
              ASSETS
            </th>
          </tr>
          {{#assets_entries.major_account_entries}}
            <tr class="leader-2">
              <th colspan="2">
                {{name}}
              </th>
            </tr>
            {{#mother_accounting_code_entries}}
              <tr class="leader-3">
                <th colspan="2">
                  {{name}}
                </th>
              </tr>
              {{#accounting_code_category_entries}}
                <tr class="leader-4">
                  <th colspan="2">
                    {{name}}
                  </th>
                </tr>
                {{#accounting_code_entries}}
                  <tr class="">
                    <td width="50%">{{name}}</td>
                    <td width="50%" class="curr">{{total_net}}</td>
                  </tr>
                {{/accounting_code_entries}}
                <tr class="leader-4">
                  <th>
                    Total {{name}}
                  </th>
                  <th class="curr">
                    {{total_net}}
                  </th>
                </tr>
              {{/accounting_code_category_entries}}
              <tr class="leader-3">
                <th>
                  Total {{name}}
                </th>
                <th class="curr">
                  {{total_net}}
                </th>
              </tr>
            {{/mother_accounting_code_entries}}
            <tr class="leader-2">
              <th>
                Total {{name}}
              </th>
              <th class="curr">
                {{total_net}}
              </th>
            </tr>
          {{/assets_entries.major_account_entries}}
          <tr class="leader-1">
            <th>
              TOTAL ASSETS
            </th>
            <th class="curr">
              {{assets_entries.total_net}}
            </th>
          </tr>
        </table>
      </div>
    </div>
    <hr>
    <div id="liabilities-and-net-worth" class="row">
      <div class="col-md-12">
        <table class="ui green small table">
          <tr class="leader-1">
            <th colspan="2">
              LIABILITIES AND NET WORTH
            </th>
          </tr>
          {{#liabilities_entries.major_account_entries}}
            <tr class="leader-2">
              <th colspan="2">
                {{name}}
              </th>
            </tr>
            {{#mother_accounting_code_entries}}
              <tr class="leader-3">
                <th colspan="2">
                  {{name}}
                </th>
              </tr>
              {{#accounting_code_category_entries}}
                <tr class="leader-4">
                  <th colspan="2">
                    {{name}}
                  </th>
                </tr>
                {{#accounting_code_entries}}
                  <tr class="">
                    <td width="50%">{{name}}</td>
                    <td width="50%" class="curr">{{total_net}}</td>
                  </tr>
                {{/accounting_code_entries}}
                <tr class="leader-4">
                  <th>
                    Total {{name}}
                  </th>
                  <th class="curr">
                    {{total_net}}
                  </th>
                </tr>
              {{/accounting_code_category_entries}}
              <tr class="leader-3">
                <th>
                  Total {{name}}
                </th>
                <th class="curr">
                  {{total_net}}
                </th>
              </tr>
            {{/mother_accounting_code_entries}}
            <tr class="leader-2">
              <th>
                Total {{name}}
              </th>
              <th class="curr">
                {{total_net}}
              </th>
            </tr>
          {{/liabilities_entries.major_account_entries}}
          {{#equity_entries.major_account_entries}}
            <tr class="leader-2">
              <th colspan="2">
                {{name}}
              </th>
            </tr>
            {{#mother_accounting_code_entries}}
              <tr class="leader-3">
                <th colspan="2">
                  {{name}}
                </th>
              </tr>
              {{#accounting_code_category_entries}}
                <tr class="leader-4">
                  <th colspan="2">
                    {{name}}
                  </th>
                </tr>
                {{#accounting_code_entries}}
                  <tr class="">
                    <td width="50%">{{name}}</td>
                    <td width="50%" class="curr">{{total_net}}</td>
                  </tr>
                {{/accounting_code_entries}}
                <tr class="leader-4">
                  <th>
                    Total {{name}}
                  </th>
                  <th class="curr">
                    {{total_net}}
                  </th>
                </tr>
              {{/accounting_code_category_entries}}
              <tr class="leader-3">
                <th>
                  Total {{name}}
                </th>
                <th class="curr">
                  {{total_net}}
                </th>
              </tr>
            {{/mother_accounting_code_entries}}
            <tr class="leader-2">
              <th>
                Total {{name}}
              </th>
              <th class="curr">
                {{total_net}}
              </th>
            </tr>
          {{/equity_entries.major_account_entries}}
          <tr class="leader-2">
            <th>
              Total Income
            </th>
            <th class="curr">
              {{total_net_income}}
            </th>
          </tr>
          <tr class="leader-1">
            <th width="50%">
              TOTAL LIABILITIES AND NET WORTH
            </th>
            <th width="50%" class="curr">
              {{total_liabilities_and_net_worth}}
            </th>
          </tr>
        </table>
      </div>
    </div>
  </div>
</script>
