<script id="income-statement-template" type="x-tmpl-mustache">
  <div id="income-statement">
    <div id="revenue" class="row">
      <div class="col-md-12">
        <table class="ui blue small table">
          <tr class="leader-1">
            <th colspan="2">
              REVENUE
            </th>
          </tr>
          {{#revenue_entries.major_account_entries}}
            <tr class="leader-2">
              <th colspan="2">
                {{name}}
              </th>
            </tr>
            {{#mother_accounting_code_entries}}
              <tr class="leader-3">
                <th colspan="2">
                  {{name}}
                </th>
              </tr>
              {{#accounting_code_category_entries}}
                <tr class="leader-4">
                  <th colspan="2">
                    {{name}}
                  </th>
                </tr>
                {{#accounting_code_entries}}
                  <tr class="">
                    <td width="50%">{{name}}</td>
                    <td width="50%" class="curr">{{total_net}}</td>
                  </tr>
                {{/accounting_code_entries}}
                <tr class="leader-4">
                  <th>
                    Total {{name}}
                  </th>
                  <th class="curr">
                    {{total_net}}
                  </th>
                </tr>
              {{/accounting_code_category_entries}}
              <tr class="leader-3">
                <th>
                  Total {{name}}
                </th>
                <th class="curr">
                  {{total_net}}
                </th>
              </tr>
            {{/mother_accounting_code_entries}}
            <tr class="leader-2">
              <th>
                Total {{name}}
              </th>
              <th class="curr">
                {{total_net}}
              </th>
            </tr>
          {{/revenue_entries.major_account_entries}}
          <tr class="leader-1">
            <th>
              TOTAL REVENUE
            </th>
            <th class="curr">
              {{revenue_entries.total_net}}
            </th>
          </tr>
        </table>
        <table class="ui teal small table">
          <tr class="leader-1">
            <th colspan="2">
              EXPENSES
            </th>
          </tr>
          {{#expense_entries.major_account_entries}}
            <tr class="leader-2">
              <th colspan="2">
                {{name}}
              </th>
            </tr>
            {{#mother_accounting_code_entries}}
              <tr class="leader-3">
                <th colspan="2">
                  {{name}}
                </th>
              </tr>
              {{#accounting_code_category_entries}}
                <tr class="leader-4">
                  <th colspan="2">
                    {{name}}
                  </th>
                </tr>
                {{#accounting_code_entries}}
                  <tr class="">
                    <td width="50%">{{name}}</td>
                    <td width="50%" class="curr">{{total_net}}</td>
                  </tr>
                {{/accounting_code_entries}}
                <tr class="leader-4">
                  <th>
                    Total {{name}}
                  </th>
                  <th class="curr">
                    {{total_net}}
                  </th>
                </tr>
              {{/accounting_code_category_entries}}
              <tr class="leader-3">
                <th>
                  Total {{name}}
                </th>
                <th class="curr">
                  {{total_net}}
                </th>
              </tr>
            {{/mother_accounting_code_entries}}
            <tr class="leader-2">
              <th>
                Total {{name}}
              </th>
              <th class="curr">
                {{total_net}}
              </th>
            </tr>
          {{/expense_entries.major_account_entries}}
          <tr class="leader-1">
            <th>
              TOTAL EXPENSES
            </th>
            <th class="curr">
              {{expense_entries.total_net}}
            </th>
          </tr>
        </table>
        <table class="ui teal small table">
          <tr class="leader-1">
            <th colspan="" width="50%">
              TOTAL NET INCOME
            </th>
            <th class="curr" width="50%">
              {{total_net_income}} 
            </th>
          </tr>
        </table>
      </div>
    </div>
  </div>
</script>
