<script id="template-program-status-reports" type="x-tmpl-mustache">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th colspan="2">I. OPERATION INDICATORS</th>
        <th>2017 June</th>
        <th>2017 May</th>
        <th colspan="2">INCREASE/DECREASE</th>
      </tr>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th>AMOUNT</th>
        <th>%</th>
      </tr>
    </thead>
    <tbody>
      <tr><th colspan="6">A. OUTREACH</th><tr>
      
      <!-- active clients -->
      <tr>
        <th>a1.</th>
        <th>Total number of active clients</th>
        <th>{{total_present_month_client_count}}</th>
        <th>{{total_previous_client_count}}</th>
        <th>{{total_count_client}}</th>
        <th></th>
      </tr>
      <tr> 
        <th></th>
        <td>Female</td>
        <td>{{present_month_client_count_female}}</td>
        <td>{{previous_month_client_count_female}}</td>
        <td>{{total_client_count_female}}</td>
      
      </tr>
      <tr>
        <th></th>
        <td>Male</td>
        <td>{{present_month_client_count_male}}</td>
        <td>{{previous_month_client_count_male}}</td>
        <td>{{total_client_count_male}}</td>
      </tr>
      <tr>  <!-- active members -->
        <th>a2.</th>
        <th>Total number of active members</th>
        <th>{{total_present_month_member_count}}</th>
        <th>{{total_previous_month_member_count}}</th>
        <th>{{total_member_count}}</th>
      </tr>
      <tr>
        <th></th>
        <td>Pure Savers</td>
        <td>{{present_month_member_count_pure_saver}}</td>
        <td>{{previous_month_member_count_pure_saver}}</td>
        <td>{{total_member_count_pure_saver}}</td>
      </tr>
      <tr>
        <th></th>
        <td>Active Loaners</td>
        <td>{{present_month_member_count_active_loaner}}</td>
        <td>{{previous_month_member_count_active_loaner}}</td>
        <td>{{total_member_count_active_loaner}}</td>
      </tr>
      <tr>
        <th>a3.</th>
        <th>Total number of active loans</th>
        <th>{{total_number_of_active_member_per_loan}}</th>
      </tr>
      <tr>
      {{#livelihood_details}}
        <tr>
          <th></th>
          <th>{{loantype}}</th>
          <th>{{totalloantypeamount}}</th>
          <th>{{previoustotalloantypeamount}}</th>
          <th>{{grandtotalloantypeamount}}</th>
          <th></th>
        </tr>
      
        {{#product_name}}
            
            <tr>
              <th></th>
              <td>{{loan_name_details}}</td>
              <td>{{total_amout_product}}</td>
            
              <td>{{previous_total_amout_product}}</td>
              <td>{{totalamount}}</td>
              <td></td>
            </tr>
            
        {{/product_name}}
      
      {{/livelihood_details}}

      <!-- drop out month -->
      <tr>
        <th>a4.</th>
        <th>Drop out for the month</th>
      <tr>
      <tr>
        <th>a5.</th>
        <th>Drop out Rate</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
      <tr>
        <th></th>
        <td>Total New Clients(as of)</td>
        <td>{{present_total_member_count_as_of}}</td>
        <td>{{previous_total_member_count_as_of}}</td>
        <td></td>
        <td></td>
      </tr>
      <!-- New Client the month -->
      <tr>
        <th>a6</th>
        <th>New Clients for the month</th>
        <td>{{present_total_member_count_for_the_month}}</td>
        <td>{{previous_total_member_count_for_the_month}}</td>
        <td>{{total_previous_and_present_member_count}}</td>
        <td></td>
      </tr>
      <!-- loan portfolio --->
      <tr>
        <th>B.</th>
        <th>Loan Portfolio</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
      <tr>
        <th>b1.</th>
        <th>Outstanding loans</th>
        <th>{{third_loop}}</th>
        <th>{{previous_third_loop}}</th>
        <th>{{total_outstanding_loop}}</th>
        <th></th>
      </tr>
      {{#loan_portfolio_details}}
        <tr>
          <th></th>
          <th>{{loan_portfolio_type}}</th>
          <th>{{present_portfolio_total}}</th>
          <th>{{previous_portfolio_total}}</th>
          <th>{{total_portfolio}}</th>
          <th></th>
        </tr>
        {{#loan_product_portfolio_details}}
          <tr>
            <th></th>
            <td>{{particular_details}}</td>
            <td>{{present_portfolio}}</td>
            <td>{{previous_portfolio}}</td>
            <td>{{total_loan_portfolio}}</td>
            <td></td>
          </tr>
        {{/loan_product_portfolio_details}}
      {{/loan_portfolio_details}}
      <tr>
        <th></th>
        <td>Total no. of Loan Disbursed(As of)</td>
        <td>{{total_number_of_disbursed_present_as_of}}</td>
        <td>{{total_number_of_disbursed_previous_as_of}}</td>
        <td>{{total_number_as_of}}</td>
      </tr>
      <tr>
        <th>b2.</th>
        <th>No. of Loan Disbursed for the month</th>
        <th>{{number_of_disbursed_present}}</th>
        <th>{{number_of_disbursed_previous}}</th>
        <th>{{total_number_of_disbursed}}</th>
      </tr>
     {{#total_number_of_loan_disbursed}}
        <tr>
          <th></th>
          <th>{{loan_type}}</th>
          <th>{{present_total_loan_product_number_of_disbursed}}</th>
          <th>{{previous_total_loan_product_number_of_disbursed}}</th>
          <th>{{total_loan_product_number_of_disbursed}}</th>
        </tr>
        {{#loan_product_name}}
          <tr>
            <th></th>
            <td>{{loan_product_disbursed}}</td>
            <td>{{present_loan_product_number_of_disbursed}}</td>
            <td>{{previous_loan_product_number_of_disbursed}}</td>
            <td>{{total_loan_product_number_of_disbursed}}</td>
          </tr>
        {{/loan_product_name}}
     {{/total_number_of_loan_disbursed}}
      <tr>
        <th>b3.</th>
        <th>Amount Disbursed for the month</th>
      </tr>
     {{#total_amount_of_loan_disbursed}}
      <tr>
        <th></th>

        <th>{{loan_product_type_disbursed}}</th>
      </tr>
        {{#loan_product_type_disbursed_details}}
          <tr>
            <th></th>
            <td>{{loan_product_name}}</td>
            <td>{{present_loan_product_total_disbursment}}</td>
            <td>{{previous_loan_product_total_disbursment}}</td>
            <td>{{loan_product_total_disbursment}}</td>
          </tr>
        {{/loan_product_type_disbursed_details}}
     {{/total_amount_of_loan_disbursed}}
    <tr>
      <th>b4.</th>
      <th>Amount collected(Year to date excluding)</th>
    </tr>
    <tr>
      <th>b5.</th>
      <th>Amount due(Year to date excluding pre-payment)</th>
      <th>{{total_amount_due}}</th>
    </tr>
    <tr>
      <th>b6.</th>
      <th>Collection rate(Year to date)</th>
    </tr>
    <tr>
      <th>b7.</th>
      <th>PAST DUE AMOUNT:</th>
    </tr>
    <tr>
      <th></th>
      <td>Past due (1-30 days)</td>
      <td>{{loan_past_due_amount_present}}</td>
      <td>{{loan_past_due_amount_previous}}</td>
      <td>{{total_loan_past_due_amount}}</td>
      <td></td>
    </tr>
    <tr>
      <th></th>
      <td>Past due (31 - 365 days)</td>
      <td>{{present_past_due_yearly}}</td>
      <td>{{previous_past_due_yearly}}</td>
      <td>{{total_past_due_yearly}}</td>
      <td></td>
    </tr>
    <tr>
      <th></th>
      <td>Past due (365 days above)</td>
      <td>.00</td>
      <td>.00</td>
      <td>.00</td>
      <td></td>
    </tr>
    <tr>
      <th></th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th></th>
      <th>Total Past Due</th>
      <th>{{total_past_due_amount_present}}</th>
      <th>{{total_past_due_amount_previous}}</th>
      <th>{{total_past_due_incdec}}</th>
      <th></th>
    </tr>
    <tr>
      <th></th>
      <th>PAR Rate</th>
      <th>{{total_past_due_rate}}</th>
      <th>{{total_previous_past_due_rate}}</th>
      <th>{{gtotal_past_due_rate}}</th>
      <th></th>
    </tr>
    <tr>
      <th>b8.</th>
      <th>PAR AMOUNT:</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <tr>
      <th></th>
      <td>Portfolio at Risk(1-30 days)</td>
      <td>{{par_present_month}}</td>
      <td>{{par_previous_month}}</td>
      <td>{{par_total_par_monthly}}</td>
      <td></td>
    </tr>
    <tr>
      <th></th>
      <td>Portfolio at Risk(31-365 days)</td>
      <td>{{par_present_yearly}}</td>
      <td>{{par_previous_yearly}}</td>
      <td>{{par_total_yearly}}</td>
      <td></td>
    </tr>
  
    <tr>
      <th></th>
      <td>Portfolio at Risk(365 days above)</td>
      <td>.00</td>
      <td>.00</td>
      <td>.00</td>
      <td></td>
    </tr>
    <tr>
      <th></th>
      <td colspan = 5></td>
    </tr>
    <tr>
      <th></th>
      <th>Total PAR Amount</th>
      <th>{{par_total_present}}</th>
      <th>{{par_total_previous}}</th>
      <th>{{par_total_incdec}}</th>
    </tr>
    <tr>
      <th></th>
      <th>PAR Rate</th>
      <th>{{par_rate_present}}</th>
      <th>{{par_rate_previous}}</th>
      <th>{{par_rate_incdec}}</th>
    </tr>
    </tbody>
  </table>
</script>
