<script id="template-share-capital-reports" type="x-tmpl-mustache">

  <table class = "table table-bordered">
    <tbody>
      <tr>
        <td>
          Total Average Share
        </td>
        <td>
          {{total_share}}
        </td>
      </tr>
      <tr>
        <td>
          Total Interest Share
        </td>
        <td>
          {{gtotal_share}}
        </td>
      </tr>
      <tr>
        <td>
          Rate
        </td>
        <td>
          {{equity_interest_rate}}
        </td>
      </tr>
    
    </tbody>
  </table>
  <table class = "table table-bordered">
    {{#test}}
      <tr>
        <td colspan="3">
        
          <h3>
            {{member_name}}
          </h3>

        </td>
      </tr>
      
      {{#equtiytrans}}
        <tr>
          <td>{{month}}</td>
          <td>{{amount}}</td>
          <td>{{transaction_type}}</td>
        </tr>
      {{/equtiytrans}}
      <tr>
        <td>Total</td>
        <td>{{first_loop}}</td>
        <td></td>
      </tr>
      <tr>
        <td>
          Average Share
        </td>
        <td>
          {{aver_first_loop}}
        </td>
        <td></td>
      </tr>
      <tr>
        <td>Total Interest</td>
        <td>{{total_interest_amount}}</td>
        <td></td>
      </tr>


    {{/test}}
  </table>

</script>
