<script id="year-end-closing-insurance-template" type="x-tmpl-mustache">
  <div>
    <div class="row">
      <div class="col-md-6">
        <h4>Original Entries</h4>
        <table class="ui grey small table">
          <thead>
            <tr>
              <th width="50%">Accounting Entry</th>
              <th width="25%" class='accounting-curr'>Debit</th>
              <th width="25%" class='accounting-curr'>Credit</th>
            </tr>
          </thead>
          <tbody>
            {{#data.original_data.debit_entries}}
              <tr>
                <td>{{accounting_code}}</td>
                <td class='curr'>{{debit}}</td>
                <td class='curr'>{{credit}}</td>
              </tr>
            {{/data.original_data.debit_entries}}
            {{#data.original_data.credit_entries}}
              <tr>
                <td>{{accounting_code}}</td>
                <td class='curr'>{{debit}}</td>
                <td class='curr'>{{credit}}</td>
              </tr>
            {{/data.original_data.credit_entries}}
          </tbody>
        </table>
      </div>
      <div class="col-md-6">
        <h4>After Closing Entries</h4>
        <table class="ui green small table">
          <thead>
            <tr>
              <th width="50%">Accounting Entry</th>
              <th width="25%" class='accounting-curr'>Debit</th>
              <th width="25%" class='accounting-curr'>Credit</th>
            </tr>
          </thead>
          <tbody>
            {{#data.closed_data.debit_entries}}
              <tr>
                <td>{{accounting_code}}</td>
                <td class='curr'>{{debit}}</td>
                <td class='curr'>{{credit}}</td>
              </tr>
            {{/data.closed_data.debit_entries}}
            {{#data.closed_data.credit_entries}}
              <tr>
                <td>{{accounting_code}}</td>
                <td class='curr'>{{debit}}</td>
                <td class='curr'>{{credit}}</td>
              </tr>
            {{/data.closed_data.credit_entries}}
          </tbody>
        </table>
      </div>
    </div>
    <hr>
    {{#data.closing_records}}
    <div class="row">
      <div class="col-md-12">
        <div style="margi-top: 2%;" class="panel panel-danger">
          <div class="panel-heading">
            <div class="panel-header">
              Reference Number:
              <span class="pull-right">
                {{date_prepared}} | Approved By: {{approved_by}}
              </span>
            </div>
          </div>
          <div class="panel-body">
            <table class="ui very basic table loanvouchertable">
              <thead>
                <tr>
                  <th>Accounting Code</th>
                  <th class='accounting-curr'>Debit</th>
                  <th class='accounting-curr'>Credit</th>
                </tr>
              </thead>
              <tbody>
                {{#accounting_entry.debit_entries}}
                  <tr>
                    <td class="accnt_code">{{accounting_code}}</td>
                    <td class="curr debit">{{debit}}</td>
                    <td class="credit"></td>
                  </tr>
                {{/accounting_entry.debit_entries}}
                {{#accounting_entry.credit_entries}}
                  <tr>
                    <td class="accnt_code">{{accounting_code}}</td>
                    <td class="debit"></td>
                    <td class="curr credit">{{credit}}</td>
                  </tr>
                {{/accounting_entry.credit_entries}}
              </tbody>
            </table>
            <div class="row">
              <div class="col-md-12 particular">
                <label>Particular:</label>
                {{accounting_entry.particular}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{/data.closing_records}}
    <div class="row">
      <div class="col-md-12">
        <div class="well">
          <button id="btn-approve" class="btn btn-app bg-green">
            <span class="fa fa-check"></span>
            Approve
          </button>
        </div>
      </div>
    </div>
  </div>
</script>
