#profile
  .row
    .col-md-12.about
      %table.table
        %tr
          %th
            .fa.fa-building-o
            Name
          %td
            #{center.name} (#{center.abbreviation})
        %tr
          %th
            %span.glyphicon.glyphicon-qrcode
            Code
          %td= center.code
        %tr
          %th
            .fa.fa-building
            Address
          %td
            #{center.address}
        %tr
          %th
            .fa.fa-users
            Users
          %td
            - if !center.user.nil?
              = center.users.map{|u| u.user.full_name}.join(",")
.row
  .col-md-12
    %h3
      .fa.fa-users
      Members
    %hr
    = render partial: "members/list", locals: { members: @center.members }
.row.warning_delete
  .ui.warning.message
    %i.warning.icon
    WARNING: Danger Zone!
    - if @center.member_count > 0
      = link_to system_management_center_path(@center), class: 'ui disabled small red button pull-right', style: "margin-top: -5px;", method: :delete, data: { confirm: "Are you sure?" } do
        .fa.fa-times
        Delete
    - elsif @center.member_count == 0
      = link_to system_management_center_path(@center), class: 'ui small red button pull-right', style: "margin-top: -5px;", method: :delete, data: { confirm: "Are you sure?" } do
        .fa.fa-times
        Delete
