#filter
  = form_tag system_management_centers_path, html: { novalidate: true }, method: "GET", defaults: { wrapper_html: { class: 'form-group' }, input_html: { class: 'form-control'} } do
    %table.table.table-responsive.table-bordered
      %tr
        %th
          %label Name/Code
          = text_field_tag :q, @q, placeholder: "Search", class: "form-control"
        %th
          %label Branch
          = select_tag :branch_id, options_from_collection_for_select(@branches, :id, :name), class: "form-control select-select2", prompt: "-- SELECT --"
        %th
          %label Actions
          %br
          .ui.buttons
            = button_tag :submit, class: 'btn btn-info' do
              .fa.fa-search
              Search
            = link_to new_system_management_center_path, class: 'btn btn-primary' do
              .fa.fa-user-plus
              New Center
