= simple_form_for [:system_management, center], defaults: { wrapper_html: { class: 'form-group' }, input_html: { class: 'form-control' } }, html: { multipart: true, novalidate: true } do |f|
  .row
    .col-md-6
      = f.input :name, as: :string
    .col-md-6
      = f.input :meeting_day, as: :select, collection: Center::MEETING_DAYS
  .row
    .col-md-6
      = f.association :branch, collection: @branches
    .col-md-6
      = f.association :user, label: "Officer (SO)", collection: User.where(role: "SO")
      /= f.input :officer_in_charge, label: "Officer (SO)"
  .row
    .col-md-12
      = f.input :address
  .form-actions
    = button_tag :submit, class: "btn btn-primary" do
      .fa.fa-check
      Save
    - if f.object.new_record?
      = link_to system_management_centers_path, class: "btn btn-default" do
        .fa.fa-times
        Cancel
    - else
      = link_to system_management_center_path(center), class: "btn btn-default" do
        .fa.fa-times
        Cancel
