%table.table.table-bordered
  %thead
    %tr
      %th Name
      %th Code
      %th Branch
      %th Actions
  %tbody
    - centers.each do |center|
      %tr
        %td= center.name
        %td= center.code
        %td= center.branch
        %td
          = link_to system_management_center_path(center), class: 'btn btn-xs btn-default' do
            .fa.fa-search
            Details

= paginate centers
