%section.content-header
  %h1
    Center Management
  %ol.breadcrumb
    %li
      = link_to root_path do
        .fa.fa-arrow-left
        Back to Dashboard
%section.content
  .ui.segment
    = render partial: "filter"
  - @branches.each do |branch|
    %h2.ui.teal.header
      .fa.fa-building
      Branch: #{branch}
    %table.ui.green.table
      %thead
        %tr
          %th Center
          %th Officer (SO)
          %th # Active Members
          %th Meeting Day
          %th Actions
      %tbody
        - @centers.each do |center|
          - if center.branch.id = branch.id
            %tr
              %td #{center}
              %td #{center.officer_in_charge}
              %td #{center.active_member_count}
              %td #{center.meeting_day}
              %td
                = link_to system_management_center_path(center.id), class: "ui tiny default button" do
                  .fa.fa-search
                  Details
