%section.content-header
  %h1
    New Center
  %ol.breadcrumb
    %li
      = link_to system_management_centers_path do
        .fa.fa-arrow-left
        Back to Centers
%section.content
  .ui.grey.segment
    = render partial: "form", locals: { center: @center }
