%section.content-header
  %h1
    #{@center.name}
    %small
      Branch: #{@center.branch}
  %ol.breadcrumb
    %li
      = link_to system_management_centers_path do
        .fa.fa-arrow-left
        Back to Centers
    %li
      = link_to edit_system_management_center_path(@center), class: '' do
        .fa.fa-pencil
        Edit
%section.content
  .ui.green.segment
    = render partial: "details", locals: { center: @center }
