= simple_nested_form_for [:adjustments, batch_moratorium], defaults: { wrapper_html: { class: 'form-group' }, input_html: { class: 'form-control' } }, html: { multipart: true, novalidate: true } do |f|
  .row
    .col-md-4
      = f.input :date_initialized, as: :string, input_html: { class: "form-control datepick" }
    .col-md-4
      = f.association :center, collection: Center.where(branch_id: @branches.pluck(:id)).order("name ASC"), input_html: { class: "form-control select-select2" }
    .col-md-4
      = f.input :number_of_days
  .row
    .col-md-12
      = f.input :reason
  .form-actions
    = f.submit "Save", class: "btn btn-primary" do
      .fa.fa-check
      Save Record
    - if f.object.new_record?
      = link_to adjustments_batch_moratoria_path, class: "btn btn-default" do
        .fa.fa-times
        Cancel
    - else
      = link_to adjustments_batch_moratorium_path(batch_moratorium), class: "btn btn-default" do
        .fa.fa-times
        Cancel
