%table.table.table-bordered
  %thead
    %tr
      %th
        Date Initialized
      %th
        Number of Days
      %th
        Center
      %th
        Initialized By
      %th
        Approved By
      %th
        Actions
  %tbody
    - batch_moratoriums.each do |bm|
      %tr{ class: "#{bm.approved? ? 'success' : 'danger'}" }
        %td
          #{bm.date_initialized.strftime("%B %d, %Y")}
        %td
          #{bm.number_of_days}
        %td
          #{bm.center.to_s}
        %td
          #{bm.initialized_by}
        %td
          #{bm.approved_by}
        %td
          = link_to adjustments_batch_moratorium_path(bm) do
            .fa.fa-search
            View
