%section.content-header
  %h1
    Branch Wide Moratorium Records
  %ol.breadcrumb
    %li{:style => "margin-top: -10px;"}
      = link_to new_adjustments_batch_moratorium_path, class: "btn btn-primary bg-blue normal" do
        .fa.fa-plus
        New Batch Moratorium

%section.content
  - if @batch_moratoriums.size > 0
    = render partial: "list", locals: { batch_moratoriums: @batch_moratoriums }
  - else
    No records found. #{link_to "Create one.", new_adjustments_batch_moratorium_path}
