%section.content-header
  %h1
    Batch Moratorium #{@batch_moratorium.id}
  %ol.breadcrumb
    %li{:style => "margin-top: -10px;"}
      = link_to adjustments_batch_moratoria_path, class: 'btn btn-default' do
        .fa.fa-arrow-left
        Back to List

%section.content
  .box
    .box-body
      - if @batch_moratorium.pending?
        #parameters{data: { id: @batch_moratorium.id }}
        .bs-callout.bs-callout-danger
          %h4
            Unapproved Record
          %p
            This record has not yet been approved. #{link_to "Approve now?", "#", id: 'approve-btn'}

        .remodal.modal-approve.selext{ data: { remodal_id: "modal-approve" } }
          %h3
            Approve Transaction
          %p 
            You are about to approve a moratorium procedure.
            Are you sure you want to approve this transaction?
          .errors
          .message
          #modal-controls.controls
            %hr
              %button#btn-confirm-approval.btn.btn-primary
                .fa.fa-check
                Yes
              %button#btn-cancel-approval.btn.btn-danger
                .fa.fa-times
                No

        = javascript_include_tag "adjustments/Adjustments.ApproveBatchMoratorium"
        :javascript
          $(document).ready(function() {
            Adjustments.ApproveBatchMoratorium.init();
          });
      - if @batch_moratorium.approved?
        .bs-callout.bs-callout-success
          %h4
            Record Approved
          %p
            This record has already been approved by #{@batch_moratorium.approved_by}. 
      %hr
      %table.table.table-bordered
        %tr
          %th{ width: "20%" }
            Status
          %td
            %span{class: "label label-#{@batch_moratorium.approved? ? 'success' : 'danger'}"}
              #{@batch_moratorium.status}
        - if @batch_moratorium.center
          %tr
            %th
              .fa.fa-building
              Center
            %td
              #{@batch_moratorium.center}
        %tr
          %th
            .fa.fa-calendar
            Date Initialized
          %td
            #{@batch_moratorium.date_initialized.strftime('%b %d, %Y')}
        %tr
          %th
            .fa.fa-calendar
            Number of Days
          %td
            #{@batch_moratorium.number_of_days}
        %tr
          %th
            .fa.fa-file
            Reason
          %td
            #{@batch_moratorium.reason}

      - if @batch_moratorium.pending?
        .form-actions
          = link_to edit_adjustments_batch_moratorium_path(@batch_moratorium), class: "btn btn-primary" do
            .fa.fa-pencil
            Edit
          = link_to adjustments_batch_moratorium_path(@batch_moratorium), class: "btn btn-danger", method: :delete, data: { confirm: "Are you sure?" } do
            .fa.fa-times
            Delete
