<script id="voucher-summary-template" type="x-tmpl-mustache">
  <div class="ui one column grid">
    <div class="column">
      <h4 class="ui green header">
        {{company}}
        <small>{{start_date}} to {{end_date}}</small>
      </h4>
    </div>
  </div>
  <table class="table table-bordered table-responsive">
    <thead>
      <tr>
        <th>Code</th>
        <th>Name</th>
        <th class='accounting-curr'>Total Debit</th>
        <th class='accounting-curr'>Total Credit</th>
      </tr>
    </thead>
    <tbody>
      {{#entries}}
        <tr>
          <td>{{accounting_code.code}}</td>
          <td>{{accounting_code.name}}</td>
          <td class='curr'>{{total_debit}}</td>
          <td class='curr'>{{total_credit}}</td>
        </tr>
      {{/entries}}
      <tr>
        <th></th>
        <th>Total</th>
        <th class='curr'>{{grand_total_debit}}</th>
        <th class='curr'>{{grand_total_credit}}</th>
      </tr>
    </tbody>
  </table>
</script>

