.container-fluid
  .ui.two.column.grid
    .column
      %h1.ui.green.header
        #{@data[:company]}
        %small #{@data[:start_date]} to #{@data[:end_date]}
    .column
      .pull-right
        %h1.ui.blue.header
          Voucher Summary
          %small
            #{@data[:branch].try(:name)}
  %table.ui.small.green.table
    %thead
      %tr
        %th Code
        %th Name
        %th Total Debit
        %th Total Credit
    %tbody
      - @data[:entries].each do |entry|
        %tr
          %td #{entry[:accounting_code].code}
          %td #{entry[:accounting_code].name}
          %td #{entry[:total_debit]}
          %td #{entry[:total_credit]}
      %tr
        %th
        %th Total
        %th #{@data[:grand_total_debit]}
        %th #{@data[:grand_total_credit]}
