%section.content-header
  %h1 Voucher Summary
%section.content
  %table.table.table-bordered.table-responsive
    %tr
      %th
        %label Start Date
        = text_field_tag :start_date, current_month_start, class: 'form-control datepick', id: 'start-date'
      %th
        %label End Date
        = text_field_tag :end_date, current_month_end, class: "form-control datepick", id: "end-date"
      %th
        %label Book
        = select_tag :book, options_for_select(Voucher::BOOK_TYPES), class: "form-control"
      %th
        %label Branch
        = select_tag :branch_id, options_from_collection_for_select(@branches, :id, :name, Branch.first.try(:id)), class: "form-control select-select2", id: "branch-select", prompt: "-- SELECT --"
      %th
        %label Actions
        %br
        = button_tag :submit, class: 'btn btn-primary', id: "generate-btn" do
          .fa.fa-file
          Generate
        = button_tag :submit, class: 'btn btn-info', id: 'download-pdf-btn' do
          .fa.fa-save
          PDF
        = button_tag :submit, class: 'btn btn-info', id: 'download-excel-btn' do
          .fa.fa-download
          Excel
        =  link_to "#", class: 'btn btn-info', id: 'print-btn' do
          .fa.fa-print
          PRINT PDF

  .ui.segment
    .ui.dimmer.inverted#loader
      .ui.loader
    %div{id: "voucher-summary-section"}
      = render partial: "voucher_summary_template"
  %hr

= javascript_include_tag "voucher_summary"
