%table{:style => "font-size: x-small;margin-bottom:3%;wiidth: 95%"}
  %thead
    %tr
      %td{:colspan => 4}
        %table{:style => "font-wight: bold"}
          %tr
            
            %td
              #{Settings.company}
          %tr
            %td
              #{Settings.company_address}
          %tr
            %td
              VAT Registration Tin Number:#{Settings.tin_number}
          %tr
            %td
              VOUCHER SUMMARY #{@data[:book]}
          %tr
            %td
              As of : #{@data[:start_date]} - #{@data[:end_date]}

%table{:style => "font-size:x-small;margin-bottom:2%;width:100%"}
  %tr
    %th{:style => "border:1px black solid;padding-left:2%;width:50%"} CODE - NAME
    %th{:style => "border:1px black solid;padding-left:2%;width:25%"} Total Debit
    %th{:style => "border:1px black solid;padding-left:2%;width:25%"} Total Credit

  - @data[:entries].each do |entries|
    %tr
      %td{:style => "border:1px black solid;padding-left:2%"} #{entries[:accounting_code]}
      %td.acc-curr{:style => "border:1px black solid;padding-right:2%"} #{number_to_currency(entries[:total_debit] , unit: "")}
      %td.acc-curr{:style => "border:1px black solid;padding-right:2%"} #{number_to_currency(entries[:total_credit] , unit: "")}

  %tr
    %th{:style => "border:1px black solid;padding-left:2%"} GRAND TOTAL
    %th.acc-curr{:style => "border:1px black solid;padding-right:2%"} #{number_to_currency(@data[:grand_total_debit] , unit: "")}
    %th.acc-curr{:style => "border:1px black solid;padding-right:2%"} #{number_to_currency(@data[:grand_total_credit] , unit: "")}
