.box
  .box-header
  .box-content
    = link_to claims_path, class: 'btn btn-app' do
      %i.fa.fa-arrow-left
      Back
      = link_to edit_member_claim_path(@claim.member, @claim), class: 'btn btn-app' do
        %i.fa.fa-edit
        Edit
      = link_to claim_claim_validation_pdf_path(@claim), target: "_blank", class: "btn btn-app" do
        .fa.fa-download
        Validation PDF
      = link_to claim_claim_loa_pdf_path(@claim), target: "_blank", class: "btn btn-app" do
        .fa.fa-print
        LOA
      = link_to claim_path(@claim), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-app bg-red" do
        %i.fa.fa-times
        Delete
