.row
  .col-md-12
    .nav-tabs-custom
      %ul.nav.nav-tabs
        %li.active
          = link_to "Claim Details", "#claim_details", "data-toggle" => "tab"
      .tab-content.tab-content-inner
        #claim_details.tab-pane.active
          .tabBox
            = render partial: "claims/details", locals: { claim: @claim }