#filter
  = form_tag claims_path, html: { novalidate: true }, method: "GET", defaults: { wrapper_html: { class: 'form-group' }, input_html: { class: 'form-control simple_form' } } do
    %table.table.table-bordered.table-responsive
      %tr
        %th
          %label Member Name
          = text_field_tag :q, @q, placeholder: "Member Name", class: "form-control"
        %th
          %label Branch 
          = select_tag :branch_id, options_from_collection_for_select(@branches, :id, :name, @branch.try(:id)), class: "form-control select-select2", id: "branch-select", prompt: "-- SELECT --"
        %th
          %label Type of Insurance Policy
          = select_tag :type_of_insurance_policy, options_for_select(Claim::INSURANCE_POLICY_TYPES, @type_of_insurance_policy), class: "form-control select-select2", prompt: "-- SELECT --"  
        %th
          %label Actions
          %br
          = button_tag :submit, class: 'btn btn-primary' do
            .fa.fa-search
            Search