.table-responsive.no-padding
  %table.table-bordered.table{:style => "margin-top: 10px;"}
    %thead
      %tr
        / %th Date Prepared
        %th Member
        %th Branch
        %th Name Insured
        %th Insurance Policy
        %th Classification
        %th Face Amount
        %th Date Prepared
    %tbody
      - claims.each do |claim|
        %tr{class: "clickable", data: { claim_id: "#{claim.id}" } } 
          / %td
          /   #{claim.date_prepared.strftime("%B %d, %Y")}
          %td.member
            = link_to claim.member.full_name.titlecase, member_path(claim.member), target: "_blank"
          %td.branch= claim.member.branch.name
          %td.name_of_insured= claim.name_of_insured
          %td.type_of_insurance_policy= claim.type_of_insurance_policy
          %td.classification_of_insured= claim.classification_of_insured
          %td.face_amount= number_to_currency(claim.face_amount, unit: "P")
          %td.date_prepared= claim.date_prepared.strftime("%b %d %Y")