%section.content-header
  %h1 Claims Register
  %ol.breadcrumb
    %li{:style => "margin-top: -10px;"}
      = link_to "#", id: 'newClaimApplicationBtn', style: "color: #fff;", class: 'btn btn-primary bg-blue normal', data: { toggle: 'modal', target: '#memberSelectModal' } do
        .fa.fa-plus
        New Claims
%section.content
  = render partial: "claims/filter"
  - if @claims.size > 0
    = render partial: "claims/list", locals: { claims: @claims }
    = paginate @claims
  - else
    No claims found.

%div#parameters{ data: { ref_nums: @ref_nums } }
= render partial: "member_select_modal"

= javascript_include_tag "ui"
= javascript_include_tag "claims"
