.remodal.modal-new-transaction.selext{ data: { remodal_id: "modal" } }
  %h3
    Generate New Fund Transfer Transaction
  .message
  .controls
    .row
      .col-md-6
        %label
          Branch
        = select_tag :branch_id, options_for_select(@branches.collect{ |o| [o.name, o.id] }), id: "modal-new-transaction-branch-select", class: "select-select2 selecting-cont"
      .col-md-6
        %label
          Date of Payment
        %input{ type: "text", id: "modal-new-transaction-date-of-payment", class: "form-control datepick", value: Time.now.strftime("%Y-%m-%d") }

    %hr
    %button#btn-confirm-new-transaction.btn.btn-success
      .fa.fa-warning
      Confirm
    %button#btn-cancel-new-transaction.btn.btn-danger
      .fa.fa-times
      Cancel
