.remodal.modal-approve-transaction.selext{ data: { remodal_id: "modal" } }
  %h3
    Approve Transaction
  .message
  .controls
    %hr
    %button#btn-confirm-approve-transaction.btn.btn-success
      .fa.fa-warning
      Confirm
    %button#btn-cancel-approve-transaction.btn.btn-danger
      .fa.fa-times
      Cancel
