.remodal.modal-reverse-transaction.selext{ data: { remodal_id: "modal" } }
  %h3
    Reverse Transaction
  .message
  .controls
    %hr
    %button#btn-confirm-reverse-transaction.btn.btn-success
      .fa.fa-warning
      Confirm
    %button#btn-cancel-reverse-transaction.btn.btn-danger
      .fa.fa-times
      Cancel
