%table.table.table-bordered.table-responsive
  %thead
    %tr
      %th Closing Date
      %th Closed At
      %th Special
      %th Status
      %th.accounting-curr Total Interest
      %th.accounting-curr Total Tax
      %th Actions
  %tbody
    - monthly_interest_and_tax_closing_records.each do |record|
      %tr
        %td
          #{record.closing_date.strftime("%b %d, %Y")}
        %td
          #{record.closed_at.strftime("%b %d, %Y %H:%M")}
        %td
          - if record.special != true
            .label.label-danger
              .fa.fa-times
          - else
            .label.label-success
              .fa.fa-check
        %td 
          - if record.pending?
            .label.label-danger
              .fa.fa-times
          - else
            .label.label-success
              .fa.fa-check
        %td.curr
          #{number_to_currency(record.total_interest, unit: "P")}
        %td.curr
          #{number_to_currency(record.total_tax, unit: "P")}
        %td
          = link_to cash_management_operations_monthly_interest_and_tax_closing_record_path(record), class: 'btn btn-default' do
            .fa.fa-search
            Details
