- records.each do |record|
  %h3
    #{link_to record.savings_account.member, member_path(record.savings_account.member.id)}
    %small
      #{record.savings_account.savings_type} (Annual Interest Rate: #{record.annual_interest_rate}%)
  %table.table.table-responsive.table-bordered
    %thead
      %tr
        %th Date
        %th.acc-curr Beginning Balance
        %th.acc-curr Amount
        %th Type
        %th.acc-curr Ending Balance
        - if current_user.role == "MIS"
          %th Status
    %tbody
      - t = SavingsAccountTransaction.approved.where("savings_account_id = ? AND transacted_at <= ?", record.savings_account.id, @last_working_day).try(:last)
      - if t
        %tr
          %td #{@last_working_day.strftime("%b %d, %Y")}
          %td -
          %td -
          %td -
          %td.curr #{number_to_currency(t.ending_balance, unit: "")}
      - record.savings_account.savings_account_transactions.approved_and_reversed.where("extract(month from transacted_at) = ? AND extract(year from transacted_at) = ?", record.monthly_interest_and_tax_closing_record.month, record.monthly_interest_and_tax_closing_record.year).each do |t|
        %tr
          %td #{t.transacted_at.strftime("%b %d, %Y")}
          %td.curr #{number_to_currency(t.beginning_balance, unit: "")}
          %td.curr #{number_to_currency(t.amount, unit: "")}
          %td #{t.transaction_type}
          %td.curr #{number_to_currency(t.ending_balance, unit: "")}
          - if current_user.role == "MIS"
            %td #{t.status}
      %tr{ style: "background-color: #b7fbaf;"}
        %td (#{record.id}) #{record.monthly_interest_and_tax_closing_record.closing_date.strftime("%b %d, %Y")}
        %td.curr #{number_to_currency(record.beginning_balance, unit: "")}
        %td.curr #{number_to_currency(record.interest_amount, unit: "")}
        %td interest
        %td
        - if current_user.role == "MIS"
          %td
      %tr{ style: "background-color: #f7b0b0;"}
        %td #{record.monthly_interest_and_tax_closing_record.closing_date.strftime("%b %d, %Y")}
        %td
        %td.curr #{number_to_currency(record.tax_amount, unit: "")}
        %td tax
        %td.curr #{number_to_currency(record.ending_balance, unit: "")}
        - if current_user.role == "MIS"
          %td
