%section.content-header
  %h1
    Monthly Interest And Tax
  %ol.breadcrumb
    %li
      = link_to "#", class: 'btn btn-primary', style: 'color: #fff;', id: 'btn-new' do
        .fa.fa-plus
        Generate New Interest and Tax

%section.content
  = render partial: "filter"
  .box
    .box-body
      - if @monthly_interest_and_tax_closing_records.size == 0
        %p
          No records found
      - else
        = render partial: "list", locals: { monthly_interest_and_tax_closing_records: @monthly_interest_and_tax_closing_records }

= render partial: "shared/errors_template"
= render partial: "cash_management/operations/monthly_interest_and_tax_closing_records/components/modal_confirmation"
= javascript_include_tag "closing/Closing.MonthlyInterestAndTaxIndex"


:javascript
  $(document).ready(function() {
    Closing.MonthlyInterestAndTaxIndex.init();
  });
