%section.content-header
  %h1
    Monthly Interest And Tax for #{@monthly_interest_and_tax_closing_record.branch}
  %ol.breadcrumb
    %li
      = link_to cash_management_operations_monthly_interest_and_tax_closing_records_path, class: 'btn btn-primary', style: 'color: #fff;', id: 'btn-new' do
        .fa.fa-arrow-left
        Back

%section.content
  .well
    - if @monthly_interest_and_tax_closing_record.pending?
      = link_to "#", class: "btn btn-app bg-green", id: "btn-approve" do
        .fa.fa-check
        Approve
    = link_to monthly_interest_pdf_path, class: "btn btn-app", target: "_blank" do
      .fa.fa-print
      Print
  %table.ui.green.table
    %tr
      %th Closing Date
      %td #{@monthly_interest_and_tax_closing_record.closing_date.strftime("%b %d, %Y")}
    %tr
      %th Closed At
      %td #{@monthly_interest_and_tax_closing_record.closed_at.strftime("%b %d, %Y %H:%M")}
    %tr
      %th Total Interest
      %td #{number_to_currency(@monthly_interest_and_tax_closing_record.total_interest, unit: "P")}
    %tr
      %th Total Tax
      %td #{number_to_currency(@monthly_interest_and_tax_closing_record.total_tax, unit: "P")}
    %tr
      %th Status
      %td
        - if @monthly_interest_and_tax_closing_record.pending?
          .ui.red.label
            Pending
        - if @monthly_interest_and_tax_closing_record.approved?
          .ui.green.label
            Approved
        - if @monthly_interest_and_tax_closing_record.void?
          .ui.red.label
            Void

  = render partial: "transactions", locals: { records: @monthly_interest_and_tax_closing_record.tax_and_interest_transactions }
  = render partial: "shared/voucher", locals: { voucher: @voucher }

  .bs-callout.bs-callout-danger
    %h4 Danger Zone
    - if @monthly_interest_and_tax_closing_record.pending?
      = link_to "#", id: "btn-delete", class: "btn btn-app bg-red" do
        .fa.fa-times
        Delete
    - if @monthly_interest_and_tax_closing_record.approved?
      - if ["MIS", "SBK"].include? current_user.role
        = link_to "#", class: "btn btn-app bg-red", id: "btn-void" do
          .fa.fa-times
          Void
    - if @monthly_interest_and_tax_closing_record.void?
      %p
        This entry has been voided
      = render partial: "shared/voucher", locals: { voucher: @reverse_voucher }

= render partial: "shared/errors_template"
= render partial: "cash_management/operations/monthly_interest_and_tax_closing_records/components/modal_confirm_delete"
= render partial: "cash_management/operations/monthly_interest_and_tax_closing_records/components/modal_confirm_approve"
= render partial: "cash_management/operations/monthly_interest_and_tax_closing_records/components/modal_confirm_void"
#parameters{ data: { id: @monthly_interest_and_tax_closing_record.id } }
= javascript_include_tag "closing/Closing.MonthlyInterestAndTaxShow"

:javascript
  $(document).ready(function() {
    Closing.MonthlyInterestAndTaxShow.init();
  });
