= link_to export_dependents_report_path, target: '_blank' do
  .info-box
    %span.info-box-icon.bg-blue
      %i.fa.fa-download
    .info-box-content
      %span.info-box-text
        Export Dependents Report
      %span.info-box-number
        %small
          Excel format for dependents