// = link_to export_members_path do
= link_to "#", class: 'btn-download-members-csv' do
  .info-box
    %span.info-box-icon.bg-blue
      %i.fa.fa-download
    .info-box-content
      %span.info-box-text
        Export Member Information 
      %span.info-box-number
        %small
          Download a CSV file for member information of this system  
// = link_to export_beneficiaries_path do
= link_to "#", class: 'btn-download-beneficiaries-csv' do
  .info-box
    %span.info-box-icon.bg-blue
      %i.fa.fa-download
    .info-box-content
      %span.info-box-text
        Export Beneficiaries Information 
      %span.info-box-number
        %small
          Download a CSV file for members' beneficiaries records
//= link_to export_legal_dependents_path do
= link_to "#", class: 'btn-download-dependents-csv' do
  .info-box
    %span.info-box-icon.bg-blue
      %i.fa.fa-download
    .info-box-content
      %span.info-box-text
        Export Dependents Information 
      %span.info-box-number
        %small
          Download a CSV file for members' dependents records