- if insurance_account_validation.pending? || insurance_account_validation.cancelled?
  - if role == "OAS" || role == "MIS" || role == "REMOTE-OAS" || role == "REMOTE-BK"
    = link_to edit_insurance_account_validation_path(insurance_account_validation), class: "btn btn-app" do
      .fa.fa-pencil
      Edit
    = link_to insurance_account_validation_path(insurance_account_validation), class: "btn btn-app bg-red", method: :Delete, data: { confirm: "Are you sure?" } do
      .fa.fa-times
      Delete
  - if role == "CM" || role == "FM" || role == "MIS" || role == "REMOTE-FM"
    = link_to "#", class: "btn btn-app bg-blue", id: "btn-check" do
      .fa.fa-check
      Check    
- if insurance_account_validation.for_validation?
  - if role == "OM" || role == "MIS" || role == "AO"
    = link_to "#", class: "btn btn-app bg-green", id: "btn-validate" do
      .fa.fa-check
      Validate
  - if role == "CM" || role == "MIS" || role == "FM" || role == "REMOTE-FM" || role == "AO" || role == "OM"
    = link_to "#", class: "btn btn-app bg-red", id: "btn-cancel" do
      .fa.fa-times
      Cancel  
- if insurance_account_validation.for_approval?  
  - if role == "BK" || role == "MIS"
    = link_to "#", class: "btn btn-app bg-green", id: "btn-approve" do
      .fa.fa-check
      Approve
  - if role == "AO" || role == "MIS" || role == "OM" 
    = link_to "#", class: "btn btn-app bg-red", id: "btn-cancel" do
      .fa.fa-times
      Cancel
- if insurance_account_validation.approved?
  = link_to insurance_account_validation_pdf_path(insurance_account_validation), target: "_blank", class: "btn btn-app", id: "btn-print-pdf" do
    .fa.fa-print
    Print PDF
- if insurance_account_validation.cancelled? && role == "AO"
  = link_to edit_insurance_account_validation_path(insurance_account_validation), class: "btn btn-app" do
    .fa.fa-pencil
    Edit
  = link_to "#", class: "btn btn-app bg-green", id: "btn-validate" do
    .fa.fa-check
    Validate
- if insurance_account_validation.cancelled? && role == "OM"
  = link_to edit_insurance_account_validation_path(insurance_account_validation), class: "btn btn-app" do
    .fa.fa-pencil
    Edit
  = link_to "#", class: "btn btn-app bg-green", id: "btn-validate" do
    .fa.fa-check
    Validate