.well
  .row
    .col-md-3
      %label
        Classification
      = select_tag :member_classification, options_for_select(InsuranceAccountValidationRecord::MEMBER_CLASSIFICATION, @member_classification), id: "member-classification", class: "select-select2"
    .col-md-3
      // = text_field_tag :resignation_date, @resignation_date, class: "datepick form-control", placeholder: "Resignation Date", id: "resignation-date"
      %label
        Date Resigned
      = text_field_tag :resignation_date, Date.today.strftime("%Y-%m-%d"), class: "datepick form-control", id: "resignation-date"
    .col-md-5
      %label
        Member
      = select_tag :member_id, options_for_select(@members.collect{ |o| [o.full_name_with_center, o.id] }), class: "select-select2", id: "member-select"
    .col-md-1
      .pull-right
        %br
        = link_to "#", class: "btn btn-primary", id: "btn-add-member" do
          .fa.fa-plus
          Add Member