#filter
  .ui.segment
    = form_tag insurance_account_validations_path, html: { novalidate: true }, method: "GET", defaults: { wrapper_html: { class: 'form-group' }, input_html: { class: 'form-control simple_form' } } do
      %table.table.table-bordered.table-responsive
        %tr
          %th
            %label Member Name
            = text_field_tag :q, @q, placeholder: "Member Name", class: "form-control"
          %th
            %label Status
            = select_tag :status, options_for_select(InsuranceAccountValidation::STATUSES, @status), class: "form-control select-select2", prompt: "-- SELECT --"
          %th
            %label Branch 
            = select_tag :branch_id, options_from_collection_for_select(@branches, :id, :name, @branch.try(:id)), class: "form-control select-select2", id: "branch-select", prompt: "-- SELECT --"
          %th
            %label Actions
            %br
            .ui.small.buttons
              = button_tag :submit, class: 'btn btn-primary' do
                .fa.fa-search
                Search