%table.ui.green.table.transaction-table
  %thead
    %tr
      %th{width: "2%"}
      %th{width: "20%"} Member
      %th Classification
      %th Recognition Date (MII)
      %th Center
      - if insurance_account_validation.approved?
        %th Trans #
      %th Resignation Date
      %th.curr RF
      %th.curr 50% LIFE
      %th.curr Equity Interest
      %th.curr Advance LIFE
      %th.curr Advance RF
      %th.curr Interest
      %th.curr Policy Loan
      %th.curr Total
      %th Actions
  %tbody
    - insurance_account_validation.insurance_account_validation_records.joins(:member).order("members.last_name ASC").each_with_index do |insurance_account_validation_record, i|
      %tr
        %td #{i + 1}
        %td
          = link_to "#{insurance_account_validation_record.member.full_name}", member_path(insurance_account_validation_record.member), target: "_blank"
        %td
          #{insurance_account_validation_record.member_classification}  
        %td
          #{insurance_account_validation_record.member.previous_mii_member_since}
        %td
          #{insurance_account_validation_record.member.center}
        - if insurance_account_validation_record.approved?
          %td
            #{insurance_account_validation_record.transaction_number}
        %td
          #{insurance_account_validation_record.resignation_date}  
        %td.curr
          #{number_to_currency(insurance_account_validation_record.rf, unit: "")}
        %td.curr
          #{number_to_currency(insurance_account_validation_record.lif_50_percent, unit: "")}
        %td.curr
          #{number_to_currency(insurance_account_validation_record.equity_interest, unit: "")}
        %td.curr
          #{number_to_currency(insurance_account_validation_record.advance_lif, unit: "")}
        %td.curr
          #{number_to_currency(insurance_account_validation_record.advance_rf, unit: "")}
        %td.curr
          #{number_to_currency(insurance_account_validation_record.interest, unit: "")}
        %td.curr
          - if insurance_account_validation_record.policy_loan > 0
            (#{number_to_currency(insurance_account_validation_record.policy_loan, unit: "")})  
          - else
            #{number_to_currency(insurance_account_validation_record.policy_loan, unit: "")}
        %td.curr
          #{number_to_currency(insurance_account_validation_record.total, unit: "")}
        %td
          = link_to insurance_account_validation_withdrawal_pdf_path(insurance_account_validation,insurance_account_validation_record), target: "_blank", class: "btn", id: "btn-print-pdf" do
            .fa.fa-print
  %thead
    %tr
      %th
      %th{width: "20%"} Total
      %th
      %th
      %th
      - if insurance_account_validation.approved?
        %th
      %th
      %th.curr #{number_to_currency(insurance_account_validation.total_rf, unit: "P")}
      %th.curr #{number_to_currency(insurance_account_validation.total_50_percent_lif, unit: "P")}
      %th.curr #{number_to_currency(insurance_account_validation.total_equity_interest, unit: "P")}
      %th.curr #{number_to_currency(insurance_account_validation.total_advance_lif, unit: "P")}
      %th.curr #{number_to_currency(insurance_account_validation.total_advance_rf, unit: "P")}
      %th.curr #{number_to_currency(insurance_account_validation.total_interest, unit: "P")}
      %th.curr
        - if insurance_account_validation.total_policy_loan > 0
          (#{number_to_currency(insurance_account_validation.total_policy_loan, unit: "P")})
        - else
          #{number_to_currency(insurance_account_validation.total_policy_loan, unit: "P")}
      %th.curr #{number_to_currency(insurance_account_validation.total, unit: "P")}
      %th
