.table-responsive.no-padding
  %table.table-bordered.table{:style => "margin-top: 10px;"}
    %thead
      %tr
        %th Date Prepared
        %th Branch
        %th Status
        / %th Member
        %th Prepared By
        %th Total
    %tbody
      - insurance_account_validations.each do |insurance_account_validation|
        %tr{class: "#{insurance_account_validation.status == 'pending' || insurance_account_validation.status == 'reversed' || insurance_account_validation.status == 'for-approval' || insurance_account_validation.status == 'for-validation' ? 'negative' : 'positive'} clickable", data: { transaction_id: "#{insurance_account_validation.id}" } }
          %td.date-prepared= insurance_account_validation.date_prepared
          %td.branch= insurance_account_validation.branch
          %td.status= insurance_account_validation.status
          / - if !insurance_account_validation.insurance_account_validation_records.first.nil?
          /   %td.member= insurance_account_validation.insurance_account_validation_records.first.member.full_name_titleize
          %td.prepared-by= insurance_account_validation.prepared_by
          %td.prepared-by= insurance_account_validation.total