%section.content-header
  %h1
    Insurance Account Validation Form
    %small
      #{@insurance_account_validation.date_prepared}
  %ol.breadcrumb
    %li
      #{link_to "Insurance Account Validations", insurance_account_validations_path}
    %li
      #{link_to "Show", insurance_account_validation_path(@insurance_account_validation)}
    %li
      Edit
%section.content
  = render partial: "form", locals: { insurance_account_validation: @insurance_account_validation }
