%section.content-header
  %h1 Insurance Account Validation
  %ol.breadcrumb
    %li{:style => "margin-top: -10px;"}
      = link_to "#", id: "btn-new-insurance-account-validation", class: 'btn btn-primary bg-blue', style: 'color: #fff;' do
        .fa.fa-plus
        New Insurance Account Validation
%section.content
  .errors_template
  = render partial: "insurance_account_validations/filter"
  - if @insurance_account_validations.size > 0
    = render partial: "insurance_account_validations/list", locals: { insurance_account_validations: @insurance_account_validations }
    = paginate @insurance_account_validations
  - else
    No Insurance Account Validations found.

= render partial: "generate_insurance_account_validation_modal"
= render partial: "shared/errors_template"
= render partial: "shared/success_template"
= render partial: "shared/loading_modal"

= javascript_include_tag "InsuranceAccountValidation"
= javascript_include_tag "ui"

:javascript
  $(document).ready(function() {
    InsuranceAccountValidation.init();
  });