#parameters{ data: { insurance_account_validation_id: @insurance_account_validation.id } }

%section.content-header
  %h1
    Insurance Account Validation
    %small
      #{@insurance_account_validation.date_prepared}
    %small
      #{@insurance_account_validation.status.upcase}  
  %ol.breadcrumb
    %li
      #{link_to "Insurance Account Validations", insurance_account_validations_path}
    %li
      Show
%section.content
  - if @insurance_account_validation.for_validation?
    .bs-callout.bs-callout-danger
      %h3
        .fa.fa-warning
        This has already been checked by #{@insurance_account_validation.checked_by} on #{@insurance_account_validation.date_checked}"
    %hr
  - if @insurance_account_validation.for_approval?
    .bs-callout.bs-callout-danger
      %h3
        .fa.fa-warning
        This has already been validated by #{@insurance_account_validation.validated_by} on #{@insurance_account_validation.date_validated}"      
    %hr
  - if @insurance_account_validation.cancelled?
    .bs-callout.bs-callout-danger
      %h3
        .fa.fa-warning
        This has been cancelled by #{@insurance_account_validation.cancelled_by} on #{@insurance_account_validation.date_cancelled}"      
    %hr
  - if @insurance_account_validation.reversed?
    .bs-callout.bs-callout-danger
      %h3
        .fa.fa-warning
        Warning: This transaction has been reversed.
  = render partial: "actions", locals: { insurance_account_validation: @insurance_account_validation, role: @role }
  = render partial: "shared/errors"
  = render partial: "insurance_account_validation_records", locals: { insurance_account_validation: @insurance_account_validation }
  - if @insurance_account_validation.insurance_account_validation_cancellations.count > 0
    = render partial: "insurance_account_validation_cancellations", locals: { insurance_account_validation: @insurance_account_validation }
  / - if @insurance_account_validation.approved? and ["MIS", "OM", "AM"].include? current_user.role
  /   = render partial: "danger", locals: { insurance_account_validation: @insurance_account_validation }
  - if !@voucher.nil?
    = render partial: "shared/voucher", locals: { voucher: @voucher }

= render partial: "shared/errors_template"
= render partial: "shared/success_template"
= render partial: "modal_approve_confirmation"
= render partial: "modal_reverse_confirmation"
= render partial: "modal_validate"
= render partial: "modal_check"
= render partial: "modal_cancel"

= javascript_include_tag "InsuranceAccountValidations"

:javascript
  $(document).ready(function() {
    InsuranceAccountValidations.init();
  });
