<script id="template-time-deposit-list" type="x-tmpl-mustache">
  <table class="table table-bordered table-responsive payments">
    <thead>
      <tr>
        <th>#</th>
        <th>Member Name</th>
        <th>Lock-in Amount</th>
        <th>Lock-in Period</th>
        <th>Lock-in Date</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {{#list_of_member}}
        <tr>
          <td>{{count}}</td>
          <td>{{member_name}}</td>
          <td>{{amount}}</td>
          <td>{{lock_in_period}}</td>
          <td>{{start_date}}</td>
        </tr>
    
      {{/list_of_member}}
    </tbody>
  </table>
  
</script>
