%table.table.table-responsive.table-bordered
  %tr
    %th
      %label CK or CV #
      %input{ type: "text", placeholder: "CK or CV", id: "filter-q", value: "#{@q}", class: "form-control" }
    %th
      %label Start Date
      %input{ type: "text", class: "datepick form-control", placeholder: "Start Date", id: "filter-start-date", value: "#{@start_date}" }
    %th
      %label End Date
      %input{ type: "text", class: "datepick form-control", placeholder: "End Date", id: "filter-end-date", value: "#{@end_date}" }
    %th
      %label Center
      = select_tag :center_id, options_from_collection_for_select(Center.where(branch_id: @branches.pluck(:id)), :id, :name, @center_id), id: "filter-center-select", class: "form-control select-select2", prompt: "-- SELECT --"
    %th
      %label Status
      = select_tag :status, options_for_select(PaymentCollection::STATUSES, @status), id: "filter-status", prompt: "-- ALL --", class: "form-control"
    %th
      %label Actions
      %br
      %button#btn-filter.btn.btn-primary
        .fa.fa-search
        Search
      = link_to "#", class: 'btn btn-info', id: 'print-btn' do
        .fa.fa-print
        PRINT


