.remodal.modal-generate-withdrawal-payment-collection{ data: { remodal_id: "modal" } }
  %h3
    Generate New Withdrawal Transaction
  .errors
  .success
  .controls
    .row
      .col-md-6
        %label
          Branch
        = select_tag :branch_id, options_for_select(@branches.collect{ |o| [o.name, o.id] }), class: "select-select2", id: "modal-branch-select"
      .col-md-6
        %label
          Date of Payment
        %input{ type: "text", id: "date-of-payment", class: "form-control datepick", value: Time.now.strftime("%Y-%m-%d") }

    %hr
    %button#btn-generate-billing.btn.btn-success
      .fa.fa-warning
      Confirm
    %button#btn-cancel-generate-billing.btn.btn-danger
      .fa.fa-times
      Cancel
