%table.ui.teal.celled.structured.small.table
  %tbody
    %tr
      %th{ width: "20%" } Check Number
      %td #{payment_collection.check_number}
    %tr
      %th{ width: "20%" } Date of Check
      %td #{payment_collection.date_of_check}
    %tr
      %th{ width: "20%" } Check Voucher Number
      %td #{payment_collection.check_voucher_number}
