%table.table.table-bordered.table-responsive.transaction-table.payments
  %thead
    %tr
      %th{width: "2%"}
      %th{width: "20%"} Member
      - @savings_types.each do |savings_type|
        %th.acc-curr #{savings_type.code}
      - @insurance_types.order("name ASC").each do |insurance_type|
        %th.acc-curr #{insurance_type.code}
      %th.acc-curr Amt Rec
  %tbody
    - payment_collection.payment_collection_records.joins(:member).order("members.last_name ASC").each_with_index do |payment_collection_record, i|
      %tr
        %td #{i + 1}
        %td
          = link_to "#{payment_collection_record.member.full_name}", member_path(payment_collection_record.member), target: "_blank"
        - @savings_types.each do |savings_type|
          %td.curr
            - payment_collection_record.collection_transactions.where(account_type: "SAVINGS").each do |collection_transaction|
              - if collection_transaction.account_type == "SAVINGS" and collection_transaction.account_type_code == savings_type.code
                #{number_to_currency(collection_transaction.amount, unit: "")}
        - @insurance_types.order("name ASC").each do |insurance_type|
          %td.curr
            - payment_collection_record.collection_transactions.where(account_type: "INSURANCE").each do |collection_transaction|
              - if collection_transaction.account_type == "INSURANCE" and collection_transaction.account_type_code == insurance_type.code
                #{number_to_currency(collection_transaction.amount, unit: "")}
        %td.curr
          #{number_to_currency(payment_collection_record.total_cp_amount, unit: "")}
  %thead
    %tr
      %th
      %th{width: "20%"} Total
      - @savings_types.each do |savings_type|
        %th.curr #{number_to_currency(CollectionTransaction.where(payment_collection_record_id: payment_collection.payment_collection_records.pluck(:id), account_type: "SAVINGS", account_type_code: savings_type.code).sum(:amount), unit: "")}
      - @insurance_types.order("name ASC").each do |insurance_type|
        %th.curr #{number_to_currency(CollectionTransaction.where(payment_collection_record_id: payment_collection.payment_collection_records.pluck(:id), account_type: "INSURANCE", account_type_code: insurance_type.code).sum(:amount), unit: "")}
      %th.curr #{number_to_currency(payment_collection.total_amount, unit: "")}
