%table{:style => "font-size: x-small;margin-bottom:3%;wiidth: 95%"}
  %thead
    %tr
      %td{:colspan => 4}
        %table{:style => "font-wight: bold"}
          %tr
            
            %td
              #{Settings.company}
          %tr
            %td
              #{Settings.company_address}
          %tr
            %td
              VAT Registration Tin Number:#{Settings.tin_number}
          %tr
            %td Withdrawals Summary
          %tr
            %td
              As of : #{(@start_date.to_date).strftime("%m/%d/%y")} - #{(@end_date.to_date).strftime("%m/%d/%y")}


 

%table{:style => "font-size:x-small;margin-bottom:2%;width:100%"}
  %tbody
    %tr
      %th{:style => "border:1px black solid;padding-left:2%;width:15%"}  Date
      %th{:style => "border:1px black solid;padding-left:2%;width:70%"} Centers
      %th.accounting-curr{:style => "border:1px black solid;padding-right:2%;width:15%"} Total Amount

    - @payment_collections.each do |pc|
      %tr
        %td{:style => "border:1px black solid;padding-left:2%"} #{pc.paid_at.strftime("%m/%d/%y")}
        %td{:style => "border:1px black solid;padding-left:2%"}
          #{pc.centers.join(", ")}
        %td.curr{:style => "border:1px black solid;padding-right:2%"} #{number_to_currency(pc.total_amount, unit: "P")}
