#parameters{ data: { payment_collection_id: @payment_collection.id } }

%section.content-header
  %h1
    Withdrawal
    %small
      #{@payment_collection.paid_at.strftime("%b %d, %Y")}
  %ol.breadcrumb
    %li
      #{link_to "Withdrawals", cash_management_withdrawals_payment_collections_path}
    %li
      Show
%section.content
  - if @payment_collection.reversed?
    .bs-callout.bs-callout-danger
      %h3
        .fa.fa-warning
        Warning: This transaction has been reversed. See Accounting Entry JV #{@payment_collection.reversed_reference_number}
  = render partial: "actions", locals: { payment_collection: @payment_collection }
  = render partial: "shared/errors"
  = render partial: "payment_records", locals: { payment_collection: @payment_collection }
  = render partial: "shared/voucher", locals: { voucher: @voucher }

= render partial: "approve_modal"
= render partial: "reverse_modal"
= render partial: "shared/errors_template"
= render partial: "shared/success_template"
= render partial: "shared/errors"
= javascript_include_tag "CashManagementWithdrawalsPaymentCollection"
:javascript
  $(document).ready(function() {
    CashManagementWithdrawalsPaymentCollection.init();
  });
