<%= simple_nested_form_for [ammortization_schedule_entry, loan_moratorium], defaults: { wrapper_html: { class: 'form-group' }, input_html: { class: 'form-control' } }, html: { multipart: true, novalidate: true } do |f| %>
    <%= f.association :ammortization_schedule_entry, as: :hidden %>
    <%= f.input :new_due_at, label: "New Due Date: ", as: :string, input_html: { class: "datepick form-control", value: f.object.new_due_at.nil? ? ammortization_schedule_entry.due_at.strftime("%Y-%m-%d") : f.object.new_due_at.strftime("%Y-%m-%d") } %>
    <%= f.input :reason %>
    <div class="form-actions">
      <%= f.submit "Save Moratorium", class: "btn btn-primary" %>
      <%= link_to loan_path(ammortization_schedule_entry.loan), class: "btn btn-default" do %>
        <span class="glyphicon glyphicon-arrow-left"></span> Back to Loan
      <% end %>
    </div>
<% end %>
