%section.content-header
  %h1
    Moratorium entry for Loan #{@loan.pn_number}
    %small
      Previous Due Date: #{@ammortization_schedule_entry.due_at}
  %ol.breadcrumb
    %li
      = link_to loan_path(@loan), class: '' do
        .fa.fa-arrow-left
        Back to Loan
%section.content
  .ui.red.segment
    = render partial: "loan_moratoria/form", locals: { loan_moratorium: @loan_moratorium, ammortization_schedule_entry: @ammortization_schedule_entry }
