%table.table.table-bordered.table-responsive
  %thead
    %tr
      - if current_user.role == "MIS"
        %th ID
      %th Date
      %th.acc-curr Beginning Balance
      %th.acc-curr Amount
      %th Type
      %th Status
      %th.acc-curr Ending Balance
      - if current_user.role == "MIS"
        %th Actions
  %tbody
    - savings_account_transactions.each do |t|
      
      %input#savings_trans_id{:type => "hidden", :value => t.id}
      %tr{class: "#{tr_status(t.status)}"}
        - if current_user.role == "MIS"
          %td #{t.id} 
           
        %td.date #{t.created_at.strftime("%d-%B-%Y")}
        %td.curr #{number_to_currency(t.beginning_balance, unit: "")}
        %td.amount.curr #{number_to_currency(t.amount, unit: "")}
        %td.type #{t.transaction_type}
        %td 
          #{t.status}
          - if t.is_adjustment == true
            .label.label-danger
              ADJUSTMENT
          - if t.for_resignation == true
            .label.label-danger
              FOR RESIGNATION
        %td.curr #{number_to_currency(t.ending_balance, unit: "")}


        - if t.savings_account.savings_type.id == 5
          - if t.transaction_type == "deposit"
            - if DepositTimeTransaction.find(t.for_lock_in).status == "lock-in"
              - if TimeDepositWithdrawal.where(savings_transactions: t.id).count == 0
                %th
                  = link_to "#", id: "btn-generate-interest", class: "btn btn-xs btn-danger" do
                    .fa.fa-times
                    Generate Interest
              - else
                %th
                  Have pending withdrawal


        - if current_user.role == "MIS"
          %th
            = link_to "#", id: "btn-generate-interest", class: "btn btn-xs btn-danger" do
              .fa.fa-times
              Generate Interest
          %th
            = link_to "#", id: "withdraw-time-deposit", class: "btn btn-xs btn-danger",  data: { confirm: "Are you sure?" } do
              .fa.fa-times
              Withdraw
          %th
            = link_to savings_account_transaction_path(t), method: :delete, class: "btn btn-xs btn-danger", data: { confirm: "Are you sure?" } do
              .fa.fa-times
              Delete

= paginate savings_account_transactions





#modal-transaction-withdraw.modal.fade.modal-fade
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{type:'button', data:{dismisal:'modal'}}
          %span{aria:{hidden:'true'}}
            %i.fa.fa-close
          %span.sr-only Close
        %h4.modal-title
          New Transaction
        .modal-body
          .row
            .col-md-6
              %label
                Date
              = text_field_tag :start_date, current_month_start, class: 'form-control datepick', id: 'start-date-withdraw'
        .modal-footer
          %button#btn-interest.btn.btn-default{type:'button'} Generate






= javascript_include_tag "CashManagementTimeDeposit"

:javascript
  $(document).ready(function(){
    CashManagementTimeDeposit.init();
  });
