.row
  .col-md-3
    .box
      .box-body
        %label
          Location:
        %br
        #{savings_account.center}, #{savings_account.branch}
  .col-md-3
    .box
      .box-body
        %label
          Current Balance:
        %br
        #{number_to_currency(savings_account.balance, unit: "P")}
  .col-md-3
    .box
      .box-body
        %label
          Maintaining Balance:
        %br
        #{number_to_currency(savings_account.maintaining_balance, unit: "P")}
  .col-md-3
    .box
      .box-body
        %label
          Lock-in Amount
        %br
        #{number_to_currency(savings_account.lock_in_amount, unit: "P")}
