.ui.grey.segment
  = form_tag savings_accounts_path, html: { novalidate: true }, method: "GET", defaults: { wrapper_html: { class: 'form-group' }, input_html: { class: 'form-control' } } do
    .ui.grid
      .four.wide.column
        %label Account Name
        = text_field_tag :account_name, @account_name, placeholder: "Search", class: "form-control"
      .four.wide.column
        %label Savings Type
        = select_tag :savings_type_id, options_from_collection_for_select(SavingsType.all.order(:name).reverse, :id, :name, @savings_type.try(:id)), class: "form-control select-select2", prompt: "-- SELECT --"
      .four.wide.column
        %label Branch
        = select_tag :branch_id, options_from_collection_for_select(@branches, :id, :name, @branch.try(:id)), class: "form-control select-select2", id: "branch-select", prompt: "-- SELECT --"
      .two.wide.column
        %label Center
        = select_tag :center_id, options_from_collection_for_select([], :id, :name, @center.try(:id)), prompt: "-- SELECT --", class: "form-control select-select2", id: "center-select"
      .two.wide.column
        %label
          Actions
        %br
        .ui.buttons
          = submit_tag "Search", class: "ui primary large button btn btn-block"  
