%table.ui.green.small.table
  %thead
    %tr
      %th Member
      %th Account Number
      %th Type
      %th Branch
      %th Center
      %th Balance
      %th Actions
    - savings_accounts.each do |savings_account|
      %tr
        - if savings_account.member.nil?
          %td [Member Deleted. Please contact administrator.]
        - else
          %td= link_to savings_account.member, member_path(savings_account.member), target: "_blank"
        %td= savings_account.account_number
        %td= savings_account.savings_type
        %td= savings_account.branch
        %td= savings_account.center
        %td= number_to_currency(savings_account.balance, unit: "P")
        %td
          = link_to savings_account_path(savings_account), class: "ui default button" do
            .fa.fa-search
            Details
%hr
= paginate savings_accounts
