.preview
  .basicBox
    .profile-details
      .name
        #{savings_account.account_number}
        %small
          = savings_account.member
      %ul
        %li
          %label
            .fa.fa-plus-square
            Insurance Type:
          = savings_account.savings_type
        %li
          %label
            .fa.fa-building-o
            Branch:
          = savings_account.branch
        %li
          %label
            .fa.fa-money
            Balance:
          = number_to_currency(savings_account.balance, unit: "P")
        %li
          = link_to savings_account_path(savings_account), class: "btn btn-default btn-xs" do
            .fa.fa-search
            Details
          = link_to edit_savings_account_path(savings_account), class: "btn btn-default btn-xs" do
            .fa.fa-pencil
            Edit

