.container-fluid
  .row
    .col-md-12
      .panel.panel-default
        .panel-heading
          Edit Savings Account
          .listHeaderActions
            - if !@savings_account.new_record?
              = link_to member_path(@savings_account.member), class: "btn btn-default btn-xs", target: "_blank" do
                .fa.fa-user
                Member Profile
            = link_to savings_accounts_path, class: "btn btn-default btn-xs" do
              .fa.fa-arrow-left
              Back to Savings Accounts
        .panel.body
          = render partial: "savings_accounts/form"

