%section.content-header
  %h1
    Savings Accoutns
    %small List
  %ol.breadcrumb
%section.content
  = render partial: "filter"
  = render partial: "list", locals: { savings_accounts: @savings_accounts }
= javascript_include_tag "ui"
