.container-fluid
  .ui.green.segment
    #interest-tax-generation-section.ui.dimmer.inverted
      .ui.loader
    .ui.grid
      .ui.eight.wide.column
        %h3 
          .fa.fa-warning
          Manual Interest and Tax Generation
      .ui.eight.wide.column
        .pull-right
          %h3
            Last Working Day: #{last_working_day}
    %hr
    #generateInterestTaxBtn.ui.huge.positive.button
      .fa.fa-plus
      Generate Interest and Tax Transactions

= javascript_include_tag "interest_tax_generation"
