.container-fluid
  .row
    .col-md-12
      .panel.panel-default
        .panel-heading
          New Savings Account
          .listHeaderActions{:style => "margin-top: -5px;"}
            - if !@savings_account.new_record?
              = link_to member_path(@savings_account.member), class: "large ui teal button", target: "_blank" do
                .fa.fa-user
                Member Profile
            = link_to savings_accounts_path, class: "large ui teal button" do
              .fa.fa-arrow-left
              Back to Savings Accounts
        .panel.body
          = render partial: "savings_accounts/form"

