<!doctype html>
<html>
 <!doctype html>
<html>
  <head>
    <meta charset='utf-8' />
    <style type="text/css">
      .kasaganaka {
        font-weight: bold;
        padding: 10px;
        font-size: 1.5em;
      }

      .title {
        text-align: right;
        margin-right: 10px;
        font-weight: bold;
        margin-bottom: 2%;
        color: #9C6D37;
      }

      .tb1_class td {
        border: 1px solid black;
        padding: 5px;
        text-align: left;
      }

      .amnt {
        border: 1px solid black;
        float: right;
        margin-top: -15.4%;
        width: 43%;
        padding: 11px;
        margin-right: 2px;
        padding-bottom: 50px;
        padding-top: 25px;
        margin-bottom: 10px;
      }

      .name {
        border: 1px solid black;
        width: 50%;
        margin-left: 2px; 
        padding: 10px;
        margin-bottom: 10px;
      }
    </style>
  </head>
  <body style="border: 1px solid black;">
    <div class="kasaganaka">KASAGANAKA <small class="title">WITHDRAW SLIP</small></div>
    <div style="border-top: solid black 1px; margin-bottom: 1%;"></div>  
    <table class="tb1_class" style="width: 100%;">
      <tr style="font-size: 13px; text-align: left;">
        <th>Account Name:</th>
        <th>Date:</th>
      </tr>
      <tr>
        <td style="text-align: right;"><%= savings_account_transaction.savings_account.member.first_name %> <%= savings_account_transaction.savings_account.member.middle_name %> <%= savings_account_transaction.savings_account.member.last_name %></td>
        <td style="text-align: right;"><%= savings_account_transaction.transacted_at.strftime("%B %d, %Y") %></td>
      </tr>
    </table>

     <table class="tb1_class" style="width: 100%;">
      <tr style="font-size: 13px; text-align: left;">
        <th>Account Number:</th>
        <th>Branch:</th>
      </tr>
      <tr>
        <td style="text-align: right;"><%= savings_account_transaction.savings_account.account_number %></td>
        <td style="text-align: right;"><%= savings_account_transaction.savings_account.member.branch.name %></td>
      </tr>
    </table>

    <div class="name">
    ______________________________________ <br />
      <div style="text-align: center; font-size: 13px;">Name </div>
    ______________________________________ <br />
      <div style="text-align: center; font-size: 13px;"> Relationship </div>
     
    </div>

    <div class="amnt">
     Amount: <%= savings_account_transaction.amount %>
    </div>
  </body>
</html>