%table{:style => "font-size: x-small;margin-bottom:3%;width: 95%"}
  %thead
    %tr
      %td{:colspan => 4}
        %table{:style => "font-wight: bold"}
          %tr
            
            %td
              #{Settings.company}
          %tr
            %td
              #{Settings.company_address}
          %tr
            %td
              VAT Registration Tin Number:#{Settings.tin_number}
          %tr
            %td
              Savings Subsidiary


.row
  .col-md-12
    .box
      .box-body
        %label{:style => 'width:27%;font-size: x-small'}
          #{@savings_account.savings_type} :
        %label{:style => 'width:25%;font-size: x-small'}
          Location :
        %label{:style => 'width:20%;font-size: x-small'}
          Current Balance :
        %label{:style => 'width:20%;font-size: x-small'}
          Maintaining Balance :
        %br
        %label{:style => 'width:27%;font-size: x-small'}
          #{@savings_account.member.full_name}
        %label{:style => 'width:25%;font-size: x-small'}
          #{@savings_account.center}, #{@savings_account.branch}
        %label{:style => 'width:20%;font-size: x-small'} 
          #{number_to_currency(@savings_account.balance, unit: "P")}
        %label{:style => 'width:20%;font-size: x-small'} 
          #{number_to_currency(@savings_account.maintaining_balance, unit: "P")} 
 
%table.table.table-bordered.table-responsive{:style => "font-size: x-small"}
  %thead
    %tr
      %th Date
      %th.acc-curr Beginning Balance
      %th.acc-curr Amount
      %th Type
      %th Status
      %th.acc-curr Ending Balance

  %tbody
    - @savings_account_transactions.each do |t|
      %tr{class: "#{tr_status(t.status)}"}
        %td.date #{t.created_at.strftime("%d-%B-%Y")}
        %td.curr #{number_to_currency(t.beginning_balance, unit: "")}
        %td.amount.curr #{number_to_currency(t.amount, unit: "")}
        %td.type #{t.transaction_type}
        %td 
          #{t.status}
          - if t.is_adjustment == true
            .label.label-danger
              ADJUSTMENT
          - if t.for_resignation == true
            .label.label-danger
              FOR RESIGNATION
        %td.curr #{number_to_currency(t.ending_balance, unit: "")}
     
