%section.content-header
  %h1
    Savings Account
    %small
      = link_to @savings_account.member.full_name, member_path(@savings_account.member), target: "_blank"
      %span
        .label.label-info
          #{@savings_account.savings_type}
  %ol.breadcrumb
    %li
      = link_to savings_account_pdf_path(@savings_account.id), target: "_blank" do
        .fa.fa-print
        Print to Subsidiary PDF

%section.content
  = render partial: "savings_accounts/details", locals: { savings_account: @savings_account }
  .row
    .col-md-12
      .box
        .box-body
          = render partial: "account_transactions", locals: { savings_account_transactions: @savings_account_transactions }
  - if ["MIS"].include? current_user.role
    = render partial: "savings_accounts/actions"
