<script id="template-trial-balance" type="x-tmpl-mustache">
  <table class="table table-bordered table-responsive">
    <thead>
      <tr>
        <th>Accounting Code</th>
        <th class="acc-curr" colspan="2">
          <center>
            Beginning
          </center>
        </th>
        <th class="acc-curr" colspan="2">
          Current
        </th>
        <th class="acc-curr" colspan="2">
          Ending
        </th>
      </tr>
      <tr>
        <th></th>
        <th class="acc-curr">DR <small>(PHP)</small> </th>
        <th class="acc-curr">CR <small>(PHP)</small> </th>
        <th class="acc-curr">DR <small>(PHP)</small> </th>
        <th class="acc-curr">CR <small>(PHP)</small> </th>
        <th class="acc-curr">DR <small>(PHP)</small> </th>
        <th class="acc-curr">CR <small>(PHP)</small> </th>
      </tr>
    </thead>
    <tbody>
      {{#entries}}
        <tr>
          <td>{{accounting_code}}</td>
          <td class="curr">{{beginning_debit}}</td>
          <td class="curr">{{beginning_credit}}</td>
          <td class="curr">{{current_debit}}</td>
          <td class="curr">{{current_credit}}</td>
          <td class="curr">{{ending_debit}}</td>
          <td class="curr">{{ending_credit}}</td>
        </tr>
      {{/entries}}
    </tbody>
    <tfoot>
      <tr>
        <th>Total</th>
        <th class="curr">{{total_beginning_debit}}</th>
        <th class="curr">{{total_beginning_credit}}</th>
        <th class="curr">{{total_current_debit}}</th>
        <th class="curr">{{total_current_credit}}</th>
        <th class="curr">{{total_ending_debit}}</th>
        <th class="curr">{{total_ending_credit}}</th>
      </tr>
    </tfoot>
  </table>
</script>

