%section.content-header
  %h1
    Financial Position
%section.content
  %table.table.table-responsive
    %tr
      %th
        %label Start Date
        = text_field_tag :start_date, current_month_start, class: 'form-control datepick', id: 'start-date'
      %th
        %label End Date
        = text_field_tag :end_date, current_month_end, class: "form-control datepick", id: "end-date"
      %th
        %label Branch
        = select_tag :branch_id, options_from_collection_for_select(@branches, :id, :name, Branch.first.try(:id)), class: "form-control select-select2", id: "branch-select", prompt: "-- SELECT --"
      %th
        %label Detailed
        %br
        = check_box_tag 'detailed', nil, false, class: 'switch'
      %th
        %label Actions
        %br
        = button_tag :download, class: 'btn btn-primary', id: "download-excel-btn" do
          .fa.fa-file
          Excel

  .box
    .box-body
      #financial-position-section

= javascript_include_tag "accounting/FinancialPosition"

:javascript
  $(document).ready(function() {
    FinancialPosition.init();
  });
