:css
  .table{
    font-size:x-small;
    width: 95%;
  }

 
  .fsize{
    font-size:  x-small;
  }

  .fotsize{
    font-size: x-small;
  }

  .page{
    position: fixed;
    bottom:0;
    left: 0;
    page-break-before:always;
    counter-reset: page 1;
    padding-top: 3%;

    }

  .first.page {
    page-break-before:avoid;
  }
  .title{
    counter-reset:page;
  }


%span
  %center
    %p
      #{@data[:company]}
      %br
      %small
        #{Settings.company_address}
      %br
        VAT Registration Tin Number:
        #{Settings.tin_number}
      %h4
        Trial Balance
        %small
          #{@data[:branch]}
      Transaction Date: 
      #{@data[:start_date].strftime("%m/%d/%y")} - #{@data[:end_date].strftime("%m/%d/%y")}
      %br
#trial-balance-section
  %table.table
    %thead
      %tr
        %th
          Accounting Code
        %th.acc-curr{ colspan: "2" }
          %center
            Beginning
        %th.acc-curr{ colspan: "2" }
          %center
            Current
        %th.acc-curr{ colspan: "2" }
          %center
            Ending
      %tr
        %th
        %th.acc-curr
          DR
          %small (PHP)
        %th.acc-curr
          CR
          %small (PHP)
        %th.acc-curr
          DR
          %small (PHP)
        %th.acc-curr
          CR
          %small (PHP)
        %th.acc-curr
          DR
          %small (PHP)
        %th.acc-curr
          CR
          %small (PHP)
    %tbody
      - @data[:entries].each do |entry|
        %tr
          %td
            %small
              #{entry[:accounting_code]}
          %td.acc-curr #{entry[:beginning_debit]}
          %td.acc-curr #{entry[:beginning_credit]}
          %td.acc-curr #{entry[:current_debit]}
          %td.acc-curr #{entry[:current_credit]}
          %td.acc-curr #{entry[:ending_debit]}
          %td.acc-curr #{entry[:ending_credit]}
    
    %tfoot
      %tr
        %th Total
        %th.acc-curr #{@data[:total_beginning_debit]}
        %th.acc-curr #{@data[:total_beginning_credit]}
        %th.acc-curr #{@data[:total_current_debit]}
        %th.acc-curr #{@data[:total_current_credit]}
        %th.acc-curr #{@data[:total_ending_debit]}
        %th.acc-curr #{@data[:total_ending_credit]}


.page
  .title.fotsize
  %small
    Kooperative Online Information System Version 1.0 Date Printed: #{Time.now.strftime("%m/%d/%y %H:%M")}| #{@current_user.username} |
    PAGE 1
