%section.content-header
  %h1
    Trial Balance

%section.content
  %table.table.table-responsive
    %tr
      %th
        %label Start Date
        = text_field_tag :start_date, current_month_start, class: 'form-control datepick', id: 'start-date'
      %th
        %label End Date
        = text_field_tag :end_date, current_month_end, class: "form-control datepick", id: "end-date"
      - if Settings.activate_microinsurance
        %th
          %label Accounting Fund
          = select_tag :accounting_fund_id, options_from_collection_for_select(AccountingFund.all, :id, :name, AccountingFund.first.try(:id)), class: "form-control select-select2", id: "accounting-fund-select", prompt: "-- SELECT --"
      %th
        %label Branch
        = select_tag :branch_id, options_from_collection_for_select(@branches, :id, :name, Branch.first.try(:id)), class: "form-control select-select2", id: "branch-select", prompt: "-- SELECT --"
      %th
        %label Actions
        %br
        = button_tag :submit, class: 'btn btn-success', id: "btn-generate" do
          .fa.fa-file
          Generate
        = button_tag :download, class: 'btn btn-primary', id: "download-excel-btn" do
          .fa.fa-file
          Excel

        = button_tag :download_pdf, class: 'btn btn-primary', id: "btn-print-pdf" do
          .fa.fa-file
          PDF

  .box
    .box-body
      #trial-balance-section

= render partial: "template_trial_balance"
= javascript_include_tag "accounting/TrialBalance"

:javascript
  $(document).ready(function() {
    TrialBalance.init();
  });
