.ui.grey.segment
  %div{style: "display: #{@loan_payment_adjustment.pending? ? 'block' : 'none'};"}
    - if ["MIS", "SBK"].include? current_user.role
      = link_to "#", id: 'btn-approve', class: 'btn btn-app bg-green' do
        .fa.fa-check
        Approve
    = link_to edit_adjustments_loan_payment_adjustment_path(@loan_payment_adjustment), id: 'edit-btn', class: 'btn btn-app' do
      .fa.fa-pencil
      Edit

  - if @loan_payment_adjustment.approved?
    .bs-callout.bs-callout-success
      This transaction has been approved
