- if @errors
  .bs-callout.bs-callout-error
    %h4 Errors
    %ul
      - @errors.each do |e|
        %li
          #{e}

= simple_nested_form_for [:adjustments, loan_payment_adjustment], defaults: { wrapper_html: { class: 'form-group' }, input_html: { class: 'form-control' } }, html: { multipart: true, novalidate: true } do |f|
  .row
    .col-md-6
      = f.association :branch
  .ui.segment
    #loan_payment_adjustment_records
      = f.simple_fields_for :loan_payment_adjustment_records do |loan_payment_adjustment_record|
        = render 'loan_payment_adjustment_record_fields', f: loan_payment_adjustment_record
      = link_to_add_association f, :loan_payment_adjustment_records, class: "ui grey button" do
        .fa.fa-plus
        Add Adjustment Record

  %hr
  .row
    .col-md-12
      = f.input :particular

  .form-actions
    = button_tag :submit, class: "big ui blue button" do
      .fa.fa-check
      Save Transaction
    - if f.object.new_record?
      = link_to adjustments_loan_payment_adjustments_path, class: "big ui white button" do
        .fa.fa-times
        Cancel
    - else
      = link_to adjustments_loan_payment_adjustment_path(f.object), class: "big ui white button" do
        .fa.fa-times
        Cancel
