%table.ui.teal.table
  %thead
    %tr
      %th Prepared By
      %th Approved By
      %th Branch
      %th Date
      %th Status
      %th Actions
  %tbody
    - @loan_payment_adjustments.each do |a|
      %tr
        %td #{a.prepared_by}
        %td #{a.approved_by}
        %td #{a.branch}
        %td #{a.created_at.strftime("%b %d, %Y")}
        %td #{a.status}
        %td 
          = link_to adjustments_loan_payment_adjustment_path(a), class: 'ui default button' do
            .fa.fa-search
            Details
