.nested-fields.well
  .row
    .col-md-6
      = f.association :loan_payment, as: :select, collection: LoanPayment.where(status: "approved"), input_html: { class: "select-select2 form-control" }
    .col-md-6
      = f.input :new_amount
  .form-actions
    = link_to_remove_association f, class: "ui red button" do
      .fa.fa-times
      Remove
