%section.content-header
  %h1 Edit Loan Payment Adjustment

%section.content   
  = render partial: "adjustments/loan_payment_adjustments/form", locals: { loan_payment_adjustment: @loan_payment_adjustment }
