%section.content-header
  %h1 Loan Payment Adjustment Records  
  %ol.breadcrumb
    %li{:style => "margin-top: -10px;"}
      = link_to new_adjustments_loan_payment_adjustment_path, class: 'btn btn-primary bg-blue' do
        .fa.fa-plus
        Add Loan Payment Adjustment Transaction

%section.content   
  = render partial: "adjustments/loan_payment_adjustments/filter"
  - if @loan_payment_adjustments.size > 0
    = render partial: "adjustments/loan_payment_adjustments/list", locals: { loan_payment_adjustments: @loan_payment_adjustments }
    = paginate(@loan_payment_adjustments)
  - else
    .row
      %p{:style => "margin-top: 10px;"}
        No records found. #{link_to "Create one.", new_adjustments_loan_payment_adjustment_path}
