%section.content-header
  %h1 
    Loan Payment Adjustment
    %small
      #{@loan_payment_adjustment.created_at.strftime("%b %d, %Y")}
  %ol.breadcrumb
    %li
      = link_to adjustments_loan_payment_adjustments_path do
        Back to Loan Payment Adjustments

%section.content
  = render partial: "actions", locals: { loan_payment_adjustment: @loan_payment_adjustment }
  %h2
    Adjusting Records

  %table.ui.blue.table
    %thead
      %tr
        %th Loan Payment
        %th New Amount
    %tbody
      - @loan_payment_adjustment.loan_payment_adjustment_records.each do |r|
        %tr
          %td 
            #{r.loan_payment}
          %td
            #{number_to_currency(r.new_amount, unit: "P")}

  /= render partial: "shared/voucher", locals: { voucher: @voucher }

  = render partial: "danger_actions", locals: { loan_payment_adjustment: @loan_payment_adjustment }

#parameters{ data: { id: @loan_payment_adjustment.id } }
= render partial: "shared/errors_template"
= render partial: "modal_approve_confirmation"
/= javascript_include_tag "adjustments/Adjustments.SubsidiaryAdjustment"

:javascript
  $(document).ready(function() {
    //Adjustments.SubsidiaryAdjustment.init();
  });
