<script id="reports-accounts-template" type="x-tmpl-mustache">
  {{#branches}}
    {{#so_list}}
      <h4>
        {{so}}
        <small>{{name}}</small>
      </h4>
      <table class='ui small teal table sticky'>
        <thead>
          <tr>
            <th width='25%'>Name</th>
            <th></th>
            <th class='accounting-curr'>Total</th>
            {{#account_types}}
              <th class='accounting-curr'>{{.}}</th>
            {{/account_types}}
          </tr>
        </thead>
        <tbody>
          {{#centers}}
            <tr>
              <td>{{name}}</td>
              <td>{{member_count}}</td>
              <td class='curr'>{{total_funds}}</td>
              {{#funds}}
                <td class='curr'>{{.}}</td>
              {{/funds}}
            </tr>
          {{/centers}}
          <tr class='leader'>
            <td>Total for {{so}}</td>
            <td>{{member_count}}</td>
            <td class='curr'>{{total_funds}}</td>
            {{#subtotals}}
              <td class='curr'>{{.}}</td>
            {{/subtotals}}
          </tr>
        </tbody>
      </table>
    {{/so_list}}
    <table class='ui small teal table'>
      <thead>
        <tr>
          <th width='25%'>Name</th>
          <th></th>
          <th class='accounting-curr'>Total</th>
          {{#account_types}}
            <th class='accounting-curr'>{{.}}</th>
          {{/account_types}}
        </tr>
      </thead>
      <tbody>
        <tr class='leader'>
          <td width='25%'>{{name}} Total</td>
          <td>{{branch_member_total}}</td>
          <td class='curr'>{{branch_total_funds}}</td>
          {{#branch_total_funds_breakdown}}
            <td class='curr'>{{.}}</td>
          {{/branch_total_funds_breakdown}}
        </tr>
      </tbody>
    </table>
  {{/branches}}
  <hr>
  <table class='ui small blue table'>
    <thead>
      <tr>
        <th width='25%'></th>
        <th></th>
        <th></th>
        {{#account_types}}
          <th class='accounting-curr'>{{.}}</th>
        {{/account_types}}
      </tr>
    </thead>
    <tbody>
      <tr class='leader'>
        <td width='25%'>Grand Total</td>
        <td>{{grand_total_member_count}}</td>
        <td class='curr'>{{grand_total_funds}}</td>
        {{#grand_total_account_type_funds}}
          <td class='curr'>{{.}}</td>
        {{/grand_total_account_type_funds}}
      </tr>
    </tbody>
  </table>
</script>
