<script id="reports-accounts-detailed-template" type="x-tmpl-mustache">
  {{#branches}}
    {{#so_list}}
      <h3>
        {{so}}
        <small>{{name}}</small>
      </h3>
      {{#centers}}
        <h4>{{name}}</h4>
        <table class='ui small grey table sticky'>
          <thead>
            <tr>
              <th width='25%'>Name</th>
              <th></th>
              <th class='accounting-curr'>Total</th>
              {{#account_types}}
                <th class='accounting-curr'>{{.}}</th>
              {{/account_types}}
            </tr>
          </thead>
          <tbody>
            {{#member_accounts}}
              <tr>
                <td>{{member}}</td>
                <td></td>
                <td class='curr'>{{total_for_member}}</td>
                {{#accounts}}
                  <td class='curr'>{{.}}</td>
                {{/accounts}}
              </tr>
            {{/member_accounts}}
            <tr class='leader'>
              <td class='accounting-curr'>Total</td>
              <td>{{member_count}}</td>
              <td class='curr'>{{total_funds}}</td>
              {{#funds}}
                <td class='curr'>{{.}}</td>
              {{/funds}}
            </tr>
          </tbody>
        </table>
      {{/centers}}
      <hr>
      <table class='ui small default table'>
        <tbody>
          <tr class='leader'>
            <th width='25%'>{{so}} Total</th>
            <th>{{member_count}}</th>
            <th class='curr'>{{total_funds}}</th>
            {{#subtotals}}
              <th class='curr'>{{.}}</th>
            {{/subtotals}}
          </tr>
        </tbody>
      </table>
      <hr>
    {{/so_list}}
    <hr>
    <h4>Grand Total for Batasan</h4>
    <table class='ui small teal table'>
      <thead>
        <tr>
          <th width='25%'>Name</th>
          <th></th>
          <th class='accounting-curr'>Total</th>
          {{#account_types}}
            <th class='accounting-curr'>{{.}}</th>
          {{/account_types}}
        </tr>
      </thead>
      <tbody>
        <tr class='leader'>
          <td width='25%'>Total</td>
          <td>{{branch_member_total}}</td>
          <td class='curr'>{{branch_total_funds}}</td>
          {{#branch_total_funds_breakdown}}
            <td class='curr'>{{.}}</td>
          {{/branch_total_funds_breakdown}}
        </tr>
      </tbody>
    </table>
    <hr>
  {{/branches}}
</script>
