<script id="reports-aging-of-receivables-template" type="x-tmpl-mustache">
  {{#loan_products}}
    <hr>
    {{#branches}}
      <h3>
        {{name}}
        <small>{{loan_product}}</small>
      </h3>
      {{#so_list}}
        <h4>{{so}}</h4>
        <table class='ui small teal table sticky'>
          <thead>
            <tr>
              <th width="15%">Name</th>
              <th width="15%">Total</th>
              <th>1-30</th>
              <th>31-365</th>
              <th>> 365</th>
            </tr>
          </thead>
          <tbody>
            {{#centers}}
              <tr class='leader summary'>
                <td>{{name}}</td>
                <td>
                  <div class='curr'>{{amount_due}}</div>
                  <div class='curr'>{{outstanding_balance_of_loans_with_due}}</div>
                  <div>{{num_loans}}</div>
                </td>
                {{#par_bins}}
                  <td>
                    <div class='curr'>{{amount_due}}</div>
                    <div class='curr'>{{outstanding_balance_of_loans_with_due}}</div>
                    <div>{{num_loans}}</div>
                  </td>
                {{/par_bins}}
              </tr>
            {{/centers}}
            <tr class='leader' style='background-color: #84ADFB;'>
              <td>Grand Total for {{so}}</td>
              <td>
                <div class='curr'>{{amount_due}}</div>
                <div class='curr'>{{outstanding_balance_of_loans_with_due}}</div>
                <div>{{num_loans}}</div>
              </td>
              {{#par_bins}}
                <td>
                  <div class='curr'>{{amount_due}}</div>
                  <div class='curr'>{{outstanding_balance_of_loans_with_due}}</div>
                  <div>{{num_loans}}</div>
                </td>
              {{/par_bins}}
            </tr>
          </tbody>
        </table>
      {{/so_list}}
      <h3>Grand Total for {{name}}</h3>
      <table class='ui green small table'>
        <thead>
          <tr>
            <th width="15%">Name</th>
            <th width="15%">Total</th>
            <th>1-30</th>
            <th>31-365</th>
            <th>> 365</th>
          </tr>
        </thead>
        <tbody>
          <tr class='leader'>
            <td>Grand Total</td>
            <td>
              <div class='curr'>{{amount_due}}</div>
              <div class='curr'>{{outstanding_balance_of_loans_with_due}}</div>
              <div>{{num_loans}}</div>
            </td>
            {{#par_bins}}
              <td>
                <div class='curr'>{{amount_due}}</div>
                <div class='curr'>{{outstanding_balance_of_loans_with_due}}</div>
                <div>{{num_loans}}</div>
              </td>
            {{/par_bins}}
          </tr>
        </tbody>
      </table>
    {{/branches}}
  {{/loan_products}}
  <h2>Grand Total</h2>
  <table class='ui green small table'>
    <thead>
      <tr>
        <th width="15%">Name</th>
        <th width="15%">Total</th>
        <th>1-31</th>
        <th>31-365</th>
        <th>> 365</th>
      </tr>
    </thead>
    <tbody>
      <tr class='leader'>
        <td>Grand Total</td>
        <td>
          <div class='curr'>{{amount_due}}</div>
          <div class='curr'>{{outstanding_balance_of_loans_with_due}}</div>
          <div>{{num_loans}}</div>
        </td>
        {{#par_bins}}
          <td>
            <div class='curr'>{{amount_due}}</div>
            <div class='curr'>{{outstanding_balance_of_loans_with_due}}</div>
            <div>{{num_loans}}</div>
          </td>
        {{/par_bins}}
      </tr>
    </tbody>
  </table>
  <hr>
</script>

