<script id="reports-collections-template" type="x-tmpl-mustache">
  <table class='ui small blue table'>
    <thead>
      <tr>
        <th class='accounting-curr'>Deposits</th>
        <th width='10%'></th>
        <th class='accounting-curr'>Fund Transfer Deposits</th>
        <th width='10%'></th>
        <th class='accounting-curr'>Reverse Withdraws</th>
        <th width='10%'></th>
      </tr>
    </thead>
    <tbody>
      {{#totals}}
        <tr class='leader'>
          <td class='curr'>{{total_deposit}}</td>
          <td></td>
          <td class='curr'>{{total_fund_transfer_deposit}}</td>
          <td></td>
          <td class='curr'>{{total_reverse_withdraw}}</td>
          <td></td>
        </tr>
      {{/totals}}
    </tbody>
  </table>
</script>
