<script id="reports-expenses-soa-template" type="x-tmpl-mustache">
  <table class="table table-bordered table-responsive sticky">
    <thead>
      <th width="5%"></th>
      <th width="40%">Name</th>
      <th>Amount</th>
      <th>Date</th>
      <th>Check No</th>
      <th>Name of Person in Check</th>
    </thead>
    <tbody>
      {{#records}}
        <tr>
          <td>{{index}}</td>
          <td>{{name}}</td>
          <td class='curr'>{{amount}}</td>
          <td>{{date}}</td>
          <td>{{check_number}}</td>
          <td>{{name_of_person_in_check}}</td>
        </tr>
      {{/records}}
      <tr>
        <th></th>
        <th>Total</th>
        <th class='curr'>{{total_amount}}</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </tbody>
  </table>
</script>
