<script id="reports-soa-funds" type="x-tmpl-mustache">
  <div id="reports-soa-funds-data">
    {{#records}}
      <h3>{{center}}</h3>
      {{#member_records}}
        <div class="label label-primary">
          <img src="{{profile_picture}}">
          {{member}}
          <div class="detail">{{identification_number}}</div>
        </div>
        <table class="table table-bordered table-responsive">
          <thead>
            <tr>
              <th rowspan="2">Date</th>
              {{#account_codes}}
                <th colspan="2">
                  {{.}}
                </th>
              {{/account_codes}}
            </tr>
            <tr>
              {{#account_codes}}
                <th>Debit</th>
                <th>Credit</th>
              {{/account_codes}}
            </tr>
          </thead>
          <tbody>
            {{#transactions}}
              <tr>
                <td>{{date}}</td>
                {{#transactions}}
                  <td class="data">{{debit}}</td>
                  <td class="data">{{credit}}</td>
                {{/transactions}}
              </tr>
            {{/transactions}}
            <tr>
              <th>Total</th>
              {{#total_transactions}}
                <th class="data">{{.}}</th>
              {{/total_transactions}}
            </tr>
          </tbody>
        </table>
        <div class="label label-success">
          <img src="{{profile_picture}}">
          {{member}}
          <div class="detail">{{identification_number}}</div>
        </div>
        <hr>
      {{/member_records}}
    {{/records}}
    <table class="table table-bordered table-responsive">
      <thead>
        <tr>
          <th rowspan="2"></th>
          {{#account_codes}}
            <th colspan="2">
              {{.}}
            </th>
          {{/account_codes}}
        </tr>
        <tr>
          {{#account_codes}}
            <th>Debit</th>
            <th>Credit</th>
          {{/account_codes}}
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>Grand Total</th>
          {{#grand_total}}
            <td class="data">
              {{.}}
            </td>
          {{/grand_total}}
        </tr>
      </tbody>
    </table>
  </div>
</script>
