<script id="reports-income-statement-template" type="x-tmpl-mustache">
  <h2>
    {{company}}  - {{branch}}
    <small>
      Balance Sheet
    </small>
  </h2>

  <h3>
    From: {{start_date}}
    <br>
    To: {{end_date}} 
  </h3>

  <h4>Revenue</h4>
  <table class="ui green small table">
    {{#revenue_major_groups}}
      <tr>
        <th colspan="4">{{name}}</th>
      </tr>
      {{#major_accounts}}
        <tr>
          <th colspan="4">{{name}}</th>
        </tr>
        {{#mother_accounting_codes}}
          <tr>
            <td>{{code}}</td>
            <td>{{name}}</td>
            <td></td>
            <td>{{total}}</td>
          </tr>
          {{#accounting_code_categories}}
            {{#accounting_codes}}
              <tr>
                <td>{{code}}</td>
                <td>{{name}}</td>
                <td>{{total}}</td>
                <td></td>
              </tr>
            {{/accounting_codes}}
          {{/accounting_code_categories}}
        {{/mother_accounting_codes}}
        <tr>
          <th></th>
          <th colspan="2">Total {{name}}</th>
          <th>{{total}}</th>
        </tr>
      {{/major_accounts}}
      <tr>
        <th colspan="3">TOTAL {{name}}</th>
        <th>{{total}}</th>
      </tr>
    {{/revenue_major_groups}}
  </table>

  <h4>Expense</h4>
  <table class="ui green small table">
    {{#expense_major_groups}}
      <tr>
        <th colspan="4">{{name}}</th>
      </tr>
      {{#major_accounts}}
        <tr>
          <th colspan="4">{{name}}</th>
        </tr>
        {{#mother_accounting_codes}}
          <tr>
            <td>{{code}}</td>
            <td>{{name}}</td>
            <td></td>
            <td>{{total}}</td>
          </tr>
          {{#accounting_code_categories}}
            {{#accounting_codes}}
              <tr>
                <td>{{code}}</td>
                <td>{{name}}</td>
                <td>{{total}}</td>
                <td></td>
              </tr>
            {{/accounting_codes}}
          {{/accounting_code_categories}}
        {{/mother_accounting_codes}}
        <tr>
          <th></th>
          <th colspan="2">Total {{name}}</th>
          <th>{{total}}</th>
        </tr>
      {{/major_accounts}}
      <tr>
        <th colspan="3">TOTAL {{name}}</th>
        <th>{{total}}</th>
      </tr>
    {{/expense_major_groups}}
  </table>
</script>

