<script id="reports-loans-soa-template" type="x-tmpl-mustache">
  {{#branches}}
    <h3>{{name}}</h3>
    {{#centers}}
      <h4>{{name}}</h4>
      {{#members}}
        <label class="label label-success">
          {{name}}
        </label>
        <table class="table ui small green table">
          <thead>
            <tr>
              <th width="25%">Date</th>
              <th width="25%" class="accounting-curr">Principal</th>
              <th width="25%" class="accounting-curr">Interest</th>
              <th width="25%" class="accounting-curr">Total</th>
            </tr>
          </thead>
          <tbody>
            {{#records}}
              <tr>
                <td>{{paid_at}}</td>
                <td class="curr">{{principal}}</td>
                <td class="curr">{{interest}}</td>
                <td class="curr">{{amount}}</td>
              </tr>
            {{/records}}
            <tr>
              <th>Total</th>
              <th class="curr">{{total_principal}}</th>
              <th class="curr">{{total_interest}}</th>
              <th class="curr">{{total_amount}}</th>
            </tr>
          </tbody>
        </table>
      {{/members}}
      <label class="ui green label">
        Total for Center {{name}}
      </label>
      <table class="table table-responsive table-bordered">
        <thead>
          <tr>
            <th width="25%"></th>
            <th width="25%" class="accounting-curr">Principal</th>
            <th width="25%" class="accounting-curr">Interest</th>
            <th width="25%" class="acccounting-curr">Total</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td class="curr">{{total_principal}}</td>
            <td class="curr">{{total_interest}}</td>
            <td class="curr">{{total_amount}}</td>
          </tr>
        </tbody>
      </table>
    {{/centers}}
    <label class="label label-info">
      Total for Branch {{name}}
    </label>
    <table class="table table-bordered table-responsive">
      <thead>
        <tr>
          <th width="25%"></th>
          <th width="25%" class="accounting-curr">Principal</th>
          <th width="25%" class="accounting-curr">Interest</th>
          <th width="25%" class="accounting-curr">Total</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td class="curr">{{total_principal}}</td>
          <td class="curr">{{total_interest}}</td>
          <td class="curr">{{total_amount}}</td>
        </tr>
      </tbody>
    </table>
  {{/branches}}
</script>
