<script id="reports-master-list-of-client-loans-template" type="x-tmpl-mustache">
  <h4>
    {{company_name}}
    <small>
      As of {{as_of}}
    </small>
  </h4>
  <h4>Master List With Maturity Date</h4>
  {{#records}}
    <div class="label label-primary">
      {{loan_product}}
    </div>
    <br>
    {{#branch_records}}
      {{#center_records}}
        <h4>{{center}}</h4>
        <table class="table table-bordered table-responsive">
          <thead>
            <tr>
              <th width="5%"></th>
              <th width="30%">Name</th>
              <th>Date Released</th>
              <th>Maturity Date</th>
              <th class='accounting-curr'>Loan Amount</th>
              <th class='accounting-curr'>Prin. Balance</th>
              <th class='accounting-curr'>Interest Balance</th>
              <th class='accounting-curr'>Total Balance</th>
            </tr>
          </thead>
          <tbody>
            {{#loan_records}}
              <tr>
                <td>{{index}}</td>
                <td>{{member_name}}</td>
                <td>{{date_released}}</td>
                <td>{{maturity_date}}</td>
                <td class='curr'>{{loan_amount}}</td>
                <td class='curr'>{{principal_balance}}</td>
                <td class='curr'>{{interest_balance}}</td>
                <td class='curr'>{{total_balance}}</td>
              </tr>
            {{/loan_records}}
            <tr>
              <th></th>
              <th>{{count}}</th>
              <th></th>
              <th></th>
              <th class='curr'>{{total_loan_amount}}</th>
              <th class='curr'>{{total_principal_balance}}</th>
              <th class='curr'>{{total_interest_balance}}</th>
              <th class='curr'>{{total_balance}}</th>
            </tr>
          </tbody>
        </table>
      {{/center_records}}
    {{/branch_records}}
    <h4>Total for {{loan_product}}</h4>
    <table class="ui teal small celled table">
      <thead>
        <tr>
          <th width="5%"></th>
          <th width="30%">Name</th>
          <th>Date Released</th>
          <th>Maturity Date</th>
          <th class='accounting-curr'>Loan Amount</th>
          <th class='accounting-curr'>Prin. Balance</th>
          <th class='accounting-curr'>Interest Balance</th>
          <th class='accounting-curr'>Total Balance</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th class='curr'>{{total_loan_amount}}</th>
          <th class='curr'>{{total_principal_balance}}</th>
          <th class='curr'>{{total_interest_balance}}</th>
          <th class='curr'>{{total_balance}}</th>
        </tr>
      </tbody>
    </table>
  {{/records}}
  <h3>Grand Total</h3>
  <table class="ui blue small celled table">
    <thead>
      <tr>
        <th width="5%"></th>
        <th width="30%">Name</th>
        <th>Date Released</th>
        <th>Maturity Date</th>
        <th class='accounting-curr'>Loan Amount</th>
        <th class='accounting-curr'>Prin. Balance</th>
        <th class='accounting-curr'>Interest Balance</th>
        <th class='accounting-curr'>Total Balance</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th class='curr'>{{total_loan_amount}}</th>
        <th class='curr'>{{total_principal_balance}}</th>
        <th class='curr'>{{total_interest_balance}}</th>
        <th class='curr'>{{total_balance}}</th>
      </tr>
    </tbody>
  </table>
</script>
