<script id="report-template" type="x-tmpl-mustache">
<table style="margin-left:1%;width:98%">
  
  <tr><th style="border:1px black solid;height:45px;padding-left:1%;width:15%">SO NAME</th>
  {{#sample}}{{#so_active}}
      <th style="border:1px black solid;padding-left:2%;width:10%">{{name}} </th> 
  {{/so_active}}{{/sample}}
  </tr>

  <tr><td style="border:1px black solid;height:30px;padding-left:1%">SO Status</td>
      {{#sample}}{{#so_active}}
      <td align="center" style="border:1px black solid;">{{so_status}}</td>
      {{/so_active}}{{/sample}}
  </tr>

  <tr><td style="border:1px black solid;height:30px;padding-left:1%">Outreach / Active Members</td>
      {{#sample}}{{#so_active}}
      <td align="center" style="border:1px black solid;">{{active_members_total}}</td>
      {{/so_active}}{{/sample}}
  </tr>

  <tr><td style="border:1px black solid;height:30px;padding-left:1%">Active Loaners</td>
      {{#sample}}{{#so_active}}
      <td align="center" style="border:1px black solid;">{{active_loaners_total}}</td>
      {{/so_active}}{{/sample}}
  </tr>



  <tr><td style="border:1px black solid;height:30px;padding-left:1%">Pure Savers</td>
      {{#sample}}{{#so_active}}
      <td align="center" style="border:1px black solid;">{{pure_savers_total}}</td>
      {{/so_active}}{{/sample}}
  </tr>



  <tr><td style="border:1px black solid;height:30px;padding-left:1%">Repayment Rate</td>
      {{#sample}}{{#so_active}}
      <td align="center" style="border:1px black solid;">{{total_principal_rr}}%</td>
      {{/so_active}}{{/sample}}
  </tr>

  <tr><td style="border:1px black solid;height:30px;padding-left:1%">Beginning number of Active Members</td>
      {{#sample}}{{#so_active}}
      <td align="center" style="border:1px black solid;">{{active_members_total_beg}}</td>
      {{/so_active}}{{/sample}}
  </tr>

  <tr><td style="border:1px black solid;height:30px;padding-left:1%">Additional Members</td>
      {{#sample}}{{#so_active}}
      <td align="center" style="border:1px black solid;">{{new_mem}}</td>
      {{/so_active}}{{/sample}}
  </tr>

  <tr><td style="border:1px black solid;height:30px;padding-left:1%">Balik Kasapi</td>
      {{#sample}}{{#so_active}}
      <td align="center" style="border:1px black solid;">{{balik_kasapi}}</td>
      {{/so_active}}{{/sample}}
  </tr>



  <tr><td style="border:1px black solid;height:30px;padding-left:1%">Number Of Drop-out</td>
      {{#sample}}{{#so_active}}
      <td align="center" style="border:1px black solid;">{{resigned}}</td>
      {{/so_active}}{{/sample}}
  </tr>

  <tr><td style="border:1px black solid;height:30px;padding-left:1%">Drop-out Percentage</td>
      {{#sample}}{{#so_active}}
      <td align="center" style="border:1px black solid;">{{do_rate}}%</td>
      {{/so_active}}{{/sample}}
  </tr>

  <tr><td style="border:1px black solid;height:30px;padding-left:1%">PAR Amount</td>
      {{#sample}}{{#so_active}}
      <td class='curr' style="border:1px black solid;padding-right:1%">{{total_par_amount}}</td>
      {{/so_active}}{{/sample}}
  </tr>

  <tr><td style="border:1px black solid;height:30px;padding-left:1%">PAR Rate</td>
      {{#sample}}{{#so_active}}
      <td align="center" style="border:1px black solid;">{{total_par_rate}}%</td>
      {{/so_active}}{{/sample}}
  </tr>

  <tr><td style="border:1px black solid;height:30px;padding-left:1%">Portfolio</td>
      {{#sample}}{{#so_active}}
      <td class='curr' style="border:1px black solid;padding-right:1%">{{total_loan_balance}}</td>
      {{/so_active}}{{/sample}}
  </tr>
  <tr><td style="border:1px black solid;height:30px;padding-left:1%">Loan Disbursements</td>
      {{#sample}}{{#so_active}}
      <td class='curr' style="border:1px black solid;padding-right:1%">{{disbursement}}</td>
      {{/so_active}}{{/sample}}
  </tr>
  

  <tr><td style="border:1px black solid;height:30px;padding-left:1%">Incentive (PHP)</td>
      {{#sample}}{{#so_active}}
      <td class='curr' style="border:1px black solid;padding-right:1%;font-weight:bold">{{incentive}}}</td>
      {{/so_active}}{{/sample}}
  </tr>
  
  <tr>
    <td style="height:15px;padding-left:1%"></td>
  </tr>
    
  <tr><td style="border:1px black solid;height:30px;padding-left:1%">Verbal Warning Demerits</td>
      {{#sample}}{{#so_active}}
      <td class='curr' style="border:1px black solid;padding-right:1%">{{vw_demerits}}}<</td>
      {{/so_active}}{{/sample}}
    </tr>

    <tr><td style="border:1px black solid;height:30px;padding-left:1%">Written Warning Demerits</td>
      {{#sample}}{{#so_active}}
      <td class='curr' style="border:1px black solid;padding-right:1%">{{ww_demerits}}}<</td>
      {{/so_active}}{{/sample}}
    </tr>

    <tr><td style="border:1px black solid;height:30px;padding-left:1%">Drop Out Demerits (Php 20/MEM)</td>
      {{#sample}}{{#so_active}}
      <td class='curr' style="border:1px black solid;padding-right:1%">{{do_demerits}}}</td>
      {{/so_active}}{{/sample}}
    </tr>

    <tr><td style="border:1px black solid;height:30px;padding-left:1%">Total Demerits(Php)</td>
      {{#sample}}{{#so_active}}
      <td class='curr' style="border:1px black solid;padding-right:1%;font-weight:bold">{{total_demerits}}}</td>
      {{/so_active}}{{/sample}}
    </tr>

    <tr>
      <td style="height:15px;padding-left:1%"></td>
    </tr>
    
    <tr><td style="border:1px black solid;height:30px;padding-left:1%">Final Incentives</td>
      {{#sample}}{{#so_active}}
      <td class='curr' style="border:1px black solid;padding-right:1%;font-weight:bold">{{final_incentives}}}</td>
      {{/so_active}}{{/sample}}
    </tr>
</table>

<table style="margin-left:1%;margin-top:3%;border:1px black solid;width:98%">
  <tr>
    <td style="border:1px black solid;height:30px;padding-left:1%">Total SO Incentive (Php) = TSI</td>
    <td class = 'curr' style="border:1px black solid;height:30px;padding-right:1%;font-weight:bold">{{incentive_sum}}</td>
    <td style="border:1px black solid;height:30px;padding-left:1%">Total Regular SO = TSO</td>
    <td style="border:1px black solid;height:30px;padding-right:1%;font-weight:bold" align='right'>{{regular_so}}</td>
  </tr>

 <tr>
    <td style="border:1px black solid;height:30px;padding-left:1%">Average SO Incentive (Php) = TSI / TSO</td>
    <td class = 'curr' style="border:1px black solid;height:30px;padding-right:1%;font-weight:bold">{{ave_incentive}}</td>
    <td style="border:1px black solid;height:30px;padding-left:1%">SOM Incentive = Average SO Incentive * 0.75</td>
    <td class = 'curr' style="border:1px black solid;height:30px;padding-right:1%;font-weight:bold">{{som_inc}}</td>
  </tr>
</table>
<
</script>
