<script id="template-monthly-rr" type="x-tmpl-mustache">
  <table class="ui green celled table">
    <thead>
      <tr>
        <th>Date</th>
        <th>RR</th>
      </trh>
    </thead>
    <tbody>
      {{#records}}
        <tr>
          <td>{{date}}</td>
          <td>{{rr}}%</td>
        </tr>
      {{/records}}
    </tbody>
  </table>
</script>
