<script id="reports-repayments-template" type="x-tmpl-mustache">
  {{#loan_products}}
    {{#branches}}
      <h3>
        {{loan_product}}
        <small>{{name}}</small>
      </h3>
      {{#so_list}}
        <h4>{{so}}</h4>
        <table class='table table-bordered table-responsive sticky'>
          <thead>
            <tr>
              <th width='15%'>Name</th>
              <th width='10%'>Date Released</th>
              <th class='accounting-curr'>Loan Amt.</th>
              <th class='accounting-curr'>Princ. Paid</th>
              <th class='accounting-curr'>Loan Bal.</th>
              <th class='accounting-curr'>Int. Amt.</th>
              <th class='accounting-curr'>Int. Paid</th>
              <th class='accounting-curr'>Int Bal.</th>
              <th class='accounting-curr'>Total Paid</th>
              <th class='accounting-curr'>Cum. Due (P)</th>
              <th class='accounting-curr'>Cum. Due</th>
              <th class='accounting-curr'>Amt Past Due<br>(P+I)</th>
              <th class='accounting-curr'>RR %<br>(P)</th>
            </tr>
          </thead>
          <tbody>
            {{#centers}}
              <tr>
                <td width='15%'>{{name}}</td>
                <td width='10%'>{{num_members}} | {{num_loans}}</td>
                <td class='curr'>{{loan_amount}}</td>
                <td class='curr'>{{principal_paid}}</td>
                <td class='curr'>{{loan_balance}}</td>
                <td class='curr'>{{interest_amount}}</td>
                <td class='curr'>{{interest_paid}}</td>
                <td class='curr'>{{interest_balance}}</td>
                <td class='curr'>{{total_paid}}</td>
                <td class='curr'>{{principal_cum_due}}</td>
                <td class='curr'>{{cum_due}}</td>
                <td class='curr'>{{amt_past_due}}</td>
                <td class='curr'>{{principal_rr}}</td>
              </tr>
            {{/centers}}
            <tr class='leader'>
              <td width='15%'>Total for {{so}}</td>
              <td width='10%'>{{total_num_members}} | {{total_num_loans}}</td>
              <td class='curr'>{{total_loan_amount}}</td>
              <td class='curr'>{{total_principal_paid}}</td>
              <td class='curr'>{{total_loan_balance}}</td>
              <td class='curr'>{{total_interest_amount}}</td>
              <td class='curr'>{{total_interest_paid}}</td>
              <td class='curr'>{{total_interest_balance}}</td>
              <td class='curr'>{{total_total_paid}}</td>
              <td class='curr'>{{total_principal_cum_due}}</td>
              <td class='curr'>{{total_cum_due}}</td>
              <td class='curr'>{{total_amt_past_due}}</td>
              <td class='curr'>{{total_principal_rr}}</td>
            </tr>
          </tbody>
        </table>
      {{/so_list}}
    {{/branches}}
    <h2>TOTAL FOR {{loan_product}}</h2>
    <table class='table table-bordered table-responsive sticky'>
      <tbody>
        <tr>
          <td width='15%'></td>
          <td width='10%'>{{total_num_members}} | {{total_num_loans}}</td>
          <td class='curr'>{{total_loan_amount}}</td>
          <td class='curr'>{{total_principal_paid}}</td>
          <td class='curr'>{{total_loan_balance}}</td>
          <td class='curr'>{{total_interest_amount}}</td>
          <td class='curr'>{{total_interest_paid}}</td>
          <td class='curr'>{{total_interest_balance}}</td>
          <td class='curr'>{{total_total_paid}}</td>
          <td class='curr'>{{total_principal_cum_due}}</td>
          <td class='curr'>{{total_cum_due}}</td>
          <td class='curr'>{{total_amt_past_due}}</td>
          <td class='curr'>{{total_principal_rr}}</td>
        </tr>
      </tbody>
    </table>
  {{/loan_products}}
  <h1>GRAND TOTAL</h1>
  <table class='table table-bordered table-responsive sticky'>
    <tbody>
      <tr>
        <td width='15%'></td>
        <td width='10%'>{{total_num_members}} | {{total_num_loans}}</td>
        <td class='curr'>{{total_loan_amount}}</td>
        <td class='curr'>{{total_principal_paid}}</td>
        <td class='curr'>{{total_loan_balance}}</td>
        <td class='curr'>{{total_interest_amount}}</td>
        <td class='curr'>{{total_interest_paid}}</td>
        <td class='curr'>{{total_interest_balance}}</td>
        <td class='curr'>{{total_total_paid}}</td>
        <td class='curr'>{{total_principal_cum_due}}</td>
        <td class='curr'>{{total_cum_due}}</td>
        <td class='curr'>{{total_amt_past_due}}</td>
        <td class='curr'>{{total_principal_rr}}</td>
      </tr>
    </tbody>
  </table>
  <hr>
</script>
