<script id="reports-repayments-detailed-template" type="x-tmpl-mustache">
  <div class='ui grid'>
    <div class='eight wide column'>
      <h4>
        <span class="fa fa-bank"></span>
        Repayments Report with PO - Principal + Interest
        <small>As of: {{as_of}}</small>
      </h4>
    </div>
    <div class='eight wide column'>
      <div class='pull-right'>
        <h4>
          <span class="fa fa-building"></span>
          Cluster: {{cluster}}</small>
        </h4>
      </div>
    </div>
  </div>

  {{#loan_products}}
    <hr>
    <div class='label label-success'>{{loan_product}}</div>
    {{#branches}}
      {{#so_list}}
        <h4>{{so}}</h4>
        <table class='table table-bordered table-responsive sticky'>
          <thead>
            <tr>
              <th width='15%'>Name</th>
              <th width='10%'>Date Released</th>
              <th>Loan Amt.</th>
              <th>Princ. Paid</th>
              <th>Loan Bal.</th>
              <th>Int. Amt.</th>
              <th>Int. Paid</th>
              <th>Int Bal.</th>
              <th>Total Paid</th>
              <th>Cum. Due (P)</th>
              <th>Cum. Due (P+I)</th>
              <th>Amt Past Due<br>(P+I)</th>
              <th>RR %<br>(P)</th>
            </tr>
          </thead>
          <tbody>
            {{#centers}}
              {{#loans}}
                <tr class='detailed'>
                  <td width='15%'>
                    <a href="/loans/{{loan_id}}" target="_blank">{{name}}</a>
                  </td>
                  <td width='10%'>{{date_released}}</td>
                  <td class='curr'>{{loan_amount}}</td>
                  <td class='curr'>{{principal_paid}}</td>
                  <td class='curr'>{{loan_balance}}</td>
                  <td class='curr'>{{interest_amount}}</td>
                  <td class='curr'>{{interest_paid}}</td>
                  <td class='curr'>{{interest_balance}}</td>
                  <td class='curr'>{{total_paid}}</td>
                  <td class='curr'>{{principal_cum_due}}</td>
                  <td class='curr'>{{cum_due}}</td>
                  <td class='curr'>{{amt_past_due}}</td>
                  <td class='curr'>{{principal_rr}}</td>
                </tr>
              {{/loans}}
              <tr class='summary'>
                <td width='15%'>{{name}}</td>
                <td width='10%'>{{num_members}} | {{num_loans}}</td>
                <td class='curr'>{{loan_amount}}</td>
                <td class='curr'>{{principal_paid}}</td>
                <td class='curr'>{{loan_balance}}</td>
                <td class='curr'>{{interest_amount}}</td>
                <td class='curr'>{{interest_paid}}</td>
                <td class='curr'>{{interest_balance}}</td>
                <td class='curr'>{{total_paid}}</td>
                <td class='curr'>{{principal_cum_due}}</td>
                <td class='curr'>{{cum_due}}</td>
                <td class='curr'>{{amt_past_due}}</td>
                <td class='curr'>{{principal_rr}}</td>
              </tr>
            {{/centers}}
            <tr class='leader total'>
              <td width='15%'>Total for {{so}}</td>
              <td width='10%'>{{total_num_members}} | {{total_num_loans}}</td>
              <td class='curr'>{{total_loan_amount}}</td>
              <td class='curr'>{{total_principal_paid}}</td>
              <td class='curr'>{{total_loan_balance}}</td>
              <td class='curr'>{{total_interest_amount}}</td>
              <td class='curr'>{{total_interest_paid}}</td>
              <td class='curr'>{{total_interest_balance}}</td>
              <td class='curr'>{{total_total_paid}}</td>
              <td class='curr'>{{total_principal_cum_due}}</td>
              <td class='curr'>{{total_cum_due}}</td>
              <td class='curr'>{{total_amt_past_due}}</td>
              <td class='curr'>{{total_principal_rr}}</td>
            </tr>
          </tbody>
        </table>
      {{/so_list}}
    {{/branches}}
    <h2>TOTAL FOR {{loan_product}}</h2>
    <table class='table table-bordered table-responsive sticky'>
      <tbody>
        <tr>
          <td width='15%'></td>
          <td width='10%'>{{total_num_members}} | {{total_num_loans}}</td>
          <td class='curr'>{{total_loan_amount}}</td>
          <td class='curr'>{{total_principal_paid}}</td>
          <td class='curr'>{{total_loan_balance}}</td>
          <td class='curr'>{{total_interest_amount}}</td>
          <td class='curr'>{{total_interest_paid}}</td>
          <td class='curr'>{{total_interest_balance}}</td>
          <td class='curr'>{{total_total_paid}}</td>
          <td class='curr'>{{total_principal_cum_due}}</td>
          <td class='curr'>{{total_cum_due}}</td>
          <td class='curr'>{{total_amt_past_due}}</td>
          <td class='curr'>{{total_principal_rr}}</td>
        </tr>
      </tbody>
    </table>
  {{/loan_products}}
  <h1>GRAND TOTAL</h1>
  <table class='table table-bordered table-responsive sticky'>
    <tbody>
      <tr>
        <td width='15%'></td>
        <td width='10%'>{{total_num_members}} | {{total_num_loans}}</td>
        <td class='curr'>{{total_loan_amount}}</td>
        <td class='curr'>{{total_principal_paid}}</td>
        <td class='curr'>{{total_loan_balance}}</td>
        <td class='curr'>{{total_interest_amount}}</td>
        <td class='curr'>{{total_interest_paid}}</td>
        <td class='curr'>{{total_interest_balance}}</td>
        <td class='curr'>{{total_total_paid}}</td>
        <td class='curr'>{{total_principal_cum_due}}</td>
        <td class='curr'>{{total_cum_due}}</td>
        <td class='curr'>{{total_amt_past_due}}</td>
        <td class='curr'>{{total_principal_rr}}</td>
      </tr>
    </tbody>
  </table>
  <hr>
</script>
