<script id="soa-funds-template" type="x-tmpl-mustache">
  {{#members}}
    <h3>
      <label class="label label-info">
        {{member.last_name}}, {{member.first_name}}
      </label>
    </h3>
    <div class="section">
      <table class="table table-bordered table-responsive">
        <thead>
          <tr>
            <th>Date</th>
            {{#accountCodes}}
              <th class="" colspan="2">
                <center>
                  {{.}}
                </center>
              </th>
            {{/accountCodes}}
          </tr>
          <tr>
            <th></th>
            {{#accountCodes}}
              <th class="accounting-curr">DR</th>
              <th class="accounting-curr">CR</th>
            {{/accountCodes}}
          </tr>
        </thead>
        <tbody>
          {{#transactions}}
            <tr>
              <td>{{date}}</td>
              {{#records}}
                <td class="dr curr" data-code={{account_code}}>
                  {{dr_amount}} 
                </td>
                <td class="cr curr" data-code={{account_code}}>
                  {{cr_amount}} 
                </td>
              {{/records}}
            </tr>
          {{/transactions}}
        </tbody>
        <tfoot>
          <tr>
            <th>Total</th>
            {{#accountCodes}}
              <th class="total_dr curr" data-code={{.}}>0.00</th>
              <th class="total_cr curr" data-code={{.}}>0.00</th>
            {{/accountCodes}}
          </tr>
        </tfoot>
      </table>
    </div>
  {{/members}}
  <h2>Grand Total</h2>
  <table class="table table-bordered table-responsive">
    <thead>
      <tr>
        <th></th>
        {{#accountCodes}}
          <th class="" colspan="2">
            <center>
              {{.}}
            </center>
          </th>
        {{/accountCodes}}
      </tr>
      <tr>
        <th></th>
        {{#accountCodes}}
          <th class="accounting-curr">DR</th>
          <th class="accounting-curr">CR</th>
        {{/accountCodes}}
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>Grand Total</th>
        {{#accountCodes}}
          <td class="grand-total-dr curr" data-code={{.}}>0.00</td>
          <td class="grand-total-cr curr" data-code={{.}}>0.00</td>
        {{/accountCodes}}
      </tr>
    </tbody>
  </table>
</script>
