<script id="report-template" type="x-tmpl-mustache">
  <div class="row">
    <div class="col-md-6">
      <h2>
        <label class='label label-success'>
          As Of: {{as_of}}
        </label>
      </h2>
    </div>
    <div class="col-md-6">
      <div class="pull-right">
        <h2>
          <label class='label label-success'>
            {{num_weeks}} Weeks From Now: {{x_weeks_from_now}}
          </label>
        </h2>
      </div>
    </div>
  </div>
  {{#loan_products}}
    <h2>
      <label class='label label-info'>
        {{loan_product.code}}
      </label>
    </h2>
    {{#centers}}
      <h3>
        {{center.name}}
      </h3>
      <table class="table table-bordered table-responsive">
        <thead>
          <tr>
            <th width="2%"></th>
            <th width="10%">ID Number</th>
            <th width="20%">Member</th>
            <th width="10%">PN Number</th>
            <th class='accounting-curr'>Loan Amount
            <th class='accounting-curr'>Principal Balance</th>
            <th class='accounting-curr'>Interest Balance</th>
            <th class='accounting-curr'>Total Balance</th>
            
            <th>Maturity Date</th>
          </tr>
        </thead>
        <tbody>
          {{#loans}}
            <tr>
              <td>{{index}}</td>
              <td><a href="/members/{{member_id}}" target='_blank'>{{member_identification_number}}</a></td>
              <td><a href="/members/{{member_id}}" target='_blank'>{{member_name}}</a></td>
              <td><a href="/loans/{{loan_id}}" target='_blank'>{{pn_number}}</td>
              <td class='curr'>{{loan_amount}}</td>
              <td class='curr'>{{principal_balance}}</td>
              <td class='curr'>{{interest_balance}}</td>
              <td class='curr'>{{total_balance}}</td>
              <td>{{maturity_date}}</td>
            </tr>
          {{/loans}}
          {{#total}}
            <tr>
              <td></td>
              <td><b>Total</b></td>
              <td></td>
              <td></td>
              <td class='curr'>{{total_loan_amount}}</td>
              <td class='curr'>{{total_principal_balance}}</td>
              <td class='curr'>{{total_interest_balance}}</td>
              <td class='curr'>{{total_balance}}</td>
              <td></td>
            </tr>
          {{/total}}
        </tbody>
      </table>
    {{/centers}}
  {{/loan_products}}
    <table class="table table-bordered table-responsive">
      <tr>
        <thead>
          <tr>
            <th></th>
            <th></th>
            <th></th>
            <th>Loan Amount</th>
            <th>Principal Balance</th>
            <th>Interest Balance</th>
            <th>Total Balance</th>

          </tr>
        </thead>
        <tbody>
          <td><b>Grand total</b></td>
          <td></td>
          <td></td>
          <td class='curr'>{{grandtotalloan}} </td>
          <td class='curr' >{{grandtotalprincipalbalance}}</td>
          <td class='curr'>{{grandtotalinterestbalance}}</td>
          <td class='curr'>{{grandtotal}}</td>
        </tbody>
      </tr>
    </table>
</script>
