.remodal.modal-approve-loan-modal.selext{ data: { remodal_id: "modal-approve" } }
  %h3
    Approve Loan Application
  .errors
  .success
  .message
  #modal-controls.controls
    %hr
      %button#btn-approve-confirmation.btn.btn-success
        .fa.fa-check
        Yes
      %button#btn-cancel-approval.btn.btn-danger.reject-btn
        .fa.fa-times
        No
