#modal-add-payment.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
        %h3.modal-title
          Make Payment
      .modal-body
        .modal-body-content
          .row
            .col-md-12
              %label
                Amount
              = number_field_tag :amount, "", class: "form-control numeric", id: "input-payment-amount"
              %label DR Account Code
              = select_tag :debit_accounting_code_id, options_from_collection_for_select(AccountingCode.select("*").order("name ASC"), :id, :name, nil), id: "input-debit-accounting-code-id", class: "select-select2", prompt: "-- SELECT --"
          .row
            .col-md-12
              %label
                Particular
              = text_area_tag :particular, "", class: "form-control", id: "input-payment-particular"
          .row
            .col-md-12
              .errors
              .message
      .modal-footer
        .form-actions
          = link_to "#", id: "btn-submit-payment", class: "btn btn-primary" do
            .fa.fa-plus
            Submit
          %button.btn{"data-dismiss" => "modal", :type => "button"}
            .fa.fa-times
            Close
