.remodal.modal-reamortize-loan-modal.selext{ data: { remodal_id: "modal-reamortize" } }
  %h3
    Reamortize Loan
  .errors
  .message
  .controls
    .row
      .col-md-4
        %label
          Interest Rate:
        %input#input-interest-rate.numeric.decimal.form-control{ value: @loan.interest_rate }
      .col-md-4
        %label
          \# Installments:
        %input#input-num-installments.numeric.decimal.form-control{ value: @loan.num_installments }
      .col-md-4
        %label
          Term:
        %select#input-payment-term.form-control
          - Loan::PAYMENT_TERMS.each do |pt|
            - if pt == @loan.term
              %option{value: pt, selected: true}
                #{pt}
            - else
              %option{value: pt}
                #{pt}
    %hr
    .row
      .col-md-12
        %button#btn-approve-reamortization.btn.btn-success
          .fa.fa-check
          Yes
        %button#btn-cancel-reamortization.btn.btn-danger.reject-btn
          .fa.fa-times
          No
