.remodal.modal-reverse-loan-modal{ data: { remodal_id: "modal-reverse" } }
  %h3
    Reverse Loan Application
  .errors
  .success
  #reverse-modal-controls.controls
    %hr
      %button#btn-reverse-confirmation.btn.btn-success
        .fa.fa-check
        Yes
      %button#btn-cancel-reverse.btn.btn-danger.reject-btn
        .fa.fa-times
        No
