.remodal.modal-writeoff-loan-modal.selext{ data: { remodal_id: "modal-writeoff" } }
  %h3
    Writeoff Loan?
  .errors
  .success
  #writeoff-modal-controls.controls
    %hr
      %button#btn-writeoff-confirmation.btn.btn-success
        .fa.fa-check
        Yes
      %button#btn-cancel-writeoff.btn.btn-danger.reject-btn
        .fa.fa-times
        No

