<script id="general-ledger-template" type="x-tmpl-mustache">
  <div class="ui one column grid">
    <div class="column">
      <h1 class="ui green header">
        {{company}}
        <small>{{start_date}} to {{end_date}}</small>
      </h1>
    </div>
  </div>
  <table class="ui small green celled table">
    <thead>
      <tr>
        <th>Date</th>
        <th>Ref. No</th>
        <% if Settings.activate_microinsurance %>
          <th>Sub Ref. No</th>
        <% end %>
        <th></th>
        <th>Particular</th>
        <th class='acc-curr'>Debit <small>(PHP)</small></th>
        <th class='acc-curr'>Credit <small> (PHP) </small> </th>
        <th class='acc-curr'>Balance <small> (PHP) </small> </th>
      </tr>
    </thead>
    <tbody>
      {{#entries}}
        <tr class="leader">
          <td></td>
          <% if Settings.activate_microinsurance %>
            <td></td>
          <% end %>
          <td>{{accounting_code.code}}</td>
          <td></td>
          <td>{{accounting_code.name}}</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr class="leader">
          <td></td>
          <td></td>
          <% if Settings.activate_microinsurance %>
            <td></td>
          <% end %>
          <td></td>
          <td>Beginning Balance</td>
          <td></td>
          <td></td>
          <td class='curr'>{{beginning_balance}}</td>
        </tr>
        {{#journal_entries}}
          <tr>
            <td>{{date_posted}}</td>
            <td>{{reference_number}}</td>
            <% if Settings.activate_microinsurance %>
              <td>{{sub_reference_number}}</td>
            <% end %>
            <td>{{book}}</td>
            <td>{{particular}}</td>
            <td class='curr'>{{debit_amount}}</td>
            <td class='curr'>{{credit_amount}}</td>
            <td class='curr'>{{running_balance}}</td>
          </tr>
        {{/journal_entries}}
        <tr class="leader">
          <td></td>
          <td></td>
          <% if Settings.activate_microinsurance %>
            <td></td>
          <% end %>
          <td></td>
          <td>Ending Balance</td>
          <td></td>
          <td></td>
          <td class='curr'>{{ending_balance}}</td>
        </tr>
      {{/entries}}
      <tr>
        <th></th>
        <th></th>
        <% if Settings.activate_microinsurance %>
          <th></th>
        <% end %>
        <th></th>
        <th>Grand Total</th>
        <th class='curr'>{{total_dr}}</th>
        <th class='curr'>{{total_cr}}</th>
        <th></th>
      </tr>
    </tbody>
  </table>
</script>
