.container-fluid
  .ui.two.column.grid 
    .column
      %h1.ui.green.header
        #{@data[:company]}
        %small
          #{@data[:start_date]} to #{@data[:end_date]}
    .column
      .pull-right
        %h1.ui.blue.header
          General Ledger
          %small
            #{@data[:branch].try(:name)}
  %table.ui.small.green.table
    %thead
      %tr
        %th Date
        %th Ref. No
        - if Settings.activate_microinsurance
          %th Sub Ref. No
        %th
        %th Particular
        %th Debit
        %th Credit
        %th Balance
    %tbody
      - @data[:entries].each do |entry|
        %tr.leader
          %td
          %td #{entry[:accounting_code].code}
          %td
          %td #{entry[:accounting_code].name}
          %td
          %td
          %td
        %tr.leader
          %td
          %td
          %td
          %td Beginning Balance
          %td
          %td
          %td #{entry[:beginning_balance]}
        - entry[:journal_entries].each do |je|
          %tr
            %td #{je[:date_posted]}
            %td #{je[:reference_number]}
            - if Settings.activate_microinsurance
              %td #{je[:sub_reference_number]}
            %td #{je[:book]}
            %td #{je[:particular]}
            %td #{je[:debit_amount]}
            %td #{je[:credit_amount]}
            %td #{je[:running_balance]}
        %tr.leader
          %td
          %td
          %td
          %td Ending Balance
          %td
          %td
          %td #{entry[:ending_balance]}
