%table{:style => "font-size: x-small; margin-left: 5%; width: 95%"}
  %thead
    %tr
      %td{:colspan => 8}
        %table{:style => "font-wight: bold"}
          %tr
            %td{:style => "width: 100%"}
              #{Settings.company}
          %tr
            %td
              #{Settings.company_address}
          %tr
            %td
              VAT Registration Tin Number:#{Settings.tin_number}
          %tr
            %td
              General Ledger Book
          %tr
            %td
              Period : #{@start_date} - #{@end_date} 
          %tr
            %td
  
              %td{:colspan => 8, :style => "padding-bottom:3%"}
               

    %tr
      -@data[:accounting_codes].each do |ac|
        - if ac[:end] >= 0.01 ||  ac[:beg] >= 0.01
          %thead
            %th{:style => "padding-left: 1%; width: 10%;border:1px black solid"}
              DATE
            %th{:style => "padding-left: 1%; width: 5%;border:1px black solid"}
              
            %th{:style => "padding-left: 1% ; width: 50%;border:1px black solid"}
              PARTICULAR
            %th{:style => "padding-left: 1%; width: 10%;border:1px black solid"}
              DEBIT
            %th{:style => "padding-left: 1%; width: 10%;border:1px black solid"}
              CREDIT
            %th{:style => "padding-left: 1%; width: 15%;border:1px black solid"}
              BALANCE
            %tr
              %td{:style => "padding-right: 1%;border:1px black solid"}
              %td{:style => "padding-right: 1%;border:1px black solid"}
    
              %td{:style => "padding-left: 1%;border:1px black solid"}
                #{ac[:name]}
              %td{:style => "padding-right: 1%;border:1px black solid"}
              %td{:style => "padding-right: 1%;border:1px black solid"}
              %td{:style => "padding-right: 1%;border:1px black solid"}
            %tr
              %td{:style => "padding-right: 1%;border:1px black solid"}
              %td{:style => "padding-right: 1%;border:1px black solid"}
              %td{:style => "padding-left: 1%;border:1px black solid"} 
                BEGINNING BALANCE
              %td{:style => "padding-right: 1%;border:1px black solid"}
              %td{:style => "padding-right: 1%;border:1px black solid"}
              %td.acc-curr{:style => "padding-right: 1%;border:1px black solid"}
                #{number_to_currency(ac[:beg], unit: "")}        
          
            - ac[:jvoucher].each do |jv|
              %tr
                %td{:style => "padding-right: 1%;border:1px black solid"}
                  #{jv[:date_posted]}
                %td{:style => "padding-left: 1%;border:1px black solid"}  
                  - if jv[:book] == "CRB"
                    OR
                  - elsif jv[:book] == "CDB"
                    CD
                  - elsif jv[:book] == "JVB"
                    JV
                %td{:style => "padding-left: 2%;border:1px black solid"}
                  #{jv[:particular]}
                - if jv[:post_type] == "DR"
                  %td.acc-curr{:style => "padding-right: 1%;border:1px black solid"}
                    #{number_to_currency(jv[:amt], unit: "")}
                  %td{:style => "padding-left: 1%;border:1px black solid"}
                  %td{:style => "padding-left: 1%;border:1px black solid"}
                -else
                  %td{:style => "padding-left: 1%;border:1px black solid"}
                  %td.acc-curr{:style => "padding-right: 1%;border:1px black solid"}
                    #{number_to_currency(jv[:amt], unit: "")}
                  %td{:style => "padding-left: 1%;border:1px black solid"}
            
            %tr
              %td{:style => "padding-right: 1%;border:1px black solid"}
              %td{:style => "padding-right: 1%;border:1px black solid"}
              %td{:style => "padding-left: 1%;border:1px black solid"}
                ENDING BALANCE
              %td{:style => "padding-right: 1%;border:1px black solid"}
              %td{:style => "padding-right: 1%;border:1px black solid"}
              %td.acc-curr{:style => "padding-right: 1%;border:1px black solid"}
                #{number_to_currency(ac[:end], unit: "")}
            %tr
              %td{:colspan => 5, :style => "padding-bottom:2%"}
                #{ac[:particular]} 


