:css
  .page{
    position: fixed;
    bottom: 0;
    left: 0;
    page-break-before:always;
    counter-increment:page
  }

  .page:after{
    text-align:right;
    content:counter(page);
  }


%span
  %center
    %br
    %br
    %p
      #{Settings.company_name}
      %br
      %small
        #{Settings.company_address}
      %br
        VAT Registration Tin Number
        #{Settings.tin_number}
      %h3
        General Ledger
        %small
          #{@data[:branch]}
      Transaction Date:

      #{@data[:start_date]} - #{@data[:end_date]}
      


#general-ledger-secton
  %table.ui.small.green.celled.table
    %thead
      %tr
        %th Date
        %th Ref No.
        - if Settings.activate_microinsurance
          %th Sub Ref. No.
        %th
        %th Particular
        %th.acc-curr
          Debit
          %small (PHP)
        %th.acc-curr 
          Credit
          %small (PHP)
        %th.acc-curr 
          Balance
          %small (PHP)
      
    %tbody
      - @data[:entries].each do |entry|
        %tr.leader
          %td
          - if Settings.activate_microinsurance
            %td
          %td
            #{entry[:accounting_code].code}
          %td
          %td
            #{entry[:accounting_code].name}
          %td
          %td
          %td
        %tr.leader
          %td
          %td
          - if Settings.activate_microinsurance
            %td
          %td
          %th Beginning Balance
          %td
          %td
          %th
            #{entry[:beginning_balance]}

          - entry[:journal_entries].each do |je|
            %tr
              %td
                #{je[:date_posted]}
              %td
                #{je[:reference_number]}
              %td
                #{je[:book]}
              %td
                #{je[:particular]}
              %td.curr
                #{je[:debit_amount]}
              %td.curr
                #{je[:credit_amount]}
              %td.curr
                #{je[:running_balance]}
        %tr
          %td
          %td
          - if Settings.activate_microinsurance
            %td
          %td
          %th Ending Balance
          %td
          %td
          %th.curr
            #{entry[:ending_balance]}
        %tr
          %td
          %td
          - if Settings.activate_microinsurance
            %td
          %td
          %th Grand Total
          %th.curr #{@data[:total_dr]}
          %th.curr #{@data[:total_cr]}
          %td
