%section.content-header
  %h1
    General Ledger
  %ol.breadcrumb
    %li
      = link_to general_pdf_path, target: "_blank" do
        .fa.fa-download
        Download as PDF
%section.content
  %table.table.table-bordered.table-responsive
    %tr
      %th
        %label Accounting Entries
        = select_tag :accounting_code_ids, options_from_collection_for_select(AccountingCode.all, :id, :to_s, nil), class: "form-control select-select2", id: "accounting-codes-select", multiple: true
      %th{colspan: "3"}
        %label Payor
        = text_field_tag :payor, nil, class: "form-control", id: "payor"
    %tr
      %th
        %label Start Date
        = text_field_tag :start_date, nil, class: "form-control datepick", id: "start-date", value: current_month_start
      %th
        %label End Date
        = text_field_tag :end_date, nil, class: "form-control datepick", id: "end-date", value: current_month_end
      %th
        %label Branch
        = select_tag :branch_id, options_from_collection_for_select(@branches, :id, :name, Branch.first.try(:id)), class: "form-control select-select2", id: "branch-select", prompt: "-- SELECT --"
      %th
        %label Actions
        .ui.small.buttons
          = button_tag :submit, class: "btn btn-primary", id: "generate-btn" do
            .fa.fa-file
            Generate
          = button_tag :submit, class: 'btn btn-info', id: 'download-excel-btn' do
            .fa.fa-download
            Excel

          = link_to "#", class: 'btn btn-primary', id: 'download-pdf-btn' do
            .fa.fa-download
            PDF

          = link_to "#", class: 'btn btn-primary', id: 'download-gen-pdf-btn' do
            .fa.fa-download
            PRINT GL TO PDF

  .ui.segment
    .ui.dimmer.inverted#loader
      .ui.loader
    #general-ledger-section
      = render partial: "general_ledger_template"

= javascript_include_tag "general_ledger"
:javascript
  $(document).ready(function() {
    generalLedger.init();
  });
