%table.table.table-bordered
  %thead
    %tr
      %th
      %th Certificate No.
      %th Member
      %th Date of Issue
      %th Member Status
      %th Date Printed
      %th
  %tbody

  

    - member_shares.each_with_index do |member_share, index|
      - @counter = @counter + 1
      %tr.clickable{ data: { id: member_share.id, member_id: member_share.member.id } }
        %td
          #{@counter}
        %td
          #{member_share}
        %td
          = link_to member_path(member_share.member) do
            #{member_share.member.full_name_titleize}
        %td
          -if member_share.date_of_issue.present?
            #{member_share.date_of_issue.strftime("%m-%d-%Y")}
      
        %td
          #{member_share.member.status}
        %td
          -if member_share.date_printed.present?
            #{member_share.date_printed.strftime("%m-%d-%Y")}
        %td
          - if member_share.printed
            %label.label.label-success
              Printed
          - else
            %label.label.label-danger
              Not Printed
