%section.content-header
  %h1
    Member Shares Form
    %small Edit Share #{@member_share.certificate_number}
  %ol.breadcrumb
    %li
      = link_to member_path(@member), class: '' do
        .fa.fa-arrow-left
        #{@member.full_name}
%section.content
  = render partial: "form", locals: { member: @member, member_share: @member_share }
