%section.content-header
  %h1
    Member Shares

%section.content
  = render partial: "filter"
  .box
    .box-body
      - if @member_shares.count > 0
        = render partial: "list", locals: { member_shares: @member_shares }
        = paginate @member_shares
      - else
        No records found

= javascript_include_tag "member_shares/Index"

:javascript
  $(document).ready(function() {
    Index.init();
  });
