:css
  #certificate-details{

  }
  .member-details {
    margin: 61px 0px 0px 250px;
  }

  .member-no-of-share {
     margin: 33px 0px 0px 250px;
  }

  .member-name {
    margin-top: 265px;
    max-width: 900px;
  }

  .member-recognition-month {
    margin-left: 105px;
  }

  .member-recognition-year {
    margin-left: 150px;
  }
  
  .pangulo-sign{
    margin-left:110px;
    margin-right:300px;
  }

  .sign{
    margin-top:-5px;
  }

  .name{
    margin-top: -50px;
  }

  .kalihim-name{
    font-size: 12px;
    margin-left:100px;
    margin-right:270px;
  }

  .pangulo-name{
    font-size: 12px;
  }

  .kalihim-pos{
    font-size: 11px;
    margin-left:140px;
    margin-right:350px;
  }

  .pos{
    margin-top: -10px;
  }

  .pangulo-pos{
    font-size: 11px;
  }

#certificate-details
  .member-name
    %center
      %h1
        #{@member.to_s.upcase}
  .member-no-of-share
    - if @member_share.number_of_shares == 3
      %label
        tatlong ( #{@member_share.number_of_shares} )
    - if @member_share.number_of_shares == 2
      %label
        dalawang ( #{@member_share.number_of_shares} )
    - if @member_share.number_of_shares == 1
      %label
        isang ( #{@member_share.number_of_shares} )
  .member-details
    %label
      #{@member_share.date_of_issue.day.ordinalize}
    %label.member-recognition-month
      #{month_to_filipino(@member_share.date_of_issue.month).capitalize}
    %label{ class: "member-recognition-year" }
      #{@member_share.date_of_issue.year}
  - if Settings.share_signatories == true
    .sign
      %label.pangulo-sign
        = image_tag "signatures/kalihim.bmp", class: "img-responsive" , size: "120"
      %label
        = image_tag "signatures/taga_pangulo.bmp", class: "img-responsive" , size: "70"
    .name
      %label.kalihim-name
        #{Settings.kalihim}
      %label.pangulo-name
        #{Settings.taga_pangulo}
    .pos
      %label.kalihim-pos
        Kalihim
      %label.pangulo-pos
        Taga Pangulo
 
