%section.content-header
  %h1
    Shares for Printing

%section.content
  .box
    .box-body
    -if @data != nil
      %table.table.table-bordered
        %thead
          %tr
            %th{ width: "5%" }
            %th Member
            %th Center
            %th Shares Printed
            %th Shares For Printing
            %th Last Payment - Equity
        %tbody
          - @data[:sfp].each_with_index do |sfp, i|
            %tr
              %td
                #{i + 1}
              %td
                = link_to member_path(sfp[:id]), target: '_blank' do
                  #{sfp[:full_name]}
              %td
                #{sfp[:center]}
              %td
                #{sfp[:shares_printed]}
              %td
                #{sfp[:shares_for_printing]}
              %th
                #{sfp[:update_date]}
