.remodal.modal-add.selext{ data: { remodal_id: "modal-add" } }
  %h3
    Add Respondent
  .message
  .ui
    .row
      .col-md-4
        %label Date Answered
        %br
        = text_field_tag :date_answered, Date.today, id: "modal-add-date-answered", class: 'form-control datepick'
      .col-md-8
        %label Member
        %br
        = select_tag :member_id, options_for_select(members.collect{ |o| [o.full_name, o.id] }), class: "select-select2", id: "member-select"
    %hr
      %button#btn-confirm-add.ui.green.button
        .fa.fa-check
        Confirm
      %button#btn-cancel-add.ui.default.button.reject-btn
        .fa.fa-times
        Cancel
