%table.ui.blue.table
  %thead
    %tr
      %th{width: "50%"} Respondent
      %th{width: "10%"} Branch
      %th{width: "20%"} Date Answered
      %th{width: "10%"} Score
      %th{width: "10%"} Actions
  %tbody
    - survey_respondents.each do |respondent|
      - if !respondent.member.nil?
        %tr
          %td
            = link_to respondent.member.full_name, member_path(respondent.member), target: '_blank'
          %td #{respondent.member.branch}
          %td #{respondent.date_answered}
          %td #{respondent.total_score}
          %td 
            = link_to survey_survey_respondent_path(@survey, respondent), class: 'btn btn-default' do
              .fa.fa-search
              Details
