- survey.survey_questions.each do |survey_question|
  .ui.segment
    %h3.text-blue 
      #{survey_question.content}
    %hr
    %table.ui.green.table
      %thead
        %tr
          %th{width: "50%"} Option
          %th{width: "25%"} Score
          %th{width: "25%"} Num Respondents
      %tbody
        - survey_question.survey_question_options.order(:priority).each do |option|
          %tr
            %td #{option.option}
            %td #{option.score}
            %td #{option.num_respondents}
