#filter
  = form_tag background_operations_path, html: { novalidate: true }, method: "GET", defaults: { wrapper_html: { class: 'form-group' }, input_html: { class: 'form-control' } } do 
    %table.table.table-responsive
      %tr
        %th
          %label Start Date
          = text_field_tag :start_date, @start_date, class: "datepick form-control", placeholder: "Start Date"
        %th
          %label End Date
          = text_field_tag :end_date, @end_date, class: "datepick form-control", placeholder: "End Date"
        / %th
        /   %label Prepared By
        /   = select_tag :user_id, options_from_collection_for_select(User.all, :id, :username, @user_id), class: "form-control select-select2 user-select", prompt: "-- SELECT --", id: "filter-user-select"
        %th
          %label Status
          = select_tag :status, options_for_select(BackgroundOperation::STATUSES, @status), class: "form-control select-select2", prompt: "-- SELECT --", id: "filter-status-select"
        %th
          %label Actions
          %br
          = submit_tag :search, id: "btn-filter", class: "btn btn-primary" do
            .fa.fa-search
