%table.ui.green.small.table
  %thead
    %tr
      %th Timestamp
      %th Started At
      %th Ended At
      %th Status
      %th Operation Type
      %th Prepared By
  %tbody
    - background_operations.each do |background_operation|
      %tr
        %td #{background_operation.created_at.strftime("%b %d, %Y %H:%M:%S")}
        %td #{background_operation.started_at}
        %td #{background_operation.ended_at}
        %td #{background_operation.status}
        %td #{background_operation.operation_type}
        %td #{background_operation.prepared_by}
        