%section.content-header
  %h1 Background Operations
%section.content
  = render partial: "filter"
  - if @background_operations.size > 0
    = render partial: "list", locals: { background_operations: @background_operations }
    = paginate @background_operations
  - else
    No Background Operations found.
