#bankNavigationModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "basicModal", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} Bank Navigation
        %h4.modal-title 
          Bank Navigation
      .modal-body.bank-style
        .modal-body-content
          %h4.tran Batch Transactions
          %ul.row
            %li.col-md-2
              = link_to batch_transactions_path do
                = image_tag "trans.png" 
                .br
                Transactions

          %h4.tran Savings

          %ul.row
            %li.col-md-2
              = link_to new_savings_account_path do
                = image_tag "add.png" 
                .br
                New
            %li.col-md-2
              = link_to savings_accounts_path do
                = image_tag "accounts.png"
                .br 
                Accounts

          %h4.tran Insurance

          %ul.row
            %li.col-md-2
              = link_to new_insurance_account_path do
                = image_tag "add.png" 
                .br
                New
            %li.col-md-2
              = link_to insurance_accounts_path do
                = image_tag "accounts.png"
                .br 
                Accounts

          %h4.tran Equity
          %ul.row
            %li.col-md-2
              = link_to new_equity_account_path do
                = image_tag "add.png" 
                .br
                New
            %li.col-md-2
              = link_to equity_accounts_path do
                = image_tag "accounts.png"
                .br 
                Accounts
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
