%footer.main-footer
  .pull-right.hidden-xs
    %b Version
    #{BUILD_VERSION}
  %strong
    %span.csc Copyright
    %a{:href => "http://kasagana-ka.org/"} Kasagana-ka Development Center, Inc.
    #{Time.now.year} - All Rights Reserved
    |
    Powered by:
    %a{:href => "http://www.cloudbandsolutions.com/"} Cloudband Solutions, Co.
