%header.main-header
  = link_to root_path, class: 'logo' do
    %span.logo-mini
      %b K
      OINS
    %span.logo-lg
      %b KOINS
  %nav.navbar.navbar-static-top{role: "navigation"}
    = link_to "#", class: "sidebar-toggle", data: { toggle: "offcanvas" }, role: "button" do
      %span.sr-only Toggle Navigation
    .navbar-custom-menu
      %ul.nav.navbar-nav
        %li{style: "margin-top: 12px"}
          #current-working-date.label.label-info
            Current Date: #{ApplicationHelper.current_working_date.strftime("%b %d, %Y")}
        %li{style: "margin-top: 12px"}
          #timer.label.label-danger
            Time until Closing:
            %span#timerValue
        %li.dropdown.user.user-menu
          = link_to "#", class: 'dropdown-toggle', data: { toggle: 'dropdown' }, "aria-expanded": false do
            = image_tag current_user.avatar.url(:thumb), class: 'user-image'
            %span.hidden-xs #{current_user.full_name}
          %ul.dropdown-menu
            %li.user-header
              = image_tag current_user.avatar.url(:profile), class: 'img-circle'
              %p
                #{current_user.full_name} - #{current_user.role}
            %li.user-footer
              .pull-left
                -# = link_to account_user_path(current_user), class: 'btn btn-default btn-flat' do
                  Profile
              .pull-right
                = link_to destroy_user_session_path, method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-danger btn-flat' do
                  Logout
