<div class="for_non_mobile">
  <div class="row table_for_dashboard">
      <div class="col-md-6">
        <div class="latest_loan"> Latest Loan </div>
       
        <table class="table table-bordered">
          <tr class="tr_label">
            <th>Name</th>
            <th>Loan Product</th>
            <th>Loan Amount</th>
            <th>Date Prepared</th>
            <th>Date Requested</th>
          </tr>
          <% @latest_loans.each do |latest| %>
            <tr>
              <td><%= latest.member.full_name %></td>
              <td><%= latest.loan_product %></td>
              <td><%= latest.amount %></td>
              <td><%= latest.date_prepared %></td>
              <td><%= latest.date_requested %></td>
            </tr>
          <% end %>
        </table>
      </div>

      <div class="col-md-6">
      <div class="latest_paid"> Latest Paid </div>
        <table class="table table-bordered">
          <tr class="tr_label">
            <th>Name</th>
            <th>Loan Product</th>
            <th>Loan Amount</th>
            <th>Loan Date</th>
            <th>Loan Maturity</th>
          </tr>
          <% @latest_paid.each do |lpaid| %>
            <tr>
              <td><%= lpaid.member.full_name %></td>
              <td><%= lpaid.loan_product %></td>
              <td><%= lpaid.amount %></td>
              <td><%= lpaid.date_prepared %></td>
              <td><%= lpaid.date_requested %></td>
            </tr>
          <% end %>
        </table>
      </div>
  </div>
</div>

<div class="for_mobile">
  <div class="row table_for_dashboard">
      <div class="col-md-6">
        <div class="latest_loan"> Latest Loan </div>
          <% @latest_loans.each do |latest| %>
            <table class="table table-bordered">
              <tr>
                <th>Name</th>
                <td><%= latest.member.full_name %></td>
              </tr>
              <tr>
                <th>Loan Product</th>
                <td><%= latest.loan_product %></td>
              </tr>
              <tr>
                <th>Amount</th>
                <td><%= latest.amount %></td>
              </tr>
              <tr>
              <th>Date Prepared</th>
                <td><%= latest.date_prepared %></td>
              </tr>
              <th>Date Requested</th>
                <td><%= latest.date_requested %></td>
              </tr>
            </table>
            <% end %>
      </div>
      <div class="col-md-6">
      <div class="latest_paid"> Latest Paid </div>
       <% @latest_paid.each do |lpaid| %>
        <table class="table table-bordered">
              <tr>
                <th>Name</th>
                <td><%= lpaid.member.full_name %></td>
              </tr>
              <tr>
                <th>Loan Product</th>
                <td><%= lpaid.loan_product %></td>
              </tr>
              <tr>
                <th>Amount</th>
                <td><%= lpaid.amount %></</td>
              </tr>
              <tr>
                <th>Date Prepared</th>
                <td><%= lpaid.date_prepared %></td>
              </tr>
                <th>Date Requested</th>
                <td><%= lpaid.date_requested %></td>
              </tr>
        </table>
      <% end %>
      </div>
  </div>
</div>