.remodal.modal-loading{ data: { remodal_id: "modal-loading" } }
  .errors
  .success
  .description.cssload-loader
    Loading...
  %br
  %br
  .controls
    %button.btn-close.ui.button
      .fa.fa-times
      Close
