#modal-loading.modal.fade{role: "dialog", "aria-labelledby" => "batchModal", "aria-hidden" => "true"}
  .modal-dialog.modal-lg
    .modal-content
      .description.cssload-loader
        Loading...

