%li{class: "#{params[:controller] == 'members' ? 'active' : ''}"}
  = link_to members_path do
    .fa.fa-users
    MEMBERS
%li{class: "#{['loans', 'members/loans'].include? params[:controller] ? 'active' : ''}"}
  = link_to loans_path do
    %span.glyphicon.glyphicon-php{style: "font-size: initial;"}
      &#8369
    LOANS
%li{class: "#{params[:controller] == 'collection_payments' ? 'active' : ''}"}
  = link_to collection_payments_path do
    .glyphicon.glyphicon-download-alt
    COLLECTIONS
%li{class: "#{['savings_accounts', 'insurance_accounts', 'equity_accounts', 'batch_transactions'].include? params[:controller] ? 'active' : ''}"}
  = link_to "#", id: "cashManagementBtn" do
    .fa.fa-bank
    CASH MANAGEMENT
