#navigation_accounting.ui.sidebar.inverted.vertical.menu
  = link_to general_ledger_path, class: "item" do
    .fa.fa-money.icon
    General Ledger
  = link_to trial_balance_path, class: "item" do
    .fa.fa-money.icon
    Trial Balance
  = link_to voucher_summary_path, class: "item" do
    .fa.fa-money.icon
    Voucher Summary
  = link_to book_path("JVB"), class: "item" do
    .fa.fa-book.icon
    Journal Vouchers
  = link_to book_path("CDB"), class: "item" do
    .fa.fa-book.icon
    Cash Disbursements
  = link_to book_path("CRB"), class: "item" do
    .fa.fa-book.icon
    Cash Receipts
  = link_to vouchers_path, class: "item" do
    .fa.fa-folder
    All Accounting Entries
  = link_to accounting_chart_of_accounts_path, class: "item" do
    .fa.fa-folder
    Chart of Accounts
