#navigation_cash_management.ui.sidebar.inverted.vertical.menu
  = link_to savings_accounts_path, class: "item" do
    .fa.fa-bank.icon
    Savings Accounts
  = link_to insurance_accounts_path, class: "item" do
    .fa.fa-bank.icon
    Insurance Accounts
  = link_to equity_accounts_path, class: "item" do
    .fa.fa-bank.icon
    Equity Accounts
  = link_to batch_transactions_path, class: "item" do
    .fa.fa-arrows.icon
    Transactions
  = link_to savings_accounts_manual_interest_tax_generation_path, class: "item" do
    .fa.fa-warning
    Interest and Tax Generation
