#navigation_reports.ui.sidebar.inverted.vertical.menu
  = link_to reports_checks_path, class: "item" do
    .fa.fa-book.icon
    Checks
  = link_to reports_personal_funds_path, class: "item" do
    .fa.fa-bank.icon
    Personal Funds
  = link_to reports_repayments_path, class: "item" do
    .fa.fa-bank.icon
    Repayments
  = link_to reports_par_path, class: "item" do
    .fa.fa-bank.icon
    PAR
  = link_to reports_cluster_snapshots_path, class: "item" do
    .fa.fa-camera.icon
    Cluster Snapshots
