<nav id="myNav" class="row navbar navbar-default" role="navigation">
  <div class="col-md-12 onezerotwofour">
     <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" 
           data-target="#example-navbar-collapse">
           <span class="sr-only">Toggle navigation</span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
        </button>
     </div>

     <div class="collapse navbar-collapse" id="example-navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="<%= params[:controller] == 'pages' && params[:action] ? 'active' : '' %>">
            <%= link_to root_path do %>
              <span class="fa fa-home"></span> DASHBOARD
            <% end %>
          </li>

          <% if !current_user.is_accounting? %>
            <%= render partial: "shared/navigation_operations" %>
          <% end %>

          <li class="<% if params[:controller] == 'books' %>
            <%= params[:controller] == 'books' ? 'active' : '' %>
           <% elsif params[:controller] == 'vouchers' %>
            <%= params[:controller] == 'vouchers' ? 'active' : '' %>
          <% end %>
          ">
            <%= link_to "#", id: "accountingBtn" do %>
              <span class="glyphicon glyphicon-credit-card"></span> ACCOUNTING
            <% end %>
          </li>
          <li class="<%= params[:controller] == 'reports' ? 'active' : '' %>">
            <%= link_to "#", id: "reportsBtn" do %>
              <span class="glyphicon glyphicon-file"></span> REPORTS
            <% end %>
          </li>
          <li class="<%= params[:controller] == 'pages' and params[:action] == 'developer' ?  'active' : '' %>">
            <%= link_to developer_path do %>
              <span class="fa fa-wrench"></span> DEVELOPER
            <% end %>
          </li>
        </ul>
        <div class="navbar-form navbar-right">
          <div class="dropdown">
            <button class="dropdown-toggle" id="dropdownMenu1" type="button" data-toggle="dropdown" aria-expanded="true">
              <span class="fa fa-gears"></span>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
              <li role="presentation"><%= link_to "Profile", account_user_path(current_user) %></li>
              <li role="presentation"><%= link_to "Change Password", edit_account_user_path(current_user, change_password: true) %></li>
              <li role="presentation"><%= link_to "Users", system_management_users_path %></li>
              <li role="presentation"><%= link_to "Centers", system_management_centers_path %></li>
              <li role="presentation"><%= link_to "Logout", destroy_user_session_path, method: :delete, data: { confirm: "Are you sure?" } %></li>
            </ul>
          </div>
        </div>
     </div>
   </div>
</nav>


<%= render partial: "shared/bank_navigation_modal" %>

<script>
  $(window).resize(function() {
    console.log('resize called');
    var width = $(window).width();
    if(width <= 1024) {
      $(".onezerotwofour").removeClass("col-md-8").addClass("col-md-12");
    }
  }).resize();

</script>
