<div class="for_non_mobile">
  <div class="pending_loan"> Pending Loan </div>
  <table class="table table-bordered"> 
      <tr class="tr_label">
        <th>Name</th>
        <th>Loan Product</th>
        <th>Loan Amount</th>
        <th>Date Prepared</th>
        <th>Date Requested</th>
      </tr>
      
      <% @pending_loans.each do |ploans| %>
      <tr>
        <td><%= ploans.member.full_name %></td>
        <td><%= ploans.loan_product %></td>
        <td><%= ploans.amount %></td>
        <td><%= ploans.date_prepared %> </td>
        <td><%= ploans.date_requested %> </td>
      </tr>
      <% end %>
  </table>
</div>

<div class="for_mobile">
  <div class="pending_loan"> Pending Loan </div>
    <% @pending_loans.each do |ploans| %>
    <table class="table table-bordered"> 
         <tr>
           <th>Name</th>
           <td><%= ploans.member.full_name %></td>
         </tr>
         <tr>
            <th>Loan Product</th>
            <td><%= ploans.loan_product %></td>
         </tr>
         <tr>
            <th>Amount</th>
            <td><%= ploans.amount %></td>
         </tr>
        <tr>
            <th>Date Prepared</th>
            <td><%= ploans.date_prepared %></td>
        </tr>
            <th>Date Requested</th>
            <td><%= ploans.date_requested %></td>
        </tr>
      
    </table>
  <% end %>
</div>