%aside.main-sidebar
  %section.sidebar{style: "height: auto;"}
    .user-panel
      .pull-left.image
        = image_tag current_user.avatar.url(:profile), class: 'img-circle'
      .pull-left.info
        %p #{current_user.full_name}
        #{current_user.role}
    %ul.sidebar-menu
      %li.header MAIN NAVIGATION
      %li{ class: "#{params[:controller] == 'pages' and params[:action] == 'index' ? 'active' : ''}" }
        = link_to root_path do
          %i.fa.fa-tachometer-alt
          %span Dashboard
      - if !current_user.is_accounting?
        %li{ class: "#{params[:controller] == "members" ? 'active' : ''}" }
          = link_to members_path do
            %i.fa.fa-users
            %span Members
      - if Settings.activate_microloans == true
        %li{ class: "#{params[:controller] == "loans" || params[:controller] == "members/loans" ? 'active' : '' }" }
          = link_to loans_path do
            %i.glyphicon.glyphicon-php{style: 'font-size: initial;'}
              &#8369
            %span Loans
        %li{ class: "#{params[:controller] == 'payment_collections' ? 'active' : ''}" }
          = link_to payment_collections_path do
            %i.glyphicon.glyphicon-download-alt
            %span Payments
        %li{ class: "#{params[:controller] == 'announcements' ? 'active' : ''}" }
          = link_to announcements_path do
            .fa.fa-bullhorn
            %span Announcements
      %li.treeview
        = link_to "#" do
          %i.fa.fa-money-bill-alt
          %span Cash Management
          %i.fa.fa-angle-left.pull-right
        %ul.treeview-menu
          %li
            = link_to cash_management_deposits_payment_collections_path do
              .fa.fa-download
              Deposits
          %li
            = link_to cash_management_withdrawals_payment_collections_path do
              .fa.fa-upload
              Withdrawals
          %li
            = link_to cash_management_fund_transfer_insurance_payment_collections_path do
              .fa.fa-upload
              Insurance Fund Transfer
          %li
            = link_to cash_management_insurance_withdrawals_payment_collections_path do
              .fa.fa-upload
              Insurance Withdrawals
          %li
            = link_to membership_payments_payment_collections_path do
              .fa.fa-users
              Membership Payments
          %li
            = link_to adjustments_withdrawals_payment_collections_path, class: "" do
              .fa.fa-upload
              Withdrawals (Resign)
          %li
            = link_to cash_management_time_deposits_operation_details_path, class: "" do
              .fa.fa-upload
              Time Deposit
          %li
            = link_to adjustments_time_deposits_operation_details_path, class: "" do
              .fa.fa-upload
              Withdrawals (Time Deposit)
          %li
            = link_to cash_management_equity_withdrawals_payment_collections_path do
              .fa.fa-upload
              Equity Withdrawals
      - if not_remote_user?(current_user)
        %li.treeview
          = link_to "#" do
            %i.glyphicon.glyphicon-credit-card
            %span Accounting
            %i.fa.fa-angle-left.pull-right
          %ul.treeview-menu
            %li
              = link_to accounting_reports_trial_balance_path, class: "" do
                .fa.fa-money.icon
                Trial Balance
              = link_to vouchers_path, class: "" do
                .fa.fa-folder
                Accounting Entries
              = link_to accounting_chart_of_accounts_path, class: "" do
                .fa.fa-file
                Chart of Accounts
              = link_to cash_management_operations_monthly_interest_and_tax_closing_records_path, class: "" do
                .fa.fa-file
                Interest and Tax
              = link_to accounting_income_statement_path, class: "" do
                .fa.fa-file
                Income Statement
              = link_to accounting_balance_sheets_path, class: "" do
                .fa.fa-file
                Balance Sheets
              = link_to program_status_reports_path, class: "" do
                .fa.fa-file
                Program Status Reports
              = link_to accounting_year_end_closing_path, class: "" do
                .fa.fa-file
                Year End Closing
              = link_to year_end_records_path, class: "" do
                .fa.fa-file
                Year End Records
              /= link_to interest_on_share_capital_path, class: "" do
              /= link_to interest_on_share_capital_collections_path, class: "" do
              = link_to accounting_interest_on_share_capital_collections_path, class: "" do
                .fa.fa-file
                Interest on Share Capital
              = link_to accounting_patronage_refunds_path, class: "" do
                .fa.fa-file
                Patronage Refund
              - if Settings.activate_microinsurance
                = link_to accounting_reports_financial_position_path, class: "" do
                  .fa.fa-file
                  Financial Position
                = link_to accounting_reports_statement_of_comprehensive_inc_path, class: "" do
                  .fa.fa-file
                  Statement of Comprehensive Inc    
        %li.treeview
          = link_to "#" do
            %i.glyphicon.glyphicon-credit-card
            %span Financial Reports
            %i.fa.fa-angle-left.pull-right
          %ul.treeview-menu
            %li
              = link_to general_ledger_path, class: "" do
                .fa.fa-money.icon
                General Ledger
            %li
              = link_to book_path("CRB"), class: "" do
                .fa.fa-book.icon
                Cash Receipts
            %li
              = link_to book_path("CDB"), class: "" do
                .fa.fa-book.icon
                Cash Disbursements
            %li
              = link_to book_path("JVB"), class: "" do
                .fa.fa-book.icon
                General Journal
            %li
              = link_to voucher_summary_path, class: "" do
                .fa.fa-money.icon
                Voucher Summary
        %li.treeview
          = link_to "#" do
            %i.fa.fa-chart-pie
            %span Reports
            %i.fa.fa-angle-left.pull-right
          %ul.treeview-menu
            - if Settings.activate_microloans
              %li
                = link_to reports_drop_out_rate_by_month_path do
                  .fa.fa-download
                  D.O.R. by Month
              %li
                = link_to x_weeks_to_pay_path do
                  .fa.fa-file
                  X Weeks to Pay
              %li
                = link_to transferred_members_path do
                  .fa.fa-file
                  Transferred Members
              %li
                = link_to reports_mfi_new_and_resigned_member_counts_path do
                  .fa.fa-file
                  MFI New and Res. (Monthly)
            %li
              = link_to reports_resigned_from_microinsurance_path do
                .fa.fa-times
                Resigned from Insurance
            %li
              = link_to reports_or_path do
                .fa.fa-book.icon
                Official Receipts
            - if Settings.activate_microloans
              %li
                = link_to reports_checks_path do
                  .fa.fa-book.icon
                  Checks
            %li
              = link_to insured_loans_path do
                .fa.fa-book.icon
                Insured Loans
            %li
              = link_to withdrawals_path do
                .fa.fa-book.icon
                Withdrawals    
            - if Settings.activate_microloans
              %li
                = link_to monitoring_daily_reports_path do
                  .fa.fa-bank.icon
                  Daily Reports
              %li
                = link_to reports_personal_funds_path do
                  .fa.fa-bank.icon
                  Personal Funds
              %li
                = link_to reports_repayments_path do
                  .fa.fa-bank.icon
                  Repayments
              %li
                = link_to reports_par_path do
                  .fa.fa-bank.icon
                  PAR
              %li
                = link_to reports_aging_of_receivables_path do
                  .fa.fa-bank.icon
                  Aging of Receivables
              %li
                = link_to reports_loans_statement_of_accounts_path do
                  .fa.fa-bank.icon
                  S.O.A. (Loans)
              %li
                = link_to reports_expenses_statement_of_assets_path do
                  .fa.fa-bank.icon
                  S.O.A. (Expenses)
              %li
                = link_to reports_soa_funds_path do
                  .fa.fa-bank.icon
                  S.O.A. (Funds)
              %li
                = link_to reports_summary_of_loan_release_path do
                  .fa.fa-bank.icon
                  Loan Releases
              %li
                = link_to reports_master_list_of_client_loans_path do
                  .fa.fa-bank.icon
                  ML of Client Loans
            %li
              = link_to reports_seriatim_path do
                .fa.fa-file.icon
                Seriatim Report
            %li
              = link_to reports_collections_clip_path do
                .fa.fa-book.icon
                Collections (CLIP)
            %li
              = link_to reports_collections_blip_path do
                .fa.fa-book.icon
                Collections (BLIP)            
            %li
              = link_to reports_cic_path do
                .fa.fa-file.icon
                CIC Report
            %li
              = link_to member_reports_path do
                .fa.fa-users.icon
                Members Report
            %li
              = link_to reports_member_dependent_path do
                .fa.fa-users.icon
                Member - Dependent Report

            %li
              = link_to ppi_path do
                .fa.fa-file.icon
                PPI

            %li
              = link_to list_of_resign_path do
                .fa.fa-file.icon
                List of Resign
            %li
              = link_to project_type_category_path do
                .fa.fa-file.icon
                List of Project Type Category
            %li
              = link_to list_of_member_for_cic_path do
                .fa.fa-file.icon
                List of member for CIC
            
            %li
              = link_to monthly_incentives_path do
                .fa.fa-file.icon
                Monthly Incentives Reports
            %li
              = link_to additional_shares_path do
                .fa.fa-file.icon
                List of Additional Shares
            %li
              = link_to migs_path do
                .fa.fa-file.icon
                MIGS
 
               
            - if Settings.activate_microinsurance
              %li
                = link_to summary_of_certificates_and_policies_path do
                  .fa.fa-users.icon
                  Summary of Certificates and Policies
              %li
                = link_to collection_reports_path do
                  .fa.fa-users.icon
                  Collection Report 
              %li
                = link_to reports_personal_documents_path do
                  .fa.fa-users.icon
                  Personal Documents Report
              %li
                = link_to member_quarterly_reports_path do
                  .fa.fa-users.icon
                  Members Quarterly Report
              %li{ class: "#{params[:controller] == "claims" || params[:controller] == "reports/claims_report" ? 'active' : '' }" }
                = link_to reports_claims_path do
                  .fa.fa-upload
                  Claims Reports (BLIP)
              %li{ class: "#{params[:controller] == "clip_claims" || params[:controller] == "reports/clip_claims_report" ? 'active' : '' }" }
                = link_to reports_clip_claims_path do
                  .fa.fa-upload
                  Claims Reports (CLIP)              
          %li
            = link_to request_records_path do
              .fa.fa-upload
              Request Records
          - if Settings.activate_microinsurance
            %li{ class: "#{params[:controller] == 'member_certificates' ? 'active' : ''}" }
              = link_to certificates_for_printing_path do
                %i.fa.fa-file
                %span Certificates for Printing
            %li{ class: "#{params[:controller] == 'member_certificates' ? 'active' : ''}" }
              = link_to member_certificates_path do
                %i.fa.fa-file
                %span Certificates Printed
        %ul.treeview-menu
          %li
      - if Settings.activate_microloans
        %li{ class: "#{params[:controller] == 'surveys' ? 'active' : ''}" }
          = link_to surveys_path do
            %i.fa.fa-file
            %span Surveys
        %li{ class: "#{params[:controller] == 'member_shares' ? 'active' : ''}" }
          = link_to member_shares_path do
            %i.fa.fa-file
            %span Shares Printed
        %li{ class: "#{params[:controller] == 'member_shares' ? 'active' : ''}" }
          = link_to shares_for_printing_path do
            %i.fa.fa-file
            %span Shares for Printing
    %ul.sidebar-menu
      %li.header MICROINSURANCE
      %li{ class: "#{params[:controller] == "insurance_account_validations" || params[:controller] == "members/insurance_account_validations" ? 'active' : '' }" }
        = link_to insurance_account_validations_path do
          .fa.fa-upload
          Validations
      %li{ class: "#{params[:controller] == "insurance_account_validations" || params[:controller] == "reports/validations_report" ? 'active' : '' }" }
        = link_to reports_validations_path do
          .fa.fa-upload
          Validations Report
      %li{ class: "#{params[:controller] == 'insurance/payment_collections' and params[:action] == 'index' ? 'active' : ''}" }
        = link_to insurance_payment_collections_path do
          %i.fa.fa-upload
          %span Insurance Remittance
      %li{ class: "#{params[:controller] == 'income_insurance/payment_collections' and params[:action] == 'index' ? 'active' : ''}" }
        = link_to income_insurance_payment_collections_path do
          %i.fa.fa-upload
          %span HIIP Payments
      %li{ class: "#{params[:controller] == "loan_insurances" || params[:controller] == "members/loan_insurances" ? 'active' : '' }" }
        = link_to loan_insurances_path do
          %i.glyphicon.glyphicon-php{style: 'font-size: initial;'}
            &#8369
          %span Loan Insurance
      %li{ class: "#{params[:controller] == "reinstatements" || params[:controller] == "members/reinstatements" ? 'active' : '' }" }
        = link_to reinstatements_path do
          .fa.fa-upload
          Reinstatements
      %li{ class: "#{params[:controller] == "deceased_and_total_and_permanent_disabilities" || params[:controller] == "members/deceased_and_total_and_permanent_disabilities" ? 'active' : '' }" }
        = link_to deceased_and_total_and_permanent_disabilities_path do
          .fa.fa-upload
          Deceased / TPDs        
      %li{ class: "#{params[:controller] == 'monitoring/daily_report_insurance_account_statuses' ? 'active' : ''}" }
        = link_to monitoring_daily_report_insurance_account_statuses_path do
          .fa.fa-file
          Insurance Account Status
      %li{ class: "#{params[:controller] == 'pages' and params[:action] == 'insurance_exit_age_members' ? 'active' : ''}" }
        = link_to insurance_exit_age_members_path do
          .fa.fa-file
          Members for Exit Age
      %li{ class: "#{params[:controller] == 'pages' and params[:action] == 'members_for_reinsurance' ? 'active' : ''}" }
        = link_to members_for_reinsurance_path do
          .fa.fa-file
          Members for Reinsurance
      %li{ class: "#{params[:controller] == 'pages' and params[:action] == 'invalid_members' ? 'active' : ''}" }
        = link_to invalid_members_path do
          .fa.fa-file
          Invalid Members    
      - if Settings.activate_microinsurance
        - if not_remote_user?(current_user)  
          %li
            = link_to claims_path do
              .fa.fa-file
              Claims Register (BLIP)
          %li
            = link_to clip_claims_path do
              .fa.fa-file
              Claims Register (CLIP)
      %li.header SPECIAL TOOLS
      - if not_remote_user?(current_user)
        %li.treeview
          = link_to "#" do
            %i.fa.fa-sync
            %span Adjustments
            %i.fa.fa-angle-left.pull-right
          %ul.treeview-menu
            %li
              = link_to adjustments_subsidiary_adjustments_path, class: "" do
                .fa.fa-warning
                Subsidiary Adj.
            %li
              = link_to adjustments_transfer_adjustments_path, class: "" do
                .fa.fa-warning
                Transfer Adj.
            - if Settings.activate_microloans
              %li
                = link_to adjustments_batch_moratoria_path, class: "" do
                  .fa.fa-warning
                  Batch Moratorium
              %li
                = link_to member_transfer_requests_path, class: "" do
                  .fa.fa-warning
                  Member Transfers
              %li
                = link_to transfer_center_transfer_records_path, class: "" do
                  .fa.fa-warning
                  Center Transferees

        %li.treeview
          = link_to "#" do
            %i.fa.fa-bug
            %span Debug
            %i.fa.fa-angle-left.pull-right
          %ul.treeview-menu
            %li
              = link_to invalid_memberships_path do
                .fa.fa-warning
                Invalid Memberships
            %li
              = link_to debug_recognition_dates_path do
                .fa.fa-warning
                Recognition Dates
            %li
              = link_to debug_similar_member_names_path do
                .fa.fa-warning
                Similar Members
            %li
              = link_to debug_invalid_loans_path, class: "" do
                .fa.fa-warning
                Invalid Loans
            %li
              = link_to debug_invalid_loan_maintaining_balance_path, class: "" do
                .fa.fa-warning
                Invalid Maintaining Balance
            %li
              = link_to debug_missing_insurance_transactions_path, class: "" do
                .fa.fa-warning
                Missing Insurance Transactions
            %li
              = link_to debug_invalid_memberships_path, class: "" do
                .fa.fa-warning
                Invalid Memberships
            %li
              = link_to transferred_icpr_member_path, class: "" do
                .fa.fa-warning
                Debug ICPR
            %li
              = link_to transferred_patronage_refund_path, class: "" do

                .fa.fa-warning
                Debug Patronage Refund
      %li.treeview
        = link_to "#" do
          %i.fa.fa-cogs
          %span Settings
          %i.fa.fa-angle-left.pull-right
        %ul.treeview-menu
          %li
            = link_to edit_account_user_path(current_user, change_password: true), class: "" do
              .fa.fa-lock
              Change Password
          - if ["MIS", "SBK"]
            %li
              = link_to system_management_users_path, class: "" do
                .fa.fa-users
                Manage Users
            %li
              = link_to system_management_centers_path, class: "" do
                .fa.fa-building
                Manage Centers
      / - if not_remote_user?(current_user)
      %li.treeview
        = link_to "#" do
          %i.fa.fa-wrench
          %span System Tools
          %i.fa.fa-angle-left.pull-right
        %ul.treeview-menu
          - if not_remote_user?(current_user)  
            %li.treeview    
              = link_to "#" do
                %i.fa.fa-upload
                %span Detection Tools
                %i.fa.fa-angle-left.pull-right
              %ul.treeview-menu
                %li
                  = link_to double_fund_transfer_path do
                    %i.fa.fa-file
                    %span Double Fund Transfer
                %li
                  = link_to missing_insurance_transactions_path do
                    %i.fa.fa-download
                    %span Missing Insurance Transactions
          %li{ class: "#{params[:controller] == 'pages' and params[:action] == 'export_tools' ? 'active' : ''}" }
            = link_to export_tools_path do
              %i.fa.fa-download
              %span Export Tools
          %li.treeview    
            = link_to "#" do
              %i.fa.fa-upload
              %span Import Tools
              %i.fa.fa-angle-left.pull-right
            %ul.treeview-menu
              %li{ class: "#{params[:controller] == 'pages' and params[:action] == 'import_tools' ? 'active' : ''}" }
                = link_to import_tools_path do
                  %i.fa.fa-user-plus
                  %span Import Members
              %li{ class: "#{params[:controller] == 'pages' and params[:action] == 'import_beneficiary' ? 'active' : ''}" }
                = link_to import_beneficiary_path do
                  %i.fa.fa-user-plus
                  %span Import Beneficiaries
              %li{ class: "#{params[:controller] == 'pages' and params[:action] == 'import_dependents' ? 'active' : ''}" }
                = link_to import_dependents_path do
                  %i.fa.fa-user-plus
                  %span Import Legal Dependents
              %li{ class: "#{params[:controller] == 'pages' and params[:action] == 'import_correct_mii_recognition_date' ? 'active' : ''}" }
                = link_to import_correct_mii_recognition_date_path do
                  %i.fa.fa-file
                  %span Import MII Recognition Date
              %li{ class: "#{params[:controller] == 'pages' and params[:action] == 'import_members_spouse_as_dependents' ? 'active' : ''}" }
                = link_to import_members_spouse_as_dependents_path do
                  %i.fa.fa-file
                  %span Import Members Spouse as Dependents    
          %li.treeview    
            = link_to "#" do
              %i.fa.fa-upload
              %span Import Transactions
              %i.fa.fa-angle-left.pull-right
            %ul.treeview-menu
              %li{ class: "#{params[:controller] == 'pages' and params[:action] == 'import_insurance_accounts' ? 'active' : ''}" }
                = link_to import_insurance_accounts_path do
                  %i.fa.fa-file
                  %span Insurance Accounts
              %li{ class: "#{params[:controller] == 'pages' and params[:action] == 'import_insurance_account_transactions' ? 'active' : ''}" }
                = link_to import_insurance_account_transactions_path do
                  %i.fa.fa-file
                  %span Insurance Account Transactions   
              %li{ class: "#{params[:controller] == 'pages' and params[:action] == 'import_insured_loans' ? 'active' : ''}" }
                = link_to import_insured_loans_path do
                  %i.fa.fa-upload
                  %span Import Insured Loans (CLIP)
          %li{ class: "#{params[:controller] == 'pages' and params[:action] == 'upload_deposit' ? 'active' : ''}" }
            = link_to upload_deposit_path do
              %i.fa.fa-upload
              %span Upload Deposit
          - if not_remote_user?(current_user)
            %li{ class: "#{params[:controller] == 'pages' and params[:action] == 'upload_insurance_remittance' ? 'active' : ''}" }
              = link_to upload_insurance_remittances_path do
                %i.fa.fa-upload
                %span Upload Insurance Remittance
            %li{ class: "#{params[:controller] == 'pages' and params[:action] == 'upload_insurance_fund_transfer' ? 'active' : ''}" }
              = link_to upload_insurance_fund_transfer_path do
                %i.fa.fa-upload
                %span Upload Fund Transfer
            %li{ class: "#{params[:controller] == 'pages' and params[:action] == 'upload_insurance_withdrawal' ? 'active' : ''}" }
              = link_to upload_insurance_withdrawal_path do
                %i.fa.fa-upload
                %span Upload Insurance Withdrawal
            %li{ class: "#{params[:controller] == 'pages' and params[:action] == 'upload_loan_insurance' ? 'active' : ''}" }
              = link_to upload_loan_insurance_path do
                %i.fa.fa-upload
                %span Upload Loan Insurance           
          - if ["MIS", "AM", "SBK"].include? current_user.role
            %li
              = link_to missing_accounts_path do
                %i.fa.fa-question
                Missing Accounts
            %li
              = link_to build_versions_path do
                %i.fa.fa-wrench
                %span Developer
      %li.treeview
        = link_to user_activities_path do
          %i.fa.fa-search
          %span User Activities
      %li.treeview
        = link_to background_operations_path do
          %i.fa.fa-search
          %span Background Operations
/ test
