.transactionModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "basicModal", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} Transaction
        %h4#myModalLabel.modal-title Transaction
      .modal-body
        .modal-body-content
        %script{id: 'transactionTemplate', type: 'text/x-handlebars-template'}
          Amount:
          {{transaction.amount}}
          {{#ifCond transaction.status 'pending'}}
          = link_to '#', class: 'btn btn-success approve-transaction-btn', data: { transaction_number: '{{transaction_number}}', transaction_category: '{{transaction_category}}' } do
            .fa.fa-check
            Approve
          {{/ifCond}}
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
