%div{:style => "margin-top: 2%;", class: "#{voucher.panel_change}", id: "accounting-entry"}
  .panel-heading
    .panel-header 
      #{"(#{voucher.id})" if current_user.role == "MIS"}
      
      - if voucher.book == "JVB"
        GJB
      - else
        #{voucher.book}
      
      Reference Number: #{voucher.reference_number}
      
      - if voucher.accounting_fund and voucher.sub_reference_number
        |
        #{voucher.accounting_fund} : #{voucher.sub_reference_number}
      .pull-right
        = voucher.date_prepared.strftime("%B %d, %Y") if !voucher.date_prepared.nil?
        |
        Approved By: #{voucher.approved_by} 
  .panel-body
    %table.ui.very.basic.table.loanvouchertable
      %thead
        %tr
          %th Accounting Code
          %th.debit 
            Debit 
            %small (PHP)
          %th.credit 
            Credit 
            %small (PHP)
      %tbody
        - voucher.journal_entries.sort_by{ |e| e[:accounting_code_id] }.each do |journal_entry|
          - if journal_entry.post_type == "DR" and journal_entry.amount > 0
            %tr
              %td.accnt_code
                #{current_user.role == "MIS" ? "(id: #{journal_entry.id} ac_id: #{journal_entry.accounting_code.try(:id)})" : ""}
                #{journal_entry.accounting_code}
              %td.debit= number_to_currency(journal_entry.amount, unit: "")
              %td.credit
        - voucher.journal_entries.sort_by{ |e| e[:accounting_code_id] }.each do |journal_entry|
          - if journal_entry.post_type == "CR" and journal_entry.amount > 0
            %tr
              %td.accnt_code
                #{current_user.role == "MIS" ? "(id: #{journal_entry.id} ac_id: #{journal_entry.accounting_code.try(:id)})" : ""}
                #{journal_entry.accounting_code}
              %td.debit
              %td.credit= number_to_currency(journal_entry.amount, unit: "")
    .row
      .col-md-6.particular
        %label Particular:
        = voucher.particular
      .col-md-6
        - if voucher.book == 'CDB' or voucher.book == 'CRB'
          %table.ui.small.celled.table
            %tr
              %th OR #
              %td #{voucher.or_number}
          - if voucher.book == 'CDB'
            %h4
              Check Information
            %table.ui.small.celled.table
              %tr
                %th Payee
                %td #{voucher.payee}
              %tr
                %th Voucher Number
                %td #{voucher.check_voucher_number}
              %tr 
                %th Check Number 
                %td #{voucher.check_number}
    - if voucher.id
      .row
        .col-md-12
          .pull-right
            = link_to voucher_pdf_path(voucher), target: "_blank", class: "btn btn-app" do
              .fa.fa-download
              PDF
        - if Settings.activate_microinsurance  
          - if voucher.cdb? && voucher.approved?
            .col-md-12
              .pull-right
                = link_to voucher_check_pdf_path(voucher), target: "_blank", class: "btn btn-app" do
                  .fa.fa-download
                  CHECK
    - elsif params[:controller] == "loans"
      .row
        .col-md-12
          .pull-right
            = link_to print_pdf_loan_accounting_entry_path(@loan), class: "btn btn-app", id: "btn-download-pdf" do
              .fa.fa-download
              PDF
