.ui.teal.segment
  #feedback-section.ui.dimmer.inverted
    .ui.loader
  %label Member
  = select_tag :member_id, options_from_collection_for_select(Member.active, :id, :full_name), class: "form-control select-select2", id: "member_id"
  %br
  %label Feedback
  = select_tag :feedback_option_id, options_from_collection_for_select(FeedbackOption.all, :id, :content), class: "form-control select-select2", id: "feedback_option_id", prompt: "-- SELECT --"
  %br
  %label Others
  = text_area_tag :others, "", class: "form-control", id: "others"
  %hr
  .form-actions
    = button_tag id: "feedbackBtn", class: "ui default button" do
      .fa.fa-plus
      Submit Feedback

= javascript_include_tag "feedback"
