- data  = current_loan_cycle_counts
%table.table.table-bordered.table-responsive
  %thead
    %tr
      %th Cycle
      - data[:counts].each do |lp_data|
        %th #{lp_data[:loan_product][:code]}
      %th
        Total
  %tbody
    - data[:loan_cycles].each do |c|
      %tr
        %td #{c}
        - total_c = 0
        - data[:counts].each do |lp_data|
          - found = false
          - lp_data[:counts].each do |lp_c|
            - if lp_c[:cycle] == c
              %td
                = link_to list_of_lp_cycle_details_path(loan_product_id: "#{lp_data[:loan_product][:id]}" , loan_cycle: "#{c}") do
                  #{lp_c[:count]}
              - total_c += lp_c[:count]
              - found = true
          - if !found
            %td 0
        %td
          #{total_c}
  %tfoot
    %tr
      %th Total
      - data[:counts].each do |lp_data|
        %th #{lp_data[:total]}
      %th #{data[:total]}
