<div class="row dashboard">
  <div class="col-md-3">
    <div class="ui orange segment">
      <div class="row">
        <div class="col-md-6">
           <h3><%= number_to_currency(Loans::LoanOperation.total_payable, unit: "P") %> </h3>
           Payables
        </div>
        <div class="col-md-6">
          <center>
            <i class="fa fa-money peso"></i>
          </center>
        </div>
      </div>
      <div class="pull-right">
        <div class="ui orange button orangy2">
          <%= link_to "More info", "#" %> <span class="glyphicon glyphicon-arrow-right"></span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="ui orange segment">
      <div class="row">
        <div class="col-md-8">
           <h3><%= number_to_currency(Loans::PendingPaymentsForLoanPayment.new.execute!, unit: "P") %> </h3>
           Uncleared Payments
        </div>
        <div class="col-md-4">
          <center>
            <div class="glyphicon glyphicon-credit-card g"></div>
          </center>
        </div>
      </div>
      <div class="pull-right">
        <div class="ui orange button orangy">
          <%= link_to "More info", "#" %> 
          <span class="glyphicon glyphicon-arrow-right"></span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="ui orange segment">
      <div class="row">
        <div class="col-md-8">
           <h3><%= number_to_currency(Loans::PaymentsCurrentWeekForLoanPayment.new.execute!, unit: "P" ) %> </h3>
           <span>Payments for the Week</span>
        </div>
        <div class="col-md-4">
          <center>
            <div class="glyphicon glyphicon-list-alt o"></div>
          </center>
        </div>
      </div>
       <div class="pull-right">
        <div class="ui orange button orangy1">
          <%= link_to "More info", "#" %> 
          <span class="glyphicon glyphicon-arrow-right"></span>
        </div>
      </div>
    </div>
  </div>
 <% @members = Member.all %>
  <div class="col-md-3">
    <div class="ui green segment">
      <div class="ui label wrappercount">
        <%= @members.where(status: "active").count %> Active Member
      </div>
      <div class="ui label wrappercount">
        <%= @members.where(status: "pending").count %> Pending Member
      </div>
      <div class="ui label wrappercount">
        <%= @members.where(status: "archived").count %> Archived Member
      </div>
      <!-- <div class="big ui blue image label">
        <%= @members.where(status: "blacklisted").count %>
        <div class="detail">Blacklisted Member</div>
      </div>
      <div class="big ui blue image label">
        <%= @members.where(status: "whitelisted").count %>
        <div class="detail">Whitelisted Member</div>
      </div>
      <div class="big ui blue image label">
        <%= @members.where(status: "resign").count %>
        <div class="detail">Resign Member</div>
      </div> -->
      <div class="pull-right">
        <div class="ui green button">
          <%= link_to "View Member List", members_path %> <span class="glyphicon glyphicon-arrow-right"></span>
        </div>
      </div>
    </div>
  </div>
</div>