- data = Reports::FetchSoMemberStats.new.execute!
- data[:so_data].each do |so_data|
  - if so_data[:pure_savers_total] + so_data[:active_loaners_total] + so_data[:active_members_total] + so_data[:pending_members_total] > 0
    %h3
      .label.label-info
        #{so_data[:so]}
    %table.table.table-bordered
      %thead
        %tr
          %th
          %th Male
          %th Female
          %th Others
          %th Total
          %th Action
      %tbody
        %tr
          %th Pure Savers
          %td #{so_data[:pure_savers_male]}
          %td #{so_data[:pure_savers_female]}
          %td #{so_data[:pure_savers_others]}
          %td #{so_data[:pure_savers_total]}
          %td
            = link_to  list_so_member_stats_details_path(so_name: "#{so_data[:so]}", stat_type: "Pure Savers"), class: "btn btn-primary" do
              Details
        %tr
          %th Active Loaners
          %td #{so_data[:active_loaners_male]}
          %td #{so_data[:active_loaners_female]}
          %td #{so_data[:active_loaners_others]}
          %td #{so_data[:active_loaners_total]}
          %td
            = link_to list_so_member_stats_details_path(so_name: "#{so_data[:so]}", stat_type: "Active Loaner"), class: "btn btn-primary" do
              Details
        %tr
          %th Active Members
          %td #{so_data[:active_members_male]}
          %td #{so_data[:active_members_female]}
          %td #{so_data[:active_members_others]}
          %td #{so_data[:active_members_total]}
          %td
            = link_to list_so_member_stats_details_path(so_name: "#{so_data[:so]}", stat_type: "Active Member"), class: "btn btn-primary" do
              Details
        %tr
          %th Pending Members
          %td #{so_data[:pending_members_male]}
          %td #{so_data[:pending_members_female]}
          %td #{so_data[:pending_members_others]}
          %td #{so_data[:pending_members_total]}
          %td 
            = link_to list_so_member_stats_details_path(so_name: "#{so_data[:so]}", stat_type: "Pending"), class: "btn btn-primary" do
              Details
        %tr
          %th TOTAL
          %th #{so_data[:pure_savers_male] + so_data[:active_loaners_male] + so_data[:active_members_male] + so_data[:pending_members_male]}
          %th #{so_data[:pure_savers_female] + so_data[:active_loaners_female] + so_data[:active_members_female] + so_data[:pending_members_female]}
          %th #{so_data[:pure_savers_others] + so_data[:active_loaners_others] + so_data[:active_members_others] + so_data[:pending_members_others]}
          %th #{so_data[:pure_savers_total] + so_data[:active_loaners_total] + so_data[:active_members_total] + so_data[:pending_members_total]}
