- data = Reports::FetchListOfTimeDepositInterest.new.execute!


= link_to list_of_time_deposit_cash_management_time_deposits_operation_details_path, class: "btn btn-xs btn-default" do
  Details
%table.table.table-bordered
  %thead
    %tr
      %th #
      %th Member Name
      %th Lock-in Amount
      %th Lock-in Period
      %th Lock-in Start Date
      %th Lock-in End Date
      %th Total Interest
  %tbody
    - data[:member_list].each_with_index do |mlist, i|
      %tr
        %td #{ i + 1}
        %td #{mlist[:member_name]}
        %td #{mlist[:lock_in_amount]}
        %td #{mlist[:lock_in_period]}
        %td #{mlist[:lock_in_start_date]}
        %td #{mlist[:lock_in_end_date]}
        %td #{mlist[:time_deposit_interest_amount]}
        
