<div id="topBranches">
  <div class="row">
    <div class="col-md-9 infiniscroll" style="  margin-top: 2%;">
      <div class="branchrevenuetitle">Branch Revenue</div>
      <div class="content">
        <table class="table table-striped">
          <tr>
            <th> BRANCH NAME </th>
            <th> PAID AMOUNTS </th>
          </tr>
          <% branches.each do |b| %>
          <tr>
           <td><%= b.name %></td>
           <td><%= number_to_currency b.paid_amounts, :unit => "P" %> </td>
          </tr>
          <% end %>
        </table>
      </div>
    </div>
    <div class="col-md-3">

    </div>
  </div>
</div>

