= render partial: "add_member_actions", locals: { payment_collection: @payment_collection }
= simple_form_for [:income_insurance, payment_collection], defaults: { wrapper_html: { class: 'form-group' }, input_html: { class: 'form-control' } }, html: { novalidate: true } do |f|
  .row
    .col-md-4
      = f.input :or_number, as: :string
    .col-md-4
      = f.input :book, as: :select, collection: Voucher::BOOK_TYPES
    .col-md-4
      = f.association :accounting_fund, input_html: { class: "form-control select-select2" }
  = f.input :particular
  - if Settings.activate_microinsurance
    = f.input :payee
  %table.table.table-bordered.table-responsive.transaction-table
    %thead
      %tr
        %th{width: "20%"} Member
        %th{width: "20%"} Center
        - @insurance_types.each do |insurance_type|
          %th #{insurance_type.code}
        %th Amt
        %th Actions
    %tbody
      = f.simple_fields_for :payment_collection_records, f.object.payment_collection_records.joins(:member).order("members.center_id ASC, members.last_name ASC") do |ff|
        %tr
          %td #{link_to ff.object.member.full_name, member_path(ff.object.member), target: "_blank"}
          %td #{ff.object.member.center.name}
          - @insurance_types.each do |insurance_type|
            %td
              = ff.simple_fields_for :collection_transactions do |fff|
                - if fff.object.account_type == "INSURANCE" and fff.object.account_type_code == insurance_type.code
                  = fff.input :amount, label: false, input_html: { class: "form-control numeric insurance-deposit cp-amount", data: { member_id: "#{ff.object.member.id}", account_code: "#{insurance_type.code}" } }
          %td
            %input{type: "text", class: "form-control numeric total-member-amount", disabled: true, value: 0.00, data: { member_id: "#{ff.object.member.id}" }}
          %td
            = link_to "#", class: "btn btn-danger btn-delete", data: { payment_collection_record_id: ff.object.id } do
              .fa.fa-times
              Delete  
      %thead
        %tr
          %th{width: "20%"} Total
          %th
          - @insurance_types.each do |insurance_type|
            %th
              %input{type: "text", class: "form-control numeric total-insurance", disabled: true, value: 0.00, data: { insurance_type_code: "#{insurance_type.code}"}}
          %th
            %input{type: "text", class: "form-control numeric grand-total", disabled: true, value: 0.00}
  %hr
  %h4 Overrides
  .well
    .row
      .col-md-6
        = f.association :debit_accounting_code, input_html: { class: "form-control select-select2" }, include_blank: "-- SELECT --"
      - if Settings.activate_microinsurance
        .col-md-6
          = f.association :credit_accounting_code, input_html: { class: "form-control select-select2" }, include_blank: "-- SELECT--"
  %hr
  .form-actions
    = button_tag(type: "submit", class: "btn btn-primary") do
      .fa.fa-check
      Save
    = link_to income_insurance_payment_collection_path(@payment_collection), class: "btn btn-danger" do
      .fa.fa-times
      Cancel

#parameters{data: {payment_collection_id: payment_collection.id, insurance_types: @insurance_types.pluck(:code)}}
= render partial: "shared/loading_modal"
= javascript_include_tag "IncomeInsurancePaymentCollectionForm"
