%table.ui.green.celled.structured.small.table
  %thead
    %tr
      %th OR Number
      %th Paid at
      %th Total Amount
      %th Branch
      %th Center
      %th Status
  %tbody
    - @payment_collections.each do |pc|
      %tr.clickable{ data: { transaction_id: "#{pc.id}" } }
        %td #{pc.or_number}
        %td #{pc.paid_at}
        %td #{number_to_currency(pc.total_amount, unit: "P")}
        %td #{pc.branch}
        %td #{pc.center}
        %td #{pc.status}