.well
  .row
    .col-md-8
      = select_tag :member_id, options_for_select(@members.collect{ |o| [o.full_name, o.id] }), class: "select-select2", id: "member-select"
    .col-md-4
      .pull-right
        = link_to "#", class: "btn btn-primary", id: "btn-add-member" do
          .fa.fa-plus
          Add Member
