.remodal.modal-approve{ data: { remodal_id: "modal" } }
  %h3
    Approve This Transaction
  .errors
  .success
  .modal-controls
    %hr
    %button#btn-approve-confirmation.btn.btn-primary
      .fa.fa-warning
      Confirm
    %button#btn-cancel-approval.btn.btn-danger
      .fa.fa-times
      Cancel
