.remodal.modal-reverse{ data: { remodal_id: "modal" } }
  %h3
    Reverse This Transaction
  .errors
  .success
  .modal-controls
    %hr
    %button#btn-reverse-confirmation.ui.primary.button
      .fa.fa-warning
      Confirm
    %button#btn-cancel-reverse.ui.default.button
      .fa.fa-times
      Cancel
