#parameters{ data: { payment_collection_id: @payment_collection.id } }

%section.content-header
  %h1
    Equity Withdrawal
    %small
      #{@payment_collection.paid_at.strftime("%b %d, %Y")}
  %ol.breadcrumb
    %li
      #{link_to "Withdrawals", cash_management_equity_withdrawals_payment_collections_path}
    %li
      Show
%section.content
  .well
    = render partial: "actions", locals: { payment_collection: @payment_collection }
  .box
    .box-body
      - if @payment_collection.for_adjustment?
        .bs-callout.bs-callout-info
          %h3
            .fa.fa-warning
              This transaction is for adjustment
      = render partial: "shared/errors"
      = render partial: "payment_records", locals: { payment_collection: @payment_collection }
  .well
    %p
      #{@payment_collection.particular}

= render partial: "approve_modal"
= render partial: "reverse_modal"
= render partial: "shared/errors_template"
= render partial: "shared/success_template"
= render partial: "shared/errors"
= javascript_include_tag "CashManagementEquityWithdrawalsPaymentCollection"
:javascript
  $(document).ready(function() {
    CashManagementEquityWithdrawalsPaymentCollection.init();
  });
