.row
  .col-md-12
    %h3
      Claims Information (CLIP)
.well
  / .standard
  .hidden
    .col-md-4
      = f.association :branch, input_html: { class: 'form-control', id: 'branch', value: @member.branch.id }, as: :string
    .col-md-4
      = f.association :center, input_html: { class: 'form-control', id: 'center', value: @member.center.id }, as: :string
    .col-md-4
      = f.input :date_prepared, input_html: { class: 'form-control datepick', id: 'date-prepared', value: Time.now.to_date }, as: :string  
  .row
    .col-md-6
      = f.input :creditors_name, input_html: { id: 'creditors-name' }, as: :select, collection: ClipClaim::CREDITORS_NAME, include_blank: false, label: "CREDITORS NAME", prompt: "-- Select --"
  .row
    .col-md-6
      = f.input :member_name, input_html: { class: 'form-control', id: 'member-name', value: @member.full_name }, as: :string, label: "DEBTORS NAME (NAME)"
    .col-md-6
      = f.input :beneficiary, input_html: { class: 'form-control', id: 'beneficiary' }, as: :string, label: "BENEFICIARY"
  .row
    .col-md-4
      = f.input :date_of_birth, input_html: { class: 'form-control datepick', id: 'date-of-birth', value: @member.date_of_birth }, as: :string, label: "DATE OF BIRTH"
    .col-md-4
      = f.input :age, input_html: { class: 'form-control', id: 'age', value: @member.age }, as: :string, label: "AGE"
    .col-md-4
      = f.input :gender, input_html: { class: 'form-control', id: 'gender', value: @member.gender}, label: "GENDER"    
  .row
    .col-md-6
      = f.input :policy_number, input_html: { class: 'form-control', id: 'policy-number' }, as: :string, label: "CLIP POLICY NUMBER"
    .col-md-6
      = f.input :date_of_death, input_html: { class: 'form-control datepick', id: 'date-of-death-tpd-accident' }, as: :string, label: "DATE OF DEATH"
  .row
    .col-md-12    
      = f.input :cause_of_death, as: :text, input_html: { style: 'height: 70px', id: 'cause-of-death' }, label: "CAUSE OF DEATH"
      / = f.input :cause_of_death,  as: :select, collection: ClipClaim::CAUSE_OF_DEATH, include_blank: false, input_html: { style: 'height: 50px', id: 'cause-of-death' }, label: "CAUSE OF DEATH"
  .row
    .col-md-6
      = f.input :type_of_loan, input_html: { class: 'form-control', id: 'type-of-loan'}, as: :string, label: "TYPE OF LOAN"  
    .col-md-6
      = f.input :terms, input_html: { class: 'form-control', id: 'terms'}, as: :string, label: "TERMS OF LOANS (Weeks)"    
  .row
    .col-md-6
      = f.input :effective_date_of_coverage, input_html: { class: 'form-control datepick', id: 'effective-date-of-coverage'}, as: :string, label: "EFFECTIVE DATE OF COVERAGE"
    .col-md-6
      = f.input :expiration_date_of_coverage, input_html: { class: 'form-control datepick', id: 'expiration_date_of_coverage'}, as: :string, label: "EXPIRATION DATE OF COVERAGE"    
  .row
    .col-md-4
      = f.input :amount_of_loan, input_html: { class: 'form-control', id: 'amount-of-loan'}, as: :string, label: "AMOUNT OF LOAN"
    .col-md-4
      = f.input :amount_payable_to_beneficiary, input_html: { class: 'form-control', id: 'amount-payable-to-beneficiary'}, as: :string, label: "AMOUNT PAYABLE TO BENEFICIARY (Paid Amount)" 
    .col-md-4
      = f.input :amount_payable_to_creditor, input_html: { class: 'form-control', id: 'amount-payable-to-creditor'}, as: :string, label: "AMOUNT PAYABLE TO CREDITOR (Balance)"
  .row
    .col-md-12
      = f.input :prepared_by, input_html: { class: 'form-control', id: 'prepared-by', value: current_user.full_name.titleize}, as: :string, label: "PREPARED BY"

= javascript_include_tag "clip_claims_form"