= simple_nested_form_for [@member, clip_claim], defaults: { wrapper_html: { class: 'form-group' }, input_html: { class: 'form-control' } }, html: { multipart: true, novalidate: true } do |f|
  = hidden_field_tag 'memberId', "#{@member.id}"

  = render partial: "members/clip_claims/form_clip_claim_information", locals: { f: f }
  
  .form-actions
    = button_tag type: 'submit', class: 'btn btn-primary', data: { confirm: "Are you sure?" } do
      .fa.fa-check
      Submit
    = link_to clip_claims_path, class: 'btn btn-default' do
      .fa.fa-times
      Cancel

#parameters{data: { member_id: @member.id } }
/ = javascript_include_tag 'claim_application'
