%section.content-header
  %h1
    Claims Form
    %br
    %small 
      .ui
        Edit Record for: #{link_to @member.full_name, member_path(@member), target: '_blank'}
  %ol.breadcrumb
    %li
      = link_to clip_claims_path do
        .fa.fa-arrow-left
        Back to Clip Claims
%section.content
  .ui.grey.segment
    = render partial: "members/clip_claims/form", locals: { clip_claim: @clip_claim }
