%section.content-header
  %h1
    - if params[:change_password] == true
      Change Password
    - else
      Edit User Record
    %small
      #{current_user.full_name}
  %ol.breadcrumb
    %li
      = link_to root_path do
        .fa.fa-arrow-left
        Go Home
%section.content
  .ui.green.segment
    = render partial: "form"
