%section.content-header
  %h1 
    DETAILS
  .row
    .col-md-5{:style => "margin-top: 21px;"}
      .box.box-primary
        .box-body.box-profile
          = image_tag current_user.avatar.url(:profile), class: "profile-user-img img-responsive img-circle"
          %h3.profile-username.text-center
            #{current_user.first_name}  #{current_user.last_name}
          %p.text-muted.text-center
            = current_user.role
          %ul.list-group.list-group-unbordered
            %li.list-group-item
              %b Identification No:
              .pull-right 
                = current_user.identification_number
            %li.list-group-item
              %b Username:
              .pull-right 
                #{current_user.username}
            %li.list-group-item
              %b Email:
              .pull-right 
                = current_user.email
          = link_to edit_account_user_path(current_user), :class => "ui default button" do
            .fa.fa-pencil
            Edit
          = link_to edit_account_user_path(current_user, change_password: true), class: 'ui default button' do
            .fa.fa-lock
            Change Password
