.row
  .col-md-12
    %h3
      Co-maker Information
.well
  .row
    .col-md-6
      = f.input :co_maker_two, label: "Pangalan ng Co-maker (Kamag-anak)", as: :string
    .col-md-6
      = f.association :co_maker_one, collection: members, input_html: { class: "form-control select-select2" }, label: "Pangalan ng Co-maker (Kasama sa Sentro)"
