.row
  .col-md-12
    %h3
      Loan Information
.well
  .row
    .col-md-6
      .bs-callout.bs-callout-info
        Toggle Override button to use override values
        = f.input :override_installment_interval, input_html: { class: 'switch', id: 'override-installment-interval' }, label: "Override"
  .row
    .col-md-6
      = f.association :loan_product, as: :hidden, input_html: { id: 'loanProductId' }
      = f.input :pn_number, label: "PN Number", as: :string
    .col-md-6
      = f.input :book, as: :select, collection: Voucher::BOOK_TYPES, input_html: { class: 'form-control select-select2', id: 'select-book-type' }
  .standard
    .row
      .col-md-12
        = f.input :clip_number, input_html: { class: 'form-control', id: 'clipNumberText' }, as: :string
  .row
    .col-md-4
      = f.input :loan_cycle_count, :label => "Loan Cycle", as: :hidden
      %label
        Loan Cycle: #{f.object.loan_cycle_count}
    .col-md-4
      = f.association :loan_product_type, as: :select, collection: @loan_product.loan_product_types, include_blank: false, input_html: { id: "loan-product-type-select" }
    .col-md-4
      = f.input :interest_rate, input_html: { id: 'interest-rate-input' }
  .standard
    .row
      .col-md-12
        = f.input :business_permit_available, input_html: { class: 'switch' }
  - if f.object.new_record? || f.object.pending?
    .row
      .col-md-4
        = f.input :term, as: :select, collection: Loan::PAYMENT_TERMS, label: "Mode of Payment", input_html: { id: "mode-of-payment", class: 'form-control' }
      .col-md-4
        .override
          = f.input :original_loan_amount, input_html: { id: 'original-loan-amount' }, label: "Loan Amount"
      .col-md-4
        .override
          = f.input :original_num_installments, input_html: { id: 'original-num-installments' }, as: :select, collection: Loan::LOAN_INSTALLMENT_INTERVALS, include_blank: false, label: "Loan Term"
    .override
      .row
        .col-md-3
          = f.input :old_principal_balance, input_html: { id: 'old-principal-balance' }, label: "Principal Balance"
        .col-md-3
          = f.input :old_interest_balance, input_html: { id: 'old-interest-balance' }, label: "Interest Balance"
        .col-md-3
          = f.input :installment_override, input_html: { id: 'installment-override' }, label: "Weeks Remaining"
        .col-md-3
          = f.input :override_interest_rate, input_html: { id: 'override-interest' }, label: "Override Interest"
    .standard
      .row
        .col-md-6
          = f.input :amount, input_html: { id: 'amount' }, :label => "Halaga ng hinihiram"
        .col-md-6
          = f.input :num_installments, as: :select, collection: Loan.installment_intervals(@loan.term), label: "Loan Term", include_blank: false, input_html: { id: 'num-installments' }
    .row
      .col-md-6
        .standard
          - if @loan_product.overridable_interest_rate == true
            = f.input :interest_rate, input_html: { value: f.object.new_record? ? @loan_product.default_annual_interest_rate : f.object.interest_rate }
      .col-md-6
        = f.input :payment_type, as: :select, collection: Loan::PAYMENT_TYPES, input_html: { class: 'form-control select-select2' }
  - if f.object.loan_product.is_entry_point == true
    .row
      .col-md-6
        = f.association :project_type_category, collection: @project_type_categories, input_html: { class: 'form-control select-select2', id: 'projectTypeCategorySelect', data: { project_type_category_id: f.object.project_type_category_id } }
      .col-md-6
        = f.association :project_type, collection: @project_types, input_html: { class: 'form-control select-select2', id: 'projectTypeSelect', data: { project_type_id: f.object.project_type.try(:id)  } }
