.row
  .col-md-12
    %h3
      Financial Information
.standard
  .row
    .col-md-12
      .well
        .row
          .col-md-6
            = f.association :bank, input_html: { class: 'form-control select-select2' }
          .col-md-6
            = f.input :bank_check_number, input_html: { id: 'checkNumberText' }, as: :string
        .row
          .col-md-6
            = f.input :voucher_check_number, label: "Check Voucher Number", input_html: { id: 'voucherCheckNumberText' }, as: :string
          .col-md-6
            = f.input :voucher_date_requested, label: "Date of Check"
        .row
          .col-md-12
            .well
              = f.input :batch_transaction_reference_number, as: :string
.row
  .col-md-12
    .well
      = f.input :voucher_particular, as: :text, input_html: { style: "height: 90px", id: "voucherParticularText" }
