.bs-callout.bs-callout-danger
  .row
    .col-md-4
      %label
        Override Maintaining Balance
      = f.input :override_maintaining_balance, input_html: { class: 'switch', id: 'override-maintaining-balance' }, label: false
    - if current_user.role == "MIS"
      .col-md-4
        %label
          Insurance as Disbursement
        = f.input :insurance_as_disbursement_correction, input_html: { class: 'switch', id: 'insurance-as-disbursement-correction' }, label: false
.standard
  %h4 Overrides
  .bs-callout.bs-callout-danger
    .row
      - if f.object.new_record? or f.object.pending?
        .col-md-4
          %label
            Service Fee
          = f.input :override_processing_fee, input_html: { class: 'switch', id: 'override-processing-fee'}, label: false
        .col-md-4
          %label
            No Interest
          = f.input :override_interest, input_html: { class: 'switch', id: 'override-interest' }, label: false
        .col-md-4
          %label
            No Insurance Deductions
          = f.input :override_insurance_deductions, input_html: { class: 'switch', id: 'override-insurance-deductions' }, label: false

    .row
      - if f.object.new_record? or f.object.pending?
        .col-md-4
