- if loan.errors.count > 0
  .bs-callout.bs-callout-danger
    Errors:
    %ul
      - loan.errors.full_messages.each do |e|
        %li
          = e

= simple_nested_form_for [@member, loan], defaults: { wrapper_html: { class: 'form-group' }, input_html: { class: 'form-control' } }, html: { multipart: true, novalidate: true } do |f|
  = hidden_field_tag 'memberId', "#{@member.id}"
  = render partial: "members/loans/form_co_makers", locals: { f: f, members: @members }

  %h3
    Date of Release
  .well
    .row
      .col-md-12
        - val = f.object.date_of_release.strftime("%Y-%m-%d") if f.object.date_of_release
        = f.input :date_of_release, as: :string, value: val, input_html: { class: "form-control datepick" }

  - if !loan.active?
    = render partial: "members/loans/form_loan_information", locals: { f: f }
    = render partial: "members/loans/form_financial_information", locals: { f: f }
  - if ["MIS", "BK", "SBK", "OAS"].include?(current_user.role)
    = render partial: "members/loans/form_overrides", locals: { f: f }
    %hr
    .row
      .col-md-12
        %h3
          Other Information and Submission
    .row
      .col-md-12
        %h4
          Insurance Information
        %table.table.table-bordered.table-responsive.insuranceinformationloanform
          %thead
            %tr
              %th Insurance Type
              %th Expected Deposit Value (First Time)
              %th Expected Deposit Value (loans > 0)
          - f.object.loan_product.loan_insurance_deduction_entries.each do |insurance_deduction|
            %tr
              %td.insurance_type
                = insurance_deduction.insurance_type
              %td.expected_deposit_ft
                = "#{number_to_currency(insurance_deduction.val, unit: 'P')} / payment"
              %td.expected_deposit_loans
                = "#{number_to_currency(insurance_deduction.val, unit: 'P')} x term paid upon application"
  = render partial: "members/loans/form_secondary_beneficiary", locals: { f: f }
  = render partial: "members/components/form_income_and_expenses", locals: { f: f }
  .form-actions
    = button_tag type: 'submit', class: 'btn btn-primary', data: { confirm: "Are you sure?" } do
      .fa.fa-check
      Submit
    = link_to loans_path, class: 'btn btn-default' do
      .fa.fa-times
      Cancel

#parameters{data: { member_id: @member.id, original_num_installments: "#{@loan.original_num_installments}", num_installments: "#{@loan.num_installments}" } }
= javascript_include_tag 'loan_application'
