.row
	.col-md-12
		%h3
			CLIP Beneficiary
.well
	.row
		.col-md-4
			= f.input :beneficiary_first_name, label: "First Name", as: :string
		.col-md-4
			= f.input :beneficiary_middle_name, label: "Middle Name", as: :string
		.col-md-4
			= f.input :beneficiary_last_name, label: "Last Name", as: :string
	.row
		.col-md-6
			= f.input :beneficiary_date_of_birth, as: :string, :label => "Date of Birth", input_html: { class: 'datepick form-control' }
		.col-md-6
			= f.input :beneficiary_relationship, label: "Relationship to the Debtor", as: :string  	