.nested-fields
  .row
    .col-md-4
      = f.input :source, :label => "MGA PINAGKAKAGASTUSAN", as: :select, collection: Settings.member_weekly_expense_sources, input_html: { class: 'form-control select-select2' }
    .col-md-4
      = f.input :amount, :label => "GASTOS"
    .col-md-4
      %label
        AKSYON
      %br
      = link_to_remove_association f, class: 'btn btn-danger' do
        .fa.fa-times
        ALISIN
