%section.content-header
  %h1
    Loan Form
    %small
      .label.label-primary
        New Record for #{link_to @member.full_name, member_path(@member), target: '_blank', style: "color: #fff"} 
  %ol.breadcrumb
    %li
      = link_to loans_path do
        .fa.fa-arrow-left
        Back to Loans
%section.content
  .ui.grey.segment
    = render partial: "members/loans/form", locals: { loan: @loan }
