%section.content-header
  %h1 
    Dashboard
    %small Build Version #{BUILD_VERSION}
.container-fluid
  .ui.two.column.grid.green.segment
    .column
      .big.ui.green.tag.label
        Meeting Days
      - @branches.each do |branch|
        %h2.ui.teal.header #{branch}
        .infiniscroll
          %table.ui.green.table
            %thead
              %tr
                %th{width: "25%"} Center
                %th{width: "25%"} Officer (SO)
                %th{width: "25%"} Active Members
                %th{width: "25%"} Day
            %tbody
              - branch.centers.order(:name).each do |c|
                %tr
                  %td{width: "25%"}= c
                  %td{width: "25%"}= c.officer_in_charge
                  %td{width: "25%"}= c.active_member_count
                  %td{width: "25%"}= c.meeting_day
    .column
      .row
        .col-md-6
          .ui.blue.segment
            %h4
              = Member.where(gender: "Male").count
              %small
                Male Count
        .col-md-6
          .ui.red.segment
            %h4
              = Member.where(gender: "Female").count
              %small
                Female Count
        .col-md-6
          .ui.gray.segment
            %h4
              = Member.where(gender: "Others").count
              %small
                Others Count
      %hr
      .row
        .col-md-12
          %h3 
            .fa.fa-book
            Accounting Books
          .ui.grey.segment
            .ui.grid
              .sixteen.wide.column
                = link_to book_path("JVB"), target: "_blank" do
                  %h4
                    .fa.fa-book
                    Journal Vouchers 
                    %small
                      (#{Voucher.where(book: "JVB").count} entries)
          .ui.grey.segment
            .ui.grid
              .sixteen.wide.column
                = link_to book_path("CRB"), target: "_blank" do
                  %h4
                    .fa.fa-book
                    Cash Receipts 
                    %small
                      (#{Voucher.where(book: "CRB").count} entries)
          .ui.grey.segment
            .ui.grid
              .sixteen.wide.column
                = link_to book_path("CDB"), target: "_blank" do
                  %h4
                    .fa.fa-book
                    Cash Disbursements 
                    %small
                      (#{Voucher.where(book: "CDB").count} entries)
      %hr 
      %h3
        .fa.fa-question
        Feedback
      = render partial: "pages/widgets/feedback"
