<script id="current-moratorium-template" type="x-tmpl-mustache">
  <h1>Moratorium Schedule</h1>
  {{#data}}
    <h2>{{member_name}} <small>{{center}}, {{branch}}</small></h2>
    <h3>{{loan_product}}</h3>
    <h4>Remaining Balance: {{loan_remaining_balance}}</h4>
    <table class='ui green table'>
      <thead>
        <tr>
          <th>Due Date</th>
          <th>New Due Date</th>
          <th>Amount</th>
        </tr>
      </thead>
      <tbody>
        {{#schedule_change}}
          <tr>
            <td>{{previous_due_at}}</td>
            <td>{{next_date_of_payment}}</td>
            <td>{{amount}}</td>
          </tr>
        {{/schedule_change}}
      </tbody>
    </table>
  {{/data}}
</script>
