%h3
  Books
.info-box
  = link_to book_path("JVB"), target: "_blank" do
    %span.info-box-icon.bg-teal
      %i.fa.fa-book
    .info-box-content
      %span.info-box-text Journal Vouchers
      %span.info-box-number
        %small 
          #{Voucher.where(book: "JVB").count} entries
.info-box
  = link_to book_path("CRB"), target: "_blank" do
    %span.info-box-icon.bg-teal
      %i.fa.fa-book
    .info-box-content
      %span.info-box-text Cash Receipts
      %span.info-box-number
        %small 
          #{Voucher.where(book: "CRB").count} entries
.info-box
  = link_to book_path("CDB"), target: "_blank" do
    %span.info-box-icon.bg-teal
      %i.fa.fa-book
    .info-box-content
      %span.info-box-text Cash Disbursements
      %span.info-box-number
        %small 
          #{Voucher.where(book: "CDB").count} entries
