.row
  .col-md-3.col-sm-6.col-xs-12
    .info-box
      %span.info-box-icon.bg-blue
        %i.fa.fa-male
      .info-box-content
        %span.info-box-text Male 
        %span.info-box-number
          %small 
            = Member.active.where(gender: "Male").count
  .col-md-3.col-sm-6.col-xs-12
    .info-box
      %span.info-box-icon.bg-red
        %i.fa.fa-female
      .info-box-content
        %span.info-box-text Female
        %span.info-box-number
          %small 
            = Member.active.where(gender: "Female").count
  .col-md-3.col-sm-6.col-xs-12
    .info-box
      %span.info-box-icon.bg-gray
        %i.fa.fa-transgender
      .info-box-content
        %span.info-box-text Others
        %span.info-box-number
          %small 
            = Member.active.where(gender: "Others").count          
  .col-md-3.col-sm-6.col-xs-12
    .info-box
      %span.info-box-icon.bg-green
        %i.fa.fa-line-chart
      .info-box-content
        %span.info-box-text Total Collections
        %span.info-box-number
          %small
            = number_to_currency(total_collections, unit: "P")
