%h4
  Meeting Days
- @branches.each do |branch|
  .box.box-default.collapsed-box
    .box-header.with-border
      %h3 #{branch}
      .box-tools.pull-right
        %button.btn.btn-box-tool{ data: { widget: "collapse" } }
          %i.fa.fa-plus
    .box-body
      %table.table.table-bordered.table-responsive.table-condensed
        %thead
          %tr
            %th{width: "25%"} Center
            %th{width: "25%"} Officer (SO)
            %th{width: "25%"} A | P
            %th{width: "25%"} Day
        %tbody
          - branch.centers.order(:name).each do |c|
            %tr
              %td{width: "25%"}= c
              %td{width: "25%"}= c.officer_in_charge
              %td{width: "25%"}= "#{c.active_member_count} | #{c.pending_member_count}"
              %td{width: "25%"}= c.meeting_day
