.row
  .col-md-12
    %h4
      Latest Announcement:
      - if latest_announcement
        #{latest_announcement.announced_on.strftime("%B %d, %Y")}
        %small
          .label.label-info
            By: #{latest_announcement.announced_by}
    .well
      - if latest_announcement
        %h3
          #{latest_announcement.title}
        = image_tag latest_announcement.banner.url(:display), class: "img-responsive" if latest_announcement.banner?
        %hr
        %p
          #{latest_announcement.content}
      - else
        No announcements
- if insurance_account_monitor_enabled?
  .row
    .col-md-12
      %h4
        Insurance Account Monitor
      #priority-insurance-account-monitor
.row
  .col-md-12
    .nav-tabs-custom
      %ul.nav.nav-tabs.nav-justified
        %li.active
          = link_to "Loan Product Stats", "#loan-product-stats-section", "data-toggle" => "tab"
        %li
          = link_to "Member Stats", "#member-stats-section", "data-toggle" => "tab"
        %li
          = link_to "LP Cycle Count", "#loan-product-cycle-count-section", "data-toggle" => "tab"
        %li
          = link_to "SO Member Stats", "#so-member-stats-section", "data-toggle" => "tab"
        %li
          = link_to "Watchlist", "#watchlist-section", "data-toggle" => "tab"
        %li
          = link_to "Time Deposits", "#time-deposit", "data-toggle" => "tab"
      .tab-content.tab-content-inner
        #loan-product-stats-section.tab-pane.active
          .tabBox
            #loan-product-stats-app
        #member-stats-section.tab-pane
          .tabBox
            #member-count-app
        #loan-product-cycle-count-section.tab-pane
          .tabBox
            = render partial: "pages/widgets/lp_cycle_count"
        #so-member-stats-section.tab-pane
          .tabBox
            = render partial: "pages/widgets/so_member_stats"
        #watchlist-section.tab-pane
          .tabBox
            #watchlist-app
        #time-deposit.tab-pane
          .tabBox
            = render partial: "pages/widgets/time_deposit_list"

.row
  .col-md-12
    = render partial: "dashboard_meeting_days"

- if insurance_account_monitor_enabled?
  = javascript_include_tag "PriorityInsuranceAccountMonitor.min"
= javascript_include_tag "MemberCount.min"
= javascript_include_tag "LoanProductStats.min"
= javascript_include_tag "Watchlist.min"
