.row
  .col-md-12
    %h4
      Latest Announcement:
      - if latest_announcement
        #{latest_announcement.announced_on.strftime("%B %d, %Y")}
        %small
          .label.label-info
            By: #{latest_announcement.announced_by}
    .well
      - if latest_announcement
        %h3
          #{latest_announcement.title}
        = image_tag latest_announcement.banner.url(:display), class: "img-responsive" if latest_announcement.banner?
        %hr
        %p
          #{latest_announcement.content}
      - else
        No announcements
- if insurance_account_monitor_enabled?
  .row
    .col-md-12
      %h4
        Insurance Account Monitor
      #priority-insurance-account-monitor
.row
  .col-md-12
    .nav-tabs-custom
      %ul.nav.nav-tabs.nav-justified
        / %li.active
        /   = link_to "", "#", "data-toggle" => "tab"
        %li.active
          = link_to "Member Stats", "#member-stats-section", "data-toggle" => "tab"
      .tab-content.tab-content-inner
        / #stats-section.tab-pane.active
        /   .tabBox
        /     #stats-app
        #member-stats-section.tab-pane.active
          .tabBox
            #member-count-mii-app
/ .row
/   .col-md-12
/     = render partial: "dashboard_meeting_days"

- if insurance_account_monitor_enabled?
  = javascript_include_tag "PriorityInsuranceAccountMonitor.min"
= javascript_include_tag "MemberCountMii.min"