<script id="template_interest_on_share_capital" type="x-tmpl-mustache">
  <table class="table table-bordered table-responsive">
    {{#member_details_group}}
      <tr>
        <th colspan = 18>
          <h2>{{center_name}}</h2>
        </th>
      </tr>

      <tr>
        <th>Member Id</th>
        <th>Name</th>
        <th>Jan.</th>
        <th>Feb.</th>
        <th>Mar.</th>
        <th>Apr.</th>
        <th> May.</th>
        <th> June.</th>
        <th> July.</th>
        <th> Aug.</th>
        <th> Sept.</th>
        <th> Oct.</th>
        <th> Nov.</th>
        <th> Dec.</th>
        <th> Total Shares</th>
        <th> Interest Amount</th>
        <th> Savings</th>
        <th> CBU</th>
      </tr>
      
      {{#center_details}}
        <tr>
          <td>{{member_id}}</td>
          <td>{{member_name}}</td>
          {{#equity_details}}
            <td>{{amount}}</td>
          {{/equity_details}}
          <td>{{total_share}}</td>
          <td>{{total_average_share}}</td>
          <td>{{total_savings_amount}}</td>
          <td>{{total_cbu_amount}}</td>

        </tr>
      {{/center_details}}
      <tr>
        <th colspan=14>Total</th>
        <th>{{total_share}}</th>
        <th>{{total_ave_details}}</th>
        <th>{{total_savings_details}}</th>
        <th>{{total_cbu_details}}</th>
      </tr>
      <tr>
        <td colspan=18></td>
      </tr>
    {{/member_details_group}}

  
  </table> 


</script>
