%section.content-header
  %h1 Actions

%section.content
  .well
    = link_to download_backup_path, class: 'btn btn-app' do
      .fa.fa-download
      Download Backup
    = link_to "#", id: 'btn-generate-daily-report', class: 'btn btn-app' do
      .fa.fa-refresh
      Generate Daily Report
    = link_to "#", id: 'btn-generate-monthly-daily-report', class: 'btn btn-app' do
      .fa.fa-refresh
      Generate Monthly Report

= render partial: "shared/loading_modal"
= javascript_include_tag "Actions"
:javascript
  $(document).ready(function() {
    Actions.init();
  });
