<div class="for_non_mobile">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            Dashboard
            <div class="listHeaderActions">
              <%= link_to trial_balance_path, class: "btn btn-xs btn-default", style: "float: right; margin-right: 5px;", target: "_blank" do %>
                <span class="glyphicon glyphicon-list-alt"></span> Trial Balance
              <% end %>
              <%= link_to book_path("JVB"), class: "btn btn-xs btn-default", style: "float: right; margin-right: 5px;", target: "_blank" do %>
                <span class="glyphicon glyphicon-list-alt"></span> Journal Vouchers Book
              <% end %>
              <%= link_to book_path("CDB"), class: "btn btn-xs btn-default", style: "float: right; margin-right: 5px;", target: "_blank" do %>
                <span class="glyphicon glyphicon-list-alt"></span> Cash Disbursements Book
              <% end %>
              <%= link_to book_path("CRB"), class: "btn btn-xs btn-default", style: "float: right; margin-right: 5px;", target: "_blank" do %>
                <span class="glyphicon glyphicon-list-alt"></span> Cash Receipts Book
              <% end %>
            </div>
          </div>
          <div class="panel-body">
            <%= render partial: "pages/widgets/overall_stats" %>
            <%= render partial: "pages/widgets/top_branches", locals: { branches: @branches }  %>
          </div>
        </div>
      </div>
    <div>
  </div>
</div>
</div>
</div>

<div class="for_mobile">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            Dashboard
          </div>
           <div class="listHeaderActions">
            <%= link_to trial_balance_path, class: "btn btn-xs btn-default", style: " margin-right: 5px;", target: "_blank" do %>
              <span class="glyphicon glyphicon-list-alt"></span> Trial Balance
            <% end %>
            <%= link_to book_path("JVB"), class: "btn btn-xs btn-default", style: " margin-right: 5px;", target: "_blank" do %>
              <span class="glyphicon glyphicon-list-alt"></span> Journal Vouchers Book
            <% end %>
            <%= link_to book_path("CDB"), class: "btn btn-xs btn-default", style: " margin-right: 5px;", target: "_blank" do %>
              <span class="glyphicon glyphicon-list-alt"></span> Cash Disbursements Book
            <% end %>
            <%= link_to book_path("CRB"), class: "btn btn-xs btn-default", style: " margin-right: 5px;", target: "_blank" do %>
              <span class="glyphicon glyphicon-list-alt"></span> Cash Receipts Book
            <% end %>
          </div>
          <div class="panel-body">
            <%= render partial: "pages/widgets/overall_stats" %>
            <%= render partial: "pages/widgets/top_branches", locals: { branches: @branches }  %>
          </div>
        </div>
      </div>
    <div>
  </div>
</div>
</div>
</div>

