%section.content-header
  %h1 Invalid Loans
%section.content
  - if @invalid_loans.size == 0
    %p No invalid loans
  - else
    %table.ui.teal.small.table
      %thead
        %tr
          %th Loan
          %th Member
          %th Errors
      %tbody
        - @invalid_loans.each do |loan|
          %tr
            %td 
              = link_to "#{loan.to_s}", loan_path(loan), target: "_blank"
              %span{class: "ui #{loan.status == 'pending' ? 'red' : 'green'} label"}
                #{loan.status}
            %td
              = link_to "#{loan.member}", member_path(loan.member), target: "_blank"
            %td
              %ul
                - loan.errors.messages.each do |m|
                  %li
                    #{m}
