%section.content-header
  %h1 Invalid Maintaining Balance for Loans

%section.content
  - if @invalid_loans.size > 0
    %table.ui.small.red.table
      %thead
        %tr
          %th ID
          %th Loan Amount
      %tbody
        - @invalid_loans.each do |loan|
          %tr
            %td #{link_to loan.id, loan_path(loan.id), target: "_blank"}
            %td 
              - if loan.override_installment_interval
                #{loan.original_loan_amount}
              - else
                #{loan.amount}
  - else
    No invalid loans. :)
