%section.content-header
  %h1
    Developer
    %small
      Release Notes
      .ui.label
        Commit: #{GIT_COMMIT}
      .ui.label
        Current Build: #{BUILD_VERSION}
  %ol.breadcrumb
    %li
      = link_to "#", class: 'btn btn-primary btn-xs bg-blue' do
        .fa.fa-plus
        New Build Version
%section.content
  %ul.timeline
    %li.time-label
      %span.bg-green
        February 9, 2016
    %li
      %i.fa.fa-plane.bg-blue
      .timeline-item
        %h3.timeline-header
          = link_to "#" do
            Build Number 0.14.0
        .timeline-body
          %label General
          %ul
            %li Changed project name to KOINS
            %li Using AdminLTE for main layout
            %li Minor bug fixes
    %li.time-label
      %span.bg-green
        January 11, 2016
    %li
      %i.fa.fa-plane.bg-blue
      .timeline-item
        %h3.timeline-header
          = link_to "#" do
            Build Number 0.13.1
        .timeline-body
          %label Reports
          %ul
            %li Added Cluster Snapshot service
            %li Added cron job for cluster snapshot
          %label Misc
          %ul
            %li UI Fixes
    %li.time-label
      %span.bg-green
        January 4, 2016
    %li
      %i.fa.fa-plane.bg-blue
      .timeline-item
        %h3.timeline-header
          = link_to "#" do
            Build Number 0.13.0
        .timeline-body
          %label Accounting
          %ul
            %li Interface cleanup
            %li Added payor and payee fields
            %li Added role ACC for head office accounting users (only accounting module exposed)

          %label Reports
          %ul
            %li Initial Personal Funds report
            %li Initial Repayments report

          %h4
            .fa.fa-gears
            Build Number 0.12.2
            %small
              December 8, 2015
          %label Accounting
          %ul
            %li Trial balance, general ledger fixes
            %li Voucher Summary accounting report
            %li Initial download pdf for voucher summary
    %li.time-label
      %span.bg-green
        December 6, 2015
    %li
      %i.fa.fa-plane.bg-blue
      .timeline-item
        %h3.timeline-header
          = link_to "#" do
            Build Number 0.12.1
        .timeline-body
          %label MIS
          %ul
            %li Refactored new synching mechanism for initial setup (command: rake sync:setup)
          %label Accounting
          %ul
            %li Modified trial balance to include start_date, end_date, starting/ending DR/CR
            %li Trial balance UI changes
            %li Initial download pdf for trial balance
            %li General Ledger UI changes
            %li Initial download pdf for general ledger
    %li.time-label
      %span.bg-green
        November 27, 2015
    %li
      %i.fa.fa-plane.bg-blue
      .timeline-item
        %h3.timeline-header
          = link_to "#" do
            Build Number: 0.11.2
        .timeline-body
          %label Loans
          %ul
            %li Batch transaction reference number autocomplete (jquery ui)
          %label Cash Management
          %ul
            %li Added Download Excel File
            %li Added total for row and column computations
            %li Added Center reference to each batch transaction (Make sure to run rake db:adjust_centers_for_batch_transactions)
            %li Fixed frozen bug in approval of batch transaction (for posting)
            %li Fixed filter
            %li Modified UI for creating a new batch transaction
          %label Membership
          %ul
            %li New uniqueness validation for members based on first name, last name and birthday
          %label Collection/Billing
          %ul
            %li Fixed row computation for collection
            %li Fixed inclusion of non paying members with active non entry point loans in billing sheet
            %li Allow 0 value loan payments
            %li Added Download Excel File
            %li Moved critical action buttons below transaction record (i.e. reverse, delete)
          %label Miscellaneous
          %ul
            %li Added developer logs in /developer
            %li Build number display (configured in initializer git_info.rb)
