%section.content-header
  %h1 
    Exports Page
%section.content
  #filter
    = form_tag export_tools_path, html: { novalidate: true }, method: "GET" do
      %table.table.table-bordered.table-responsive
        %tr
          %th
            %label Start Date
            = text_field_tag :start_date, @start_date, class: "form-control datepick", id: "filter-start-date"
          %th
            %label End Date
            = text_field_tag :end_date, @end_date, class: "form-control datepick", id: "filter-end-date"    
  %h3
    Member Csv Export Tools
  .box
    .box-body
      #export-member-segment-csv  
        = render partial: "pages/export_components/member_csv_export_tools"
  %h3
    CSV Export Insurance Transactions
  .box
    .box-body
      #export-transaction-segment-csv  
        // = link_to export_insurance_accounts_path do
        = link_to "#", class: 'btn-download-insurance-accounts-csv' do
          .info-box
            %span.info-box-icon.bg-blue
              %i.fa.fa-download
            .info-box-content
              %span.info-box-text
                Export Insurance Accounts Information 
              %span.info-box-number
                %small
                  Download a CSV file for Insurance Accounts
        // = link_to export_insurance_account_transactions_path do
        = link_to "#", class: 'btn-download-insurance-account-transactions-csv' do
          .info-box
            %span.info-box-icon.bg-blue
              %i.fa.fa-download
            .info-box-content
              %span.info-box-text
                Export Insurance Account Transactions Information 
              %span.info-box-number
                %small
                  Download a CSV file for Insurance Account Transactions
  %h3
    CSV Export Insured Loans (CLIP)
  .box
    .box-body
      #export-insured-loan-segment-csv  
        = link_to "#", class: 'btn-download-insured-loans-csv' do
          .info-box
            %span.info-box-icon.bg-blue
              %i.fa.fa-download
            .info-box-content
              %span.info-box-text
                Export Insured Loans (CLIP) Information 
              %span.info-box-number
                %small
                  Download a CSV file for Insured Loans (CLIP)
  %h3
    CSV Export Withdrawal for HIIP
  .box
    .box-body
      #export-withdrawal-for-hiip-segment-csv  
        = link_to "#", class: 'btn-download-withdrawal-for-hiip-csv' do
          .info-box
            %span.info-box-icon.bg-blue
              %i.fa.fa-download
            .info-box-content
              %span.info-box-text
                Export Withdrawal for HIIP Information 
              %span.info-box-number
                %small
                  Download a CSV file for Withdrawal for HIIP
  %h3
    Member Excel Export Tools
  .box
    .box-body
      = render partial: "pages/export_components/member_excel_export_tools"
  %h3
    Beneficiary Excel Download Tools
  .box
    .box-body
      #export-beneficiaries-segment
        .ui.segment
          .row
            .col-md-12
              %h4
                Download Beneficiaries
              = select_tag :center_id, options_from_collection_for_select(Center.all, :id, :name, nil), id: 'center-select', class: "form-control select-select2", prompt: "-- SELECT CENTER --"
              %hr
              = link_to "#", class: 'btn btn-block btn-primary btn-download' do
                .fa.fa-download
                Download Excel
  %h3
    Member Excel Download Tools
  .box
    .box-body      
      #export-member-per-branch-segment
        .ui.segment
          .row
            .col-md-12
              %h4
                Download Member
              = select_tag :branch_id, options_from_collection_for_select(Branch.all, :id, :name, nil), id: 'branch-select', class: "form-control select-select2", prompt: "-- SELECT BRANCH --"
              %hr
              = link_to "#", class: 'btn btn-block btn-primary btn-download-member-per-branch' do
                .fa.fa-download
                Download Excel
  %h3
    Members Spouse CSV Export
  .box
    .box-body      
      #members-spouse-csv-export-segment
        .ui.segment
          .row
            .col-md-12
              %h4
                Export Member's Spouse
              = select_tag :branch_id, options_from_collection_for_select(Branch.all, :id, :name, nil), id: 'branch-select-members-spouse', class: "form-control select-select2", prompt: "-- SELECT BRANCH --"
              %hr
              = link_to "#", class: 'btn btn-block btn-primary btn-members-spouse-export-csv' do
                .fa.fa-download
                Download CSV
= javascript_include_tag "exports/Exports.Beneficiaries"
/ = javascript_include_tag "exports/Exports.Tools"

/ :javascript
/   $(document).ready(function() {
/     Exports.Tools.init();
/   });

:javascript
  $(document).ready(function() {
    Exports.Beneficiaries.init();
  });