%section.content-header
  %h1 
    Import Beneficiary
%section.content
  = form_tag import_beneficiaries_members_path, multipart: true do
    .box.box-primary
      .box-header.with-border   
        %h3.box-title Upload a CSV file for beneficiary information of this system.
      .box-body   
        .row
          .col-md-6
            = file_field_tag :file, class: "form-control"
          .col-md-6
            = submit_tag "Import Beneficiary", :class => "btn btn-primary"