%section.content-header
  %h1 
    Import Members Spouse as Dependents 
%section.content
  = form_tag import_members_spouse_as_dependents_members_path, multipart: true do
    .box.box-primary
      .box-header.with-border   
        %h3.box-title Upload a CSV file for members spouse.
      .box-body   
        .row
          .col-md-6
            = file_field_tag :file, class: "form-control"
          .col-md-6
            = submit_tag "Import Members Spouse as Dependents", :class => "btn btn-primary"