%section.content-header
  %h1 
    Import Insured Loans (CLIP)
%section.content
  = form_tag import_insured_loans_insurance_accounts_path, multipart: true do
    .box.box-primary
      .box-header.with-border   
        %h3.box-title Upload a CSV file for insured loans (CLIP) for members.
      .box-body   
        .row
          .col-md-6
            = file_field_tag :file, class: "form-control"
          .col-md-6
            = submit_tag "Import Insured Loans (CLIP)", :class => "btn btn-primary"