%section.content-header
  %h1 
    Import Insurance Account Transactions
%section.content
  = form_tag import_insurance_account_transactions_insurance_accounts_path, multipart: true do
    .box.box-primary
      .box-header.with-border   
        %h3.box-title Upload a CSV file for insurance account transactions for members.
      .box-body   
        .row
          .col-md-6
            = file_field_tag :file, class: "form-control"
          .col-md-6
            = submit_tag "Import Insurance Account Transactions Information", :class => "btn btn-primary"