%section.content-header
  %h1 
    Import Correct MII Recognition Date
%section.content
  = form_tag import_correct_mii_recognition_date_members_path, multipart: true do
    .box.box-primary
      .box-header.with-border   
        %h3.box-title Upload a CSV file for correct mii recognition date.
      .box-body   
        .row
          .col-md-6
            = file_field_tag :file, class: "form-control"
          .col-md-6
            = submit_tag "Import Correct Recognition Date File", :class => "btn btn-primary"