%section.content-header
  %h1 
    Import Legal Dependents
%section.content
  = form_tag import_dependents_members_path, multipart: true do
    .box.box-primary
      .box-header.with-border   
        %h3.box-title Upload a CSV file for legal dependents information of this system.
      .box-body   
        .row
          .col-md-6
            = file_field_tag :file, class: "form-control"
          .col-md-6
            = submit_tag "Import Legal Dependents", :class => "btn btn-primary"