%section.content-header
  %h1 
    Dashboard: Build Version #{BUILD_VERSION}
%section.content
  .row
    .col-md-12
      .well
        %b
          Latest Report Generated: 
        #{latest_daily_report_timestamp}
        - if ["MIS", "AM", "SBK", "BK", "FM", "CM"].include? current_user.role
          .pull-right
            = link_to download_backup_path, class: '' do
              .fa.fa-download
              Download Backup
            |
            = link_to "#", id: 'btn-generate-daily-report', class: '' do
              .fa.fa-refresh
              Generate Daily Report
            |
            = link_to "#", id: "btn-send-daily-report", class: "" do
              .fa.fa-upload
              Send Daily Report

  - if Settings.activate_microloans
    = render partial: "mfi_dashboard"
  - elsif Settings.activate_microinsurance
    = render partial: "mii_dashboard"

= render partial: "shared/loading_modal"
= javascript_include_tag "Actions"
:javascript
  $(document).ready(function() {
    Actions.init();
  });
