%section.content-header
  %h1
    Members for Insurance Exit Age
    %small  
      = link_to insurance_exit_age_members_pdf_path, target:"_blank" do
        .fa.fa-print
        Print PDF    
%section.content
  %table.table.table-sm.table-hover
    %thead
      %tr
        %th{width: "5%"}
        %th Name
        %th Member Type
        %th Date of Birth
        %th Age
        -if Settings.activate_microinsurance
          %th Branch 
        %th Center
        %th.text-right
          LIFE
        %th.text-right
          RF
    %tbody
      - @members.order("last_name ASC").each_with_index do |m, i|
        %tr
          %td #{i+1}
          %td
            = link_to member_path(m), target: "_blank" do
              #{m.full_name_titleize}
          %td
            #{m.member_type}
          %td
            #{m.date_of_birth}
          %td
            #{m.age}
          -if Settings.activate_microinsurance
            %td 
              #{m.branch}  
          %td
            #{m.center}
          %td.text-right
            #{number_to_currency(m.insurance_accounts.joins(:insurance_type).where("insurance_types.code = ?", "LIF").first.balance, unit: "")}
          %td.text-right
            #{number_to_currency(m.insurance_accounts.joins(:insurance_type).where("insurance_types.code = ?", "RF").first.balance, unit: "")}
      - @gk_members.order("last_name ASC").each_with_index do |m, i|
        %tr
          %td #{i+1}
          %td
            = link_to member_path(m), target: "_blank" do
              #{m.full_name_titleize}
          %td
            #{m.member_type}
          %td
            #{m.date_of_birth}
          %td
            #{m.age}
          -if Settings.activate_microinsurance
            %td 
              #{m.branch}  
          %td
            #{m.center}
          %td.text-right
            #{number_to_currency(m.insurance_accounts.joins(:insurance_type).where("insurance_types.code = ?", "LIF").first.balance, unit: "")}
          %td.text-right
            #{number_to_currency(m.insurance_accounts.joins(:insurance_type).where("insurance_types.code = ?", "RF").first.balance, unit: "")}
