:css
  .print-text {
    font-size: .8em;
    font-family: arial;
  }

  .print-text-sub {
    font-size: 1.1em;
    font-family: arial;
  }

%span.print-text
  %center
    %br
    %h3
      Members for Insurance Exit Age
  %table.table.table-bordered
    %thead
      %tr
        %th{width: "5%"}
        %th Name
        %th Member Type
        %th Date of Birth
        %th Age
        %th Branch 
        %th Center
    %tbody
      - @members.order("last_name ASC").each_with_index do |m, i|
        %tr
          %td #{i+1}
          %td
            #{m.full_name_titleize}
          %td
            #{m.member_type}
          %td
            #{m.date_of_birth}
          %td
            #{m.age}
          %td 
            #{m.branch}  
          %td
            #{m.center}
      - @gk_members.order("last_name ASC").each_with_index do |m, i|
        %tr
          %td #{i+1}
          %td
            #{m.full_name_titleize}
          %td
            #{m.member_type}
          %td
            #{m.date_of_birth}
          %td
            #{m.age}
          %td 
            #{m.branch}  
          %td
            #{m.center}
  
  
  
  
