%section.content-header
  %h1
    Invalid Memberships
%section.content
  %table.ui.green.small.table
    %thead
      %tr
        %th{width: "5%"}
        %th Member
        %th Date Created
        %th Date Paid
        %th.acc-curr Amount
        %th Center
    %tbody
      - @invalid_memberships.each_with_index do |m, i|
        %tr
          %td 
            #{i+1}
            - if current_user.role == "MIS"
              (#{m.id})
          %td
            = link_to member_path(m.member), target: "_blank" do
              #{m.member.full_name_titleize}
          %td
            #{m.created_at.strftime("%B %d, %Y")}
          %td
            #{m.paid_at.strftime("%B %d, %Y")}
          %td.curr
            #{m.amount_paid}
          %td
            #{m.member.center}
