%section.content-header
  %h1
    KMBA Invalid Members
%section.content
  %table.ui.green.small.table
    %thead
      %tr
        %th{width: "5%"}
        %th Name
        %th Status
        %th Previous MII Member Since
        %th Member Type
        %th Branch 
        %th Center
    %tbody
      - @members_mii.order("last_name ASC").each_with_index do |m, i|
        %tr
          %td #{i+1}
          %td
            = link_to member_path(m), target: "_blank" do
              #{m.full_name_titleize}
          %td
            #{m.status}
          %td
            #{m.previous_mii_member_since}
          %td
            #{m.member_type}
          %td 
            #{m.branch}  
          %td
            #{m.center}
- if Settings.activate_microloans  
  %section.content-header
    %h1
      KCOOP Invalid Members
  %section.content
    %table.ui.green.small.table
      %thead
        %tr
          %th{width: "5%"}
          %th Name
          %th Status
          %th Previous MFI Member Since
          %th Member Type
          %th Branch 
          %th Center
      %tbody
        - @members_mfi.order("last_name ASC").each_with_index do |m, i|
          %tr
            %td #{i+1}
            %td
              = link_to member_path(m), target: "_blank" do
                #{m.full_name_titleize}
            %td
              #{m.status}
            %td
              #{m.previous_mii_member_since}
            %td
              #{m.member_type}
            %td 
              #{m.branch}  
            %td
              #{m.center}
