%section.content-header
  %h1 #{@stat_type}  
  %small  #{@so_name}    
%section.content

  .box
    .box-body
      %table.table.table-bordered
        %thead
          %tr
            %th #
            %th Name
            %th Center
        %tbody
          - @data[:list_of_so_stats].each_with_index do |ls, i|
            %tr
              %td
                #{i + 1}
              %td
                #{ls[:member_name]}
              %td
                #{ls[:center_name]}
