%section.content-header
  %h1 
    #{@data[:loan_product]}
    %small Loan Cycle #{@loan_cycle}
%section.content
  .box
    .box-body
      %table.table.table-bordered
        %thead
          %tr
            %th #
            %th Name
            %th Amount
            %th Maturity Date
            %th Center

        %tbody
          - @data[:list_of_member_loans].each_with_index do |d, i|
            %tr
              %td 
                #{i + 1}
              %td
                #{d[:member_name]}
              %td
                #{d[:amount]}
              %td
                #{d[:maturity_date]}
              %td
                #{d[:center_name]}
  
