%section.content-header
  %h1
    Members for Reinsurance   
%section.content
  %table.table.table-sm.table-hover
    %thead
      %tr
        %th Name
        %th Member Type
        %th Date of Birth
        %th Age
        -if Settings.activate_microinsurance
          %th Branch 
        %th Center
        %th.text-right
          LIFE
        %th.text-right
          RF
    %tbody
      - @members.each do |m|
        %tr
          %td
            = link_to member_path(m), target: "_blank" do
              #{m.full_name_titleize}
          %td
            #{m.member_type}
          %td
            #{m.date_of_birth}
          %td
            #{m.age}
          -if Settings.activate_microinsurance
            %td 
              #{m.branch}  
          %td
            #{m.center}
          %td.text-right
            #{number_to_currency(m.insurance_accounts.joins(:insurance_type).where("insurance_types.code = ?", "LIF").first.balance, unit: "")}
          %td.text-right
            #{number_to_currency(m.insurance_accounts.joins(:insurance_type).where("insurance_types.code = ?", "RF").first.balance, unit: "")}
