%section.content-header
  .row
    .col-md-6
      %h1
        Missing Accounts
        %small
          Tool for generating missing accounts
    .col-md-6
      .pull-right
        %button#btn-generate-missing-accounts.ui.primary.button
          Generate Missing Accounts
%section.content
  .errors
  %h2
    Savings
  - SavingsType.all.each do |savings_type|
    .ui.items
      %h3.ui.label.green.label
        #{savings_type}
      - if Member.where.not(id: SavingsAccount.where(savings_type_id: savings_type.id).pluck(:member_id).uniq).count > 0
        %ul
          - Member.where.not(id: SavingsAccount.where(savings_type_id: savings_type.id).pluck(:member_id).uniq).each do |m|
            %li
              = link_to m.full_name, member_path(m), target: "_blank"
      - else
        %p
          No members with missing accounts found
  %h2
    Insurance
  - InsuranceType.all.each do |insurance_type|
    .ui.items
      %h3.ui.label.teal.label
        #{insurance_type}
      - if Member.where.not(id: InsuranceAccount.where(insurance_type_id: insurance_type.id).pluck(:member_id).uniq).count > 0
        %ul
          - Member.where.not(id: InsuranceAccount.where(insurance_type_id: insurance_type.id).pluck(:member_id).uniq).each do |m|
            %li
              = link_to m.full_name, member_path(m), target: "_blank"
      - else
        %p
          No members with missing accounts found
  %h2
    Equity
  - EquityType.all.each do |equity_type|
    .ui.items
      %h3.ui.label.blue.label
        #{equity_type}
      - if Member.where.not(id: EquityAccount.where(equity_type_id: equity_type.id).pluck(:member_id).uniq).count > 0
        %ul
          - Member.where.not(id: EquityAccount.where(equity_type_id: equity_type.id).pluck(:member_id).uniq).each do |m|
            %li
              = link_to m.full_name, member_path(m), target: "_blank"
      - else
        %p
          No members with missing accounts found

= render partial: "shared/loading_modal"
= javascript_include_tag "MissingAccounts"

:javascript
  $(document).ready(function() {
    MissingAccounts.init();
  });
