%section.content-header
  %h1 
    Moratorium Tool
    %small Build Version #{BUILD_VERSION}
%section.content
  = render partial: "shared/errors"
  .row
    .col-md-6
      %label
        Centers
      = select_tag :centers, options_from_collection_for_select(Center.all, :id, :to_s, nil), class: "form-control select-select2", id: "centers-select", multiple: true
    .col-md-3
      %label
        Start of Moratorium
      %input{ type: "text", class: "form-control datepick", id: "start-of-moratorium" }
    .col-md-3
      %label
        Number of Days
      %input{ type: "number", class: "form-control", id: "number-of-days" }
  %br
  .row
    .col-md-12
      %label
        Reason
      %textarea{ id: "reason", name: "reason", class: "form-control" }
  .form-actions
    %button#btn-init.ui.default.button
      .fa.fa-check
      Initialize Moratorium
    %button#btn-approve.ui.positive.button
      .fa.fa-check
      Approve

  %br
  .row
    .col-md-12
      = render partial: "current_moratorium"

= render partial: "current_moratorium_template"
#parameters{ data: { batch_moratorium_id: @batch_moratorium_id } }
= javascript_include_tag "Moratorium"
