%section.content-header
  %h1
    Old Members

%section.content
  .box
    .box-body
      %table.table.table-bordered
        %thead
          %tr
            %th Member
            %th Membership Date
        %tbody
          - @members.each do |member|
            %tr
              %td
                = link_to member_path(member) do
                  #{member.full_name}
              %td
                #{member.presentsc}
