%section.content-header
  %h1 Pending Members
%section.content
  %table.ui.green.small.table
    %thead
      %tr
        %th{width: "5%"}
        %th Name
        %th Center
    %tbody
      - @members.order("last_name ASC").each_with_index do |m, i|
        %tr
          %td #{i+1}
          %td
            = link_to member_path(m), target: "_blank" do
              #{m.full_name_titleize}
          %td
            #{m.center}
