%section.content-header
  %h1 Pure Savers
%section.content
  %table.ui.green.small.table
    %thead
      %tr
        %th{width: "5%"}
        %th Name
        %th Status
        %th Date Accepted
        - SavingsType.all.order("name DESC").each do |savings_type|
          %th.acc-curr #{savings_type}
        - InsuranceType.all.each do |insurance_type|
          %th.acc-curr #{insurance_type}
        - EquityType.all.each do |equity_type|
          %th.acc-curr #{equity_type}
        %th Center
    %tbody
      - @members.order("last_name ASC").each_with_index do |m, i|
        %tr
          %td #{i+1}
          %td
            = link_to member_path(m), target: "_blank" do
              #{m.full_name_titleize}
          %td
            #{m.status}
          %td
            #{m.date_accepted_coop}
          - SavingsType.all.order("name DESC").each do |savings_type|
            %td.curr #{number_to_currency(m.savings_accounts.where(savings_type_id: savings_type.id).first.try(:balance), unit: "")}
          - InsuranceType.all.each do |insurance_type|
            %td.curr #{number_to_currency(m.insurance_accounts.where(insurance_type_id: insurance_type.id).first.try(:balance), unit: "")}
          - EquityType.all.each do |equity_type|
            %td.curr #{number_to_currency(m.equity_accounts.where(equity_type_id: equity_type.id).first.try(:balance), unit: "")}
          %td
            #{m.center}
