%section.content
  %table.table.table-bordered.table-responsive
    %tr
      %th
        %label Select Patronage Year
        = select_tag :year_selected, options_for_select(@year.collect { |a| [a.posting_date, a.id] },selected: @year), class: "form-control select-select2", prompt: " -- SELECT YEAR --", id: 'selected_year'
    %tr
      %th
        = button_tag :submit, class: 'btn btn-success', id: "btn-action" do
          .fa.fa-check
          Generate

  .box
    .box-body
      #Patronage-section



= render partial: "transferred_patronage_refund"
=javascript_include_tag "transferred_patronage_refund"

:javascript
  $(document).ready(function(){
    TransferredPatronageRefund.init();
  
  });

