%section.content
  %table.table.table-bordered.table-responsive
    %tr
      %th
        %label ICPR Year
        = select_tag :type_of_resign, options_for_select(@year.collect {|a| [a.collection_date, a.id] },selected: @year), class: "form-control select-select2", prompt: "-- SELECT --", id: 'selected_year'
    %tr
      %th
        = button_tag :submit, class: 'btn btn-success', id: "btn-action" do
          .fa.fa-check
          Generate
  .well
    = link_to "#", class: "btn btn-app bg-green", id: 'btn-approved-record' do
      .fa.fa-check
      Approved

    = link_to "#", class: "btn btn-app bg-green", id: "btn-download-excel-cleared" do
      .fa.fa-download 
      Cleared Member

  .box
    .box-body
      #ICPR-section






= render partial: "transfer_member_interest_on_share_capital"
= javascript_include_tag "transferred_interest_on_shared_capital"

:javascript
  $(document).ready(function(){
    TransferredInterestOnSharedCapital.init();
  
  });





