%section.content-header
  %h1 
    Upload Insurance Withdrawal
%section.content
  = form_tag upload_cash_management_insurance_withdrawals_payment_collections_path, multipart: true do
    .box.box-primary
      .box-header.with-border   
        %h3.box-title Upload a CSV file for insurance withdrawal information of this system.
      .box-body
        .row
          .col-md-4
            %label
              Branch
            = select_tag :branch_id, options_for_select(@branches.collect{ |o| [o.name, o.id] }), class: "form-control select-select2", id: "branch-select"
          .col-md-4
            %label
              Date of Payment
            = text_field_tag :paid_at, @paid_at, class: "datepick form-control"
          .col-md-4
            %label
              File
            = file_field_tag :file, class: "form-control"
        %hr  
        .row
          .col-md-12
            = submit_tag "Upload Insurance Withdrawal", :class => "btn btn-primary"