%section.content-header
  %h1 
    Upload Insurance Remittances
%section.content
  = form_tag upload_insurance_payment_collections_path, multipart: true do
    .box.box-primary
      .box-header.with-border   
        %h3.box-title Upload a CSV file for insurance remittance information of this system.
      .box-body
        .row
          .col-md-4
            %label
              Branch
            = select_tag :branch_id, options_for_select(@branches.collect{ |o| [o.name, o.id] }), class: "form-control select-select2", id: "branch-select"
          .col-md-4
            %label
              Center
            = select_tag :center_id, [], class: "form-control", id: "center-select"
          .col-md-4
            %label
              Date of Payment
            = text_field_tag :paid_at, @paid_at, class: "datepick form-control"
        %hr  
        .row
          .col-md-6
            = file_field_tag :file, class: "form-control"
          .col-md-6
            = submit_tag "Upload Insurance Remittance", :class => "btn btn-primary"

= javascript_include_tag "UploadInsuranceRemittances"

:javascript
  $(document).ready(function() {
    UploadInsuranceRemittances.init();
  });
