%section.content-header
  %h1 
    Upload Loan Insurance
%section.content
  = form_tag upload_loan_insurances_path, multipart: true do
    .box.box-primary
      .box-header.with-border   
        %h3.box-title Upload a CSV file for loan insurance information of this system.
      .box-body
        .row
          .col-md-3
            %label
              Branch
            = select_tag :branch_id, options_for_select(@branches.collect{ |o| [o.name, o.id] }), class: "form-control select-select2", id: "branch-select"
          .col-md-3
            %label
              Loan Insurance Type
            = select_tag :loan_insurance_type_id, options_for_select(@loan_insurance_types.collect{ |o| [o.name, o.id] }), class: "form-control select-select2"
          .col-md-3
            %label
              Date Prepared
            = text_field_tag :date_prepared, @date_prepared, class: "datepick form-control"
          .col-md-3
            %label
              Collection Type
            = select_tag :collection_type, options_for_select(LoanInsurance::COLLECTION_TYPES), class: "select-select2 form-control"    
        %hr    
        .row
          .col-md-6
            = file_field_tag :file, class: "form-control"
          .col-md-6
            = submit_tag "Upload Loan Insurance", :class => "btn btn-primary"