%section.content-header
  %h1
    Year End Records

%section.content
  %table.table.table-bordered
    %thead
      %tr
        %th 
          ID
        %th
          Year
        %th 
          Date Closed
        %th
          Actions
    %tbody
      - @year_end_closing_records.each do |year_end_closing_record|
        %tr
          %td
            #{year_end_closing_record.id}
          %td
            #{year_end_closing_record.year}
          %td
            #{year_end_closing_record.date_closing.strftime("%B %d, %Y")}
          %td
            = link_to year_end_record_path(year_end_closing_record) do
              .fa.fa-search
              View
