%section.content-header
  %h1
    Year End Record #{@year_end_closing_record.id}
    %small
      %span.label.label-success
        Date Closed: #{@year_end_closing_record.date_closing.strftime("%B %d, %Y")}

%section.content
  %div{id: "trial-balance-section", data: { trial_balance: @year_end_closing_record.trial_balance.to_json}}
  #balance-sheet-section

#parameters{ data: { data: @year_end_closing_record.balance_sheet.to_json } }
= render partial: "trial_balance/trial_balance_template"
= render partial: "accounting/pages/templates/balance_sheet"
= javascript_include_tag "closing/Closing.TrialBalance"
= javascript_include_tag "accounting/BalanceSheet"
:javascript
  $(document).ready(function() {
    Closing.TrialBalance.init();
    BalanceSheet.init();
  });
