- if deceased_and_total_and_permanent_disability.pending?
  .ui.grey.segment
    = link_to edit_deceased_and_total_and_permanent_disability_path(deceased_and_total_and_permanent_disability), class: "btn btn-app" do
      .fa.fa-pencil
      Edit
    = link_to deceased_and_total_and_permanent_disability_path(deceased_and_total_and_permanent_disability), class: "btn btn-app bg-red", method: :Delete, data: { confirm: "Are you sure?" } do
      .fa.fa-times
      Delete
    - if role == "OM" || role == "MIS"  
      = link_to "#", class: "btn btn-app bg-green", id: "btn-approve" do
        .fa.fa-check
        Approve