.well
  .row
    .col-md-8
      = select_tag :legal_dependent_id, options_for_select(@legal_dependents.collect{ |o| [o.full_name_with_member, o.id] }), class: "select-select2", id: "legal-dependent-select"
    .col-md-4
      .pull-right
        = link_to "#", class: "btn btn-primary", id: "btn-add-legal-dependent" do
          .fa.fa-plus
          Add Legal Dependent
