%table.ui.green.table.transaction-table
  %thead
    %tr
      %th{width: "2%"}
      %th{width: "20%"} Legal Dependent
      %th Date of Deceased / TPD
      %th Classification
  %tbody
    - deceased_and_total_and_permanent_disability.deceased_and_total_and_permanent_disability_records.each_with_index do |deceased_and_total_and_permanent_disability_record, i|
      %tr
        %td #{i + 1}
        %td
          = link_to "#{deceased_and_total_and_permanent_disability_record.legal_dependent.full_name_titleize}", member_path(deceased_and_total_and_permanent_disability_record.legal_dependent.member), target: "_blank"
        %td
          #{deceased_and_total_and_permanent_disability_record.deceased_tpd_date}
        %td
          #{deceased_and_total_and_permanent_disability_record.classification}