= render partial: "add_legal_dependent_actions", locals: { deceased_and_total_and_permanent_disability: @deceased_and_total_and_permanent_disability }
= simple_form_for deceased_and_total_and_permanent_disability, defaults: { wrapper_html: { class: 'form-group' }, input_html: { class: 'form-control' } }, html: { novalidate: true } do |f|
  %table.ui.green.table.transaction-table
    %thead
      %tr
        %th{width: "25%"} Legal Dependent
        %th{width: "25%"} Deceased / TPD Date
        %th{width: "25%"} Classification
        %th Actions
    %tbody
      = f.simple_fields_for :deceased_and_total_and_permanent_disability_records do |ff|
        %tr
          %td #{link_to ff.object.legal_dependent.full_name_upcase, member_path(ff.object.legal_dependent.member), target: "_blank"}
          %td
            = ff.input :deceased_tpd_date, as: :string, input_html: { class: "form-control datepick" }, label: false
          %td
            = ff.input :classification, as: :select, :collection => DeceasedAndTotalAndPermanentDisabilityRecord::CLASSIFICATIONS, input_html: { class: 'select-select2', :style => 'width: 100%;' }, label: false  
          %td
            = link_to "#", class: "btn btn-danger btn-delete", data: { deceased_and_total_and_permanent_disability_record_id: ff.object.id } do
              .fa.fa-times   
              Delete 
  %hr
  .form-actions
    = button_tag(type: "submit", class: "btn btn-primary") do
      .fa.fa-check
      Save
    = link_to deceased_and_total_and_permanent_disability_path(@deceased_and_total_and_permanent_disability), class: "btn btn-danger" do
      .fa.fa-times
      Cancel

#parameters{data: {deceased_and_total_and_permanent_disability_id: @deceased_and_total_and_permanent_disability.id}}
= render partial: "shared/loading_modal"

= javascript_include_tag "DeceasedAndTotalAndPermanentDisabilityForm"
:javascript
  $(document).ready(function() {
    DeceasedAndTotalAndPermanentDisabilityForm.init();
  });
