.remodal.modal-generate-deceased-and-total-and-permanent-disability.selext{ data: { remodal_id: "modal" } }
  %h3
    Generate New Deceased / TPD
  .errors
  .success
  .controls
    .row
      .col-md-6
        %label
          Branch
        = select_tag :branch_id, options_for_select(@branches.collect{ |o| [o.name, o.id] }), id: "modal-branch-select", class: "select-select2 selecting-cont"
      .col-md-6
        %label
          Date Prepared
        %input{ type: "text", id: "date-prepared", class: "form-control datepick", value: Time.now.strftime("%Y-%m-%d") }     
    %hr
    %button#btn-generate-deceased-and-total-and-permanent-disability.ui.btn.btn-success
      .fa.fa-warning
      Confirm
    %button#btn-cancel-generate-deceased-and-total-and-permanent-disability.btn.btn-danger
      .fa.fa-times
      Cancel