.table-responsive.no-padding
  %table.table-bordered.table{:style => "margin-top: 10px;"}
    %thead
      %tr
        %th Date Prepared
        %th Branch
        %th Status
        %th Prepared By
    %tbody
      - deceased_and_total_and_permanent_disabilities.each do |deceased_and_total_and_permanent_disability|
        %tr{class: "#{deceased_and_total_and_permanent_disability.status == 'pending' || deceased_and_total_and_permanent_disability.status == 'reversed' ? 'negative' : 'positive'} clickable", data: { transaction_id: "#{deceased_and_total_and_permanent_disability.id}" } }
          %td.date-prepared= deceased_and_total_and_permanent_disability.date_prepared
          %td.branch= deceased_and_total_and_permanent_disability.branch
          %td.status= deceased_and_total_and_permanent_disability.status
          %td.prepared-by= deceased_and_total_and_permanent_disability.prepared_by