%section.content-header
  %h1
    Deceased / TPD Form
    %small
      #{@deceased_and_total_and_permanent_disability.date_prepared}
  %ol.breadcrumb
    %li
      #{link_to "Deceased / TPD's", deceased_and_total_and_permanent_disabilities_path}
    %li
      #{link_to "Show", deceased_and_total_and_permanent_disability_path(@deceased_and_total_and_permanent_disability)}
    %li
      Edit
%section.content
  = render partial: "form", locals: { deceased_and_total_and_permanent_disability: @deceased_and_total_and_permanent_disability }
