%section.content-header
  %h1 Deceased / Total and Permanent Disabilities
  %ol.breadcrumb
    %li{:style => "margin-top: -10px;"}
      = link_to "#", id: "btn-new-deceased-and-total-and-permanent-disability", class: 'btn btn-primary bg-blue', style: 'color: #fff;' do
        .fa.fa-plus
        New Deceased / TPD
%section.content
  .errors_template
  = render partial: "deceased_and_total_and_permanent_disabilities/filter"
  - if @deceased_and_total_and_permanent_disabilities.size > 0
    = render partial: "deceased_and_total_and_permanent_disabilities/list", locals: { deceased_and_total_and_permanent_disabilities: @deceased_and_total_and_permanent_disabilities }
    = paginate @deceased_and_total_and_permanent_disabilities
  - else
    No Deceased and TPD's found.

= render partial: "generate_deceased_and_total_and_permanent_disability_modal"
= render partial: "shared/errors_template"
= render partial: "shared/success_template"
= render partial: "shared/loading_modal"

= javascript_include_tag "DeceasedAndTotalAndPermanentDisability"
= javascript_include_tag "ui"

:javascript
  $(document).ready(function() {
    DeceasedAndTotalAndPermanentDisability.init();
  });