#parameters{ data: { deceased_and_total_and_permanent_disability_id: @deceased_and_total_and_permanent_disability.id } }

%section.content-header
  %h1
    Deceased / TPD
    %small
      #{@deceased_and_total_and_permanent_disability.date_prepared}
  %ol.breadcrumb
    %li
      #{link_to "Deceased and TPD's", deceased_and_total_and_permanent_disabilities_path}
    %li
      Show
%section.content
  - if @deceased_and_total_and_permanent_disability.reversed?
    .bs-callout.bs-callout-danger
      %h3
        .fa.fa-warning
        Warning: This transaction has been reversed.
  = render partial: "actions", locals: { deceased_and_total_and_permanent_disability: @deceased_and_total_and_permanent_disability, role: @role }
  = render partial: "shared/errors"
  = render partial: "deceased_and_total_and_permanent_disability_records", locals: { deceased_and_total_and_permanent_disability: @deceased_and_total_and_permanent_disability }
  - if @deceased_and_total_and_permanent_disability.approved? and ["MIS", "OM"].include? current_user.role
    = render partial: "danger", locals: { deceased_and_total_and_permanent_disability: @deceased_and_total_and_permanent_disability }

= render partial: "shared/errors_template"
= render partial: "shared/success_template"
= render partial: "modal_approve_confirmation"
= render partial: "modal_reverse_confirmation"

= javascript_include_tag "DeceasedAndTotalAndPermanentDisabilities"

:javascript
  $(document).ready(function() {
    DeceasedAndTotalAndPermanentDisabilities.init();
  });
