<% vouchers.each do |voucher| %>
  <%= render partial: "shared/voucher", locals: { voucher: voucher } %>
<% end %>
<%= paginate vouchers %>

<script>
$(document).ready(function() {
  $("#branch_id").bind('change', function() {
    var branchId = ($(this).val());  

    $.get("/internal/centers?branch_id=" + branchId, function(response) {
      response.forEach(function(o) {
        console.log(o); 
        $("#center_id").find('option').remove();
        $("#center_id").append('<option value="' + o.id + '">'  + o.name + '</option>');
      });
    });
  });

  $(".select-select2").select2();
});
</script>   

