:css
  .table{
    margin-left: 5%; 
    font-size:x-small;
    width: 95%;
  }

  .table-bordered{
    
  }


  .th{
    padding: 50% 0% 50% 0%;
  }

  .td{
    border: 1px solid black;
  }
  
  .fsize{
    font-size: 90%;
  }

  .fotsize{
    font-size: x-small;
  }

  .page{
    position: fixed;
    bottom: 0;
    left: 5%;
    page-break-before:always;
    
  }
  .first.page {
    page-break-before:avoid;
  }

  .title{
    counter-reset:page;
  }

%table{:style => "font-size: x-small; margin-left: 5%; width: 95%"}
  %thead
    %tr
      %td{:colspan => 4}
        %table{:style => "font-wight: bold"}
          %tr
            
            %td
              #{Settings.company}
          %tr
            %td
              #{Settings.company_address}
          %tr
            %td
              VAT Registration Tin Number:#{Settings.tin_number}
          %tr
            %td
              - if @book == "JVB"
                General Journal Book
              - if @book == "CDB"
                Cash Disbursements Book
              - if @book == "CRB"
                Cash Receipts Book
          %tr
            %td
              Period :  #{(@data[:start_date].to_date).strftime("%m/%d/%y")} - #{(@data[:end_date].to_date).strftime("%m/%d/%y")}
          %tr
            %td{:colspan => 4, :style => "padding-bottom:3%"}
               
    %tr
      - @vouchers.each do |v|
        %thead{:border => 1}
          %th{:style => "padding-left: 1%; width: 10%;border:1px black solid"}
            DATE
          %th{:style => "padding-left: 1% ; width: 50%;border:1px black solid"}
            ACCOUNTING TITLE
          %th{:style => "padding-left: 1%; width: 15%;border:1px black solid"}
            DEBIT (PHP)
          %th{:style => "padding-left: 1%; width: 15%;border:1px black solid"}
            CREDIT (PHP)
        - i = 0
        - v.journal_entries.each do |debit|
          - if debit.post_type == "DR" && debit.amount > 0
            - i = i + 1
            %tr
              %td{:style => "padding-left: 1%;border:1px black solid"}
                - if i == 1
                  - if v.date_posted == nil
                  - else
                    #{v.date_posted.strftime('%m/%d/%Y')}
              %td{:style => "padding-left: 1%;border:1px black solid"}
                #{debit.accounting_code.name}
              %td.acc-curr{:style => "padding-right: 1%;border:1px black solid"}
                #{number_to_currency(debit.amount, unit: "")}
              %td{:style => "padding-right: 1%;border:1px black solid"}

        - v.journal_entries.each do |credit|
          - if credit.post_type == "CR" && credit.amount > 0
            %tr
              %td{:style => "padding-right: 1%;border:1px black solid"}
                
              %td{:style => "padding-left:5%;border:1px black solid"}
                #{credit.accounting_code.name}
              %td{:style => "padding-right: 1%;border:1px black solid"}

              %td.acc-curr{:style => "padding-right:1%;border:1px black solid"}
                #{number_to_currency(credit.amount, unit: "")}
        %tr
          %td{:colspan => 4, :style => "padding-left:1%;border:1px black solid"}
            PARTICULAR : #{v.particular}
        %tr
          %td{:colspan => 4, :style => "padding-bottom:2%"}
