<center><h1>Print of Books</h1><h3><%= @book %></h3></center>

<% @vouchers.each do |v| %>
  <div class="panel panel-default panel-break" style="margin-top: 2%;">
    <div class="panel-heading">
      Reference Number: <%= v.reference_number %>
      <div class="pull-right">
      <%= v.date_prepared.strftime("%B %d, %Y") %> | Approved by: <%= v.approved_by %>
      </div>
    </div>
    <div class="panel-body">
      <table class="ui very basic table">
        <thead>
          <th>Accounting Code</th>
          <th>Debit</th>
          <th>Credit</th>
        </thead>
        <tbody>
          <% v.journal_entries.each do |journal_entry| %>
            <% if journal_entry.post_type == "DR" and journal_entry.amount > 0 %>
              <tr>
                <td><%= journal_entry.accounting_code %></td>
                <td><%= number_to_currency(journal_entry.amount, unit: "P") %></td>
                <td></td>
              </tr>
            <% end %>
          <% end %>
          <% v.journal_entries.each do |journal_entry| %>
            <% if journal_entry.post_type == "CR" and journal_entry.amount > 0 %>
              <tr>
                <td><%= journal_entry.accounting_code %></td>
                <td></td>
                <td><%= number_to_currency(journal_entry.amount, unit: "P") %></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
     <center> Particular: <%= v.particular %> </center>
  </div>
<% end %>