%section.content-header
  %h1
    #{book_full_name(params[:book_type])}
    %small
      Book


  %ol.breadcrumb
    %li
      = link_to book_pdf_path(params[:book_type]), target: "_blank" do
        .fa.fa-download
        Download as PDF
    %li
      = link_to book_excel_path(params[:book_type]), target: "_blank" do
        .fa.fa-download
        Download as Excel
    %li
      = link_to book_csv_path(params[:book_type]), target: "_blank" do
        .fa.fa-download
        Download as CSV
    %li 
      = link_to vouchers_path do
        .fa.fa-folder
        Accounting Entries
%section.content
  = form_tag book_path(params[:book_type]), method: :get, html: { novalidate: true }, defaults: { input_html: { class: 'form-control' } } do |f|
    %table.table.table-bordered.table-responsive
      %tr
        %th
          %label Search
          = text_field_tag :q, @q, class: "form-control", placeholder: "Search"
        %th
          %label Branch
          = select_tag :branch_id, options_from_collection_for_select(@branches, :id, :name, @branch_id), class: "form-control", id: "branch-select", prompt: "-- SELECT --"
        - if Settings.activate_microinsurance
          %th
            %label Accounting Fund
            = select_tag :accounting_fund_id, options_from_collection_for_select(@accounting_funds, :id, :name), class: "form-control", prompt: "-- SELECT --"
        %th
          %label Start Date
          = text_field_tag :start_date, @start_date, class: "datepick form-control", placeholder: "Start Date"
        %th
          %label End Date
          = text_field_tag :end_date, @end_date, class: "datepick form-control", placeholder: "End Date"
        %th
          %label Actions
          %br
          = button_tag :submit, class: "btn btn-primary" do
            .fa.fa-search
            Filter
          = link_to "#", class: "btn btn-default", id: "btn-download-excel" do
            .fa.fa-download
            Download
          = link_to "#", class: "btn btn-default", id: "btn-download-pdf" do
            .fa.fa-download
            Download PDF
  = render partial: "books/vouchers", locals: { vouchers: @vouchers }

#parameters{ data: { book: "#{params[:book_type]}" } }
:javascript
  $(document).ready(function() {
    var $btnDownloadExcel = $("#btn-download-excel");
    var book  = $("#parameters").data("book");
    $btnDownloadExcel.on("click", function() {
      var data = {
        start_date: $("#start_date").val(),
        end_date: $("#end_date").val(),
        accounting_fund_id: $("#accounting_fund_id").val()
      };

      window.location.href = "/books/" + book + "/excel?" + encodeQueryData(data);
    });

    var $btnDownloadPdf = $("#btn-download-pdf");
    var book  = $("#parameters").data("book");
    $btnDownloadPdf.on("click", function() {
      var data = {
        start_date: $("#start_date").val(),
        end_date: $("#end_date").val(),
        accounting_fund_id: $("#accounting_fund_id").val()
      };

      window.location.href = "/books/" + book + "/pdf?" + encodeQueryData(data);
    });
  });
