- if loan_insurance.pending?
  .ui.grey.segment
    = link_to edit_loan_insurance_path(loan_insurance), class: "btn btn-app" do
      .fa.fa-pencil
      Edit
    = link_to "#", class: "btn btn-app bg-green", id: "btn-approve" do
      .fa.fa-check
      Approve
    = link_to loan_insurance_path(loan_insurance), class: "btn btn-app bg-red", method: :Delete, data: { confirm: "Are you sure?" } do
      .fa.fa-times
      Delete
  / Common links
  / = link_to "#", class: "btn btn-app", id: "btn-print-excel" do
  /   .fa.fa-print
  /   Download Excel
  / = link_to "#", class: "btn btn-app", id: "btn-print-pdf" do
  /   .fa.fa-print
  /   Print PDF
