#filter
  .ui.segment
    = form_tag loan_insurances_path, html: { novalidate: true }, method: "GET", defaults: { wrapper_html: { class: 'form-group' }, input_html: { class: 'form-control simple_form' } } do
      %table.table.table-bordered.table-responsive
        %tr
          %th
            %label Loan Insurance Type
            = select_tag :loan_insurance_type_id, options_from_collection_for_select(@loan_insurance_types, :id, :name, @loan_insurance_type.try(:id)), class: "form-control select-select2", prompt: "-- SELECT --"
          %th
            %label Collection Type
            = select_tag :collection_type, options_for_select(LoanInsurance::COLLECTION_TYPES, @collection_type), class: "form-control select-select2", prompt: "-- SELECT --"
          %th
            %label Status
            = select_tag :status, options_for_select(LoanInsurance::STATUSES, @status), class: "form-control select-select2", prompt: "-- SELECT --"
          %th
            %label Branch 
            = select_tag :branch_id, options_from_collection_for_select(@branches, :id, :name, @branch.try(:id)), class: "form-control select-select2", id: "branch-select", prompt: "-- SELECT --"
          %th
            %label Actions
            %br
            .ui.small.buttons
              = button_tag :submit, class: 'btn btn-primary' do
                .fa.fa-search
                Search