= render partial: "add_member_actions", locals: { loan_insurance: @loan_insurance }
= simple_form_for loan_insurance, defaults: { wrapper_html: { class: 'form-group' }, input_html: { class: 'form-control' } }, html: { novalidate: true } do |f|
  = f.input :or_number, as: :string
  %table.ui.green.table.transaction-table
    %thead
      %tr
        %th{width: "10%"} Member
        %th{width: "23%"} Loan Category
        %th{width: "11%"} Date Released
        %th{width: "11%"} Maturity Date
        %th{width: "8%"} Loan Term
        %th{width: "10%"} Loan Amount
        %th{width: "25%"} Loan Insurance Amount
        %th Actions
    %tbody
      = f.simple_fields_for :loan_insurance_records do |ff|
        %tr
          %td #{link_to ff.object.member.full_name, member_path(ff.object.member), target: "_blank"}
          %td
            = ff.input :loan_category, as: :select, :collection => LoanInsuranceRecord::LOAN_CATEGORIES, input_html: { class: 'select-select2', :style => 'width: 100%;' }, label: false
          %td
            = ff.input :date_released, as: :string, input_html: { class: "form-control datepick" }, label: false
          %td
            = ff.input :maturity_date, as: :string, input_html: { class: "form-control datepick" }, label: false  
          %td
            = ff.input :loan_term, input_html: { class: "form-control" }, as: :string, label: false
          %td
            = ff.input :loan_amount, input_html: { class: "form-control loan-amount" }, as: :string, label: false
          %td
            = ff.input :loan_insurance_amount, input_html: { class: "form-control loan-insurance-amount" }, as: :string, label: false       
          %td
            = link_to "#", class: "btn btn-danger btn-delete", data: { loan_insurance_record_id: ff.object.id } do
              .fa.fa-times
              Delete
      %thead
        %tr
          %th{width: "20%"} Total:
          %th
          %th
          %th
          %th
          %th
            %input{type: "text", class: "form-control numeric loan-total", disabled: true, value: 0.00}
          %th
            %input{type: "text", class: "form-control numeric loan-insurance-total", disabled: true, value: 0.00}
          %th
  = f.input :total_amount, input_html: { class: "hidden total-amount" }, as: :string,label: false
  = f.input :total_loan_amount, input_html: { class: "hidden total-loan-amount" }, as: :string,label: false
  = f.input :particular
  %hr
  .form-actions
    = button_tag(type: "submit", class: "btn btn-primary") do
      .fa.fa-check
      Save
    = link_to loan_insurance_path(@loan_insurance), class: "btn btn-danger" do
      .fa.fa-times
      Cancel

#parameters{data: {loan_insurance_id: @loan_insurance.id}}
= render partial: "shared/loading_modal"

= javascript_include_tag "LoanInsuranceForm"
:javascript
  $(document).ready(function() {
    LoanInsuranceForm.init();
  });
