.remodal.modal-generate-loan-insurance.selext{ data: { remodal_id: "modal" } }
  %h3
    Generate New Loan Insurance Transaction
  .errors
  .success
  .controls
    .row
      .col-md-4
        %label
          Branch
        = select_tag :branch_id, options_for_select(@branches.collect{ |o| [o.name, o.id] }), id: "modal-branch-select", class: "select-select2 selecting-cont"
      .col-md-4
        %label
          Date Prepared
        %input{ type: "text", id: "date-of-payment", class: "form-control datepick", value: Time.now.strftime("%Y-%m-%d") }
      .col-md-4
        %label
          Loan Insurance Type
        = select_tag :loan_insurance_type_id, options_for_select(@loan_insurance_types.collect{ |o| [o.name, o.id] }), id: "modal-loan-insurance-type-select", class: "select-select2 selecting-cont"
    %hr
    .row
      .col-md-4
      .col-md-4
        %label
          Collection Type
        = select_tag :collection_type, options_for_select(LoanInsurance::COLLECTION_TYPES), id: "modal-collection-type-select", class: "select-select2 selecting-cont"
    %hr
    %button#btn-generate-loan-insurance.ui.btn.btn-success
      .fa.fa-warning
      Confirm
    %button#btn-cancel-generate-loan-insurance.btn.btn-danger
      .fa.fa-times
      Cancel