%table.ui.green.table.transaction-table
  %thead
    %tr
      %th{width: "2%"}
      %th{width: "20%"} Member
      %th Loan Category
      %th Date Released
      %th Maturity Date
      %th Loan Term
      %th Loan Amount
      %th Loan Insurance Amount
  %tbody
    - loan_insurance.loan_insurance_records.each_with_index do |loan_insurance_record, i|
      %tr
        %td #{i + 1}
        %td
          = link_to "#{loan_insurance_record.member.full_name}", member_path(loan_insurance_record.member), target: "_blank"
        %td
          #{loan_insurance_record.loan_category}
        %td
          #{loan_insurance_record.date_released}
        %td
          #{loan_insurance_record.maturity_date}
        %td
          #{loan_insurance_record.loan_term}
        %td
          #{number_to_currency(loan_insurance_record.loan_amount, unit: "")}  
        %td
          #{number_to_currency(loan_insurance_record.loan_insurance_amount, unit: "")}
  %thead
    %tr
      %th{width: "5%"} Total
      %th
      %th
      %th
      %th
      %th
      %th
        #{number_to_currency(loan_insurance.total_loan_amount, unit: "P")}
      %th
        #{number_to_currency(loan_insurance.total_amount, unit: "P")}

