.table-responsive.no-padding
  %table.table-bordered.table{:style => "margin-top: 10px;"}
    %thead
      %tr
        %th Reference Number
        %th Date Prepared
        %th Loan Insurance Type
        %th Total Amount
        %th Branch
        %th Status
    %tbody
      - loan_insurances.each do |loan_insurance|
        %tr{class: "#{loan_insurance.status == 'pending' ? 'negative' : 'positive'} clickable", data: { transaction_id: "#{loan_insurance.id}" } }
          %td.reference-number= loan_insurance.reference_number 
          %td.date-prepared= loan_insurance.date_prepared
          %td.loan-insurance-type= loan_insurance.loan_insurance_type
          %td.total-amount= number_to_currency(loan_insurance.total_amount, unit: "P")
          %td.branch= loan_insurance.branch
          %td.status= loan_insurance.status