%section.content-header
  %h1
    Loan Insurance Form
    %small
      #{@loan_insurance.date_prepared}
  %ol.breadcrumb
    %li
      #{link_to "Loan Insurances", loan_insurances_path}
    %li
      #{link_to "Show", loan_insurance_path(@loan_insurance)}
    %li
      Edit
%section.content
  = render partial: "form", locals: { loan_insurance: @loan_insurance }
