%section.content-header
  %h1 Loan Insurances
  %ol.breadcrumb
    %li{:style => "margin-top: -10px;"}
      = link_to "#", id: "btn-new-loan-insurance", class: 'btn btn-primary bg-blue', style: 'color: #fff;' do
        .fa.fa-plus
        New Loan Insurance
%section.content
  .errors_template
  = render partial: "loan_insurances/filter"
  - if @loan_insurances.size > 0
    = render partial: "loan_insurances/list", locals: { loan_insurances: @loan_insurances }
    = paginate @loan_insurances
  - else
    No loan insurances found.

= render partial: "generate_loan_insurance_modal"
= render partial: "shared/errors_template"
= render partial: "shared/success_template"
= render partial: "shared/loading_modal"

= javascript_include_tag "LoanInsurance"
= javascript_include_tag "ui"
/ = javascript_include_tag "loan_insurances"

:javascript
  $(document).ready(function() {
    LoanInsurance.init();
  });