#parameters{ data: { loan_insurance_id: @loan_insurance.id } }

%section.content-header
  %h1
    Loan Insurance
    %small
      #{@loan_insurance.date_prepared}
  %ol.breadcrumb
    %li
      #{link_to "Loan Insurances", loan_insurances_path}
    %li
      Show
%section.content
  - if @loan_insurance.reversed?
    .bs-callout.bs-callout-danger
      %h3
        .fa.fa-warning
        Warning: This transaction has been reversed.
  = render partial: "actions", locals: { loan_insurance: @loan_insurance }
  = render partial: "shared/errors"
  %h2 
    OR Number
    %small
      #{@loan_insurance.or_number}
  = render partial: "insurance_records", locals: { loan_insurance: @loan_insurance }
  = render partial: "shared/voucher", locals: { voucher: @voucher }
  - if @loan_insurance.approved? and ["MIS", "SBK"].include? current_user.role
    = render partial: "danger", locals: { loan_insurance: @loan_insurance }

= render partial: "shared/errors_template"
= render partial: "shared/success_template"
= render partial: "modal_approve_confirmation"
= render partial: "modal_reverse_confirmation"

= javascript_include_tag "LoanInsurances"

:javascript
  $(document).ready(function() {
    LoanInsurances.init();
  });
