.box
  .box-header
  .box-content
    = link_to clip_claims_path, class: 'btn btn-app' do
      %i.fa.fa-arrow-left
      Back
      = link_to edit_member_clip_claim_path(@clip_claim.member, @clip_claim), class: 'btn btn-app' do
        %i.fa.fa-edit
        Edit
      = link_to clip_claim_clip_claim_validation_pdf_path(@clip_claim), target: "_blank", class: "btn btn-app" do
        .fa.fa-download
        Validation PDF
      = link_to clip_claim_clip_claim_loa_pdf_path(@clip_claim), target: "_blank", class: "btn btn-app" do
        .fa.fa-print
        CAPS-R LOA
      = link_to clip_claim_path(@clip_claim), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-app bg-red" do
        %i.fa.fa-times
        Delete
