.row
  .col-md-12
    .nav-tabs-custom
      %ul.nav.nav-tabs
        %li.active
          = link_to "Clip Claim Details", "#clip_claim_details", "data-toggle" => "tab"
      .tab-content.tab-content-inner
        #clip_claim_details.tab-pane.active
          .tabBox
            = render partial: "clip_claims/details", locals: { clip_claim: @clip_claim }