%h1
  Clip Claim Record
  %small.label.label-primary
    %b
      Member: 
    #{link_to @clip_claim.member.full_name, member_path(@clip_claim.member), target: "_blank", style: "color: #fff"}
  %small.label.label-primary  
    %b
      Date Prepared: 
    #{link_to @clip_claim.date_prepared, "#", target: "_blank", style: "color: #fff"}