.table-responsive.no-padding
  %table.table-bordered.table{:style => "margin-top: 10px;"}
    %thead
      %tr
        %th Member
        %th Creditors Name
        %th Type of Loan
        %th Branch
        %th Date Prepared
    %tbody
      - clip_claims.each do |clip_claim|
        %tr{class: "clickable", data: { clip_claim_id: "#{clip_claim.id}" } } 
          %td.member
            = link_to clip_claim.member.full_name.titlecase, member_path(clip_claim.member), target: "_blank"
          %td.branch= clip_claim.creditors_name
          %td.branch= clip_claim.type_of_loan
          %td.branch= clip_claim.member.branch.name
          %td.date_prepared= clip_claim.date_prepared.strftime("%b %d %Y")