:css
  .print-text {
    font-size: 1.2em;
    font-family: calibri;
  }

  .print-text-book {
    font-size: 1.4em;
    font-family: calibri;
  }

  .print-text-sub {
    font-size: .9em;
    font-family: calibri;
  }

  .signatories{
    width: 100%;
  }

  .body1{
    width: 100%;
  }
 
  .body2{
    width: 100%;
  }

  hr {
    border-color: black;
  }


%span.print-text
  %center
    %p
      %b
        Kasagana-Ka Mutual Benefit Association
      %br
        #{Settings.company_address}
  %left
    %p
      CLAIMS VALIDATION:
      %u
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CLIP&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      %br
      %br
      %b
        FOR:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      KASAGANA-KA Mutual Benefit Association, Inc.
      %br
      %b
        FROM:&nbsp;&nbsp;&nbsp;
      #{@clip_claim.prepared_by.upcase}
      %br
      %b
        DATE:&nbsp;&nbsp;&nbsp;&nbsp;
      #{Time.now.strftime("%Y-%m-%d %H:%M:%S")}
      %hr
    .body1
      %p
        %b
          For the following details&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Submitted Documents
      %br
      %table{:border => "0"}
        %tr
          %td{:width => "21%"}
            Creditor:
          %td{:width => "25%"}
            %b
              %u
                #{@clip_claim.creditors_name}
          %td{:width => "28%"}
            [] CLIP Claims Form
        %tr
          %td{:width => "21%"}
            Field Office:
          %td{:width => "25%"}
            %b
              %u  
                #{@clip_claim.branch}
          %td{:width => "28%"}
            [] CLIP Application Form  
        %tr
          %td{:width => "21%"}
            Debtor's Name:
          %td{:width => "25%"}
            %b
              %u  
                #{@member.full_name.upcase}
          %td{:width => "28%"}
            [] Loan Ledger
        %tr
          %td{:width => "21%"}
            CLIP Policy Number:
          %td{:width => "25%"}
            %b
              %u  
                #{@clip_claim.policy_number}
          %td{:width => "28%"}
            [] ID of Beneficiary
        %tr
          %td{:width => "21%"}
            Effective Date of Coverage:
          %td{:width => "25%"}
            %b
              %u  
                #{@clip_claim.effective_date_of_coverage}
          %td{:width => "28%"}
            [] Others ___________________
        %tr
          %td{:width => "21%"}
            Expiration Date of Coverage
          %td{:width => "25%"}
            %b
              %u  
                #{@clip_claim.expiration_date_of_coverage}
          %td{:width => "28%"}
        %tr
          %td{:width => "21%"}
            Type of Loan
          %td{:width => "25%"}
            %b
              %u  
                #{@clip_claim.type_of_loan}
          %td{:width => "28%"}
        %tr
          %td{:width => "21%"}
            Amount of Loan
          %td{:width => "25%"}
            %b
              %u  
                #{number_with_delimiter(number_with_precision(@clip_claim.amount_of_loan, precision: 2), delimiter: ",", separator: ".")}
        %tr
          %td{:width => "21%"}
            Terms of Loan
          %td{:width => "25%"}
            %b
              %u  
                #{@clip_claim.terms} Weeks
          %td{:width => "28%"}
        %tr
          %td{:width => "21%"}
            Date of Birth
          %td{:width => "25%"}
            %b
              %u  
                #{@clip_claim.date_of_birth}
          %td{:width => "28%"}
        %tr
          %td{:width => "21%"}
            Date of Death
          %td{:width => "25%"}
            %b
              %u  
                #{@clip_claim.date_of_death}
          %td{:width => "28%"}
        %tr
          %td{:width => "21%"}
            Cause of Death
          %td{:width => "25%"}
            %b
              %u  
                #{@clip_claim.cause_of_death}
          %td{:width => "28%"}
        %tr
          %td{:width => "21%"}
          %td{:width => "25%"}
          %td{:width => "28%"}
            %br
        %tr
          %td{:width => "21%"}
            Name of Beneficiary
          %td{:width => "25%"}
            %b
              %u  
                #{@clip_claim.beneficiary}
          %td{:width => "28%"}
      %br

    .body2  
      %p
        %b
          %br
      %table{:border => "0"}  
        %tr
          %td{:width => "22%"}
            Amount of balance payable to:
          %td{:width => "27%"}
            %b
              %u  
                #{@clip_claim.creditors_name}
          %td{:width => "21%", :align => "right"}
            %b
              %u  
                #{number_with_delimiter(number_with_precision(@clip_claim.amount_payable_to_creditor, precision: 2), delimiter: ",", separator: ".")} PhP
        %tr
          %td{:width => "22%"}
            Check payee to:
          - if @clip_claim.creditors_name == "KCOOP"  
            %td{:colspan => "2", :width => "58%"}
              %font{:size => "2"}  
                %b
                  %u 
                    KABUHAYAN SA GANAP NA KASARINLAN CREDIT AND SAVINGS COOPERATIVE        
          - elsif @clip_claim.creditors_name == "JVOMFI"  
            %td{:colspan => "2", :width => "58%"}
              %b
                %u  
                  JVOMFI
          - elsif @clip_claim.creditors_name == "CAPS-R"  
            %td{:colspan => "2", :width => "58%"}
              %b
                %u  
                  CAPS-R
        %tr
          %td{:width => "22%"}
            Payment to be returned to:
          %td{:width => "27%"}
            %b
              %u  
                #{@clip_claim.beneficiary}
          %td{:width => "21%", :align => "right"}
            %b
              %u  
                #{number_with_delimiter(number_with_precision(@clip_claim.amount_payable_to_beneficiary, precision: 2), delimiter: ",", separator: ".")} PhP
        %tr
          %td{:width => "22%"}
            Total amount of loan:
          %td{:width => "27%"}
          %td{:width => "21%", :align => "right"}
            %b
              %u  
                #{number_with_delimiter(number_with_precision(@clip_claim.amount_of_loan, precision: 2), delimiter: ",", separator: ".")} PhP 
  %br
  %br
  %br
  .signatories
    %table{:border => "0"}
      %tr
        %td{:width => "15%"}
          Validated by:
          %br
          %br
          %u
            #{@clip_claim.prepared_by.upcase}
          %br
          Account Officer
        %td{:width => "25%"}
          Approved by:
          %br
          %br
          %u
            Silvida Reyes - Antiquera / Evangeline Pe
          %br
            KMBA GM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;KMBA-OM
        %td{:width => "15%"}
          Released by:
          %br
          %br
          %br
            %u