:css
  .print-text {
    font-size: 1.1em;
    font-family: arial;
  }

  .print-text-book {
    font-size: 1.4em;
    font-family: arial;
  }

  .print-text-sub {
    font-size: .8em;
    font-family: arial;
  }

  .signatories{
    width: 100%;
  }

  #kmba{
    padding: -5px 5px 5px 5px;
    width: 20%;
  }

  .body1{
    width: 100%;
    padding: 0px 0px 0px 45px;
  }
 
  .body2{
    width: 100%;
  }


%span.print-text
  %left
    = image_tag("kmba.ico", :alt => "kmba img", id: "kmba")
  %br
    #{Time.now.strftime("%B %d, %Y")}
  %left
    %p
      %b
        CEBU ARCHDIOCESAN PROGRAM FOR SELF RELIANCE INC.-CAPS-R
      %br
        %b
          Cebu Caritas Building, P. Gomez St., Cebu City, Philippines
    %p
      Attention:
      %br
      .body1
        Re:    
        %table{:border => "0"}
          %tr
            %td{:width => "21%"}
              Name of Member:
            %td{:width => "25%"}
              %u
                #{@clip_claim.member.check_name}
          %tr
            %td{:width => "21%"}
              Name of Loss Assured:
            %td{:width => "25%"}
              %u  
                #{@clip_claim.member.check_name}
          %tr
            %td{:width => "21%"}
              Recognition Date:
            %td{:width => "25%"}
              %u  
                #{@member.previous_mii_member_since.strftime("%B %d, %Y")}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          %tr
            %td{:width => "21%"}
              Maturity Date:
            %td{:width => "25%"}
              %u  
                #{@clip_claim.expiration_date_of_coverage.strftime("%B %d, %Y")}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          %tr
            %td{:width => "21%"}
              Loan Amount:
            %td{:width => "25%"}
              %u  
                &#8369;&nbsp;#{number_with_delimiter(number_with_precision(@clip_claim.amount_of_loan, precision: 2), delimiter: ",", separator: ".")}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  
          %tr
            %td{:width => "21%"}
              Cause of Death:
            %td{:width => "25%"}
              %u  
                #{@clip_claim.cause_of_death}
          %tr
            %td{:width => "21%"}
              Date of Death:
            %td{:width => "25%"}
              %u  
                #{@clip_claim.date_of_death}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          %tr
            %td{:width => "21%"}
              Face Amount:
            %td{:width => "25%"}
              %u  
                &#8369;&nbsp;#{number_with_delimiter(number_with_precision(@clip_claim.amount_of_loan, precision: 2), delimiter: ",", separator: ".", unit: "")}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          %tr
            %td{:width => "21%"}
              Loan Balance/Pay'l to MFI:
            %td{:width => "25%"}
              %u  
                &#8369;&nbsp;#{number_with_delimiter(number_with_precision(@clip_claim.amount_payable_to_creditor, precision: 2), delimiter: ",", separator: ".", unit: "")}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          %tr
            %td{:width => "21%"}
              Amount Payable:
            %td{:width => "25%"}
              %u  
                &#8369;&nbsp;#{number_with_delimiter(number_with_precision(@clip_claim.amount_payable_to_beneficiary, precision: 2), delimiter: ",", separator: ".", unit: "")}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          %tr
            %td{:width => "21%"}
              Beneficiary:
            %td{:width => "25%"}
              %u  
                #{@clip_claim.beneficiary}    
    %br
    .body2  
      %p
        Dear Sir/Madam:
        %br
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;This will serve as your authority to proceed the realease of the above clip_claims in favor of
          %b
            %u
              #{@clip_claim.beneficiary}
          &nbsp;member/beneficiary for the death/MVAH of
          %u
            %b
              #{@clip_claim.member.check_name}
          &nbsp;loss assured from CAPS-R
          %u
            %b
              #{@member.branch}
          &nbsp;branch with the amount of
          %u
            %b
              ***#{@clip_claim.amount_payable_to_beneficiary.to_f.to_words.titleize} Only***&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#8369;(#{number_with_delimiter(number_with_precision(@clip_claim.amount_payable_to_beneficiary, precision: 2), delimiter: ",", separator: ".", unit: "")})
        %br
          Thank you for your cooperation in this regard.
  %br
  .signatories
    %table{:border => "0"}
      %tr
        %td{:width => "25%"}
          Sincerely Yours:
          %br
          %br
          %u
            #{@clip_claim.prepared_by.upcase}
          %br
          Account Officer
        %td{:width => "25%"}
          Check and Approved by:
          %br
          %br
          %u
            Silvida Reyes - Antiquera / Evangeline Pe
          %br
            KMBA GM&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;KMBA-OM