%section.content-header
  %h1 Clip Claims Register
  %ol.breadcrumb
    %li{:style => "margin-top: -10px;"}
      = link_to "#", id: 'newClipClaimApplicationBtn', style: "color: #fff;", class: 'btn btn-primary bg-blue normal', data: { toggle: 'modal', target: '#memberSelectModal' } do
        .fa.fa-plus
        New Clip Claims
%section.content
  = render partial: "clip_claims/filter"
  - if @clip_claims.size > 0
    = render partial: "clip_claims/list", locals: { clip_claims: @clip_claims }
    = paginate @clip_claims
  - else
    No clip claims found.

%div#parameters{ data: { ref_nums: @ref_nums } }
= render partial: "member_select_modal"

= javascript_include_tag "ui"
= javascript_include_tag "clip_claims"
