.container-fluid
  .row
    .col-md-12
      .panel.panel-default
        .panel-heading
          Individual Loan Payments
          .listHeaderActions
            = link_to accounting_dashboard_path, class: "btn btn-xs btn-default" do
              %span.glyphicon.glyphicon-arrow-left
              Back to Accounting
        .panel-body
          = form_tag accounting_loan_payments_path, html: { novalidate: true }, method: "GET", defaults: { wrapper_html: { class: 'form-group' }, input_html: { class: 'form-control' } } do
            %table.table
              %thead
                %tr
                  %th{width: "10%"} Date
                  %th Member
                  %th{width: "15%"} Loan Product
                  %th Amount
                  %th{width: "10%"} Status
                  %th{width: "20%"} Actions
                %tr
                  %td
                  %td= text_field_tag :name, @name, class: "form-control", placeholder: "Input member name"
                  %td= select_tag :loan_product, options_for_select(LoanProduct.all, @loan_product), class: "form-control select-select2", prompt: "-- SELECT --"
                  %td
                  %td= select_tag :status, options_for_select(LoanPayment::STATUSES, @status), class: "form-control select-select2", prompt: "-- SELECT --"
                  %td= submit_tag "Filter", class: "btn btn-info btn-block"
              %tbody
                - @loan_payments.each do |loan_payment|
                  %tr
                    %td= loan_payment.paid_at.strftime("%d-%b-%Y")
                    %td= link_to loan_payment.loan.member, member_path(loan_payment.loan.member), target: "_blank"
                    %td= loan_payment.loan.loan_product
                    %td= number_to_currency(loan_payment.amount, unit: "P")
                    %td= loan_payment.status
                    %td
                      = link_to loan_loan_payment_path(loan_payment.loan, loan_payment), class: "btn btn-xs btn-default" do
                        %span.glyphicon.glyphicon-search
                        Details
                      - if loan_payment.is_part_of_collection?
                        = link_to collection_payment_path(loan_payment.collection_payment), class: "btn btn-xs btn-default" do
                          %span.glyphicon.glyphicon-arrow-up
                          Collection
                      - if loan_payment.status == "pending"
                        = link_to edit_loan_loan_payment_path(loan_payment.loan, loan_payment), class: "btn btn-xs btn-default" do
                          %span.glyphicon.glyphicon-pencil
                          Edit

            = paginate(@loan_payments)
