#generate-record-modal.modal.fade{role: "dialog", "aria-hidden" => "true"}
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", "aria-hidden" => "true"}
        %h4 Generate Record
      .modal-body
        .row
          .col-md-12
            .message
            %center
              %label Branch
              = select_tag :branch_id, options_from_collection_for_select(@branches, :id, :name, @branch.try(:id)), class: "form-control select-select2 branch-select", style: "width: 100%;"
      .modal-footer
        .actions
          %button#start.btn.btn-success
            .fa.fa-check
            Generate
          %button.btn.btn-danger{"data-dismiss" => "modal"}
            .fa.fa-times
            Close
