%table.table.table-bordered.table-responsive
  %thead
    %tr
      %th As Of
      %th Branch
      %th Num Members
      %th Actions
  %tbody
    - records.each do |record|
      %tr
        %td #{record.as_of.strftime("%B %d, %Y")} #{record.generated_time}
        %td #{record.branch}
        %td #{record.data['num_members']}
        %td
          = link_to monitoring_daily_report_insurance_account_status_path(record.id) do
            .fa.fa-search
            Display
