- report.data['centers'].each do |center_data|
  %h3
    .label.label-info
      #{center_data['center']}
  %table.table.table-insurance-status.table-bordered.table-responsive
    %thead
      %tr
        %th{:style => "width:250px"} Member
        %th.stats{:style => "width:50px"} Recognition Date
        %th.stats{:style => "width:50px"} Status
        %th.stats{:style => "width:50px"} Length of Membership
        %th.stats{:style => "width:50px"} Cert.
        - InsuranceType.all.each do |insurance_type|
          %th.acc-curr{:style => "width:50px"} #{insurance_type.code} Balance
          %th.stats{:style => "width:70px"} Coverage Date
          %th.stats{:style => "width:50px"} # Wks
          %th.acc-curr{:style => "width:70px"} Amt Past Due
          %th.stats{:style => "width:50px"} Status
      - center_data['members'].each do |member_data|
        %tr
          %td{:style => "width:250px"} #{member_data['last_name']}, #{member_data['first_name']} #{member_data['middle_name']}
          %td.stats{:style => "width:50px"} #{member_data['recognition_date']}
          %td.stats{:style => "width:50px"} #{member_data['status']}
          %td.stats{:style => "width:50px"} #{member_data['length_of_membership']}
          %td.stats{:style => "width:50px"} #{member_data['identification_number']}
          - member_data['accounts'].each do |account_data|
            %td.curr{:style => "width:50px"} #{number_to_currency(account_data['current_balance'], unit: "")}
            %td.stats{:style => "width:70px"} #{account_data['coverage_date']}
            %td.stats{:style => "width:50px"} #{account_data['num_weeks_past_due']}
            %td.curr{:style => "width:70px"} #{number_to_currency(account_data['amt_past_due'], unit: "")}
            %td.stats{:style => "width:50px"}
              - if account_data['status'] == "past due"
                %label.label.label-danger
                  Past Due
              - elsif account_data['status'] == "advanced"
                %label.label.label-success
                  Advanced
              - elsif account_data['status'] == "lapsed"
                %label.label.label-danger
                  Lapsed    
              - else
                %label.label.label-info
                  Normal
