%section.content-header
  %h1
    Insurance Account Status
    %small
      Daily Reports
  %ol.breadcrumb
    %li{:style => "margin-top: -10px;"}
      = link_to "#", id: "btn-generate-record", class: 'btn btn-primary bg-blue', style: 'color: #fff;' do
        .fa.fa-plus
        Generate Record

%section.content
  .box
    .box-body
      - if @records.size > 0
        = render partial: "list", locals: { records: @records }
      - else
        No Records Found

= render partial: "generate_record_modal"
= javascript_include_tag "reports/Reports.DailyReportInsuranceAccountStatuses"
:javascript
  $(document).ready(function() {
    Reports.DailyReportInsuranceAccountStatuses.init();
  });
