%section.content-header
  %h1
    Insurance Account Status
    %small
      As Of: #{@report.as_of.strftime("%B %d, %Y")} #{@report.generated_time}
  %ol.breadcrumb
    %li
      = link_to monitoring_daily_report_insurance_account_status_download_excel_path(@report.id), target: "_blank" do
        .fa.fa-download
        Download as Excel
    %li
      = link_to monitoring_daily_report_insurance_account_statuses_path, id: "btn-generate-record" do
        .fa.fa-arrow-left
        Back    

%section.content
  .box
    .box-body
      = render partial: "report", locals: { report: @report }
