#filter
  = form_tag member_certificates_path, html: { novalidate: true }, method: "GET", defaults: { wrapper_html: { class: 'form-group' }, input_html: { class: 'form-control simple_form' } } do
    %table.table.table-bordered.table-responsive
      %tr
        %th
          %label Cert Number
          = text_field_tag :q, @q, placeholder: "Cert Number", class: "form-control"
        %th
          %label Date of Issue
          .row
            .col-md-6
              = text_field_tag :start_date_of_issue, @start_date_of_issue, class: "datepick form-control", placeholder: "Start Date"
            .col-md-6
              = text_field_tag :end_date_of_issue, @end_date_of_issue, class: "datepick form-control", placeholder: "End Date"
        %th
          %label Date Printed
          .row
            .col-md-6
              = text_field_tag :start_date_printed, @start_date_printed, class: "datepick form-control", placeholder: "Start Date"
            .col-md-6
              = text_field_tag :end_date_printed, @end_date_printed, class: "datepick form-control", placeholder: "End Date"
        %th
          %label Actions
          %br
          = button_tag :submit, class: 'btn btn-primary' do
            .fa.fa-search
          &nbsp
          = link_to certificates_printed_pdf_path start_date_of_issue: @start_date_of_issue , end_date_of_issue: @end_date_of_issue , start_date_printed: @start_date_printed , end_date_printed: @end_date_printed , target: "_blank" do
            .fa.fa-print
            Print to PDF

