#filter
  = form_tag "#", html: { novalidate: true }, method: "GET", defaults: { wrapper_html: { class: 'form-group' }, input_html: { class: 'form-control simple_form' } } do
    .box.box-primary
      .box-body      
        .row
          .col-md-6
            %label Branch
            = select_tag :branch_id, options_for_select(@branches.collect{ |o| [o.name, o.id] }), class: "form-control select-select2", id: "branch-select"
          .col-md-6
            %label Actions
            %br
            = button_tag :submit, class: 'btn btn-primary' do
              .fa.fa-search
              Search Member for Printing Certificates
