= simple_form_for [@member, @member_certificate], defaults: { wrapper_html: { class: 'form-group' }, input_html: { class: 'form-control form-submit-loading' } }, html: { multipart: true, novalidate: true } do |f|
  = f.input :date_issue
  = f.input :certificate_number, input_html: { id: "certificate-number", class: "form-control datepick", value: "KMBA-#{@member.identification_number}"}
  .form-actions
    = button_tag :submit, :class => "btn btn-primary" do
      .fa.fa-check
      Save Record
    = link_to member_path(@member), class: "btn btn-default" do
      .fa.fa-times
      Cancel
