%table.table.table-bordered
  %thead
    %tr
      %th
      %th Certificate No.
      %th Member
      %th Date Issue
      %th Date Printed
      %th
  %tbody
    - member_certificates.each_with_index do |member_certificate, index|
      - @counter = @counter + 1
      %tr.clickable{ data: { id: member_certificate.id, member_id: member_certificate.member.id } }
        %td
          #{@counter}
        %td
          #{member_certificate}
        %td
          = link_to member_path(member_certificate.member) do
            #{member_certificate.member.full_name_titleize}
        %td
          -if member_certificate.date_issue.present?
            #{member_certificate.date_issue.strftime("%m-%d-%Y")}
        %td
          -if member_certificate.date_printed.present?
            #{member_certificate.date_printed.strftime("%m-%d-%Y")}
        %td
          - if member_certificate.is_printed
            %label.label.label-success
              Printed
          - else
            %label.label.label-danger
              Not Printed
