%table{:style => "font-size:x-small; width: 95%"}
  %thead
    %tr
      %td{:colspan => 4}
        %table{:style => "font-wight: bold"}
          %tr
            %td
              #{Settings.company}
          %tr
            %td
              #{Settings.company_address}
          %tr
            %td
              VAT Registration Tin Number:#{Settings.tin_number}
          %tr
            %td
              CERTIFICATE SUMMARY
          %tr
            %td
              #{Branch.first.name}
          %tr
            %td 
              -if @start_date_printed != nil && @end_date_printed != nil
                Date Printed Period :  #{(@start_date_printed.to_date).strftime("%m/%d/%y")} - #{(@end_date_printed.to_date).strftime("%m/%d/%y")}

%table.table.table-bordered{:style => "border:1px black solid;font-size: x-small;margin-bottom: 2%;margin-top: 2%"}

  %thead
    %tr
      %th{:style => "width: 3%"}
      %th{:style => "width: 25%"} Name
      %th{:style => "width: 20%"} Center
      %th{:style => "width: 15%"} Certificate No.
      %th{:style => "width: 10%"} Date of Membership
      %th{:style => "width: 10%"} Date Printed
      %th{:style => "width: 15%"} RECIEVED BY:
  %tbody

  

    - @member_certificated.each_with_index do |member_certificate, index|
      - @counter = index + 1
      %tr
        %td
          #{@counter}
        %td
          #{member_certificate.member.full_name_titleize}
        %td
          #{member_certificate.member.center.name}
        %td
          #{member_certificate}
        %td
          #{member_certificate.date_of_issue.strftime("%m-%d-%Y")}
        %td
          #{member_certificate.date_printed.strftime("%m-%d-%Y")}
        %td

%table{:style => "font-size: x-small;margin-bottom:2%;margin-top:3%;width:100%"}
  %tr
    %td{:style => "padding-left:1%;width:25%;height:40px"}Prepared By:
    %td{:align => 'center', :style => "padding-left: 1%; width: 25%;padding-top:5%"} 
    %td{:style => "padding-left:1%;width:25%;height:40px"} Checked By:
    %td{:align => 'center', :style => "padding-left: 1%; width: 25%;padding-top:5%"}
  %tr
    %td{:style => "padding-left:1%;width:25%;height:40px"}Operations Assistant
    %td{:align => 'center', :style => "padding-left: 1%; width: 25%;padding-top:5%"}
    
    %td{:style => "padding-left:1%;width:25%;height:40px"} Accounting Officer
    %td{:align => 'center', :style => "padding-left: 1%; width: 100%;padding-top:5%"}


