%section.content-header
  %h1
    Certificates for Printing

%section.content
  = render partial: "filter_for_printing"
  .box
    .box-body
      - if !@members_for_printing.nil?
        %table.table.table-bordered
          %thead
            %tr
              %th{ width: "5%" }
              %th Member
              %th Status
              %th Date of Membership
          %tbody 
            - @members_for_printing.where(status: 'active').each_with_index do |member, i|
              %tr
                %td
                  #{i + 1}
                %td
                  = link_to member_path(member), target: '_blank' do
                    #{member.full_name}
                %td
                  #{member.status}
                %td
                  #{member.previous_mii_member_since}
      - else
        %p{:style => "margin-top: 10px;"}
          No records found.     
