%section.content-header
  %h1
    Member Certificates

%section.content
  = render partial: "filter"
  .box
    .box-body
      - if @member_certificates.count > 0
        = render partial: "list", locals: { member_certificates: @member_certificates }
        = paginate @member_certificates
      - else
        No records found

= javascript_include_tag "member_certificates/Index"

:javascript
  $(document).ready(function() {
    Index.init();
  });
