%section.content-header
  %h1
    Member Certificates Form
    %small New Certificate
  %ol.breadcrumb
    %li
      = link_to member_path(@member), class: '' do
        .fa.fa-arrow-left
        #{@member.full_name}
%section.content
  = render partial: "form", locals: { member: @member, member_certificate: @member_certificate }
