:css
  .member-details {
    margin: 116px 0px 0px 250px;
    padding: 0px 0px 0px 30px;
  }

  .member-name {
    margin-top: 50px;
    max-width: 900px;
    font-size: 2.1em;
  }

  .member-recognition-month {
    margin-left: 105px;
  }

  .member-recognition-year {
    margin-left: 105px;
  }

  .member-certificate {
    font-family: "Times New Roman", Times, serif;
  }

  .center-branch{
    margin-top: 37px;
  }

  .certificate-number{
     margin-left: 380px;
     margin-top: 378px;
  }

.member-certificate
  .certificate-number
    %p
      %b
        #{@member_certificate.certificate_number}
  .member-name
    %center
      %p
        %b
          #{@member.full_name_middle_initial_without_period}
  .center-branch  
    %center  
      %label 
        #{@member.center}&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;#{@member.branch.name.upcase}
  .member-details
    %br{:style => "line-height:0px;"}
    %br{:style => "line-height:0px;"}
    %br{:style => "line-height:0px;"}
    %br{:style => "line-height:0px;"}
    %label
      #{@member_certificate.date_issue.strftime("%d")}
    %label.member-recognition-month
      #{@member_certificate.date_issue.strftime("%B")}
    %label.member-recognition-year
      #{@member_certificate.date_issue.strftime("%y")}
