%section.content-header
  %h1
    Member Certificate Record
    %small #{@member.full_name}
  %ol.breadcrumb
    %li
      = link_to member_path(@member), class: '' do
        .fa.fa-arrow-left
        #{@member.full_name}

%section.content
  .box
    .box-header
    .box-content
      = link_to member_member_certificate_excel_path(@member, @member_certificate), class: 'btn btn-app btn-default' do
        .fa.fa-download
        Download
      = link_to member_member_certificate_pdf_path(@member, @member_certificate), class: 'btn btn-app btn-default', target: '_blank' do
        .fa.fa-download 
        PDF
      = link_to edit_member_member_certificate_path(@member, @member_certificate), class: 'btn btn-app btn-default' do
        .fa.fa-pencil
        Edit
      = link_to member_path(@member), class: 'btn btn-app btn-default' do
        .fa.fa-arrow-left
        Back
      = link_to member_certificates_path, class: 'btn btn-app btn-default' do
        .fa.fa-arrow-left
        Back to List

  %table.ui.green.table
    %tr
      %th{width: "20%"} Date of Issue
      %td #{@member_certificate.date_issue}
    %tr
      %th Certificate Number:
      %td #{@member_certificate.certificate_number}
    %tr
      %th Number of Certificates:
      %td #{@member_certificate.number_of_certificates}
    %tr
      %th Date Printed
      %td
        - if @member_certificate.is_printed
          #{@member_certificate.date_printed.strftime("%B %d, %Y")}
        - else
          = button_tag :flag_for_printing, id: 'btn-flag-for-printing', class: "btn btn-primary" do
            .fa.fa-printer
            Flag for Printing

  - if ["MIS", "BK", "SBK"].include? current_user.role
    .bs-callout.bs-callout-danger
      %h4
        Danger Zone
      = link_to member_member_certificate_path(@member, @member_certificate), method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure?' } do
        .fa.fa-times
        Delete

#parameters{ data: { id: @member_certificate.id, member_id: @member.id } }
= javascript_include_tag "member_certificates/Show"

:javascript
  $(document).ready(function() {
    Show.init();
  });
