.box
  .box-header
  .box-content
    = link_to loans_path, class: 'btn btn-app' do
      %i.fa.fa-arrow-left
      Back
    - if !@loan.writeoff?
      = link_to edit_member_loan_path(@loan.member, @loan), class: 'btn btn-app' do
        %i.fa.fa-edit
        Edit
      = link_to print_check_path(@loan), class: 'btn btn-app', target: '_blank' do
        %i.fa.fa-print
        Check
      = link_to loan_print_amortization_path(@loan), class: 'btn btn-app', target: '_blank', id: 'print-amortization-btn' do
        %i.fa.fa-print
        Amortization
    - if @loan.status == 'pending'
      %span{style: "display: #{['MIS', 'OAS'].include?(current_user.role) ? 'inline' : 'none'};"}
        = link_to "#", class: 'btn btn-app', data: { toggle: 'modal', target: '#basicModal' } do
          %i.fa.fa-calendar
          Amortize
      - if !@loan.first_date_of_payment.nil? and current_user.has_role(["BK", "SBK", "MIS"])
        = button_tag :approve_btn, id: 'approve-btn', class: 'btn btn-app bg-green' do
          %i.fa.fa-check
          Approve

    = link_to print_check_voucher_path(@loan), class: 'btn btn-app', target: '_blank' do
      .fa.fa-print
      Check Voucher
    = link_to loan_payment_breakdowns_path(loan_id: @loan), class: 'btn btn-app', target: '_blank' do
      .fa.fa-money 
      Payment Breakdown

    - if @loan.paid? or @loan.active?
      = link_to loan_ledger_path(@loan.id), class: 'btn btn-app', target: '_blank' do
        .fa.fa-print
        Loan Ledger
      = link_to loan_loan_ledger_pdf_path(@loan.id), target: "_blank", class: "btn btn-app" do
        .fa.fa-download
        Ledger PDF
    - if @loan.active?
      = link_to "#", class: 'btn btn-app btn-success bg-blue', id: 'pay-btn' do
        .fa.fa-money
        Make Payment
      = link_to "#", class: 'btn btn-app btn-danger bg-red', id: 'reamortize-btn' do
        .fa.fa-refresh
        Reamortize
    - if @loan.status == 'active' and @loan.no_payment_yet? and ["SBK", "MIS"].include?(current_user.role)
      = button_tag :reverse_btn, id: "reverse-btn", class: "btn btn-app bg-red" do
        %i.fa.fa-times
        Reverse


      - if @loan.active?
        = link_to "#", id: "btn-writeoff", class: "btn btn-app bg-red" do
          %i.fa.fa-times
          Write-off!
    - if @loan.status == "pending"
      = link_to loan_path(@loan), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-app bg-red" do
        %i.fa.fa-times
        Delete
