<%= render partial: "amortization_summary", locals: { loan: loan } %>
<table class="table table-bordered table-responsive tableforamortizationscheduleofloan">
  <thead>
    <tr>
      <th>#</th>
      <% if current_user.role == "MIS" %>
        <th>ID</th>
        <th>IS VOID</th>
      <% end %>
      <th>Due Date</th>
      <th class="acc-curr">Principal</th>
      <th class="acc-curr">Interest</th>
      <th class="acc-curr">Total</th>
      <th class="acc-curr">Paid Principal</th>
      <th class="acc-curr">Paid Interest</th>
      <th class="acc-curr">Balance</th>
      <th>Paid?</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% loan.ammortization_schedule_entries.where(is_void: nil).order(:due_at).each_with_index do |ase, i| %>
      <tr class="<%= ase.paid ? 'approved' : 'rejected' %>">
        <td class="no"><%= i + 1 %></td>
        <% if current_user.role == "MIS" %>
          <td><%= ase.id %></td>
          <td><%= ase.is_void %></td>
        <% end %>
        <td class="date"><%= ase.due_at.strftime("%B-%d-%Y") if !ase.due_at.nil? %></td>
        <td class="principal curr"><%= number_to_currency(ase.principal, unit: "") %></td>
        <td class="interest curr"><%= number_to_currency(ase.interest, unit: "") %></td>
        <td class="total curr"><%= number_to_currency(ase.amount, unit: "") %></td>
        <td class="curr"><%= number_to_currency(ase.paid_principal, unit: "") %></td>
        <td class="curr"><%= number_to_currency(ase.paid_interest, unit: "") %></td>
        <td class="balance curr"><%= number_to_currency(ase.remaining_balance, unit: "") %></td>
        <td>
          <%= ase.paid ? "Yes" : "No" %>
        </td>
        <td>
          <% if !loan.writeoff? %>
            <% if !ase.paid %>
              <% if ["MIS", "SBK"].include? current_user.role  %>
                <%= link_to new_ammortization_schedule_entry_loan_moratorium_path(ase), class: "btn btn-xs btn-danger" do %>
                  <span class="glyphicon glyphicon-minus"></span> Delay
                <% end %>
              <%end%>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>

</table>
