.row
  .col-md-3
    .panel.panel-info
      .panel-heading
        Paid Principal
      .panel-body.panel-currency-summary
        = number_to_currency(loan.paid_principal, unit: "P")
  .col-md-3
    .panel.panel-info
      .panel-heading
        Paid Interest
      .panel-body.panel-currency-summary
        = number_to_currency(loan.paid_interest, unit: "P")
  .col-md-3
    .panel.panel-info
      .panel-heading
        Principal Balance
      .panel-body.panel-currency-summary
        = number_to_currency(loan.principal_balance, unit: "P")
  .col-md-3
    .panel.panel-info
      .panel-heading
        Interest Balance
      .panel-body.panel-currency-summary
        = number_to_currency(loan.interest_balance, unit: "P")
