<table class="table table-bordered table-responsive">
  <thead>
    <tr class="tr_label">
      <th>#</th>
      <th>Paid At</th>
      <th>Amount</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% loan.pending_loan_payments.each_with_index do |lp, i| %>
      <tr>
        <td><%= i + 1 %>
        <td><%= lp.paid_at %></td>
        <td><%= lp.amount %></td>
        <td><%= link_to "Approve", loan_loan_payment_approve_path(lp.loan, lp), data: { confirm: "Are you sure?" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

