<script id="batch-table-tbody-template" type="x-tmpl-mustache">
{{#loans}}
  <tr>
    <td><a href="/members/{{member.id}}">{{member}}</a></td>
    <td>{{status}}</td>
    <td>{{type}}</td>
    <td>P{{amount}}</td>
    <td>P{{balance}}</td>
    <td>
      <a href="/loans/{{id}}">Details</a>
    </td>
  </tr>
{{/loans}}
</script>
