#batchModal.modal.fade{role: "dialog", "aria-labelledby" => "batchModal", "aria-hidden" => "true"}
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", "aria-hidden" => "true"}
        %h4 Batch Loans Modal
      .modal-body
        .ui.grey.segment
          .ui.grid.form
            .eight.wide.column
              %label Number
              = text_field_tag :batch_transaction_number, "", placeholder: "Batch Transaction Number", class: "form-control", id: "batch-transaction-reference-number"
            .four.wide.column
              %label Branch
              = select_tag :branch_id, options_from_collection_for_select(@branches, :id, :name, @branch.try(:id)), class: "form-control select-select2 batch-branch-select", style: "width: 100%;"
            .two.wide.column
              %label Actions
              .ui.buttons
                = button_tag :batch_search_button, id: "batch-search-btn", class: "ui positive button" do
                  .fa.fa-search
                  Search
                .or
                = button_tag :batch_print_button, id: "batch-print-btn", class: "ui default button" do
                  .fa.fa-print
                  Print
        %table#batch-table.ui.green.table
          %thead
            %tr
              %th Member
              %th Status
              %th Type
              %th Amount
              %th Balance
              %th Actions
          %tbody
      .modal-footer
        .actions
          %button.ui.button{"data-dismiss" => "modal"}
            Close

= render partial: "batch_table_tbody_template"
