.row
  .col-md-12
    .nav-tabs-custom
      %ul.nav.nav-tabs.nav-justified
        %li.active
          = link_to "Loan Details", "#loan_details", "data-toggle" => "tab"
        %li
          = link_to "Amortization Schedule", "#amortization_schedule", "data-toggle" => "tab"
        %li
          = link_to "Payments", "#payment_history", "data-toggle" => "tab"
        %li
          = link_to "Moratorium Entries", "#moratorium_entries", "data-toggle" => "tab"
        %li
          = link_to "Payment Map", "#payment-map", "data-toggle" => "tab"
      .tab-content.tab-content-inner
        #loan_details.tab-pane.active
          .tabBox
            = render partial: "loans/details", locals: { loan: @loan, voucher: @voucher }
        #amortization_schedule.tab-pane
          .tabBox
            = render partial: "loans/ammortization_schedule", locals: { loan: @loan }
        #payment_history.tab-pane
          .tabBox
            = render partial: "loans/payment_history", locals: { loan: @loan }
        #moratorium_entries.tab-pane
          .tabBox
            = render partial: "loans/moratorium_entries", locals: { loan: @loan }
        #payment-map.tab-pane
          .tabBox
            = render partial: "loans/payment_map", locals: { records: LoanPaymentAmortizationScheduleEntry.where(loan_payment_id: Loans::LoanOperation.loan_payments(@loan).pluck(:id)) }
