= render partial: "loan_summary", locals: { loan: @loan }
.row
  .col-md-6
    %h4
      %span.glyphicon.glyphicon-th-list
      Details
    %table.table.table-bordered.table-responsive.table-condensed
      %tbody
        %tr
          %th Member Name
          %td 
            = link_to "#{@loan.member} (#{@loan.member.identification_number})", member_path(@loan.member), target: "_blank"
        %tr
          %th PN Number
          %td
            = @loan.pn_number
        - if !@loan.date_released.blank?
          %tr
            %th Date Released
            %td
              = @loan.date_released.strftime("%B %d, %Y")
          - if @loan.maturity_date.present?
            %tr
              %th Maturity Date
              %td
                = @loan.maturity_date.strftime("%B %d, %Y")
        %tr
          %th Amount Released
          %td
            = number_to_currency(Loans::ComputeAmountReleased.new(loan: @loan).execute!, unit: "P")
        %tr
          %th Branch
          %td 
            = @loan.branch
        %tr
          %th Center
          %td 
            = @loan.center
        %tr
          %th Maintaining Balance
          %td 
            = number_to_currency(@loan.maintaining_balance_val, unit: "P")
        - if @loan.clip_number.present?
          %tr
            %th Clip Number
            %td 
              = @loan.clip_number
        %tr
          %th Loan Product
          %td 
            = @loan.loan_product
        %tr
          %th Annual Interest
          %td
            - if @loan.override_installment_interval
              #{@loan.override_interest_rate} %
            - else
              #{@loan.interest_rate} %
        %tr
          %th Cycle Count
          %td 
            = @loan.loan_cycle_count
        %tr
          %th Loan Product Type
          %td
            = @loan.loan_product_type
        %tr
          %th Number of Installments
          %td
            = @loan.num_installments
        %tr
          %th Term
          %td
            = @loan.term
        %tr
          %th Payment Type
          %td
            = @loan.payment_type
        %tr
          %th First Date of Payment
          %td
            = @loan.first_date_of_payment
        %tr
          %th Project Type
          %td
            = @loan.project_type.name if !@loan.project_type.nil?
  .col-md-6.voucher_info
    %h4
      %span.glyphicon.glyphicon-book
      Voucher Information
    %table.ui.teal.definition.table
      %tbody
        %tr
          %th Bank
          %td #{@loan.bank}
        %tr
          %th Date of Check
          %td
            = @loan.voucher_date_requested
        %tr
          %th Check Number
          %td
            = @loan.bank_check_number
        %tr
          %th Batch Reference No.
          %td
            = @loan.batch_transaction_reference_number
        %tr
          %th Check Voucher Number
          %td
            = @loan.voucher_check_number
        %tr
          %th Accounting Entry Reference
          %td
            = @loan.voucher_reference_number
        %tr
          %th Voucher Payee
          %td
            = @loan.member.full_name
        %tr
          %th Voucher Particular
          %td
            = @loan.voucher_particular
        %tr
          %th Beneficiary
          %td
            = @loan.beneficiary
        - if @loan.co_maker_two.present?
          %tr
            %th Co Maker One
            %td
              = @loan.co_maker_two
        - if @loan.co_maker_one.present?
          %tr
            %th Co Maker Two
            %td
              = @loan.co_maker_one      
    %h4
      %span.fa.fa-warning
      Overrides
    %table.ui.teal.definition.table
      %tbody
        %tr
          %td Service Fee
          %td= @loan.override_processing_fee
        %tr
          %td Override Maintaining Balance
          %td= @loan.override_maintaining_balance
        %tr
          %td Insurance as Disbursement (Correction)
          %td= @loan.insurance_as_disbursement_correction
/ VOUCHER
.row
  .col-md-12
    - if !voucher.nil?
      = render partial: "shared/voucher", locals: { voucher: voucher }
