#filter
  = form_tag loans_path, html: { novalidate: true }, method: "GET", defaults: { wrapper_html: { class: 'form-group' }, input_html: { class: 'form-control simple_form' } } do
    %table.table.table-bordered.table-responsive
      %tr
        %th
          %label Identification
          = text_field_tag :q, @q, placeholder: "PN/Member Name", class: "form-control"
        %th
          %label Loan Product
          = select_tag :loan_product_id, options_from_collection_for_select(@loan_products, :id, :name, @loan_product.try(:id)), class: "form-control select-select2", prompt: "-- SELECT --"
        %th
          %label Status
          = select_tag :status, options_for_select(["active", "pending"], @status), class: "form-control select-select2", prompt: "-- SELECT --"
        %th
          %label Member Type
          = select_tag :member_type, options_for_select(Member::MEMBER_TYPES, @member_type), class: "form-control select-select2", prompt: "-- SELECT --"
        %th
          %label Branch 
          = select_tag :branch_id, options_from_collection_for_select(@branches, :id, :name, @branch.try(:id)), class: "form-control select-select2", id: "branch-select", prompt: "-- SELECT --"
        %th
          %label Center
          = select_tag :center_id, options_from_collection_for_select([], :id, :name, @center.try(:id)), prompt: "-- SELECT --", class: "form-control select-select2", id: "center-select"
        %th
          %label Actions
          %br
          = button_tag :submit, class: 'btn btn-primary' do
            .fa.fa-search
          = link_to "#", class: 'btn btn-default', data: { toggle: "modal", target: "#batchModal" } do
            .fa.fa-file
            Batch
