- if @loan.pending?
  #basicModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "basicModal", :role => "dialog", :tabindex => "-1"}
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} Amortization
          %h4#myModalLabel.modal-title First Date of Payment
        .modal-body
          .row
            .col-md-12
              %p Please select first date of payment
              = simple_form_for([@loan.member, @loan], defaults: { wrapper_html: { class: 'form-group' }, input_html: { class: 'form-control' }, html: { multipart: true } }) do |f|
                = f.input :first_date_of_payment, input_html: { class: "form-control" }, label: false, default: next_day_of_center_meeting(@loan.center)
                = f.submit "Amortize", class: "btn btn-primary"
        .modal-footer
          %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
