%h1
  Loan Record
  %small.label.label-primary
    %b
      Member: 
    #{link_to @loan.member.full_name, member_path(@loan.member), target: "_blank", style: "color: #fff"}
  %small.label.label-info
    %b
      Status: 
    #{@loan.status}

  - if ["active", "paid"].include? @loan.status
    %small.label.label-success
      - if !@loan.date_approved.blank?
        %b
          Date Approved: 
        #{@loan.date_approved.strftime("%B %d, %Y")}
    %small.label.label-info
      - if !@loan.date_released.blank?
        %b
          Date Released: 
        #{@loan.date_released.strftime("%B %d, %Y")}
- if @loan.writeoff?
  %ol.breadcrumb
    %li
      .label.label-danger
        Warning! This loan has been written off
