.table-responsive.no-padding
  %table.table-bordered.table{:style => "margin-top: 10px;"}
    %thead
      %tr
        %th Date Approved
        %th Member
        %th PN Number
        %th Maturity Date
        %th Center 
        %th Cycle
        %th Type
        %th # Inst.
        %th.accounting-curr Amount
        %th.accounting-curr Balance
    %tbody
      - loans.each do |loan|
        - if !loan.writeoff?
          %tr{class: "#{loan.status == 'pending' ? 'negative' : 'positive'} clickable", data: { loan_id: "#{loan.id}" } } 
            %td
              - if ["active", "paid"].include? loan.status
                - if loan.date_approved.present?
                  #{loan.date_approved.strftime("%B %d, %Y")}
            %td.member
              = link_to loan.member.full_name.titlecase, member_path(loan.member), target: "_blank"
            %td.pn_no= loan.pn_number
            %td
              - if !loan.maturity_date.nil?
                #{loan.maturity_date.strftime("%b %d, %Y")}
            %td.center= loan.member.center.name
            %td.cycle= loan.loan_cycle_count
            %td.type= loan.loan_product.code
            %td.num-installments= loan.num_installments
            %td.amount.curr= number_to_currency(loan.temp_total_amount_due, unit: "P")
            %td.balance.curr
              - if loan.pending?
                Pending
              - elsif loan.paid?
                Already Paid 
              - else
                = number_to_currency(loan.remaining_balance, unit: "P")
