.row
  .col-md-3
    .panel.panel-info
      .panel-heading
        Loan Amount(Principal)
      .panel-body.panel-currency-summary
        = number_to_currency(loan.amount, unit: "P")
  .col-md-2
    .panel.panel-info
      .panel-heading
        Interest
      .panel-body.panel-currency-summary
        /= number_to_currency(loan.interest_balance, unit: "P")
        =  number_to_currency(loan.temp_total_amount_due - loan.amount, unit: "P")
  .col-md-2
    .panel.panel-info
      .panel-heading
        Amount Due
      .panel-body.panel-currency-summary
        = number_to_currency(loan.temp_total_amount_due, unit: "P")
  .col-md-2
    .panel.panel-success
      .panel-heading
        Amount Paid
      .panel-body.panel-currency-summary
        = number_to_currency(loan.amount_paid, unit: "P")
  .col-md-3
    .panel.panel-danger
      .panel-heading
        Remaining Balance
      .panel-body.panel-currency-summary
        - if loan.pending?
          Pending
        - else
          = number_to_currency(loan.remaining_balance, unit: "P")
