#memberSelectModal.modal.fade{role: "dialog", "aria-labelledby" => "memberSelectModal", "aria-hidden" => "true"}
  = form_tag send("new_loan_application_path"), method: :post do |f|
    .modal-dialog.modal-lg
      .modal-content
        .modal-header
          %button.close{"data-dismiss" => "modal", "aria-hidden" => "true"}
          %h4 Select Member
        .modal-body
          %p
            .bs-callout.bs-callout-info
              Please select a member to apply for new loan application
          .ui.three.column.grid
            .column
              %label
                Branch
              %br
              = select_tag :branch_id, options_from_collection_for_select(@branches, :id, :to_s, @branch.try(:id)), class: "select-select2", prompt: "-- SELECT BRANCH --", id: "modal-branch-select" 
            .column
              %label
                Center
              %br
              = select_tag :center_id, options_from_collection_for_select([], :id, :to_s, nil), class: "select-select2", prompt: "-- SELECT CENTER --", id: "modal-center-select"
            .column
              %label
                Loan Product
              %br
              = select_tag :loan_product_id, options_from_collection_for_select(LoanProduct.all, :id, :to_s, @loan_product.try(:id)), class: "select-select2"
          .ui.one.column.grid
            .column
              %label
                Member
              %br
              = select_tag :member_id, options_from_collection_for_select([], :id, :to_s, @member.try(:id)), class: "select-select2", id: "modal-member-select", prompt: "-- SELECT MEMBER --"
        .modal-footer
          .actions
            = submit_tag "New Record", class: "btn btn-primary"
            %button.btn.btn-default{"data-dismiss" => "modal"}
              Close
