%table.table.table-bordered.table-responsive.tableformoratoriumofloanshow
  %thead
    %tr
      %th Previous Due Date
      %th New Due Date
      %th Reason
    - loan.moratorium_entries.reverse.each do |loan_moratorium|
      %tr
        %td.date= loan_moratorium.previous_due_at
        %td.newdate= loan_moratorium.new_due_at
        %td.reason= loan_moratorium.reason
