%table.table.table-responsive.table-bordered
  %thead
    %tr
      - if current_user.role == "MIS"
        %th Ammort ID
      %th Amortization Schedule
      %th.acc-curr Principal
      %th.acc-curr Interest
      - if current_user.role == "MIS"
        %th Payment ID
      %th.acc-curr Loan Payment (P)
      %th.acc-curr Loan Payment (I)
      %th Payment Date
  %tbody
    - records.joins(:ammortization_schedule_entry).order("ammortization_schedule_entries.due_at ASC").each do |record|
      - if record.ammortization_schedule_entry.is_void != true
        %tr
          - if current_user.role == "MIS"
            %td #{record.ammortization_schedule_entry.id}
          %td #{record.ammortization_schedule_entry.due_at.strftime("%B %d, %Y")}
          %td.curr
            #{number_to_currency(record.ammortization_schedule_entry.principal, unit: "")}
          %td.curr
            #{number_to_currency(record.ammortization_schedule_entry.interest, unit: "")}
          - if current_user.role == "MIS"
            %td #{record.loan_payment.id}
          %td.curr
            #{number_to_currency(record.loan_payment.paid_principal, unit: "")}
          %td.curr
            #{number_to_currency(record.loan_payment.paid_interest, unit: "")}
          %td
            #{record.loan_payment.paid_at.strftime("%B %d, %Y")}
