<%= render partial: "amortization_summary", locals: { loan: loan } %>
<div class="row">
  <div class="col-md-12">
    <table class="table table-bordered table-responsive tableforpaymentsofloanshow">
      <thead>
        <tr>
          <% if current_user.role == "MIS" %>
            <th>ID</th>
            <th>IS VOID</th>
          <% end %>
          <th>#</th>
          <th>Paid At</th>
          <th>Paid Principal</th>
          <th>Paid Interest</th>
          <th>Total Amount</th>
          <th>Running Balance</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <% running_balance  = loan.temp_total_amount_due %>
        <% Loans::LoanOperation.approved_loan_payments(loan).each_with_index do |lp, i| %>
          <% if lp.paid_principal + lp.paid_interest > 0.00 and (lp.approved? or lp.reversed?)  %>
            <tr class="<%= lp.pending? ? 'pending' : '' %>">
              <% if current_user.role == "MIS" %>
                <td><%= lp.id %></td>
                <td><%= lp.is_void %></td>
              <% end %>
              <td class="no"><%= i + 1 %>
              <td class="paid_at"><%= lp.paid_at.strftime("%B-%d-%Y") %></td>
              <td class="paid_principal curr"><%= number_to_currency(lp.paid_principal, unit: "") %></td>
              <td class="paid_interest curr"><%= number_to_currency(lp.paid_interest, unit: "") %></td>
              <td class="curr"><%= number_to_currency(lp.paid_principal + lp.paid_interest, unit: "") %></td>
              <td>
                <% running_balance -= (lp.paid_principal + lp.paid_interest) %>
                <%= number_to_currency(running_balance, unit: "P") %>
              </td>
              <td><%= lp.status %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<% if @loan.negative_loan_payments.size > 0 %>
  <div class="row">
    <div class="col-md-12">
      <h4>
        Negative Payments
      </h4>
      <table class="table table-bordered table-responsive">
        <thead>
          <tr>
            <th>Transaction Date</th>
            <th class="accounting-curr">Amount</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @loan.negative_loan_payments.order("transacted_at ASC").each do |t| %>
            <tr>
              <td><%= t.transacted_at.strftime("%B %d, %Y") %></td>
              <td class="curr">
                -(<%= number_to_currency(t.amount, unit: "") %>)
              </td>
              <td>
                <% if t.pending? %>
                  <span class="label label-danger">
                    Pending
                  </span>
                <% end %>
                <% if t.approved? %>
                  <span class="label label-success">
                    Approved
                  </span>
                <% end %>
              </td>
              <td>
                <%= link_to edit_loan_negative_loan_payment_path(t.loan, t), class: "btn btn-default" do %>
                  <span class="fa fa-pencil">
                  </span>
                  Edit
                <% end %>
                <%= link_to loan_negative_loan_payment_path(t.loan, t), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" do %>
                  <span class="fa fa-times">
                  </span>
                  Delete
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>
