= render partial: "amortization_summary", locals: { loan: loan }
%table.table.table-bordered
  %thead
    %tr.tr_label
      %th Paid At
      %th Total Amount
      %th Status
  %tbody
    - LoanPaymentDetail.joins(:loan_payment).where("loan_payments.loan_id = ?", loan.id).order(:paid_at).each do |loan_payment_detail|
      %tr
        %td= loan_payment_detail.paid_at
        %td= number_to_currency(loan_payment_detail.total_amount, unit: "P")
        %td= loan_payment_detail.payment_status
