.loan
  .preview
    .panel.panel-default
      .panel-heading
        = link_to loan_path(loan) do
          #{loan} | #{loan.loan_product}
          %small
            #{loan.status}
      .panel-body
        %ul
          %li
            %label
              .fa.fa-user
              Member:
            = link_to member_path(loan.member), target: "_blank" do
              = loan.member
          %li
            %label
              .fa.fa-building
              Branch:
            = loan.branch
          %li
            %label
              .fa.fa-money
              Amount Due:
            = number_to_currency(loan.temp_total_amount_due, unit: "P")
          %li
            %label
              .fa.fa-check
              Balance:
            - if loan.pending?
              Pending
            - elsif loan.paid?
              Already Paid 
            - else
              = number_to_currency(loan.remaining_balance, unit: "P")
