<!doctype html>
<html>
 <head>
  <meta charset='utf-8' />
  <%= wicked_pdf_stylesheet_link_tag "style" %>
 </head>
  <body style="">
    <div class="container-fluid">
      <center>
        <div class="row amortizations_sched" style="border: 2px solid black;">
            <div class="" style="font-weight: bold; text-align: center; padding-left: 10px; margin-top: 10px; font-size: 1em;">
               KASAGANA-KA Development Center, Inc.
            </div>
             <div class="address_v" style="font-size: 13px;"> 
               #5 Don francisco St., Don Enrique Hts.,Brgy Holy Spirit, Commonwelath Ave, Q.C <br />
                 Telefax: 931-4335
             </div>

           <div class="voucher_title">Loan Amortization Schedule</div>
          
          <div class="voucher_date_amor">Date: <%= time.strftime("%B %d, %Y") %></div>
          <div class="amor_name">Name: <%= loan.member.full_name %></div>
          <div>
            <table style="text-align: left; font-size: 13px; width: 100%; padding-left: 10px;">
              <tr>
                <th>Client Beneficiary:</th>
                <td>___________________</td> 
                <th>Loan Term:</th>
                <td>___________________</td>
              </tr>
              <tr>
                <th>Center:</th>
                <td>___________________</td>
                <th>Mode of Payment:</th>
                <td>___________________</td>
              </tr>
              <tr>
                <th>Loan Type:</th>
                <td>___________________</td>
                 <th>Interest Method:</th>
                <td>___________________</td>
              </tr>
              <tr>
                <th>Loan Amount:</th>
                <td>___________________</td>
                <th>Nominal Interest Percent:</th>
                <td>5%</td>
              </tr>
              <tr>
                <th>Interest Amount:</th>
                <td>___________________</td>
                <th>EIR:</th>
                <td>60%</td>
              </tr>
              <tr>
                <th>Date of First Payment:</th>
                <td>___________________</td>
              </tr>
            </table> 
          </div>
          <table class="amortization_table">
            <tr>
              <th># of Period</th>
              <th>Principal Payment</th>
              <th>Interest Payment</th>
              <th>Balance</th>
              <th>Weekly Payment</th>
            </tr>
            <% amortizations.ammortization_schedule_entries.each do |ase| %>
              <tr>
                <td> </td>
                <td> <%= number_to_currency(ase.principal, unit: "P") %></td>
                <td> <%= number_to_currency(ase.interest, unit: "P") %></td>
                <td> <%= number_to_currency(ase.remaining_balance, unit: "P") %></td>
                <td> <%= number_to_currency(ase.amount, unit: "P") %></td>
                
              </tr>
            <% end %>
          </table>
        </div>
      </center>
     

     </div>
  </body>
</html>