%section.content-header
  %h1 Loan Records
  %ol.breadcrumb
    %li{:style => "margin-top: -10px;"}
      = link_to "#", id: 'newLoanApplicationBtn', style: "color: #fff;", class: 'btn btn-primary bg-blue normal', data: { toggle: 'modal', target: '#memberSelectModal' } do
        .fa.fa-plus
        New Loan
%section.content
  = render partial: "loans/filter"
  - if @loans.size > 0
    = render partial: "loans/list", locals: { loans: @loans }
    = paginate @loans
  - else
    No loans found.

%div#parameters{ data: { ref_nums: @ref_nums } }
= render partial: "member_select_modal"
= render partial: "batch_modal"

= javascript_include_tag "ui"
= javascript_include_tag "loans"
