:css
  .print-text {
    font-size: 1.2em;
    font-family: calibri;
  }

  .print-text-book {
    font-size: 1.4em;
    font-family: calibri;
  }

  .print-text-sub {
    font-size: .9em;
    font-family: calibri;
  }

  .loan_details{
    height: 120px;
    width: 100%;
    border-color: black;
    border-style: solid;
    border-width: 1.5px 3px 1.5px 3px;
    padding: 10px 10px 10px 10px;
  }

  table.voucher td.amount{
    text-align: right;
  }

  table.voucher th.amount{
    text-align: right;
  }

  table.voucher td.code{
    text-align: center;
  }

  table.voucher th.header{
    text-align: center;
    text-decoration: underline;
  }

  table.signatories td.overline{
    text-decoration: overline;
  }

  hr {
    border-color: black;
  }

%span.print-text
  %left
    %p
      %b
        #{Settings.company}
      %br
        %b
          Loan Ledger
%span.print-text-sub
  %left  
    %br
    .loan_details
      %table{:border => "0"}
        %tr
          %th{:width => "20%"}  Member:
          %td{:width => "30%"} #{@loan.member.list_name}
          %td{:width => "15%"}
          %th{:width => "20%"} Loan Term:
          %td{:width => "30%"} #{@loan.num_installments}
        %tr
          %th{:width => "20%"} Center:
          %td{:width => "30%"} #{@loan.center.to_s}
          %td{:width => "15%"}
          %th{:width => "20%"} Mode of Payment:
          %td{:width => "30%"} #{@loan.term}
        %tr
          %th{:width => "20%"} Loan Type:
          %td{:width => "30%"} #{@loan.loan_product.to_s}
          %td{:width => "15%"}
          %th{:width => "20%"} Interest Method
          %td{:width => "30%"} Declining Balance
        %tr
          %th{:width => "20%"} Cycle:
          %td{:width => "30%"} #{@loan.loan_cycle_count}
          %td{:width => "15%"}
          %th{:width => "20%"} Rate per Annum:
          %td{:width => "30%"} #{@loan.interest_rate}
        %tr
          %th{:width => "20%"} Loan Amount:
          %td{:width => "30%"} #{number_to_currency(@loan.amount, unit: "")}
          %td{:width => "15%"}
          %th{:width => "20%"} Date Released: 
          %td{:width => "30%"} #{@loan.date_released_formatted} (Posted: #{@voucher.date_posted.strftime("%b-%d-%Y")})
        %tr
          %th{:width => "20%"} Interest Amount:
          %td{:width => "30%"} #{number_to_currency(@loan.total_interest, unit: "")}
          %td{:width => "15%"}
          %th{:width => "20%"} Maturity Date: 
          %td{:width => "30%"} #{@loan.maturity_date_formatted}
  %left 
    %br
    .loan_transaction_details
      %table{:border => "0"}
        %tr
          %th{:width => "20%"} Transaction Date
          %th{:width => "15%"} Principal
          %th{:width => "13%"} Interest
          %th{:width => "13%"} Amount
          %th{:width => "25%"} Running Balance
          %th{:width => "28%"} Transaction Type
        %tr
          %td{:width => "20%"} #{@loan.date_released_formatted}
          %td{:width => "15%"} #{number_to_currency(@loan.amount, unit: "")}
          %td{:width => "13%"} #{number_to_currency(@loan.total_interest, unit: "")}
          %td{:width => "13%"} #{number_to_currency(@loan.temp_total_amount_due, unit: "")}
          %td{:width => "25%"} #{number_to_currency(@loan.temp_total_amount_due, unit: "")}
          %td{:width => "28%"} Release
        
        - total_paid_principal = 0
        - total_paid_interest = 0
        - temp_total_amount_due = @loan.temp_total_amount_due
        - @loan_payments.each_with_index do |loan_payment|
          - total_paid_principal = total_paid_principal + loan_payment.paid_principal
          - total_paid_interest = total_paid_interest + loan_payment.paid_interest

          - temp_total_amount_due = temp_total_amount_due - loan_payment.loan_payment_amount
          %tr
            %td{:width => "20%"} #{loan_payment.paid_at.strftime("%B-%d-%Y")}
            %td{:width => "15%"} #{number_to_currency(loan_payment.paid_principal, unit: "")}
            %td{:width => "13%"} #{number_to_currency(loan_payment.paid_interest, unit: "")}
            %td{:width => "13%"} #{number_to_currency(loan_payment.loan_payment_amount, unit: "")}
            %td{:width => "25%"} #{number_to_currency(temp_total_amount_due, unit: "")}
            %td{:width => "28%"} Payment

        - @loan.ammortization_schedule_entries.unpaid.order(:due_at).each_with_index do |ase, i|
          %tr
            %td{:width => "20%"} #{ase.due_at.strftime("%B-%d-%Y")}
            %td{:width => "15%"}
            %td{:width => "13%"}
            %td{:width => "13%"} #{number_to_currency(ase.remaining_balance, unit: "")}
            %td{:width => "25%"} 
            %td{:width => "28%"}
        %tr
          %td{:width => "20%"} __________________________
          %td{:width => "15%"} ___________________
          %td{:width => "13%"} _________________
          %td{:width => "13%"} _________________
          %td{:width => "25%"} ___________________________
          %td{:width => "28%"} _________________
        %tr
          %th{:width => "20%"} Loan Amount:
          %th{:width => "15%"} #{number_to_currency(@loan.amount, unit: "")}
          %th{:width => "13%"} #{number_to_currency(@loan.total_interest, unit: "")}
          %td{:width => "13%"} 
          %th{:width => "25%"} #{number_to_currency(@loan.amount + @loan.total_interest, unit: "")}
          %td{:width => "28%"}
        %tr
          %th{:width => "20%"} Payments:
          %th{:width => "15%"} #{number_to_currency(total_paid_principal, unit: "")}
          %th{:width => "13%"} #{number_to_currency(total_paid_interest, unit: "")}
          %td{:width => "13%"} 
          %th{:width => "25%"} #{number_to_currency(total_paid_principal + total_paid_interest, unit: "")}
          %td{:width => "28%"}
        %tr
          %th{:width => "20%"} Balance:
          %th{:width => "15%"} #{number_to_currency(@loan.amount - total_paid_principal, unit: "")}
          %th{:width => "13%"} #{number_to_currency(@loan.total_interest - total_paid_interest, unit: "")}
          %td{:width => "13%"} 
          %th{:width => "25%"} #{number_to_currency((@loan.amount + @loan.total_interest) - (total_paid_principal + total_paid_interest), unit: "")}
          %td{:width => "28%"}
        %tr
          %td{:width => "20%"} __________________________
          %td{:width => "15%"} ___________________
          %td{:width => "13%"} _________________
          %td{:width => "13%"} _________________
          %td{:width => "25%"} ___________________________
          %td{:width => "28%"} _________________
