%section.content-header
  %h1 
    #{@data[:loanname]}
    %small 
      #{@data[:membername]}
%section.content
  %table.table.table-bordered
    %thead
      %tr
        %th
        %th
          Paid at
        %th{:colspan => "2"}
          Loan Payment
        %th
          Other Loans
        %th{:colspan => "2"}
          Savings
        %th{:colspan => "2"}
          Insurance
        %th
          WP
        %th
          Cash Payment
      %tr
        %th
        %th
        %th Principal
        %th Interest
        %th
        %th K-IMPOK
        %th Golden-K
        %th LIF
        %th RF
        %th 
        %th 
    %tbody
    - @data[:memberpayment].each_with_index do |mp, i|
      %tr
      - if mp[:principal_amount] > 0 
        %td
          #{i + 1}
        
        %td
          #{mp[:paid_at]}
        %td
          #{mp[:principal_amount]}
        %td
          #{mp[:interest_amount]}
        - mp[:paymentcollectionamount].each do |pcad|
          %td
            #{pcad[:otherloantotal]}
        - mp[:savingsdetails].each do |sd|
          %td
            #{sd[:savingamount]}
        - mp[:insurancedetails].each do |id|
          %td
            #{id[:insuranceamount]}
        - mp[:wpdetails].each do |wd|
          %td
            #{wd[:equitydetails]}
        - mp[:paymentcollectionamount].each do |pca|
          %td
            #{pca[:cashpaymenttotal]}
          
