<!doctype html>
<html>
 <head>
  <meta charset='utf-8' />
  <%= wicked_pdf_stylesheet_link_tag "style" %>
 </head>
  <body style="">
    <div class="container-fluid">
      <center>
        <div class="row check_voucher" style="border: 2px solid black;">
           <div class="logok">
              <%= wicked_pdf_image_tag "logo.png" %>
            </div>
            <div class="" style="font-weight: bold; text-align: center; padding-left: 40px; margin-top: -70px; font-size: 1.2em;">
              KASAGANA-KA Development Center, Inc.
            </div>
            <div class="address_v"> 
              <div class="addk">
               #5 Don francisco St., Don Enrique Hts.,Brgy Holy Spirit, Commonwelath Ave, Q.C <br />
               Telefax: 931-4335
              </div>
            </div>

            <div class="row" style="padding-bottom: 20px;">
              <div class="col-md-4">
                
              </div>
              <div class="col-md-4" style="font-weight: bold; margin-top: 15px; ">
                CHECK VOUCHER
              </div>
               <div class="col-md-4">
                 <div class="" style="text-align: right; padding-right: 10px;"> Voucher Reference No. :<b><%= loan.voucher_reference_number %></b> </div> 
              </div>
            </div>

            <div class="row" style="text-align: left;padding-left: 10px; font-size: 13px;">
              <table style="width: 100%;">
                <tr>
                  <th>
                     <span style="font-weight: normal">Voucher Payee:</span>
                     <span class="underlines"><%= loan.voucher_payee %></span>
                  </th>
                  <th class="th-align">
                    <span style="font-weight: normal;">Date:</span>
                    <span class="underlines"> <%= time.strftime("%B %d, %Y") %></span>
                  </th>
                </tr>
              </table>
            </div>

             <div class="row" style="text-align: left;font-size: 13px; padding-left: 10px;">
              <table style="width: 100%;">
                <tr>
                  <th>
                    <span style="font-weight: normal">Area: </span>
                    <span class="underlines"><%= loan.member.center.branch.cluster.area.name %></span>
                  </th>
                  <th style="padding-left: 75px;">
                    <span style="font-weight: normal">Bank:</span>
                    <span class="underlines"> <%= loan.bank %></span></th>
                  <th style="padding-left: 20px;">
                    <span style="font-weight: normal">Check Nember:</span>
                    <span class="underlines"><%= loan.bank_check_number %></span>
                  </th>
                </tr>
              </table>
            </div> 

            <div class="row">
              <table class="particulars">
                <tr>
                <th>PARTICULARS</th>
                <th>AMOUNT</th>
                </tr>

                <tr style="font-size: 14px;">
                  <td><%= loan.voucher_particular %></td>
                  <td><%= loan.amount %></td>
                </tr>
              </table>
            </div>


            <div class="row">
              <table class="particulars">
                <tr>
                <th>ACCOUNT TITLE</th>
                <th>DEBIT</th>
                <th>CREDIT</th>
                </tr>

                <tr style="font-size: 14px;">
                  <td><%= loan.voucher_particular %></td>
                  <td><%= loan.amount %></td>
                  <td><%= loan.amount %></td>
                </tr>
              </table>
            </div>

            <div style="text-align: left; padding: 10px; font-size: 14px;">
              Received from K-KA the sum of: ________________________________________
            </div>

            <div class="row" style="padding-bottom: 20px;">
              <table style="font-size: 13px; padding: 10px; width: 100%; ">
                <tr>
                  <th> Prepared by: <br>
                    ____________________
                  </th>
                  <th>
                  Checked by: <br>
                    ____________________
                  </th>
                  <th>
                   Approved by: <br>
                    ____________________
                  </th>
                  <th>
                   Received by: <br>
                   ____________________
                     </th>
                </tr>

              </table>
             
            </div>
             

        </div>
      </center>
      </div>
  </body>
</html>