<!doctype html>
<html>
 <head>
  <meta charset='utf-8' />
  <%= wicked_pdf_stylesheet_link_tag "style" %>
 </head>
  <body style="">
    <div class="container-fluid">
      <center>
        <div class="row check_voucher_print-out" style="border: 2px solid black;">
           <div class="">
              <div style="font-weight: bold; font-size: 1em; margin-top: 3%;"> KASAGANA-KA Development Center, Inc.</div>
              <div class="" style="font-size: 13px;"> 
              #5 Don francisco St., Don Enrique Hts.,Brgy Holy Spirit, Commonwelath Ave, Q.C <br />
               Telefax: 931-4335
              </div>
            </div>
            <div class="row">
              <div style="font-weight: bold;font-size: 1em; margin-top: 1%;">Check Print-out</div>
            </div> 
            <div class="voucher_date_print-out">Date: <%= time.strftime("%B %d, %Y") %></div>
            <div class="row">
              <div class="col-md-6">
               <table class="voucher_table_o_print-out">
                 <tr>
                   <th class="title_v">Name:</th>
                   <td><%= loan.member.full_name %></td>
                 </tr>
                 <tr>
                   <th class="title_v">Check No. :</th>
                   <td><%= loan.check_number %></td>
                 </tr>
                 <tr>
                   <th class="title_v">Date Prepared:</th>
                   <td><%= loan.date_prepared %></td>
                 </tr>
                 </table>
                </div>
                <div class="col-md-6">
                 <table class="voucher_table_o_print-out">
                   <tr>
                     <th class="title_v">AMOUNT:</th>
                     <td class="underlines"><%= loan.amount %></td>
                   </tr>
                   </table>
                </div>
              </div>
              <div class="row">
                <div style="text-align: left; padding: 10px; font-size: 13px;">Approved By: _________________________________ </div>
              </div>

        </div>
      </center>

    </div>
   </body>
</html>