%div{id: "loan-details", data: {loan_id: "#{@loan.id}"}}
= render partial: "loans/modals/approve_loan_modal"
= render partial: "loans/modals/reverse_loan_modal"
= render partial: "loans/modals/writeoff_loan_modal"
= render partial: "loans/modals/reamortize_modal"
= render partial: "loans/modals/payment_modal"

%section.content-header
  = render partial: "header"

%section.content
  = render partial: "actions"
  = render partial: "content"

= render partial: "first_date_of_payment_modal"

= render partial: "shared/errors_template"
= render partial: "shared/success_template"
= render partial: "shared/errors"
= javascript_include_tag "loan"
:javascript
  $(document).ready(function() {
    Loan.init();
  });
