= stylesheet_link_tag 'login', media: 'all'
%div{ style: "margin-top: 30px" }
.container
  .row
    .col-sm-6.col-md-4.col-md-offset-4
      .well
        .accout-wall
          = image_tag "logo_thumb.png", class: "profile-img"
        %h1.text-center.login-title
          System Authentication
          %br
          %small
            #{Branch.where(id: Settings.branch_ids).pluck(:name).join(",")}
        = simple_form_for resource, html: { class: 'form-sigin' }, defaults: { wrapper_html: { class: '' }, input_html: { class: '' } }, as: resource_name, url: session_path(resource_name) do |f|
          = f.input :login, label: false,required: false, autofocus: true, placeholder: "Username", input_html: { class: "form-control" }
          %br
          = f.input :password, label: false, required: false, placeholder: "Password", input_html: { class: "form-control" }
          .form-actions
            = f.button :submit, "Log In", class: "btn btn-lg btn-primary btn-block"
        %h5
          %center
            %h5
              #{SOFTWARE_NAME}
              %small
                BUILD_VERSION: #{BUILD_VERSION} 
        - if is_within_closing_period?
          .bs-callout.bs-callout-danger
            %center
              System is within closing period 
              %br
              (7:00 am - 7:00 pm).
