.well
  %div{style: "display: #{@subsidiary_adjustment.pending? ? 'block' : 'none'};"}
    - if ["MIS", "SBK" , "BK"].include? current_user.role
      = link_to "#", id: 'btn-approve', class: 'btn btn-app bg-green' do
        .fa.fa-check
        Approve
  - if @subsidiary_adjustment.approved?
    .bs-callout.bs-callout-success
      This transaction has been approved
