.well
  .row
    .col-md-4
      %label
        Member Select
      = select_tag :member, options_from_collection_for_select(Member.active, :id, :to_s), id: 'select-member', class: 'form-control'
    .col-md-1
      %label
        Account Code
      = select_tag :account_code, options_for_select(Settings.account_codes), id: 'select-account-code', class: 'form-control'
    .col-md-1
      %label
        Amount
      = number_field_tag :amount, 0, id: 'input-amount', class: 'form-control'
    .col-md-2
      %label
        Type
      = select_tag :adjustment_type, options_for_select(SubsidiaryAdjustmentRecord::ADJUSTMENT_TYPES_SELECT.map { |k, v| [v, k] }), id: 'select-adjustment-type', class: 'form-control'
    .col-md-3
      %label
        Accounting Code
      = select_tag :accounting_code, options_from_collection_for_select(AccountingCode.all, :id, :to_s), id: 'select-accounting-code', class: 'select-select2 form-control'
    .col-md-1
      %label
        Actions
      = button_tag :add, id: 'btn-add-record', class: 'btn btn-primary btn-block' do
        .fa.fa-plus
