- if subsidiary_adjustment.pending?
  .bs-callout.bs-callout-danger
    = link_to adjustments_subsidiary_adjustment_path(subsidiary_adjustment), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-app bg-red' do
      .fa.fa-times
      Delete
