= simple_nested_form_for [:adjustments, subsidiary_adjustment], defaults: { wrapper_html: { class: 'form-group' }, input_html: { class: 'form-control' } }, html: { multipart: true, novalidate: true } do |f|
  .row
    .col-md-6
      = f.association :branch
  - if Settings.activate_microinsurance
    .row
      .col-md-6
        = f.association :accounting_fund, input_html: { class: "form-control select-select2" }
  .row
    .col-md-2
      %label
        Member
    .col-md-2
      %label
        Account
    .col-md-2
      %label
        Amount
    .col-md-2
      %label
        Type
    .col-md-2
      %label
        Entry
    .col-md-2
      %label
        Actions
  #subsidiary_adjustment_records
    = f.simple_fields_for :subsidiary_adjustment_records do |subsidiary_adjustment_record|
      = render 'subsidiary_adjustment_record_fields', f: subsidiary_adjustment_record
    = link_to_add_association f, :subsidiary_adjustment_records, class: "btn btn-default" do
      .fa.fa-plus
      Add Adjustment Record

  %hr
  .row
    .col-md-12
      = f.input :particular

  .form-actions
    = button_tag :submit, class: "btn btn-primary" do
      .fa.fa-check
      Save Transaction
    - if f.object.new_record?
      = link_to adjustments_subsidiary_adjustments_path, class: "btn btn-default" do
        .fa.fa-times
        Cancel
    - else
      = link_to adjustments_subsidiary_adjustment_path(f.object), class: "btn btn-default" do
        .fa.fa-times
        Cancel

= javascript_include_tag "adjustments/subsidiary_adjustments/Form"
:javascript
  $(document).ready(function() {
    Form.init();
  });
