#modal-new-subsidiary-adjustment.modal.fade.modal-fade.modal-resign
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{type:'button', data:{dismiss:'modal'}}
          %span{aria:{hidden:'true'}}
            %i.fa.fa-close
          %span.sr-only Close
        %h4.modal-title
          New Subsidiary Adjustment
      .modal-body
        .row
          .col-md-12
            %label
              Branch
            = select_tag :branch, options_from_collection_for_select(Branch.all, :id, :name), class: 'form-control', id: "modal-select-branch"
        .row
          .col-md-12
            %label
              Particular
            = text_area_tag :particular, "", id: 'input-particular', class: 'form-control'
        %hr
          .message
          %button#btn-confirm.btn.btn-primary
            .fa.fa-check
            Create
          %button.btn.btn-default{ type: 'button', data: { dismiss: 'modal' } }
            .fa.fa-times
            Cancel
