.remodal.modal-approve-confirmation{ data: { remodal_id: "modal-approve" } }
  %h3
    Approve Transaction
  %p 
    You are about to approve an adjusting entry for subsidiary accounts.
    Are you sure you want to approve this transaction?
  .errors
  .message
  #modal-controls.controls
    %hr
      %button#btn-confirm-approval.ui.green.button
        .fa.fa-check
        Yes
      %button#btn-cancel-approval.ui.default.button.reject-btn
        .fa.fa-times
        No
