.nested-fields
  .row
    .col-md-2
      = f.association :member, label: false, input_html: { class: "member-select form-control" }
    .col-md-2
      = f.input :account_code, as: :select, collection: Settings.account_codes, label: false
    .col-md-2
      = f.input :amount, label: false
    .col-md-2
      = f.input :adjustment_type, as: :select, collection: SubsidiaryAdjustmentRecord::ADJUSTMENT_TYPES_SELECT.map { |k,v| [v, k] }, label: false
    .col-md-2
      = f.association :accounting_code, label: false, input_html: { class: "select-select2 form-control" }
    .col-md-2
      = link_to_remove_association f, class: "btn btn-danger" do
        .fa.fa-times
        Remove
