.nested-fields.well
  .row
    .col-md-6
      = f.association :accounting_code, input_html: { class: "select-select2 form-control" }
    .col-md-2
      = f.input :post_type, as: :select, collection: ["DR", "CR"]
    .col-md-4
      = f.input :amount
  .form-actions
    = link_to_remove_association f, class: "ui red button" do
      .fa.fa-times
      Remove
