%section.content-header
  %h1 Subsidiary Adjustment Records  
  %ol.breadcrumb
    %li{:style => "margin-top: -10px;"}
      = link_to "#", id: 'btn-new', class: 'btn btn-primary bg-blue' do
        .fa.fa-plus
        New Adjustment

%section.content   
  = render partial: "adjustments/subsidiary_adjustments/filter"
  - if @subsidiary_adjustments.size > 0
    = render partial: "adjustments/subsidiary_adjustments/list", locals: { subsidiary_adjustments: @subsidiary_adjustments }
    = paginate(@subsidiary_adjustments)
  - else
    .row
      %p{:style => "margin-top: 10px;"}
        No records found. #{link_to "Create one.", new_adjustments_subsidiary_adjustment_path}

= render partial: "modal_new_subsidiary_adjustment"
= render partial: "shared/errors_template"
= javascript_include_tag "adjustments/subsidiary_adjustments/Index"

:javascript
  $(document).ready(function() {
    Index.init();
  });
