%section.content-header
  %h1 
    Subsidiary Adjustment
    %small
      #{@subsidiary_adjustment.created_at.strftime("%b %d, %Y")}
  %ol.breadcrumb
    %li
      = link_to adjustments_subsidiary_adjustments_path do
        Back to Subsidiary Adjustments

%section.content
  = render partial: "actions", locals: { subsidiary_adjustment: @subsidiary_adjustment }
  %h2
    Adjusting Records

  .box.box-default
    .box-body
      = render partial: "actions_add_subsidiary_adjustment"
      %table.ui.blue.table
        %thead
          %tr
            %th Member
            %th Account
            %th Amount
            %th Adjustment Type
            %th Entry
            %th Beginning
            %th Ending
            - if @subsidiary_adjustment.pending?
              %th
                Actions
        %tbody
          - @subsidiary_adjustment.subsidiary_adjustment_records.each do |r|
            %tr
              %td #{link_to r.member, member_path(r.member), target: "_blank"}
              %td #{r.account_code}
              %td #{number_to_currency(r.amount, unit: "P")}
              %td #{r.adjustment_type == "credit" ? "Adj. to Add" : "Adj. to Deduct"}
              %td #{r.accounting_code}
              %td #{number_to_currency(r.beginning_balance, unit: "P")}
              %td #{number_to_currency(r.ending_balance, unit: "P")}
              - if @subsidiary_adjustment.pending?
                %td
                  = button_tag :delete, class: "btn btn-danger btn-xs btn-delete", data: { id: r.id } do
                    .fa.fa-times
                    Delete

      = render partial: "shared/voucher", locals: { voucher: @voucher }
      = render partial: "danger_actions", locals: { subsidiary_adjustment: @subsidiary_adjustment }

#parameters{ data: { id: @subsidiary_adjustment.id } }
= render partial: "shared/errors_template"
= render partial: "modal_approve_confirmation"
= javascript_include_tag "adjustments/Adjustments.SubsidiaryAdjustment"
= javascript_include_tag "adjustments/subsidiary_adjustments/Show"

:javascript
  $(document).ready(function() {
    Adjustments.SubsidiaryAdjustment.init();
    Show.init();
  });
