%table.table.payments.table-bordered
  %tbody
    %tr
      %th OR Number
      %th Date
      - if Settings.activate_microloans
        %th Centers
      - else
        %th Centers
      %th.accounting-curr Total Amount 
      %th Status
    - @payment_collections.each do |pc|
      %tr.clickable{ data: { transaction_id: "#{pc.id}" } }
        %td 
          - if pc.or_number.include?("CHANGE-ME")
          - else
            #{pc.or_number}
        %td #{pc.paid_at.strftime("%B %d, %Y")}
        - if Settings.activate_microloans
          %td
            #{pc.centers.join(",")}
        - else
          %td
            #{pc.branch}
        %td.curr #{number_to_currency(pc.total_amount, unit: "P")}
        %td #{pc.status}
