:css
  .print-text {
    font-size: 1em;
    font-family: arial;
  }

  .print-text-sub {
    font-size: 1.1em;
    font-family: arial;
  }

  table.deposit th.header{
    text-align: left;
    font-weight: bold;
  }

  table.voucher th.account-header{
    text-align: center;
    font-weight: bold;
  }

%span.print-text
  %center
    %br
    %p
      %b
        #{Settings.company}
      %br  
      %b
        #{Settings.company_address}
      %br  
      %b
        Cash Management - Deposit  
%left
  %br
  %span.print-text-sub
    %p
      %b
        OR No.: #{@payment_collection.or_number.rjust(8, '0')} | Accounting Fund : #{@voucher.accounting_fund} | Book : #{@voucher.book}
  %span.print-text-sub  
    %p
    %table.deposit{"border:" => "", :none => ""}
      %tr
        %th.header{width: 30}
        %th.header{width: 510} Member
        - @savings_types.each do |savings_type|
          %th.header{width: 130} #{savings_type.code}
        - @insurance_types.order("name ASC").each do |insurance_type|
          %th.header{width: 130} #{insurance_type.code}
        - @equity_types.each do |equity_type|
          %th.header{width: 130} #{equity_type.code}
        %th.header{width: 150} Amt Rec
   
      - @payment_collection.payment_collection_records.joins(:member).order("members.last_name ASC").each_with_index do |payment_collection_record, i|      
        %tr
          %td #{i + 1}
          %td #{payment_collection_record.member.full_name}
          - @savings_types.each do |savings_type|
            %td.amount
              - payment_collection_record.collection_transactions.where(account_type: "SAVINGS").each do |collection_transaction|
                - if collection_transaction.account_type == "SAVINGS" and collection_transaction.account_type_code == savings_type.code
                  #{number_to_currency(collection_transaction.amount, unit: "")}
          - @insurance_types.order("name ASC").each do |insurance_type|
            %td.amount
              - payment_collection_record.collection_transactions.where(account_type: "INSURANCE").each do |collection_transaction|
                - if collection_transaction.account_type == "INSURANCE" and collection_transaction.account_type_code == insurance_type.code
                  #{number_to_currency(collection_transaction.amount, unit: "")}
          - @equity_types.each do |equity_type|
            %td.amount
              - payment_collection_record.collection_transactions.where(account_type: "EQUITY").each do |collection_transaction|
                - if collection_transaction.account_type == "EQUITY" and collection_transaction.account_type_code == equity_type.code
                  #{number_to_currency(collection_transaction.amount, unit: "")}
          %td.amount
            #{number_to_currency(payment_collection_record.total_cp_amount, unit: "")}
      %tr
        %th.header
        %th.header Total
        - @savings_types.each do |savings_type|
          %th.header #{number_to_currency(CollectionTransaction.where(payment_collection_record_id: @payment_collection.payment_collection_records.pluck(:id), account_type: "SAVINGS", account_type_code: savings_type.code).sum(:amount), unit: "")}
        - @insurance_types.order("name ASC").each do |insurance_type|
          %th.header #{number_to_currency(CollectionTransaction.where(payment_collection_record_id: @payment_collection.payment_collection_records.pluck(:id), account_type: "INSURANCE", account_type_code: insurance_type.code).sum(:amount), unit: "")}
        - @equity_types.each do |equity_type|
          %th.header #{number_to_currency(CollectionTransaction.where(payment_collection_record_id: @payment_collection.payment_collection_records.pluck(:id), account_type: "EQUITY", account_type_code: equity_type.code).sum(:amount), unit: "")}
        %th.header #{number_to_currency(@payment_collection.total_amount, unit: "")}
%hr
.entry  
  %span.print-text  
    %center  
      %p
        .pull-left
          %b
            #{"(#{@voucher.id})" if current_user.role == "MIS"}#{@voucher.book} | Ref No.: #{@voucher.reference_number}
            - if @voucher.accounting_fund and @voucher.sub_reference_number
              |
              #{@voucher.accounting_fund}
              .pull-right
                = @voucher.date_prepared.strftime("%B %d, %Y") if !@voucher.date_prepared.nil?
                |
                Approved By: #{@voucher.approved_by}
        %br
      %table.voucher{"border:" => "", :none => ""}
        %thead
          %tr
            %th.account-header{width: 700} Accounting Code
            %th.debit.header{width: 200} Debit
            %th.credit.header{width: 200} Credit
        %tbody
          - @voucher.journal_entries.sort_by{ |e| e[:accounting_code_id] }.each do |journal_entry|
            - if journal_entry.post_type == "DR" and journal_entry.amount > 0
              %tr
                %td.accnt_code
                  #{journal_entry.accounting_code}
                %td.debit= number_to_currency(journal_entry.amount, unit: "")
                %td.credit
          - @voucher.journal_entries.sort_by{ |e| e[:accounting_code_id] }.each do |journal_entry|
            - if journal_entry.post_type == "CR" and journal_entry.amount > 0
              %tr
                %td.accnt_code
                  #{journal_entry.accounting_code}
                %td.debit
                %td.credit= number_to_currency(journal_entry.amount, unit: "")
    %left  
      %br
      %p
        %b
          Particular:
        #{@voucher.particular}
      %br
      %br  
      %table.signatories{"border:" => "", :none => ""}
        %tr
          %th{width: 305} #{@voucher.prepared_by}
          - if Settings.activate_microinsurance == true
            %th{width: 305} EVELYN LAGMAY
          - elsif Settings.activate_microloans == true 
            %th{width: 305}
          %th{width: 305} #{@voucher.approved_by}
        %tr
          %td.overline &emsp;&emsp;Prepared by:&emsp;&emsp;
          %td.overline &emsp;&emsp;Reviewed by:&emsp;&emsp;
          %td.overline &emsp;&emsp;Approved by:&emsp;&emsp;
      %br
      %br
      %br