<script id="trial-balance-template" type="x-tmpl-mustache">
  <div class="row">
    <div class="col-md-6">
      <h4 class="ui green header">
        {{company}}
        <small>{{start_date}} to {{end_date}}</small>
      </h4>
    </div>
    <div class="col-md-6">
      <div class="pull-right">
        <h4 class="ui blue header">
          Trial Balance
          <small>
            {{branch.name}}
          </small>
        </h4>
      </div>
    </div>
  </div>
  <table class="table table-bordered table-responsive">
    <thead>
      <tr>
        <th></th>
        <th></th>
        <th colspan="2"><center>Beginning Balance</center></th>
        <th colspan="2"><center>Transaction for the Month</center></th>
        <th colspan="2"><center>Ending Balance</center></th>
      </tr>
      <tr>
        <th>Code</th>
        <th>Name</th>
        <th class='accounting-curr'>Debit</th>
        <th class='accounting-curr'>Credit</th>
        <th class='accounting-curr'>Debit</th>
        <th class='accounting-curr'>Credit</th>
        <th class='accounting-curr'>Debit</th>
        <th class='accounting-curr'>Credit</th>
      </tr>
    </thead>
    <tbody>
      {{#entries}}
        <tr>
          <td>{{accounting_code.code}}</td>
          <td>{{accounting_code.name}}</td>
          <td class='accounting-curr'>{{beginning_debit}}</td>
          <td class='accounting-curr'>{{beginning_credit}}</td>
          <td class='accounting-curr'>{{debit_amount}}</td>
          <td class='accounting-curr'>{{credit_amount}}</td>
          <td class='accounting-curr'>{{final_debit_amount}}</td>
          <td class='accounting-curr'>{{final_credit_amount}}</td>
        </tr>
      {{/entries}}
      <tr>
        <th></th>
        <th>Total</th>
        <th class='accounting-curr'>{{total_beginning_debit}}</th>
        <th class='accounting-curr'>{{total_beginning_credit}}</th>
        <th class='accounting-curr'>{{total_debit}}</th>
        <th class='accounting-curr'>{{total_credit}}</th>
        <th class='accounting-curr'>{{total_ending_debit}}</th>
        <th class='accounting-curr'>{{total_ending_credit}}</th>
      </tr>
    </tbody>
  </table>
</script>
