.container-fluid
  .ui.two.column.grid 
    .column
      %h1.ui.green.header
        #{@data[:company]}
        %small
          #{@data[:start_date]} to #{@data[:end_date]}
    .column
      .pull-right
        %h1.ui.blue.header
          General Ledger
          %small
            #{@data[:branch].try(:name)}
  %table.ui.small.green.table
    %thead
      %th Code
      %th Name
      %th Beginning Debit
      %th Beginning Credit
      %th Debit
      %th Credit
      %th Ending Debit
      %th Ending Credit
    %tbody
      - @data[:entries].each do |entry|
        %tr
          %td #{entry[:accounting_code].code}
          %td #{entry[:accounting_code].name}
          %td #{entry[:beginning_debit]}
          %td #{entry[:beginning_credit]}
          %td #{entry[:debit_amount]}
          %td #{entry[:credit_amount]}
          %td #{entry[:final_debit_amount]}
          %td #{entry[:final_credit_amount]}
      %tr
        %th
        %th Total
        %th #{@data[:total_beginning_debit]}
        %th #{@data[:total_beginning_credit]}
        %th #{@data[:total_debit]}
        %th #{@data[:total_credit]}
        %th #{@data[:total_ending_debit]}
        %th #{@data[:total_ending_credit]}
