%section.content-header
  %h1 Trial Balance
  %ol.breadcrumb
%section.content
  %table.table.table-responsive
    %tr
      %th
        %label Start Date
        = text_field_tag :start_date, current_month_start, class: 'form-control datepick', id: 'start-date'
      %th
        %label End Date
        = text_field_tag :end_date, current_month_end, class: "form-control datepick", id: "end-date"
      %th
        %label Branch
        = select_tag :branch_id, options_from_collection_for_select(@branches, :id, :name, Branch.first.try(:id)), class: "form-control select-select2", id: "branch-select", prompt: "-- SELECT --"
      %th
        %label Actions
        %br
        = button_tag :submit, class: 'btn btn-success', id: "generate-btn" do
          .fa.fa-file
          Generate
        = button_tag :submit, class: 'btn btn-info', id: 'download-excel-btn' do
          .fa.fa-download
          Excel
  .ui.segment
    .ui.dimmer.inverted#loader
      .ui.loader
    %div{id: "trial-balance-section"}
      = render partial: "trial_balance_template"
  %hr

= javascript_include_tag "trial_balance"
