%input#parameters{:type => "hidden", :value => "#{params[:id]}"}

%section.content-header
  %h1
    New Time Deposit

%section.content
  .well
    .row
      .col-md-5
        %label
          OR Number
        = text_field_tag :or_number, "#{@edit_date.or_number}",id: "or_number", class: 'form-control'
      .col-md-5
        %label
          Book
        = select_tag :book, options_for_select(Voucher::BOOK_TYPES, selected: "#{@edit_date.book}"), class: "form-control select-select2", prompt: "-- SELECT --", id: 'book'
    .row
      .col-md-10
        %label
          Particular
        = text_area_tag :particular, "#{@edit_date.particular}",id: "particular", class: 'form-control'
  .well
    .row
      .col-md-4
        %label
          Member_name
        = select_tag :member_account_id, options_for_select(SavingsAccount.where(savings_type_id: 5, status: "active").collect {|a| [Member.find(a.member_id).full_name, a.id] },selected: @member), class: "form-    control select-select2", prompt: "-- SELECT --", id: 'member_account_id'
      .col-md-4
        %label
          Lock-in Amount
        = text_field_tag :lock_in_amount, "#{@edit_date.total_time_deposit_amount }",id: "lock-in-amout", class: 'form-control'
      .col-md-4
        %label
          Start Date
        = text_field_tag :start_date, current_month_start, class: 'form-control datepick', id: 'start-date'

    .row
      .col-md-4
        %label
          Lock-in perod(Month)
        /= text_field_tag :lock_in_period, 0.00,id: "lock-in-period", class: 'form-control'
        = select_tag :lock_in_amount, options_for_select((Settings.other_savings_type.first.term_map).collect { |a| a.term },selected: @lock_in_amount  ), id: "lock-in-period"  , class: 'form-control'
      .col-md-4
        %br
        = link_to "#", class: 'btn btn-primary', style: 'color: #fff;', id: 'btn-new' do
          .fa.fa-plus
          Add Member





  .box
    .box-body
      %table.table.table-sm.table-bordered.table-responsive-payments
        %thead
          %tr
            %th #
            %th Member Name
            %th Lock-in Amount
            %th Lock-in Period
            %th Lock-in Start Date
        - @data[:list_of_member].each do |o|
          %tr
            %td
              #{o[:count]}
            %td
              #{o[:member_name]}
            %td
              #{number_to_currency(o[:amount], unit: "P")}
            %td
              #{o[:lock_in_period]}
            %td
              #{o[:start_date]}

  .well
    .row
      .col-md-2
        = link_to "#", class: "btn btn-app bg-green", id: "btn-save" do
          .fa.fa-check
          Save
      .col
        = link_to "#", class: "btn btn-app bg-red", id: "btn-save" do
          .fa.fa-check
          Cancel

= javascript_include_tag "CashManagementTimeDepositForm"

:javascript
  $(document).ready(function(){
    CashManagementTimeDepositForm.init();
  
  });

