%section.content-header
  %h1
    Time Deposits
  %ol.breadcrumb
    %li
      = link_to "#", id: "btn-action", style: 'color: #fff', class: "btn btn-primary" do
        New Transaction


      = link_to list_of_time_deposit_cash_management_time_deposits_operation_details_path, class: "btn btn-xs btn-default" do
        Details

%section.content
  %table.table.table-bordered.table-responsive
    %thead
      %tr
        %th #
        %th OR Number
        %th Date of Payment
        %th Total Amount
        %th Status
        %th Action
      %tbody
      - @data.each_with_index do |a, i|
        %tr
          %td #{ i + 1 }
          %td
            - if a.or_number.include?("CHANGE-ME")
            - else
              #{a.or_number}
          %td #{a.paid_at}
          %td #{number_to_currency(a.total_time_deposit_amount, unit: "P")}
          %td #{a.status}
          %td
            = link_to cash_management_time_deposits_operation_detail_path(id: a.id), class: "btn btn-xs btn-default" do
              Details


          %input#parameters{:type => "hidden", :value => "#{a.id}"}
          





#modal-transaction.modal.fade.modal-fade
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{type:'button', data:{dismisal:'modal'}}
          %span{aria:{hidden:'true'}}
            %i.fa.fa-close
          %span.sr-only Close
        %h4.modal-title
          New Transaction
        .modal-body
          .row
            .col-md-6
              %label
                Date
              = text_field_tag :start_date, current_month_start, class: 'form-control datepick', id: 'start-date'
        .modal-footer
          %button#btn-generate.btn.btn-default{type:'button'} Generate









= javascript_include_tag "CashManagementTimeDeposit"

:javascript
  $(document).ready(function(){
    CashManagementTimeDeposit.init();
  });
