

%section.content
  %table.table.table-bordered.table-responsive
    %thead
      %tr
        %th #
        %th Member Name
        %th Lock-in Amount
        %th Lock-in Period
        %th Total Interest
        %th Start Date
        %th End Date
    %tbody
      - @list_time_deposit.each_with_index do |ltd, i|
        %tr
          %td #{ i + 1}
          %td #{Member.find(SavingsAccount.find(ltd.savings_account_id).member_id).full_name}
          %td #{number_to_currency(ltd.amount, unit: "P")}
          %td #{ltd.lock_in_period} days
          %td #{ltd.time_deposit_interest_amount}
          %td #{ltd.start_date}
          %td #{ltd.end_date}

  = render partial: "shared/voucher", locals: { voucher: @voucher}
