%input#parameters{:type => "hidden", :value => "#{params[:id]}"}

%section.content-header
  %h2
    %small
      OR Number #{PaymentCollection.find(params[:id]).or_number}

  
  %ol.breadcrumb
    - if @payment_collection.status != "approved"
      %li
        = link_to "#", id: "btn-edit", class: "btn btn-default" do
          Edit
      %li
        = link_to "#", id: "btn-approved",style: 'color: #fff' , class: "btn  btn-primary" do
          Approved

%section.content
  %table.table.table-bordered.table-responsive
    %thead
      %tr
        %th #
        %th Member Name
        %th Lock-in Amount
        %th Lock-in Period
        %th Start of Lock-in Date
    %tbody
    - @data.each_with_index do |a, i|
      %tr
        %td #{ i + 1 }
        %td #{Member.find(SavingsAccount.find(a.savings_account_id).member_id).full_name}
        %td #{number_to_currency(a.amount, unit: "P")}
        %td #{a.lock_in_period}
        %td #{a.start_date}

  = render partial: "shared/voucher", locals: { voucher: @voucher}


= javascript_include_tag "CashManagementTimeDeposit"

:javascript
  $(document).ready(function(){
    CashManagementTimeDeposit.init();
  });
