.table-responsive.no-padding
  %table.table-bordered.table
    %tbody
      %tr
        %th Title
        %th # Questions
        %th # Respondents
      - surveys.each do |survey|
        %tr.clickable{ data: { transaction_id: "#{survey.id}" } }
          %td 
            #{link_to survey, survey_path(survey)}
          %td= survey.survey_questions.question_count
          %td
            #{survey.num_respondents}
