%section.content-header
  %h1 Surveys
%section.content
  .errors_template
  - if @surveys.size == 0
    %p
      No transactions found
  - else
    = render partial: "list", locals: { surveys: @surveys }
  .pull-right
    = paginate @surveys    

= javascript_include_tag "surveys"

:javascript
  $(document).ready(function() {
    surveys.init();
  });

