%section.content-header
  %h1
    #{@survey.title}
    %small
      Survey
  %ol.breadcrumb
    %li
      = link_to print_survey_path(@survey), target: "_blank" do
        .fa.fa-download
        Download as Excel
    %li
      = link_to surveys_path, class: '' do
        .fa.fa-arrow-left
        Back to Surveys
    %li{:style => "margin-top: -10px;"}
      = link_to new_survey_survey_respondent_path(@survey), class: 'btn btn-primary bg-blue normal btn-add' do
        .fa.fa-plus
        New Respondent

%section.content
  - if @survey.survey_respondents.count > 0
    = render partial: "surveys/components/survey_respondents_list", locals: { survey: @survey, survey_respondents: @survey.survey_respondents }
  - else
    %p
      No respondents for this survey. #{link_to "Add one", new_survey_survey_respondent_path(@survey), class: 'btn-add'}.
