<table class="ui blue celled table">
  <thead>
    <tr>
      <th>Memeber</th>
      <th>Date</th>
      <th>Content</th>
    </tr>
  </thead>
  <tbody>
    <% @feedbacks.each do |fb| %>
      <tr>
        <td><%= link_to "#{fb.to_s}" %></td> 
        <td><%= fb.created_at.strftime('%A, %B%e, %Y') %></td>
        <td><%= fb.content %></td>
      </tr>
    <% end %>
  </tbody>
</table>
