%h3
  .fa.fa-bookmark
  Chart of Accounts
%table.table.table-bordered
  - MajorGroup.select("*").order(:code).each do |major_group|
    %tr
      %td{colspan: "3"}= "#{major_group} #{major_group.code}"
    - major_group.major_accounts.order(:code).each do |major_account|
      %tr
        %td
          #{major_account}
        %td{colspan: "2"}
          #{major_account.code}
      - major_account.mother_accounting_codes.each do |mother_accounting_code|
        %tr
          %td{colspan: "3"}= "#{mother_accounting_code} #{mother_accounting_code.code}"
        - mother_accounting_code.accounting_codes.each do |accounting_code|
          %tr
            %td= accounting_code.name
            %td= accounting_code.code
            %td= accounting_code.mother_accounting_code.major_account.major_group.dc_code
