.links
  .row
    .col-md-4
      = link_to accounting_chart_of_accounts_download_path, target: "_blank", class: "btn btn-info" do
        .fa.fa-download
        %div
          Download Chart of Accounts
    .col-md-4
      = link_to vouchers_path, class: "btn btn-info" do
        .fa.fa-file
        %div
          Voucher Entries
