.row
  .col-md-2
    .basicBox.links_accounting.l1
      = link_to trial_balance_path do
        Trial balance
  .col-md-2 
    .basicBox.links_accounting.l2
      = link_to general_ledger_path do
        General Ledger
  .col-md-2
    .basicBox.links_accounting.l3
      = link_to book_path("JVB") do
        Journal Voucheres
  .col-md-2
    .basicBox.links_accounting.l4
      = link_to book_path("CDB") do
        Cash Disbursements
  .col-md-2
    .basicBox.links_accounting.l5
      = link_to book_path("CRB") do
        Cash Receipts
  .col-md-2
    .basicBox.links_accounting.l6
      = link_to vouchers_path do
        Vouchers
