%div.for_non_mobile
  %h4.pending
    %span.glyphicon.glyphicon-info-sign
    Pending Vouchers
    %div{style: "float: right;"}
      = link_to new_voucher_path, class: "btn btn-default btn-xs" do
        %span.glyphicon.glyphicon-plus
        New Voucher
      = link_to vouchers_path, class: "btn btn-default btn-xs" do
        %span.glyphicon.glyphicon-list
        View All
  %table.table.table-bordered
    %thead
      %tr
        %th{style: "width: 10%"} Date
        %th{style: "width: 15%"} Branch
        %th{style: "width: 30%"} Particular
        %th{style: "width: 30%"} Amount
        %th{style: "width: 15%"} Actions
      - @pending_vouchers.each do |voucher|
        %tr
          %td= voucher.date_prepared.strftime("%d-%b-%Y")
          %td= voucher.branch
          %td= voucher.particular
          %td= number_to_currency(voucher.total_debit, unit: "P")
          %td
            = link_to "Details", voucher_path(voucher), class: "btn btn-xs btn-info"
%div.for_mobile
  %h4
    %span.glyphicon.glyphicon-info-sign
    Pending Vouchers
    %div
      = link_to new_voucher_path, class: "btn btn-default btn-xs" do
        %span.glyphicon.glyphicon-plus
        New Voucher
      = link_to vouchers_path, class: "btn btn-default btn-xs" do
        %span.glyphicon.glyphicon-list
        View All
  %table.table.table-bordered
    %thead
      - @pending_vouchers.each do |voucher|
        %tr
          %th Date
          %td= voucher.date_prepared.strftime("%d-%b-%Y")
        %tr
          %th Branch
          %td= voucher.branch
        %tr
          %th Particular
          %td= voucher.particular
        %tr
          %th Amount
          %td= number_to_currency(voucher.total_debit, unit: "P")
        %tr
          %th Actions
          %td= link_to "Details", voucher_path(voucher), class: "btn btn-xs btn-info"
            
            
            
            
            
