%div.for_non_mobile
  %h4.pending
    %span.glyphicon.glyphicon-info-sign
    Pending Individual Payments
    .listHeaderActions
      = link_to accounting_loan_payments_path, class: "btn btn-xs btn-default" do
        %span.glyphicon.glyphicon-list
        View All
  %table.table.table-bordered
    %thead
      %tr
        %th{style: "width: 15%"} Date
        %th{style: "width: 30%"} Member
        %th{style: "width: 30%"} Amount
        %th{style: "width: 25%"} Actions
        - @pending_loan_payments.each do |loan_payment|
          %tr
            %td= loan_payment.paid_at.strftime("%d-%b-%Y")
            %td= link_to loan_payment.loan.member, member_path(loan_payment.loan.member)
            %td= number_to_currency(loan_payment.amount, unit: "P")
            %td
              = link_to loan_loan_payment_path(loan_payment.loan, loan_payment), class: "btn btn-default btn-xs" do
                %span.glyphicon.glyphicon-search
                Details

%div.for_mobile
  %h4
    %span.glyphicon.glyphicon-info-sign
    Pending Individual Payments
    %div
      = link_to accounting_loan_payments_path, class: "btn btn-xs btn-default" do
        %span.glyphicon.glyphicon-list
        View All
  %table.table.table-bordered
    %thead
      - @pending_loan_payments.each do |loan_payment|
        %tr
          %th Date
          %td= loan_payment.paid_at.strftime("%d-%b-%Y")
        %tr
          %th Member
          %td= link_to loan_payment.loan.member, member_path(loan_payment.loan.member)
        %tr
          %th Amount
          %td= number_to_currency(loan_payment.amount, unit: "P")
        %tr
          %th Actions
          %td = link_to loan_loan_payment_path(loan_payment.loan, loan_payment), class: "btn btn-default btn-xs" do
          %span.glyphicon.glyphicon-search
          Details
              
              
              
              
