%div.for_non_mobile
  %h4.pending
    %span.glyphicon.glyphicon-info-sign
    Pending Insurance Transactions
    .listHeaderActions
      = link_to new_insurance_account_transaction_path(transaction_type: 'withdraw'), class: "btn btn-xs btn-default" do
        %span.glyphicon.glyphicon-export
        Withdraw
      = link_to new_insurance_account_transaction_path(transaction_type: 'deposit'), class: "btn btn-xs btn-default" do
        %span.glyphicon.glyphicon-import
        Deposit
      = link_to insurance_account_transactions_path, class: "btn btn-xs btn-default" do
        %span.glyphicon.glyphicon-list
        View All
  %table.table.table-bordered
    %thead
      %tr
        %th{style: "width: 10%"} Date
        %th{Style: "width: 15%"} Type
        %th{style: "width: 30%"} Account
        %th{style: "width: 30%"} Amount
        %th{style: "width: 15%"} Actions
      - @pending_insurance_transactions.each do |insurance_account_transaction|
        %tr
          %td= insurance_account_transaction.transacted_at.strftime("%d-%b-%Y")
          %td= insurance_account_transaction.transaction_type
          %td= insurance_account_transaction.insurance_account
          %td= number_to_currency(insurance_account_transaction.amount, unit: "P")
          %td= link_to "Details", insurance_account_transaction_path(insurance_account_transaction), class: "btn btn-info btn-xs"

%div.for_mobile
  %h4
    %span.glyphicon.glyphicon-info-sign
    Pending Insurance Transactions
    %div
      = link_to new_insurance_account_transaction_path(transaction_type: 'withdraw'), class: "btn btn-xs btn-default" do
        %span.glyphicon.glyphicon-export
        Withdraw
      = link_to new_insurance_account_transaction_path(transaction_type: 'deposit'), class: "btn btn-xs btn-default" do
        %span.glyphicon.glyphicon-import
        Deposit
      = link_to insurance_account_transactions_path, class: "btn btn-xs btn-default" do
        %span.glyphicon.glyphicon-list
        View All
  %table.table.table-bordered
    %thead
      - @pending_insurance_transactions.each do |insurance_account_transaction|
        %tr
          %th{style: "width: 10%"} Date
          %td= insurance_account_transaction.transacted_at.strftime("%d-%b-%Y")
        %tr
          %th{Style: "width: 15%"} Type
          %td= insurance_account_transaction.transaction_type
        %tr
          %th{style: "width: 30%"} Account
          %td= insurance_account_transaction.insurance_account
        %tr
          %th{style: "width: 30%"} Amount
          %td= number_to_currency(insurance_account_transaction.amount, unit: "P")
        %tr
          %th{style: "width: 15%"} Actions
          %td= link_to "Details", insurance_account_transaction_path(insurance_account_transaction), class: "btn btn-info btn-xs"
