%div.for_non_mobile
  %h4.pending
    %span.glyphicon.glyphicon-info-sign
    Pending Collections
    .listHeaderActions
      = link_to collection_payments_path, class: "btn btn-xs btn-default" do
        %span.glyphicon.glyphicon-list
        View All

  %table.table.table-bordered
    %thead
      %tr
        %th{style: "width: 10%"} Date
        %th{style: "width: 10%"} Branch
        %th{style: "width: 10%"} Center
        %th{style: "width: 50%"} Amount
        %th{style: "width: 20%"} Actions
      - @pending_collection_payments.each do |collection_payment|
        %tr
          %td= collection_payment.paid_at.strftime("%d-%b-%Y")
          %td= collection_payment.branch
          %td= collection_payment.center
          %td= number_to_currency(collection_payment.amount, unit: "P")
          %td= link_to "Details", collection_payment_path(collection_payment), class: "btn btn-xs btn-info"

%div.for_mobile
  %h4
    %span.glyphicon.glyphicon-info-sign
    Pending Collections
    %div
      = link_to collection_payments_path, class: "btn btn-xs btn-default" do
        %span.glyphicon.glyphicon-list
        View All
  %table.table.table-bordered
    %thead
      - @pending_collection_payments.each do |collection_payment|
        %tr
          %th{style: "width: 10%"} Date
          %td= collection_payment.paid_at.strftime("%d-%b-%Y")
        %tr
          %th{style: "width: 15%"} Branch
          %td= collection_payment.branch
        %tr
          %th{style: "width: 60%"} Amount
          %td= number_to_currency(collection_payment.amount, unit: "P")
        %tr
          %th{style: "width: 25%"} Actions
          %td= link_to "Details", collection_payment_path(collection_payment), class: "btn btn-xs btn-info"
