%div.for_non_mobile
  %h4.pending
    %span.glyphicon.glyphicon-info-sign
    Pending Savings Transactions
    .listHeaderActions
      = link_to new_savings_account_transaction_path(transaction_type: 'withdraw'), class: "btn btn-xs btn-default" do
        %span.glyphicon.glyphicon-export
        Withdraw
      = link_to new_savings_account_transaction_path(transaction_type: 'deposit'), class: "btn btn-xs btn-default" do
        %span.glyphicon.glyphicon-import
        Deposit
      = link_to savings_account_transactions_path, class: "btn btn-xs btn-default" do
        %span.glyphicon.glyphicon-list
        View All
  %table.table.table-bordered
    %thead
      %tr
        %th{style: "width: 10%"} Date
        %th{Style: "width: 15%"} Type
        %th{style: "width: 30%"} Account
        %th{style: "width: 30%"} Amount
        %th{style: "width: 15%"} Actions
      - @pending_savings_transactions.each do |savings_account_transaction|
        %tr
          %td= savings_account_transaction.transacted_at.strftime("%d-%b-%Y")
          %td= savings_account_transaction.transaction_type
          %td= savings_account_transaction.savings_account
          %td= number_to_currency(savings_account_transaction.amount, unit: "P")
          %td= link_to "Details", savings_account_transaction_path(savings_account_transaction), class: "btn btn-info btn-xs"

%div.for_mobile
  %h4
    %span.glyphicon.glyphicon-info-sign
    Pending Savings Transactions
    %div
      = link_to new_savings_account_transaction_path(transaction_type: 'withdraw'), class: "btn btn-xs btn-default" do
        %span.glyphicon.glyphicon-export
        Withdraw
      = link_to new_savings_account_transaction_path(transaction_type: 'deposit'), class: "btn btn-xs btn-default" do
        %span.glyphicon.glyphicon-import
        Deposit
      = link_to savings_account_transactions_path, class: "btn btn-xs btn-default" do
        %span.glyphicon.glyphicon-list
        View All
  %table.table.table-bordered
    %thead
      - @pending_savings_transactions.each do |savings_account_transaction|
        %tr
          %th{style: "width: 10%"} Date
          %td= savings_account_transaction.transacted_at.strftime("%d-%b-%Y")
        %tr
          %th{Style: "width: 15%"} Type
          %td= savings_account_transaction.transaction_type
        %tr
          %th{style: "width: 30%"} Account
          %td= savings_account_transaction.savings_account
        %tr
          %th{style: "width: 30%"} Amount
          %td= number_to_currency(savings_account_transaction.amount, unit: "P")
        %tr
          %th{style: "width: 15%"} Actions
          %td= link_to "Details", savings_account_transaction_path(savings_account_transaction), class: "btn btn-info btn-xs"

    
         

      
     
         
          
          
         
