%section.content-header
  %h1
    Balance Sheet

%section.content
  #balance-sheet-section
    Loading balance sheet...

= render partial: "accounting/pages/templates/balance_sheet"
= javascript_include_tag "accounting/BalanceSheet"
:javascript
  $(document).ready(function() {
    BalanceSheet.init();
  });
