%section.content-header
  %h1
    Chart of Accouts
  %ol.breadcrumb
    %li
      = link_to print_chart_of_accounts_path, target: "_blank" do
        .fa.fa-download
        Download as Excel
    %li
      = link_to chart_of_accounts_pdf_path, target: "_blank" do
        .fa.fa-download
        Download as PDF
    %li
      = link_to "#", target: "_blank" do
        .fa.fa-print
        Print    
%section.content
  %table.ui.green.table.table-bordered
    - MajorGroup.select("*").order(:code).each do |major_group|
      %tr
        %th
          #{major_group}
        %th{colspan: "2"}
          #{major_group.code.rjust(8, "0")}
      - major_group.major_accounts.order(:code).each do |major_account|
        %tr
          %th
            #{major_account} 
          %th{colspan: "2"}
            #{major_account.code.rjust(8, "0")}
        - major_account.mother_accounting_codes.each do |mother_accounting_code|
          %tr
            %th
              #{mother_accounting_code}
            %th{colspan: "2"}
              #{mother_accounting_code.code.rjust(8, "0")}
          - mother_accounting_code.accounting_code_categories.each do |accounting_code_category|
            %tr
              %th= accounting_code_category.name
              %th{colspan: "2"} #{accounting_code_category.code.rjust(8, "0")}
            - accounting_code_category.accounting_codes.each do |accounting_code|
              %tr
                %td= accounting_code.name
                %td= accounting_code.code
                %td= accounting_code.accounting_code_category.mother_accounting_code.major_account.major_group.dc_code

