:css
  .fsize{
    font-size: 92%;
  }

  .fotsize{
    font-size: 10%;
  }

  .page{
    position: fixed;
    bottom:0;
    left: 0;
    page-break-before:always;
    counter-reset: page 1;
    counter-increment:page;
  }

  .page:after{
    text-align:left;
    content:counter(page);
  }

  .first.page {
    page-break-before:avoid;
  }

  .title{
    counter-reset:page;
  }
%span
  %center
    %br
    %p
      #{@data[:company]}
      %br
      VAT Registration Tin Number :#{Settings.tin_number}
      %br
        #{Settings.company_address}
    %h3
      Chart Of Accounts
%table
  %thead
    %tr
      %th
        Account Name
      %th
        Account Code
    %tbody
    - @data[:major_groups].each do |mg|
      %tr
        %td
          %b #{mg[:name]}
        %td.acc-curr
          %b #{mg[:code].rjust(8, "0")}
      
      - mg[:major_accounts].each do |ma|
        %tr
          %td
            %b #{ma[:name]}
          %td.acc-curr
            %b #{ma[:code].rjust(8, "0")}

        - ma[:mother_accounting_codes].each do |mac|
          %tr
            %td
              %b #{mac[:name]}
            %td.acc-curr
              %b #{mac[:code].rjust(8, "0")}
          
          - mac[:accounting_code_categories].each do |acc|
            %tr
              %td
                %b #{acc[:name]}
              %td.acc-curr
                %b #{acc[:code].rjust(8, "0")}

            - acc[:accounting_codes].each do |ac|
              %tr
                %td
                  #{ac[:name]}
                %td.acc-curr
                  #{ac[:code]}
