#accounting-dashboard
  .container-fluid
    .row
      .col-md-12
        .panel.panel-default
          .panel-heading
            Accounting Dashboard
          .panel-body
            = render partial: "accounting/pages/links"
            .row
              .col-md-12
                = render partial: "accounting/pages/chart_of_accounts"
