%section.content-header
  %h1
    Income Statement

  %ol.breadcrumb
    %li
      = link_to "#", target: "_blank" do
        .fa.fa-download
        Download as Excel

    %li
      = link_to income_statement_pdf_path, target: "_blank" do
        .fa.fa-download
        Download as PDF



%section.content
  #income-statement-section
    Loading income statement...

= render partial: "accounting/pages/templates/income_statement"
= javascript_include_tag "accounting/IncomeStatement"
:javascript
  $(document).ready(function() {
    IncomeStatement.init();
  });
