:css
  .fsize{
    font-size: 92%;
  }

  .fotsize{
    font-size: 10%;
  }

  .page{
    position: fixed;
    bottom:0;
    left: 0;
    page-break-before:always;
    counter-reset: page 1;
    counter-increment:page;
  }

  .page:after{
    text-align:left;
    content:counter(page);
  }

  .first.page {
    page-break-before:avoid;
  }

  .title{
    counter-reset:page;
  }
%span
  %center
    %br
    %p
      #{@data[:company]}
      %br 
      VAT Registration Tin Number:#{Settings.tin_number}
      %br
        #{Settings.company_address}
    %h3
      Income Statement

%table
  %tbody
    - @data[:revenue].each do |rev|
      %tr
        %td{:style => "width:90%"}
          %b{:style => "font-size:x-large"}#{rev[:name]}
      - rev[:major_accounts].each do |rev_major_acc|
        %tr
          %td
            %b{:style => "font-size:large"} #{rev_major_acc[:name]}
        - rev_major_acc[:mother_accounting_codes].each do |rev_mother_acc|
          %tr
            %td
              %b{:style => "font-size:medium"} #{rev_mother_acc[:name]}
          - rev_mother_acc[:accounting_code_categories].each do |rev_acc_code_cat|
            %tr
              %td
                %b #{rev_acc_code_cat[:name]}
            - rev_acc_code_cat[:accounting_codes].each do |rev_acc_code|
              %tr
                %td
                  #{rev_acc_code[:code]} #{rev_acc_code[:name]}
                %td.acc-curr
                  #{rev_acc_code[:rev_total]}
            %tr
              %td
                %b #{rev_acc_code_cat[:total_data]} #{rev_acc_code_cat[:name]}
              %td.acc-curr
                %b #{rev_acc_code_cat[:total]}
          %tr
            %td
              %b{:style => "font-size:medium"} #{rev_mother_acc[:total_data]} #{rev_mother_acc[:name]}
            %td.acc-curr
              %b{:style => "font-size:medium"} #{rev_mother_acc[:total]}
        %tr
          %td
            %b{:style => "font-size:large"}#{rev_major_acc[:total_data]} #{rev_major_acc[:name]}
          %td.acc-curr
            %b{:style => "font-size:large"}#{rev_major_acc[:total]}
      %tr
        %td
          %b{:style => "font-size:x-large"}#{rev[:total_data]} #{rev[:name]}
        %td.acc-curr
          %b{:style => "font-size:x-large"}#{@data[:total_revenue]}
%br
%table
  %tbody
    - @data[:expense].each do |expns|
      %tr
        %td  
          %b{:style => "font-size:x-large"}
            #{expns[:name]}
      - expns[:major_accounts].each do |major_acc|
        %tr
          %td
            %b{:style => "font-size:large"} #{major_acc[:name]}
        - major_acc[:mother_accounting_codes].each do |mother_acc|
          %tr
            %td
              %b{:style => "font-size:medium"} #{mother_acc[:name]}
          - mother_acc[:accounting_code_categories].each do |acc_code_cat|
            %tr
              %td
                %b #{acc_code_cat[:name]}
            - acc_code_cat[:accounting_codes].each do |acc_code|
              %tr
                %td{:style => "width:90%"}
                  #{acc_code[:code]}  #{acc_code[:name]}
                %td.acc-curr
                  #{acc_code[:exp_total]}
            %tr
              %td 
                %b #{acc_code_cat[:total_data]} #{acc_code_cat[:name]}
              %td.acc-curr
                %b #{acc_code_cat[:total]}
          %tr
            %td
              %b{:style => "font-size:medium"}#{mother_acc[:total_data]} #{mother_acc[:name]}
            %td.acc-curr
              %b{:style => "font-size:medium"}#{mother_acc[:total]}
        %tr
          %td
            %b{:style => "font-size:large"} #{major_acc[:total_data]} #{major_acc[:name]}
          %td.acc-curr
            %b{:style => "font-size:large"} #{major_acc[:total]}
      %tr
        %td
          %b{:style => "font-size:x-large"} #{expns[:total_data]} #{expns[:name]}
        %td
          %b{:style => "font-size:x-large"} #{@data[:total_expense]}
%br
%table
  %tbody
    %tr
      %td{:style => "width:90%"}
        %b{:style => "font-size:x-large"} TOTAL NET INCOME                      
      %td.acc-curr
        %b{:style => "font-size:x-large"}#{@data[:total_net_income]}

.page
  .title.fotsize
  %small 
    Kooperative Online Information System Version 1.0 Date Printed: #{Time.now.strftime("%m/%d/%y %H:%M")}| #{@current_user.username} | PAGE
