%section.content-header
  %h1 Interest on Share Capital
%section.content
  %table.table.table-bordered.table-responsive
    %tr
      %th
        %label Start Date
        = text_field_tag :start_date, current_month_start, class: 'form-control  datepick', id: 'start-date'
      %th
        %label As Of
        = text_field_tag :end_date, current_month_end, class: 'form-control datepick', id: 'end-date'
      %th
        %label Sample
        %br
        = link_to "#", id: "btn-action", class: "btn btn-primary" do 
          New Transaction

  .box
    .box-body
      #share-capital-interest-section


#modal-transaction.modal.fade.modal-fade
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{type:'button', data:{dismiss:'modal'}}
          %span{aria:{hidden:'true'}}
            %i.fa.fa-close
          %span.sr-only Close
        %h4.modal-title
          New Transaction
      .modal-body
        .row
          .col-md-6
            %label
              Rate
            = text_field_tag :equity_interest, 0.00, id: "equity-interest", class: 'form-control'
      .modal-footer
        %button#btn-generate.btn.btn-default{type:'button', data:{dismiss:'modal'}} Close
        %button#btn-save{type:'button'} Save


= render partial: "accounting/pages/templates/share_capital_interest"
= javascript_include_tag "accounting/InterestOnShareCapital"

:javascript
  $(document).ready(function() {
   InterestOnShareCapital.init();
  });





