%section.content-header
  %h1
    Program Status

%section.content
  = text_field_tag :first_month,'',class: 'form-control', id: 'first-month' 

  = button_tag :submit, class: 'btn btn-success', id: "btn-generate" do
    .fa.fa-file
    Generate
  .box
    .box-body
      #program-status-section

= render partial: "accounting/pages/templates/program_status_reports"
= javascript_include_tag "accounting/ProgramStatusReports"

:javascript
  $(document).ready(function() {
    ProgramStatusReports.init();

  });
