%section.content-header
  %h1
    Year End Closing Insurance
%section.content
  #filter
    %table.table.table-bordered.table-responsive
      %tr
        %th
          %label Start Date:
          = text_field_tag :start_date, nil, class: "form-control datepick", id: "start-date"
        %th
          %label End Date:
          = text_field_tag :end_date, nil, class: "form-control datepick", id: "end-date"
        %th
          %label Actions
          %br
            = link_to "#", class: "btn btn-primary", id: "generate-btn" do
              .fa.fa-download
              Generate
  #year-end-closing-insurance-section
    Loading...
= render partial: "accounting/pages/templates/year_end_closing_insurance_template"
= render partial: "shared/loading_modal"
= javascript_include_tag "closing/Closing.YearEndInsurance"

:javascript
  $(document).ready(function() {
    Closing.YearEndInsurance.init();
  });
