%section.content-header
  %h1
    Year End Closing
%section.content
  #year-end-closing-section
    Loading...

= render partial: "accounting/pages/templates/year_end_closing_template"
= render partial: "shared/loading_modal"
= javascript_include_tag "closing/Closing.YearEnd"

:javascript
  $(document).ready(function() {
    Closing.YearEnd.init();
  });
