= form_tag adjustments_deposits_payment_collections_path, html: { novalidate: true }, method: "GET", defaults: { wrapper_html: { class: 'form-group' }, input_html: { class: 'form-control simple_form' } } do
  %table.table.table-responsive
    %tr
      %th
        %label OR Number
        %input{ type: "text", placeholder: "OR Number", id: "filter-or-number", class: "form-control", value: "#{@or_number}", name: "or_number" }
      %th
        %label Start Date
        %input{ type: "text", class: "datepick form-control", placeholder: "Start Date", id: "filter-start-date", value: "#{@start_date}", name: "start_date" }
      %th
        %label End Date
        %input{ type: "text", class: "datepick form-control", placeholder: "End Date", id: "filter-end-date", value: "#{@end_date}", name: "end_date" }
      %th
        %label Center
        = select_tag :center_id, options_from_collection_for_select(Center.where(branch_id: @branches.pluck(:id)), :id, :name, @center_id), id: "filter-center-select", class: "form-control select-select2", prompt: "-- SELECT --"
      %th
        %label Status
        = select_tag :status, options_for_select(PaymentCollection::STATUSES, @status), id: "filter-status", prompt: "-- ALL --", class: "form-control"
      %th
        %label Actions
        %br
        %button#btn-filter.btn.btn-primary{ type: "submit" }
          .fa.fa-search
          Search
