%table.table.payments.table-bordered
  %tbody
    %tr
      %th OR Number
      %th Date
      %th Centers
      %th.accounting-curr Total Amount
      %th Status
    - @payment_collections.each do |pc|
      %tr.clickable{ data: { transaction_id: "#{pc.id}" } }
        %td 
          - if pc.or_number.include?("CHANGE-ME")
          - else
            #{pc.or_number}
        %td #{pc.paid_at.strftime("%B %d, %Y")}
        %td
          #{pc.centers.join(",")}
        %td.curr #{number_to_currency(pc.total_amount, unit: "")}
        %td #{pc.status}
