%section.content-header
  %h1
    Deposits for Resigned Members
  %ol.breadcrumb
    %li{:style => "margin-top: -10px;"}
      = link_to "#", id: "btn-new-transaction", class: 'btn btn-primary bg-blue', style: 'color: #fff;' do
        .fa.fa-plus
        New Transaction
%section.content
  = render partial: "filter"
  .box
    .box-body
      - if @payment_collections.size == 0
        %p
          No records found
      - else
        = render partial: "list", locals: { payment_collections: @payment_collections }
        .row
          .col-md-12
            .pull-right
              = paginate @payment_collections

= render partial: "modal_new_transaction"
= javascript_include_tag "adjustments/deposits/payment_collections/Index"
:javascript
  $(document).ready(function() {
    Index.init(); 
  });
