#parameters{ data: { payment_collection_id: @payment_collection.id } }

%section.content-header
  %h1
    Deposit for Resignation: #{@payment_collection.or_number}
    %small
      #{@payment_collection.paid_at.strftime("%b %d, %Y")}
  %ol.breadcrumb
    %li
      #{link_to "Deposits (Resignation)", adjustments_deposits_payment_collections_path}
    %li
      Show
%section.content
  .box
    .box-body
      = render partial: "actions", locals: { payment_collection: @payment_collection }
      = render partial: "shared/errors"
  .label.label-lg.label-info
    OR Number: #{@payment_collection.or_number}
  - if Settings.activate_microinsurance  
    .label.label-lg.label-primary
      Accounting Fund: #{@voucher.accounting_fund}
    .label.label-lg.label-info
      Book: #{@voucher.book}  
  = render partial: "payment_records", locals: { payment_collection: @payment_collection }
  = render partial: "shared/voucher", locals: { voucher: @voucher }

= render partial: "approve_modal"
= render partial: "shared/errors_template"
= render partial: "shared/success_template"
= render partial: "shared/errors"
= javascript_include_tag "adjustments/deposits/payment_collections/Show"

:javascript
  $(document).ready(function() {
    Show.init();
  });
