.well
  - if payment_collection.pending?
    = link_to edit_insurance_payment_collection_path(payment_collection), class: "btn btn-app" do
      .fa.fa-pencil
      Edit
    - if ["MIS", "ACC", "SBK"].include? current_user.role
      = link_to "#", class: "btn btn-app bg-green", id: "btn-approve" do
        .fa.fa-check
        Approve
    = link_to insurance_payment_collection_path(payment_collection), class: "btn btn-app bg-red", method: :delete, data: { confirm: "Are you sure?" } do
      .fa.fa-times
      Delete
  / Common links
  / = link_to print_cash_management_fund_transfer_path(payment_collection), target: "_blank", class: "btn btn-app", id: "btn-print-excel" do
  /   .fa.fa-print
  /   Download Excel
  = link_to insurance_payment_collection_pdf_path(payment_collection), target: "_blank", class: "btn btn-app", id: "btn-print-pdf" do
    .fa.fa-print
    Print PDF