%table.table.table-bordered.table-responsive
  %tr
    %th
      %label OR Number
      %input{ type: "text", placeholder: "OR Number", id: "filter-or-number", value: "#{@or_number}", class: "form-control" }
    %th
      %label Start Date
      %br
      %input{ type: "text", class: "datepick form-control", placeholder: "Start Date", id: "filter-start-date", value: "#{@start_date}" }
    %th
      %label End Date
      %br
      %input{ type: "text", class: "datepick form-control", placeholder: "End Date", id: "filter-end-date", value: "#{@end_date}" }
    %th
      %label Branch
      = select_tag :branch_id, options_for_select(@branches.collect{ |o| [o.name, o.id] }, @branch_id), class: "select-select2 branch-select", id: "filter-branch-select", prompt: "-- ALL --"
    %th
      %label Center
      = select_tag :branch_id, options_for_select(@centers.collect{ |o| [o.name, o.id] }, @center_id), class: "select-select2 center-select", id: "filter-center-select", prompt: "-- ALL --"
    %th
      %label Status
      = select_tag :status, options_for_select(PaymentCollection::STATUSES, @status), id: "filter-status", prompt: "-- ALL --", class: "form-control"
    %th
      %label Actions
      %br
      #btn-filter.btn.btn-info
        .fa.fa-search
        Search
