%section.content-header
  %h1
    Insurance Payment Form
    %small
      #{@payment_collection.center}
  %ol.breadcrumb
    %li
      #{link_to "Payments", insurance_payment_collections_path}
    %li
      #{link_to "Show", insurance_payment_collection_path(@payment_collection)}
    %li
      Edit
%section.content
  .box
    .box-body
      = render partial: "form", locals: { payment_collection: @payment_collection }
