%section.content-header
  %h1
    Insurance Remittance
  %ol.breadcrumb
    %li{:style => "margin-top: -10px;"}
      = link_to "#", class: 'btn btn-primary bg-blue', style: 'color: #fff;', id: "btn-new-insurance" do
        .fa.fa-plus
        Generate Transaction
%section.content
  .errors
  = render partial: "filter"
  .box
    .box-body
      - if @payment_collections.size == 0
        %p
          No transactions found
      - else
        = render partial: "list", locals: { payment_collections: @payment_collections }

= render partial: "generate_billing_modal"
= render partial: "shared/errors_template"
= render partial: "shared/success_template"
= render partial: "shared/loading_modal"
= javascript_include_tag "InsurancePaymentCollections"


:javascript
  $(document).ready(function() {
    InsurancePaymentCollections.init();
  });

