#parameters{ data: { payment_collection_id: @payment_collection.id } }

%section.content-header
  %h1
    Insurance Payment
    %small
      #{@payment_collection.center} | #{@payment_collection.prepared_by} | OR Number: #{@payment_collection.or_number} | #{@payment_collection.paid_at.strftime("%b %d, %Y")}
  %ol.breadcrumb
    %li
      #{link_to "Payment Collections", insurance_payment_collections_path}
    %li
      Show
%section.content
  - if @payment_collection.reversed?
    .bs-callout.bs-callout-danger
      %h3
        .fa.fa-warning
        Warning: This transaction has been reversed.
  = render partial: "actions", locals: { payment_collection: @payment_collection }
  = render partial: "shared/errors"
  .label.label-lg.label-info
    OR Number: #{@payment_collection.or_number}
  - if Settings.activate_microinsurance  
    .label.label-lg.label-primary
      Accounting Fund: #{@voucher.accounting_fund}
    .label.label-lg.label-info
      Book: #{@voucher.book}
    .label.label-lg.label-primary
      Payee: #{@voucher.payee}
  .box
    .box-body
      = render partial: "payment_records", locals: { payment_collection: @payment_collection }
      = render partial: "shared/voucher", locals: { voucher: @voucher }
      - if @payment_collection.approved? and ["MIS", "SBK"].include? current_user.role
        = render partial: "danger", locals: { payment_collection: @payment_collection }

= render partial: "approve_modal"
= render partial: "reverse_modal"
= render partial: "shared/errors_template"
= render partial: "shared/success_template"
= render partial: "shared/errors"
= javascript_include_tag "InsurancePaymentCollection"

:javascript
  $(document).ready(function() {
    InsurancePaymentCollection.init();
  });
