#confirmation-modal.ui.modal
  %i.close.icon
  .header
    Approval Confirmation
  .image.content
    .description
      .ui.header You are about to confirm an insurance fund transfer
      %p Are you sure you want to approve this transaction?
  .actions
    #btn-confirm-approval.btn.btn-success
      .fa.fa-check
      Approve
    .btn.btn-danger.deny.button
      Cancel
