%table.table.table-bordered.table-responsive
  %tr
    %th
      %label Branch
      = select_tag :branch_id, options_from_collection_for_select(@branches, :id, :name, Branch.first.try(:id)), class: "form-control select-select2", id: "filter-branch-select", prompt: "-- SELECT --"
    %th
      %label Status
      = select_tag :status, options_for_select(PaymentCollection::STATUSES, @status), id: "filter-status", prompt: "-- ALL --", class: "form-control"
    %th
      %label Start Date
      %input{ type: "text", class: "datepick form-control", placeholder: "Start Date", id: "filter-start-date", value: "#{@start_date}" }
    %th
      %label End Date
      %input{ type: "text", class: "datepick form-control", placeholder: "End Date", id: "filter-end-date", value: "#{@end_date}" }
    %th
      %label Actions
      %br
      %button#btn-filter.btn.btn-primary
        .fa.fa-search
        Search
 
