#generate-billing-modal.modal.fade{role: "dialog", "aria-labelledby" => "generate-billing-modal", "aria-hidden" => "true"}
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", "aria-hidden" => "true"}
        %h4 Generate New Billing
      .modal-body
        .row
          .col-md-4
            %label
              Branch
            = select_tag :branch_id, options_for_select(@branches.collect{ |o| [o.name, o.id] }), class: "select-select2", id: "modal-branch-select"
          .col-md-4
            %label
              Center
            = select_tag :center_id, [], class: "select-select2", id: "modal-center-select"
          .col-md-4
            %label
              Date of Payment
            %input{ type: "text", id: "date-of-payment", class: "form-control datepick", value: Time.now.strftime("%Y-%m-%d") }
      .modal-footer
        %button#btn-generate-billing.btn.btn-success
          Generate Billing
        %button.btn.btn-danger{"data-dismiss" => "modal"}
          Close
