%table.table.table-responsive.table-bordered.table{:style => "margin-top: 10px;"}
  %tbody
    %tr
      %th Paid at
      %th Branch
      %th.accounting-curr Total Amount
      %th status
    - @payment_collections.each do |pc|
      %tr.clickable{ data: { transaction_id: "#{pc.id}" } }
        %td #{pc.paid_at.strftime("%B %d, %Y")}
        %td #{pc.branch}
        %td.curr #{number_to_currency(pc.total_amount, unit: "P")}
        %td #{pc.status}
        
