%table.table.table-bordered.table-responsive.transaction-table
  %thead
    %tr
      %th{width: "2%"}
      %th{width: "20%"} Member
      - @insurance_types.order("name ASC").each do |insurance_type|
        %th #{insurance_type.code}
      %th Amt Rec
  %tbody
    - payment_collection.payment_collection_records.joins(:member).order("members.last_name ASC").each_with_index do |payment_collection_record, i|
      %tr
        %td #{i + 1}
        %td
          = link_to "#{payment_collection_record.member.full_name}", member_path(payment_collection_record.member), target: "_blank"
        - @insurance_types.order("name ASC").each do |insurance_type|
          %td
            - payment_collection_record.collection_transactions.where(account_type: "INSURANCE_FUND_TRANSFER").each do |collection_transaction|
              - if collection_transaction.account_type == "INSURANCE_FUND_TRANSFER" and collection_transaction.account_type_code == insurance_type.code
                #{number_to_currency(collection_transaction.amount, unit: "P")}
                #{collection_transaction.payment_collection_record.member.nil? ? "ERR (ct_id: #{collection_transaction.id})" : ""}
        %td
          #{number_to_currency(payment_collection_record.total_cp_amount, unit: "P")}
  %thead
    %tr
      %th
      %th{width: "20%"} Total
      - @insurance_types.order("name ASC").each do |insurance_type|
        %th #{number_to_currency(CollectionTransaction.where(payment_collection_record_id: payment_collection.payment_collection_records.pluck(:id), account_type: "INSURANCE_FUND_TRANSFER", account_type_code: insurance_type.code).sum(:amount), unit: "P")}
      %th #{number_to_currency(payment_collection.total_amount, unit: "P")}
