#reverse-confirmation-modal.ui.modal
  %i.close.icon
  .header
    Reverse Confirmation
  .image.content
    .description
      .ui.header You are about to reverse an insurance fund transfer
      %p Are you sure you want to continue with this transaction?
  .actions
    .ui.black.deny.button
      Cancel
    #btn-reverse-confirm.ui.green.button
      .fa.fa-check
      Continue
