%section.content-header
  %h1
    Insurance Fund Transfer Form
    %small
      #{@payment_collection.paid_at}
  %ol.breadcrumb
    %li
      #{link_to "Payments", cash_management_fund_transfer_insurance_payment_collections_path}
    %li
      #{link_to "Show", cash_management_fund_transfer_insurance_payment_collection_path(@payment_collection)}
    %li
      Edit
%section.content
  = render partial: "form", locals: { payment_collection: @payment_collection }
