%section.content-header
  %h1 Insurance Fund Transfers
  %ol.breadcrumb
    %li{:style => "margin-top: -10px;"}
      = link_to "#", id: 'btn-new-transaction', class: 'btn btn-primary bg-blue', style: 'color: #fff;' do
        .fa.fa-plus
        Add Fund Transfer Record
%section.content
  = render partial: "filter"
  - if @payment_collections.size == 0
    %p
      No payment collections found
  - else
    = render partial: "list", locals: { payment_collections: @payment_collections }
    .row
      .col-md-12
        .pull-right
          = paginate @payment_collections    
 
= render partial: "cash_management/fund_transfer/insurance/payment_collections/components/modal_new_transaction"
= render partial: "shared/loading_modal"
= render partial: "shared/success_template"
= render partial: "shared/errors_template"
= javascript_include_tag "CashManagementFundTransferInsurancePaymentCollections"

:javascript
  $(document).ready(function() {
    CashManagementFundTransferInsurancePaymentCollections.init();
  });
