:css
  .print-text {
    font-size: 1em;
    font-family: calibri;
  }

  .print-text-sub {
    font-size: 1.1em;
    font-family: calibri;
  }

  table.insurance th.header{
    text-align: left;
    font-weight: bold;
  }

%span.print-text
  %center
    %br
    %p
      %b
        #{Settings.company}
      %br  
      %b
        #{Settings.company_address}
      %br  
      %b
        Cash Management - Fund Transfer
%left
  %br
  %span.print-text-sub
    %p
      %b
        OR No.: #{@payment_collection.or_number.rjust(8, '0')}
  %p
  %table.insurance{"border:" => "", :none => ""}
    %tr
      %th.header{width: 30}
      %th.header{width: 500} Member
      - @insurance_types.order("name ASC").each do |insurance_type|
        %th.header{width: 300} #{insurance_type.code}
      %th.header{width: 350} Amt Rec

    - @payment_collection.payment_collection_records.joins(:member).order("members.last_name ASC").each_with_index do |payment_collection_record, i|
      %tr
        %td #{i + 1}
        %td #{payment_collection_record.member.full_name}
        - @insurance_types.order("name ASC").each do |insurance_type|
          %td
            - payment_collection_record.collection_transactions.where(account_type: "INSURANCE_FUND_TRANSFER").each do |collection_transaction|
              - if collection_transaction.account_type == "INSURANCE_FUND_TRANSFER" and collection_transaction.account_type_code == insurance_type.code
                #{number_to_currency(collection_transaction.amount, unit: "")}
        %td
          #{number_to_currency(payment_collection_record.total_cp_amount, unit: "")}
    %tr
      %th.header
      %th.header Total
      - @insurance_types.order("name ASC").each do |insurance_type|
        %th.header #{number_to_currency(CollectionTransaction.where(payment_collection_record_id: @payment_collection.payment_collection_records.pluck(:id), account_type: "INSURANCE_FUND_TRANSFER", account_type_code: insurance_type.code).sum(:amount), unit: "")}
      %th.header #{number_to_currency(@payment_collection.total_amount, unit: "")}
%hr
.entry  
  %span.print-text  
    %left  
      %br
      %p
        %b
          Particular:
        #{@payment_collection.particular}
      %br
      %br  
      %table.signatories{"border:" => "", :none => ""}
        %tr
          %th{width: 305} &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;#{@payment_collection.prepared_by}
          %th{width: 305} &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;#{@payment_collection.approved_by}
        %tr
          %td.overline &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Prepared by:&emsp;&emsp;
          %td.overline &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Approved by:&emsp;&emsp;
      %br
      %br
      %br