#parameters{ data: { payment_collection_id: @payment_collection.id } }

%section.content-header
  %h1
    Insurance Fund Transfer
    %small
      #{@payment_collection.paid_at.strftime("%b %d, %Y")}
  %ol.breadcrumb
    %li
      #{link_to "Insurance Fund Transfers", cash_management_fund_transfer_insurance_payment_collections_path}
    %li
      Show
%section.content
  - if @payment_collection.reversed?
    .bs-callout.bs-callout-danger
      %h3
        .fa.fa-warning
        Warning: This transaction has been reversed.
  = render partial: "actions", locals: { payment_collection: @payment_collection }
  .box
    .box-body
      - if @payment_collection.for_adjustment?
        .bs-callout.bs-callout-info
          %h3
            .fa.fa-warning
              This transaction is for adjustment
      = render partial: "shared/errors"
      = render partial: "payment_records", locals: { payment_collection: @payment_collection }
  .well
    %p
      #{@payment_collection.particular}
  - if @payment_collection.approved? and ["MIS", "SBK"].include? current_user.role
    = render partial: "danger", locals: { payment_collection: @payment_collection }
= render partial: "shared/errors_template"
= render partial: "shared/success_template"
= render partial: "cash_management/fund_transfer/insurance/payment_collections/components/modal_confirm_transaction"
= render partial: "cash_management/fund_transfer/insurance/payment_collections/components/modal_confirm_reverse_transaction"
= javascript_include_tag "CashManagementFundTransferInsurancePaymentCollection"

:javascript
  $(document).ready(function() {
    CashManagementFundTransferInsurancePaymentCollection.init();
  });
