#approve-membership-payment-modal.ui.basic.modal
  .header
    Approve Payment
  .image.content
    .image
      %i.fa.fa-warning.icon
    .description
      %p Are you sure you want to approve this record?
  .actions
    .two.fluid.ui.inverted.buttons
      .ui.red.basic.inverted.button.reject-btn
        %i.remove.icon
        No
      .ui.green.basic.inverted.button.approve-btn
        %i.checkmark.icon
        Yes
