.row
  .col-md-3
    .box.box-primary
      .box-body.box-profile
        = image_tag user.avatar.url(:thumb), class: "profile-user-img img-responsive img-circle"
        %h4.profile-username.text-center #{user.full_name}
        %p.text-muted.text-center #{user.role}
        %ul.list-group.list-group-unbordered
          %li.list-group-item
            %b User ID
            %span.pull-right #{user.identification_number}
        = link_to edit_system_management_user_path(user), class: 'btn btn-default btn-block' do
          .fa.fa-pencil
          Edit Record
        = link_to edit_system_management_user_path(@user, change_password: true), class: 'btn btn-default btn-block' do
          .fa.fa-unlock
          Change Password
        - if user.branches.count == 0
          = link_to system_management_user_path(@user), class: 'btn btn-danger btn-danger btn-block', method: :delete, data: { confirm: 'Are you sure?' } do
            .fa.fa-times
            Delete
        - else
   
         

  .col-md-9
    .box.box-default
      .box-body
        %table.table
          %tr
            %th
              %span.glyphicon.glyphicon-qrcode
              Identification Number
            %td= user.identification_number
          %tr
            %th
              %span.glyphicon.glyphicon-user
              Name
            %td= user.full_name
          %tr
            %th
              %span.glyphicon.glyphicon-user
              Username
            %td= user.username
          %tr
            %th
              %span.glyphicon.glyphicon-envelope
              Role
            %td= user.role
          %tr
            %th
              %span.fa.fa-check
              Is Active
            %td= user.is_active
          %tr
            %th
              .fa.fa-building
              Branches
            %td
              = user.branches.map{|b| b.name}.join(",")
          %tr
            %th
              %span.glyphicon.glyphicon-envelope
              Email Address
            %td= user.email
