#filter
  = form_tag system_management_users_path, html: { novalidate: true }, method: "GET", defaults: { wrapper_html: { class: 'form-group' }, input_html: { class: 'form-control'} } do
    %table.table.table-responsive
      %tr
        %th
          %label Email
          = text_field_tag :q, @q, placeholder: "Search Name/Email", class: "form-control"
        %th
          %label Role
          = select_tag :role, options_for_select(User::ROLES, @role), class: "form-control select-select2", prompt: "-- SELECT --"
        %th
          %label Branch
          = select_tag :branch_id, options_from_collection_for_select(@branches, :id, :name), class: "form-control select-select2", prompt: "-- SELECT --"
        %th
          %label Actions
          %br
          = submit_tag "Search", class: 'btn btn-primary btn-info btn-block' do
            .fa.fa-search
