= simple_form_for [:system_management, user], defaults: { wrapper_html: { class: 'form-group' }, input_html: { class: 'form-control' } }, html: { multipart: true, novalidate: true } do |f|
  .ui.form
    - if params[:change_password] == "true"
      .two.fields
        .field
          = f.input :password
        .field
          = f.input :password_confirmation
    - else
      .two.fields
        .field
          = f.input :first_name, as: :string
        .field
          = f.input :last_name, as: :string
      .four.fields
        .field
          - if remote_user?(current_user)
            = f.input :role, as: :select, collection: User::REMOTE_ROLES
          - else
            = f.input :role, as: :select, collection: User::ROLES
        .field
          = f.input :email, as: :string
        .field
          = f.input :username, as: :string
        .field
          = f.input :identification_number, as: :string
      - if f.object.new_record?
        .two.fields
          .field
            = f.input :password
          .field
            = f.input :password_confirmation
      .four.fields
        .field
          = f.association :branches, as: :check_boxes, collection: @branches, input_html: { class: "switch" }
        .field{:style => "padding-left:1%"}
          = f.input :is_active, input_html: { class: '' }
        .field{:style => "padding-left:1%"}
          = f.input :is_regular, input_html: { class: '' }
        .field
          = f.input :incentive_eligble_date, input_html: { class: ''}
        .field
          = f.input :avatar, as: :file
          = image_tag f.object.avatar.url(:profile)
    .form-actions
      = button_tag :submit, class: "btn btn-primary" do
        .fa.fa-check
        Save
      = link_to system_management_user_path(current_user), class: "btn btn-default" do
        .fa.fa-times
        Cancel
