.table-responsive.no-padding
  %table.table-bordered.table
    %tbody
      %thead
        %tr
          %th Email
          %th Username
          %th Is Active
          %th Name
          %th Role
          %th Actions
        - users.each do |user|
          %tr
            %td= user.email
            %td= user.username
            %td
              - if user.is_active
                .ui.green.label
                  .fa.fa-check
              - else
                .ui.red.label
                  .fa.fa-times
            %td= user.full_name
            %td= user.role
            %td
              = link_to system_management_user_path(user), class: 'ui tiny default button' do
                .fa.fa-search
                Details

= paginate users
