%section.content-header
  %h1
    Edit User
    %small
      #{@user.full_name}
  %ol.breadcrumb
    %li
      = link_to system_management_users_path do
        .fa.fa-arrow-left
        Back to Users
%section.content
  .ui.green.segment
    = render partial: "form", locals: { user: @user }
  %hr
