%section.content-header
  %h1
    Manage Users 
  %ol.breadcrumb
    %li
      = link_to root_path do
        .fa.fa-arrow-left
        Back to Dashboard
%section.content
  = form_tag system_management_users_path, html: { novalidate: true }, method: "GET", defaults: { wrapper_html: { class: 'form-group' }, input_html: { class: 'form-control'} } do
    %table.table.table-responsive.table-bordered
      %tr
        %th
          %label Email
          = text_field_tag :q, @q, placeholder: "Search Name/Email", class: "form-control"
        %th
          %label Role
          = select_tag :role, options_for_select(User::ROLES, @role), class: "form-control select-select2", prompt: "-- SELECT --"
        %th
          %label Branch
          = select_tag :branch_id, options_from_collection_for_select(@branches, :id, :name), class: "form-control select-select2", prompt: "-- SELECT --"
        %th
          %label Actions
          %br
          = submit_tag "Search", class: 'btn btn-info'
          = link_to new_system_management_user_path, class: 'btn btn-primary' do
            .fa.fa-user-plus
            New User
  - if @users.count == 0
    .ui.red.segment
      %p
        No users found. #{link_to "Create one.", new_system_management_user_path}
  - else
    .box
      .box-body
        = render partial: "list", locals: { users: @users }
