%section.content-header
  %h1
    New User
  %ol.breadcrumb
    %li
      = link_to system_management_users_path do
        .fa.fa-arrow-left
        Back to Users
%section.content
  .ui.teal.segment
    = render partial: "form", locals: { user: @user }
