%section.content-header
  %h1
    #{@user.full_name}
    %small
      User Profile
  %ol.breadcrumb
    %li
      = link_to system_management_users_path do
        .fa.fa-arrow-left
        Back to Users
%section.content
  = render partial: "details", locals: { user: @user }
