.row
  .col-md-12
    %h3
      Claims Information
.well
  / .standard
  .hidden  
    .col-md-4
      = f.association :branch, input_html: { class: 'form-control', id: 'branch', value: @member.branch.id }, as: :string
    .col-md-4
      = f.association :center, input_html: { class: 'form-control', id: 'center', value: @member.center.id }, as: :string
    .col-md-4
      = f.input :date_prepared, input_html: { class: 'form-control datepick', id: 'date-prepared', value: Time.now.to_date }, as: :string
  .row  
    .col-md-6
      = f.input :date_reported, input_html: { class: 'form-control datepick', id: 'date-reported'}, as: :string, label: "DATE REPORTED/NOTICE"
    .col-md-6
      = f.input :date_paid, input_html: { class: 'form-control datepick', id: 'date-paid' }, as: :string, label: "DATE PAID"    
  .row
    .col-md-4
      = f.input :date_of_policy_issue, input_html: { class: 'form-control datepick', id: 'date-of-policy-issue', value: @member.previous_mii_member_since }, as: :string, label: "DATE OF POLICY ISSUE"
    .col-md-4
      = f.input :type_of_insurance_policy, input_html: { id: 'type-of-insurance-policy' }, as: :select, collection: Claim::INSURANCE_POLICY_TYPES, include_blank: false , label: "TYPE OF INSURANCE POLICY", prompt: "-- Select --"
    .col-md-4
      = f.input :classification_of_insured, input_html: { id: 'classification-of-insured' }, as: :select, collection: Claim::INSURED_CLASSIFICATION, include_blank: false, label: "CLASSIFICATION OF INSURED", prompt: "-- Select --"
  .row
    .col-md-12
      = f.input :date_of_death_tpd_accident, input_html: { class: 'form-control datepick', id: 'date-of-death-tpd-accident' }, as: :string, label: "DATE OF DEATH/TPD/ACCIDENT"
  .row
    .col-md-12
      // = f.input :length_of_stay, input_html: { class: 'form-control', id: 'length-of-stay', value: @member.length_of_stay.titleize }, as: :string, label: "LENGTH OF STAY"
      = f.input :length_of_stay, input_html: { class: 'form-control', id: 'length-of-stay' }, as: :string, label: "LENGTH OF STAY"
  .row
    .col-md-6
      = f.input :equity_value, input_html: { class: 'form-control', id: 'equity-value', value: @member.equity_value }, as: :string, label: "EQUITY VALUE"
    .col-md-6
      = f.input :retirement_fund, input_html: { class: 'form-control', id: 'retirement-fund', value: @member.retirement_fund }, as: :string, label: "RETIREMENT FUND"
  .row
    .col-md-6
      = f.input :policy_number, input_html: { class: 'form-control', id: 'policy-number', value: @member.identification_number }, as: :string, label: "POLICY NUMBER"
    .col-md-6
      = f.input :face_amount, input_html: { class: 'form-control', id: 'face-amount'}, as: :string, label: "FACE AMOUNT"
  .row
    .col-md-6
      = f.input :name_of_insured, input_html: { class: 'form-control', id: 'name-of-insured' }, as: :string, label: "NAME OF INSURED"
    .col-md-6
      = f.input :date_of_birth, input_html: { class: 'form-control datepick', id: 'date-of-birth' }, as: :string, label: "DATE OF BIRTH"
  .row
    .col-md-6.order-of-child-field
      = f.input :order_of_child, input_html: { class: 'form-control', id: 'order-of-child'}, as: :select, collection: ["1st", "2nd", "3rd", "4th", "5th", "6th", "7th", "8th", "9th", "10th"], label: "ORDER OF CHILD"   
  .row
    .col-md-6
      = f.input :gender, :collection => ["Male", "Female"], :label => "Gender", input_html: { class: 'form-control', id: 'gender' }, label: "GENDER"
    .col-md-6
      = f.input :beneficiary, input_html: { class: 'form-control', id: 'beneficiary' }, as: :string, label: "BENEFICIARY"            
  .row
    .col-md-6.returned-contribution-field
      = f.input :returned_contribution, input_html: { class: 'form-control', id: 'returned-contribution'}, as: :string, label: "RETURNED CONTRIBUTION"
    .col-md-6.total-amount-payable-field
      = f.input :total_amount_payable, input_html: { class: 'form-control', id: 'total-amount-payable'}, as: :string, label: "TOTAL AMOUNT PAYABLE"  
  .row
    .col-md-6
      = f.input :prepared_by, input_html: { class: 'form-control', id: 'prepared-by', value: current_user.full_name.titleize}, as: :string, label: "PREPARED BY"
    .col-md-6
      = f.input :arrears, input_html: { class: 'form-control', id: 'arrears'}, as: :string, label: "ARREARS"
  .row
    .col-md-6  
      = f.input :category_of_cause_of_death_tpd_accident, as: :select, collection: Claim::CATEGORY_OF_CAUSE_OF_DEATH_TPD_ACCIDENT, include_blank: false, input_html: { id: 'cause-of-death-tpd-accident' }, label: "CATEGORY OF CAUSE OF DEATH/TPD/ACCIDENT"
    .col-md-6
      = f.input :cause_of_death_tpd_accident, as: :text, input_html: { style: 'height: 70px', id: 'cause-of-death-tpd-accident' }, label: "CAUSE OF DEATH/TPD/ACCIDENT"

= javascript_include_tag "claims_form"