%section.content-header
  %h1
    Claims Form
    %small
      .label.label-primary
        New Record for #{link_to @member.full_name, member_path(@member), target: '_blank', style: "color: #fff"} 
  %ol.breadcrumb
    %li
      = link_to claims_path do
        .fa.fa-arrow-left
        Back to Claims
%section.content
  .ui.grey.segment
    = render partial: "members/claims/form", locals: { claim: @claim }
