/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require ui
 *= require jquery-ui
 *= require members
 *= require loans
 *= require style
 *= require mediaqueries
 *= require notifications
 *= require dashboard
 *= require select2
 *= require select2-bootstrap
 *= require toastr
 *= require printing
 *= require bootstrap-switch
 *= require bootstrap-datetimepicker
 *= require loaders
 *= require loading
 *= require remodal
 *= require remodal-default-theme
 *= require datatables
 */

@import "colors";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "AdminLTE";
@import "_all-skins";
@import "fireworks";

.invoice {
  position: relative;
  background: #fff;
  border: 1px solid #f4f4f4;
  padding: 20px;
  margin: 10px 25px;
}

.stats {
  text-align: center;
}

tr.danger {
  background-color: #F1D5D2;
}

td.accounting-curr, th.accounting-curr, td.curr, th.curr, .acc-curr {
  text-align: right !important;
}

#accounting-entry {
  td.debit {
    text-align: right;
  }
  th.debit {
    text-align: right;
  }

  td.credit {
    text-align: right;
  }
  th.credit {
    text-align: right;
  }
}

// Balance sheet
#balance-sheet, #income-statement {
  .leader-1 {
    font-size: 2.4em;
    th {
      background-color: #ffff8d;
    }
  }

  .leader-2 {
    font-size: 1.8em;
    th {
      background-color: #dadaff;
    }
  }

  .leader-3 {
    font-size: 1.4em;
    th {
      background-color: #d0e7ff;
    }
  }

  .leader-4 {
    font-size: 1.2em;
  }
}

#reports-soa-funds-data {
  thead {
    text-align: center;
  }

  .data {
    text-align: center;
  }
}

.payments {
  tr:hover {
    background-color: #ffff99;
  }
}

.clickable {
  cursor: pointer;
}

.clickable:hover {
  background-color: #ffff99;
}

.select2-container{
  width: 100%;
}

a.normal {
  color: #fff;
}

#current-working-date {
  margin-top: 10px;
  margin-right: 6px;
}

#timer {
  margin-top: 10px;
}

table.transaction-table {
  th {
    font-size: 0.9em;
  }

  td {
    font-size: 0.9em;
  }

  font-size: 0.9em;
  input, select {
    height: 10px;
    font-size: 0.9em;
  }
}

// semantic overrides
.ui.modal {
  .description {
    font-size: 1.5em;
  }
}

canvas {
  width: 100% !important;
  height: 300px !important;
}

.reports-graph {
  height: 300px;
}

table {
  background-color: white!important;
  
  tr.leader {
    font-weight: bold;
  }

  tr.detailed {
    background-color: #D2F3C2;
  }

  tr.summary {
    background-color: #A4C4C7;
    font-weight: bold;
  }

  tr.total {
    background-color: #EFDF89;
  }
}

table.table-collection {
  font-size: 14px;
}

table.table-insurance-status td{
    border: black solid 1px !important;
}

table.table-insurance-status th{
    border: black solid 1px !important;
}


.preview {
  .profile-picture {
    display: inline-block;
  }

  .profile-details {
    display: inline-block;
    vertical-align: top;
    padding-left: 12px;

    .name {
      font-size: 1.8em;
    }

    ul {
      list-style-type: none;
      padding-left: 0;
    }
  }

  .profile-actions {
    //text-align: right;
  }

  small {
    color: $labelGrey;
  }
}


#footer {
  padding-top: 20px;
  background: $grey;
  border-top: $greyHard;
  font-weight: bold;
  text-align: center;
}

.loadingBox {
  position: fixed;
  bottom:0;
  right:0;
  display: none;

  .loadingBoxContent {
    padding: 8px;
    background-color: $darkBlue;
    position:absolute;
    bottom:0;
    right:0;
    color: $white;
    font-weight: bold;
  }
}

.mainContent {
  padding-top: 100px;
  min-height: 500px;
}

/*
 * SELECT2 OVERRIDES
 */
.select2-container {
  padding: 0px;
  border-width: 0px;
}

.select2-container .select2-choice {
  height: 38px;
  line-height: 38px;
}

/*
 * BOOTSTRAP OVERRIDES
 */
body {
  font-family: Arial;
}

.panel {
  .panel-heading {
    font-weight: bold;
  }

  .panel-currency-summary {
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
  }
}

.btn, .well, .ui.segment, .box, .box-header, .box-body, .select2, .select2-container {
  border-radius: 0px;
}

.form-control {
  border-radius:  0px;
}

.row {
  margin: 0;
}

.table-bordered, .table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
  border: 1px solid #f4f4f4
}

th {
  background-color: #f9fafb;
}

.valid_age {
  background-color: #90EE90; 
}

.exit_age {
  background-color: #FF0000;
}

.negative {
  background-color: #F1A9A2; 
  a {
    color: rgb(31, 63, 140);
  }
}

.positive {
  background-color: #adf769;
  a {
    color: rgb(31, 63, 140);
  }
}

.default {
  background-color: #c0c0c0;
  a {
    color: rgb(31, 63, 140);
  }
}

