.dashboard {
  a {
    color: white;
    text-decoration: none;
  }

  .ui.segment {
    color: #888;
    height: 150px;
    margin-top: 1%;
  }

  .orangy {
    margin-top: 27px;
  }

  .orangy2 {
    margin-top: 25px;
  }

  .orangy1 {
    margin-top: 18px;
  }

  .g, .o, .peso {
    font-size: 3em;
    color: #888;
    float: right;
  }

  #topBranches {
  .content {
    height: 400px;
  }

  .content_stat {
    height: 211px;
  }
  }

  .ui.label {
    font-size: 13px;  
    margin-top: 2px;  
  }
  .ui.label:first-child {
    margin-left: 2px;
  }
  .wrappercount {
    width: 200px!important;
  }

  .ui.green.buttons .button, .ui.green.button {
    margin-top: 10px;
  }

}

.branchrevenuetitle {
  background-color: #00b5ad;
  padding: 10px;
  color: white;

}

.infiniscroll{
  max-height: 500px;
  overflow-y: scroll;
  padding-bottom: 10px;
}

/* .y {
  font-size: 2em;
  color: white;
  padding: 2px;

}

.yy {
  margin-bottom: 1%;
  color: white;
}

.tr_d {
  color: black;
  font-size: 13px;
  padding: 10px;
}

// SEMANTIC UI
 */


