@media only screen  
and (min-device-width : 320px)
and (max-device-width : 1024px) {
 /*  .b {
  display: none;
  }

  li.a {
  display: block;
  } */

  .for_non_mobile {
    display: none;
  }

  .for_mobile {
    display: block;
  }
 
 /*  .back_to_members {
    display: none;
  }

  .signature_mobile img {
    width: 70vw;
  }

 .row_mobile {
  width: 88vw;
 }

 .withraw_mobile {
  width: 88vw;

 }

 .dw_mobile {
  width: 88vw;
 }

 .row_border_mobile {
  width: 88vw;

 }

 #user_in_mobile {
  width: 88vw;
 }

.listHeader_mobile {
  background-color: #F7F6F2;
  width: auto;
  padding: 10px;
  font-weight: bold;
  margin-top: 2%;
}
 */
}
/* @media only screen  
and (min-device-width : 321px)
and (max-device-width : 360px) {

 .row_mobile {
  width: 88vw;
 }
}


@media only screen  
and (min-device-width : 1025px)
and (max-device-width : 1300px) {

  .navbar {
  background-color: #1E3944;
  margin-bottom: 5%;
  border-radius: 0;
  position: fixed;
  z-index: 100;
  width: 100%;
}

} 

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

  .listHeader_mobile {
  background-color: #F7F6F2;
  width: auto;
  padding: 10px;
  font-weight: bold;
  margin-top: 20%;
  }


}


@media only screen  
and (min-device-width : 910px)
and (max-device-width : 980px) {
  .b {
    .logged_in_as {
      display: none;
    }
    .btn {
      margin-top: -7%;
      margin-left: 88%;
    }
  }

  .row_mobile {
  width: 88vw;
 }
}

@media only screen  
and (min-device-width : 768px) 
and (max-device-width : 1024px)  {
  .b {
  display: none;
  }

  .navbar-header {
    float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
        
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }

    .row_mobile {
    width: 88vw;
   }
}

@media only screen  
and (min-device-width : 1200px) 
and (max-device-width : 1280px)  {

  .b {
    .logged_in_as {
      display: none;
    }
    .btn {
      margin-top: 7%;
      margin-left: 290%;
    }
  }

} */


@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px) {

  .dashboard {
    .ui.segment {
      color: #888;
      height: 213px!important;
      margin-top: 5%!important;
    }

    .orangy1 {
      margin-top: 33px!important;
    }

    .ui.label {
      font-size: 13px;  
      margin-top: 16px;  
    }
  }

  .listofmembers {
    margin-top: 3%; 
  }

  .ui.menu {
    margin-top: 24%!important;
  }

  .voucher_info {
    margin-top: 7%;
  }

  .for_mobile {
    .ui.teal.button {
      width: 225px;
      margin-top: 10px;
    } 
  }

  .loansform {
    .well {
      margin-top: 40%;
    }
  }


  ul.nav.nav-tabs.nav-justified {
    margin-top: 37%;
  }
  .savingsaccounttable {
    thead {
      display: none!important;
    }
    .account:before {
      content: 'Account: ';
      font-weight: bold;
    }
    .balance:before {
      content: 'Balance : ';
      font-weight: bold;
    }
    .m_balance:before {
      content: 'Maintaining Balance : ';
      font-weight: bold;
    }
  }

  .insuranceaccounttable {
    thead {
      display: none!important;
    }
    .account:before {
      content: 'Account: ';
      font-weight: bold;
    }
    .balance:before {
      content: 'Balance : ';
      font-weight: bold;
    }
  }

  .savingsaccounttransactionindex {
    thead {
      display: none!important;
    }
    .date:before {
      content: 'Date: ';
      font-weight: bold;
    }
    .amount:before {
      content: 'Amount : ';
      font-weight: bold;
    }
    .type:before {
      content: 'Type: ';
      font-weight: bold;
    }
  }

  .insuranceaccounttransactionindex {
    thead {
      display: none!important;
    }
    .date:before {
      content: 'Date: ';
      font-weight: bold;
    }
    .amount:before {
      content: 'Amount : ';
      font-weight: bold;
    }
    .type:before {
      content: 'Type: ';
      font-weight: bold;
    }
  }

  .loantableaccount {
    thead {
      display: none!important;
    }
    .account:before {
      content: 'Account: ';
      font-weight: bold;
    }
    .amount:before {
      content: 'Amount : ';
      font-weight: bold;
    }
    .balance:before {
      content: 'Balance: ';
      font-weight: bold;
    }
  }

  .loanvouchertable {
    thead {
      display: none!important;
    }
    .accnt_code:before {
      content: 'Accounting Code: ';
    }
    .debit:before {
      content: 'Debit: ';
      font-weight: bold;
    }
    .credit:before {
      content: 'Credit: ';
      font-weight: bold;
    }
  }

  .tableforamortizationscheduleofloan {
    thead {
      display: none!important;
    }
    .no:before {
      content: 'No: ';
      font-weight: bold; 
    }
    .date:before {
      content: 'Due Date: ';
      font-weight: bold;
    }
    .principal:before {
      content: 'Principal: ';
      font-weight: bold;
    }
    .interest:before {
      content: 'Interest: ';
      font-weight: bold;
    }

    .total:before {
      content: 'Total: ';
      font-weight: bold;
    }
    .balance:before {
      content: 'Balance: ';
      font-weight: bold;
    }
  }

  .tableforpaymentsofloanshow {
    thead {
      display: none!important;
    }
    .no:before {
      content: 'No: ';
      font-weight: bold; 
    }

    .paid_at:before {
      content: 'Paid at: ';
      font-weight: bold; 
    }

    .paid_principal:before {
      content: 'Paid Principal: ';
      font-weight: bold; 
    }

    .paid_interest:before {
      content: 'Paid Interest: ';
      font-weight: bold; 
    }

    .amount:before {
      content: 'Amount: ';
      font-weight: bold; 
    }
  }

  .tableformoratoriumofloanshow {
    thead {
      display: none!important;
    }
    .date:before {
      content: 'Previous Due Date: ';
      font-weight: bold; 
    }

    .newdate:before {
      content: 'New Due Date: ';
      font-weight: bold; 
    }

    .amount:before {
      content: 'Amount Delayed: ';
      font-weight: bold; 
    }

    .reason:before {
      content: 'Reason: ';
      font-weight: bold; 
    }
  }

  .tableforloanindex {
    thead {
      display: none!important;
    }
    .member:before {
      content: 'Member: ';
      font-weight: bold; 
    }
    .pn_no:before {
      content: 'PN Number: ';
      font-weight: bold; 
    }
    .center:before {
      content: 'Center: ';
      font-weight: bold; 
    }
    .cycle:before {
      content: 'Cycle: ';
      font-weight: bold; 
    }
    .type:before {
      content: 'Type: ';
      font-weight: bold; 
    }
    .amount:before {
      content: 'Amount: ';
      font-weight: bold; 
    }
    .balance:before {
      content: 'Balance: ';
      font-weight: bold; 
    }
  }

  .insuranceinformationloanform {
    thead {
      display: none!important;
    }
    .insurance_type:before {
      content: 'Insurance Type: ';
      font-weight: bold; 
    }
    .expected_deposit_ft:before {
      content: 'Expected Deposit Value(First Time): ';
      font-weight: bold; 
    }
    .expected_deposit_loans:before {
      content: 'Expected Deposit Value(Loans > 0): ';
      font-weight: bold; 
    }
  }

  .tableofcollectionsindex {
    thead {
      display: none!important;
    }
    .date:before {
      content: 'Date: ';
      font-weight: bold; 
    }
    .branch:before {
      content: 'Branch: ';
      font-weight: bold; 
    }
    .center:before {
      content: 'Center: ';
      font-weight: bold; 
    }
    .total_amount:before {
      content: 'Total Amount: ';
      font-weight: bold; 
    }
    .status:before {
      content: 'Status: ';
      font-weight: bold; 
    }
  }

  .tableforknegosyoincollections {
    thead {
      display: none!important;
    }

    .savings_type[data-savings-type]:before {
      content: attr(data-savings-type) ": " ;
      font-weight: bold;
    }

    .savings_type_total[data-savings-type-total]:before {
      content: attr(data-savings-type-total) " Total: " ;
      font-weight: bold;
    }

    .insurance_type[data-insurance-type]:before {
      content: attr(data-insurance-type) ": " ;
      font-weight: bold;
    }

    .insurance_type_total[data-insurance-type-total]:before {
      content: attr(data-insurance-type-total) " Total: " ;
      font-weight: bold;
    }

    .member:before {
      content: 'Member: ';
      font-weight: bold; 
    }

    .cbu_balance:before {
      content: 'CBU Balance: ';
      font-weight: bold;
    }

    .cbu_total:before {
      content: 'CBU Balance Total: ';
      font-weight: bold;
    }

    .total:before {
      content: 'Total: ';
      font-weight: bold;
    }
    .loan_amt:before {
      content: 'Loan Amount: ';
      font-weight: bold;
    }
    .loan_amount_total:before {
      content: 'Loan Amount Total: ';
      font-weight: bold;
    }
    .loan_balance:before {
      content: 'Loan Balance: ';
      font-weight: bold;
    }
    .loan_balance_total:before {
      content: 'Loan Balance Total: ';
      font-weight: bold;
    }
    .loan_payment:before {
      content: 'Loan Payment: ';
      font-weight: bold;
    }
    .loan_payment_total:before {
      content: 'Loan Payment Total: ';
      font-weight: bold;
    }
    .wp1:before {
      content: 'WP1: ';
      font-weight: bold;
    }
    .wp1_total:before {
      content: 'WP1 Total: ';
      font-weight: bold;
    }
    .wp2:before {
      content: 'WP2: ';
      font-weight: bold;
    }
    .wp2_total:before {
      content: 'WP2 Total: ';
      font-weight: bold;
    }
    .amnt_rec:before {
      content: 'Amt. Rec.: ';
      font-weight: bold;
    }
    .amnt_rec_total:before {
      content: 'Amt. Rec. Total: ';
      font-weight: bold;
    }
  }

  .tableforcollectionsedit {
    thead {
      display: none!important;
    }

    .savings_type[data-savings-type]:before {
      content: attr(data-savings-type) ": " ;
      font-weight: bold;
    }

    .savings_type_total[data-savings-type-total]:before {
      content: attr(data-savings-type-total) " Total: " ;
      font-weight: bold;
    }

    .insurance_type[data-insurance-type]:before {
      content: attr(data-insurance-type) ": " ;
      font-weight: bold;
    }

    .insurance_type_total[data-insurance-type-total]:before {
      content: attr(data-insurance-type-total) " Total: " ;
      font-weight: bold;
    }

    .member:before {
      content: 'Member: ';
      font-weight: bold; 
    }
    .loan_payment:before {
      content: 'LP: ';
      font-weight: bold; 
    }

    .wp1:before {
      content: 'WP1: ';
      font-weight: bold;
    }
    .wp1_total:before {
      content: 'WP1 Total: ';
      font-weight: bold;
    }
    .wp2:before {
      content: 'WP2: ';
      font-weight: bold;
    }

    .cp_amount:before {
      content: 'CP: ';
      font-weight: bold;
    }

    .lp_total:before {
      content: 'LP Total: ';
      font-weight: bold;
    }

    .wp1_total:before {
      content: 'WP1 Total: ';
      font-weight: bold;
    }
    .wp2_total:before {
      content: 'WP2 Total: ';
      font-weight: bold;
    }
    .cp_amt_total:before {
      content: 'CP Total: ';
      font-weight: bold;
    }
  }

  .bankindextable {
    .date:before {
      content: 'Date: ';
      font-weight: bold;
    }
    .branch:before {
      content: 'Branch: ';
      font-weight: bold;
    }
    .amount:before {
      content: 'Amount: ';
      font-weight: bold;
    }
    .status:before {
      content: 'Status: ';
      font-weight: bold;
    }
  }

  .tableforbanktransactionshow {
    thead {
      display: none!important;
    }

    .member:before {
      content: 'Member: ';
      font-weight: bold;
    }
    .accnt_no:before {
      content: 'Account Number: ';
      font-weight: bold;
    }
    .amount:before {
      content: 'Amount: ';
      font-weight: bold;
    }
    .total:before {
      content: 'Total Amount: ';
      font-weight: bold;
    }
  }

  .tableshowforequityaccount {
    thead {
      display: none!important;
    }

    .date:before {
      content: 'Date: ';
      font-weight: bold;
    }
    .amount:before {
      content: 'Amount: ';
      font-weight: bold;
    }
    .type:before {
      content: 'Type: ';
      font-weight: bold;
    }
  }

}

@media only screen 
  and (min-device-width: 481px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) {  

  .dashboard {
    .ui.segment {
      color: #888;
      height: 180px!important;
      margin-top: 5%!important;
    }

    .orangy1 {
      margin-top: 12px;
    }

    .ui.label {
      font-size: 13px;  
      margin-top: 16px;  
    }

    .g, .o, .peso {
      float: right!important;
      margin-top: -57px;
    }

  }

  .voucher_info {
    margin-top: 7%;
  }

  .for_mobile {
    .ui.teal.button {
      width: 225px;
      margin-top: 10px;
    } 
  }

  .loansform {
    .well {
      margin-top: 23%;
    }
  }

  .ui.menu {
    margin-top: 15%!important;
  }

  .savingsaccounttable {
    thead {
      display: none!important;
    }
    .account:before {
      content: 'Account: ';
      font-weight: bold;
    }
    .balance:before {
      content: 'Balance : ';
      font-weight: bold;
    }
    .m_balance:before {
      content: 'Maintaining Balance : ';
      font-weight: bold;
    }
  }

  .insuranceaccounttable {
    thead {
      display: none!important;
    }
    .account:before {
      content: 'Account: ';
      font-weight: bold;
    }
    .balance:before {
      content: 'Balance : ';
      font-weight: bold;
    }
  }

  .savingsaccounttransactionindex {
    thead {
      display: none!important;
    }
    .date:before {
      content: 'Date: ';
      font-weight: bold;
    }
    .amount:before {
      content: 'Amount : ';
      font-weight: bold;
    }
    .type:before {
      content: 'Type: ';
      font-weight: bold;
    }
  }

  .insuranceaccounttransactionindex {
    thead {
      display: none!important;
    }
    .date:before {
      content: 'Date: ';
      font-weight: bold;
    }
    .amount:before {
      content: 'Amount : ';
      font-weight: bold;
    }
    .type:before {
      content: 'Type: ';
      font-weight: bold;
    }
  }

  .loantableaccount {
    thead {
      display: none!important;
    }
    .account:before {
      content: 'Account: ';
      font-weight: bold;
    }
    .amount:before {
      content: 'Amount : ';
      font-weight: bold;
    }
    .balance:before {
      content: 'Balance: ';
      font-weight: bold;
    }
  }

  .tableforamortizationscheduleofloan {
    thead {
      display: none!important;
    }
    .no:before {
      content: 'No: ';
      font-weight: bold; 
    }
    .date:before {
      content: 'Due Date: ';
      font-weight: bold;
    }
    .principal:before {
      content: 'Principal: ';
      font-weight: bold;
    }
    .interest:before {
      content: 'Interest: ';
      font-weight: bold;
    }

    .total:before {
      content: 'Total: ';
      font-weight: bold;
    }
    .balance:before {
      content: 'Balance: ';
      font-weight: bold;
    }
  }

  .tableforpaymentsofloanshow {
    thead {
      display: none!important;
    }
    .no:before {
      content: 'No: ';
      font-weight: bold; 
    }

    .paid_at:before {
      content: 'Paid at: ';
      font-weight: bold; 
    }

    .paid_principal:before {
      content: 'Paid Principal: ';
      font-weight: bold; 
    }

    .paid_interest:before {
      content: 'Paid Interest: ';
      font-weight: bold; 
    }

    .amount:before {
      content: 'Amount: ';
      font-weight: bold; 
    }
  }

  .tableformoratoriumofloanshow {
    thead {
      display: none!important;
    }
    .date:before {
      content: 'Previous Due Date: ';
      font-weight: bold; 
    }

    .newdate:before {
      content: 'New Due Date: ';
      font-weight: bold; 
    }

    .amount:before {
      content: 'Amount Delayed: ';
      font-weight: bold; 
    }

    .reason:before {
      content: 'Reason: ';
      font-weight: bold; 
    }
  }

  .tableforloanindex {
    thead {
      display: none!important;
    }
    .member:before {
      content: 'Member: ';
      font-weight: bold; 
    }
    .pn_no:before {
      content: 'PN Number: ';
      font-weight: bold; 
    }
    .center:before {
      content: 'Center: ';
      font-weight: bold; 
    }
    .cycle:before {
      content: 'Cycle: ';
      font-weight: bold; 
    }
    .type:before {
      content: 'Type: ';
      font-weight: bold; 
    }
    .amount:before {
      content: 'Amount: ';
      font-weight: bold; 
    }
    .balance:before {
      content: 'Balance: ';
      font-weight: bold; 
    }
  }

  .insuranceinformationloanform {
    thead {
      display: none!important;
    }
    .insurance_type:before {
      content: 'Insurance Type: ';
      font-weight: bold; 
    }
    .expected_deposit_ft:before {
      content: 'Expected Deposit Value(First Time): ';
      font-weight: bold; 
    }
    .expected_deposit_loans:before {
      content: 'Expected Deposit Value(Loans > 0): ';
      font-weight: bold; 
    }
  }

  .tableofcollectionsindex {
    thead {
      display: none!important;
    }
    .date:before {
      content: 'Date: ';
      font-weight: bold; 
    }
    .branch:before {
      content: 'Branch: ';
      font-weight: bold; 
    }
    .center:before {
      content: 'Center: ';
      font-weight: bold; 
    }
    .total_amount:before {
      content: 'Total Amount: ';
      font-weight: bold; 
    }
    .status:before {
      content: 'Status: ';
      font-weight: bold; 
    }
  }

  .tableforknegosyoincollections {
    thead {
      display: none!important;
    }

    .savings_type[data-savings-type]:before {
      content: attr(data-savings-type) ": " ;
      font-weight: bold;
    }

    .savings_type_total[data-savings-type-total]:before {
      content: attr(data-savings-type-total) " Total: " ;
      font-weight: bold;
    }

    .insurance_type[data-insurance-type]:before {
      content: attr(data-insurance-type) ": " ;
      font-weight: bold;
    }

    .insurance_type_total[data-insurance-type-total]:before {
      content: attr(data-insurance-type-total) " Total: " ;
      font-weight: bold;
    }

    .member:before {
      content: 'Member: ';
      font-weight: bold; 
    }

    .cbu_balance:before {
      content: 'CBU Balance: ';
      font-weight: bold;
    }

    .cbu_total:before {
      content: 'CBU Balance Total: ';
      font-weight: bold;
    }

    .total:before {
      content: 'Total: ';
      font-weight: bold;
    }
    .loan_amt:before {
      content: 'Loan Amount: ';
      font-weight: bold;
    }
    .loan_amount_total:before {
      content: 'Loan Amount Total: ';
      font-weight: bold;
    }
    .loan_balance:before {
      content: 'Loan Balance: ';
      font-weight: bold;
    }
    .loan_balance_total:before {
      content: 'Loan Balance Total: ';
      font-weight: bold;
    }
    .loan_payment:before {
      content: 'Loan Payment: ';
      font-weight: bold;
    }
    .loan_payment_total:before {
      content: 'Loan Payment Total: ';
      font-weight: bold;
    }
    .wp1:before {
      content: 'WP1: ';
      font-weight: bold;
    }
    .wp1_total:before {
      content: 'WP1 Total: ';
      font-weight: bold;
    }
    .wp2:before {
      content: 'WP2: ';
      font-weight: bold;
    }
    .wp2_total:before {
      content: 'WP2 Total: ';
      font-weight: bold;
    }
    .amnt_rec:before {
      content: 'Amt. Rec.: ';
      font-weight: bold;
    }
    .amnt_rec_total:before {
      content: 'Amt. Rec. Total: ';
      font-weight: bold;
    }
  }

  .tableforcollectionsedit {
    thead {
      display: none!important;
    }

    .savings_type[data-savings-type]:before {
      content: attr(data-savings-type) ": " ;
      font-weight: bold;
    }

    .savings_type_total[data-savings-type-total]:before {
      content: attr(data-savings-type-total) " Total: " ;
      font-weight: bold;
    }

    .insurance_type[data-insurance-type]:before {
      content: attr(data-insurance-type) ": " ;
      font-weight: bold;
    }

    .insurance_type_total[data-insurance-type-total]:before {
      content: attr(data-insurance-type-total) " Total: " ;
      font-weight: bold;
    }

    .member:before {
      content: 'Member: ';
      font-weight: bold; 
    }
    .loan_payment:before {
      content: 'LP: ';
      font-weight: bold; 
    }

    .wp1:before {
      content: 'WP1: ';
      font-weight: bold;
    }
    .wp1_total:before {
      content: 'WP1 Total: ';
      font-weight: bold;
    }
    .wp2:before {
      content: 'WP2: ';
      font-weight: bold;
    }

    .cp_amount:before {
      content: 'CP: ';
      font-weight: bold;
    }

    .lp_total:before {
      content: 'LP Total: ';
      font-weight: bold;
    }

    .wp1_total:before {
      content: 'WP1 Total: ';
      font-weight: bold;
    }
    .wp2_total:before {
      content: 'WP2 Total: ';
      font-weight: bold;
    }
    .cp_amt_total:before {
      content: 'CP Total: ';
      font-weight: bold;
    }
  }

  .bankindextable {
    .date:before {
      content: 'Date: ';
      font-weight: bold;
    }
    .branch:before {
      content: 'Branch: ';
      font-weight: bold;
    }
    .amount:before {
      content: 'Amount: ';
      font-weight: bold;
    }
    .status:before {
      content: 'Status: ';
      font-weight: bold;
    }
  }

  .tableshowforequityaccount {
    thead {
      display: none!important;
    }

    .date:before {
      content: 'Date: ';
      font-weight: bold;
    }
    .amount:before {
      content: 'Amount: ';
      font-weight: bold;
    }
    .type:before {
      content: 'Type: ';
      font-weight: bold;
    }
  }


}


@media only screen 
  and (min-device-width: 668px) 
  and (max-device-width: 767px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

  .dashboard {
    .ui.segment {
      color: #888;
      height: 180px!important;
      margin-top: 5%!important;
    }

    .orangy1 {
      margin-top: 12px;
    }

    .ui.label {
      font-size: 13px;  
      margin-top: 16px;  
    }

    .g, .o, .peso {
      float: right!important;
      margin-top: -57px;
    }
  }

  .voucher_info {
    margin-top: 7%;
  }

  .for_mobile {
    .ui.teal.button {
      width: 225px;
      margin-top: 10px;
    } 
  }

  .loansform {
    .well {
      margin-top: 9%;
    }
  }

  .ui.menu {
    margin-top: 11%!important;
  }

  .savingsaccounttable {
    thead {
      display: none!important;
    }
    .account:before {
      content: 'Account: ';
      font-weight: bold;
    }
    .balance:before {
      content: 'Balance : ';
      font-weight: bold;
    }
    .m_balance:before {
      content: 'Maintaining Balance : ';
      font-weight: bold;
    }
  }

  .insuranceaccounttable {
    thead {
      display: none!important;
    }
    .account:before {
      content: 'Account: ';
      font-weight: bold;
    }
    .balance:before {
      content: 'Balance : ';
      font-weight: bold;
    }
  }

  .savingsaccounttransactionindex {
    thead {
      display: none!important;
    }
    .date:before {
      content: 'Date: ';
      font-weight: bold;
    }
    .amount:before {
      content: 'Amount : ';
      font-weight: bold;
    }
    .type:before {
      content: 'Type: ';
      font-weight: bold;
    }
  }

  .insuranceaccounttransactionindex {
    thead {
      display: none!important;
    }
    .date:before {
      content: 'Date: ';
      font-weight: bold;
    }
    .amount:before {
      content: 'Amount : ';
      font-weight: bold;
    }
    .type:before {
      content: 'Type: ';
      font-weight: bold;
    }
  }

  .loantableaccount {
    thead {
      display: none!important;
    }
    .account:before {
      content: 'Account: ';
      font-weight: bold;
    }
    .amount:before {
      content: 'Amount : ';
      font-weight: bold;
    }
    .balance:before {
      content: 'Balance: ';
      font-weight: bold;
    }
  }


  .tableforamortizationscheduleofloan {
    thead {
      display: none!important;
    }
    .no:before {
      content: 'No: ';
      font-weight: bold; 
    }
    .date:before {
      content: 'Due Date: ';
      font-weight: bold;
    }
    .principal:before {
      content: 'Principal: ';
      font-weight: bold;
    }
    .interest:before {
      content: 'Interest: ';
      font-weight: bold;
    }

    .total:before {
      content: 'Total: ';
      font-weight: bold;
    }
    .balance:before {
      content: 'Balance: ';
      font-weight: bold;
    }
  }

  .tableforpaymentsofloanshow {
    thead {
      display: none!important;
    }
    .no:before {
      content: 'No: ';
      font-weight: bold; 
    }

    .paid_at:before {
      content: 'Paid at: ';
      font-weight: bold; 
    }

    .paid_principal:before {
      content: 'Paid Principal: ';
      font-weight: bold; 
    }

    .paid_interest:before {
      content: 'Paid Interest: ';
      font-weight: bold; 
    }

    .amount:before {
      content: 'Amount: ';
      font-weight: bold; 
    }
  }

  .tableformoratoriumofloanshow {
    thead {
      display: none!important;
    }
    .date:before {
      content: 'Previous Due Date: ';
      font-weight: bold; 
    }

    .newdate:before {
      content: 'New Due Date: ';
      font-weight: bold; 
    }

    .amount:before {
      content: 'Amount Delayed: ';
      font-weight: bold; 
    }

    .reason:before {
      content: 'Reason: ';
      font-weight: bold; 
    }
  }

  .tableforloanindex {
    thead {
      display: none!important;
    }
    .member:before {
      content: 'Member: ';
      font-weight: bold; 
    }
    .pn_no:before {
      content: 'PN Number: ';
      font-weight: bold; 
    }
    .center:before {
      content: 'Center: ';
      font-weight: bold; 
    }
    .cycle:before {
      content: 'Cycle: ';
      font-weight: bold; 
    }
    .type:before {
      content: 'Type: ';
      font-weight: bold; 
    }
    .amount:before {
      content: 'Amount: ';
      font-weight: bold; 
    }
    .balance:before {
      content: 'Balance: ';
      font-weight: bold; 
    }
  }

  .insuranceinformationloanform {
    thead {
      display: none!important;
    }
    .insurance_type:before {
      content: 'Insurance Type: ';
      font-weight: bold; 
    }
    .expected_deposit_ft:before {
      content: 'Expected Deposit Value(First Time): ';
      font-weight: bold; 
    }
    .expected_deposit_loans:before {
      content: 'Expected Deposit Value(Loans > 0): ';
      font-weight: bold; 
    }
  }

  .tableofcollectionsindex {
    thead {
      display: none!important;
    }
    .date:before {
      content: 'Date: ';
      font-weight: bold; 
    }
    .branch:before {
      content: 'Branch: ';
      font-weight: bold; 
    }
    .center:before {
      content: 'Center: ';
      font-weight: bold; 
    }
    .total_amount:before {
      content: 'Total Amount: ';
      font-weight: bold; 
    }
    .status:before {
      content: 'Status: ';
      font-weight: bold; 
    }
  }

  .tableforknegosyoincollections {
    thead {
      display: none!important;
    }

    .savings_type[data-savings-type]:before {
      content: attr(data-savings-type) ": " ;
      font-weight: bold;
    }

    .savings_type_total[data-savings-type-total]:before {
      content: attr(data-savings-type-total) " Total: " ;
      font-weight: bold;
    }

    .insurance_type[data-insurance-type]:before {
      content: attr(data-insurance-type) ": " ;
      font-weight: bold;
    }

    .insurance_type_total[data-insurance-type-total]:before {
      content: attr(data-insurance-type-total) " Total: " ;
      font-weight: bold;
    }

    .member:before {
      content: 'Member: ';
      font-weight: bold; 
    }

    .cbu_balance:before {
      content: 'CBU Balance: ';
      font-weight: bold;
    }

    .cbu_total:before {
      content: 'CBU Balance Total: ';
      font-weight: bold;
    }

    .total:before {
      content: 'Total: ';
      font-weight: bold;
    }
    .loan_amt:before {
      content: 'Loan Amount: ';
      font-weight: bold;
    }
    .loan_amount_total:before {
      content: 'Loan Amount Total: ';
      font-weight: bold;
    }
    .loan_balance:before {
      content: 'Loan Balance: ';
      font-weight: bold;
    }
    .loan_balance_total:before {
      content: 'Loan Balance Total: ';
      font-weight: bold;
    }
    .loan_payment:before {
      content: 'Loan Payment: ';
      font-weight: bold;
    }
    .loan_payment_total:before {
      content: 'Loan Payment Total: ';
      font-weight: bold;
    }
    .wp1:before {
      content: 'WP1: ';
      font-weight: bold;
    }
    .wp1_total:before {
      content: 'WP1 Total: ';
      font-weight: bold;
    }
    .wp2:before {
      content: 'WP2: ';
      font-weight: bold;
    }
    .wp2_total:before {
      content: 'WP2 Total: ';
      font-weight: bold;
    }
    .amnt_rec:before {
      content: 'Amt. Rec.: ';
      font-weight: bold;
    }
    .amnt_rec_total:before {
      content: 'Amt. Rec. Total: ';
      font-weight: bold;
    }
  }

  .tableforcollectionsedit {
    thead {
      display: none!important;
    }

    .savings_type[data-savings-type]:before {
      content: attr(data-savings-type) ": " ;
      font-weight: bold;
    }

    .savings_type_total[data-savings-type-total]:before {
      content: attr(data-savings-type-total) " Total: " ;
      font-weight: bold;
    }

    .insurance_type[data-insurance-type]:before {
      content: attr(data-insurance-type) ": " ;
      font-weight: bold;
    }

    .insurance_type_total[data-insurance-type-total]:before {
      content: attr(data-insurance-type-total) " Total: " ;
      font-weight: bold;
    }

    .member:before {
      content: 'Member: ';
      font-weight: bold; 
    }
    .loan_payment:before {
      content: 'LP: ';
      font-weight: bold; 
    }

    .wp1:before {
      content: 'WP1: ';
      font-weight: bold;
    }
    .wp1_total:before {
      content: 'WP1 Total: ';
      font-weight: bold;
    }
    .wp2:before {
      content: 'WP2: ';
      font-weight: bold;
    }

    .cp_amount:before {
      content: 'CP: ';
      font-weight: bold;
    }

    .lp_total:before {
      content: 'LP Total: ';
      font-weight: bold;
    }

    .wp1_total:before {
      content: 'WP1 Total: ';
      font-weight: bold;
    }
    .wp2_total:before {
      content: 'WP2 Total: ';
      font-weight: bold;
    }
    .cp_amt_total:before {
      content: 'CP Total: ';
      font-weight: bold;
    }
  }
  .bankindextable {
    .date:before {
      content: 'Date: ';
      font-weight: bold;
    }
    .branch:before {
      content: 'Branch: ';
      font-weight: bold;
    }
    .amount:before {
      content: 'Amount: ';
      font-weight: bold;
    }
    .status:before {
      content: 'Status: ';
      font-weight: bold;
    }
  }

  .tableshowforequityaccount {
    thead {
      display: none!important;
    }

    .date:before {
      content: 'Date: ';
      font-weight: bold;
    }
    .amount:before {
      content: 'Amount: ';
      font-weight: bold;
    }
    .type:before {
      content: 'Type: ';
      font-weight: bold;
    }
  }

}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {

  .dashboard {
    .ui.segment {
      color: #888;
      height: 150px!important;
      margin-top: 5%!important;
    }

    .orangy1 {
      margin-top: 12px;
    }

    .ui.label {
      font-size: 13px;  
      margin-top: 16px;  
    }

    .g, .o, .peso {
      float: right!important;
      margin-top: -57px;
    }

    .panel {
      margin-top: 5%;
    }
  }

  .navbar-nav {
    margin: 7.5px -15px!important;
    font-size: 12px;
  }

  .navbar-form {
    .dropdown {
      margin-top: 10px;
    }
  }

  .memberinfo {
    margin-top: 2%;
  }

  .loansform {
    .well {
      margin-top: 4%;
    }
  }

  .ui.menu {
    margin-top: 11%!important;
  }

  .tableforcollectionsedit {
    thead {
      display: none!important;
    }

    .savings_type[data-savings-type]:before {
      content: attr(data-savings-type) ": " ;
      font-weight: bold;
    }

    .savings_type_total[data-savings-type-total]:before {
      content: attr(data-savings-type-total) " Total: " ;
      font-weight: bold;
    }

    .insurance_type[data-insurance-type]:before {
      content: attr(data-insurance-type) ": " ;
      font-weight: bold;
    }

    .insurance_type_total[data-insurance-type-total]:before {
      content: attr(data-insurance-type-total) " Total: " ;
      font-weight: bold;
    }

    .member:before {
      content: 'Member: ';
      font-weight: bold; 
    }
    .loan_payment:before {
      content: 'LP: ';
      font-weight: bold; 
    }

    .wp1:before {
      content: 'WP1: ';
      font-weight: bold;
    }
    .wp1_total:before {
      content: 'WP1 Total: ';
      font-weight: bold;
    }
    .wp2:before {
      content: 'WP2: ';
      font-weight: bold;
    }

    .cp_amount:before {
      content: 'CP: ';
      font-weight: bold;
    }

    .lp_total:before {
      content: 'LP Total: ';
      font-weight: bold;
    }

    .wp1_total:before {
      content: 'WP1 Total: ';
      font-weight: bold;
    }
    .wp2_total:before {
      content: 'WP2 Total: ';
      font-weight: bold;
    }
    .cp_amt_total:before {
      content: 'CP Total: ';
      font-weight: bold;
    }


  }
}

@media only screen 
  and (min-device-width: 992px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
  
  .dashboard {

    .orangy1 {
      margin-top: 0px!important;
    }

    .orangy {
      margin-top: 4px!important;
    }

    .ui.label {
      font-size: 13px;  
      margin-top: 16px;  
    }

    .g, .o, .peso {
      float: right!important;
      margin-top: 0px;
      font-size: 2em!important;
    }

    .panel {
      margin-top: 5%;
    }

    .wrappercount {
      width: 180px!important;
    }

    h3 {
      font-size: 15px;
    }
  }

    .loansform {
    .well {
      margin-top: 4%;
    }
  }

}
