@import "colors";

.member {
  .profile-picture {
    display: inline-block;
  }

  .profile-details {
    display: inline-block;
    vertical-align: top;
    padding-left: 12px;

    .name {
      font-size: 1.8em;
    }

    ul {
      list-style-type: none;
      padding-left: 0;
    }
  }

  small {
    color: $labelGrey;
  }
}

#memberListFilter {
  margin-top: 1%;
}

.profilePicture {
  display: inline-block;
}


.error {
  color: red;
}

.listofmembers {
  .card {
    .row {
      margin: -14px;
    }
    .header {
      margin-top: 10px;
    }
    .description {
      .ui.label:first-child {
        margin-left: 1px;
      }

      .label {
        margin-top: 5px;
        font-size: 11px;
      }
    }
  }
}