@import "colors";

.navbar {
  background-color: #1E3944;
  margin-bottom: 5%;
  border-radius: 0;
  position: fixed;
  z-index: 100;
  width: 100%;
  color: white;
}

.navbar-default .navbar-nav > li > a {
  color: white;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: white;
}

.dropdown-menu {
  li {
    a {
      color: white;
    }

    a:hover {
      color: #e2e2e2;
    }
  }
}

.navbar-default .navbar-nav {
  li a {
    color: white;
  }

  li {
    color: white;
  }

  li a:hover {
    color: #e2e2e2;
    background-color: $darkBlue;
    border-bottom: 5px solid $lightBlue;
    padding-bottom: 10px;
  }

  li.active a {
    background-color: $darkBlue;
    border-bottom: 5px solid $lightBlue;
    color: white;
    padding-bottom: 10px;
  }

  .active a:hover {
    background-color: $darkBlue;
    border-bottom: 5px solid $lightBlue;
    color: white;
    padding-bottom: 10px;
  }
}

 li.a {
  display: none;
}

.b {
  .logged_in_as {
    margin-top: 3%;
    text-align: right;
  }
  .btn {
    margin-top: 5%;
  }

}


.ui.menu:last-child {
    margin-bottom: -4rem !important;
}

.dropdown-menu li a {
  color: black;
}