// LOADING DIV
div#page_loader {
  position: fixed;
  top: 0;
  bottom: 0%;
  left: 0;
  right: 0%;
  background-color: rgba(0, 0, 0, .5);
  z-index: 99;
  display: none;

  .loadingContent {
    padding-top: 250px;
    font-size: 2.5em;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    right: 47%;
    position: absolute;
  }
}

.bs-callout-success {
  background-color: #dff0d8;
  border-color: #468847;
  border-left: 3px solid #468847 !important;
  color: #468847;
}

.bs-callout-info {
  background-color: #f4f8fa;
  border-color: #5bc0de;
  border-left: 3px solid #5bc0de !important;
  color: #5bc0de;
}

.bs-callout-notice {
  background-color: #f4f8fa;
  border-color: #5bc0de;
  border-left: 3px solid #5bc0de !important;
  color: #5bc0de;
}

.bs-callout-alert {
  background-color: #fdf7f7;
  border-color: #d9534f;
  border-left: 3px solid #d9534f !important;
  color: #d9534f;
}

.bs-callout-danger {
  background-color: #fdf7f7;
  border-color: #d9534f;
  border-left: 3px solid #d9534f !important;
  color: #d9534f;
}

.bs-callout-error {
  background-color: #fdf7f7;
  border-color: #d9534f;
  border-left: 3px solid #d9534f !important;
  color: #d9534f;
}

.bs-callout {
  padding: 20px;
  border-left: 3px solid #eee;
}

.error {
  //border-left: 3px solid #d9534f !important;
  color: #d9534f; 
}
