.check {
  font-size: 0.9em;
  font-weight: bold;
}

.check-name {
  margin-top: -0.3%;
  margin-left: 60px;
}

.check-amount-name {
  margin-left: 40px;
}

.check-date {
  margin-top:25px;
  margin-left: 500px;
}

.check-amount{
  margin-left: 364px;
}
