// Dashboard
.latest_loan, .latest_paid, .pending_loan {
  background-color: #F7F6F2;
  width: auto;
  padding: 10px;
  font-weight: bold;
  margin-top: 1%;
}


.for_mobile {
  display: none;
}

//LOANS

.tr_label_loan {
  background-color: #1E3944;
  color: white;
 
  th {
    text-align: center;
  }
}



//WITHRAW

.withraw {
  width: 47vw;
  font-weight: bold;
  text-align: center;
  margin-top: 48px;
}

.row_border {
  border: 1px solid #e2e2e2;
  width: 47vw;
}

.btn_withraw {
  float: right;
  margin: 5px;
  margin-right: 10px;
}


.withraw_for_mobile {
  background-color: #F7F6F2;
  width: 100%;
  padding: 10px;
  font-weight: bold;
}


.row_border_for_mobile {
  border: 1px solid #e2e2e2;
  width: 100%;
}

.loans_show {
}

.details {
  background-color: #1E3944;
  color: white;
  padding: 8px;
  font-weight: bold;
  margin-top: 1%;
}



// ACCOUNTING

.general_ledger, .books {
  background-color: #F7F6F2;
  padding: 8px;
  font-weight: bold;
  margin-top: 1%;
  
}

.gen_ledger h4{
  background-color: #F7F6F2;
  padding: 8px;
  margin-top: 1%;
}
.ledger_table {
  margin-top: -0.9%;
}


// Reports

.date_from_to {
  text-align: center;
  margin-top: 1%;
  font-size: 1.5em;
}


.table_member_report {
  width: 75%;
  margin-top: 2%;

  th, td {
    border: 1px solid black;
    padding: 5px;
  }

}


.table_member_report1 {
  width: 100%;
  margin-top: 2%;

  th, td {
    border: 1px solid black;
    padding-left: 2px;
  }

}

.name_report {
  text-align: center;
  margin-top: 1%;
  font-size: 1.5em;

}

.name_t {
  margin-top: 6%;
  margin-left: -10%;
}

.general_info_report {
  margin-top: 3%;
}

.image_report{
  width: 60%;
}

.gir {
  padding: 10px;
}

.name {
  font-size: 1.5em;
}


// VOUCHERS

.check_voucher {
  width: 100%;
  margin-top: 3%;
  margin-left: 0;
}

.check_voucher_print-out {
  width: 100%;
  margin-top: 3%;
  
}

.check_voucher_mobile {
  width: 100%;
  margin-top: 3%;
}

.voucher_title {
  margin-top: 1%;
  font-weight: bold;
  font-size: 1em;
  text-align: center;
  
}

.voucher_title_print-out {
  padding: 10px;
  background-color:#1E3944;
  color: white;
}
.details_voucher {
  text-align: left;
  margin-top: 3%;
  .col-md-6 {
    margin: 0;
  }
}

.address_v {
  text-align: center;
  padding-left: 10px;
}
.address_v_print-out {
  padding-left: 10px;
  text-align: center;

}

.voucher_date {
  text-align: left;
  margin-top: 2%;
  padding-left: 10px;

}

.voucher_date_print-out {
  text-align: right;
  margin-top: 1%;
  padding-right: 10px;
  font-size: 14px;

}

.voucher_date_amor{
  text-align: right;
  padding-right: 10px;
  margin-top: 1%;
  padding-left: 10px;
  padding-bottom: 10px;
  font-size: 13px;
}

.voucher_table_o_print-out {
  width: 100%;
  margin-top: 2%;
  text-align: left;
  font-size: 13px;
  th, td {
    border: 1px solid white;
    padding-right: 5px;
    padding-left: 5px;
  }
 th {
    width: 30%;
    padding-left: 10px;

  }
  
}

.importants {
  background-color: #F7F6F2; 
}

.title_v {
  font-weight: bold;
  font-size: 1em;
}

.underlines {
  text-decoration: underline;
 
}

.amortizations_sched {
  width: 100%;
  margin-top: 3%;
  padding-bottom: 2%;
  margin-bottom: 1%;

}

.amortization_table {
  width: 100%;
  font-size: 13px;
  margin-top: 1%;
  th, td {
    border: 1px solid black;
    padding-right: 5px;
    padding-left: 5px;

  }

  th {
    background-color: #F7F6F2; 
    text-align: center;
  }
}

.amor_name {
  text-align: left;
  padding-left: 10px;
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 13px;
}

.logok img{
  width: 20%;
  margin-top: 1%;
  margin-left: -80%;
}

.addk {
  margin-left: 7%;
  font-size: 13px;
}

.particulars {
  width:100%;
  padding: 10px;
  margin-top: 2%;
  
  td {
    border: solid 1px black;
    padding: 10px;
    padding-bottom: 60px;
  }

  th {
    text-align: center;
    border: solid 1px black;
  }
}

.th-align {
  padding-left: 100px; 
}


// Loans 

.by_loan_type {
  background-color: #F7F6F2;
  padding: 8px;
  font-weight: bold;
  margin-top: 1%;
  
}

.btn_trans {
  text-align: left;
}

.dw {
  text-align: left;
  padding: 10px;

  .btn_trans {
    float: right;
    margin-bottom: 10px;
  }
}

.w_m {
  margin-top: 5%;
}

.form-group {
  .date {
    width: 30%;
    display: inline;
  }

  label.required {
    display: block;
  }

  label.date {
     display: block;
  }

}

.voucher_table {
  .table thead tr td {
    border-top: none!important;
    padding: 2px;
    padding-left: 10px;
  }
}

.particular {
  text-align: center;
}

.panel, .panel-heading {
  border-radius: 0;
}

.bank-style {
  ul {
    list-style-type: none;
  }
  li {
    text-decoration: none;
    display: inline;
    text-align: center;

    img {
      width: 50px;
      padding-bottom: 10px;
    }
  }

  li:hover {
    text-decoration: none;
  }
}

.tran {
  background-color: #e2e2e2;
  padding: 10px;
}


// filters

#filter {

  .btn-warning {
    background-color: #1E3944 !important;
    border-color: #1E3944;
  }

  .ui.tag.label, .ui.tag.labels .label:before, .ui.tag.label:before {
    background-color: #1E3944 !important;
    color: white;
  }
}

.title {
  color: #1E3944;
}

.panel-heading {
  .btn {
    margin-top: -43px;
  }

  .ui.brown.button {
    margin-top: -26px;
  }

}

.nav_for_accnt {
  .ui.menu {
    margin-top: 5%;
    font-size: 1.5rem;
  }

  a {
    text-decoration: none;
  }
}

.paying_member {
  background-color: #96F7BF;
}

.non_paying_member {
  background-color: #ffe4e1;
}

.tableforknegosyoincollections {
  a {
    color: black;
    text-decoration: underline;
    font-weight: bold;
  }
}


.ui.left.visible.sidebar, .ui.right.visible.sidebar {
  padding-top: 60px;
  font-size: 13px;

}

.ui.top.attached.label, .ui.attached.label {
  margin-top: 50px;
  font-size: 15px;
  color: #009c95;
}

.page-break {
  display: block;
  clear: both;
  page-break-after: always;
}

.panel-break, blockquote {page-break-inside: avoid;} 

// GENERAL LEDGER 

.general_ledger, .trial_balance {
  .label {
    font-size: 18px;
  }  
}

.ui.form {
  font-size: 14px;
}

.warning_delete {
  margin-top: 15px;
}

.select2-container--bootstrap .select2-dropdown {
  z-index: 11000!important;
}


