table.member-count {
  table-layout: auto;
  td {
    text-align: center;
  }
  thead {
    th {
      text-align: center;
    }
  }
}

.simple {
  position: relative;
  background: #fff;
  border: 1px solid #f4f4f4;
  padding: 20px;
  margin: 10px 25px;
}

.date {
  width:  auto;
}

.detailsTable {
  th {
    width: 15%;
  }
}

.listHeaderActions {
  float: right;
}

.listHeaderActions_mobile {
  float: left;
  padding-left: 15px;
  padding-top: 1%;
}

.listHeaderActions_mobile1 {
  margin-left: 2px;
  .btn {
   float: left;
   margin-top: 5px;
   margin-bottom: 5px;
  }
}

.listHeaderActions_mobile2 {
  margin-left: 2px;
  margin-top: 10px;
  .btn {
   float: left;
   margin-bottom: 5px;
  }
}

.filterz {
  margin-top: 5%;
  color: black;
}

#generalLedgerTable {
  thead {
  }

  tr.account {
    font-weight: bold;
  }
}

.input-xs {
  height: 22px !important;
  padding: 5px 5px !important;
  font-size: 12px !important;
  line-height: 1.5 !important;
}

.basicBox {
  border: 1px solid #e2e2e2;
  padding: 10px;
  margin-bottom: 10px;
}

.basicBoxHeader {
  color: #fff;
  background-color: #1E3944;
  padding: 8px;
  font-weight: bold;
}

.tabBox {
  border-bottom: 1px solid #e2e2e2;
  border-left: 1px solid #e2e2e2;
  border-right: 1px solid #e2e2e2;
  padding-top: 10px;
}

.form-actions {
  padding: 19px 20px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border-top: 1px solid #e5e5e5;
}

.actions {
  text-align: right;
}

tr.total {
  td {
    font-weight: bold;
    background-color: yellow;
  }
}

.approved {
  background-color: #dff0d8;
}

.pending {
  background-color: #fdf7f7;
}

.rejected {
  background-color: #B55656;
  color: #fefefe;
  border-color: #d9534f;
  border: 1px solid #d9534f;
}


.tbodz {
  margin-top: 10px;
}

.input {
  color: black;
}
