.box.box-info
  .box.box-header.with-border
    %h3 Actions
  .box-body.box-profile
    %label
      Toggle Editable:

    - if ["MIS","SBK","BK"].include? current_user.role
      = check_box_tag :is_editable, nil, false, id: 'toggle-is-editable', class: 'switch'
    - else
      Restricted for Accounting Supervisor and Accounting Officer Only
    %hr

    - if @member.active?
      = render partial: "members/components/modal_request_transfer"
      %label
        Transfer Member:
      = button_tag :request_transfer, id: "btn-request-transfer", class: "btn btn-info btn-block" do
        .fa.fa-upload
        Request Transfer
    - if @member.for_transfer?
      = render partial: "members/components/modal_cancel_transfer"
      %label
        Cancel Transfer
      %br
      = link_to member_transfer_request_path(@member.member_transfer_request.id), class: "btn btn-info btn-block" do
        .fa.fa-upload
        Transfer Page
    - if Settings.activate_microinsurance and @member.active?
      = render partial: "members/components/modal_resign_from_insurance"
      %hr
      %label
        Resign from Insurance
      = button_tag :resign_from_insurance, id: "btn-resign-from-insurance", class: "btn btn-danger btn-block" do
        .fa.fa-times
        Resign from Insurance
