- if @member.resigned?
	= render partial: "members/components/modal_balik_kasapi_mii"
	.box.box-info
		.box.box-header.with-border	
			%h3
				Balik Kasapi (Mii)
			%hr	
			= button_tag :balik_kasapi_mii, id: "btn-balik-kasapi-mii", class: "btn btn-success btn-block" do
				.fa.fa-reply
				Balik Kasapi