.box.box-info
  .box.box-header.with-border
    %h3 Change of Beneficiaries
  .box-body.box-profile
    = link_to member_change_beneficiaries_pdf_path(member), target: "_blank", class: "btn btn-default btn-block" do
      .fa.fa-download
      Form 