.box.box-info
  .box.box-header.with-border
    %h3 Change of Recognition Date
  .box-body.box-profile
    = render partial: "members/components/modal_change_of_recognition_date"
    = button_tag :change_of_recognition_date, id: "btn-change-of-recognition-date", class: "btn btn-success btn-block" do
      .fa.fa-times
      Change of Recognition