.row
  .col-md-12
    = f.input :reason_for_joining, label: "DAHILAN NG PAGSALI SA KCOOP"
.row
  .col-md-6
    %label
      MAY KARANASAN SA KOOPERATIBA / MFI?
    = f.input :is_experienced_with_microfinance, label: false, input_html: { class: "switch", id: "switch-on-off" }
  .col-md-6.switch-form{:style => "display:none"}
    = f.input :experience_with_microfinance, label: "KARANASAN SA KOOPERATIBA / MFI"

= javascript_include_tag "switch_on_off"