%h4 PASOK NG PERA
#member-weekly-incomes
  = f.simple_fields_for :member_weekly_incomes do |ff|
    = render 'member_weekly_income_fields', f: ff
  = link_to_add_association f, :member_weekly_incomes, data: { association_insertion_mode: '#member-weekly-incomes' }, class: 'btn btn-info' do
    .fa.fa-plus
    DUMAGDAG

%hr

%h4 LABAS NG PERA
#member-weekly-expenses
  = f.simple_fields_for :member_weekly_expenses do |ff|
    = render 'member_weekly_expense_fields', f: ff
  = link_to_add_association f, :member_weekly_expenses, data: { association_insertion_mode: '#member-weekly-expenses' }, class: 'btn btn-info' do
    .fa.fa-plus
    DUMAGDAG

%hr
