.box.box-primary
  .box-header.with-border
    %h3.title LINGGUHANG PASOK AT LABAS NG PERA NG PAMILYA / HOUSEHOLD INCOME
  .box-body
    = render partial: "members/components/form_member_weekly_income", locals: { f: f }
    %h4
    .row
      .col-md-4
        = f.input :num_years_business, label: "TAGAL SA NEGOSYO (Taon?)"
      .col-md-4
        = f.input :num_months_business, label: "(Buwan?)"  
      .col-md-4
        = f.input :num_workers_business, label: "ILAN ANG TAUHAN (WORKER)?"

    /= render partial: "members/components/form_member_working_relatives", locals: { f: f }