%hr
%h4 MGA KAPAMILYA NA KASAMBAHAY NA MAY HANAPBUHAY
#member-working-relatives
  = f.simple_fields_for :member_working_relatives do |ff|
    = render 'member_working_relative_fields', f: ff
  = link_to_add_association f, :member_working_relatives, data: { association_insertion_mode: '#member-working-relatives' }, class: 'btn btn-info' do
    .fa.fa-plus
    DUMAGDAG
