.box.box-default
  .box.box-header.with-border
    %h3 Certificates
  .box-body.box-profile
    %label
      Number of Certificates:
    #{member.member_certificates.where(is_void: nil).size}
    %table.table
      %tbody
        - member.member_certificates.where(is_void: nil).each do |member_certificate|
          %tr
            %th #{link_to member_certificate, member_member_certificate_path(member, member_certificate)}
            %td #{member_certificate.date_issue}
    = link_to new_member_member_certificate_path(member), class: "btn btn-default btn-block" do
      .fa.fa-plus
      Issue Certificate
