- if @member.for_resignation?
  /.box.box-danger
  /  .box.box-header.with-border
  /    %h3 Revert Resignation
  /  .box-body.box-profile
  /    %p
  /      This member is already flagged for resignation. Would you like to revert?
  /    = link_to "#", class: 'btn btn-danger btn-block', id: 'btn-revert-resignation' do
  /      .fa.fa-times
  /      Revert Resignation
  /
  /= render partial: "members/components/modal_revert_resignation_confirmation"
  
- elsif @member.resigned?
  .box.box-danger
    .box.box-header.with-border
      %h3 Resignation
    .box-body.box-profile
      This member is already resigned.
      - if ["MIS", "SBK"].include? current_user.role
        = link_to "#", class: 'btn btn-success btn-block', id: 'btn-balik-kasapi' do
          .fa.fa-share
            Balik Kasapi

- elsif @member.transfered? 
  This member is already transfered.
- elsif @member.for_transfer?
  This member is for transfer.
- else
  .box.box-danger
    .box.box-header.with-border
      %h3 Resignation
    .box-body.box-profile
      = link_to "#", class: 'btn btn-danger btn-block', id: 'btn-resign' do
        .fa.fa-times
        Resign Member

= render partial: "members/components/modal_resign"
