.box.box-primary
  .box-body.box-profile
    = image_tag member.profile_picture.url(:standard), class: "profile-user-img img-responsive img-circle"
    %h4.profile-username.text-center 
      #{member.full_name}
    %h4.profile-username.text-center
      #{member.identification_number}
    %ul.list-group.list-group-unbordered
      %li.list-group-item
        %b Branch
        %span.pull-right #{member.branch.name.upcase}
      %li.list-group-item
        %b Center
        %span.pull-right #{member.center.name.upcase}
      %li.list-group-item
        %b Status
        %span.pull-right #{member.status.upcase}
      %li.list-group-item
        %b Insurance Status
        %span.pull-right #{member.insurance_status.upcase}  
      - if Settings.activate_microinsurance == true  
        %li.list-group-item
          %b Lenght of Stay
          %br
            %span.pull-right #{member.length_of_stay}
    %center
      = image_tag member.signature.url(:medium)
    = link_to edit_member_path(member), class: 'btn btn-default btn-block' do
      .fa.fa-pencil
      Edit Record
- if @member.status == 'pending'  
  .box.box-danger
    .box-body
      = link_to member_path(@member), method: :delete, class: 'btn btn-block btn-danger', data: { confirm: 'Are you sure?' } do
        .fa.fa-times
        Delete
