.box.box-default
  .box.box-header.with-border
    %h3 Shares
  .box-body.box-profile
    %label
      Number of Shares:
    #{member.member_shares.where(is_void: nil).sum(:number_of_shares)}
    %table.table
      %tbody
        - member.member_shares.where(is_void: nil).each do |member_share|
          %tr
            %th #{link_to member_share, member_member_share_path(member, member_share)}
            %td #{member_share.date_of_issue}
            %td #{member_share.number_of_shares}
    = link_to new_member_member_share_path(member), class: "btn btn-default btn-block" do
      .fa.fa-plus
      Issue Share
