.box.box-default
  .box.box-header.with-border
    %h3 Memberships
  .box-body.box-profile
    %table.table
      %tbody
        - member.memberships.each do |membership|
          %tr
            %td 
              %label
                #{membership[:membership_type][:name]}
            %td
              %span{ class: "pull-right label #{membership[:paid] == true ? 'label-success' : 'label-danger'}"}
                #{membership[:paid] == true ? "Paid: #{membership[:membership_payment][:paid_at]}": 'Unpaid'}
    = link_to new_membership_payments_payment_collection_path(member_id: member.id, branch_id: member.branch.id, center_id: member.center.id, date_of_payment: Date.today), class: "btn btn-default btn-block" do
      .fa.fa-money
      Pay Membership
