#modal-resign-from-insurance.modal.fade.modal-fade.modal-resign
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{type:'button', data:{dismiss:'modal'}}
          %span{aria:{hidden:'true'}}
            %i.fa.fa-close
          %span.sr-only Close
        %h4.modal-title
          Resign Member from Insurnace
      .modal-body
        %label
          Date of Resignation
        = text_field_tag :input_date_resigned, Date.today.strftime("%Y-%m-%d"), id: "input-date-resigned", class: "form-control datepick"
        %label
          Reason
        %textarea{ id: "input-reason", class: "form-control" }
        .message
        %hr
        %button#btn-confirm-insurance-resign.btn.btn-primary
          .fa.fa-check
          Confirm
        %button.btn.btn-default{ type: 'button', data: { dismiss: 'modal' } }
          .fa.fa-times
          Cancel
