#modal-resign.modal.fade.modal-fade.modal-resign
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{type:'button', data:{dismiss:'modal'}}
          %span{aria:{hidden:'true'}}
            %i.fa.fa-close
          %span.sr-only Close
        %h4.modal-title
          Resign Member
      .modal-body
        .row
          .col-md-4
            %label
              Date Resigned
            = text_field_tag :date_resigned, Date.today, id: "modal-resign-date-resigned", class: 'form-control datepick'
          .col-md-4
            %label
              Resignation Type
            = select_tag :resignation_status, options_for_select(MemberResignation::RESIGNATION_TYPES), class: 'form-control', id: "modal-resign-select-status"
          .col-md-4
            %label
              Code
            = select_tag :resignation_particular, options_for_select([]), class: 'form-control', id: "modal-resign-select-particular"
        %hr
          #modal-resign-particular-section.well
        - if Settings.activate_microloans == true
          %hr
            %label
              Entry
            %table.table.table-bordered
              %tr
                %th.acc-curr Debit #{AccountingCode.where(id: Settings.equity_debit_accounting_code_id).first}
                /%th.acc-curr Credit #{AccountingCode.where(id: Settings.equity_credit_accounting_code_id).first}
                %th.acc-curr Credit #{AccountingCode.where(id: Settings.equity_resign_credit_accounting_code_id).first}
              %tr
                %td.curr
                  #{@member.equity_accounts.sum(:balance)}
                %td.curr
                  #{@member.equity_accounts.sum(:balance)}
            %label
              Particular
            = text_field_tag :particular, "", class: "form-control", id: "modal-resign-input-particular"
        %hr
          .message
          %button#btn-confirm-resignation.btn.btn-primary
            .fa.fa-check
            Confirm
          %button.btn.btn-default{ type: 'button', data: { dismiss: 'modal' } }
            .fa.fa-times
            Cancel
