#modal-cancel-transfer.modal.fade.modal-fade
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{type:'button', data:{dismiss:'modal'}}
          %span{aria:{hidden:'true'}}
            %i.fa.fa-close
          %span.sr-only Close
        %h4.modal-title
          Cancel Transfer
      .modal-body
        .row
          .col-md-12
            %p.bs-callout.bs-callout-danger
              You are about to cancel transfer status for this member. Continue?
        .row
          .col-md-12
            %center
              %button#btn-confirm-cancel-transfer.btn.btn-primary Confirm
              %button.btn.btn-default{type:'button', data: { dismiss: 'modal' }} Cancel
