#modal-balik-kasapi-mii.modal.fade.modal-fade.modal-balik-kasapi
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{type:'button', data:{dismiss:'modal'}}
          %span{aria:{hidden:'true'}}
            %i.fa.fa-close
          %span.sr-only Close
        %h4.modal-title
          Balik Kasapi
      .modal-body
        %label
          New recognition date
        = text_field_tag :new_recognition_date, Date.today.strftime("%Y-%m-%d"), id: "new-recognition-date", class: "form-control datepick"
        .message
        %hr
        %button#btn-confirm-balik-kasapi-mii.btn.btn-primary
          .fa.fa-check
          Confirm
        %button.btn.btn-default{ type: 'button', data: { dismiss: 'modal' } }
          .fa.fa-times
          Cancel
