.remodal.modal-approve-resignation.selext{ data: { remodal_id: "modal-approve-resignation" } }
  %h3
    Approve Resignation
  %p 
    You are about to resign a member.
    Are you sure you want to continue?
  .errors
  .success
  .message
  #modal-controls.controls
    %hr
      %button#btn-confirm-approval.ui.green.button
        .fa.fa-check
        Yes
      %button#btn-cancel-approval.ui.default.button.reject-btn
        .fa.fa-times
        No
