#modal-revert-resignation.modal.fade.modal-fade
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{type:'button', data:{dismiss:'modal'}}
          %span{aria:{hidden:'true'}}
            %i.fa.fa-close
          %span.sr-only Close
        %h4.modal-title
          Revert Resignation
      .modal-body
        .row
          .col-md-12
            %p.bs-callout.bs-callout-info
              Are you sure you want to revert this resignation?
        .row
          .col-md-12
            %button#btn-confirm-revert-resignation.btn.btn-primary
              .fa.fa-check
              Confirm
            %button.btn.btn-default{ type: 'button', data: { dismiss: 'modal' } }
              .fa.fa-times
              Cancel
