#modal-change-of-recognition-date.modal.fade.modal-fade
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{type:'button', data:{dismiss:'modal'}}
          %span{aria:{hidden:'true'}}
            %i.fa.fa-close
          %span.sr-only Close
        %h4.modal-title
          Change of Recognition Date #{@member}
      .modal-body
        %label
          Recognition Date
        = text_field_tag :mii_recognition_date, @member.previous_mii_member_since, id: "input-mii-recognition-date", class: "form-control datepick", disabled: true
        %label  
          New Recognition Date
        = text_field_tag :new_mii_recognition_date, Date.today.strftime("%Y-%m-%d"), id: "input-new-mii-recognition-date", class: "form-control datepick"
        .message
        %hr
        %button#btn-confirm-change-of-recognition-date.btn.btn-primary
          .fa.fa-check
          Confirm
        %button.btn.btn-default{ type: 'button', data: { dismiss: 'modal' } }
          .fa.fa-times
          Cancel
