%table.ui.blue.table
  %thead
    %tr
      %th Loan Product
      %th.acc-curr Amount
      %th.acc-curr Principal
      %th.acc-curr Interest
      - SavingsType.all.each do |savings_type|
        %th.acc-curr #{savings_type.code}
      - InsuranceType.all.each do |insurance_type|
        %th.acc-curr #{insurance_type.code}
  %tbody
    - member_resignation.resignation_loan_balances.each do |resignation_balance|
      %tr
        %td #{resignation_balance.loan.loan_product}
        %td.curr #{number_to_currency(resignation_balance.balance, unit: "")}
        %td.curr #{number_to_currency(resignation_balance.principal_balance, unit: "")}
        %td.curr #{number_to_currency(resignation_balance.interest_balance, unit: "")}
        - SavingsType.all.each do |savings_type|
          %td.curr
            = number_to_currency(resignation_balance.resignation_loan_balance_payments.where(account_type: "SAVINGS", account_type_code: savings_type.code).first.try(:amount), unit: "")
        - InsuranceType.all.each do |insurance_type|
          %td.curr
            = number_to_currency(resignation_balance.resignation_loan_balance_payments.where(account_type: "INSURANCE", account_type_code: insurance_type.code).first.try(:amount), unit: "")
