%table.ui.blue.table
  %thead
    %tr
      %th Account
      %th.acc-curr Amount
  %tbody
    - SavingsType.all.each do |savings_type|
      %tr
        %td #{savings_type.code}
        %td.curr
          = number_to_currency(member_resignation.resignation_withdrawals.where(account_type: "SAVINGS", account_type_code: savings_type.code).first.try(:amount), unit: "")
    - InsuranceType.all.each do |insurance_type|
      %tr
        %td #{insurance_type.code}
        %td.curr
          = number_to_currency(member_resignation.resignation_withdrawals.where(account_type: "INSURANCE", account_type_code: insurance_type.code).first.try(:amount), unit: "")
    %tr
      %th Total
      %th.curr #{number_to_currency(member_resignation.resignation_withdrawals.sum(:amount), unit: "")}
