.box.box-default
  .box.box-header.with-border
    %h3 Surveys
  .box-body.box-profile
    %table.ui.small.table
      %thead
        %tr
          %th Title
          %th Date
      %tbody
        - @member.survey_respondents.each do |survey_respondent|
          %tr
            %td
              = link_to "#{survey_respondent.survey.title}", survey_survey_respondent_path(survey_respondent.survey, survey_respondent)
            %td
              #{survey_respondent.date_answered}
    - Survey.all.each do |survey|
      = link_to new_survey_survey_respondent_path(survey, member_id: @member.id), class: 'btn btn-default btn-block' do
        .fa.fa-plus
        #{survey.title}
