%h3
  LINGGUHANG PASOK AT LABAS NG PERA NG PAMILYA / HOUSEHOLD INCOME (#{number_to_currency(@member.net_weekly_income, unit: "P")})

%h4
  PASOK NG PERA

%table.ui.blue.table
  %thead
    %tr
      %th{width: "50%"} PINAGKAKAKITAAN
      %th KITA SA ISANG LINGGO
  %tbody
    - @member.member_weekly_incomes.each do |member_weekly_income|
      %tr
        %td #{member_weekly_income.source.upcase}
        %td #{number_to_currency(member_weekly_income.amount, unit: "P")}
  %tfoot
    %tr
      %th KABUUANG PASOK NG PERA
      %th #{number_to_currency(@member.member_weekly_incomes.sum(:amount), unit: "P")}
%hr

%h4
  LABAS NG PERA

%table.ui.blue.table
  %thead
    %tr
      %th{width: "50%"} PINAGKAKAGASTUSAN
      %th GASTOS SA ISANG LINGGO
  %tbody
    - @member.member_weekly_expenses.each do |member_weekly_expense|
      %tr
        %td #{member_weekly_expense.source.upcase}
        %td #{number_to_currency(member_weekly_expense.amount, unit: "P")}
  %tfoot
    %tr
      %th KABUUANG LABAS NG PERA
      %th #{number_to_currency(@member.member_weekly_expenses.sum(:amount), unit: "P")}
%hr

%table.ui.blue.definition.table
  %tbody
    %tr
      %th{width: "50%"} PANGKABUUANG LINGUHANG PASOK NG PERA
      %th #{number_to_currency(@member.net_weekly_income, unit: "P")}

%hr

%table.ui.blue.definition.table
  %tbody
    %tr
      %td TAGAL NG NEGOSYO
      %td #{@member.length_of_business}
    %tr
      %td BILANG NG TAUHAN
      %td #{@member.num_workers_business}
    %tr
      %td DAHILAN NG PAGSALI
      %td #{@member.reason_for_joining}
    %tr
      %td MAY KARANASAN SA MFI
      %td #{@member.is_experienced_with_microfinance}
    %tr
      %td KARANASAN SA MFI
      %td #{@member.experience_with_microfinance}

