%section.content-header
  %h1 Interest and Tax Records
  %ol.breadcrumb
    %li{:style => "margin-top: -10px;"}
      = link_to "#", id: "btn-new", class: 'btn btn-primary bg-blue', style: 'color: #fff;' do
        .fa.fa-plus
        Create Record
%section.content

= render partial: "generate_billing_modal"
= render partial: "shared/errors_template"
= render partial: "shared/success_template"
= render partial: "shared/loading_modal"
