- if membership_payment.new_record?
  = simple_form_for membership_payment, url: member_membership_payments_path(member, membership_payment.id, membership_type_id: membership_type.id), defaults: { wrapper_html: { class: 'form-group' }, input_html: { class: 'form-control form-submit-loading' } }, html: { multipart: true, novalidate: true } do |f|
    .row
      .col-md-6
        = f.input :amount_paid
      .col-md-6
        = f.input :paid_at
    .row
      .col-md-6
        = f.simple_fields_for :membership_account_payments do |ff|
          = ff.input :account_type, as: :hidden
          = ff.input :deposit_type, as: :hidden
          = ff.input :amount, label: "#{ff.object.account_type}"
    %hr
    .form-actions
      = f.submit "Make Payment", class: 'btn btn-primary'
      = link_to member_path(member), class: 'btn btn-default' do
        .fa.fa-times
        Cancel
- else
  = simple_form_for [member, membership_payment], defaults: { wrapper_html: { class: 'form-group' }, input_html: { class: 'form-control form-submit-loading' } }, html: { multipart: true, novalidate: true } do |f|
    .row
      .col-md-6
        = f.input :amount_paid
      .col-md-6
        = f.input :paid_at
    .row
      .col-md-6
        = f.simple_fields_for :membership_account_payments do |ff|
          = ff.input :account_type, as: :hidden
          = ff.input :deposit_type, as: :hidden
          = ff.input :amount, label: "#{ff.object.account_type}"
    %hr
    .form-actions
      = f.submit "Make Payment", class: 'btn btn-primary'
      = link_to member_path(member), class: 'btn btn-default' do
        .fa.fa-times
        Cancel
