%section.content-header
  %h1
    Edit Membership Payment for #{@member.full_name}
    %small
      #{@membership_type}
  %ol.breadcrumb
    %li
      = link_to member_path(@member), class: '' do
        .fa.fa-arrow-left
        Back to Member
%section.content
  .ui.green.segment
    = render partial: "form", locals: { member: @member, membership_type: @membership_type, membership_payment: @membership_payment }
