#parameters{ data: { membership_payment_id: @membership_payment.id, member_id: @member.id } }
%section.content-header
  %h1
    Membership Payment for #{@member.full_name}
    %small
      #{@membership_type}
  %ol.breadcrumb
    %li
      = link_to member_path(@member), class: '' do
        .fa.fa-arrow-left
        Back to Member
%section.content
  .ui.green.segment
    %label Amount Paid:
    %span
      #{number_to_currency(@membership_payment.amount_paid, unit: "P")}
    %br
    %label Date of Payment:
    %span
      #{@membership_payment.paid_at.strftime("%b %d, %Y")}
    %hr
    %h4 Deposits
    %table.ui.table
      %thead
        %tr
          %th Account
          %th Amount
      %tbody
        - @membership_payment.membership_account_payments.each do |membership_account_payment|
          - if membership_account_payment.amount > 0
            %tr
              %td #{membership_account_payment.account_type}
              %td #{number_to_currency(membership_account_payment.amount, unit: "P")}
    %hr
    - if @membership_payment.pending?
      = link_to "#", class: 'btn btn-app bg-green', id: 'approve-btn' do
        %i.fa.fa-check
        Approve
      = link_to edit_member_membership_payment_path(@member, @membership_payment, membership_type_id: @membership_payment.membership_type.id), class: 'btn btn-app', id: 'edit-btn' do
        %i.fa.fa-pencil
        Edit
      = link_to "#", class: 'btn btn-app bg-red', id: 'delete-btn' do
        %i.fa.fa-times
        Delete

= render partial: "members/membership_payments/modals/approve_modal"
= javascript_include_tag "MembershipPayment"
