:css
  .print-text {
    font-size: 1em;
    font-family: arial;
  }

  .print-text-sub {
    font-size: 1.1em;
    font-family: arial;
  }

  table.deposit th.header{
    text-align: left;
    font-weight: bold;
  }

  table.voucher th.account-header{
    text-align: center;
    font-weight: bold;
  }

%span.print-text
  %center
    %br
    %p
      %b
        #{Settings.company}
      %br  
      %b
        #{Settings.company_address}
      %br  
      %b
        Cash Management - Insurance Withdrawals  
  %span.print-text-sub  
    %p
    %table.deposit{"border:" => "", :none => ""}
      %tr
        %th.header{width: 30}
        %th.header{width: 510} Member
        - @insurance_types.order("name ASC").each do |insurance_type|
          %th.header{width: 130} #{insurance_type.code}
        %th.header{width: 150} Amt Rec
   
      - @payment_collection.payment_collection_records.joins(:member).order("members.last_name ASC").each_with_index do |payment_collection_record, i|      
        %tr
          %td #{i + 1}
          %td #{payment_collection_record.member.full_name}
          - @insurance_types.order("name ASC").each do |insurance_type|
            %td.amount
              - payment_collection_record.collection_transactions.where(account_type: "INSURANCE").each do |collection_transaction|
                - if collection_transaction.account_type == "INSURANCE" and collection_transaction.account_type_code == insurance_type.code
                  #{number_to_currency(collection_transaction.amount, unit: "")}
          %td.amount
            #{number_to_currency(payment_collection_record.total_cp_amount, unit: "")}
      %tr
        %th.header
        %th.header Total
        - @insurance_types.order("name ASC").each do |insurance_type|
          %th.header #{number_to_currency(CollectionTransaction.where(payment_collection_record_id: @payment_collection.payment_collection_records.pluck(:id), account_type: "INSURANCE", account_type_code: insurance_type.code).sum(:amount), unit: "")}
        %th.header #{number_to_currency(@payment_collection.total_amount, unit: "")}
%hr
.entry  
  %span.print-text  
    %left  
      %br
      %p
        %b
          Particular:
        #{@payment_collection.particular}
      %br
      %br  
      %table.signatories{"border:" => "", :none => ""}
        %tr
          %th{width: 305} &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;#{@payment_collection.prepared_by}
          %th{width: 305} &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;#{@payment_collection.approved_by}
        %tr
          %td.overline &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Prepared by:&emsp;&emsp;
          %td.overline &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Approved by:&emsp;&emsp;
      %br
      %br
      %br
