.well
  - if @member_transfer_request.pending?
    = render partial: "modal_cancel_transfer"
    = link_to edit_member_transfer_request_path(@member_transfer_request), class: "btn btn-app" do
      .fa.fa-pencil
      Edit
    = link_to "#", class: "btn btn-app bg-red", id: "btn-cancel-transfer" do
      .fa.fa-times
      Cancel
    = link_to "#", class: "btn btn-app bg-green", id: "btn-approve" do
      .fa.fa-check
      Approve
