= simple_form_for @member_transfer_request do |f|
  %h4
    Loan Transfers
  %table.table.table-bordered
    %thead
      %tr
        %th{ width: "20%" } Loan Product
        %th.acc-curr{ width: "20%" } Amount
        %th{ width: "30%" } Debit Entry
        %th{ width: "30%" } Credit Entry
    %tbody
      = f.simple_fields_for :member_loan_transfer_requests do |ff|
        %tr
          %th
            #{ff.object.loan.loan_product}
          %th.curr
            #{number_to_currency(ff.object.amount, unit: "")}
          %td
            = ff.association :dr_accounting_code, input_html: { class: "form-control select-select2" }, label: false
          %td
            = ff.association :cr_accounting_code, input_html: { class: "form-control select-select2" }, label: false

  %h4
    Savings Transfers
  %table.table.table-bordered
    %thead
      %tr
        %th{ width: "20%" } Savings
        %th.acc-curr{ width: "20%" } Amount
        %th{ width: "30%" } Debit Entry
        %th{ width: "30%" } Credit Entry
    %tbody
      = f.simple_fields_for :member_savings_transfer_requests do |ff|
        %tr
          %th
            #{ff.object.savings_account.savings_type}
          %th.curr
            #{number_to_currency(ff.object.amount, unit: "")}
          %td
            = ff.association :dr_accounting_code, input_html: { class: "form-control select-select2" }, label: false
          %td
            = ff.association :cr_accounting_code, input_html: { class: "form-control select-select2" }, label: false

  %h4
    Equity Transfers
  %table.table.table-bordered
    %thead
      %tr
        %th{ width: "20%" } Equity
        %th.acc-curr{ width: "20%" } Amount
        %th{ width: "30%" } Debit Entry
        %th{ width: "30%" } Credit Entry
    %tbody
      = f.simple_fields_for :member_equity_transfer_requests do |ff|
        %tr
          %th
            #{ff.object.equity_account.equity_type}
          %th.curr
            #{number_to_currency(ff.object.amount, unit: "")}
          %td
            = ff.association :dr_accounting_code, input_html: { class: "form-control select-select2" }, label: false
          %td
            = ff.association :cr_accounting_code, input_html: { class: "form-control select-select2" }, label: false

  = f.input :particular, as: :text, input_html: { class: "form-control" }
  .form-actions
    = button_tag type: "submit", class: "btn btn-primary" do
      .fa.fa-check
      Save Record
    = link_to member_transfer_request_path(@member_transfer_request), class: "btn btn-default" do
      .fa.fa-times
      Cancel
