.well
  = link_to "#", class: "btn btn-app", id: "btn-generate" do
    .fa.fa-refresh
    Generate
  = link_to "#", class: "btn btn-app bg-red", id: "btn-cancel-pending" do
    .fa.fa-times
    Cancel Pending
  = link_to "#", class: "btn btn-app bg-green", id: "btn-approve-pending" do
    .fa.fa-check
    Approve Pending
  = link_to download_transferred_path, class: "btn btn-app", target: '_blank' do
    .fa.fa-download
    Download Transfer File
  = link_to "#", class: "btn btn-app", id: "btn-clean" do
    .fa.fa-refresh
    Clean
