%table.table.table-bordered
  %thead
    %tr
      %th{ width: "20%" } Insurance
      %th{ width: "20%", class: "acc-curr" } Balance
      %th{ width: "30%" } Debit Entry
      %th{ width: "30%" } Credit Entry
  %tbody
    - @member_transfer_request.member_insurance_transfer_requests.each do |member_insurance_transfer_request|
      %tr
        %td
          #{member_insurance_transfer_request.insurance_account.insurance_type}
        %td.curr
          #{number_to_currency(member_insurance_transfer_request.amount, unit: "")}
        %td
          #{member_insurance_transfer_request.dr_accounting_code}
        %td
          #{member_insurance_transfer_request.cr_accounting_code}
