%table.table.table-bordered
  %thead
    %tr
      %th Member
      %th Branch
      %th Center
      %th Status
      %th Actions
  %tbody
    - @member_transfer_requests.each do |member_transfer_request|
      %tr
        %td
          = link_to member_path(member_transfer_request.member), target: '_blank' do
            #{member_transfer_request.member.full_name}
        %td #{member_transfer_request.member.branch}
        %td #{member_transfer_request.member.center}
        %td
          - if member_transfer_request.pending?
            .label.label-danger
              Pending
          - if member_transfer_request.approved?
            .label.label-success
              Transferred
        %td
          = link_to member_transfer_request_path(member_transfer_request) do
            .fa.fa-search
            Details
