%table.table.table-bordered
  %thead
    %tr
      %th{ width: "20%" } Loan Product
      %th{ width: "20%", class: "acc-curr" } Amount (Remaining Principal Balance)
      %th{ width: "30%" } Debit Entry
      %th{ width: "30%" } Credit Entry
  %tbody
    - @member_transfer_request.member_loan_transfer_requests.each do |member_loan_transfer_request|
      %tr
        %td
          #{member_loan_transfer_request.loan.loan_product}
        %td.curr
          #{number_to_currency(member_loan_transfer_request.amount, unit: "")}
        %td
          #{member_loan_transfer_request.dr_accounting_code}
        %td
          #{member_loan_transfer_request.cr_accounting_code}
