#modal-clean.modal.fade.modal-fade
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{type:'button', data:{dismiss:'modal'}}
          %span{aria:{hidden:'true'}}
            %i.fa.fa-close
          %span.sr-only Close
        %h4.modal-title
          Clean Transfers
      .modal-body
        .row
          .col-md-12
            %p.bs-callout.bs-callout-info
              Are you sure you want to clean records?
        .row
          .col-md-12
            %center
              %button#btn-confirm-clean.btn.btn-primary Confirm
              %button.btn.btn-default{type:'button', data: { dismiss: 'modal' }} Cancel
