#modal-approve-generate.modal.fade.modal-fade
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{type:'button', data:{dismiss:'modal'}}
          %span{aria:{hidden:'true'}}
            %i.fa.fa-close
          %span.sr-only Close
        %h4.modal-title
          Approve Generate
      .modal-body
        .row
          .col-md-12
            %p.bs-callout.bs-callout-info
              You are about to generate transfer records. Are you sure you want to continue?
        .row
          .col-md-12
            %label Center
            = select_tag :center_id, options_from_collection_for_select(Center.all, :id, :name, @center.try(:id)), prompt: "-- SELECT --", class: "form-control select-select2", id: "center-select"
        .form-actions
          .row
            .col-md-12
              %center
                %button#btn-confirm-generate.btn.btn-primary Confirm
                %button.btn.btn-default{type:'button', data: { dismiss: 'modal' }} Cancel
