%section.content-header
  %h1
    Edit Member Transfer Request
    %small
      #{@member_transfer_request.member}
  %ol.breadcrumb
    %li
      = link_to member_path(@member_transfer_request.member) do
        Back to Member
    %li
      = link_to member_transfer_requests_path do
        Back to Transfer Requests

%section.content
  .box
    .box-body
      = render partial: "form"
