%section.content-header
  %h1
    Member Transfers

%section.content
  .box
    .box-body
      = render partial: "index_actions"
      = render partial: "list"

      %hr
      %h3
        Total Adjustments
      %hr

      %h4
        Loans
      %table.table.table-bordered
        %thead
          %tr
            %th Loan Product
            %th.acc-curr Principal Balance
            %th.acc-curr Interest Balance
        %tbody
          - @pending_data[:loans].each do |d|
            %tr
              %td #{d[:loan_product]}
              %td.curr #{number_to_currency(d[:principal_balance], unit: "")}
              %td.curr #{number_to_currency(d[:interest_balance], unit: "")}

      %h4
        Savings
      %table.table.table-bordered
        %thead
          %tr
            %th Type
            %th.acc-curr Balance
        %tbody
          - @pending_data[:savings].each do |d|
            %tr
              %td #{d[:savings_type]}
              %td.curr #{number_to_currency(d[:balance], unit: "")}

      %h4
        Insurance
      %table.table.table-bordered
        %thead
          %tr
            %th Type
            %th.acc-curr Balance
        %tbody
          - @pending_data[:insurance].each do |d|
            %tr
              %td #{d[:insurance_type]}
              %td.curr #{number_to_currency(d[:balance], unit: "")}

      %h4
        Equtiy
      %table.table.table-bordered
        %thead
          %tr
            %th Type
            %th.acc-curr Balance
        %tbody
          - @pending_data[:equity].each do |d|
            %tr
              %td #{d[:equity_type]}
              %td.curr #{number_to_currency(d[:balance], unit: "")}

= render partial: "modal_approve_transfer_records"
= render partial: "modal_approve_generate"
= render partial: "modal_cancel_transfer_records"
= render partial: "modal_clean"
= javascript_include_tag "transfers/MemberTransferRequest.Index"

:javascript
  $(document).ready(function() {
    MemberTransferRequest.Index.init(); 
  });
