%section.content-header
  %h1
    Transfer Page
    %small
      #{@member_transfer_request.member}
  %ol.breadcrumb
    %li
      = link_to member_path(@member_transfer_request.member) do
        Back to Member
    %li
      = link_to member_transfer_requests_path do
        Back to Transfer Requests

%section.content
  = render partial: "actions"
  .box
    .box-body
      %h3 Loans for Transfer
      = render partial: "loans"  

      %h3 Savings for Transfer
      = render partial: "savings"

      %h3 Equities for Transfer
      = render partial: "equities"

      %h3 Insurance for Transfer
      = render partial: "insurance"
  = render partial: "shared/voucher", locals: { voucher: @voucher }
#parameters{ data: { member_id: @member_transfer_request.member.id , member_transfer_request_id: @member_transfer_request.id } }
= javascript_include_tag "transfers/MemberTransferRequest.Show"
:javascript
  $(document).ready(function() {
    MemberTransferRequest.Show.init();
  });
