%table.table.table-bordered
  %thead
    %tr
      %th OIC
      %th Beginning
      %th New Members
      %th Resigned Members
      %th Actual
      %th Drop Out Rate
  %tbody
    - records[:officers_in_charge].each do |oic_data|
      %tr
        %td #{oic_data[:officer_in_charge]}
        %td #{oic_data[:current_members_count]}
        %td #{oic_data[:new_members_count]}
        %td #{oic_data[:resigned_members_count]}
        %td #{oic_data[:actual_members_count]}
        %td #{oic_data[:drop_out_rate] * 100}%
  %tfoot
    %tr
      %th Total
      %th #{records[:current_members_count]}
      %th #{records[:new_members_count]}
      %th #{records[:resigned_members_count]}
      %th #{records[:actual_members_count]}
      %th #{records[:drop_out_rate]}%
