#filter
  = form_tag reports_checks_path, html: { novalidate: true }, method: "GET" do
    %table.table.table-bordered.table-responsive
      %tr
        %th
          %label Check Number
          = text_field_tag :q, @q, placeholder: "Check Number", class: "form-control", id: "filter-check-q"
        %th
          %label Start Number
          = text_field_tag :start_number, @start_number, placeholder: "Min", class: "form-control", id: "filter-check-start-number"
        %th
          %label End Number
          = text_field_tag :end_number, @end_number, placeholder: "Max", class: "form-control", id: "filter-check-end-number"
        %th
          %label Start Date
          = text_field_tag :start_date, @start_date, class: "form-control datepick", id: "filter-check-start-date"
        %th
          %label End Date
          = text_field_tag :end_date, @end_date, class: "form-control datepick", id: "filter-check-end-date"
        %th
          %label Actions
          %br
          .ui.buttons
            = button_tag :filter, class: 'btn btn-primary' do
              .fa.fa-search
            = link_to "#", id: 'btn-print', class: 'btn btn-info' do
              .fa.fa-print
