%table.table.table-bordered.table-responsive
  %tr
    %th
      %label Branch
      = select_tag :branch_id, options_from_collection_for_select(@branches, :id, :name, Branch.first.try(:id)), class: "form-control select-select2", id: "branch-select", prompt: "-- SELECT --"
    %th
      %label Center
      = select_tag :center_id, options_from_collection_for_select(Branch.first.centers, :id, :name, @center.try(:id)), prompt: "-- SELECT --", class: "form-control select-select2", id: "center-select"
    %th
      %label 
        Start Date
      = text_field_tag :start_date, Time.now.strftime("%Y-%m-01"), class: "form-control datepick", id: "start-date"
    %th
      %label 
        End Date
      = text_field_tag :end_date, Time.now.strftime("%Y-%m-%d"), class: "form-control datepick", id: "end-date"
    %th
      %label Account Type
      = select_tag :account_type, options_for_select(["Savings", "Insurance", "Equity"]), class: "form-control select-select2", id: 'account-type-select', prompt: "-- SELECT --", multiple: "multiple"
    %th
      %label
        Actions
      %br
      = link_to "#", class: 'btn btn-primary', id: 'btn-generate' do
        .fa.fa-plus
        Generate
      &nbsp
      =  link_to "#", class: 'btn btn-info', id: 'print-btn' do
        .fa.fa-print
        PRINT

