.well
  = form_tag reports_drop_out_rate_by_month_path, html: { novalidate: true }, method: "GET", defaults: { wrapper_html: { class: 'form-group' }, input_html: { class: 'form-control simple_form' } } do
    .row
      .col-md-3
        %label
          Month
        = select_tag :current_month, options_for_select((1..12), @current_month), class: "form-control select-select2"
      .col-md-3
        %label
          Year
        = select_tag :current_year, options_for_select(((@current_year - 5)..(@current_year + 5)), @current_year), class: "form-control select-select2"
      .col-md-3
        %label
          Officer in Charge
        = select_tag :officer_in_charge, options_for_select(@officers_in_charge, @officer_in_charge), class: "form-control select-select2", prompt: "-- SELECT --"
      .col-md-3
        %label
          Actions
        = button_tag :search, class: 'btn btn-info btn-block' do
          .fa.fa-refresh
          Search
