%table.ui.green.table
  %thead
    %tr
      %th Date
      %th Check Number
      %th Name
      %th.accounting-curr Amount
      %th Actions
  %tbody
    - checks.each do |check|
      %tr
        %td #{check.date_prepared.strftime("%B %d, %Y")}
        %td #{check.check_number}
        %td #{check.payee}
        %td.curr #{number_to_currency(check.total_debit, unit: "")}
        %td
          = link_to voucher_path(check.id), class: "btn btn-default" do
            .fa.fa-search
            Details
