= form_tag reports_or_path, html: { novalidate: true }, method: "GET", defaults: { wrapper_html: { class: 'form-group' }, input_html: { class: 'form-control simple_form' } } do
  %table.table.table-bordered.table-responsive
    %th
      %label OR Number
      = text_field_tag :q, @q, placeholder: "OR Number", class: "form-control"
    %th
      %label Date Prepared
      .row
        .col-md-6
          = text_field_tag :start_date, @start_date, class: "datepick form-control", placeholder: "Start Date"
        .col-md-6
          = text_field_tag :end_date, @end_date, class: "datepick form-control", placeholder: "End Date"
    %th
      %label Actions
      %br
      = button_tag :submit, class: 'btn btn-primary' do
        .fa.fa-search
          Search
