%table.table.table-bordered.table-responsive.payments
  %thead
    %tr
      %th Date
      %th OR #
      %th Transaction
      %th Center
      %th.accounting-curr Amount
  %tbody
    - @vouchers.each do |v|
      %tr
        %td #{v.date_prepared.strftime("%B %d, %Y")}
        %td #{link_to v.or_number, voucher_path(v), target: "_blank"}
        %td #{v.transaction_type}
        %td #{v.get_center}
        %td.curr #{number_to_currency(v.cash_in_bank, unit: "")}

= paginate @vouchers
