<script class="distribution-table-template" type="x-tmpl-mustache">
  {{#records}}
    <tr>
      <td>{{month}}</td>
      <td>P{{amount}}</td>
    </tr>
  {{/records}}
  <tr>
    <th>Total Amount Collected</th>
    <th>P{{total}}</th>
  </tr>
</script>
