.container-fluid
  .ui.grid.grey.segment
    .three.wide.column
      %label Branch
      = select_tag :branch_id, options_from_collection_for_select(@branches, :id, :name, @branch.try(:id)), class: "form-control select-select2", id: "branch-select", prompt: "-- SELECT --"
    .three.wide.column
      %label SO
      = select_tag :so, options_for_select([]), class: "form-control", id: 'so-select', prompt: "-- SELECT --"
    .three.wide.column
      %label Center
      = select_tag :center_id, options_from_collection_for_select([], :id, :name, @center.try(:id)), prompt: "-- SELECT --", class: "form-control select-select2", id: "center-select"
    .three.wide.column
      %label Account Type
      = select_tag :account_type, options_for_select(["Savings", "Insurance", "Equity"]), class: "form-control select-select2", id: 'account-type-select', prompt: "-- SELECT --", multiple: "multiple"
    .four.wide.column
      %label Actions
      %br
      .ui.buttons
        = link_to "#", class: 'ui large positive button', id: 'search-btn' do
          .fa.fa-search
          Filter
        .or
        =  link_to "#", class: 'ui large default button', id: 'download-btn' do
          .fa.fa-download
          Download
  .ui.grid
    .sixteen.wide.column
      #reports-accounts-section
        %p
          Select parameters from filter to generate report
  %hr

#data{ data: { savings_types: @savings_types.to_json, insurance_types: @insurance_types.to_json, equity_types: @equity_types.to_json } }

= render partial: "reports/templates/accounts"
= javascript_include_tag "reports_accounts"
