.container-fluid
  .row
    %h1.ui.blue.header
      .fa.fa-check
      Active Loaners
    .ui.grey.segment
      .ui.grid
        .four.wide.column
          %label Branch
          = select_tag :branch_id, options_from_collection_for_select(@branches, :id, :name, @branch.try(:id)), class: "form-control select-select2", id: "branch-select", prompt: "-- SELECT --"
        .four.wide.column
          %label Actions
          %br
          .ui.buttons
            .ui.primary.button#filterBtn
              .fa.fa-search
              Filter
    %h2.ui.green.header
      .fa.fa-graph
      Graph
    .ui.green.segment
      .active-loaners-graph
        .ui.dimmer.inverted
          .ui.loader
        %canvas.active-loaners-canvas
        %table.ui.grey.table
          %thead
            %tr
              %th Month
              %th Count
          %tbody.distribution-table
            = render partial: "active_loaners_distribution_table_template"

    %hr
= javascript_include_tag "Chart"
= javascript_include_tag "reports_active_loaners"
