%section.content-header
  %h1
    LIST OF ADDITIONAL SHARE CAPITAL
  %ol.breadcrumb
    %li
      = link_to root_path do
        .fa.fa-arrow-left
        Back to Dashboard
%section.content
  %table.table.table-bordered.table-responsive
    = form_tag :additional_shares , method: 'GET' do |a|       
      %tr
        %th
          %label Branch
          = select_tag :branch_id, options_from_collection_for_select(@branches, :id, :name, @branch.try(:id)), class: "form-control select-select2", id: "branch-select", prompt: "-- SELECT --"
        %th
          %label 
            Center
          = select_tag :center_id, options_from_collection_for_select([], :id, :name, @center.try(:id)), class: "form-control select-select2", id: "center-select" , prompt: " -- SELECT -- "
        %th
          %label 
            Start Date
          = text_field_tag :start_date, Time.now.strftime("%Y-01-01"), class: "form-control datepick", id: "start-date"
        %th
          %label 
            End Data
          = text_field_tag :end_date, Time.now.strftime("%Y-12-31"), class: "form-control datepick", id: "end-date"
        %th
          %label 
            Actions
          %br 
            = button_tag :submit , class: 'btn btn-primary' , id: 'btn-generate' do
              .fa.fa-search
    %th 
      = button_tag :submit , class: 'btn btn-info' , id: 'btn-generate-excel' do
        .fa.fa-download
        Excel
  %table.table.table-borederd-table-responsive
    %thead
      %tbody
      - @data[:list_of_additional_shares].each_with_index do |cen|
        %tr
          %th{:colspan => 19}
            %h4 #{cen[:center_name]}
        %tr
          %th - 
          %th Member Name
          %th Date of Membership
          %th Status
          %th Equity Account Balance       
          %th Required Additional Share Capital 
          %th CBU Balance
          %th Share Capital for Payment
          %th Current Savings

        - cen[:center_detail_group].each_with_index do |d, i|
          %tr
            %td #{i+1}
            %td #{d[:member_name]}
            %td #{d[:membership_date]}
            %td #{d[:status]}
            %td #{d[:balance]}
            %td #{d[:RASC]} 
            %td #{d[:cbu]}
            %td #{d[:scPayment]}
            %td #{d[:savings]}

= javascript_include_tag "reports/Reports.addsharelist"
:javascript
    $(document).ready(function(){
      Reports.addsharelist.init();
    });
