%section.content-header
  %h1
    Aging of Receivables
    %small
      Current Date: #{ApplicationHelper.current_working_date.strftime("%b %d, %Y")}
  %ol.breadcrumb
    %li
      = link_to root_path do
        .fa.fa-arrow-left
        Back to Dashboard

%section.content
  %table.table.table-bordered.table-responsive
    %tr
      %th
        %label Branch
        = select_tag :branch_id, options_from_collection_for_select(@branches, :id, :name, @branch.try(:id)), class: "form-control select-select2", id: "branch-select", prompt: "-- SELECT --"
      %th
        %label SO
        = select_tag :so, options_for_select([]), class: "form-control", id: 'so-select', prompt: "-- SELECT --"
      %th
        %label Center
        = select_tag :center_id, options_from_collection_for_select([], :id, :name, @center.try(:id)), prompt: "-- SELECT --", class: "form-control select-select2", id: "center-select"
      %th
        %label Loan Product
        = select_tag :loan_product_id, options_from_collection_for_select(@loan_products, :id, :name, @loan.try(:id)), prompt: "-- ALL --", class: "form-control select-select2", id: "loan-product-select"
      %th
        %label 
          Detailed
        %br
        = check_box_tag 'detailed', nil, false, class: 'switch'
      %th
        %label 
          As Of
        = text_field_tag :as_of, ApplicationHelper.current_working_date.strftime("%Y-%m-%d"), class: "form-control datepick", id: "as-of"
      %th
        %label Actions
        %br
        .ui.small.buttons
          = link_to "#", class: 'btn btn-primary', id: 'search-btn' do
            .fa.fa-plus
            Generate PAR
  #reports-aging-of-receivables-section
#data{ data: { savings_types: @savings_types.to_json, insurance_types: @insurance_types.to_json, equity_types: @equity_types.to_json } }

= render partial: "reports/templates/aging_of_receivables"
= render partial: "reports/templates/aging_of_receivables_detailed"
= javascript_include_tag "reports/Reports.AgingOfReceivables"

:javascript
  $(document).ready(function() {
    Reports.AgingOfReceivables.init();
  });
