%section.content-header
  %h1
    Balance Sheet
    %small
      Current Date: #{Time.now.localtime.strftime("%b %d, %Y")}
  %ol.breadcrumb
    %li
      = link_to root_path do
        .fa.fa-arrow-left
        Back to Dashboard

%section.content
  .ui.grid.grey.segment
    .four.wide.column
      %label Branch
      = select_tag :branch_id, options_from_collection_for_select(@branches, :id, :name, @branch.try(:id)), class: "form-control select-select2", id: "branch-select"
    .four.wide.column
      %label
        Start Date
      = text_field_tag :start_date, Time.now.strftime("%Y-%m-%d"), class: "form-control datepick", id: "start-date"
    .four.wide.column
      %label
        End Date
      = text_field_tag :end_date, Time.now.strftime("%Y-%m-%d"), class: "form-control datepick", id: "end-date"
    .four.wide.column
      %label
        Actions
      %br
      .ui.small.buttons
        = link_to "#", class: 'ui large positive button', id: 'btn-generate' do
          .fa.fa-plus
          Generate Balance Sheet
  #reports-balance-sheet-section

= render partial: "reports/templates/balance_sheet"
= javascript_include_tag "reports/Reports.BalanceSheet"

:javascript
  $(document).ready(function() {
    Reports.BalanceSheet.init();
  });
