%section.content-header
  %h1 
    Checks
  %ol.breadcrumb
    %li
      = link_to root_path do
        .fa.fa-arrow-left
        Back to Dashboard
%section.content
  = render partial: "filter_checks"
  = render partial: "list_checks", locals: { checks: @checks }
  = paginate @checks

= javascript_include_tag "reports/Reports.Checks"

:javascript
  $(document).ready(function() {
    Reports.Checks.init();
  });
