%section.content-header
  %h1 
    CIC Report
%section.content
  #filter
    %table.table.table-bordered.table-responsive
      %tr
        %th
          %label Provider Code
          = text_field_tag :provider_code, @provider_code, class: "form-control", id: "provider-code"
        %th
          %label Start Date
          = text_field_tag :start_date, @start_date, class: "form-control datepick", id: "start-date"
        %th
          %label End Date
          = text_field_tag :end_date, @end_date, class: "form-control datepick", id: "end-date"   
        %th
          %label Actions
          %br
          = link_to "#", class: 'btn btn-primary', id: 'download-btn' do
            .fa.fa-plus
            Download

= javascript_include_tag "reports/Reports.CicReport"

:javascript
  $(document).ready(function() {
    Reports.CicReport.init();
  });