%section.content-header
  %h1 
    Claims Report (BLIP)
%section.content
  #filter
    %table.table.table-bordered.table-responsive
      %tr
        %th
          %label Branch
          = select_tag :branch_id, options_from_collection_for_select(@branches, :id, :name, @branch.try(:id)), class: "form-control select-select2", id: "branch-select", prompt: "-- SELECT --"
        %th
          %label Type of Insurance Policy
          = select_tag :type_of_insurance_policy, options_for_select(Claim::INSURANCE_POLICY_TYPES, @type_of_insurance_policy), class: "form-control select-select2", prompt: "-- SELECT --", id: "type-of-insurance-policy"
        %th
          %label Classification of Insured
          = select_tag :classification_of_insured, options_for_select(Claim::INSURED_CLASSIFICATION, @classification_of_insured), class: "form-control select-select2", prompt: "-- SELECT --", id: "classification-of-insured"
        %th
          %label Category of Cause of Death/TPD/Accident
          = select_tag :category_of_cause_of_death_tpd_accident, options_for_select(Claim::CATEGORY_OF_CAUSE_OF_DEATH_TPD_ACCIDENT, @category_of_cause_of_death_tpd_accident), class: "form-control select-select2", prompt: "-- SELECT --", id: "category-of-cause-of-death-tpd-accident"
        %th
          %label Start Date:
          = text_field_tag :start_date, nil, class: "form-control datepick", id: "start-date"
        %th
          %label End Date:
          = text_field_tag :end_date, nil, class: "form-control datepick", id: "end-date"
  %h3
    Claims Report (BLIP) Excel Export Tools
  .box
    .box-body
      = link_to "#", id: 'download-btn' do  
        .info-box
          %span.info-box-icon.bg-blue
            %i.fa.fa-download
          .info-box-content
            %span.info-box-text
              Export Claims Report (BLIP)
            %span.info-box-number
              %small
                Excel format for Claims Report (BLIP)

= javascript_include_tag "reports/Reports.ClaimsReport"

:javascript
  $(document).ready(function() {
    Reports.ClaimsReport.init();
  });