%section.content-header
  %h1 
    Claims Report (CLIP)
%section.content
  #filter
    %table.table.table-bordered.table-responsive
      %tr
        %th
          %label Branch
          = select_tag :branch_id, options_from_collection_for_select(@branches, :id, :name, @branch.try(:id)), class: "form-control select-select2", id: "branch-select", prompt: "-- SELECT --"
        %th
          %label Type of Loan
          = select_tag :type_of_loan, options_for_select(ClipClaim::TYPES_OF_LOAN, @type_of_loan), class: "form-control select-select2", prompt: "-- SELECT --", id: "type-of-loan"
        / %th
        /   %label Cause of Death
        /   = select_tag :cause_of_death, options_for_select(Claim::CAUSE_OF_DEATH, @cause_of_death), class: "form-control select-select2", prompt: "-- SELECT --", id: "cause-of-death"
        %th
          %label Start Date:
          = text_field_tag :start_date, nil, class: "form-control datepick", id: "start-date"
        %th
          %label End Date:
          = text_field_tag :end_date, nil, class: "form-control datepick", id: "end-date"      
  %h3
    Claims Report (CLIP) Excel Export Tools
  .box
    .box-body
      = link_to "#", id: 'download-btn' do  
        .info-box
          %span.info-box-icon.bg-blue
            %i.fa.fa-download
          .info-box-content
            %span.info-box-text
              Export Claims Report (CLIP)
            %span.info-box-number
              %small
                Excel format for Claims Report (CLIP)

= javascript_include_tag "reports/Reports.ClipClaimsReport"

:javascript
  $(document).ready(function() {
    Reports.ClipClaimsReport.init();
  });