.container-fluid
  .ui.grid
    .eight.wide.column
      %h4
        .fa.fa-camera
        Cluster Snapshots
  %table.ui.green.small.table
    %thead
      %tr
        %th Snapped At
        %th Active
        %th Pending
        %th Members
        %th Writeoffs
        %th Paid
        %th Released
        %th Overdue
        %th Par
        %th Good
        %th Balance
        %th Payments
        %th P. Paid
        %th P. Balance
        %th I. Paid
        %th I. Balance
        %th Portfolio
    %tbody
      - @snapshots.each do |snapshot|
        %tr
          %td #{snapshot.snapped_at.strftime("%b %d, %Y %H:%M")}
          %td #{snapshot.num_active_loans}
          %td #{snapshot.num_pending_loans}
          %td #{snapshot.num_active_male_members + snapshot.num_active_female_members}
          %td #{snapshot.num_writeoff_loans}
          %td #{snapshot.num_paid_loans}
          %td #{snapshot.num_loans_released}
          %td #{snapshot.num_loans_overdue}
          %td #{snapshot.num_loans_par}
          %td #{snapshot.num_loans_good_standing}
          %td #{number_to_currency(snapshot.total_loan_balance, unit: "P")}
          %td #{number_to_currency(snapshot.total_loan_payments, unit: "P")}
          %td #{number_to_currency(snapshot.total_loan_principal_paid, unit: "P")}
          %td #{number_to_currency(snapshot.total_loan_principal_balance, unit: "P")}
          %td #{number_to_currency(snapshot.total_loan_interest_paid, unit: "P")}
          %td #{number_to_currency(snapshot.total_loan_interest_balance, unit: "P")}
          %td #{number_to_currency(snapshot.total_loan_portfolio, unit: "P")}
