%section.content-header
  %h1 
    Collections BLIP
%section.content
  #filter
    %table.table.table-bordered.table-responsive
      %tr
        %th
          %label Branch
          = select_tag :branch_id, options_from_collection_for_select(@branches, :id, :name, @branch.try(:id)), class: "form-control select-select2", id: "branch-select", prompt: "-- SELECT --"
        %th
          %label Start Date:
          = text_field_tag :start_date, Time.now.strftime("%Y-%m-%d"), class: "form-control datepick", id: "start-date"
        %th
          %label End Date:
          = text_field_tag :end_date, Time.now.strftime("%Y-%m-%d"), class: "form-control datepick", id: "end-date"      
  %h3
    Collections BLIP Excel Export Tools
  .box
    .box-body
      / = link_to reports_seriatim_report_path, target: '_blank' do
      = link_to "#", id: 'download-btn' do  
        .info-box
          %span.info-box-icon.bg-blue
            %i.fa.fa-download
          .info-box-content
            %span.info-box-text
              Export Collections BLIP Report
            %span.info-box-number
              %small
                Excel format for COllections BLIP Report

= javascript_include_tag "reports/Reports.CollectionsBlipReport"

:javascript
  $(document).ready(function() {
    Reports.CollectionsBlipReport.init();
  });