%section.content-header
  %h1
    Drop Out Rate

%section.content
  .box
    .box-body
      = render partial: "filter_drop_out"
      - if @records
        = render partial: "drop_out_list", locals: { records: @records }
      - else
        No records found
