%section.content-header
  %h1
    Statement of Assets - Expenses
    %small
      Current Date: #{Time.now.localtime.strftime("%b %d, %Y")}
  %ol.breadcrumb
    %li
      = link_to root_path do
        .fa.fa-arrow-left
        Back to Dashboard

%section.content
  %table.table.table-bordered.table-responsive
    %tr
      %th
        %label Branch
        = select_tag :branch_id, options_from_collection_for_select(@branches, :id, :name, @branch.try(:id)), class: "form-control select-select2", id: "branch-select", prompt: "-- SELECT --"
      %th
        %label Center
        = select_tag :center_id, options_from_collection_for_select([], :id, :name, @center.try(:id)), prompt: "-- SELECT --", class: "form-control select-select2", id: "center-select"
      %th
        %label Loan Product
        = select_tag :loan_product_id, options_from_collection_for_select(LoanProduct.all, :id, :name, @loan_product.try(:id)), class: "form-control select-select2", prompt: "-- SELECT --", id: "loan-product-select"
      %th
        %label 
          Start Date
        = text_field_tag :start_date, Time.now.strftime("%Y-%m-01"), class: "form-control datepick", id: "start-date"
      %th
        %label 
          End Date
        = text_field_tag :end_date, Time.now.strftime("%Y-%m-%d"), class: "form-control datepick", id: "end-date"
      %th
        %label
          Actions
        %br
        = link_to "#", class: 'btn btn-primary', id: 'btn-generate' do
          .fa.fa-plus
          Generate SoA
  #reports-expenses-soa-section

= render partial: "reports/templates/expenses_statement_of_assets"
= javascript_include_tag "reports/Reports.ExpSoa"

:javascript
  $(document).ready(function() {
    Reports.ExpSoa.init();
  });
