%section.content-header
  %h1
    Statement of Accounts - Funds
    %small
      Current Date: #{Time.now.localtime.strftime("%b %d, %Y")}
  %ol.breadcrumb
    %li
      = link_to root_path do
        .fa.fa-arrow-left
        Back to Dashboard

%section.content
  %table.table.table-bordered.table-responsive
    %tr
      %th
        %label Branch
        = select_tag :branch_id, options_from_collection_for_select(@branches, :id, :name, Branch.first.try(:id)), class: "form-control select-select2", id: "branch-select", prompt: "-- SELECT --"
      %th
        %label Center
        = select_tag :center_id, options_from_collection_for_select(Branch.first.centers, :id, :name, @center.try(:id)), prompt: "-- SELECT --", class: "form-control select-select2", id: "center-select"
      %th
        %label 
          Start Date
        = text_field_tag :start_date, Time.now.strftime("%Y-%m-01"), class: "form-control datepick", id: "start-date"
      %th
        %label 
          End Date
        = text_field_tag :end_date, Time.now.strftime("%Y-%m-%d"), class: "form-control datepick", id: "end-date"
      %th
        %label
          Actions
        %br
        = link_to "#", class: 'btn btn-primary', id: 'btn-generate' do
          .fa.fa-plus
  #reports-funds-soa-section

= render partial: "reports/templates/funds_statement_of_accounts"
= javascript_include_tag "reports/Reports.FundsSoa"

:javascript
  $(document).ready(function() {
    Reports.FundsSoa.init();
  });
