.container-fluid
  .row
    %h1.ui.blue.header
      .fa.fa-dashboard
      Reports Dashboard

    - @branches.each do |branch|
      %h2.ui.green.header
        .fa.fa-shop
        #{branch} Active Loaners
      .ui.grey.segment
        .active-loaners-graph{data: { branch_id: branch.id } }
          .ui.dimmer.inverted
            .ui.loader
          %canvas.active-loaners-canvas
          %table.ui.grey.table
            %thead
              %tr
                %th Month
                %th Count
            %tbody.distribution-table
              = render partial: "active_loaners_distribution_table_template"
= javascript_include_tag "Chart"
= javascript_include_tag "reports_dashboard"
