%section.content-header
  %h1
    Insured Loans
%section.content
  #filter
    = form_tag insured_loans_path, html: { novalidate: true }, method: "GET" do
      %table.table.table-bordered.table-responsive
        %tr
          %th
            %label Branch
            = select_tag :branch_id, options_from_collection_for_select(@branches, :id, :name, Branch.first.try(:id)), class: "form-control select-select2", id: "branch-select", prompt: "-- SELECT --"
          %th
            %label Status
            = select_tag :loan_status, options_for_select(Loan::LOAN_STATUSES, @loan_status), prompt: "-- SELECT --", class: "form-control filter-select", id: "filter-loan-status"
          %th
            %label Start Date
            = text_field_tag :start_date, @start_date, class: "form-control datepick", id: "filter-start-date"
          %th
            %label End Date
            = text_field_tag :end_date, @end_date, class: "form-control datepick", id: "filter-end-date"
          %th
            %label Actions
            %br
            .ui.buttons
              = button_tag :filter, class: 'btn btn-info' do
                .fa.fa-search
                Search
              = link_to "#", id: 'btn-print', class: 'btn btn-primary' do
                .fa.fa-download
                Excel
              = link_to "#", id: 'btn-download-csv', class: 'btn btn-success' do
                .fa.fa-download
                CSV  
  .box
    .box-body
      %table.table.table-bordered.table-responsive
        %thead
          %tr
            %th{width: "5%"}
            %th Member
            %th PN Number
            %th Loan Product
            / %th Cycle
            %th.accounting-curr
              Amount
            %th.accounting-curr
              Insured Amount
            %th Num Installments
            %th Date Released
            %th Maturity Date
            %th Status
        %tbody
          -if !@data.nil?  
            - @data.each_with_index do |loan_data, i|
              %tr{class: "#{loan_data[:loan].override_installment_interval ? "danger" : ""}"}
                %td #{i + 1}
                %td #{loan_data[:member]}
                %td #{link_to loan_data[:pn_number], loan_path(loan_data[:loan].id), target: "_blank"}
                %td #{loan_data[:loan_product]}
                / %td #{loan_data[:cycle]}
                %td.curr #{number_to_currency(loan_data[:amount], unit: "")}
                %td.curr #{number_to_currency(loan_data[:insured_amount], unit: "") if loan_data[:insured_amount].is_a? Numeric}
                %td #{loan_data[:num_installments]}
                %td #{loan_data[:approximated_date_released]}
                %td #{loan_data[:maturity_date]}
                %td #{loan_data[:status]}
= javascript_include_tag "reports/Reports.InsuredLoans"

:javascript
  $(document).ready(function() {
    Reports.InsuredLoans.init();
  });
