%table{:style => "font-size:x-small; width: 95%"}
  %thead
    %tr
      %td{:colspan => 4}
        %table{:style => "font-wight: bold"}
          %tr
            %td
              #{Settings.company}
          %tr
            %td
              #{Settings.company_address}
          %tr
            %td
              VAT Registration Tin Number:#{Settings.tin_number}
          %tr
            %td
              %h6 RESIGNATION REASON SUMMARY
          %tr
            %td
              Period :  #{(@start_date.to_date).strftime("%m/%d/%y")} - #{(@end_date.to_date).strftime("%m/%d/%y")}
 

%hr
- @data[:resignation_types].each do |d|
  %h5
    #{d[:resignation_type]} 
    #{d[:member_count]}
  %table.table.table-bordered{:style => "border:1px black solid;font-size: x-small;margin-bottom: 2%"}

    %thead
      %tr
        %th{:style => "width: 90%"}
          Particular
        %th{:style => "width: 10%"}
          Number
    %tbody
      - d[:reasons].each do |o|
        %tr
          %td{:style => "width: 90%"}
            #{o[:name]}
          %td{:style => "width: 10%"}
            #{o[:member_count]}

- if @type_of_resign == ''
  %table.table.table-bordered
    %tfoot
      %tr
        %th
          %h5
            Total Number of Resign
        %th
          %h5
            #{@data[:member_count]} 
            %small Member(s)
