%section.content
  = form_tag :list_of_resign, method: 'GET' do |f|
    %table.table.table-bordered.table-responsive
      %tr
        %th
          %label Type of resign
          = select_tag :type_of_resign, options_for_select(resign_types, selected: @type_of_resign), class: "form-control select-select2", prompt: "-- SELECT --"    

        %th
          %label Start Date
          %br
          = text_field_tag :start_date, current_month_start, class: "form-control datepick", id: "start-date"

        %th
          %label End Date
          %br
          = text_field_tag :end_date, current_month_end, class: "form-control datepick", id: "end-date"

        %th
          %label Action
          %br
          = submit_tag :search, class: 'btn btn-primary', id: 'search-btn' do
            .fa.fa-search

          = link_to list_of_resign_pdf_path start_date: @start_date , end_date: @end_date , type_of_resign: @type_of_resign , target: "_blank" do
            .fa.fa-print
            Print to PDF


  - @data[:resignation_types].each do |d|
    %h1
      #{d[:resignation_type]} 
      #{d[:member_count]}
    %table.table.table-bordered
      %thead
        %tr
          %th
            Particular
          %th
            Number
          %th
            Actions
      %tbody
        - d[:reasons].each do |o|
          %tr
            %td
              #{o[:name]}
            %td
              #{o[:member_count]}
            %td
              = link_to list_of_resign_details_path(resignation_type:"#{d[:resignation_type]}" , resignation_reason: "#{o[:name]}" ,start_date: @start_date, end_date: @end_date), class: "btn btn-xs btn-default" do
                Details

  %table.table.table-bordered
    %tfoot
      %tr
        %th
          %h3
            Total Number of Resign
        %th
          %h3
            #{@data[:member_count]} 
            %small Member(s)
