%table{:style => "font-size:x-small; width: 95%"}
  %thead
    %tr
      %td{:colspan => 4}
        %table{:style => "font-wight: bold"}
          %tr
            %td
              #{Settings.company}
          %tr
            %td
              #{Settings.company_address}
          %tr
            %td
              VAT Registration Tin Number:#{Settings.tin_number}
          %tr
            %td
              %h6 RESIGNATION REASON DETAILED
          %tr
            %td
              Period :  #{(@start_date.to_date).strftime("%m/%d/%y")} - #{(@end_date.to_date).strftime("%m/%d/%y")}
%hr
%h6 #{@resignation_type} : #{@resignation_reason}
%table.table.table-bordered.table-responsive{:style => "border:1px black solid;font-size: x-small;margin-bottom: 2%"}

  %thead
    %tr
      %th #
      %th Name
      %th Center
      %th Date Resigned

  %tbody
  - @data.each_with_index do |d, i|
    %tr
      %td
        #{i + 1}
      %td
        #{d[:lastname]}, #{d[:firstname]}
      %td
        #{d[:center_name]}
      %td
        #{(d[:date_resigned].to_date).strftime("%m/%d/%y")} 
