%section.content
  = form_tag :list_of_resign_details_pdf, method: 'GET' do |f|
    %table.table.table-bordered.table-responsive
      %tr
        %th
          = link_to list_of_resign_details_pdf_path start_date: @start_date , end_date: @end_date , resignation_type: @resignation_type , resignation_reason: @resignation_reason , target: "_blank" do
 
            .fa.fa-print
            Print to PDF


  %h1.ui.green.header
    Resigned Member 
    %small
      #{@start_date} to #{@end_date}

  %table.table.table-bordered.table-responsive
    %thead
      %tr
        %th #
        %td id
        %th Name
        %th Center
        %th Date Resigned
        %th Loan Product
        %th Cycle Count

    %tbody
    - @data.each_with_index do |d, i|
      %tr
        %td
          #{i + 1}
        %td
          
        %td
          #{d[:lastname]}, #{d[:firstname]}
        %td
          #{d[:center_name]}
        %td
          #{d[:date_resigned]}
        %td
          #{d[:loan_product]}
        %td
          #{d[:loan_cycle]}
