%section.content
  = form_tag :list_of_member_for_cic, method: 'GET' do |f|
    %table.table.table-bordered.table-responsive
      %tr
        %th 
          %label Start Date
          %br
          = text_field_tag :start_date, current_month_start, class: "form_control datepick", id: "start-date"
        %th
          %label End Date
          %br
          = text_field_tag :end_date, current_month_start, class: "form_control datepick", id: "end-date"

        %th
          %label Action
          %br
          = submit_tag :search, class: 'btn btn-primary', id: 'search-btn' do
            .fa.fa-search
        
  %th
    %label Actions
    %br
    = button_tag :new_trasaction, id: 'btn-transaction', class: "btn btn-primary" do
      Download
      
 
  %table.table.table-bordered.table-responsive
    %thead
      %tr
        %th ID
        %th Record Type
        %th Provider Code
        %th Branch Code
        %th Subject Reference Date
        %th Provider Subject No.
        %th Title
        %th First Name
        %th Last Name
        %th Middle Name
        /%th Suffix
        /%th Nickname
        /%th Previous Last Name
        %th Gender
        %th Date of Birth
        /%th Place of Birth
        /%th Country Code
        /%th Nationality
        /%th Resident
        %th Civil Status
        /%th 12
        %th Address 1: Address Type
        %th Address 1: FullAddress
        /%th 19
        %th Identification Type
    %tbody
    - @data[:data_list_of_member_info].each_with_index do |d, i|
      %tr
        %td #{i+1}
        %td ID
        %td 
        %td #{@data[:branch_code]}
        %td #{@end_date.to_date.strftime("%d%m%Y")}
        %td #{d[:member_id]}
        %td #{d[:member_gender_title]}
        %td #{d[:member_first_name]}
        %td #{d[:member_last_name]}
        %td #{d[:member_middle_name]} 
        /%td
        /%td
        /%td
        %td #{d[:member_gender]}
        %td #{d[:member_date_of_birth].strftime("%d%m%Y")}
        /%td
        /%td
        /%td
        /%td
        %td #{d[:member_civil_status]}
        /%td 12
        %td MI
        %td #{d[:member_address]}
        /%td 19
        %td 10
        %td #{d[:member_tin_number]}

//= javascript_include_tag "reports/Reports.CicMemberReports"
= javascript_include_tag "reports/Reports.CicMemberReports"
:javascript
  $(document).ready(function(){
    CicMemberReports.init();
  });
