%table{:style => "font-size: x-small;margin-bottom:3%;width: 95%"}
  %thead
    %tr
      %td{:colspan => 4}
        %table{:style => "font-wight: bold"}
          %tr
            
            %td
              #{Settings.company}
          %tr
            %td
              #{Settings.company_address}
          %tr
            %td
              VAT Registration Tin Number:#{Settings.tin_number}
          %tr
            %td
              MASTER LIST OF WITH MATURITY DATE
          %tr
            %td
              As of : #{(@data[:as_of].to_date).strftime("%m/%d/%y")}

- @data[:records].each do |records|
  %h5 #{records[:loan_product]}
  - records[:branch_records].each do |b_records|
    - b_records[:center_records].each do |c_records|
      %h5
        %small #{c_records[:center]}

      %table{:style => "font-size:x-small;margin-bottom:2%;width:100%"}
        %tr
          %th{:style => "border:1px black solid;padding-left:.2%;width:2%"}
          %th{:style => "border:1px black solid;padding-left:1%;width:24%"} MEMBER NAME
          %th{:style => "border:1px black solid;padding-left:1%;width:10%"} DATE RELEASED
          %th{:style => "border:1px black solid;padding-left:1%;width:10%"} MATURITY DATE
          %th{:style => "border:1px black solid;padding-left:1%;width:11%"} LOAN AMOUNT
          %th{:style => "border:1px black solid;padding-left:1%;width:11%"} PRINCIPAL BALANCE
          %th{:style => "border:1px black solid;padding-left:1%;width:11%"} INTEREST BALANCE
          %th{:style => "border:1px black solid;padding-left:1%;width:11%"} TOTAL BALANCE
        - c_records[:loan_records].each do |c_loan_records|
          %tr
            %td{:style => "border:1px black solid;padding-left:.2%"} #{c_loan_records[:index]}
            %td{:style => "border:1px black solid;padding-left:1%"} #{c_loan_records[:member_name]}
            %td{:style => "border:1px black solid;padding-left:1%"} #{c_loan_records[:date_released]}
            %td{:style => "border:1px black solid;padding-left:1%"} #{c_loan_records[:maturity_date]}
            %td.acc-curr{:style => "border:1px black solid;padding-right:1%"} #{number_to_currency(c_loan_records[:loan_amount] , unit:"")}
            %td.acc-curr{:style => "border:1px black solid;padding-right:1%"} #{number_to_currency(c_loan_records[:principal_balance] , unit: "")}
            %td.acc-curr{:style => "border:1px black solid;padding-right:1%"} #{number_to_currency(c_loan_records[:interest_balance] , unit: "")}
            %td.acc-curr{:style => "border:1px black solid;padding-right:1%"} #{number_to_currency(c_loan_records[:total_balance] , unit: "")}
        %tr
          %th{:style => "border:1px black solid;padding-left:1%"}
          %th{:style => "border:1px black solid;padding-left:1%"} #{c_records[:count]}
          %th{:style => "border:1px black solid;padding-left:1%"}
          %th{:style => "border:1px black solid;padding-left:1%"}
          %th.acc-curr{:style => "border:1px black solid;padding-right:1%"} #{number_to_currency(c_records[:total_loan_amount] , unit: "")}
          %th.acc-curr{:style => "border:1px black solid;padding-right:1%"} #{number_to_currency(c_records[:total_principal_balance] , unit: "")}
          %th.acc-curr{:style => "border:1px black solid;padding-right:1%"} #{number_to_currency(c_records[:total_interest_balance] , unit: "")}
          %th.acc-curr{:style => "border:1px black solid;padding-right:1%"} #{number_to_currency(c_records[:total_balance] , unit: "")}
  %h5 TOTAL FOR #{records[:loan_product]}
  %table{:style => "font-size:x-small;margin-bottom:2%;width:100%"}
    %tr
      %th{:style => "border:1px black solid;padding-left:.2%;width:2%"}
      %th{:style => "border:1px black solid;padding-left:1%;width:24%"} 
      %th{:style => "border:1px black solid;padding-left:1%;width:10%"} 
      %th{:style => "border:1px black solid;padding-left:1%;width:10%"} 
      %th{:style => "border:1px black solid;padding-left:1%;width:11%"} LOAN AMOUNT
      %th{:style => "border:1px black solid;padding-left:1%;width:11%"} PRINCIPAL BALANCE
      %th{:style => "border:1px black solid;padding-left:1%;width:11%"} INTEREST BALANCE
      %th{:style => "border:1px black solid;padding-left:1%;width:11%"} TOTAL BALANCE
    %tr
      %th{:style => "border:1px black solid;padding-left:.2%;width:2%"}
      %th{:style => "border:1px black solid;padding-left:1%;width:24%"} 
      %th{:style => "border:1px black solid;padding-left:1%;width:10%"}
      %th{:style => "border:1px black solid;padding-left:1%;width:10%"}
      %th.acc-curr{:style => "border:1px black solid;padding-right:1%;width:11%"} #{number_to_currency(records[:total_loan_amount] , unit: "")}

      %th.acc-curr{:style => "border:1px black solid;padding-right:1%;width:11%"} #{number_to_currency(records[:total_principal_balance] , unit: "")}

      %th.acc-curr{:style => "border:1px black solid;padding-right:1%;width:11%"} #{number_to_currency(records[:total_interest_balance] , unit: "")}
      %th.acc-curr{:style => "border:1px black solid;padding-right:1%;width:11%"} #{number_to_currency(records[:total_balance] , unit: "")}


%h5 GRAND TOTAL
%table{:style => "font-size:x-small;margin-bottom:2%;width:100%"}
  %tr
    %th{:style => "border:1px black solid;padding-left:.2%;width:2%"}
    %th{:style => "border:1px black solid;padding-left:1%;width:24%"} 
    %th{:style => "border:1px black solid;padding-left:1%;width:10%"} 
    %th{:style => "border:1px black solid;padding-left:1%;width:10%"} 
    %th{:style => "border:1px black solid;padding-left:1%;width:11%"} LOAN AMOUNT
    %th{:style => "border:1px black solid;padding-left:1%;width:11%"} PRINCIPAL BALANCE
    %th{:style => "border:1px black solid;padding-left:1%;width:11%"} INTEREST BALANCE
    %th{:style => "border:1px black solid;padding-left:1%;width:11%"} TOTAL BALANCE
  %tr
    %th{:style => "border:1px black solid;padding-left:.2%;width:2%"}
    %th{:style => "border:1px black solid;padding-left:1%;width:24%"} 
    %th{:style => "border:1px black solid;padding-left:1%;width:10%"}
    %th{:style => "border:1px black solid;padding-left:1%;width:10%"}
    %th.acc-curr{:style => "border:1px black solid;padding-right:1%;width:11%"} #{number_to_currency(@data[:total_loan_amount] , unit: "")}

    %th.acc-curr{:style => "border:1px black solid;padding-right:1%;width:11%"} #{number_to_currency(@data[:total_principal_balance] , unit: "")}

    %th.acc-curr{:style => "border:1px black solid;padding-right:1%;width:11%"} #{number_to_currency(@data[:total_interest_balance] , unit: "")}
    %th.acc-curr{:style => "border:1px black solid;padding-right:1%;width:11%"} #{number_to_currency(@data[:total_balance] , unit: "")}
