%section.content-header
  %h1
    Master List of Client Loans

%section.content
  %table.table.table-bordered.table-responsive
    %tr
      %th
        %label Branch
        = select_tag :branch_id, options_from_collection_for_select(@branches, :id, :name, Branch.first.try(:id)), class: "form-control select-select2", id: "branch-select", prompt: "-- SELECT --"
      %th
        %label Center
        = select_tag :center_id, options_from_collection_for_select(Branch.first.centers, :id, :name, @center.try(:id)), prompt: "-- SELECT --", class: "form-control select-select2", id: "center-select"
      %th
        %label Loan Product
        = select_tag :loan_product_id, options_from_collection_for_select(LoanProduct.all, :id, :code, @loan_product.try(:id)), prompt: "-- SELECT --", class: "form-control select-select2", id: "loan-product-select"
      %th
        %label 
          As Of Date
        = text_field_tag :as_of, Time.now.strftime("%Y-%m-%d"), class: "form-control datepick", id: "as-of"
      %th
        %label
          Actions
        %br
        = link_to "#", class: 'btn btn-primary', id: 'btn-generate' do
          .fa.fa-plus
          Generate
        =  link_to "#", class: 'btn btn-info', id: 'print-btn' do
          .fa.fa-print
          PRINT



  #reports-master-list-of-client-loans-section

= render partial: "reports/templates/master_list_of_client_loans"
= javascript_include_tag "reports/Reports.MasterListOfClientLoans"

:javascript
  $(document).ready(function() {
    Reports.MasterListOfClientLoans.init();
  });
