%section.content-header
  %h1
    Member Quarterly Reports
    %small
      Report as of #{Time.now.localtime.strftime("%b %d, %Y")}
  %ol.breadcrumb
    %li
      = link_to root_path do
        .fa.fa-arrow-left
        Back to Dashboard
%section.content
  %table.table.table-bordered.table-responsive
    %tr    
      %th
        %label Start Date
        %br
        = text_field_tag :start_date, nil, class: "form-control datepick", id: "start-date"
      %th
        %label End Date
        %br
        = text_field_tag :end_date, nil, class: "form-control datepick", id: "end-date"
      %th
        %label Actions
        %br
        = link_to "#", class: 'btn btn-primary', id: 'search-btn' do
          .fa.fa-search
          Generate
        = link_to "#", class: 'btn btn-info', id: 'download-btn' do
          .fa.fa-download
          Download
  .ui.grid
    .sixteen.wide.column
      #member-quarterly-reports-section
        %p
          Select parameters from filter to generate report
  %hr

= render partial: "reports/templates/members_quarterly"
= javascript_include_tag "member_quarterly_reports"