%section.content-header
  %h1
    Member Reports
    %small
      Report as of #{Time.now.localtime.strftime("%b %d, %Y")}
  %ol.breadcrumb
    %li
      = link_to root_path do
        .fa.fa-arrow-left
        Back to Dashboard
%section.content
  %table.table.table-bordered.table-responsive
    %tr
      %th
        %label Branch
        = select_tag :branch_id, options_from_collection_for_select(@branches, :id, :name, @branch.try(:id)), class: "form-control select-select2", id: "branch-select", prompt: "-- SELECT --"
      %th
        %label Status
        = select_tag :status, options_for_select(Member::STATUSES, @member_status), class: "form-control select-select2", id: 'member-status-select', prompt: "-- SELECT --"
      %th
        %label Insurance Status
        = select_tag :insurance_status, options_for_select(Member::INSURANCE_STATUS, @insurance_status), class: "form-control select-select2", id: 'insurance-status-select', prompt: "-- SELECT --"
      %th
        %label Member Type
        = select_tag :member_type, options_for_select(Member::MEMBER_TYPES, @member_type), class: "form-control select-select2", id: 'member-type-select', prompt: "-- SELECT --"    
      %th
        %label Start Date
        %br
        = text_field_tag :start_date, nil, class: "form-control datepick", id: "start-date"
      %th
        %label End Date
        %br
        = text_field_tag :end_date, nil, class: "form-control datepick", id: "end-date"
      %th
        %label Actions
        %br
        = link_to "#", class: 'btn btn-primary', id: 'search-btn' do
          .fa.fa-search
          Generate
        = link_to "#", class: 'btn btn-info', id: 'download-btn' do
          .fa.fa-download
          Download
  .ui.grid
    .sixteen.wide.column
      #reports-members-section
        %p
          Select parameters from filter to generate report
  %hr

= render partial: "reports/templates/members"
= javascript_include_tag "member_reports"