%section.content-header
  %h1
    New and Resigned Members for #{Date::MONTHNAMES[params[:month].to_i]}

%section.content
  .box.box-info
    .box-body
      .row
        .col-md-6
          %h3
            New Members
          - if @data[:new_members].size == 0
            No members found
          - else
            %table.table.table-bordered
              %tr
                %th{ width: "5%" }
                %th
                  Member
                %th
                  Membership Date
              - @data[:new_members].each_with_index do |member, i|
                %tr
                  %td
                    #{i + 1}
                  %td
                    = link_to member_path(member["id"]), target: "_blank" do
                      #{member["last_name"]}, #{member["first_name"]} #{member["middle_name"]}
                  %td
                    #{member["membership_date"].to_date.strftime("%B %d, %Y")}
                  
        .col-md-6
          %h3
            Resigned Members
          - if @data[:resigned_members].size == 0
            No members found
          - else
            %table.table.table-bordered
              %tr
                %th{ width: "5%" }
                %th
                  Member
                %th
                  Date Resigned
              - @data[:resigned_members].each_with_index do |member, i|
                %tr
                  %td
                    #{i + 1}
                  %td
                    = link_to member_path(member["id"]), target: "_blank" do
                      #{member["last_name"]}, #{member["first_name"]} #{member["middle_name"]}
                  %td
                    #{member["date_resigned"].to_date.strftime("%B %d, %Y")}
