%section.content-header
  %h1
    New and Resigned Member Counts
    %small
      %label.label.label-info
        Year: #{@data[:year]}

%section.content
  .box
    .box-body
      = button_tag :generate, class: "btn btn-primary", id: 'btn-generate' do
        .fa.fa-refresh
        Generate
      %table.table.table-bordered
        %thead
          %tr
            %th Month
            %th New
            %th Resigned
            %th Actions
        %tbody
          - @data[:records].each_with_index do |record, i|
            %tr
              %td #{record[:month]}
              %td #{record[:new_count]}
              %td #{record[:resigned_count]}
              %td
                = link_to reports_mfi_new_and_resigned_detailed_path(year: @data[:year], month: (i+1)), class: "btn btn-xs btn-default" do
                  .fa.fa-search
                  Details

:javascript
  $(document).ready(function() {
    var $btnGenerate  = $("#btn-generate");
    var urlGenerate   = "/api/v1/reports/generate_mfi_monthly_member_counts";

    $btnGenerate.on("click", function() {
      $btnGenerate.prop("disabled", true);

      $.ajax({
        url: urlGenerate,
        dataType: 'json',
        method: 'POST',
        success: function(response) {
          toastr.success("Success. Redirecting...");
          window.location.href = "/reports/mfi_new_and_resigned_member_counts";
        },
        error: function(response) {
          toastr.error("Error");
          $btnGenerate.prop("disabled", false);
        }
      });
    });
  });
