%table{:style => "font-size: small;margin-bottom:1%;margin-left: 3%;wiidth: 95%"}
  %thead
    %tr
      %td{:colspan => 4}
        %table{:style => "font-wight: bold"}
          %tr
            
            %td
              #{Settings.company}
          %tr
            %td
              #{Settings.company_address}
          %tr
            %td
              VAT Registration Tin Number:#{Settings.tin_number}
          %tr
            %td
              #{Branch.first.name}
          %tr
            %td
              MASTER LIST OF MEMBERS IN GOOD STANDING 
          %tr
            %td
              AS OF : #{(@migs_date.to_date).strftime("%B %d, %Y")} 
          %tr
            %td


  %table{:style => "font-size: small"}
    %th
      %th TOTAL NUMBER OF MIGS : #{@data[:al].uniq.count}
    %tr
      %th 
        
      %th
        MEMBER
      %th
        CENTER
    -@data[:al].uniq.each_with_index do |al, i| 
      %tr{:style => "padding-bottom: 0.5%"}
        %td{:style => "padding-left: 1%; width: 15%"} 
          #{i + 1}
        %td{:style => "padding-left: 1%; width: 50%"} 
          #{al[:al_mem_name]}
        %td{:style => "padding-left: 1%; width: 25%"} 
          #{al[:al_center]}



