%section.content-header
  %h1
    Members In Good Standing
%section.content
  = form_tag :migs, method: 'GET' do |migs|
    %table.table.table-bordered.table-responsive
      %tr
        %th
          %label MIGS as of:
          = text_field_tag :migs_date, nil, class: "form-control datepick", id: "migs-date", value: current_month_end

  %th       
    %label
      = button_tag :migs_trasaction, id: 'btn-migs-transaction', class: "btn btn-primary" do
        Generate MIGS
    %label
      = link_to migs_pdf_path migs_date: @migs_date, target: "_blank" do
        .fa.fa-print
        Print to PDF

- if @data != nil
  %table.table.table-bordered.table-responsive
    %tr
      %th{:colspan => 2} MASTER LIST OF MEMBERS IN GOOD STANDING AS OF : #{(@migs_date.to_date).strftime("%B %d, %Y")} 
      %th TOTAL NUMBER OF MIGS : #{@data[:al].uniq.count}
    %tr
      %th 
        NO.
      %th
        MEMBER
      %th
        CENTER
    -@data[:al].uniq.each_with_index do |al, i| 
      %tr
        %td
          #{i + 1}
        //%td
        //#{al[:al_mem_id]}
        %td
          #{al[:al_mem_name]}
        %td
          #{al[:al_center]}



= javascript_include_tag "reports/Reports.MigsReports"
:javascript
  $(document).ready(function(){
    Show.init();
  });
