%section.content-header
  %h1
    SO INCENTIVES
%section.content
  = form_tag :monthly_incentives, method: 'GET' do |mi|
    %table.table.table-bordered.table-responsive
      %tr
        %th
          %label Start Date
          = text_field_tag :start_date, nil, class: "form-control datepick", id: "start-date", value: current_month_start
        %th
          %label End Date
          = text_field_tag :end_date, nil, class: "form-control datepick", id: "end-date", value: current_month_end
  
  %th       
    %label
      = button_tag :incentive_trasaction, id: 'btn-incentive-transaction', class: "btn btn-primary" do
        generate incentive report
    
    %label
      = button_tag :print_incentive_trasaction, id: 'btn-print-incentive-transaction', class: "btn btn-primary" do
        PRINT incentive report
      
      


#report-section
= render partial: "reports/templates/monthly_incentives_report"
= javascript_include_tag "reports/Reports.IncentiveReports"
:javascript
  $(document).ready(function(){
    Show.init();
  });
