%table{:style => "font-size: x-small;margin-bottom:1%;wiidth: 95%"}
  %thead
    %tr
      %td{:colspan => 4}
        %table{:style => "font-wight: bold"}
          %tr
            
            %td
              #{Settings.company}
          %tr
            %td
              #{Settings.company_address}
          %tr
            %td
              VAT Registration Tin Number:#{Settings.tin_number}
          %tr
            %td
              SO and SOM Monthly Incentive Request Form
 
//%h4{:align => 'center'} Para sa OLD SATELLITE OFFICE
%h5 PARA SA SOM #{@data[:year]}
//cluster,sato and period
%table{:style => "border:1px black solid;font-size: x-small;margin-bottom: 2%"}
  %tr
    %td{:colspan => 2 ,:style => "padding-left: 1%; width: 10%;border:1px black solid"} CLUSTER
    %td{:style => "padding-left: 1%; width: 10%;border:1px black solid"} #{@data[:cl]}
    %td{:colspan => 2 ,:style => "padding-left: 1%; width: 10%;border:1px black solid"} SATELLITE OFFICE
    %td{:style => "padding-left: 1%; width: 10%;border:1px black solid"} #{@data[:branch]}
  %tr
    %td{:style => "padding-left: 1%; width: 10%"} INCENTIVE PERIOD :
    %td{:style => "padding-left: 1%; width: 15%"} #{@start_date} -  #{@end_date}
    %td{:style => "padding-left: 1%; width: 10%"} ACTIVE LOANERS :
    %td{:style => "padding-left: 1%; width: 10%"} #{@data[:active_loaners]}
    %td{:style => "padding-left: 1%; width: 10%"} LOAN DISBURSED :
    %td{:style => "padding-left: 1%; width: 10%"} #{number_to_currency(@data[:total_loan_disbursed], unit: "")}

//data
%table{:style => "font-size: x-small; margin- bottom : 1%"}
  %tr
    %th{:style => "border:1px black solid;padding-left:2%;width:20%"} SO NAME
    -@data[:sample].each do |so_name|
      - if so_name[:so_active] == true
        %th{:style => "border:1px black solid;padding-left:1%;padding-top:1%;padding-bottom:1%;width:16%"}#{so_name[:name]}
  %tr
    %td{:style => "border:1px black solid;height:30px;padding-left:1%"} SO Status
    -@data[:sample].each do |so_stat|
      - if so_stat[:so_active] == true
        %td{:align =>"center",:style => "border:1px black solid;"} #{so_stat[:so_status]}
  %tr
    %td{:style => "border:1px black solid;height:30px;padding-left:1%"} Outreach / Active Members
    -@data[:sample].each do |outreach|
      - if outreach[:so_active] == true
        %td{:align =>"center",:style => "border:1px black solid;"} #{outreach[:active_members_total]}
  %tr
    %td{:style => "border:1px black solid;height:30px;padding-left:1%"} Active Loaners
    -@data[:sample].each do |active_loaners|
      - if active_loaners[:so_active] == true
        %td{:align =>"center",:style => "border:1px black solid;"} #{active_loaners[:active_loaners_total]}

  %tr
    %td{:style => "border:1px black solid;height:30px;padding-left:1%"} Pure Savers
    -@data[:sample].each do |pure_savers|
      - if pure_savers[:so_active] == true
        %td{:align =>"center",:style => "border:1px black solid;"} #{pure_savers[:pure_savers_total]}




  %tr
    %td{:style => "border:1px black solid;height:30px;padding-left:1%"} Repayment Rate
    -@data[:sample].each do |rr|
      - if rr[:so_active] == true
        %td{:align =>"center",:style => "border:1px black solid;"} #{rr[:total_principal_rr]} %

  %tr
    %td{:style => "border:1px black solid;height:30px;padding-left:1%"} Beggining number of Outreach
    -@data[:sample].each do |beg|
      - if beg[:so_active] == true
        %td{:align =>"center",:style => "border:1px black solid;"} #{beg[:active_members_total_beg]}

  %tr
    %td{:style => "border:1px black solid;height:30px;padding-left:1%"} Additional Members
    -@data[:sample].each do |add|
      - if add[:so_active] == true
        %td{:align =>"center",:style => "border:1px black solid;"} #{add[:new_mem]}
  %tr
    %td{:style => "border:1px black solid;height:30px;padding-left:1%"} Balik Kasapi
    -@data[:sample].each do |bk|
      - if bk[:so_active] == true
        %td{:align =>"center",:style => "border:1px black solid;"} #{bk[:balik_kasapi]}



  %tr
    %td{:style => "border:1px black solid;height:30px;padding-left:1%"} Number of Drop-out
    -@data[:sample].each do |dro|
      - if dro[:so_active] == true
        %td{:align =>"center",:style => "border:1px black solid;"} #{dro[:resigned]}

  %tr
    %td{:style => "border:1px black solid;height:30px;padding-left:1%"} Drop-out Percentage
    -@data[:sample].each do |drop|
      - if drop[:so_active] == true
        %td{:align =>"center",:style => "border:1px black solid;"} #{drop[:do_rate]} %

  %tr
    %td{:style => "border:1px black solid;height:30px;padding-left:1%"} Par Amount
    -@data[:sample].each do |param|
      - if param[:so_active] == true
        %td.acc-curr{:align =>"center",:style => "border:1px black solid;padding-right : 2%"} #{number_to_currency(param[:total_par_amount], unit: "")}

  %tr
    %td{:style => "border:1px black solid;height:30px;padding-left:1%"} PAR Rate
    -@data[:sample].each do |tpr|
      - if tpr[:so_active] == true
        %td{:align =>"center",:style => "border:1px black solid;"} #{tpr[:total_par_rate]} %

  %tr
    %td{:style => "border:1px black solid;height:30px;padding-left:1%"} Portfolio
    -@data[:sample].each do |port|
      - if port[:so_active] == true
        %td.acc-curr{:align =>"center",:style => "border:1px black solid;padding-right:2%"} #{number_to_currency(port[:total_loan_balance], unit: "")}
  
  %tr
    %td{:style => "border:1px black solid;height:30px;padding-left:1%"} Loan Disbursements
    -@data[:sample].each do |port|
      - if port[:so_active] == true
        %td.acc-curr{:align =>"center",:style => "border:1px black solid;padding-right:2%"} #{number_to_currency(port[:disbursement], unit: "")}


  %tr
    %td{:style => "border:1px black solid;height:30px;padding-left:1%"} Incentive (Php)
    -@data[:sample].each do |inc|
      - if inc[:so_active] == true
        %td.acc-curr{:align =>"center",:style => "border:1px black solid;padding-right:2%;font-weight:bold"} #{number_to_currency(inc[:incentive], unit: "")}

  %tr
    %td{:style => "height:15px"}
  
  %tr
    %td{:style => "border:1px black solid;height:30px;padding-left:1%"} Verbal Warning Demerits (php 100 / VW)
    -@data[:sample].each do |vw|
      - if vw[:so_active] == true
        %td.acc-curr{:align =>"center",:style => "border:1px black solid;padding-right : 2%"} #{number_to_currency(vw[:vw_demerits], unit: "")}

  %tr
    %td{:style => "border:1px black solid;height:30px;padding-left:1%"} Written Warning Demerits (php 200 / WW)
    -@data[:sample].each do |ww|
      - if ww[:so_active] == true
        %td.acc-curr{:align =>"center",:style => "border:1px black solid;padding-right : 2%"} #{number_to_currency(ww[:ww_demerits], unit: "")}

  %tr
    %td{:style => "border:1px black solid;height:30px;padding-left:1%"} Drop-out Demerits (php 20 / Mem.)
    -@data[:sample].each do |dd|
      - if dd[:so_active] == true
        %td.acc-curr{:align =>"center",:style => "border:1px black solid;padding-right : 2%"} #{number_to_currency(dd[:do_demerits], unit: "")}

  %tr
    %td{:style => "border:1px black solid;height:30px;padding-left:1%"} TOTAL Demerits
    -@data[:sample].each do |td|
      - if td[:so_active] == true
        %td.acc-curr{:align =>"center",:style => "border:1px black solid;padding-right : 2%;font-weight:bold"} #{number_to_currency(td[:total_demerits], unit: "")}

  %tr
    %td{:style => "height:15px"}

  %tr
    %td{:style => "border:1px black solid;height:30px;padding-left:1%;font-weight:bold"} Final Incentives = Incentive less Total Demerits
    -@data[:sample].each do |fi|
      - if fi[:so_active] == true
        %td.acc-curr{:align =>"center",:style => "border:1px black solid;padding-right : 2%;font-weight:bold"} #{number_to_currency(fi[:final_incentives], unit: "")}



//inihanda ni
%table{:style => "border:1px black solid;font-size: x-small;margin-bottom:1%;margin-top:2%;width:100%"}
  %tr
    %td{:style => "padding-left:1%;width:20%;height:40px;border:1px black solid"} Inihanda ni SOM
    %td{:align => 'center', :style => "padding-left: 1%; width: 30%;border:1px black solid;padding-top:5%"} pangalan/lagda/petsa
    %td{:style => "padding-left:1%;width:20%;height:40px;border:1px black solid"} Ikinumpirma ni Accounting Officer
    %td{:align => 'center', :style => "padding-left: 1%; width: 30%;border:1px black solid;padding-top:5%"} pangalan/lagda/petsa

%h5 PARA SA CM at SM

%table{:style => "border:1px black solid;font-size: x-small;margin-bottom: 1.5%"}
  %tr
    %td{:style => "padding-left: 1%; width: 10%;border:1px black solid"}Total SO Incentive(PHP) = TSI
    %td.acc-curr{:style => "padding-right: 1%; width: 10%;border:1px black solid"} #{number_to_currency(@data[:incentive_sum], unit: "")}
    %td{:style => "padding-left: 1%; width: 10%;border:1px black solid"} Total Regular SO = TSO
    %td{:align => 'center',:style => "padding-left: 1%; width: 10%;border:1px black solid"} #{@data[:regular_so]}
  %tr
    %td{:style => "padding-left: 1%; width: 10%;border:1px black solid"} Average SO Incentive(Php) = TSI / TSO
    %td.acc-curr{:style => "padding-right: 1%; width: 10%;border:1px black solid"} #{number_to_currency(@data[:ave_incentive], unit: "")}
    %td{:style => "padding-left: 1%; width: 10%;border:1px black solid"} SOM Incentive = Average SO Incentive x 0.75
    %td.acc-curr{:style => "padding-right: 1%; width: 10%;border:1px black solid"} #{number_to_currency(@data[:som_inc], unit: "")}


%table{:style => "border:1px black solid;font-size: x-small;margin-bottom:1%;margin-top:1.5%"}
  %tr
    %td{:style => "padding-left:1%;width:25%;height:40px;border:1px black solid"} Sinuri at inirekomenda ni Cluster Manager
    %td{:align => 'center', :style => "padding-left: 1%; width: 25%;border:1px black solid;padding-top:5%"} pangalan/lagda/petsa
    %td{:style => "padding-left:1%;width:25%;height:40px;border:1px black solid"} Pinagtibay ng Sector Manager
    %td{:align => 'center', :style => "padding-left: 1%; width: 25%;border:1px black solid;padding-top:5%"} pangalan/lagda/petsa


%h5 PARA SA HEAD OFFICE
%table{:style => "border:1px black solid;font-size: x-small;margin-bottom:1%;margin-top:1.5%;width:100%"}
  %tr
    %td{:style => "padding-left:1%;width:25%;height:40px;border:1px black solid"} Sinuri ng MIS OFFICER
    %td{:align => 'center', :style => "padding-left: 1%; width: 25%;border:1px black solid;padding-top:5%"} pangalan/lagda/petsa
    %td{:style => "padding-left:1%;width:25%;height:40px;border:1px black solid"} Pinagtibay ng Operations Manager
    %td{:align => 'center', :style => "padding-left: 1%; width: 25%;border:1px black solid;padding-top:5%"} pangalan/lagda/petsa
  %tr
    %td{:style => "padding-left:1%;width:25%;height:40px;border:1px black solid"} Nirekomenda ni MIS Manager
    %td{:align => 'center', :style => "padding-left: 1%; width: 25%;border:1px black solid;padding-top:5%"} pangalan/lagda/petsa
    
    %td{:style => "padding-left:1%;width:25%;height:40px;border:1px black solid"} Pinagtibay ng General Manager
    %td{:align => 'center', :style => "padding-left: 1%; width: 100%;border:1px black solid;padding-top:5%"} pangalan/lagda/petsa

%table{:style => "border:1px black solid;font-size: x-small;margin-bottom:1%;margin-top:1.5%;width:100%"}
  %tr
    %td{:align => 'center',:rowspan => '2', :colspan => '3', :style => "padding-left:1%;border:1px black solid"} Incentive Table
    %td{:align => 'center',:colspan => '4', :style => "padding-left:1%;border:1px black solid"} PORTFOLIO (Million)
  %tr
    %td{:align => 'center',:style => "padding-left:1%;border:1px black solid"} 1.2 - 1.49
    %td{:align => 'center',:style => "padding-left:1%;border:1px black solid"} 1.5 - 1.79
    %td{:align => 'center',:style => "padding-left:1%;border:1px black solid"} 1.80 - 2.09
    %td{:align => 'center',:style => "padding-left:1%;border:1px black solid"} 2.1 pataas
  %tr
    %td{:align => 'center',:rowspan => '2', :colspan => '2', :style => "padding-left:1%;border:1px black solid"} Repayment Rate (%)
    %td{:align => 'center',:style => "padding-left:1%;border:1px black solid"} 99 - 100
    %td{:align => 'center',:style => "padding-left:1%;border:1px black solid"} 1,000
    %td{:align => 'center',:style => "padding-left:1%;border:1px black solid"} 1,500
    %td{:align => 'center',:style => "padding-left:1%;border:1px black solid"} 2,000
    %td{:align => 'center',:style => "padding-left:1%;border:1px black solid"} 2,500
  %tr
    %td{:align => 'center',:style => "padding-left:1%;border:1px black solid"} 98 - 98.99
    %td{:align => 'center',:style => "padding-left:1%;border:1px black solid"} 500
    %td{:align => 'center',:style => "padding-left:1%;border:1px black solid"} 1,000
    %td{:align => 'center',:style => "padding-left:1%;border:1px black solid"} 1,500
    %td{:align => 'center',:style => "padding-left:1%;border:1px black solid"} 2,000

%p{:align => 'right',:style => "font-size: x-small"} Date printed : #{@data[:date_today]} report id no. : #{@data[:dr_id]} 
