%section.content-header
  %h1 
    Monthly RR

%section.content
  .well
    = link_to "#", id: "btn-generate-monthly-daily-report", class: "btn btn-app" do
      .fa.fa-refresh
      Generate Monthly Report
  #section-monthly-rr

= render partial: "shared/loading_modal"
= render partial: "reports/templates/monthly_rr"
= javascript_include_tag "reports/Reports.MonthlyRR"

:javascript
  $(document).ready(function() {
    Reports.MonthlyRR.init();
  });
