%section.content-header
  %h1 
    OR Reports

%section.content
  .box
    .box-body
      - if @vouchers.size == 0
        %p
          No OR records found
      - else
        = render partial: "or_filter"
        = render partial: "or_transactions"
