%section.content-header
  %h1
    PAR Report
    %small
      Current Date: #{Time.now.localtime.strftime("%b %d, %Y")}
  %ol.breadcrumb
    %li
      = link_to root_path do
        .fa.fa-arrow-left
        Back to Dashboard

%section.content
  %table.table.table-bordered.table-responsive
    %tr
      %th
        %label Branch
        = select_tag :branch_id, options_from_collection_for_select(@branches, :id, :name, @branch.try(:id)), class: "form-control select-select2", id: "branch-select", prompt: "-- SELECT --"
      %th
        %label SO
        = select_tag :so, options_for_select([]), class: "form-control", id: 'so-select', prompt: "-- SELECT --"
      %th
        %label Center
        = select_tag :center_id, options_from_collection_for_select([], :id, :name, @center.try(:id)), prompt: "-- SELECT --", class: "form-control select-select2", id: "center-select"
      %th
        %label Loan Product
        = select_tag :loan_product_id, options_from_collection_for_select(@loan_products, :id, :name, @loan.try(:id)), prompt: "-- ALL --", class: "form-control select-select2", id: "loan-product-select"
      %th
        %label 
          Detailed
        %br
        = check_box_tag 'detailed', nil, false, class: 'switch'
      %th
        %label 
          As Of
        = text_field_tag :as_of, ApplicationHelper.current_working_date.strftime("%Y-%m-%d"), class: "form-control datepick", id: "as-of"
      %th
        %label Actions
        %br
        .ui.small.buttons
          = link_to "#", class: 'btn btn-primary', id: 'search-btn' do
            .fa.fa-plus
            Generate PAR
          =  link_to "#", class: 'btn btn-info', id: 'print-btn' do
            .fa.fa-print
            PRINT

  #reports-par-section
#data{ data: { savings_types: @savings_types.to_json, insurance_types: @insurance_types.to_json, equity_types: @equity_types.to_json } }

= render partial: "reports/templates/par"
= render partial: "reports/templates/par_detailed"
= javascript_include_tag "reports/Reports.Par"

:javascript
  $(document).ready(function() {
    Reports.Par.init();
  });
