%table{:style => "font-size: x-small;margin-bottom:3%;wiidth: 95%"}
  %thead
    %tr
      %td{:colspan => 4}
        %table{:style => "font-wight: bold"}
          %tr
            
            %td
              #{Settings.company}
          %tr
            %td
              #{Settings.company_address}
          %tr
            %td
              VAT Registration Tin Number:#{Settings.tin_number}
          %tr
            - if @data[:detailed] == "true"
              %td PAR Detailed Report
            - if @data[:detailed] == "false"
              %td PAR Summary Report
          %tr
            %td
              As of : #{(@data[:as_of].to_date).strftime("%m/%d/%y")}
              
 
- if @data[:detailed] == "false"
  - @data[:loan_products].each do |lp|
    - lp[:branches].each do |brnchs|
      %h5 
        %small #{lp[:loan_product]}
      - brnchs[:so_list].each do |so_list|
        %h6 
          %small #{so_list[:so]}

        %table{:style => "font-size:x-small;margin-bottom:2%;width:100%"}

          %tr
            %th{:style => "border:1px black solid;padding-left:2%;width:14%"} Center Name
            %th{:style => "border:1px black solid;padding-left:2%;width:14%"} TOTAL
            %th{:style => "border:1px black solid;padding-left:2%;width:7%"} 1 - 15
            %th{:style => "border:1px black solid;padding-left:2%;width:7%"} 16 - 30
            %th{:style => "border:1px black solid;padding-left:2%;width:7%"} 31 - 60
            %th{:style => "border:1px black solid;padding-left:2%;width:7%"} 61 - 90
            %th{:style => "border:1px black solid;padding-left:2%;width:7%"} 91 -120
            %th{:style => "border:1px black solid;padding-left:2%;width:7%"} 121 - 150
            %th{:style => "border:1px black solid;padding-left:2%;width:7%"} >  150
          
          - so_list[:centers].each do |center|
            %tr
              %td{:style => "border:1px black solid;padding-left:2%"} #{center[:name]}
              %td{:style => "border:1px black solid;padding-right:2%"}
                %div.acc-curr #{number_to_currency(center[:amount_due] , unit: "")}
                %div.acc-curr #{number_to_currency(center[:outstanding_balance_of_loans_with_due] , unit: "")}
                %div{:align => "right"} #{center[:num_loans]}

              - center[:par_bins].each do |c_par_bins|
                %td{:style => "border:1px black solid;padding-right:2%"}
                  %div.acc-curr #{number_to_currency(c_par_bins[:amount_due] , unit: "")}
                  %div.acc-curr #{number_to_currency(c_par_bins[:outstanding_balance_of_loans_with_due] , unit: "")}
                  %div{:align=> "right"} #{c_par_bins[:num_loans]}

          %tr
            %th{:style => "border:1px black solid;padding-left:2%"} Total For #{lp[:loan_product]} of #{so_list[:so]}
            %th{:style => "border:1px black solid;padding-right:2%"}
              %div.acc-curr #{number_to_currency(so_list[:amount_due] , unit: "")}
              %div.acc-curr #{number_to_currency(so_list[:outstanding_balance_of_loans_with_due] , unit: "" )}
              %div{:align => "right"} #{so_list[:num_loans]}

            - so_list[:par_bins].each do |so_par_bins|
              %th{:style => "border:1px black solid;padding-right:2%"}
                %div.acc-curr #{number_to_currency(so_par_bins[:amount_due] , unit: "")}
                %div.acc-curr #{number_to_currency(so_par_bins[:outstanding_balance_of_loans_with_due] , unit: "")}
                %div{:align => "right"} #{so_par_bins[:num_loans]}
    
      %table{:style => "font-size:x-small;margin-bottom:2%;width:100%"}
        %tr
          %th{:style => "border:1px black solid;padding-left:2%;width:14%"} 
          %th{:style => "border:1px black solid;padding-left:2%;width:14%"} TOTAL
          %th{:style => "border:1px black solid;padding-left:2%;width:7%"} 1 - 15
          %th{:style => "border:1px black solid;padding-left:2%;width:7%"} 16 - 30
          %th{:style => "border:1px black solid;padding-left:2%;width:7%"} 31 - 60
          %th{:style => "border:1px black solid;padding-left:2%;width:7%"} 61 - 90
          %th{:style => "border:1px black solid;padding-left:2%;width:7%"} 91 -120
          %th{:style => "border:1px black solid;padding-left:2%;width:7%"} 121 - 150
          %th{:style => "border:1px black solid;padding-left:2%;width:7%"} >  150
        %tr
          %th{:style => "border:1px black solid;padding-left:2%"} TOTAL FOR #{lp[:loan_product]}
          %th{:style => "border:1px black solid;padding-right:2%"}
            %div.acc-curr #{number_to_currency(lp[:amount_due] , unit:"")}
            %div.acc-curr #{number_to_currency(lp[:outstanding_balance_of_loans_with_due] , unit: "")}
            %div{:align => "right"} #{lp[:num_loans]}
          - lp[:par_bins].each do |lp_par_bins|
            %th{:style => "border:1px black solid;padding-right:2%"}
              %div.acc-curr #{number_to_currency(lp_par_bins[:amount_due] , unit: "")}
              %div.acc-curr #{number_to_currency(lp_par_bins[:outstanding_balance_of_loans_with_due] , unit: "")}
              %div{:align => "right"} #{lp_par_bins[:num_loans]}
  %h5
    %small GRAND TOTAL
  %table{:style => "font-size:x-small;margin-bottom:2%;width:100%"}
    %tr
      %th{:style => "border:1px black solid;padding-left:2%;width:14%"} 
      %th{:style => "border:1px black solid;padding-left:2%;width:14%"} GRAND TOTAL
      %th{:style => "border:1px black solid;padding-left:2%;width:7%"} 1 - 15
      %th{:style => "border:1px black solid;padding-left:2%;width:7%"} 16 - 30
      %th{:style => "border:1px black solid;padding-left:2%;width:7%"} 31 - 60
      %th{:style => "border:1px black solid;padding-left:2%;width:7%"} 61 - 90
      %th{:style => "border:1px black solid;padding-left:2%;width:7%"} 91 -120
      %th{:style => "border:1px black solid;padding-left:2%;width:7%"} 121 - 150
      %th{:style => "border:1px black solid;padding-left:2%;width:7%"} >  150
    %tr
      %th{:style => "border:1px black solid;padding-left:2%"} GRAND TOTAL
      %th{:style => "border:1px black solid;padding-right:2%"}
        %div.acc-curr #{number_to_currency(@data[:amount_due] , unit: "")}
        %div.acc-curr #{number_to_currency(@data[:outstanding_balance_of_loans_with_due] , unit: "")}
        %div{:align => "right"}#{@data[:num_loans]}
      - @data[:par_bins].each do |par_bins|
        %th{:style => "border:1px black solid;padding-right:2%"}
          %div.acc-curr #{number_to_currency(par_bins[:amount_due] , unit: "")}
          %div.acc-curr #{number_to_currency(par_bins[:outstanding_balance_of_loans_with_due] , unit: "")}
          %div{:align => "right"} #{par_bins[:num_loans]}

- if @data[:detailed] == "true"
  - @data[:loan_products].each do |lp|
    - lp[:branches].each do |brnchs|
      %h5 
        %small #{lp[:loan_product]}
      - brnchs[:so_list].each do |so_list|
        %h6 
          %small #{so_list[:so]}

        %table{:style => "font-size:x-small;margin-bottom:2%;width:100%"}

          %tr
            %th{:style => "border:1px black solid;padding-left:2%;width:14%"} Name
            %th{:style => "border:1px black solid;padding-left:2%;width:14%"} Date Released
            %th{:style => "border:1px black solid;padding-left:2%;width:7%"} 1 - 15
            %th{:style => "border:1px black solid;padding-left:2%;width:7%"} 16 - 30
            %th{:style => "border:1px black solid;padding-left:2%;width:7%"} 31 - 60
            %th{:style => "border:1px black solid;padding-left:2%;width:7%"} 61 - 90
            %th{:style => "border:1px black solid;padding-left:2%;width:7%"} 91 -120
            %th{:style => "border:1px black solid;padding-left:2%;width:7%"} 121 - 150
            %th{:style => "border:1px black solid;padding-left:2%;width:7%"} >  150
          - so_list[:centers].each do |center|
            - center[:loans].each do |loans|
              %tr
                %td{:style => "border:1px black solid;padding-left:2%"} #{loans[:name]}
                %td{:style => "border:1px black solid;padding-left:2%"} #{loans[:date_released]}
                - loans[:par_bins].each do |l_par_bins|
                  %td{:style => "border:1px black solid;padding-right:2%"}
                    %div.acc-curr #{number_to_currency(l_par_bins[:amount_due] , unit: "")}
                    %div.acc-curr #{number_to_currency(l_par_bins[:outstanding_balance_of_loans_with_due] , unit: "")}     
        
            %tr
              %th{:style => "border:1px black solid;padding-left:2%"} TOTAL FOR #{center[:name]}
              %th{:style => "border:1px black solid;padding-right:2%"}
                %div.acc-curr #{number_to_currency(center[:amount_due] , unit: "")}
                %div.acc-curr #{number_to_currency(center[:outstanding_balance_of_loans_with_due] , unit: "")}
                %div{:align => "right"} #{center[:num_loans]}

              - center[:par_bins].each do |c_par_bins|
                %th{:style => "border:1px black solid;padding-right:2%"}
                  %div.acc-curr #{number_to_currency(c_par_bins[:amount_due] , unit: "")}
                  %div.acc-curr #{number_to_currency(c_par_bins[:outstanding_balance_of_loans_with_due] , unit: "")}
                  %div{:align=> "right"} #{c_par_bins[:num_loans]}

          %tr
            %th{:style => "border:1px black solid;padding-left:2%"} Total For #{lp[:loan_product]} of #{so_list[:so]}
            %th{:style => "border:1px black solid;padding-right:2%"}
              %div.acc-curr #{number_to_currency(so_list[:amount_due] , unit: "")}
              %div.acc-curr #{number_to_currency(so_list[:outstanding_balance_of_loans_with_due] , unit: "" )}
              %div{:align => "right"} #{so_list[:num_loans]}

            - so_list[:par_bins].each do |so_par_bins|
              %th{:style => "border:1px black solid;padding-right:2%"}
                %div.acc-curr #{number_to_currency(so_par_bins[:amount_due] , unit: "")}
                %div.acc-curr #{number_to_currency(so_par_bins[:outstanding_balance_of_loans_with_due] , unit: "")}
                %div{:align => "right"} #{so_par_bins[:num_loans]}

    %table{:style => "font-size:x-small;margin-bottom:2%;width:100%"}
      %tr
        %th{:style => "border:1px black solid;padding-left:2%;width:14%"} 
        %th{:style => "border:1px black solid;padding-left:2%;width:14%"} TOTAL
        %th{:style => "border:1px black solid;padding-left:2%;width:7%"} 1 - 15
        %th{:style => "border:1px black solid;padding-left:2%;width:7%"} 16 - 30
        %th{:style => "border:1px black solid;padding-left:2%;width:7%"} 31 - 60
        %th{:style => "border:1px black solid;padding-left:2%;width:7%"} 61 - 90
        %th{:style => "border:1px black solid;padding-left:2%;width:7%"} 91 -120
        %th{:style => "border:1px black solid;padding-left:2%;width:7%"} 121 - 150
        %th{:style => "border:1px black solid;padding-left:2%;width:7%"} >  150
      %tr
        %th{:style => "border:1px black solid;padding-left:2%"} TOTAL FOR #{lp[:loan_product]}
        %th{:style => "border:1px black solid;padding-right:2%"}
          %div.acc-curr #{number_to_currency(lp[:amount_due] , unit:"")}
          %div.acc-curr #{number_to_currency(lp[:outstanding_balance_of_loans_with_due] , unit: "")}
          %div{:align => "right"} #{lp[:num_loans]}
        - lp[:par_bins].each do |lp_par_bins|
          %th{:style => "border:1px black solid;padding-right:2%"}
            %div.acc-curr #{number_to_currency(lp_par_bins[:amount_due] , unit: "")}
            %div.acc-curr #{number_to_currency(lp_par_bins[:outstanding_balance_of_loans_with_due] , unit: "")}
            %div{:align => "right"} #{lp_par_bins[:num_loans]}
  %h5
    %small GRAND TOTAL
  %table{:style => "font-size:x-small;margin-bottom:2%;width:100%"}
    %tr
      %th{:style => "border:1px black solid;padding-left:2%;width:14%"} 
      %th{:style => "border:1px black solid;padding-left:2%;width:14%"} GRAND TOTAL
      %th{:style => "border:1px black solid;padding-left:2%;width:7%"} 1 - 15
      %th{:style => "border:1px black solid;padding-left:2%;width:7%"} 16 - 30
      %th{:style => "border:1px black solid;padding-left:2%;width:7%"} 31 - 60
      %th{:style => "border:1px black solid;padding-left:2%;width:7%"} 61 - 90
      %th{:style => "border:1px black solid;padding-left:2%;width:7%"} 91 -120
      %th{:style => "border:1px black solid;padding-left:2%;width:7%"} 121 - 150
      %th{:style => "border:1px black solid;padding-left:2%;width:7%"} >  150
    %tr
      %th{:style => "border:1px black solid;padding-left:2%"} GRAND TOTAL
      %th{:style => "border:1px black solid;padding-right:2%"}
        %div.acc-curr #{number_to_currency(@data[:amount_due] , unit: "")}
        %div.acc-curr #{number_to_currency(@data[:outstanding_balance_of_loans_with_due] , unit: "")}
        %div{:align => "right"}#{@data[:num_loans]}
      - @data[:par_bins].each do |par_bins|
        %th{:style => "border:1px black solid;padding-right:2%"}
          %div.acc-curr #{number_to_currency(par_bins[:amount_due] , unit: "")}
          %div.acc-curr #{number_to_currency(par_bins[:outstanding_balance_of_loans_with_due] , unit: "")}
          %div{:align => "right"} #{par_bins[:num_loans]}


