%section.content-header
  %h1
    Personal Funds
    %small
      Report as of #{Time.now.localtime.strftime("%b %d, %Y")}
  %ol.breadcrumb
    %li
      = link_to root_path do
        .fa.fa-arrow-left
        Back to Dashboard
%section.content
  %table.table.table-bordered.table-responsive
    %tr
      %th
        %label Branch
        = select_tag :branch_id, options_from_collection_for_select(@branches, :id, :name, @branch.try(:id)), class: "form-control select-select2", id: "branch-select", prompt: "-- SELECT --"
      %th
        %label SO
        = select_tag :so, options_for_select([]), class: "form-control", id: 'so-select', prompt: "-- SELECT --"
      %th
        %label Center
        = select_tag :center_id, options_from_collection_for_select([], :id, :name, @center.try(:id)), prompt: "-- SELECT --", class: "form-control select-select2", id: "center-select"
      %th
        %label Account Type
        = select_tag :account_type, options_for_select(["Savings", "Insurance", "Equity"]), class: "form-control select-select2", id: 'account-type-select', prompt: "-- SELECT --", multiple: "multiple"
      %th
        %label Detailed
        %br
        = check_box_tag 'detailed', nil, false, class: 'switch'
      %th
        %label As Of
        %br
        = text_field_tag :as_of, Time.now.strftime("%Y-%m-%d"), class: "form-control datepick", id: "as-of"
      %th
        %label Actions
        %br
        = link_to "#", class: 'btn btn-primary', id: 'search-btn' do
          .fa.fa-search
        =  link_to "#", class: 'btn btn-info', id: 'download-btn' do
          .fa.fa-download
        =  link_to "#", class: 'btn btn-info', id: 'print-btn' do
          .fa.fa-print
 
  .ui.grid
    .sixteen.wide.column
      #reports-accounts-section
        %p
          Select parameters from filter to generate report
  %hr

#data{ data: { savings_types: @savings_types.to_json, insurance_types: @insurance_types.to_json, equity_types: @equity_types.to_json } }

= render partial: "reports/templates/accounts"
= render partial: "reports/templates/accounts_detailed"
= javascript_include_tag "reports_personal_funds"
