%table{:style => "font-size: x-small;margin-bottom:3%;width: 95%"}
  %thead
    %tr
      %td{:colspan => 4}
        %table{:style => "font-wight: bold"}
          %tr
            
            %td
              #{Settings.company}
          %tr
            %td
              #{Settings.company_address}
          %tr
            %td
              VAT Registration Tin Number:#{Settings.tin_number}
          %tr
            %td
              - @data[:branches].each do |brnchs|
                #{brnchs[:name]}
          %tr
            %td
              - if @data[:detailed] == "false"
                PERSONAL FUNDS SUMMARY
              - if @data[:detailed] == "true"
                PERSONAL FUNDS DETAILED
          %tr
            %td
              As of : #{(@data[:as_of].to_date).strftime("%m/%d/%y")}
              
- if @data[:detailed] == "false"
  - @data[:branches].each do |brnch|
    - brnch[:so_list].each do |so_list|
      #{so_list[:so]}
      %table{:style => "font-size:x-small;margin-bottom:2%;width:100%"}
        %tr
          %th{:style => "border:1px black solid;padding-left:2%;width:25%"} CENTER NAME
          %th{:style => "border:1px black solid;padding-left:2%;width:5%"}
          %th{:style => "border:1px black solid;padding-left:2%;width:15%"}TOTAL
          - @data[:account_types].each do |ac|
            %th{:style => "border:1px black solid;padding-left:2%;width:10%"} #{ac}

          - so_list[:centers].each do |center|
            %tr
              %td{:style => "border:1px black solid;padding-left:2%"} #{center[:name]}
              %td{:style => "border:1px black solid;padding-left:2%"} #{center[:member_count]}
              %td.acc-curr{:style => "border:1px black solid;padding-right:2%"} #{number_to_currency(center[:total_funds],unit: "")}
              - center[:funds].each do |funds|
                %td.acc-curr{:style => "border:1px black solid;padding-right:2%"} #{number_to_currency(funds , unit:"")}
        %tr
          %td{:style => "border:1px black solid;padding-left:2%;font-weight:bold"} TOTAL for #{so_list[:so]}
          %td{:style => "border:1px black solid;padding-left:2%;font-weight:bold"} #{so_list[:member_count]}
          %td.acc-curr{:style => "border:1px black solid;padding-right:2%;font-weight:bold"} #{number_to_currency(so_list[:total_funds] , unit:"")}
          - so_list[:subtotals].each do |sub_total|
            %td.acc-curr{:style => "border:1px black solid;padding-right:2%;font-weight:bold"} #{number_to_currency(sub_total , unit:"")}

    %table{:style => "font-size:x-small;margin-bottom:2%;width:100%"}
      %tr
        %td{:style => "border:1px black solid;padding-left:2%;font-weight:bold;width:25%"} #{brnch[:name]} TOTAL
        %td{:style => "border:1px black solid;padding-left:2%;font-weight:bold;width:5%"} #{brnch[:branch_member_total]}
        %td.acc-curr{:style => "border:1px black solid;padding-right:2%;font-weight:bold;width:15%"} #{number_to_currency(brnch[:branch_total_funds] , unit:"")}
        - brnch[:branch_total_funds_breakdown].each do |btfbd|
          %td.acc-curr{:style => "border:1px black solid;padding-right:2%;font-weight:bold;width:10%"} #{number_to_currency(btfbd , unit:"")}

- if @data[:detailed] == "true"
  - @data[:branches].each do |brnch|
    - brnch[:so_list].each do |so_list|
      %h5 #{so_list[:so]}
      - so_list[:centers].each do |center|
        %h6 #{center[:name]}
        %table{:style => "font-size:x-small;margin-bottom:2%;width:100%"}
          %tr
            %th{:style => "border:1px black solid;padding-left:2%;width:25%"} MEMBER NAME
            %th{:style => "border:1px black solid;padding-left:2%;width:5%"}
            %th{:style => "border:1px black solid;padding-left:2%;width:15%"}TOTAL
            - @data[:account_types].each do |ac|
              %th{:style => "border:1px black solid;padding-left:2%;width:10%"} #{ac}

            - center[:member_accounts].each do |mem|
              %tr
                %td{:style => "border:1px black solid;padding-left:2%"} #{mem[:member]}
                %td{:style => "border:1px black solid;padding-left:2%"}
                %td.acc-curr{:style => "border:1px black solid;padding-right:2%"} #{number_to_currency(mem[:total_for_member] , unit:"")}
                - mem[:accounts].each do |mem_acct|
                  %td.acc-curr{:style => "border:1px black solid;padding-right:2%"} #{number_to_currency(mem_acct , unit: "")}
          %tr
            %td{:style => "border:1px black solid;padding-left:2%;font-weight:bold"}TOTAL FOR #{center[:name]}
            %td{:style => "border:1px black solid;padding-left:2%;font-weight:bold"} #{center[:member_count]}
            %td.acc-curr{:style => "border:1px black solid;padding-right:2%;font-weight:bold"} #{number_to_currency(center[:total_funds],unit: "")}
            - center[:funds].each do |funds|
              %td.acc-curr{:style => "border:1px black solid;padding-right:2%;font-weight:bold"} #{number_to_currency(funds , unit:"")}
      %table{:style => "font-size:x-small;margin-bottom:2%;width:100%"}
        %tr
          %td{:style => "border:1px black solid;padding-left:2%;font-weight:bold;width:25%"} TOTAL for #{so_list[:so]}
          %td{:style => "border:1px black solid;padding-left:2%;font-weight:bold;width:5%"} #{so_list[:member_count]}
          %td.acc-curr{:style => "border:1px black solid;padding-right:2%;font-weight:bold;width:15%"} #{number_to_currency(so_list[:total_funds] , unit:"")}
          - so_list[:subtotals].each do |sub_total|
            %td.acc-curr{:style => "border:1px black solid;padding-right:2%;font-weight:bold;width:10%"} #{number_to_currency(sub_total , unit:"")}

    %table{:style => "font-size:x-small;margin-bottom:2%;width:100%"}
      %tr
        %td{:style => "border:1px black solid;padding-left:2%;font-weight:bold;width:25%"} #{brnch[:name]} TOTAL
        %td{:style => "border:1px black solid;padding-left:2%;font-weight:bold;width:5%"} #{brnch[:branch_member_total]}
        %td.acc-curr{:style => "border:1px black solid;padding-right:2%;font-weight:bold;width:15%"} #{number_to_currency(brnch[:branch_total_funds] , unit:"")}
        - brnch[:branch_total_funds_breakdown].each do |btfbd|
          %td.acc-curr{:style => "border:1px black solid;padding-right:2%;font-weight:bold;width:10%"} #{number_to_currency(btfbd , unit:"")}


