%section.content-header
  %h1 
    Personal Documents Report
%section.content
  #filter
    %table.table.table-bordered.table-responsive
      %tr
        %th
          %label Branch
          = select_tag :branch_id, options_from_collection_for_select(@branches, :id, :name, @branch.try(:id)), class: "form-control select-select2", id: "branch-select", prompt: "-- SELECT --"
        %th
          %label Start Date:
          = text_field_tag :start_date, nil, class: "form-control datepick", id: "start-date"
        %th
          %label End Date:
          = text_field_tag :end_date, nil, class: "form-control datepick", id: "end-date"      
  .box
    .box-body
      = link_to "#", id: 'download-btn' do  
        .info-box
          %span.info-box-icon.bg-blue
            %i.fa.fa-download
          .info-box-content
            %span.info-box-text
              Export Personal Documents Report
            %span.info-box-number
              %small
                Excel format for Personal Documents Report

= javascript_include_tag "reports/Reports.PersonalDocumentsReport"

:javascript
  $(document).ready(function() {
    Reports.PersonalDocumentsReport.init();
  });