.container-fluid
  .row
    %h1.ui.blue.header
      .fa.fa-check
      Portfolio
    .ui.grey.segment
      .ui.grid
        .four.wide.column
          %label Branch
          = select_tag :branch_id, options_from_collection_for_select(@branches, :id, :name, @branch.try(:id)), class: "form-control select-select2", id: "branch-select", prompt: "-- SELECT --"
        .four.wide.column
          %label Actions
          %br
          .ui.buttons
            .ui.primary.button#filterBtn
              .fa.fa-search
              Filter

    .ui.styled.fluid.accordion
      - @loan_products.each do |loan_product|
        .active.title
          %i.dropdown.icon
          #{loan_product.code} Graph
        .active.content
          .ui.green.segment
            .portfolio-graph{data: { loan_product_id: loan_product.id }}
              .ui.dimmer.inverted
                .ui.loader
              %canvas.portfolio-canvas
              %table.ui.grey.table
                %thead
                  %tr
                    %th Month
                    %th Amount Collected
                %tbody.distribution-table
                  = render partial: "portfolio_distribution_table_template"
    %hr


= javascript_include_tag "Chart"
= javascript_include_tag "reports_portfolio"
