%section.content-header
  %h1 Progress out of Poverty Index (PPI) Summary
%section.content
  .box
    .box-body
      = link_to ppi_pdf_path, target:"_blank" do
        .fa.fa-print
        PRINT

      - @data[:surveyquestion].each do |m|
        %p 
          %b
            #{m[:content]}
          %br
        %table.table.table-bordered
          %thead
            %tr
              %th Mga sagot
              %th.curr Bilang ng sumagot
          %tbody
            - m[:surveyquestionoption].each do |sqo|
              %tr
                %td #{sqo[:option]}
                %td.curr #{sqo[:rescount]}
