%span
  %center
    %br
    %br
    %p
      %b
        #{Settings.company}
      %br
      %small
        #{Settings.company_address}
      %br
      %small 
        VAT Registration Tin Number: 
        #{Settings.tin_number}
      
      %br
      %br
      %h2
        Progress out of Poverty Index (PPI)

      %br

- @data[:surveyquestion].each do |m|
  %p 
    %b
      #{m[:content]}
    %br
  %table.table.table-bordered
    %thead
      %tr
        %th Mga sagot
        %th.curr Bilang ng sumagot
    %tbody
      - m[:surveyquestionoption].each do |sqo|
        %tr
          %td #{sqo[:option]}
          %td.curr #{sqo[:rescount]}
