%section.content
  = link_to "#", class: 'btn btn-primary', id: 'download-btn' do
    .fa.fa-plus
    Download

  - @data[:list].each do |a|
    %h2
      #{a[:projCateg]} 
    %table.table.table-bordered
      - a[:projTypeDetails].each do |ptd|
        %tr
          %th
          %th
            #{ptd[:projType]}
          %th
            #{ptd[:projTypeCount]}
        - ptd[:loanDetails].each_with_index do |ld, i|
          %tr
            %td
              #{i + 1}
            %td
              #{ld[:member_name]}
            %td
              #{ld[:total_principal]}

      %tr
        %th
          Total
        %th
          #{a[:totalInCateg]}





  - @data[:list].each do |a|
    %h2
      #{a[:projCateg]} 
    %table.table.table-bordered
      - a[:projTypeDetails].each do |ptd|
        %tr
          %th
          %th
            #{ptd[:projType]}
          %th
            #{ptd[:projTypeCount]}

      %tr
        %th
          Total
        %th
          #{a[:totalInCateg]}
