%table{:style => "font-size: x-small;margin-bottom:3%;wiidth: 95%"}
  %thead
    %tr
      %td{:colspan => 4}
        %table{:style => "font-wight: bold"}
          %tr
            
            %td
              #{Settings.company}
          %tr
            %td
              #{Settings.company_address}
          %tr
            %td
              VAT Registration Tin Number:#{Settings.tin_number}
          %tr
            - if @data[:detailed] == "true"
              %td REPAYMENTS DETAILED REPORT
            - if @data[:detailed] == "false"
              %td REPAYMENTS SUMMARY REPORT
          %tr
            %td
              As of : #{(@data[:as_of].to_date).strftime("%m/%d/%y")}
- if @data[:detailed] == "false" 
  - @data[:loan_products].each do |lp|
    - lp[:branches].each do |brnchs|
      %h5 
        %small #{lp[:loan_product]}
      - brnchs[:so_list].each do |so_list|
        %h6 
          %small #{so_list[:so]}
      
        %table{:style => "font-size:x-small;margin-bottom:2%;width:100%"}
          %tr
            %th{:style => "border:1px black solid;padding-left:0.5%;width:16%"} Center Name
            %th{:style => "border:1px black solid;padding-left:0.5%;width:7%"} Num of loans
            %th{:style => "border:1px black solid;padding-left:0.5%;width:7%"} Loan Amount
            %th{:style => "border:1px black solid;padding-left:0.5%;width:7%"} Prin. Paid
            %th{:style => "border:1px black solid;padding-left:0.5%;width:7%"} Loan Bal.
            %th{:style => "border:1px black solid;padding-left:0.5%;width:7%"} Int. Amt.
            %th{:style => "border:1px black solid;padding-left:0.5%;width:7%"} Int. Paid
            %th{:style => "border:1px black solid;padding-left:0.5%;width:7%"} Int. Bal.
            %th{:style => "border:1px black solid;padding-left:0.5%;width:7%"} Total Paid
            %th{:style => "border:1px black solid;padding-left:0.5%;width:7%"} Cum. Due (p)
            %th{:style => "border:1px black solid;padding-left:0.5%;width:7%"} Cum Due
            %th{:style => "border:1px black solid;padding-left:0.5%;width:7%"} Amt. Past Due
            %th{:style => "border:1px black solid;padding-left:0.5%;width:7%"} RR %
          - so_list[:centers].each do |centers|
            %tr
              %td{:style => "border:1px black solid;padding-left:0.5%"} #{centers[:name]}
              %td{:style => "border:1px black solid;padding-left:0.5%"} #{centers[:num_members]} | #{centers[:num_loans]}
              %td.acc-curr{:style => "border:1px black solid;padding-right:0.5%"} #{number_to_currency(centers[:loan_amount] , unit: "")}
              %td.acc-curr{:style => "border:1px black solid;padding-right:0.5%"} #{number_to_currency(centers[:principal_paid] , unit: "")}
              %td.acc-curr{:style => "border:1px black solid;padding-right:0.5%"} #{number_to_currency(centers[:loan_balance] , unit: "")}
              %td.acc-curr{:style => "border:1px black solid;padding-right:0.5%"} #{number_to_currency(centers[:interest_amount] , unit: "")}
              %td.acc-curr{:style => "border:1px black solid;padding-right:0.5%"} #{number_to_currency(centers[:interest_paid] , unit: "")}
              %td.acc-curr{:style => "border:1px black solid;padding-right:0.5%"} #{number_to_currency(centers[:interest_balance] , unit: "")}
              %td.acc-curr{:style => "border:1px black solid;padding-right:0.5%"} #{number_to_currency(centers[:total_paid] , unit: "")}
              %td.acc-curr{:style => "border:1px black solid;padding-right:0.5%"} #{number_to_currency(centers[:principal_cum_due] , unit: "")}
              %td.acc-curr{:style => "border:1px black solid;padding-right:0.5%"} #{number_to_currency(centers[:cum_due] , unit: "")}
              %td.acc-curr{:style => "border:1px black solid;padding-right:0.5%"} #{number_to_currency(centers[:amt_past_due] , unit: "")}
              %td.acc-curr{:style => "border:1px black solid;padding-right:0.5%"} #{centers[:principal_rr]}
          %tr
            %th{:style => "border:1px black solid;padding-left:0.5%"} TOTAL #{lp[:loan_product]} FOR #{so_list[:so]}
            %th{:style => "border:1px black solid;padding-left:0.5%"} #{so_list[:total_num_members]} | #{so_list[:total_num_loans]}
            %th.acc-curr{:style => "border:1px black solid;padding-right:0.5%"} #{number_to_currency(so_list[:total_loan_amount] , unit: "")}
            %th.acc-curr{:style => "border:1px black solid;padding-right:0.5%"} #{number_to_currency(so_list[:total_principal_paid] , unit: "")}
            %th.acc-curr{:style => "border:1px black solid;padding-right:0.5%"} #{number_to_currency(so_list[:total_loan_balance] , unit: "")}
            %th.acc-curr{:style => "border:1px black solid;padding-right:0.5%"} #{number_to_currency(so_list[:total_interest_amount] , unit: "")}
            %th.acc-curr{:style => "border:1px black solid;padding-right:0.5%"} #{number_to_currency(so_list[:total_interest_paid] , unit: "")}
            %th.acc-curr{:style => "border:1px black solid;padding-right:0.5%"} #{number_to_currency(so_list[:total_interest_balance] , unit: "")}
            %th.acc-curr{:style => "border:1px black solid;padding-right:0.5%"} #{number_to_currency(so_list[:total_total_paid] , unit: "")}
            %th.acc-curr{:style => "border:1px black solid;padding-right:0.5%"} #{number_to_currency(so_list[:total_principal_cum_due] , unit: "")}
            %th.acc-curr{:style => "border:1px black solid;padding-right:0.5%"} #{number_to_currency(so_list[:total_cum_due] , unit: "")}
            %th.acc-curr{:style => "border:1px black solid;padding-right:0.5%"} #{number_to_currency(so_list[:total_amt_past_due] , unit: "")}
            %th.acc-curr{:style => "border:1px black solid;padding-right:0.5%"} #{so_list[:total_principal_rr]}
      %h5
        %small TOTAL FOR #{lp[:loan_product]}
      %table{:style => "font-size:x-small;margin-bottom:2%;width:100%"}
        %tr
          %th{:style => "border:1px black solid;padding-left:0.5%;width:16%"}
          %th{:style => "border:1px black solid;padding-left:0.5%;width:7%"} Num of loans
          %th{:style => "border:1px black solid;padding-left:0.5%;width:7%"} Loan Amount
          %th{:style => "border:1px black solid;padding-left:0.5%;width:7%"} Prin. Paid
          %th{:style => "border:1px black solid;padding-left:0.5%;width:7%"} Loan Bal.
          %th{:style => "border:1px black solid;padding-left:0.5%;width:7%"} Int. Amt.
          %th{:style => "border:1px black solid;padding-left:0.5%;width:7%"} Int. Paid
          %th{:style => "border:1px black solid;padding-left:0.5%;width:7%"} Int. Bal.
          %th{:style => "border:1px black solid;padding-left:0.5%;width:7%"} Total Paid
          %th{:style => "border:1px black solid;padding-left:0.5%;width:7%"} Cum. Due (p)
          %th{:style => "border:1px black solid;padding-left:0.5%;width:7%"} Cum Due
          %th{:style => "border:1px black solid;padding-left:0.5%;width:7%"} Amt. Past Due
          %th{:style => "border:1px black solid;padding-left:0.5%;width:7%"} RR %
        %tr
          %th{:style => "border:1px black solid;padding-left:0.5%"}
          %th{:style => "border:1px black solid;padding-left:0.5%"} #{lp[:total_num_members]} | #{lp[:total_num_loans]}
          %th.acc-curr{:style => "border:1px black solid;padding-right:0.5%"} #{number_to_currency(lp[:total_loan_amount] , unit: "")}
          %th.acc-curr{:style => "border:1px black solid;padding-right:0.5%"} #{number_to_currency(lp[:total_principal_paid] , unit: "")}
          %th.acc-curr{:style => "border:1px black solid;padding-right:0.5%"} #{number_to_currency(lp[:total_loan_balance] , unit: "")}
          %th.acc-curr{:style => "border:1px black solid;padding-right:0.5%"} #{number_to_currency(lp[:total_interest_amount] , unit: "")}
          %th.acc-curr{:style => "border:1px black solid;padding-right:0.5%"} #{number_to_currency(lp[:total_interest_paid] , unit: "")}
          %th.acc-curr{:style => "border:1px black solid;padding-right:0.5%"} #{number_to_currency(lp[:total_interest_balance] , unit: "")}
          %th.acc-curr{:style => "border:1px black solid;padding-right:0.5%"} #{number_to_currency(lp[:total_total_paid] , unit: "")}
          %th.acc-curr{:style => "border:1px black solid;padding-right:0.5%"} #{number_to_currency(lp[:total_principal_cum_due] , unit: "")}
          %th.acc-curr{:style => "border:1px black solid;padding-right:0.5%"} #{number_to_currency(lp[:total_cum_due] , unit: "")}
          %th.acc-curr{:style => "border:1px black solid;padding-right:0.5%"} #{number_to_currency(lp[:total_amt_past_due] , unit: "")}
          %th.acc-curr{:style => "border:1px black solid;padding-right:0.5%"} #{lp[:total_principal_rr]}

  %h5
    GRAND TOTAL
  %table{:style => "font-size:x-small;margin-bottom:2%;width:100%"}
    %tr
      %th{:style => "border:1px black solid;padding-left:0.5%;width:16%"}
      %th{:style => "border:1px black solid;padding-left:0.5%;width:7%"} Num of loans
      %th{:style => "border:1px black solid;padding-left:0.5%;width:7%"} Loan Amount
      %th{:style => "border:1px black solid;padding-left:0.5%;width:7%"} Prin. Paid
      %th{:style => "border:1px black solid;padding-left:0.5%;width:7%"} Loan Bal.
      %th{:style => "border:1px black solid;padding-left:0.5%;width:7%"} Int. Amt.
      %th{:style => "border:1px black solid;padding-left:0.5%;width:7%"} Int. Paid
      %th{:style => "border:1px black solid;padding-left:0.5%;width:7%"} Int. Bal.
      %th{:style => "border:1px black solid;padding-left:0.5%;width:7%"} Total Paid
      %th{:style => "border:1px black solid;padding-left:0.5%;width:7%"} Cum. Due (p)
      %th{:style => "border:1px black solid;padding-left:0.5%;width:7%"} Cum Due
      %th{:style => "border:1px black solid;padding-left:0.5%;width:7%"} Amt. Past Due
      %th{:style => "border:1px black solid;padding-left:0.5%;width:7%"} RR %
    %tr
      %th{:style => "border:1px black solid;padding-left:0.5%"}
      %th{:style => "border:1px black solid;padding-left:0.5%"} #{@data[:total_num_members]} | #{@data[:total_num_loans]}
      %th.acc-curr{:style => "border:1px black solid;padding-right:0.5%"} #{number_to_currency(@data[:total_loan_amount] , unit: "")}
      %th.acc-curr{:style => "border:1px black solid;padding-right:0.5%"} #{number_to_currency(@data[:total_principal_paid] , unit: "")}
      %th.acc-curr{:style => "border:1px black solid;padding-right:0.5%"} #{number_to_currency(@data[:total_loan_balance] , unit: "")}
      %th.acc-curr{:style => "border:1px black solid;padding-right:0.5%"} #{number_to_currency(@data[:total_interest_amount] , unit: "")}
      %th.acc-curr{:style => "border:1px black solid;padding-right:0.5%"} #{number_to_currency(@data[:total_interest_paid] , unit: "")}
      %th.acc-curr{:style => "border:1px black solid;padding-right:0.5%"} #{number_to_currency(@data[:total_interest_balance] , unit: "")}
      %th.acc-curr{:style => "border:1px black solid;padding-right:0.5%"} #{number_to_currency(@data[:total_total_paid] , unit: "")}
      %th.acc-curr{:style => "border:1px black solid;padding-right:0.5%"} #{number_to_currency(@data[:total_principal_cum_due] , unit: "")}
      %th.acc-curr{:style => "border:1px black solid;padding-right:0.5%"} #{number_to_currency(@data[:total_cum_due] , unit: "")}
      %th.acc-curr{:style => "border:1px black solid;padding-right:0.5%"} #{number_to_currency(@data[:total_amt_past_due] , unit: "")}
      %th.acc-curr{:style => "border:1px black solid;padding-right:0.5%"} #{@data[:total_principal_rr]}

- if @data[:detailed] == "true"
  - @data[:loan_products].each do |lp|
    - lp[:branches].each do |brnchs|
      %h5 
        %small #{lp[:loan_product]}
      - brnchs[:so_list].each do |so_list|
        %h6 
          %small #{so_list[:so]}
        %table{:style => "font-size:x-small;margin-bottom:2%;width:100%"}
          %tr
            %th{:style => "border:1px black solid;padding-left:0.5%;width:16%"} Member Name
            %th{:style => "border:1px black solid;padding-left:0.5%;width:7%"} Date Released
            %th{:style => "border:1px black solid;padding-left:0.5%;width:7%"} Loan Amount
            %th{:style => "border:1px black solid;padding-left:0.5%;width:7%"} Prin. Paid
            %th{:style => "border:1px black solid;padding-left:0.5%;width:7%"} Loan Bal.
            %th{:style => "border:1px black solid;padding-left:0.5%;width:7%"} Int. Amt.
            %th{:style => "border:1px black solid;padding-left:0.5%;width:7%"} Int. Paid
            %th{:style => "border:1px black solid;padding-left:0.5%;width:7%"} Int. Bal.
            %th{:style => "border:1px black solid;padding-left:0.5%;width:7%"} Total Paid
            %th{:style => "border:1px black solid;padding-left:0.5%;width:7%"} Cum. Due (p)
            %th{:style => "border:1px black solid;padding-left:0.5%;width:7%"} Cum Due
            %th{:style => "border:1px black solid;padding-left:0.5%;width:7%"} Amt. Past Due
            %th{:style => "border:1px black solid;padding-left:0.5%;width:7%"} RR %
          - so_list[:centers].each do |centers|
            - centers[:loans].each do |loans|
              %tr
                %td{:style => "border:1px black solid;padding-left:0.5%"} #{loans[:name]}
                %td{:style => "border:1px black solid;padding-left:0.5%"} #{loans[:date_released]}
                %td.acc-curr{:style => "border:1px black solid;padding-right:0.5%"} #{number_to_currency(loans[:loan_amount] , unit: "")}
                %td.acc-curr{:style => "border:1px black solid;padding-right:0.5%"} #{number_to_currency(loans[:principal_paid] , unit: "")}
                %td.acc-curr{:style => "border:1px black solid;padding-right:0.5%"} #{number_to_currency(loans[:loan_balance] , unit: "")}
                %td.acc-curr{:style => "border:1px black solid;padding-right:0.5%"} #{number_to_currency(loans[:interest_amount] , unit: "")}
                %td.acc-curr{:style => "border:1px black solid;padding-right:0.5%"} #{number_to_currency(loans[:interest_paid] , unit: "")}
                %td.acc-curr{:style => "border:1px black solid;padding-right:0.5%"} #{number_to_currency(loans[:interest_balance] , unit: "")}
                %td.acc-curr{:style => "border:1px black solid;padding-right:0.5%"} #{number_to_currency(loans[:total_paid] , unit: "")}
                %td.acc-curr{:style => "border:1px black solid;padding-right:0.5%"} #{number_to_currency(loans[:principal_cum_due] , unit: "")}
                %td.acc-curr{:style => "border:1px black solid;padding-right:0.5%"} #{number_to_currency(loans[:cum_due] , unit: "")}
                %td.acc-curr{:style => "border:1px black solid;padding-right:0.5%"} #{number_to_currency(loans[:amt_past_due] , unit: "")}
                %td.acc-curr{:style => "border:1px black solid;padding-right:0.5%"} #{centers[:principal_rr]}
            %tr
              %th{:style => "border:1px black solid;padding-left:0.5%"} TOTAL #{lp[:loan_product]} FOR #{centers[:name]}
              %th{:style => "border:1px black solid;padding-left:0.5%"} #{centers[:num_members]} | #{centers[:num_loans]}
              %th.acc-curr{:style => "border:1px black solid;padding-right:0.5%"} #{number_to_currency(centers[:loan_amount] , unit: "")}
              %th.acc-curr{:style => "border:1px black solid;padding-right:0.5%"} #{number_to_currency(centers[:principal_paid] , unit: "")}
              %th.acc-curr{:style => "border:1px black solid;padding-right:0.5%"} #{number_to_currency(centers[:loan_balance] , unit: "")}
              %th.acc-curr{:style => "border:1px black solid;padding-right:0.5%"} #{number_to_currency(centers[:interest_amount] , unit: "")}
              %th.acc-curr{:style => "border:1px black solid;padding-right:0.5%"} #{number_to_currency(centers[:interest_paid] , unit: "")}
              %th.acc-curr{:style => "border:1px black solid;padding-right:0.5%"} #{number_to_currency(centers[:interest_balance] , unit: "")}
              %th.acc-curr{:style => "border:1px black solid;padding-right:0.5%"} #{number_to_currency(centers[:total_paid] , unit: "")}
              %th.acc-curr{:style => "border:1px black solid;padding-right:0.5%"} #{number_to_currency(centers[:principal_cum_due] , unit: "")}
              %th.acc-curr{:style => "border:1px black solid;padding-right:0.5%"} #{number_to_currency(centers[:cum_due] , unit: "")}
              %th.acc-curr{:style => "border:1px black solid;padding-right:0.5%"} #{number_to_currency(centers[:amt_past_due] , unit: "")}
              %th.acc-curr{:style => "border:1px black solid;padding-right:0.5%"} #{centers[:principal_rr]}

    %h5
      %small TOTAL FOR #{lp[:loan_product]}
    %table{:style => "font-size:x-small;margin-bottom:2%;width:100%"}
      %tr
        %th{:style => "border:1px black solid;padding-left:0.5%;width:16%"}
        %th{:style => "border:1px black solid;padding-left:0.5%;width:7%"} Num of loans
        %th{:style => "border:1px black solid;padding-left:0.5%;width:7%"} Loan Amount
        %th{:style => "border:1px black solid;padding-left:0.5%;width:7%"} Prin. Paid
        %th{:style => "border:1px black solid;padding-left:0.5%;width:7%"} Loan Bal.
        %th{:style => "border:1px black solid;padding-left:0.5%;width:7%"} Int. Amt.
        %th{:style => "border:1px black solid;padding-left:0.5%;width:7%"} Int. Paid
        %th{:style => "border:1px black solid;padding-left:0.5%;width:7%"} Int. Bal.
        %th{:style => "border:1px black solid;padding-left:0.5%;width:7%"} Total Paid
        %th{:style => "border:1px black solid;padding-left:0.5%;width:7%"} Cum. Due (p)
        %th{:style => "border:1px black solid;padding-left:0.5%;width:7%"} Cum Due
        %th{:style => "border:1px black solid;padding-left:0.5%;width:7%"} Amt. Past Due
        %th{:style => "border:1px black solid;padding-left:0.5%;width:7%"} RR %
      %tr
        %th{:style => "border:1px black solid;padding-left:0.5%"}
        %th{:style => "border:1px black solid;padding-left:0.5%"} #{lp[:total_num_members]} | #{lp[:total_num_loans]}
        %th.acc-curr{:style => "border:1px black solid;padding-right:0.5%"} #{number_to_currency(lp[:total_loan_amount] , unit: "")}
        %th.acc-curr{:style => "border:1px black solid;padding-right:0.5%"} #{number_to_currency(lp[:total_principal_paid] , unit: "")}
        %th.acc-curr{:style => "border:1px black solid;padding-right:0.5%"} #{number_to_currency(lp[:total_loan_balance] , unit: "")}
        %th.acc-curr{:style => "border:1px black solid;padding-right:0.5%"} #{number_to_currency(lp[:total_interest_amount] , unit: "")}
        %th.acc-curr{:style => "border:1px black solid;padding-right:0.5%"} #{number_to_currency(lp[:total_interest_paid] , unit: "")}
        %th.acc-curr{:style => "border:1px black solid;padding-right:0.5%"} #{number_to_currency(lp[:total_interest_balance] , unit: "")}
        %th.acc-curr{:style => "border:1px black solid;padding-right:0.5%"} #{number_to_currency(lp[:total_total_paid] , unit: "")}
        %th.acc-curr{:style => "border:1px black solid;padding-right:0.5%"} #{number_to_currency(lp[:total_principal_cum_due] , unit: "")}
        %th.acc-curr{:style => "border:1px black solid;padding-right:0.5%"} #{number_to_currency(lp[:total_cum_due] , unit: "")}
        %th.acc-curr{:style => "border:1px black solid;padding-right:0.5%"} #{number_to_currency(lp[:total_amt_past_due] , unit: "")}
        %th.acc-curr{:style => "border:1px black solid;padding-right:0.5%"} #{lp[:total_principal_rr]}

  %h5
    GRAND TOTAL
  %table{:style => "font-size:x-small;margin-bottom:2%;width:100%"}
    %tr
      %th{:style => "border:1px black solid;padding-left:0.5%;width:16%"}
      %th{:style => "border:1px black solid;padding-left:0.5%;width:7%"} Num of loans
      %th{:style => "border:1px black solid;padding-left:0.5%;width:7%"} Loan Amount
      %th{:style => "border:1px black solid;padding-left:0.5%;width:7%"} Prin. Paid
      %th{:style => "border:1px black solid;padding-left:0.5%;width:7%"} Loan Bal.
      %th{:style => "border:1px black solid;padding-left:0.5%;width:7%"} Int. Amt.
      %th{:style => "border:1px black solid;padding-left:0.5%;width:7%"} Int. Paid
      %th{:style => "border:1px black solid;padding-left:0.5%;width:7%"} Int. Bal.
      %th{:style => "border:1px black solid;padding-left:0.5%;width:7%"} Total Paid
      %th{:style => "border:1px black solid;padding-left:0.5%;width:7%"} Cum. Due (p)
      %th{:style => "border:1px black solid;padding-left:0.5%;width:7%"} Cum Due
      %th{:style => "border:1px black solid;padding-left:0.5%;width:7%"} Amt. Past Due
      %th{:style => "border:1px black solid;padding-left:0.5%;width:7%"} RR %
    %tr
      %th{:style => "border:1px black solid;padding-left:0.5%"}
      %th{:style => "border:1px black solid;padding-left:0.5%"} #{@data[:total_num_members]} | #{@data[:total_num_loans]}
      %th.acc-curr{:style => "border:1px black solid;padding-right:0.5%"} #{number_to_currency(@data[:total_loan_amount] , unit: "")}
      %th.acc-curr{:style => "border:1px black solid;padding-right:0.5%"} #{number_to_currency(@data[:total_principal_paid] , unit: "")}
      %th.acc-curr{:style => "border:1px black solid;padding-right:0.5%"} #{number_to_currency(@data[:total_loan_balance] , unit: "")}
      %th.acc-curr{:style => "border:1px black solid;padding-right:0.5%"} #{number_to_currency(@data[:total_interest_amount] , unit: "")}
      %th.acc-curr{:style => "border:1px black solid;padding-right:0.5%"} #{number_to_currency(@data[:total_interest_paid] , unit: "")}
      %th.acc-curr{:style => "border:1px black solid;padding-right:0.5%"} #{number_to_currency(@data[:total_interest_balance] , unit: "")}
      %th.acc-curr{:style => "border:1px black solid;padding-right:0.5%"} #{number_to_currency(@data[:total_total_paid] , unit: "")}
      %th.acc-curr{:style => "border:1px black solid;padding-right:0.5%"} #{number_to_currency(@data[:total_principal_cum_due] , unit: "")}
      %th.acc-curr{:style => "border:1px black solid;padding-right:0.5%"} #{number_to_currency(@data[:total_cum_due] , unit: "")}
      %th.acc-curr{:style => "border:1px black solid;padding-right:0.5%"} #{number_to_currency(@data[:total_amt_past_due] , unit: "")}
      %th.acc-curr{:style => "border:1px black solid;padding-right:0.5%"} #{@data[:total_principal_rr]}


