%section.content-header
  %h1
    Members Resigned from Microinsurance

%section.content
  .box.box-default
    .box-body
      - if @members.size > 0
        %table.table.table-bordered
          %thead
            %tr
              %th Member
              %th Date Resigned
              - InsuranceType.all.each do |insurance_type|
                %th.acc-curr #{insurance_type.code} (Beg)
                %th.acc-curr #{insurance_type.code} (Amount)
                %th.acc-curr #{insurance_type.code} (Ending)
          %tbody
            - @members.each do |member|
              %tr
                %td
                  = link_to member_path(member), target: '_blank' do
                    #{member.full_name}
                %td
                  #{member.insurance_date_resigned}
                - InsuranceType.all.each do |insurance_type|
                  - insurance_account = member.insurance_accounts.where(insurance_type_id: insurance_type.id).first
                  - if insurance_account
                    - iat = insurance_account.insurance_account_transactions.where(for_resignation: true).last
                    - if iat
                      %td.curr
                        = number_to_currency(iat.beginning_balance, unit: "")
                      %td.curr
                        = number_to_currency(iat.amount, unit: "")
                      %td.curr
                        = number_to_currency(iat.ending_balance, unit: "")
                    - else
                      %td.curr
                        = number_to_currency(0, unit: "")
                      %td.curr
                        = number_to_currency(0, unit: "")
                      %td.curr
                        = number_to_currency(0, unit: "")
                  - else
                    %td.curr
                      = number_to_currency(0, unit: "")
                    %td.curr
                      = number_to_currency(0, unit: "")
                    %td.curr
                      = number_to_currency(0, unit: "")
      - else
        No members found
