%section.content-header
  %h1 
    Seriatim Report
%section.content
  #filter
    %table.table.table-bordered.table-responsive
      %tr
        %th
          %label Branch
          = select_tag :branch_id, options_from_collection_for_select(@branches, :id, :name, @branch.try(:id)), class: "form-control select-select2", id: "branch-select", prompt: "-- SELECT --"
        %th
          %label As Of:
          = text_field_tag :as_of, Time.now.strftime("%Y-%m-%d"), class: "form-control datepick", id: "as-of"    
  %h3
    Seriatim Report Excel Export Tools
  .box
    .box-body
      / = link_to reports_seriatim_report_path, target: '_blank' do
      = link_to "#", id: 'download-btn' do  
        .info-box
          %span.info-box-icon.bg-blue
            %i.fa.fa-download
          .info-box-content
            %span.info-box-text
              Export Seriatim Report
            %span.info-box-number
              %small
                Excel format for Seriatim Report

= javascript_include_tag "reports/Reports.SeriatimReport"

:javascript
  $(document).ready(function() {
    Reports.SeriatimReport.init();
  });