%section.content-header
  %h1
    SOA Funds

%section.content
  = render partial: "filter_soa_funds"
  .box
    .box-body
      #report-content
        .message

= render partial: "reports/templates/soa_funds"
#parameters{ data: { account_codes: Settings.account_codes } }
= javascript_include_tag "reports/Reports.SoaFunds"
:javascript
  $(document).ready(function() {
    Reports.SoaFunds.init();
  });
