%section.content-header
  %h1
    Summart of Certificates And Policies
    %small
      Report as of #{Time.now.localtime.strftime("%b %d, %Y")}
  %ol.breadcrumb
    %li
      = link_to root_path do
        .fa.fa-arrow-left
        Back to Dashboard
%section.content
  %table.table.table-bordered.table-responsive
    %tr
      %th
        %label Branch
        = select_tag :branch_id, options_from_collection_for_select(@branches, :id, :name, @branch.try(:id)), class: "form-control select-select2", id: "branch-select", prompt: "-- SELECT --"
      %th
        %label Plan Type
        = select_tag :plan, options_for_select(["Less than 3 months", "3 months but less than 1 year", "1 year but less than 2 years", "2 years but less than 3 years", "3 years or more"], @plan), class: "form-control select-select2", id: 'plan-type-select', prompt: "-- SELECT --"    
      %th
        %label As Of
        %br
        = text_field_tag :as_of, nil, class: "form-control datepick", id: "as-of"
      %th
        %label Actions
        %br
        = link_to "#", class: 'btn btn-primary', id: 'search-btn' do
          .fa.fa-search
          Generate
        / = link_to "#", class: 'btn btn-info', id: 'download-btn' do
        /   .fa.fa-download
        /   Download
  .ui.grid
    .sixteen.wide.column
      #reports-summary-of-certificates-and-policies-section
        %p
          Select parameters from filter to generate report
  %hr

= render partial: "reports/templates/summary_of_certificates_and_policies"
= javascript_include_tag "summary_of_certificates_and_policies"