%table{:style => "font-size: x-small;margin-bottom:3%;wiidth: 95%"}
  %thead
    %tr
      %td{:colspan => 4}
        %table{:style => "font-wight: bold"}
          %tr
            
            %td
              #{Settings.company}
          %tr
            %td
              #{Settings.company_address}
          %tr
            %td
              VAT Registration Tin Number:#{Settings.tin_number}
          %tr
            %td LOAN RELEASE
          %tr
            %td
              As of : #{(@start_date.to_date).strftime("%m/%d/%y")} - #{(@end_date.to_date).strftime("%m/%d/%y")}
          %tr
            %td
              #{@branch}
 
%table{:style => "font-size:x-small;margin-bottom:2%;width:100%"}
  %thead
    %tr
      %th{:style => "border:1px black solid;padding-left:.5%;width:5%"} 
      %th{:style => "border:1px black solid;padding-left:.5%;width:30%"}  Member
      %th{:style => "border:1px black solid;padding-left:.5%;width:15%"}  Date Released
      %th{:style => "border:1px black solid;padding-left:.5%;width:20%"}  Loan Product
      %th{:style => "border:1px black solid;padding-left:.5%;width:5%"}  Cycle
      %th.accounting-curr{:style => "border:1px black solid;padding-right:.5%;width:25%"}Loan Amount
  %tbody
    - @loans.joins(:member).order("members.last_name ASC").each_with_index do |loan, i|
      %tr
        %td{:style => "border:1px black solid;padding-left:.5%"} 
          #{i+1}
        %td{:style => "border:1px black solid;padding-left:.5%"} 
          #{loan.member.full_name}
        %td{:style => "border:1px black solid;padding-left:.5%"} 
          #{loan.date_approved.strftime("%b %d, %Y")}
        %td{:style => "border:1px black solid;padding-left:.5%"} 
          #{loan.loan_product}
        %td{:style => "border:1px black solid;padding-left:.5%"} 
          #{loan.loan_cycle_count}
        %td.curr{:style => "border:1px black solid;padding-right:.5%"} 
          #{number_to_currency(loan.amount, unit: "P")}

    %tr
      %th{:colspan => 3 , :style => "border:1px black solid;padding-left:.5%"} Total Loan releases : #{@loans.count}
      %th.acc-curr{:colspan => 3 , :style => "border:1px black solid;padding-right:.5%"} Total Loan Release Amount: #{number_to_currency(@loans.sum(:amount), unit: "P")}
