%section.content-header
  %h1
    Summary of Loan Release
  %ol.breadcrumb
    %li
      = link_to print_summary_of_loan_release_path, target: "_blank" do
        .fa.fa-download
        Download as Excel
    %li
      = link_to "#", target: "_blank" do
        .fa.fa-download
        Download as PDF
    %li
      = link_to "#", target: "_blank" do
        .fa.fa-print
        Print
%section.content
  = form_tag reports_summary_of_loan_release_path, html: { novalidate: true }, method: "GET", defaults: { wrapper_html: { class: 'form-group' }, input_html: { class: 'form-control simple_form' } } do
    %table.table.table-responsive.table-bordered
      %tr
        %th
          %label Identification
          = text_field_tag :q, @q, placeholder: "PN/Member Name", class: "form-control"
        %th
          %label Loan Product
          = select_tag :loan_product_id, options_from_collection_for_select(LoanProduct.all, :id, :name, @loan_product.try(:id)), class: "form-control select-select2", prompt: "-- SELECT --"
        %th
          %label Start Date
          = text_field_tag :start_date, @start_date, class: 'form-control datepick', id: 'start-date'
        %th
          %label End Date
          = text_field_tag :end_date, @end_date, class: "form-control datepick", id: "end-date"
        %th
          %label Actions
          %br
          .ui.small.buttons
            = button_tag :submit, class: 'btn btn-primary' do
              .fa.fa-search
              Search

            = link_to summary_of_loan_release_pdf_path start_date: @start_date , end_date: @end_date, loan_product_id: @loan_product_id , target: "_blank" do
              .fa.fa-print
              Print to PDF

  .ui.grey.segment
    .row
      .col-md-6
        %h3
          Total Loan Releases: #{@loans.count}
      .col-md-6
        .pull-right
          %h3
            Total Loan Release Amount: #{number_to_currency(@loans.sum(:amount), unit: "P")}
  %table.table.table-bordered.table-responsive
    %thead
      %tr
        %th
        %th Member
        %th Date Released
        %th Loan Product
        %th Cycle
        %th.accounting-curr Loan Amount
    %tbody
      - @loans.joins(:member).order("members.last_name ASC").each_with_index do |loan, i|
        %tr
          %td
            #{i+1}
          %td
            #{link_to loan.member.full_name, member_path(loan.member), target: '_blank'}
          %td
            #{loan.date_approved.strftime("%b %d, %Y")}
          %td
            #{loan.loan_product}
          %td
            #{loan.loan_cycle_count}
          %td.curr
            #{number_to_currency(loan.amount, unit: "P")}
