%section.content-header
  %h1
    Transferred Members

%section.content
  .box
    .box-body
      = button_tag :generate, id: "btn-generate", class: "btn btn-primary" do
        .fa.fa-refresh
        Generate
      #records-section

:javascript
  $(document).ready(function() {
    var $btnGenerate  = $("#btn-generate");
    var urlData       = "/api/v1/reports/transferred_members";

    $btnGenerate.on("click", function() {
      $btnGenerate.prop("disabled", true);

      $.ajax({
        url: urlData,
        method: 'GET',
        dataType: 'json',
        success: function(response) {
          $btnGenerate.prop("disabled", false);

          data = response.data;

          var tableString = "<table class='table table-bordered'>";
          tableString     +=  "<tr>";
          tableString     +=  "<th width='5%'></th>";
          tableString     +=  "<th>Member</th><th>Branch</th><th>Center</th><th>Savings Type</th><th class='acc-curr'>Amount</th><th>Loan Product</th><th class='acc-curr'>Original Amount</th><th class='acc-curr'>Principal</th><th class='acc-curr'>Interest</th><th>Date Released</th><th>Maturity Date</th>";
          tableString     +=  "</tr>";

          for(var i = 0; i < data.length; i++) {
            var numRows   = data[i]['member']['num_rows'];

            for(var j = 0; j < numRows; j++) {
              tableString += "<tr>";
              if(j == 0) {
                tableString += "<td>" + "" + (i + 1) + "</td>";
                tableString +=  "<td>" + data[i]['member']['full_name'] + "</td>";
                tableString +=  "<td>" + data[i]['member']['branch'] + "</td>";
                tableString +=  "<td>" + data[i]['member']['center'] + "</td>";
              } else {
                tableString +=  "<td></td>";
                tableString +=  "<td></td>";
                tableString +=  "<td></td>";
                tableString +=  "<td></td>";
              }

              if(j < data[i]['member']['savings'].length) {
                tableString +=  "<td>" + data[i]['member']['savings'][j]['savings_type']  + "</td>";
                tableString +=  "<td class='curr'>" + data[i]['member']['savings'][j]['amount']  + "</td>";
              } else {
                tableString +=  "<td></td>";
                tableString +=  "<td></td>";
              }

              if(j < data[i]['member']['loans'].length) {
                tableString +=  "<td>" + data[i]['member']['loans'][j]['loan_product']  + "</td>";
                tableString +=  "<td class='curr'>" + data[i]['member']['loans'][j]['original_amount']  + "</td>";
                tableString +=  "<td class='curr'>" + data[i]['member']['loans'][j]['principal']  + "</td>";
                tableString +=  "<td class='curr'>" + data[i]['member']['loans'][j]['interest']  + "</td>";
                tableString +=  "<td>" + data[i]['member']['loans'][j]['date_released']  + "</td>";
                tableString +=  "<td>" + data[i]['member']['loans'][j]['maturity_date']  + "</td>";
              } else {
                tableString +=  "<td></td>";
                tableString +=  "<td></td>";
                tableString +=  "<td></td>";
                tableString +=  "<td></td>";
                tableString +=  "<td></td>";
              }
              tableString   += "</tr>";
            }
          }

          tableString +=  "</table>";

          $("#records-section").html(tableString);
          $(".curr").each(function() {
            var x = numberWithCommas(parseFloat($(this).html()));
            $(this).html(x);
          });
        },
        error: function(response) {
          $btnGenerate.prop("disabled", false);
        }
      });
    });
  });
