%section.content-header
  %h1 
    Validations Report
%section.content
  #filter
    %table.table.table-bordered.table-responsive
      %tr
        %th
          %label Branch
          = select_tag :branch_id, options_from_collection_for_select(@branches, :id, :name, @branch.try(:id)), class: "form-control select-select2", id: "branch-select", prompt: "-- SELECT --"
        %th
          %label Status
          = select_tag :status, options_for_select(InsuranceAccountValidation::STATUSES, @status), class: "form-control select-select2", prompt: "-- SELECT --", id: "status"
        %th
          %label Start Date:
          = text_field_tag :start_date, ApplicationHelper.current_working_date.strftime("%Y-%m-%d"), class: "form-control datepick", id: "start-date"
        %th
          %label End Date:
          = text_field_tag :end_date, ApplicationHelper.current_working_date.strftime("%Y-%m-%d"), class: "form-control datepick", id: "end-date"      
  %h3
    Validations Report Excel Export Tools
  .box
    .box-body
      = link_to "#", id: 'download-btn' do  
        .info-box
          %span.info-box-icon.bg-blue
            %i.fa.fa-download
          .info-box-content
            %span.info-box-text
              Export Validations Report
            %span.info-box-number
              %small
                Excel format for Validations Report

= javascript_include_tag "reports/Reports.ValidationsReport"

:javascript
  $(document).ready(function() {
    Reports.ValidationsReport.init();
  });