%section.content-header
  %h1
    Withdrawals
%section.content
  #filter
    = form_tag withdrawals_path, html: { novalidate: true }, method: "GET" do
      %table.table.table-bordered.table-responsive
        %tr
          %th
            %label Branch
            = select_tag :branch_id, options_from_collection_for_select(@branches, :id, :name), class: "form-control select-select2", prompt: "-- SELECT --"
          %th
            %label Start Date
            = text_field_tag :start_date, @start_date, class: "form-control datepick", id: "filter-start-date"
          %th
            %label End Date
            = text_field_tag :end_date, @end_date, class: "form-control datepick", id: "filter-end-date"
          %th
            %label Actions
            %br
            .ui.buttons
              = button_tag :filter, class: 'btn btn-info' do
                .fa.fa-search
                Search
              = link_to "#", id: 'btn-print', class: 'btn btn-primary' do
                .fa.fa-download
                Excel
  .box
    .box-body
      %table.ui.green.small.table
        %thead
          %tr
            %th Name
            %th Transaction Type
            %th Transaction Type
            %th Date
            %th Amount
        %tbody
          - @members.order("last_name ASC").each do |m|
            - if m.insurance_accounts.joins(:insurance_account_transactions).where("insurance_account_transactions.transaction_type = ?", "withdraw").count > 0
              %tr
                %td
                  = link_to member_path(m), target: "_blank" do
                    #{m.full_name_titleize}
                - m.insurance_accounts.each do |insurance_account|
                  - insurance_account.insurance_account_transactions.where("transaction_type = ?", "withdraw").each do |t|
                    %tr
                      %td
                      %td 
                        #{insurance_account.insurance_type}
                      %td
                        #{t.transaction_type}
                      %td
                        #{t.transacted_at.strftime('%b %d, %Y')}
                      %td
                        #{t.amount}
        %thead
          %tr
            %th Total
            %th
            %th
            %th
            %th

= javascript_include_tag "reports/Reports.Withdrawals"

:javascript
  $(document).ready(function() {
    Reports.Withdrawals.init();
  });
