%table{:style => "font-size: x-small;margin-bottom:3%;width: 95%"}
  %thead
    %tr
      %td{:colspan => 4}
        %table{:style => "font-wight: bold"}
          %tr
            
            %td
              #{Settings.company}
          %tr
            %td
              #{Settings.company_address}
          %tr
            %td
              VAT Registration Tin Number:#{Settings.tin_number}
          %tr
            %td
              X WEEKS TO PAY REPORT
          %tr
            %td
              As of : #{(@data[:as_of].to_date).strftime("%m/%d/%y")}
          %tr 
            %td
              #{@data[:num_weeks]} Weeks From Now : #{@data[:x_weeks_from_now]}

- @data[:loan_products].each do |loan_products|
  %h4 #{loan_products[:code]}
  - loan_products[:centers].each do |centers|
    %h4
      %small #{centers[:center_name]}

      %table{:style => "font-size:x-small;margin-bottom:2%;width:100%"}
        %tr
          %th{:style => "border:1px black solid;padding-left:.2%;width:2%"}
          %th{:style => "border:1px black solid;padding-left:1%;width:10%"} ID NUMBER
          %th{:style => "border:1px black solid;padding-left:1%;width:23%"} MEMBER
          %th{:style => "border:1px black solid;padding-left:1%;width:10%"} PN NUMBER
          %th{:style => "border:1px black solid;padding-left:1%;width:11%"} LOAN AMOUNT
          %th{:style => "border:1px black solid;padding-left:1%;width:11%"} PRINCIPAL BALANCE
          %th{:style => "border:1px black solid;padding-left:1%;width:11%"} INTEREST BALANCE
          %th{:style => "border:1px black solid;padding-left:1%;width:11%"} TOTAL BALANCE
          %th{:style => "border:1px black solid;padding-left:1%;width:11%"} MATURITY DATE
          
        - centers[:loans].each do |c_loans|
          %tr
            %td{:style => "border:1px black solid"} #{c_loans[:index]}
            %td{:style => "border:1px black solid;padding-left:1%"} #{c_loans[:member_identification_number]}
            %td{:style => "border:1px black solid;padding-left:1%"} #{c_loans[:member_name]}
            %td{:style => "border:1px black solid;padding-left:1%"} #{c_loans[:pn_number]}
            %td.acc-curr{:style => "border:1px black solid;padding-right:1%"} #{number_to_currency(c_loans[:loan_amount] , unit:"")}
            %td.acc-curr{:style => "border:1px black solid;padding-right:1%"} #{number_to_currency(c_loans[:principal_balance] , unit:"")}
            %td.acc-curr{:style => "border:1px black solid;padding-right:1%"} #{number_to_currency(c_loans[:interest_balance] , unit:"")}
            %td.acc-curr{:style => "border:1px black solid;padding-right:1%"} #{number_to_currency(c_loans[:total_balance] , unit: "")}
            %td{:style => "border:1px black solid;padding-left:1%"} #{c_loans[:maturity_date]}

        %tr
          %th{:style => "border:1px black solid"} 
          %th{:style => "border:1px black solid;padding-left:1%"} TOTAL
          %th{:style => "border:1px black solid;padding-left:1%"}
          %th{:style => "border:1px black solid;padding-left:1%"}
          %th.acc-curr{:style => "border:1px black solid;padding-right:1%"} #{number_to_currency(centers[:total_loan_amount] , unit:"")}
          %th.acc-curr{:style => "border:1px black solid;padding-right:1%"} #{number_to_currency(centers[:total_principal_balance] , unit:"")}
          %th.acc-curr{:style => "border:1px black solid;padding-right:1%"} #{number_to_currency(centers[:total_interest_balance] , unit:"")}
          %th.acc-curr{:style => "border:1px black solid;padding-right:1%"} #{number_to_currency(centers[:total_balance] , unit: "")}
          %th{:style => "border:1px black solid;padding-left:1%"}

%table{:style => "font-size:x-small;margin-bottom:2%;width:100%"}
  %tr
    %th{:style => "border:1px black solid;padding-left:.2%;width:2%"}
    %th{:style => "border:1px black solid;padding-left:1%;width:10%"}
    %th{:style => "border:1px black solid;padding-left:1%;width:23%"} 
    %th{:style => "border:1px black solid;padding-left:1%;width:10%"} 
    %th{:style => "border:1px black solid;padding-left:1%;width:11%"} LOAN AMOUNT
    %th{:style => "border:1px black solid;padding-left:1%;width:11%"} PRINCIPAL BALANCE
    %th{:style => "border:1px black solid;padding-left:1%;width:11%"} INTEREST BALANCE
    %th{:style => "border:1px black solid;padding-left:1%;width:11%"} TOTAL BALANCE
    %th{:style => "border:1px black solid;padding-left:1%;width:11%"} 
  %tr
    %th{:style => "border:1px black solid"} 
    %th{:style => "border:1px black solid;padding-left:1%"} 
    %th{:style => "border:1px black solid;padding-left:1%"} GRAND TOTAL
    %th{:style => "border:1px black solid;padding-left:1%"}
    %th.acc-curr{:style => "border:1px black solid;padding-right:1%"} #{number_to_currency(@data[:grandtotalloan] , unit:"")}
    %th.acc-curr{:style => "border:1px black solid;padding-right:1%"} #{number_to_currency(@data[:grandtotalprincipalbalance] , unit:"")}
    %th.acc-curr{:style => "border:1px black solid;padding-right:1%"} #{number_to_currency(@data[:grandtotalinterestbalance] , unit:"")}
    %th.acc-curr{:style => "border:1px black solid;padding-right:1%"} #{number_to_currency(@data[:grandtotal] , unit: "")}
    %th{:style => "border:1px black solid;padding-left:1%"}

