%section.content-header
  %h1
    X Weeks to Pay
  
  %ol.breadcrumb

%section.content
  .box.box-info
    .box-body
      .row
        .col-md-3
          %label
            Number of Weeks
          = text_field_tag :num_weeks, '', class: 'form-control', id: 'num-weeks', placeholder: "i.e. 4"
        .col-md-6
          %label Loan Product
          = select_tag :loan_product_id, options_from_collection_for_select(LoanProduct.all, :id, :name, @loan_product.try(:id)), id: 'loan-product-id', class: "form-control select-select2", prompt: "-- SELECT --"
        .col-md-3
          %label
            Actions
          %br
          = button_tag id: 'btn-generate', class: "btn btn-primary btn-block" do
            .fa.fa-refresh
            Generate
          %br
          =  link_to "#", class: 'btn btn-info', id: 'print-btn' do
            .fa.fa-print
            PRINT PDF



  .box.box-success
    .box-body
      #report-section

= render partial: "reports/templates/x_weeks_to_pay_report"
= javascript_include_tag "reports/Reports.XWeeksToPay"
:javascript
  $(document).ready(function() {
    Reports.XWeeksToPay.init(); 
  });
