- if reinstatement.pending?
  .ui.grey.segment
    = link_to edit_reinstatement_path(reinstatement), class: "btn btn-app" do
      .fa.fa-pencil
      Edit
    = link_to reinstatement_path(reinstatement), class: "btn btn-app bg-red", method: :Delete, data: { confirm: "Are you sure?" } do
      .fa.fa-times
      Delete
    - if role == "OM" || role == "MIS"
      = link_to "#", class: "btn btn-app bg-green", id: "btn-approve" do
        .fa.fa-check
        Approve