= render partial: "add_member_actions", locals: { reinstatement: @reinstatement }
= simple_form_for reinstatement, defaults: { wrapper_html: { class: 'form-group' }, input_html: { class: 'form-control' } }, html: { novalidate: true } do |f|
  %table.ui.green.table.transaction-table
    %thead
      %tr
        %th{width: "25%"} Member
        %th{width: "25%"} Old Recognition Date
        %th{width: "25%"} Reinstatement Date
        %th Actions
    %tbody
      = f.simple_fields_for :reinstatement_records do |ff|
        %tr
          %td #{link_to ff.object.member.full_name, member_path(ff.object.member), target: "_blank"}
          %td
            = ff.input :old_recognition_date, as: :string, input_html: { class: "form-control datepick" }, label: false
          %td
            = ff.input :reinstatement_date, as: :string, input_html: { class: "form-control datepick" }, label: false  
          %td
            = link_to "#", class: "btn btn-danger btn-delete", data: { reinstatement_record_id: ff.object.id } do
              .fa.fa-times   
              Delete 
  %hr
  .form-actions
    = button_tag(type: "submit", class: "btn btn-primary") do
      .fa.fa-check
      Save
    = link_to reinstatement_path(@reinstatement), class: "btn btn-danger" do
      .fa.fa-times
      Cancel

#parameters{data: {reinstatement_id: @reinstatement.id}}
= render partial: "shared/loading_modal"

= javascript_include_tag "ReinstatementForm"
:javascript
  $(document).ready(function() {
    ReinstatementForm.init();
  });
