.table-responsive.no-padding
  %table.table-bordered.table{:style => "margin-top: 10px;"}
    %thead
      %tr
        %th Date Prepared
        %th Branch
        %th Status
        %th Prepared By
    %tbody
      - reinstatements.each do |reinstatement|
        %tr{class: "#{reinstatement.status == 'pending' || reinstatement.status == 'reversed' ? 'negative' : 'positive'} clickable", data: { transaction_id: "#{reinstatement.id}" } }
          %td.date-prepared= reinstatement.date_prepared
          %td.branch= reinstatement.branch
          %td.status= reinstatement.status
          %td.prepared-by= reinstatement.prepared_by