%table.ui.green.table.transaction-table
  %thead
    %tr
      %th{width: "2%"}
      %th{width: "20%"} Member
      %th Reinstatement Date
      %th Old Recognition Date
  %tbody
    - reinstatement.reinstatement_records.each_with_index do |reinstatement_record, i|
      %tr
        %td #{i + 1}
        %td
          = link_to "#{reinstatement_record.member.full_name}", member_path(reinstatement_record.member), target: "_blank"
        %td
          #{reinstatement_record.reinstatement_date}
        %td
          #{reinstatement_record.old_recognition_date}