%section.content-header
  %h1
    Reinstatement Form
    %small
      #{@reinstatement.date_prepared}
  %ol.breadcrumb
    %li
      #{link_to "Reinstatements", reinstatements_path}
    %li
      #{link_to "Show", reinstatement_path(@reinstatement)}
    %li
      Edit
%section.content
  = render partial: "form", locals: { reinstatement: @reinstatement }
