%section.content-header
  %h1 Reinstatements
  %ol.breadcrumb
    %li{:style => "margin-top: -10px;"}
      = link_to "#", id: "btn-new-reinstatement", class: 'btn btn-primary bg-blue', style: 'color: #fff;' do
        .fa.fa-plus
        New Reinstatement
%section.content
  .errors_template
  = render partial: "reinstatements/filter"
  - if @reinstatements.size > 0
    = render partial: "reinstatements/list", locals: { reinstatements: @reinstatements }
    = paginate @reinstatements
  - else
    No reinstatements found.

= render partial: "generate_reinstatement_modal"
= render partial: "shared/errors_template"
= render partial: "shared/success_template"
= render partial: "shared/loading_modal"

= javascript_include_tag "Reinstatement"
= javascript_include_tag "ui"
/ = javascript_include_tag "loan_insurances"

:javascript
  $(document).ready(function() {
    Reinstatement.init();
  });