#parameters{ data: { reinstatement_id: @reinstatement.id } }

%section.content-header
  %h1
    Reinstatement
    %small
      #{@reinstatement.date_prepared}
  %ol.breadcrumb
    %li
      #{link_to "Reinstatements", reinstatements_path}
    %li
      Show
%section.content
  - if @reinstatement.reversed?
    .bs-callout.bs-callout-danger
      %h3
        .fa.fa-warning
        Warning: This transaction has been reversed.
  = render partial: "actions", locals: { reinstatement: @reinstatement, role: @role }
  = render partial: "shared/errors"
  = render partial: "reinstatement_records", locals: { reinstatement: @reinstatement }
  - if @reinstatement.approved? and ["MIS", "OM"].include? current_user.role
    = render partial: "danger", locals: { reinstatement: @reinstatement }

= render partial: "shared/errors_template"
= render partial: "shared/success_template"
= render partial: "modal_approve_confirmation"
= render partial: "modal_reverse_confirmation"

= javascript_include_tag "Reinstatements"

:javascript
  $(document).ready(function() {
    Reinstatements.init();
  });
