.row
  .col-md-12
    .well
      - if ApplicationHelper.current_working_date.year == @balance_sheet.as_of.year
        = link_to accounting_balance_sheet_path(@balance_sheet), method: :delete, data: { confirm: "WARNING! Are you sure you want to delete this record?" }, class: 'btn btn-app bg-red' do
          .fa.fa-times
          Delete
