%table.table.table-bordered.table-responsive
  %thead
    %tr
      %th{width: "5%"} ID
      %th As Of
      %th Prepared By
      %th.accounting-curr Assets
      %th.accounting-curr Liabilities
      %th.accounting-curr Revenue
      %th.accounting-curr Expenses
      %th.accounting-curr Equity
      %th Actions
  %tbody
    - balance_sheets.each do |balance_sheet|
      %tr
        %td #{balance_sheet.id}
        %td #{balance_sheet.as_of.strftime("%B %d, %Y")}
        %td #{balance_sheet.prepared_by}
        %td.curr #{number_to_currency(balance_sheet.data['assets_entries']['total_net'], unit: "P")}
        %td.curr #{number_to_currency(balance_sheet.data['liabilities_entries']['total_net'], unit: "P")}
        %td.curr #{number_to_currency(balance_sheet.data['revenue_entries']['total_net'], unit: "P")}
        %td.curr #{number_to_currency(balance_sheet.data['expenses_entries']['total_net'], unit: "P")}
        %td.curr #{number_to_currency(balance_sheet.data['equity_entries']['total_net'], unit: "P")}
        %td
          = link_to accounting_balance_sheet_path(balance_sheet) do
            .fa.fa-search
