%section.content-header
  %h1
    Balance Sheets
  %ol.breadcrumb
    %li{:style => "margin-top: -10px;"}
      = link_to "#", id: 'btn-new-balance-sheet', style: "color: #fff;", class: 'btn btn-primary bg-blue normal' do
        .fa.fa-plus
        Generate Balance Sheet

%section.content
  - if @balance_sheets.size > 0
    = render partial: "list", locals: { balance_sheets: @balance_sheets }
  - else
    No records found. Please generate one first.

= javascript_include_tag "accounting/BalanceSheets"

:javascript
  $(document).ready(function() {
    BalanceSheets.init();
  });
