%section.content-header
  %h1
    Balance Sheet as of #{@balance_sheet.as_of.strftime("%B %d, %Y")}
    %small
      Prepared By: #{@balance_sheet.prepared_by}

      %label{ class: "label label-#{@balance_sheet.status == true ? 'success' : 'danger'}" }
        - if @balance_sheet.status
          Balanced
        - else
          Unbalanced
  %ol.breadcrumb
    %li
      = link_to accounting_balance_sheets_path, id: 'btn-new-balance-sheet' do
        .fa.fa-arrow-left
        Back to Balance Sheet Records

%section.content
  = render partial: "actions"
  #balance-sheet-section

#parameters{ data: { data: @balance_sheet.data.to_json } }
= render partial: "accounting/pages/templates/balance_sheet"
= javascript_include_tag "accounting/BalanceSheet"
:javascript
  $(document).ready(function() {
    BalanceSheet.init();
  });
