%table.table.table-bordered.table-responsive
  %thead
    %tr
      - if current_user.role == "MIS"
        %th ID
      %th Date
      %th.acc-curr Beginning Balance
      %th.acc-curr Amount
      %th Type
      %th Status
      %th.acc-curr Ending Balance
      - if @insurance_account.insurance_type_id == 1
        %th.acc-curr Equity Value
      - if current_user.role == "MIS"
        %th Actions
  %tbody
    - insurance_account_transactions.each do |t|
      %tr{class: "#{tr_status(t.status)}"}
        - if current_user.role == "MIS"
          %td #{t.id}
        %td.date #{t.transacted_at.strftime("%d-%B-%Y")}
        %td.curr #{number_to_currency(t.beginning_balance, unit: "")}
        %td.curr.amount #{number_to_currency(t.amount, unit: "")}
        %td.type #{t.transaction_type}
        %td 
          #{t.status}
          - if t.is_adjustment == true
            .label.label-danger
              ADJUSTMENT
          - if t.for_resignation == true
            .label.label-danger
              RESIGN
        %td.curr #{number_to_currency(t.ending_balance, unit: "")}
        - if @insurance_account.insurance_type_id == 1
          %td.curr #{number_to_currency(t.equity_value, unit: "")}
        - if current_user.role == "MIS"
          %th
            = link_to insurance_account_transaction_path(t), method: :delete, class: "btn btn-xs btn-danger", data: { confirm: "Are you sure?" } do
              .fa.fa-times
              Delete

= paginate insurance_account_transactions
