#parameters{ data: { id: @insurance_account.id } }

.well
  = button_tag :rehash, id: "btn-rehash", class: "btn btn-app bg-red" do
    .fa.fa-refresh
    Rehash

:javascript
  $(document).ready(function() {
    $("#btn-rehash").on("click", function() {
      $(this).prop("disabled", true);
      var insuranceAccountId  = $("#parameters").data("id");

      $.ajax({
        url: "/api/v1/insurance_accounts/rehash",
        method: "POST",
        data: {
          insurance_account_id: insuranceAccountId
        },
        dataType: 'json',
        success: function(response) {
          toastr.success("Successfully rehashed account. Redirecting...");
          window.location.href = "/insurance_accounts/" + insuranceAccountId;
        },
        error: function(response) {
          toastr.error("Something went wrong while rehashing account " + insuranceAccountId);
          $("#btn-rehash").prop("disabled", false);
        }
      });
    });
  });
