.row
  .col-md-4
    .box
      .box-body
        %label
          Insurance Type:
        %br
        #{insurance_account.insurance_type}
  .col-md-4
    .box
      .box-body
        %label
          Location:
        %br
        #{insurance_account.center}, #{insurance_account.branch}
  .col-md-4
    .box
      .box-body
        %label
          Current Balance:
        %br
        #{number_to_currency(insurance_account.balance, unit: "P")}
