#filter
  = form_tag insurance_accounts_path, html: { novalidate: true }, method: "GET", defaults: { wrapper_html: { class: 'form-group' }, input_html: { class: 'form-control' } } do
    %table.table.table-responsive.table-bordered
      %tr
        %th
          %label Account Name
          = text_field_tag :account_name, @account_name, placeholder: "Search", class: "form-control"
        %th
          %label Insurance Type
          = select_tag :insurance_type_id, options_from_collection_for_select(InsuranceType.all.order(:name).reverse, :id, :name, @insurance_type.try(:id)), class: "form-control select-select2", prompt: "-- SELECT --"
        %th
          %label Branch
          = select_tag :branch_id, options_from_collection_for_select(@branches, :id, :name, @branch.try(:id)), class: "form-control select-select2", id: "branch-select"
        %th
          %label Center
          = select_tag :center_id, options_from_collection_for_select([], :id, :name, @center.try(:id)), prompt: "-- SELECT --", class: "form-control select-select2", id: "center-select"
        %th
          %label Actions
          %br
          .ui.buttons
            = submit_tag "Search", class: "btn btn-info"  
