.preview
  .basicBox
    .profile-details
      .name
        #{insurance_account.account_number}
        %small
          = insurance_account.member
      %ul
        %li
          %label
            .fa.fa-plus-square
            Insurance Type:
          = insurance_account.insurance_type
        %li
          %label
            .fa.fa-building-o
            Branch:
          = insurance_account.branch
        %li
          %label
            .fa.fa-money
            Balance:
          = number_to_currency(insurance_account.balance, unit: "P")
        %li
          = link_to insurance_account_path(insurance_account), class: "btn btn-default btn-xs" do
            .fa.fa-search
            Details
          = link_to edit_insurance_account_path(insurance_account), class: "btn btn-default btn-xs" do
            .fa.fa-pencil
            Edit

