%table.ui.green.small.table
  %thead
    %tr
      %th Member
      %th Account Number
      %th Type
      %th Branch
      %th Center
      %th Balance
      %th Actions
    - insurance_accounts.each do |insurance_account|
      %tr
        - if insurance_account.member.nil?
          %td [Member Deleted. Please contact administrator.]
        - else
          %td= link_to insurance_account.member, member_path(insurance_account.member), target: "_blank"
        %td= insurance_account.account_number
        %td= insurance_account.insurance_type
        %td= insurance_account.branch
        %td= insurance_account.center
        %td= number_to_currency(insurance_account.balance, unit: "P")
        %td
          = link_to insurance_account_path(insurance_account), class: "ui default button" do
            .fa.fa-search
            Details
%hr
= paginate insurance_accounts

