.row
  .col-md-12
    %table.table.table-bordered.table-responsive
      %tbody
        %tr
          %th{width: "20%"} Recognition Date
          %td #{payment_meta[:start_date]}
        %tr
          %th{width: "20%"} Length of Membership
          %td #{payment_meta[:length_of_membership].round(0)} days
        %tr
          %th Current Date
          %td #{payment_meta[:current_date]}
        %tr
          %th Coverage Date
          %td #{payment_meta[:coverage_date]}
        %tr
          %th Latest Transaction Date
          %td #{payment_meta[:last_trans_date]}
        %tr
          %th Num Weeks Insured
          %td #{payment_meta[:num_weeks]}
        %tr
          %th Default Periodic Payment
          %td #{number_to_currency(payment_meta[:periodic_payment], unit: "")}
        %tr
          %th Insured Amount
          %td #{number_to_currency(payment_meta[:insured_amount], unit: "")}
        %tr
          %th Current Balance
          %td #{number_to_currency(payment_meta[:current_balance], unit: "")}
        %tr
          %th Amt Past Due
          %td 
            #{number_to_currency(payment_meta[:amt_past_due], unit: "")}
            - if payment_meta[:status] == "advanced"
              %label.label.label-primary
                Advanced
            - elsif payment_meta[:status] == "past due"
              %label.label.label-danger
                Past Due
            - elsif payment_meta[:status] == "normal"
              %label.label.label-danger
                Normal
            - elsif payment_meta[:status] == "lapsed"
              %label.label.label-danger
                Lapsed
        %tr
          %th Num Weeks Past Due
          %td #{payment_meta[:num_weeks_past_due]}
