.container-fluid
  .row
    .col-md-12
      .panel.panel-default
        .panel-heading
          Edit Insurance Account
          .listHeaderActions
            - if !@insurance_account.new_record?
              = link_to member_path(@insurance_account.member), class: "btn btn-default btn-xs", target: "_blank" do
                .fa.fa-user
                Member Profile
            = link_to insurance_accounts_path, class: "btn btn-default btn-xs" do
              .fa.fa-arrow-left
              Back to Insurance Accounts
        .panel.body
          = render partial: "insurance_accounts/form"
