%section.content-header
  %h1
    Insurance Accounts
    %small
      List
%section.content
  = render partial: "filter"
  = render partial: "list", locals: { insurance_accounts: @insurance_accounts }
= javascript_include_tag "ui"
