%table{:style => "font-size: x-small;margin-bottom:3%;width: 95%"}
  %thead
    %tr
      %td{:colspan => 4}
        %table{:style => "font-wight: bold"}
          %tr
            
            %td
              #{Settings.company}
          %tr
            %td
              #{Settings.company_address}
          %tr
            %td
              VAT Registration Tin Number:#{Settings.tin_number}
          %tr
            %td
              Insurance Account
.row
  .col-md-12
    .box
      .box-body
        %label{:style => 'width:33%;font-size: x-small'}
          #{@insurance_account.insurance_type} :
        %label{:style => 'width:30%;font-size: x-small'}
          Location :
        %label{:style => 'width:33%;font-size: x-small'}
          Current Balance :
        %br
        %label{:style => 'width:33%;font-size: x-small'}
          #{@insurance_account.member.full_name}
        %label{:style => 'width:30%;font-size: x-small'}
          #{@insurance_account.center}, #{@insurance_account.branch}
        %label{:style => 'width:33%;font-size: x-small'} 
          #{number_to_currency(@insurance_account.balance, unit: "P")}
.row
  .col-md-12
    %table.table.table-bordered.table-responsive{:style => "font-size: x-small"}
      %tbody
        %tr
          %th{width: "20%"} Recognition Date
          %td #{@payment_meta[:start_date]}
        %tr
          %th{width: "20%"} Length of Membership
          %td #{@payment_meta[:length_of_membership].round(0)} days
        %tr
          %th Current Date
          %td #{@payment_meta[:current_date]}
        %tr
          %th Coverage Date
          %td #{@payment_meta[:coverage_date]}
        %tr
          %th Latest Transaction Date
          %td #{@payment_meta[:last_trans_date]}
        %tr
          %th Num Weeks Insured
          %td #{@payment_meta[:num_weeks]}
        %tr
          %th Default Periodic Payment
          %td #{number_to_currency(@payment_meta[:periodic_payment], unit: "")}
        %tr
          %th Insured Amount
          %td #{number_to_currency(@payment_meta[:insured_amount], unit: "")}
        %tr
          %th Current Balance
          %td #{number_to_currency(@payment_meta[:current_balance], unit: "")}
        %tr
          %th Amt Past Due
          %td 
            #{number_to_currency(@payment_meta[:amt_past_due], unit: "")}
            - if @payment_meta[:status] == "advanced"
              %label.label.label-primary
                Advanced
            - elsif @payment_meta[:status] == "past due"
              %label.label.label-danger
                Past Due
            - elsif @payment_meta[:status] == "lapsed"
              %label.label.label-danger
                Lapsed
        %tr
          %th Num Weeks Past Due
          %td #{@payment_meta[:num_weeks_past_due]}
%table.table.table-bordered.table-responsive{:style => "font-size: x-small"}
  %thead
    %tr
      %th Date
      %th.acc-curr Beginning Balance
      %th.acc-curr Amount
      %th Type
      %th Status
      %th.acc-curr Ending Balance

  %tbody
    - @insurance_account_transactions.each do |t|
      %tr{class: "#{tr_status(t.status)}"}
        %td.date #{t.transacted_at.strftime("%d-%B-%Y")}
        %td.curr #{number_to_currency(t.beginning_balance, unit: "")}
        %td.amount.curr #{number_to_currency(t.amount, unit: "")}
        %td.type #{t.transaction_type}
        %td 
          #{t.status}
          - if t.is_adjustment == true
            .label.label-danger
              ADJUSTMENT
          - if t.for_resignation == true
            .label.label-danger
              FOR RESIGNATION
        %td.curr #{number_to_currency(t.ending_balance, unit: "")} 
