.container-fluid
  .row
    .col-md-12
      .panel.panel-default
        .panel-heading
          New Insurance Account
          .listHeaderActions{:style => "margin-top: -5px;"}
            - if !@insurance_account.new_record?
              = link_to member_path(@insurance_account.member), class: "large ui teal button", target: "_blank" do
                .fa.fa-user
                Member Profile
            = link_to insurance_accounts_path, class: "large ui teal button" do
              .fa.fa-arrow-left
              Back to Insurance Accounts
        .panel.body
          = render partial: "insurance_accounts/form"
