%section.content-header
  %h1
    Insurance Account
    %small
      = link_to @insurance_account.member.full_name, member_path(@insurance_account.member.id), target: "_blank"
      %span
        .label.label-info
          #{@insurance_account.insurance_type}
    %small
      = link_to insurance_account_claims_copy_pdf_path(@insurance_account), target: "_blank", class: "btn" do
        .fa.fa-download
        Claims Copy PDF
    %small
      = link_to insurance_account_pdf_path(@insurance_account), target: "_blank", class: "btn" do
        .fa.fa-print
        Print Subsidiary to PDF


%section.content
  - if @insurance_account.insurance_type.code == "LIF" || @insurance_account.insurance_type.code == "RF"
    = render partial: "payment_schema", locals: { payment_meta: @payment_meta }
  = render partial: "insurance_accounts/details", locals: { insurance_account: @insurance_account }
  .row
    .col-md-12
      .box
        .box-body
          = render partial: "account_transactions", locals: { insurance_account_transactions: @insurance_account_transactions }
  - if ["MIS"].include? current_user.role
    = render partial: "insurance_accounts/actions"
