%table.table.table-bordered.table-responsive
  %tr
    %th
      %label OR Number
      %input{ type: "text", placeholder: "OR Number", id: "filter-or-number", class: "form-control", value: "#{@or_number}" } 
    %th
      %label Start Date 
      %input{ type: "text", class: "datepick form-control", placeholder: "Start Date", id: "filter-start-date", value: "#{@start_date}" }
    %th
      %label End Date
      %input{ type: "text", class: "datepick form-control", placeholder: "End Date", id: "filter-end-date", value: "#{@end_date}" }
    %th
      %label Branch
      = select_tag :branch_id, options_from_collection_for_select(@branches, :id, :name, Branch.first.try(:id)), class: "select-select2 branch-select", id: "filter-branch-select", prompt: "-- SELECT --"
    %th
      %label Center
      = select_tag :center_id, options_from_collection_for_select(Center.where(branch_id: Branch.first.try(:id)), :id, :name, @center.try(:id)), prompt: "-- SELECT --", class: "select-select2 center-select", id: "filter-center-select"
    %th
      %label Status
      = select_tag :status, options_for_select(PaymentCollection::STATUSES, @status), id: "filter-status", prompt: "-- ALL --", class: "form-control"
    %th
      %label Actions
      %br
      #btn-filter.btn.btn-info
        .fa.fa-search
        Search
