#new-transaction-modal.modal.fade{role: "dialog", "aria-labelledby" => "new-transaction-modal", "aria-hidden" => "true"}
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", "aria-hidden" => "true"}
        %h4 New Transaction
      .modal-body
        .row
          .col-md-4
            %label
              Branch
            = select_tag :branch_id, options_for_select(@branches.collect{ |o| [o.name, o.id] }), class: "select-select2", id: "modal-branch-select"
          .col-md-4
            %label
              Center
            = select_tag :center_id, options_for_select(Center.where(branch_id: @branches.first).collect{ |o| [o.name, o.id] }), class: "select-select2", id: "modal-center-select"
          .col-md-4
            %label
              Date of Payment
            %input{ type: "text", id: "date-of-payment", class: "form-control datepick", value: ApplicationHelper.current_working_date.strftime("%Y-%m-%d") }
        .row
          .col-md-12
            .message
      .modal-footer
        .actions
          %button#btn-generate-transaction.btn.btn-success
            .fa.fa-check
            Generate Transaction
          %button.btn.btn-danger{"data-dismiss" => "modal"}
            .fa.fa-times
            Close
