%section.content-header
  %h1
    Insurance Remittance
  %ol.breadcrumb
    %li{:style => "margin-top: -10px;"}
      = link_to "#", id: "btn-new-transaction", class: 'btn btn-primary bg-blue', style: 'color: #fff;' do
        .fa.fa-plus
        New Transaction

%section.content
  = render partial: "filter"
  .box
    .box-body
      - if @payment_collections.size > 0
        = render partial: "list", locals: { payment_collections: @payment_collections }
      - else
        No records found.

= render partial: "shared/errors_template"
= render partial: "new_transaction_modal"
= javascript_include_tag "remittance/PaymentCollections"

:javascript
  $(document).ready(function() {
    Remittance.PaymentCollections.init(); 
  });
