<!DOCTYPE html>
<html>
<head>
  <title>KOINS</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= favicon_link_tag "logo_thumb.png" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body class="skin-purple sidebar-mini">
  <div class="wrapper">
    <%= render partial: "shared/header" %>
    <%= render partial: "shared/sidebar" %>
    <%= render partial: "shared/notification" %>
    <div class="content-wrapper" style="min-height: 901px;">
      <%= yield %>
    </div>
    <%= render partial: "shared/footer" %>
    <%= render "shared/loading" %>

    <div class="loadingBox">  
      <div class="loadingBoxContent">
        LOADING...
      </div>
    </div>
  </div>
</body>
</html>
