!!!
%html
  %head
    = wicked_pdf_stylesheet_link_tag    'application'
    = wicked_pdf_javascript_include_tag 'application'
    %title Microfinance - Kasaganaka
    %meta{charset: "utf-8"}
    :css
      .page-break { display:block; clear:both; page-break-after:always; }
  %body
    = yield
