!!!
%html
%head
  %title KOINS
  = stylesheet_link_tag    'application', media: 'all'
  = javascript_include_tag 'application'
  = favicon_link_tag "logo_thumb.png"
  = csrf_meta_tags
  %meta{name: "viewport", content:"width=device-width, initial-scale=1"}
%body{ onload: "window.print();" }
  = yield
