.row
  .col-md-2.col-sm-6.col-xs-12
    .info-box
      %span.info-box-icon.bg-red
        %i.fa.fa-credit-card
      .info-box-content
        %span.info-box-text Loan Balance
        %span.info-box-number
          %small 
            #{number_to_currency(member.loan_balance, unit: "P")}

  .col-md-2.col-sm-6.col-xs-12
    .info-box
      %span.info-box-icon.bg-green
        %i.fa.fa-piggy-bank
      .info-box-content
        %span.info-box-text Savings
        %span.info-box-number
          %small 
            #{number_to_currency(member.savings_balance, unit: "P")}

  .col-md-2.col-sm-6.col-xs-12
    .info-box
      %span.info-box-icon.bg-green
        %i.fa.fa-piggy-bank
      .info-box-content
        %span.info-box-text CBU
        %span.info-box-number
          %small 
            #{number_to_currency(member.cbu_balance, unit: "P")}

  .col-md-2.col-sm-6.col-xs-12
    .info-box
      %span.info-box-icon.bg-blue
        %i.fa.fa-wheelchair
      .info-box-content
        %span.info-box-text Insurance
        %span.info-box-number
          %small 
            #{number_to_currency(member.insurance_balance, unit: "P")}

  .col-md-2.col-sm-6.col-xs-12
    .info-box
      %span.info-box-icon.bg-aqua
        %i.fa.fa-balance-scale
      .info-box-content
        %span.info-box-text Equity
        %span.info-box-number
          %small 
            #{number_to_currency(member.equity_balance, unit: "P")}
