%table.ui.green.celled.table
  %thead
    %tr
      %th CBU Type
      %th Balance
      %th Maintaining Balance
      %th Actions
  %tbody
    - member.savings_accounts.where(savings_type_id: 3).each do |savings_account|
      %tr
        %td= savings_account.savings_type
        %td #{number_to_currency(savings_account.balance, unit: "P")}
        %td #{number_to_currency(savings_account.maintaining_balance, unit: "P")}
        %td
          = link_to savings_account_path(savings_account), class: "btn btn-xs btn-default" do
            %span.glyphicon.glyphicon-search
            Details
