.row
  .col-md-3
    = render partial: "members/components/member_profile", locals: { member: member }
    = render partial: "members/components/membership_status", locals: { member: member }
    - if Settings.activate_microloans  
      = render partial: "members/components/member_shares", locals: { member: member }
      /= render partial: "members/components/member_cbu", locals: { member: member }
      = render partial: "members/components/surveys", locals: { member: member }
      = render partial: "members/components/member_resignation", locals: { member: member }
    - if Settings.activate_microinsurance
      = render partial: "members/components/balik_kasapi_mii", locals: { member: member }
      = render partial: "members/components/member_certificates", locals: { member: member }
    = render partial: "members/components/actions", locals: { member: member }
    - if ["MIS","AO"].include? current_user.role and @member.active?
      = render partial: "members/components/change_of_recognition_date", locals: { member: member }
    = render partial: "members/components/blip_form", locals: { member: member }
    = render partial: "members/components/change_of_beneficiaries", locals: { member: member }
  .col-md-9
    .nav-tabs-custom
      %ul.nav.nav-tabs.nav-justified
        %li.active
          = link_to "Profile", "#profile", "data-toggle" => "tab" 
        %li
          = link_to "Loans", "#loans", "data-toggle" => "tab"
        %li
          = link_to "Savings Accounts", "#savings_accounts", "data-toggle" => "tab"
        %li
          = link_to "Insurance Accounts", "#insurance_accounts", "data-toggle" => "tab"
        %li
          = link_to "Equity Accounts", "#equity_accounts", "data-toggle" => "tab"
        %li
          = link_to "CBU", "#cbu_accounts", "data-toggle" => "tab"
      .tab-content.tab-content-inner
        #profile.tab-pane.active
          .tabBox
            = render partial: "profile", locals: { member: @member }
        #loans.tab-pane
          .tabBox
            = render partial: "loans", locals: { member: @member }
        #savings_accounts.tab-pane
          .tabBox
            = render partial: "savings_accounts", locals: { member: @member }
        #insurance_accounts.tab-pane
          .tabBox
            = render partial: "insurance_accounts", locals: { member: @member }
        #equity_accounts.tab-pane
          .tabBox
            = render partial: "equity_accounts", locals: { member: @member }
        #cbu_accounts.tab-pane
          .tabBox
            = render partial: "cbu_accounts", locals: { member: @member }
