%table.ui.green.celled.table
  %thead
    %tr
      %th Equity Type
      %th Balance
      %th Actions
  %tbody
    - member.equity_accounts.each do |equity_account|
      %tr
        %td #{equity_account.equity_type}
        %td.balance= number_to_currency(equity_account.balance, unit: "P")
        %td
          = link_to equity_account_path(equity_account), class: "btn btn-xs btn-default" do
            %span.glyphicon.glyphicon-search
            Details

