#filter
  %table.table.table-bordered.table-responsive
    %tr
      %th{ width: "25%"}
        %label Name
        = text_field_tag :q, @q, placeholder: "Search Name", class: "form-control", id: "filter-name"
      %th
        %label Status
        = select_tag :status, options_for_select(Member::STATUSES, @status), prompt: "-- SELECT --", class: "form-control filter-select", id: "filter-status-select"
      %th
        %label Type
        = select_tag :member_type, options_for_select(Member::MEMBER_TYPES, @member_type), prompt: "-- SELECT --", class: "form-control", id: "filter-member-type-select"
      %th
        %label Branch
        = select_tag :branch_id, options_from_collection_for_select(@branches, :id, :name, Branch.first.try(:id)), class: "form-control select-select2 branch-select", prompt: "-- SELECT --", id: "filter-branch-select"
      %th
        %label Center
        = select_tag :center_id, options_from_collection_for_select([], :id, :name, @center.try(:id)), prompt: "-- SELECT --", class: "form-control select-select2 center-select", id: "filter-center-select"
      %th
        %label Actions
        %br
        #btn-filter.btn.btn-primary
          .fa.fa-search
          Search
