#beneficiaries
  = link_to_add_association f, :beneficiaries, data: { association_insertion_method: 'append', association_insertion_node: '#beneficiaries' }, class: 'btn btn-info' do
    .fa.fa-plus
    DUMAGDAG NG BENEFICIARY
  %hr
  = f.simple_fields_for :beneficiaries do |ff|
    = render 'beneficiary_fields', f: ff
