#legal_dependents
  = link_to_add_association f, :legal_dependents, data: { association_insertion_method: 'append', association_insertion_node: '#legal_dependents' }, class: 'btn btn-info' do
    .fa.fa-plus
    DUMAGDAG NG ANAK
  %hr
  = f.simple_fields_for :legal_dependents do |ff| 
    = render 'legal_dependent_fields', f: ff
