#member_attachment_files
  = link_to_add_association f, :member_attachment_files, data: { association_insertion_method: 'append', association_insertion_node: '#member_attachment_files' }, class: 'btn btn-info' do
    .fa.fa-plus
    ADD ATTACHMENT FILES
  %hr
  = f.simple_fields_for :member_attachment_files do |ff| 
    = render 'member_attachment_file_fields', f: ff
