#parameters{ data: { center_id: member.center.try(:id), branch_id: member.branch.try(:id) } }
= simple_form_for member, defaults: { wrapper_html: { class: 'form-group' }, input_html: { class: 'form-control form-submit-loading' } }, html: { multipart: true, novalidate: true } do |f|
  .box.box-primary
    .box-header.with-border
      %h3.box-title APPLICATION FOR MEMBERSHIP
    .box-body
      .row
        .col-md-6
          = image_tag f.object.profile_picture.url(:thumb)
        - if !blacklist_field?('identification_number')
          .col-md-6
            = f.input :identification_number, placeholder: "Leave blank for autogeneration"
      .row  
        .col-md-6
          = f.input :profile_picture, as: :file, :label => "PICTURE"
          = f.input :previous_mfi_member_since, :label => "KDCI MEMBER SINCE WHEN", as: :string, input_html: { class: "form-control datepick" }
          = f.input :previous_mii_member_since, :label => "KMBA MEMBER SINCE WHEN", as: :string, input_html: { class: "form-control datepick" }
        .col-md-6
          = f.input :member_type, as: :select, :collection => Member::MEMBER_TYPES, :label => "MEMBER TYPE", input_html: { class: 'form-control select-select2' }
          = f.association :branch, collection: branches, input_html: { class: 'form-control select-select2', id: 'branch-select' }, selected: branches.first, :label => "BRANCH"
          = f.association :center, collection: centers, input_html: { class: 'form-control select-select2', id: 'center-select' }, selected: f.object.center, :label => "CENTER"
      - if Settings.activate_microinsurance
        .row
          .col-md-6
            %label AUTO ACTIVE?
            = f.input :auto_active, label: false, input_html: { class: "switch" }  
          .col-md-6
            = f.input :old_certificate_number, :label => "OLD CERTIFICATE NUMBER", as: :string

  .box.box-primary
    .box-header.with-border
      %h3.box-title PERSONAL NA IMPORMASYON
    .box-body
      .row
        .col-md-12
          = f.input :first_name, :label => "PANGALAN", as: :string
          = f.input :middle_name, :label => "GITNANG PANGALAN", as: :string
          = f.input :last_name, :label => "APELYIDO", as: :string
      .row 
        .col-md-12
          %h4.box-title TIRAHAN / ADDRESS
      .row 
        .col-md-4 
          = f.input :address_street, :label => "KALYE / STREET", as: :string
        .col-md-4
          = f.input :address_barangay, :label => "BARANGAY", as: :string
        .col-md-4
          = f.input :address_city, :label => "SYUDAD / CITY", as: :string
      .row
        .col-md-4
          = f.input :type_of_housing, as: :radio_buttons, collection: Settings.housing_types, label: "URI NG PANINIRAHAN", input_html: { class: "" }  
        .col-md-4
          = f.input :num_years_housing, label: "TAGAL SA TIRAHAN (TAON)"
        .col-md-4
          = f.input :num_months_housing, label: "TAGAL SA TIRAHAN (BUWAN)"  
      .row
        .col-md-12
          = f.input :proof_of_housing, label: "IPINAKITANG KATIBAYAN", as: :string
      .row
        .col-md-6    
          = f.input :date_of_birth, :label => "KAPANGANAKAN", start_year: Date.today.year - 100, end_year: Date.today.year
      .row
        .col-md-6      
          = f.input :place_of_birth, :label => "LUGAR NG KAPANGANAKAN", as: :string
        .col-md-6
          = f.input :gender, as: :radio_buttons, :collection => ["Babae", "Lalake", "Iba pa"], :label => "KASARIAN", input_html: { class: '' }
      .row
        .col-md-6
          = f.input :civil_status, :label => "KATAYUANG SIBIL", as: :select, collection: ["Single", "May Kinakasama", "Kasal", "Hiwalay", "Biyudo/a"], input_html: { class: 'form-control select-select2' }
        .col-md-6
          = f.association :religion, collection: Religion.order('name ASC'), :label => "RELIHIYON", input_html: { class: 'form-control select-select2' }
      .row
        .col-md-3
          = f.input :num_children, label: "BILANG NG ANAK"
        .col-md-3
          = f.input :num_children_elementary, label: "Ilan ang Nag-aaral (Elementary)"
        .col-md-3
          = f.input :num_children_high_school, label: "(High School)"
        .col-md-3
          = f.input :num_children_college, label: "(College/Vocational)"
      .row
        .col-md-6    
          = f.input :mobile_number, :label => "CELLPHONE NUMBER", as: :string
        .col-md-6
          = f.input :home_number, :label => "LANDLINE NUMBER", as: :String
      .row
        .col-md-6
          = f.input :bank, label: "KASALUKUYANG BANGKO (kung mayroon)", as: :string
        .col-md-6
          = f.input :bank_account_type, as: :select, collection: Settings.bank_account_types, label: "KLASE NG ACCOUNT", as: :string
      .row
        .col-md-3
          = f.input :sss_number, :label => "SSS/GSIS #", placeholder: "xxxxxxxxxxx", as: :string
        .col-md-3  
          = f.input :pag_ibig_number, :label => "PAG-IBIG #", placeholder: "xxxxxxxxxxxxx", as: :string
        .col-md-3  
          = f.input :phil_health_number, :label => "PHILHEALTH #", placeholder: "xxxxxxxxxxxx", as: :string
        .col-md-3
          = f.input :tin_number, label: "TIN #", placeholder: "xxxxxxxxxxx", as: :string
  .box.box-primary
    .box-header.with-border
      %h3.box-title ATTACHMENT FILES
    .box-body
      = render partial: "members/form_member_attachment_files", locals: { f: f }

  .box.box-primary
    .box-header.with-border
      %h3.box-title PERSONAL NA IMPORMASYON NG ASAWA O KINAKASAMA (COMMON-LAW SPOUSE)
    .box-body
      .row
        .col-md-6
          = f.input :spouse_first_name, :label => "PANGALAN", as: :string
          = f.input :spouse_middle_name, :label => "GITNANG PANGALAN", as: :string
          = f.input :spouse_last_name, :label => "APELYIDO", as: :string
        .col-md-6
          = f.input :spouse_date_of_birth, :label => "KAPANGANAKAN", as: :string, input_html: { class: "form-control datepick" }
          = f.input :spouse_occupation, :label => "TRABAHO", as: :string       
  
  .box.box-primary
    .box-header.with-border
      %h3.box-title PERSONAL NA IMPORMASYON NG MGA DEPENDENTS (ASAWA / ANAK / MAGULANG / KAPATID)
    .box-body
      = render partial: "members/form_legal_dependents", locals: { f: f }

  .box.box-primary
    .box-header.with-border
      %h3.title PERSONAL NA IMPORMASYON NG MGA BENEFICIARIES
      %small ( Kuhain mula sa KMBA Application for Membership )
    .box-body
      = render partial: "members/form_beneficiaries", locals: { f: f }

  .box.box-primary
    .box-header.with-border
      %h3.title BACKGROUND SA PAHIRAMAN
    .box-body
      = render partial: "members/components/form_background_in_loans", locals: { f: f }

  - if f.object.new_record?
    = render partial: "members/components/form_default_survey", locals: { f: f }

  .box.box-primary
    .box-header.with-border
      %h3.box-title SIGNATURE
    .box-body
      = f.input :signature, as: :file, label: false
      = image_tag f.object.signature.url(:list)

  .form-actions
    = button_tag :submit, :class => "btn btn-primary" do
      .fa.fa-check
      Save
    = link_to members_path, class: "btn btn-default" do
      .fa.fa-times
      Cancel

= javascript_include_tag "ui"
