.row
  .col-md-12
    .ui.teal.header
      %h4
        %i.fa.fa-info
        Insurance
    %table.ui.green.celled.table
      %thead
        %tr
          %th Insurance Type
          %th Balance
          %th Actions
      %tbody
        - member.insurance_accounts.joins(:insurance_type).order("insurance_types.name ASC").each do |insurance_account|
          %tr
            %td #{insurance_account.insurance_type}
            %td.balance= number_to_currency(insurance_account.balance, unit: "P")
            %td
              = link_to insurance_account_path(insurance_account), class: "btn btn-xs btn-default" do
                %span.glyphicon.glyphicon-search
                Details
    - if Settings.activate_microinsurance == true
      .ui.teal.header
        %h4
          %i.fa.fa-info
          Loan Insurance Records
      %table.ui.green.celled.table
        %thead
          %tr
            %th Loan Category
            %th Loan Amount
            %th Loan Insurance Amount
            %th Status
        %tbody
          - member.loan_insurance_records.order("date_released ASC").each do |loan_insurance_record|
            %tr
              %td #{loan_insurance_record.loan_category}
              %td.loan_amount= number_to_currency(loan_insurance_record.loan_amount, unit: "P")
              %td.loan_insurance_amount= number_to_currency(loan_insurance_record.loan_insurance_amount, unit: "P")
              %td #{loan_insurance_record.status}
