.nested-fields
  .well
    = link_to_remove_association f, class: 'pull-right btn btn-danger btn-xs' do 
      .fa.fa-times
      ALISIN
    / .row
    /   .col-md-12
    /     .row      
    /       .col-md-4 
    /         %label
    /           DECEASED?      
    /         = f.input :is_deceased, label: false, input_html: { class: 'switch' }
    .row
      .col-md-12
        .row
          .col-md-4
            = f.input :first_name, :label => "PANGALAN", as: :string
          .col-md-4
            = f.input :middle_name, :label => "GITNANG PANGALAN", as: :string
          .col-md-4
            = f.input :last_name, :label => "APELYIDO", as: :string
    .row
      .col-md-12
        .row
          .col-md-3
            /= f.input :date_of_birth, start_year: Date.today.year - 100, end_year: Date.today.year, :label => "BIRTHDAY"
            = f.input :date_of_birth, as: :string, :label => "KAPANGANAKAN", input_html: { class: 'datepick form-control' }
          .col-md-3
            = f.input :educational_attainment, as: :select, collection: ["elementary", "high school", "college"], :label => "ANTAS NG PAG-AARAL"
          .col-md-3
            = f.input :course, :label => "KURSO", as: :string
          .col-md-3
            = f.input :relationship, :label => "RELASYON", as: :select, :collection => LegalDependent::RELATIONSHIP, input_html: { class: 'form-control select-select2', id: 'select-for-relationship' }