<div class="for_mobile">
  <div class="well">
    <%= form_tag send("members_path"), html: { novalidate: true }, method: "GET", defaults: { wrapper_html: { class: 'form-group' }, input_html: { class: 'form-control' } } do |f| %>
     <b>ID:</b> <%= text_field_tag :identification, @identification, placeholder: "Search ID", class: "form-control" %>
     <b>NAME:</b> <%= text_field_tag :q, @q, placeholder: "Search Name", class: "form-control" %>
     <b>BRANCH:</b> <%= select_tag :branch_id, options_from_collection_for_select(Branch.all, :id, :name, @branch.try(:id)), prompt: "-- SELECT --", class: "form-control select-select2" %>
     <b>CENTER:</b> <%= select_tag :center_id, options_from_collection_for_select(Center.all, :id, :name, @center.try(:id)), prompt: "-- SELECT --", class: "form-control select-select2" %>
      <%= submit_tag "Filter", class: "btn btn-info btn-block" %>
    <% end %>
  </div>
   <% members.each do |m| %>
    <table class="table table-bordered">
        <tr>
            <th width="20%">ID</th>
            <td>
                <span class="<%= m.is_associate? %>">
                <%= m.identification_number %>
            </td>
        </tr>
        <tr>
           <th width="30%">Name</th>
            <td class="">
                <%= link_to m.list_name, member_path(m) %>
            </td>
        </tr>
        <tr>
          <th width="20%">Branch</th>
          <td><%= m.branch %></td>
        </tr>
        <tr>
          <th width="15%">Center</th>
          <td><%= m.center.name %></td>
        </tr>
        <tr>
          <th width="15%">Actions</th>
          <td>
          <%= link_to "Show", member_path(m.id), :class => "btn btn-success btn-xs" %>
          <%= link_to "Edit", edit_member_path(m.id), :class => "btn btn-info btn-xs" %>
         </td>
        </tr>
   </table>
    <% end %>

</div>

