%table.table.table-responsive.table-bordered
  %tbody
    %tr 
      %th
      %th ID
      %th NAME
      %th MEMBER TYPE
      %th STATUS
      %th BRANCH
      %th CENTER
    - members.each do |member|
      %tr{ data: { member_id: "#{member.id}" }, class: "clickable #{status_class(member)}" } 
        %td
          - if member.is_editable == true
            .label.label-success
              .fa.fa-check
          - else
            .label.label-danger
              .fa.fa-times
        %td= member.identification_number
        %td= member.full_name.titlecase
        %td= member.member_type 
        %td= member.status
        %td= member.branch
        %td= member.center
