<%= form_tag members_path, html: { novalidate: true }, method: "GET", defaults: { wrapper_html: { class: 'form-group' }, input_html: { class: 'form-control' } } do %>
  <table class="table table-bordered">
    <thead>
      <tr class="tr_label">
        <th width="10%">ID</th>
        <th>Type</th>
        <th width="30%">Name</th>
        <th width="10%">Status</th>
        <th width="20%">Branch</th>
        <th width="15%">Center</th>
        <th width="15%">Actions</th>
      </tr>
      <tr>
        <td><%= text_field_tag :identification, @identification, placeholder: "Search ID", class: "form-control" %></td>
        <td><%= select_tag :member_type, options_for_select(Member::MEMBER_TYPES, @member_type), class: "form-control select-select2", prompt: "-- SELECT --" %></td>
        <td><%= text_field_tag :q, @q, placeholder: "Search Name", class: "form-control" %></td>
        <td><%= select_tag :status, options_for_select(Member::STATUSES, @status), class: "form-control select-select2", prompt: "-- SELECT --" %></td>
        <td><%= select_tag :branch_id, options_from_collection_for_select(Branch.all, :id, :name, @branch.try(:id)), prompt: "-- SELECT --", class: "form-control select-select2" %></td>
        <td><%= select_tag :center_id, options_from_collection_for_select(Center.all, :id, :name, @center.try(:id)), prompt: "-- SELECT --", class: "form-control select-select2" %></td>
        <td><%= submit_tag "Filter", class: "btn btn-info btn-block" %></td>
      </tr>
    </thead>
    <tbody>
      <% members.each do |m| %>
        <tr>
          <td>
            <span class="<%= m.is_associate? %>">
            <%= m.identification_number %>
          </td>
          <td><%= m.member_type %></td>
          <td class="">
            <%= link_to m.list_name, member_path(m) %>
          </td>
          <td><%= m.status %></td>
          <td><%= m.branch %></td>
          <td><%= m.center.name %></td>
          <td>
            <%= render partial: "list_links", locals: { member: m } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
<%= paginate members %>



<script>
$(document).ready(function() {
  $("#branch_id").bind('change', function() {
    var branchId = ($(this).val());  

    $.get("/internal/centers?branch_id=" + branchId, function(response) {
      response.forEach(function(o) {
        console.log(o); 
        $("#center_id").find('option').remove();
        $("#center_id").append('<option value="' + o.id + '">'  + o.name + '</option>');
      });
    });
  });

  $(".select-select2").select2();
});
</script>

