= link_to member_path(member.id), :class => "btn btn-default btn-xs" do
  %span.glyphicon.glyphicon-search
  Details
= link_to edit_member_path(member.id), :class => "btn btn-default btn-xs" do
  %span.glyphicon.glyphicon-pencil
  Edit
