.row
  .col-md-4
    .ui.grey.segment
      %h4
        Active Loans: #{Loan.active.where(member_id: @member.id).count}
  .col-md-4
    .ui.grey.segment
      %h4
        Pending Loans: #{Loan.pending.where(member_id: @member.id).count}
  .col-md-4
    .ui.grey.segment
      %h4
        Written Off Loans: #{Loan.writeoff.where(member_id: @member.id).count}
%hr
- LoanProduct.all.each do |loan_product|
  - if @member.loans.where(loan_product_id: loan_product.id).count > 0
    .row
      .col-md-12
        %h4
          .ui.teal.header
            .span.glyphicon.glyphicon-ok
            = loan_product
            %small
              = "Cycle Count: #{MemberLoanCycle.where(loan_product_id: loan_product.id, member_id: @member.id).try(:last).try(:cycle)}"
        %table.ui.green.celled.table.loantableaccount
          %thead
            %tr
              %th Account
              %th Amount
              %th Balance
              %th Status
              %th Actions 
          %tbody
            - @member.loans.where(loan_product_id: loan_product.id).each do |loan|
              %tr
                %td.account= loan
                %td.amount= number_to_currency(loan.temp_total_amount_due, unit: "P")
                %td.balance
                  - if loan.pending?
                    PENDING
                  - else
                    = number_to_currency(loan.remaining_balance, unit: "P")
                %td
                  = loan.status
                %td
                  = link_to loan_path(loan), class: "btn btn-xs btn-default" do
                    %span.glyphicon.glyphicon-search
                    Details
        %hr
