.nested-fields
  .row
    .col-md-4
      = f.input :name, :label => "PANGALAN"
    .col-md-4
      = f.input :relationship, :label => "RELASYON", as: :select, collection: ["Asawa", "Anak", "Magulang", "Kapatid", "Iba pa"], input_html: { class: 'form-control select-select2' }
    .col-md-4
      %label
        AKSYON
      %br
      = link_to_remove_association f, class: 'btn btn-danger' do
        .fa.fa-times
        ALISIN
