.nested-fields
  .well
    = link_to_remove_association f, class: 'pull-right btn btn-danger btn-xs' do 
      .fa.fa-times
      ALISIN
    .row
      .col-md-12
        / = f.input :title, :label => "TITLE", as: :string
        = f.input :title, :label => "TITLE", as: :select, collection: ["BLIPFORM", "MC", "BC", "ID", "COHABITATION", "OTHERFILE"], input_html: { class: 'form-control select-select2' }
    .row
      .col-md-12
        = f.input :file_photo, as: :file, label: false
        = image_tag f.object.file_photo.url(:large)