.row
  .col-md-12
    %h4
      %i.fa.fa-info
      Basic Information
    %table.table.table-responsive
      %tbody
        %tr
          %th{:width => "25%"} Pangalan
          %td= @member.full_name
        %tr
          %th Identification Number
          %td= @member.identification_number
        %tr
          %th Kasarian
          %td= @member.gender.upcase
        %tr
          %th Edad
          %td= @member.age
        - if Settings.activate_microloans and !@member.previous_mfi_member_since.nil?
          %tr
            %th Date of Membership (MFI)
            %td
              = @member.previous_mfi_member_since.strftime("%B %d, %Y").try(:upcase)
        - if Settings.activate_microinsurance and !@member.previous_mii_member_since.nil?
          %tr
            %th Date of Membership (MII)
            %td
              = @member.previous_mii_member_since.strftime("%B %d, %Y").try(:upcase)
        %tr
          %th Kalye / Street
          %td= @member.address_street.try(:upcase)
        %tr
          %th Barangay
          %td= @member.address_barangay.try(:upcase)
        %tr
          %th Syudad / City
          %td= @member.address_city.try(:upcase)
    %h4
      %i.fa.fa-info
      Other Information
    %table.table.table-responsive
      %tbody
        %tr
          %th{:width => "25%"} Numero ng Mobile
          %td= @member.mobile_number.try(:upcase)
        %tr
          %th Numero ng Telepono
          %td= @member.home_number.try(:upcase)
        %tr
          %th Katayuang Sibil
          %td= @member.civil_status.try(:upcase)
        %tr
          %th Relihiyon
          %td= @member.religion.try(:name).try(:upcase)
        %tr
          %th Kapanganakan
          %td= @member.date_of_birth.strftime("%B %d, %Y").try(:upcase)
        %tr
          %th Lugar ng Kapanganakan
          %td= @member.place_of_birth.try(:upcase)
        %tr
          %th PHILHEALTH #:
          %td= @member.try(:phil_health_number_formatted)
        %tr
          %th PAG-IBIG #:
          %td= @member.try(:pag_ibig_number_formatted)
        %tr
          %th SSS #:
          %td= @member.try(:sss_number_formatted)
        %tr
          %th TIN #:
          %td= @member.tin_number.try(:upcase)
        %tr
          %th Bank / Account Type
          %td= "#{@member.bank} / #{@member.bank_account_type}"
        %tr
          %th Asawa / Kinakasama:
          %td= @member.spouse_full_name
        %tr
          %th Uri ng Paninirahan
          %td= @member.type_of_housing.try(:upcase)
        %tr
          %th Tagal na sa Tirahan
          %td= @member.length_of_housing_occupancy
        %tr
          %th Ipinakitang Katibayan
          %td= @member.proof_of_housing
        %tr
          %th Bilang ng Anak
          %td= @member.num_children
        %tr
          %th Ilan ang Nag-aaral (Elementary)
          %td= @member.num_children_elementary
        %tr
          %th Ilan ang Nag-aaral (High School)
          %td= @member.num_children_high_school
        %tr
          %th Ilan ang Nag-aaral (College)
          %td= @member.num_children_college        
        %tr
          %th KDCI Member Since:
          %td= @member.previous_mfi_member_since
        - if member.is_reinstate
          %tr
            %th Reinstatement Date:
            %td= @member.previous_mii_member_since
        - else  
          %tr
            %th KMBA Member Since:
            %td= @member.previous_mii_member_since
        - if @member.is_reinstate
          %tr
            %th Is Reinstated:
            %td YES
        - else
          %tr
            %th Is Reinstate:
            %td NO

        - if @member.is_reinstate
          %tr
            %th Old Recognition Date:
            %td= @member.old_previous_mii_member_since    
        - if Settings.activate_microinsurance
          %tr
            %th Certificate No.:
            %td= @member.identification_number
          %tr
            %th Old Certificate No.:
            %td= @member.old_certificate_number
    = render partial: "members/show_beneficiaries"
    = render partial: "members/show_dependents"
    = render partial: "members/show_member_attachment_files"
    /= render partial: "show_working_relatives"
    = render partial: "members/components/weekly_income_expenses"
