.well
  - if ["MIS", "BK", "SBK"].include? current_user.role
    = link_to "#", id: "btn-approve", class: "btn btn-app bg-green" do
      .fa.fa-check
      Approve
    = link_to member_resignation_edit_path(member_id: @member), class: 'btn btn-app' do
      .fa.fa-pencil
      Edit
    = link_to "#", id: "btn-revert-resignation", class: "btn btn-app bg-red" do
      .fa.fa-times
      Revert
