%h3
  %span.glyphicon.glyphicon-user
  Beneficiaries
- if @member.beneficiaries.count == 0
  %p None
- else
  - if !@member.beneficiaries.where(is_primary: true).nil?
    - @member.beneficiaries.where(is_primary: true).each do |bene|
      .panel.panel-success
        .panel.panel-heading
          .label.label-primary
            Primary Beneficiary
        %table.table.table-bordered.table-responsive
          %thead
            %tr
              %th{:width => "25%"} Pangalan
              %th{:width => "20%"} Kapanganakan
              %th{:width => "10%"} Edad
              %th{:width => "15%"} Relasyon
          %tbody
            - if bene.age.is_a? Numeric
              %tr{ class: "#{bene.age > max_age_for_beneficiary ? 'valid_age' : 'exit_age'}" }
                %td= bene.full_name_upcase
                %td= bene.date_of_birth_formatted
                %td= bene.age
                %td= bene.relationship.try(:upcase)
            - else
              %tr
                %td= bene.full_name_upcase
                %td= bene.date_of_birth_formatted
                %td= bene.age
                %td= bene.relationship.try(:upcase)
  - if !@member.beneficiaries.where(is_primary: false).nil?
    - @member.beneficiaries.where(is_primary: false).each do |bene|
      .panel.panel-default
        .panel.panel-heading
          .label.label-success
            Beneficiary
        %table.table.table-bordered.table-responsive
          %thead
            %tr
              %th{:width => "25%"} Pangalan
              %th{:width => "20%"} Kapanganakan
              %th{:width => "10%"} Edad
              %th{:width => "15%"} Relasyon
          %tbody
            - if bene.age.is_a? Numeric
              %tr{ class: "#{bene.age > max_age_for_beneficiary ? 'valid_age' : 'exit_age'}" }
                %td= bene.full_name_upcase
                %td= bene.date_of_birth_formatted
                %td= bene.age
                %td= bene.relationship.try(:upcase)
            - else
              %tr
                %td= bene.full_name_upcase
                %td= bene.date_of_birth_formatted
                %td= bene.age
                %td= bene.relationship.try(:upcase)
