%h3
  %span.glyphicon.glyphicon-user
  Dependents
- if @member.legal_dependents.count == 0
  %p None
- else
  %table.table.table-bordered.table-responsive
    %tbody
      %thead
        %tr
          %th{:width => "28%"} Pangalan
          %th{:width => "18%"} Kapanganakan
          %th{:width => "8%"} Edad
          %th{:width => "17%"} Antas ng Pag-aaral
          %th{:width => "18%"} Kurso
          %th{:width => "21%"} Relasyon
          %th{:width => "15%"} Status
        - @member.legal_dependents.order("legal_dependents.date_of_birth DESC").each do |depen|
          - if depen.age.is_a? Numeric
            - if depen.member.civil_status == "Single" 
              - if depen.relationship == "Child"  
                %tr{ class: "valid_age" }
                  %td= depen.full_name_upcase
                  %td= depen.date_of_birth_formatted
                  %td= depen.age
                  %td= depen.educational_attainment.try(:upcase)
                  %td= depen.course.try(:upcase)
                  - if depen.relationship == "Spouse"
                    %td ASAWA
                  - elsif depen.relationship == "Child"
                    %td ANAK
                  - elsif depen.relationship == "Parent"
                    %td MAGULANG              
                  - if depen.is_deceased
                    %td DECEASED
                  - elsif depen.is_tpd
                    %td TPD  
                  - else
                    %td ALIVE
              - elsif depen.relationship == "Parent"  
                %tr{ class: "#{depen.age >= min_age_for_parent_legal_dependent ? 'valid_age' : 'exit_age'}" }
                  %td= depen.full_name_upcase
                  %td= depen.date_of_birth_formatted
                  %td= depen.age
                  %td= depen.educational_attainment.try(:upcase)
                  %td= depen.course.try(:upcase)
                  - if depen.relationship == "Spouse"
                    %td ASAWA
                  - elsif depen.relationship == "Child"
                    %td ANAK
                  - elsif depen.relationship == "Parent"
                    %td MAGULANG              
                  - if depen.is_deceased
                    %td DECEASED
                  - elsif depen.is_tpd
                    %td TPD  
                  - else
                    %td ALIVE
              - elsif depen.relationship == "Spouse"  
                %tr{ class: "exit_age" }
                  %td= depen.full_name_upcase
                  %td= depen.date_of_birth_formatted
                  %td= depen.age
                  %td= depen.educational_attainment.try(:upcase)
                  %td= depen.course.try(:upcase)
                  - if depen.relationship == "Spouse"
                    %td ASAWA
                  - elsif depen.relationship == "Child"
                    %td ANAK
                  - elsif depen.relationship == "Parent"
                    %td MAGULANG              
                  - if depen.is_deceased
                    %td DECEASED
                  - elsif depen.is_tpd
                    %td TPD  
                  - else
                    %td ALIVE      
              - else  
                %tr{ class: "valid_age" }
                  %td= depen.full_name_upcase
                  %td= depen.date_of_birth_formatted
                  %td= depen.age
                  %td= depen.educational_attainment.try(:upcase)
                  %td= depen.course.try(:upcase)
                  - if depen.relationship == "Spouse"
                    %td ASAWA
                  - elsif depen.relationship == "Child"
                    %td ANAK
                  - elsif depen.relationship == "Parent"
                    %td MAGULANG
                  - else
                    %td= depen.relationship.try(:upcase)              
                  - if depen.is_deceased
                    %td DECEASED
                  - elsif depen.is_tpd
                    %td TPD  
                  - else
                    %td ALIVE      
            - elsif depen.member.civil_status == "Kasal" || depen.member.civil_status == "Hiwalay" 
              - if depen.relationship == "Child"  
                %tr{ class: "#{depen.age < max_age_for_child_legal_dependent ? 'valid_age' : 'exit_age'}" }
                  %td= depen.full_name_upcase
                  %td= depen.date_of_birth_formatted
                  %td= depen.age
                  %td= depen.educational_attainment.try(:upcase)
                  %td= depen.course.try(:upcase)
                  - if depen.relationship == "Spouse"
                    %td ASAWA
                  - elsif depen.relationship == "Child"
                    %td ANAK
                  - elsif depen.relationship == "Parent"
                    %td MAGULANG              
                  - if depen.is_deceased
                    %td DECEASED
                  - elsif depen.is_tpd
                    %td TPD  
                  - else
                    %td ALIVE
              - elsif depen.relationship == "Parent"  
                %tr{ class: "exit_age" }
                  %td= depen.full_name_upcase
                  %td= depen.date_of_birth_formatted
                  %td= depen.age
                  %td= depen.educational_attainment.try(:upcase)
                  %td= depen.course.try(:upcase)
                  - if depen.relationship == "Spouse"
                    %td ASAWA
                  - elsif depen.relationship == "Child"
                    %td ANAK
                  - elsif depen.relationship == "Parent"
                    %td MAGULANG              
                  - if depen.is_deceased
                    %td DECEASED
                  - elsif depen.is_tpd
                    %td TPD  
                  - else
                    %td ALIVE
              - elsif depen.relationship == "Spouse"  
                %tr{ class: "valid_age" }
                  %td= depen.full_name_upcase
                  %td= depen.date_of_birth_formatted
                  %td= depen.age
                  %td= depen.educational_attainment.try(:upcase)
                  %td= depen.course.try(:upcase)
                  - if depen.relationship == "Spouse"
                    %td ASAWA
                  - elsif depen.relationship == "Child"
                    %td ANAK
                  - elsif depen.relationship == "Parent"
                    %td MAGULANG              
                  - if depen.is_deceased
                    %td DECEASED
                  - elsif depen.is_tpd
                    %td TPD  
                  - else
                    %td ALIVE      
              - else  
                %tr{ class: "valid_age" }
                  %td= depen.full_name_upcase
                  %td= depen.date_of_birth_formatted
                  %td= depen.age
                  %td= depen.educational_attainment.try(:upcase)
                  %td= depen.course.try(:upcase)
                  - if depen.relationship == "Spouse"
                    %td ASAWA
                  - elsif depen.relationship == "Child"
                    %td ANAK
                  - elsif depen.relationship == "Parent"
                    %td MAGULANG
                  - else
                    %td= depen.relationship.try(:upcase)              
                  - if depen.is_deceased
                    %td DECEASED
                  - elsif depen.is_tpd
                    %td TPD  
                  - else
                    %td ALIVE
            - elsif depen.member.civil_status == "Biyudo/a" || depen.member.civil_status == "May Kinakasama"  
              - if depen.relationship == "Child"  
                %tr{ class: "#{depen.age < max_age_for_child_legal_dependent ? 'valid_age' : 'exit_age'}" }
                  %td= depen.full_name_upcase
                  %td= depen.date_of_birth_formatted
                  %td= depen.age
                  %td= depen.educational_attainment.try(:upcase)
                  %td= depen.course.try(:upcase)
                  - if depen.relationship == "Spouse"
                    %td ASAWA
                  - elsif depen.relationship == "Child"
                    %td ANAK
                  - elsif depen.relationship == "Parent"
                    %td MAGULANG              
                  - if depen.is_deceased
                    %td DECEASED
                  - elsif depen.is_tpd
                    %td TPD  
                  - else
                    %td ALIVE
              - elsif depen.relationship == "Parent"  
                %tr{ class: "exit_age" }
                  %td= depen.full_name_upcase
                  %td= depen.date_of_birth_formatted
                  %td= depen.age
                  %td= depen.educational_attainment.try(:upcase)
                  %td= depen.course.try(:upcase)
                  - if depen.relationship == "Spouse"
                    %td ASAWA
                  - elsif depen.relationship == "Child"
                    %td ANAK
                  - elsif depen.relationship == "Parent"
                    %td MAGULANG              
                  - if depen.is_deceased
                    %td DECEASED
                  - elsif depen.is_tpd
                    %td TPD  
                  - else
                    %td ALIVE
              - elsif depen.relationship == "Spouse"  
                %tr{ class: "exit_age" }
                  %td= depen.full_name_upcase
                  %td= depen.date_of_birth_formatted
                  %td= depen.age
                  %td= depen.educational_attainment.try(:upcase)
                  %td= depen.course.try(:upcase)
                  - if depen.relationship == "Spouse"
                    %td ASAWA
                  - elsif depen.relationship == "Child"
                    %td ANAK
                  - elsif depen.relationship == "Parent"
                    %td MAGULANG              
                  - if depen.is_deceased
                    %td DECEASED
                  - elsif depen.is_tpd
                    %td TPD  
                  - else
                    %td ALIVE
              - else  
                %tr{ class: "valid_age" }
                  %td= depen.full_name_upcase
                  %td= depen.date_of_birth_formatted
                  %td= depen.age
                  %td= depen.educational_attainment.try(:upcase)
                  %td= depen.course.try(:upcase)
                  - if depen.relationship == "Spouse"
                    %td ASAWA
                  - elsif depen.relationship == "Child"
                    %td ANAK
                  - elsif depen.relationship == "Parent"
                    %td MAGULANG
                  - else
                    %td= depen.relationship.try(:upcase)              
                  - if depen.is_deceased
                    %td DECEASED
                  - elsif depen.is_tpd
                    %td TPD  
                  - else
                    %td ALIVE
          - else
            - if depen.member.civil_status == "Single" 
              - if depen.relationship == "Child"  
                %tr{ class: "valid_age" }
                  %td= depen.full_name_upcase
                  %td= depen.date_of_birth_formatted
                  %td= depen.age
                  %td= depen.educational_attainment.try(:upcase)
                  %td= depen.course.try(:upcase)
                  - if depen.relationship == "Spouse"
                    %td ASAWA
                  - elsif depen.relationship == "Child"
                    %td ANAK
                  - elsif depen.relationship == "Parent"
                    %td MAGULANG              
                  - if depen.is_deceased
                    %td DECEASED
                  - elsif depen.is_tpd
                    %td TPD  
                  - else
                    %td ALIVE
              - elsif depen.relationship == "Parent"  
                %tr{ class: "#{depen.age >= min_age_for_parent_legal_dependent ? 'valid_age' : 'exit_age'}" }
                  %td= depen.full_name_upcase
                  %td= depen.date_of_birth_formatted
                  %td= depen.age
                  %td= depen.educational_attainment.try(:upcase)
                  %td= depen.course.try(:upcase)
                  - if depen.relationship == "Spouse"
                    %td ASAWA
                  - elsif depen.relationship == "Child"
                    %td ANAK
                  - elsif depen.relationship == "Parent"
                    %td MAGULANG              
                  - if depen.is_deceased
                    %td DECEASED
                  - elsif depen.is_tpd
                    %td TPD  
                  - else
                    %td ALIVE
              - elsif depen.relationship == "Spouse"  
                %tr{ class: "exit_age" }
                  %td= depen.full_name_upcase
                  %td= depen.date_of_birth_formatted
                  %td= depen.age
                  %td= depen.educational_attainment.try(:upcase)
                  %td= depen.course.try(:upcase)
                  - if depen.relationship == "Spouse"
                    %td ASAWA
                  - elsif depen.relationship == "Child"
                    %td ANAK
                  - elsif depen.relationship == "Parent"
                    %td MAGULANG              
                  - if depen.is_deceased
                    %td DECEASED
                  - elsif depen.is_tpd
                    %td TPD  
                  - else
                    %td ALIVE      
              - else  
                %tr{ class: "valid_age" }
                  %td= depen.full_name_upcase
                  %td= depen.date_of_birth_formatted
                  %td= depen.age
                  %td= depen.educational_attainment.try(:upcase)
                  %td= depen.course.try(:upcase)
                  - if depen.relationship == "Spouse"
                    %td ASAWA
                  - elsif depen.relationship == "Child"
                    %td ANAK
                  - elsif depen.relationship == "Parent"
                    %td MAGULANG
                  - else
                    %td= depen.relationship.try(:upcase)              
                  - if depen.is_deceased
                    %td DECEASED
                  - elsif depen.is_tpd
                    %td TPD  
                  - else
                    %td ALIVE      
            - elsif depen.member.civil_status == "Kasal" || depen.member.civil_status == "Hiwalay" 
              - if depen.relationship == "Child"  
                %tr{ class: "#{depen.age < max_age_for_child_legal_dependent ? 'valid_age' : 'exit_age'}" }
                  %td= depen.full_name_upcase
                  %td= depen.date_of_birth_formatted
                  %td= depen.age
                  %td= depen.educational_attainment.try(:upcase)
                  %td= depen.course.try(:upcase)
                  - if depen.relationship == "Spouse"
                    %td ASAWA
                  - elsif depen.relationship == "Child"
                    %td ANAK
                  - elsif depen.relationship == "Parent"
                    %td MAGULANG              
                  - if depen.is_deceased
                    %td DECEASED
                  - elsif depen.is_tpd
                    %td TPD  
                  - else
                    %td ALIVE
              - elsif depen.relationship == "Parent"  
                %tr{ class: "exit_age" }
                  %td= depen.full_name_upcase
                  %td= depen.date_of_birth_formatted
                  %td= depen.age
                  %td= depen.educational_attainment.try(:upcase)
                  %td= depen.course.try(:upcase)
                  - if depen.relationship == "Spouse"
                    %td ASAWA
                  - elsif depen.relationship == "Child"
                    %td ANAK
                  - elsif depen.relationship == "Parent"
                    %td MAGULANG              
                  - if depen.is_deceased
                    %td DECEASED
                  - elsif depen.is_tpd
                    %td TPD  
                  - else
                    %td ALIVE
              - elsif depen.relationship == "Spouse"  
                %tr{ class: "valid_age" }
                  %td= depen.full_name_upcase
                  %td= depen.date_of_birth_formatted
                  %td= depen.age
                  %td= depen.educational_attainment.try(:upcase)
                  %td= depen.course.try(:upcase)
                  - if depen.relationship == "Spouse"
                    %td ASAWA
                  - elsif depen.relationship == "Child"
                    %td ANAK
                  - elsif depen.relationship == "Parent"
                    %td MAGULANG              
                  - if depen.is_deceased
                    %td DECEASED
                  - elsif depen.is_tpd
                    %td TPD  
                  - else
                    %td ALIVE      
              - else  
                %tr{ class: "valid_age" }
                  %td= depen.full_name_upcase
                  %td= depen.date_of_birth_formatted
                  %td= depen.age
                  %td= depen.educational_attainment.try(:upcase)
                  %td= depen.course.try(:upcase)
                  - if depen.relationship == "Spouse"
                    %td ASAWA
                  - elsif depen.relationship == "Child"
                    %td ANAK
                  - elsif depen.relationship == "Parent"
                    %td MAGULANG
                  - else
                    %td= depen.relationship.try(:upcase)              
                  - if depen.is_deceased
                    %td DECEASED
                  - elsif depen.is_tpd
                    %td TPD  
                  - else
                    %td ALIVE
            - elsif depen.member.civil_status == "Biyudo/a" || depen.member.civil_status == "May Kinakasama"  
              - if depen.relationship == "Child"  
                %tr{ class: "#{depen.age < max_age_for_child_legal_dependent ? 'valid_age' : 'exit_age'}" }
                  %td= depen.full_name_upcase
                  %td= depen.date_of_birth_formatted
                  %td= depen.age
                  %td= depen.educational_attainment.try(:upcase)
                  %td= depen.course.try(:upcase)
                  - if depen.relationship == "Spouse"
                    %td ASAWA
                  - elsif depen.relationship == "Child"
                    %td ANAK
                  - elsif depen.relationship == "Parent"
                    %td MAGULANG              
                  - if depen.is_deceased
                    %td DECEASED
                  - elsif depen.is_tpd
                    %td TPD  
                  - else
                    %td ALIVE
              - elsif depen.relationship == "Parent"  
                %tr{ class: "exit_age" }
                  %td= depen.full_name_upcase
                  %td= depen.date_of_birth_formatted
                  %td= depen.age
                  %td= depen.educational_attainment.try(:upcase)
                  %td= depen.course.try(:upcase)
                  - if depen.relationship == "Spouse"
                    %td ASAWA
                  - elsif depen.relationship == "Child"
                    %td ANAK
                  - elsif depen.relationship == "Parent"
                    %td MAGULANG              
                  - if depen.is_deceased
                    %td DECEASED
                  - elsif depen.is_tpd
                    %td TPD  
                  - else
                    %td ALIVE
              - elsif depen.relationship == "Spouse"  
                %tr{ class: "exit_age" }
                  %td= depen.full_name_upcase
                  %td= depen.date_of_birth_formatted
                  %td= depen.age
                  %td= depen.educational_attainment.try(:upcase)
                  %td= depen.course.try(:upcase)
                  - if depen.relationship == "Spouse"
                    %td ASAWA
                  - elsif depen.relationship == "Child"
                    %td ANAK
                  - elsif depen.relationship == "Parent"
                    %td MAGULANG              
                  - if depen.is_deceased
                    %td DECEASED
                  - elsif depen.is_tpd
                    %td TPD  
                  - else
                    %td ALIVE
              - else  
                %tr{ class: "valid_age" }
                  %td= depen.full_name_upcase
                  %td= depen.date_of_birth_formatted
                  %td= depen.age
                  %td= depen.educational_attainment.try(:upcase)
                  %td= depen.course.try(:upcase)
                  - if depen.relationship == "Spouse"
                    %td ASAWA
                  - elsif depen.relationship == "Child"
                    %td ANAK
                  - elsif depen.relationship == "Parent"
                    %td MAGULANG
                  - else
                    %td= depen.relationship.try(:upcase)              
                  - if depen.is_deceased
                    %td DECEASED
                  - elsif depen.is_tpd
                    %td TPD
                  - else
                    %td ALIVE
