%h3
  %span.glyphicon.glyphicon-file
  Attachment Files
- if @member.member_attachment_files.count == 0
  %p None
- else
  - @member.member_attachment_files.order("title ASC").each do |maf|
    .label.label-primary
      = maf.title
    .well
      .row
        .col-md-12
          = link_to image_tag(maf.file_photo.url(:large), :style => "max-width: 100%; border: 1;", class: "ui fluid image"), maf.file_photo.url, :popup=>['original_image', 'height=1000, width=1000'], target: '_blank'
