%h3
  MGA KAPAMILYA AT KASAMBAHAY NA MAY HANAPBUHAY
%table.ui.blue.table
  %thead
    %tr
      %th PANGALAN
      %TH RELASYON
  %tbody
    - @member.member_working_relatives.each do |member_working_relative|
      %tr
        %td #{member_working_relative.name.upcase}
        %td #{member_working_relative.relationship.upcase}
