.row
  .col-md-12
    .pull-right
      = link_to members_path, class: "ui default small button" do
        %span.glyphicon.glyphicon-arrow-left
        Back to Members
      - if member.status != "archived"
        = link_to edit_member_path(member), class: "ui default small button" do
          .fa.fa-pencil
          Edit
