.nested-fields
  .row
    .col-md-8
      %h1
        #{@survey.title}
    .col-md-4
      = f.association :survey, as: :hidden
      = f.input :date_answered, :label => "DATE"
  = f.simple_fields_for :survey_respondent_answers do |ff|
    .ui.segment
      %h2.text-blue
        = ff.object.survey_question.content
      %hr
        = ff.association :survey_question, as: :hidden
      = ff.association :survey_question_option, as: :radio_buttons, collection: SurveyQuestionOption.where(survey_question_id: ff.object.survey_question.id), value_method: :id, input_html: { class: '' }, label: false
