:css
  .print-text {
    font-size: .9em;
    font-family: calibri;
  }


  .print-text-sub {
    font-size: .9em;
    font-family: calibri;
  }

  table {
    border-collapse: collapse;
  }

  table, th, td {
    border: 1.5px solid black;
  }

  #kmba{
    float: left;
    padding: -5px 5px 5px 5px;
    width: 13%;
  }

  #micr{
    float: right;
    padding: 40px 5px 0px 5px;
    width: 14%;
  }

  hr {
    border-color: black;
  }

  .header{
    height: 100px;
    width: 100%;
    border-color: black;
    border-style: solid;
    border-width: 3px 3px 1.5px 3px;
    padding: 15px 5px 5px 5px;
  }

  .notice{
    height: 100px;
    width: 100%;
    border-color: black;
    border-style: solid;
    border-width: 1.5px 3px 1.5px 3px;
    padding: 10px 0px 10px 0px;
  }

  .details_kmba{
    height: 160px;
    width: 100%;
    border-color: black;
    border-style: solid;
    border-width: 1.5px 3px 1.5px 3px;
    padding: 10px 5px 10px 50px;
  }

  .beneficiary{
    height: 260px;
    width: 100%;
    border-color: black;
    border-style: solid;
    border-width: 1.5px 3px 1.5px 3px;
    padding: 10px 0px 0px 0px;
  }

  .sign{
    height: 80px;
    width: 100%;
    border-color: black;
    border-style: solid;
    border-width: 1.5px 3px 1.5px 3px;
    padding: 15px 0px 15px 0px;
  }

  .signatories{
    height: 90px;
    width: 100%;
    border-color: black;
    border-style: solid;
    border-width: 1.5px 3px 1.5px 3px;
    padding: 0px 0px 0px 0px;
  }

%span.print-text
  %br
  %br
  .header
    %center
      = image_tag("kmba.ico", :alt => "kmba img", id: "kmba")
      = image_tag("micr.png", :alt => "micro img", id: "micr")
      %p
        %b
          %span{style: "font-size: 1.7em;"}
            KASAGANA-KA Mutual Benefit Association, Inc.
        %br  
        5 Don Fracisco Street, Don Enrique Heights, Barangay Holy Spirit, Quezon City
        %br
        Tel/Fax: 990-7915 * E-mail: kasaganaka.mba@gmail.com * www.kmba.org.ph
  .notice
    %center
      %p
        %span{style: "font-size: 1.4em;"}
          %b
            ABISO NG PAGPAPALIT NG BAGONG BENEPISYARYO
      %p
        (Notice of Change of Beneficiaries)
      %p
        %span{style: "font-size: 1.1em;"}
          %b
            MAGIGING BAHAGI NG SERTIPIKO NG PAGIGING KASAPI BILANG&emsp;______________
  .details_kmba
    %p
      %b
        PARA SA:
      &nbsp;&nbsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;FIELD MANAGER
    %p
      &nbsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;FIELD OFFICE&emsp;
      %u
        #{@member.branch.name.upcase}
    %p
      %b
        SA PAMAMAGITAN NG:
      &nbsp;&emsp;&emsp;&emsp;&nbsp;PANGALAN NG KDCI Socioeconomic Officer&emsp;__________________________
    %p
    %p
      %b
        MULA KAY:
      &nbsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;PANGALAN NG KASAPI&emsp;
      %u
        #{@member.full_name}
    %p
    %p
      %b
        SENTRO:&emsp;
        %u
          #{@member.center}
      &emsp;&emsp;&nbsp;&nbsp;&nbsp;
      PETSA:&emsp;________________
  .beneficiary
    %p
      &emsp;Ito po ay may kinalaman sa pagpapatala ng aking bagong benepisyaryo dahil sa &emsp;_____________________________________
    %p
      &emsp;________________________________________________________________________________________________________
    %p
      &emsp;Ang aking benepisyaryoay ang mga sumusunod:
    %table
      %tr
        %th{style: "width: 20%; text-align: center;"} BENEPISYARYO
        %th{style: "width: 30%; text-align: center;"} PANGALAN
        %th{style: "width: 15%; text-align: center;"} KAPANGANAKAN
        %th{style: "width: 10%; text-align: center;"} EDAD
        %th{style: "width: 15%; text-align: center;"} KAUGNAYAN
      - if !@member.beneficiaries.where(is_primary: true).nil?
        - @member.beneficiaries.where(is_primary: true).each do |bene|  
          %tr
            %td{style: "padding: 5px 5px 5px 5px", :height => "40"} PANGUNAHING BENEPISYARYO
            %td{style: "text-align: center;"}= bene.full_name_upcase
            %td{style: "text-align: center;"}= bene.date_of_birth.strftime("%b %d, %Y")
            %td{style: "text-align: center;"}= bene.age
            %td{style: "text-align: center;"}= bene.relationship.try(:upcase)
      %tr
        %td{:rowspan => "3", style: "padding: 5px 5px 5px 5px;"} SEKUNDARYANG BENEPISYARYO
        - if !@member.beneficiaries.where(is_primary: false).present?
          %td{style: "text-align: center;", :height => "30"}N/A
          %td{style: "text-align: center;", :height => "30"}N/A
          %td{style: "text-align: center;", :height => "30"}N/A
          %td{style: "text-align: center;", :height => "30"}N/A
        - else  
          - @member.beneficiaries.where(is_primary: false).each do |bene|
            %td{style: "text-align: center;", :height => "30"}= bene.full_name_upcase
            %td{style: "text-align: center;", :height => "30"}= bene.date_of_birth.strftime("%b %d, %Y")
            %td{style: "text-align: center;", :height => "30"}= bene.age
            %td{style: "text-align: center;", :height => "30"}= bene.relationship.try(:upcase)    
      %tr
        %td{:height => "30"}
        %td{:height => "30"}
        %td{:height => "30"}
        %td{:height => "30"}
      %tr
        %td{:height => "30"}
        %td{:height => "30"}
        %td{:height => "30"}
        %td{:height => "30"}
  .sign
    %center
      %p
        ____________________________
        %br
        LAGDA NG KASAPI
        %br
        PETSA ______________
  .signatories
    %table{:style => "width:100%"}
      %tr
        %td{:width => "33%", :height => "30", style: "text-align: center; padding: 5px 0px 5px 0px;"}
          PROCESSED BY:
          %br
          %br
          ______________________
          %br
          KDCI SOCIOECONOMIC OFFICER
        %td{:width => "33%", :height => "30",style: "text-align: center; padding: 5px 0px 5px 0px;"}
          ENDORSED BY:
          %br
          %br
          ______________________
          %br
          KDCI FIELD MANAGER
        %td{:width => "33%", :height => "30",style: "text-align: center; padding: 5px 0px 5px 0px;"}
          APPROVED BY:
          %br
          %br
            %u
              SILVIDA REYES ANTIQUERA
          KMBA GENERAL MANAGER


