%section.content-header
  %h1 
    Edit Member Resignation 
    %small
      #{@member.full_name} | Type: #{@member_resignation.resignation_type} | Status: #{@member_resignation.status}
  %ol.breadcrumb
    %li{:style => "margin-top: -10px;"}
      = link_to member_path(@member), class: 'btn btn-primary bg-blue' do
        .fa.fa-arrow-left
        Back to Member

%section.content
  = simple_form_for @member_resignation, method: 'POST', url: member_resignation_update_path(member_id: @member.id, member_resignation_id: @member_resignation.id), defaults: { wrapper_html: { class: 'form-group' }, input_html: { class: 'form-control form-submit-loading' } }, html: { multipart: true, novalidate: true } do |f|
    .row
      .col-md-6
        = f.input :date_resigned

    %h3 Loan Balance Payments
    - if @member_resignation.resignation_loan_balances.count > 0
      %table.ui.green.table
        %thead
          %th Loan
          %th Balance
          %th Principal Balance
          %th Interest Balance
          - @savings_types.each do |savings_type|
            %th #{savings_type.code}
          - @insurance_types.each do |insurance_type|
            %th #{insurance_type.code}
        %tbody
          = f.simple_fields_for :resignation_loan_balances do |ff|
            %tr
              %td #{ff.object.loan.loan_product}
              %td #{number_to_currency(ff.object.balance, unit: "P")}
              %td #{number_to_currency(ff.object.principal_balance, unit: "P")}
              %td #{number_to_currency(ff.object.interest_balance, unit: "P")}
              - @savings_types.each do |savings_type|
                %td
                  = ff.simple_fields_for :resignation_loan_balance_payments do |fff|
                    - if fff.object.account_type == "SAVINGS" and fff.object.account_type_code == savings_type.code
                      = fff.input :amount, label: false
              - @insurance_types.each do |insurance_type|
                %td
                  = ff.simple_fields_for :resignation_loan_balance_payments do |fff|
                    - if fff.object.account_type == "INSURANCE" and fff.object.account_type_code == insurance_type.code
                      = fff.input :amount, label: false
    - else
      No loan balances for this member.
    %h3 
      Funds for Withdrawal
    = render partial: "members/components/resignation_withdrawals", locals: { member_resignation: @member_resignation }

    .form-actions
      = button_tag :submit, class: 'btn btn-primary' do
        .fa.fa-check
        Save Record
      = link_to member_resignation_path(@member), class: 'btn btn-default' do
        .fa.fa-times
        Cancel
