%section.content-header
  %h1
    Member Form
    %small Edit Record: #{@member.full_name}
  %ol.breadcrumb
    %li
      = link_to member_path(@member) do
        .fa.fa-user
        #{@member.full_name}
    %li
      = link_to members_path, class: '' do
        .fa.fa-arrow-left
        Back to Members
%section.content
  = render partial: "members/form", locals: { member: @member, branches: @branches, centers: @centers }
