%section.content-header
  %h1 Member Records  
  %ol.breadcrumb
    %li{style: "margin-top: -10px;" }
      = link_to reports_download_member_registry_excel_path, class: 'btn btn-default', target: '_blank' do
        .fa.fa-download
        Download Registry
    %li{:style => "margin-top: -10px;"}
      = link_to new_member_path, class: 'btn btn-primary bg-blue' do
        .fa.fa-plus
        Add Member Transaction

%section.content   
  = render partial: "members/filter"
  - if @members.size > 0
    = render partial: "members/list", locals: { members: @members }
    = paginate(@members)
  - else
    .row
      %p{:style => "margin-top: 10px;"}
        No members found. #{link_to "Create one.", new_member_path}

= render partial: "shared/loading_modal" 

= javascript_include_tag "ui"
= javascript_include_tag "MemberFilter"

:javascript
  $(document).ready(function() {
    MemberFilter.init();
  });
