%section.content-header
  %h1
    Member Form
    %small.label.label-primary
      New Application
  %ol.breadcrumb
    %li
      = link_to members_path, class: '' do
        .fa.fa-arrow-left
        Back to Members

%section.content
  = render partial: "members/form", locals: { member: @member, branches: @branches, centers: @centers }
