<!doctype html>
<html>
 <head>
  <meta charset='utf-8' />
  <%= wicked_pdf_stylesheet_link_tag "members" %>
 </head>
  <body style="">
    <div class="container-fluid">
     <center>
      <div class="row" style="border: 2px solid black;">
       <div class="logok">
          <%= wicked_pdf_image_tag "logo.png" %>
        </div>
        <div class="" style="font-weight: bold; text-align: center; padding-left: 60px; margin-top: -70px; font-size: 1em;">
          KASAGANA-KA Development Center, Inc.
        </div>
        <div style="font-size: 13px; padding-left: 50px;">
         #5 Don francisco St., Don Enrique Hts.,Brgy Holy Spirit, Commonwelath Ave, Q.C <br />
         Telefax: 931-4335
        </div>
        <div style="font-weight: bold; margin-top: 3%;"><%= member.full_name %>'s Personal Information</div>
        <div style="text-align: left; font-size: 14px;">

        <table style="padding: 10px; width: 100%;">
          <tr>
           <th><span style="font-weight: normal">Member Type:</span> <%= member.member_type %> </th>
           <th><span style="font-weight: normal">Center:</span> <%= member.center.name %> </th>
           <th><span style="font-weight: normal">Branch:</span> <%= member.branch %> </th>
          </tr>
        </table>

         <table style="padding: 10px; width: 100%;">
          <tr>
            <th>Address: </th>
            <td><%= member.home_number %> , <%= member.address_street %> <%= member.address_barangay %> <%= member.address_city %></td>
            <th>Religion:</th>
            <td><%= member.religion %></td>
          </tr>
          <tr>
            <th>Gender:</th>
            <td><%= member.gender %></td>
             <th>Civil Status:</th>
            <td><%= member.civil_status %></td>
          </tr>
          <tr>
            <th>Birthday:</th>
            <td><%= member.date_of_birth %></td>
            <th>Occupation:</th>
            <td><%= member.occupation %></td>
          </tr>
          <tr>
            <th>Place of Birth:</th>
            <td><%= member.place_of_birth %></td>
            <th>Occupation Address:</th>
            <td><%= member.occupation_address %></td>
          </tr>
          <tr>
            <th>Age:</th>
            <td><%= member.age %></td>
             <th>SSS Number:</th>
            <td><%= member.sss_number %></td>
          </tr>
           <tr>
            <th>Mobile Number:</th>
            <td><%= member.mobile_number %></td>
            <th>Spouse:</th>
            <td><%= member.spouse_first_name %> <%= member.spouse_middle_name %> <%= member.spouse_last_name %></td>
          </tr>
          <tr>
            <th>Email:</th>
            <td><%= member.email %></td>
            <th>Number of Children:</th>
            <td><%= member.number_of_children %></td>
          </tr>

        </table>
        <div style="text-align: center; font-weight: bold; margin-top: 3%;">BENEFICIARIES</div> 
        <table class="report_table">
          <tr style="text-align: center;">
            <th>Name</th>
            <th>Birthday</th>
            <th>Age</th>
            <th>Relationship</th>
          </tr>
          <% member.beneficiaries.each do |bene| %>
          <tr>
           <td><%= bene.first_name %> <%= bene.middle_name %> <%= bene.last_name %></td>
           <td><%= bene.date_of_birth %></td>
           <td><%= bene.age %></td>
           <td><%= bene.relationship %></td>
          </tr>
          <% end %>
        </table>

        <div style="text-align: center; font-weight: bold; margin-top: 2%;">DEPENDENCIES</div> 
        <table class="report_table">
          <tr style="text-align: center;">
            <th>Name</th>
            <th>Birthday</th>
            <th>Age</th>
          </tr>
          <% member.legal_dependents.each do |bene| %>
          <tr>
           <td><%= bene.first_name %> <%= bene.middle_name %> <%= bene.last_name %></td>
           <td><%= bene.date_of_birth %></td>
           <td><%= bene.age %></td>
          </tr>
          <% end %>
        </table>
        </div>
      </div>
    </center>
    </div>
</body>
</html>
