%section.content-header
  %h1 
    Resignation 
    %small
      #{@member.full_name} | Type: #{@member_resignation.resignation_type} | Status: #{@member_resignation.status}
  %ol.breadcrumb
    %li{:style => "margin-top: -10px;"}
      = link_to member_path(@member), class: 'btn btn-primary bg-blue' do
        .fa.fa-arrow-left
        Back to Member

%section.content   
  - if @member.for_resignation?
    = render partial: "resignation_actions"
  .box
    .box-body
      %table.ui.green.table
        %tbody
          %tr
            %th{width: "20%"}
              Member ID
            %td
              #{@member.identification_number}
          %tr
            %th
              Date of Resignation
            %td
              #{@member_resignation.date_resigned.strftime("%b %d, %Y")}
          - @member.membership_payments.each do |membership_payment|
            %tr
              %th
                #{membership_payment.membership_type} Member Since
              %td
                #{membership_payment.paid_at.strftime("%b %d, %Y")}
          %tr
            %th
              Branch - Center
            %td
              #{@member.branch} - #{@member.center}
          %tr
            %th
              Resignation Type
            %td
              #{@member_resignation.resignation_type.upcase}
          %tr
            %th
              Resignation Particular
            %td
              #{@member_resignation.resignation_type_code}: #{@member_resignation.resignation_type_particular}

      %h3
        Loan Balance Payments
      - if @member_resignation.resignation_loan_balances.size > 0
        = render partial: "members/components/resignation_loan_balances", locals: { member_resignation: @member_resignation }
      - else
        No loan balances for this member.

      %h3
        Initial Funds for Withdrawal 
      = render partial: "members/components/resignation_withdrawals", locals: { member_resignation: @member_resignation }

      - if @voucher_for_loan_payments
        %h3
          Accounting Entry
        = render partial: "shared/voucher", locals: { voucher: @voucher_for_loan_payments }

#parameters{ data: { id: @member_resignation.id, member_id: @member_resignation.member.id } }
= render partial: "members/components/modal_revert_resignation_confirmation"
= render partial: "members/components/modal_approve_resignation"
= render partial: "shared/errors_template"
= javascript_include_tag "MemberResignation"

:javascript
  $(document).ready(function() {
    MemberResignation.init();
  });
