#parameters{ data: { member_id: @member.id, is_editable: @member.is_editable.to_s } }
= render partial: "shared/errors_template"
%section.content-header
  %h1
    Member Profile: #{@member.full_name}
    %span.label.label-primary
      #{@member.member_type}
  %ol.breadcrumb
    %li
      = link_to members_path, class: '' do
        .fa.fa-arrow-left
        Back to Members
    - if @member.active? or @member.pending?
      %li
        = link_to edit_member_path, class: '' do
          .fa.fa-pencil
          Edit Record
%section.content
  - if @member.for_resignation? and !["OAS", "ACC"].include? current_user.role
    .bs-callout.bs-callout-danger
      %p
        This member has been flagged for resignation. Go to #{link_to "resignation requests", request_records_path(request_type: "resignation")} to approve.
    %hr
  = render partial: "account_summary", locals: { member: @member }
  = render partial: "details", locals: { member: @member }


= javascript_include_tag "members/Member.Show"
= javascript_include_tag "members/Show"

:javascript
  $(document).ready(function() {
    Member.Resign.init();
    Member.RevertResignation.init();
    Member.Actions.init();
    Show.init();

    // Balik kasapi code
    var $btnBalikKasapi = $("#btn-balik-kasapi");
    $btnBalikKasapi.on("click", function() {
      member_id = "#{@member.id}";
      member_name = "#{@member.full_name}";

      if (confirm("Balik Kasapi" + " " + member_name + "?" )){
        $.ajax({
          url: "/api/v1/members/resignation/reinstate_member",
          data: {member_id: member_id},
          dataType: 'json',
          method: 'POST',
          success: function(respose){
            toastr.success('Successfully');
            window.location = "/members/" + member_id
        
          },
        
          error: function(response){
            window.alert("something wrong")
          }

        });
      }
      //alert(member_id)
      //window.location = "/loans/" + member_id
      
    });


  });
