<div class="container-fluid">
  <div class="row">
    <h4 style="font-size: 13px;margin-top: 2%;"><%= @time.strftime("%B %d, %Y %H:%M:%S") %></h4>
    <h3><%= @member.first_name %> <%= @member.middle_name %> <%= @member.last_name %>'s Transactions</h3>
  </div> 

  <div class="row">
      <table style="padding: 10px;">
        <tr>
          <th>Account Name: </th>
          <td style="padding: 5px;"><%= @member.first_name %> <%= @member.middle_name %> <%= @member.last_name %></th>
        </tr>
        <tr>
          <th>Account Number: </th>
          <td style="padding: 5px;">1234-6678-5554</th>
        </tr>
        <tr>
          <th>Status:</th>
          <td style="padding: 5px;">Active</th>
        </tr>
         <tr>
          <th>Branch:</th>
          <td style="padding: 5px;">Katipunan</th>
        </tr>
      </table>
  </div>

  <div class="row">
    <table class="table table-bordered" style="margin-top: 1%;">
      <tr>
        <th>Branch</th>
        <th>Check Number</th>
        <th>Transaction Description</th>
        <th>Debit</th>
        <th>Credit</th>
        <th>Running Balance</th>
      </tr>
      <tr>
        <td>Katipunan</td>
        <td>1234-6678-5554</td>
        <td>Check Deposit</td>
        <td>0</td>
        <td>15,000</td>
        <td>16,000</td>
      </tr>
    </table>
  </div>
 


</div>