.ui.grey.segment
  - if ["MIS","SBK"].include? current_user.role 
    = link_to "#", id: 'btn-approve', class: 'btn btn-app bg-green' do
      .fa.fa-check
      Approve
  - else
    - if ["CDB","CRB"].include? @voucher.book
      = link_to "#", id: 'btn-approve', class: 'btn btn-app bg-green' do
        .fa.fa-check
        Approve
  = link_to edit_voucher_path(@voucher), id: 'edit-btn', class: 'btn btn-app' do
    .fa.fa-pencil
    Edit
