.remodal.modal-approve{ data: { remodal_id: "modal-approve" } }
  %h3
    Approve Accounting Entry
  .errors
  .success
  .modal-controls
    %hr
    %button#btn-approve-confirmation.ui.primary.button
      .fa.fa-warning
      Confirm
    %button#btn-cancel-approval.ui.default.button
      .fa.fa-times
      Cancel
