#filter
  = form_tag send("vouchers_path"), method: "GET" do |f|
    .ui.grid
    %table.table.table-responsive.table-bordered
      %tr
        %th
          %label Book
          = select_tag :book_type, options_for_select(Voucher::BOOK_TYPES, @book_type), prompt: "-- SELECT --", class: "form-control select-select2"
        - if Settings.activate_microinsurance
          %th
            %label Accounting Fund
            = select_tag :accounting_fund_id, options_from_collection_for_select(@accounting_funds, :id, :name), class: "form-control select-select2 branch-select", prompt: "-- SELECT --"
        %th
          %label Status
          = select_tag :status, options_for_select(Voucher::STATUSES, @status), prompt: "-- SELECT --", class: "form-control select-select2" 
        %th
          %label Ref Num or OR Num
          = text_field_tag :q, @q, class: "form-control"
        %th
          %label Date Prepared
          .row
            .col-md-6
              = text_field_tag :start_date, @start_date, class: "datepick form-control", placeholder: "Start Date"
            .col-md-6
              = text_field_tag :end_date, @end_date, class: "datepick form-control", placeholder: "End Date"
        %th
          %label Actions
          %br
          .ui.buttons
            = button_tag :filter, class: "btn btn-primary" do
              .fa.fa-search
              Search
