#parameters{ data: { book: voucher.book } }

= simple_nested_form_for voucher, defaults: { wrapper_html: { class: 'form-group' }, input_html: { class: 'form-control' } }, html: { multipart: true, novalidate: true } do |f|
  .well
    .row
      .col-md-4
        = f.input :date_prepared, as: :string, input_html: { class: "datepick form-control", value: f.object.date_prepared.blank? ? ApplicationHelper.current_working_date.strftime("%Y-%m-%d") : f.object.date_prepared.strftime("%Y-%m-%d") }
      .col-md-4
        = f.input :book, as: :select, collection: Voucher::BOOK_TYPES, input_html: { id: "select-book" }
      .col-md-4
        -if Settings.activate_microinsurance
          = f.association :branch, selected: 41, input_html: { class: "form-control select-select2" }
        -else  
          = f.association :branch, input_html: { class: "form-control select-select2" }
    -if Settings.activate_microinsurance
      .row  
        .col-md-12
          = f.association :accounting_fund, input_html: { class: "form-control select-select2" }
    .row
      .col-md-12
        = f.input :payee, input_html: { class: 'form-control' }, :label => "Payee", as: :string
        = f.input :particular

  #or-section
    .row
      .col-md-12
        = f.input :or_number, label: "OR Number", as: :string
  #check-information
    .well
      %h5
        Check Information
      .row
        .col-md-3
          = f.input :name_of_receiver, as: :string
        .col-md-3
          = f.input :check_voucher_number, label: "Voucher Number", as: :string
        .col-md-3
          = f.input :check_number, as: :string
        .col-md-3
          = f.input :date_of_check

  #t-account-section
    %h4
      T-Account
    .well
      .row
        .col-md-3
          %label
            Accounting Code
        .col-md-3
          %label
            Post Type
        .col-md-3
          %label
            Amount
        .col-md-3
          %label
            Actions
      #journal_entries
        = f.simple_fields_for :journal_entries do |journal_entry|
          = render 'journal_entry_fields', f: journal_entry
      = link_to_add_association f, :journal_entries, "data-association-insertion-node" => "#journal_entries", "data-association-insertion-method" => "append", class: "ui grey button" do
        .fa.fa-plus
        Add Journal Entry

    #totals-section.bs-callout.bs-callout-danger
      .row
        .col-md-6
          %h4 Total Debit
          %span#total-debit
        .col-md-6
          %h4 Total Credit
          %span#total-credit


  .form-actions
    = button_tag :submit, class: "btn btn-primary" do
      .fa.fa-check
      Save Transaction
    = link_to vouchers_path, class: "btn btn-default" do
      .fa.fa-times
      Cancel

= javascript_include_tag "accounting/AccountingEntry.Form"

:javascript
  $(document).ready(function() {
    AccountingEntry.Form.init();
  });
