.nested-fields.journal-entry-section.row
  .col-md-3
    = f.association :accounting_code, label: false, label_method: :to_s,input_html: { class: "select-select2 form-control" }
  .col-md-3
    = f.input :post_type, as: :select, collection: JournalEntry::POST_TYPES, label: false, include_blank: false, input_html: { class: "form-control post-type-selection" }
  .col-md-3
    = f.input :amount, label: false, input_html: { class: "form-control amount" }
  .col-md-3
    = link_to_remove_association f, class: "ui red button btn btn-danger" do
      .fa.fa-times
      Remove
