<table class="table table-bordered">
  <tr class="tr_label_loan">
    <th>Account</th>
    <th>Debit(PHP)</th>
    <th>Credit(PHP)</th>
  </tr>
  <% journal_entries.each do |je| %>
    <tr>
      <td><%= je.accounting_code %></td>
      <td><%= number_to_currency(je.amount, unit: "P") if je.post_type == "DR" %></td>
      <td><%= number_to_currency(je.amount, unit: "P") if je.post_type == "CR" %></td>
    </tr>
  <% end %>
</table>
<div class="basicBoxHeader">
  Particulars
</div>
<div class="basicBox">
  <%= voucher.particular %>
</div>
