%table.table-responsive.table-bordered.table{:style => "margin-top: 10px;"}
  %tbody
    %tr
      %th ID
      %th{:width => "5%"}
        #{sortable "book"}
      %th{:width => "10%"}
        #{sortable "date_prepared"}
      - if Settings.activate_microloans
        %th{:width => "12%"} Reference_number
      - if Settings.activate_microinsurance == true  
        %th{:width => "13%"}
          Sub Reference Number
          // #{sortable "sub_reference_number"}
        %th{:width => "15%"}
          Accounting Fund
          // #{sortable "Accounting Fund"}
      %th{:width => "8%"} Check #
      %th{:width => "8%"} CV #
      %th{:width => "8%"}
        OR Number
        // #{sortable "or_number"}
      %th{:width => "10%"} Status
      %th{:width => "15%"} Branch
      %th.accounting-curr{:width => "15%"} Amount
    - @vouchers.each do |v|
      %tr.clickable{ data: { transaction_id: "#{v.id}" } }
        %td #{v.id}
        %td= v.book
        %td= v.date_prepared.strftime("%b %d, %Y")
        - if Settings.activate_microloans
          %td= v.reference_number
        - if Settings.activate_microinsurance == true
          %td= v.sub_reference_number
          %td= v.accounting_fund
        %td= v.check_number if v.cdb?
        %td= v.check_voucher_number if v.cdb?
        %td= v.or_number if v.crb?
        %td= v.status
        %td= v.branch
        %td.curr= number_to_currency(v.total_debit, unit: "P")
