.remodal.modal-reject{ data: { remodal_id: "modal-reject" } }
  %h3
    Reject Accounting Entry
  .errors
  .success
  .modal-controls
    %hr
    %button#btn-reject-confirmation.ui.primary.button
      .fa.fa-warning
      Confirm
    %button#btn-cancel-reject.ui.default.button
      .fa.fa-times
      Cancel
