:css
  @page {
    margin: 0;
  }
    
  .print-text {
    font-size: 1.1em;
    font-family: Arial;
    margin: 12px;
  }

  .date{
    float: right;
    margin-top: -5px;
    margin-right: 60px;
  }

  .payee{
    float: left;
    margin-left: 175px;
  }

  .amount{
    float: right;
    margin-right: 80px;
  }

  .amount-words{
    float: left;
    margin-left: 125px;
    margin-top: 5px; 
  }

.print-text
  .date
    #{@voucher.date_posted.strftime("%B %d, %Y")}
  %br
  %p  
  .payee
    #{@voucher.payee.upcase} 
  .amount
    #{number_with_delimiter(number_with_precision(@voucher.amount, precision: 2), delimiter: ",", separator: ".")}
  %br
  .amount-words
    ***#{@voucher.amount.to_f.to_words.titleize} Only***

