%section.content-header
  %h1 Accounting Entries
  %ol.breadcrumb
    %li
      = link_to new_voucher_path, class: 'btn btn-primary', style: 'color: #fff;' do
        .fa.fa-plus
        Add Accounting Transaction
%section.content
  = render "filter"
  .box
    .box-body
      = render partial: "vouchers/list", locals: { vouchers: @vouchers }
  = paginate @vouchers
  %hr
= javascript_include_tag "AccountingEntries"


:javascript
  $(document).ready(function() {
    AccountingEntries.init();
  });

