%section.content-header
  %h1
    Accounting Entry Form
    %small
      New Record
  %ol.breadcrumb
    %li
      = link_to vouchers_path do
        .fa.fa-arrow-left
        Back to Entries
%section.content
  .ui.green.segment
    = render partial: "vouchers/form", locals: { voucher: @voucher }

= javascript_include_tag "vouchers"
