:css
  .print-text {
    font-size: 1.2em;
    font-family: calibri;
  }

  .print-text-book {
    font-size: 1.4em;
    font-family: calibri;
  }

  .print-text-sub {
    font-size: .9em;
    font-family: calibri;
  }

  table.voucher td.amount{
    text-align: right;
  }

  table.voucher th.amount{
    text-align: right;
  }

  table.voucher td.code{
    text-align: center;
  }

  table.voucher th.header{
    text-align: center;
    text-decoration: underline;
  }

  table.signatories td.overline{
    text-decoration: overline;
  }

  hr {
    border-color: black;
  }

%span.print-text
  %center
    %br
    %br
    %p
      %b
        - if Settings.activate_microinsurance
          #{Settings.company} - KMBA HEAD OFFICE
        - elsif Settings.activate_microloans
          #{Settings.company} - #{@voucher.branch.to_s.upcase}
      %br  
      %b
        #{Settings.company_address}
  - if @voucher.crb?
    %span.print-text-book  
      %center
        %div{:style => "border: 1px solid black; width: 490px; padding: 5px 5px 5px 5px;"}
          %b
            CASH VOUCHER
  - elsif @voucher.jvb?
    %span.print-text-book  
      %center
        %div{:style => "border: 1px solid black; width: 490px; padding: 5px 5px 5px 5px;"}
          %b
            JOURNAL VOUCHER
  - elsif @voucher.cdb?
    %span.print-text-book
      %center
        %div{:style => "border: 1px solid black; width: 490px; padding: 5px 5px 5px 5px;"}
          %b
            CASH DISBURSEMENT
    %br
%left
  %br
  %span.print-text-sub
    %table{:border => "0"}
      %tr
        %th{:width => "17%"} System ID:
        %th{:width => "20%"} #{@voucher.id}
      %tr
        %th{:width => "17%"} Reference No:
        %th{:width => "20%"} #{@voucher.reference_number}
        %th{:width => "18%"} Doc. No:
        - if Settings.activate_microinsurance == true
          %th{:width => "25%"} #{@voucher.sub_reference_number}
        - else
          %th{:width => "20%"} #{@voucher.id}
        - if @voucher.crb?
          %th{:width => "17%"} OR Number:
          %th{:width => "20%"} #{@voucher.or_number}
        - else
          %th{:width => "17%"} Check No:
          %th{:width => "20%"} #{@voucher.check_number}
      %tr
        %th{:width => "17%"} Date Approved:
        %th{:width => "20%"} #{@voucher.date_posted.strftime('%m/%d/%Y') if !@voucher.date_posted.nil?}
        %th{:width => "17%"} Date Requested:
        - if Settings.activate_microinsurance
          %th{:width => "20%"} #{@voucher.date_prepared.strftime('%m/%d/%Y') if !@voucher.date_prepared.nil?}
        - else
          %th{:width => "20%"} #{@voucher.created_at.strftime('%m/%d/%Y') if !@voucher.created_at.nil?}
        %th{:width => "17%"} 
        %th{:width => "20%"} 
      - if @voucher.payee.present?
        %tr
          %th{:width => "17%"} Payee:
          %th{:width => "20%"} #{@voucher.payee if !@voucher.payee.nil?}
    %hr
  %table.voucher{"border:" => "", :none => ""}
    %tr
      %th.header{width: 220} &nbsp;&nbsp;&nbsp;Account Code&nbsp;&nbsp;&nbsp;
      %th.header{width: 450} &emsp;&emsp;&emsp;Account Name&emsp;&emsp;&emsp;
      %th.header{width: 100} 
      %th.header{width: 160} &emsp;&emsp;Debit(PHP)&emsp;&emsp;
      %th.header{width: 160} &emsp;&emsp;Credit(PHP)&emsp;
  
    -  j_entries  = @voucher.journal_entries
    - if !@voucher.new_record?
      - j_entries = j_entries.order_accounting
    - j_entries.each do |journal_entry|
      - if journal_entry.post_type == "DR" and journal_entry.amount > 0
        %tr
          %td.code #{journal_entry.accounting_code.code}
          %td #{journal_entry.accounting_code.name}
          %td
          %td.amount= number_to_currency(journal_entry.amount, unit: "")
          %td      
    - j_entries.each do |journal_entry|
      - if journal_entry.post_type == "CR" and journal_entry.amount > 0
        %tr
          %td.code #{journal_entry.accounting_code.code}
          %td #{journal_entry.accounting_code.name}
          %td
          %td
          %td.amount= number_to_currency(journal_entry.amount, unit: "")
    %tr
      %th
      %th
      %th 
      %th.amount ___________
      %th.amount ___________
    %tr
      %th
      %th
      %th Total 
      %th.amount= number_to_currency(@voucher.total_debit, unit: "")
      %th.amount= number_to_currency(@voucher.total_credit, unit: "")
%center
  %p
    __________________________________________________________
    %br 
    %b
      *** Nothing Follows ***      
%left  
  %hr
  %p
    %b
      Particular:
    #{@voucher.particular}
  %br
  %br  
  %table.signatories{"border:" => "", :none => ""}
    %tr
      %th{width: 255} #{@voucher.prepared_by}
      - if Settings.activate_microinsurance == true
        %th{width: 255} EVELYN LAGMAY
      - elsif Settings.activate_microloans == true 
        %th{width: 255}
      -if Settings.activate_microinsurance == true
        %th{width: 350} #{"SILVIDA ANTIQUERA"}
      -else
        %th{width: 350} #{@voucher.approved_by}
    %tr
      %td.overline &emsp;&emsp;Prepared by:&emsp;&emsp;
      %td.overline &emsp;&emsp;Reviewed by:&emsp;&emsp;
      %td.overline &emsp;&emsp;Approved by:&emsp;&emsp;
  %br
  %br
  %p
    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
    ______________________________________________
    %br
    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
    Recieved By:&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Date:
