.container-fluid
  .row
    .col-md-12
      %center
        %h2
          Voucher - #{@voucher.reference_number} (#{@voucher.master_reference_number})
        %hr
      .row
        .col-md-12
          = render partial: "vouchers/details", locals: { voucher: @voucher }
      .row
        .col-md-12
          = render partial: "shared/voucher", locals: { voucher: @voucher }
