#parameters{ data: { voucher_id: @voucher.id } }

%section.content-header
  %h1
    #{@voucher.book} Entry
    %small
      #{@voucher.reference_number}
      %span{ class: " label label-#{@voucher.status == "pending" ? 'danger' : 'success'}" }
        #{@voucher.status}
  %ol.breadcrumb
    %li
      = link_to vouchers_path do
        .fa.fa-arrow-left
        Back to Entries
%section.content
  - if @voucher.pending?
    = render partial: "actions", locals: { voucher: @voucher }
  .ui.one.column.grid
    .column
      = render partial: "shared/voucher", locals: { voucher: @voucher }
  - if @voucher.pending?
    .bs-callout.bs-callout-danger
      %h3
        .fa.fa-warning
        Danger Zone
      = link_to "#", id: 'btn-reject', class: 'btn btn-app bg-red' do
        .fa.fa-times
        Reject
      
= render partial: "approve_modal"
= render partial: "reject_modal"
= render partial: "shared/errors_template"
= render partial: "shared/success_template"
= render partial: "shared/errors"
= javascript_include_tag "voucher"

:javascript
  $(document).ready(function() {
    voucher.init();
  });
