%table.table.table-bordered.table-responsive
  %thead
    %tr
      - if current_user.role == "MIS"
        %th ID
      %th Date
      %th Beginning Balance
      %th Amount
      %th Type
      %th Status
      %th Ending Balance
  %tbody
    - equity_account_transactions.each do |t|
      %tr{class: "#{tr_status(t.status)}"}
        - if current_user.role == "MIS"
          %td #{t.id}
        %td.date #{t.transacted_at.strftime("%d-%B-%Y")}
        %td #{number_to_currency(t.beginning_balance, unit: "P")}
        %td.amount #{number_to_currency(t.amount, unit: "P")}
        %td.type #{t.transaction_type}
        %td 
          #{t.status}
          - if t.is_adjustment == true
            .label.label-danger
              ADJUSTMENT
        %td #{number_to_currency(t.ending_balance, unit: "P")}

= paginate equity_account_transactions
