.row
  .col-md-4
    .box
      .box-body
        %label
          Equity Type:
        %br
        #{equity_account.equity_type}
  .col-md-4
    .box
      .box-body
        %label
          Location:
        %br
        #{equity_account.center}, #{equity_account.branch}
  .col-md-4
    .box
      .box-body
        %label
          Current Balance:
        %br
        #{number_to_currency(equity_account.balance, unit: "P")}
