.preview
  .basicBox
    .profile-details
      .name
        #{equity_account.account_number}
        %small
          = equity_account.member
      %ul
        %li
          %label
            .fa.fa-plus-square
            Equity Type:
          = equity_account.equity_type
        %li
          %label
            .fa.fa-building-o
            Branch:
          = equity_account.branch
        %li
          %label
            .fa.fa-money
            Balance:
          = number_to_currency(equity_account.balance, unit: "P")
        %li
          = link_to equity_account_path(equity_account), class: "btn btn-default btn-xs" do
            .fa.fa-search
            Details
          = link_to edit_equity_account_path(equity_account), class: "btn btn-default btn-xs" do
            .fa.fa-pencil
            Edit

