= simple_form_for @equity_account, defaults: { wrapper_html: { class: 'form-group' }, input_html: { class: 'form-control' } }, html: { multipart: true, novalidate: true } do |f|
  .row{:style => "margin-top: 1%;"}
    .col-md-12
      - if @equity_account.new_record?
        = f.association :member, input_html: { class: "form-control select-select2" }
      - else
        %h3
          = @equity_account.member
          %small
            = @equity_account.equity_type
      = f.input :account_number, label: "Account Number"
      - if @equity_account.new_record?
        = f.association :equity_type, input_html: { class: "form-control select-select2" } 
  .row
    .col-md-12
      .form-actions
        = f.submit "Save Account", class: "btn btn-primary"
        = link_to equity_accounts_path, class: 'btn btn-default' do
          .fa.fa-arrow-left
          Back to Equity Accounts
