%table.ui.green.small.table
  %thead
    %tr
      %th Member
      %th Account Number
      %th Type
      %th Branch
      %th Center
      %th Balance
      %th Actions
    - equity_accounts.each do |equity_account|
      %tr
        - if equity_account.member.nil?
          %td [Member Deleted. Please contact administrator.]
        - else
          %td= link_to equity_account.member, member_path(equity_account.member), target: "_blank"
        %td= equity_account.account_number
        %td= equity_account.equity_type
        %td= equity_account.branch
        %td= equity_account.center
        %td= number_to_currency(equity_account.balance, unit: "P")
        %td
          = link_to equity_account_path(equity_account), class: "ui default button" do
            .fa.fa-search
            Details
%hr
= paginate equity_accounts
