.container-fluid
  .row
    .col-md-12
      .panel.panel-default
        .panel-heading
          Edit Equity Account
          .listHeaderActions
            - if !@equity_account.new_record?
              = link_to member_path(@equity_account.member), class: "btn btn-default btn-xs", target: "_blank" do
                .fa.fa-user
                Member Profile
            = link_to equity_accounts_path, class: "btn btn-default btn-xs" do
              .fa.fa-arrow-left
              Back to Equity Accounts
        .panel.body
          = render partial: "equity_accounts/form"
