%section.content-header
  %h1
    Equity Accounts
    %small
      List
%section.content
  = render partial: "filter"
  = render partial: "list", locals: { equity_accounts: @equity_accounts }
= javascript_include_tag "ui"
