.container-fluid
  .row
    .col-md-12
      .panel.panel-default
        .panel-heading
          New Equity Account
          .listHeaderActions{:style => "margin-top: -5px;"}
            - if !@equity_account.new_record?
              = link_to member_path(@equity_account.member), class: "large ui teal button", target: "_blank" do
                .fa.fa-user
                Member Profile
            = link_to equity_accounts_path, class: "large ui teal button" do
              .fa.fa-arrow-left
              Back to Equity Accounts
        .panel.body
          = render partial: "equity_accounts/form"
