%section.content-header
  %h1
    Equity Account
    %small
      #{link_to @equity_account.member.full_name, member_path(@equity_account.member), target: "_blank"}
      %span
        .label.label-info
          #{@equity_account.equity_type}
    %small
      = link_to equity_accounts_pdf_path(@equity_account), target: "_blank", class: "btn" do
        .fa.fa-print
        Print Subsidiary to PDF
 

%section.content 
  = render partial: "equity_accounts/details", locals: { equity_account: @equity_account }
  .box
    .box-body
      = render partial: "account_transactions", locals: { equity_account_transactions: @equity_account_transactions }
